<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>guanban1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{115,111}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{225,242},{115,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guanban2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{42,42}</string>
<key>spriteSourceSize</key>
<string>{48,48}</string>
<key>textureRect</key>
<string>{{342,242},{42,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,34}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{342,286},{34,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guanxian_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{221,349}</string>
<key>spriteSourceSize</key>
<string>{269,355}</string>
<key>textureRect</key>
<string>{{2,2},{221,349}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>quan_1_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{238,246}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{225,2},{238,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XJ_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XJ_UI.png</string>
</dict>
</dict>
</plist>