<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_jiangdimingzhong_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,45}</string>
<key>spriteSize</key>
<string>{73,74}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{424,253},{73,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,38}</string>
<key>spriteSize</key>
<string>{79,94}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{406,172},{79,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,38}</string>
<key>spriteSize</key>
<string>{81,94}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{144,406},{81,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{91,110}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{294,172},{91,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{91,110}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{227,405},{91,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{99,126}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{113,278},{99,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,22}</string>
<key>spriteSize</key>
<string>{101,126}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{214,277},{101,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,23}</string>
<key>spriteSize</key>
<string>{105,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{339,391},{105,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,23}</string>
<key>spriteSize</key>
<string>{105,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{317,265},{105,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,19}</string>
<key>spriteSize</key>
<string>{109,130}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{366,2},{109,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,23}</string>
<key>spriteSize</key>
<string>{109,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{168,166},{109,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{111,134}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{113,2},{111,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,17}</string>
<key>spriteSize</key>
<string>{109,132}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,284},{109,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,13}</string>
<key>spriteSize</key>
<string>{109,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,2},{109,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,14}</string>
<key>spriteSize</key>
<string>{105,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{226,2},{105,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,13}</string>
<key>spriteSize</key>
<string>{105,140}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,142},{105,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdimingzhong_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,11}</string>
<key>spriteSize</key>
<string>{67,140}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,418},{67,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,11}</string>
<key>spriteSize</key>
<string>{55,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{226,109},{55,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,9}</string>
<key>spriteSize</key>
<string>{57,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{366,113},{57,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdimingzhong_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,7}</string>
<key>spriteSize</key>
<string>{57,134}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{109,142},{57,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_jiangdimingzhong.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_jiangdimingzhong.png</string>
</dict>
</dict>
</plist>