<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7009_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,63}</string>
<key>spriteSize</key>
<string>{146,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,138},{146,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,64}</string>
<key>spriteSize</key>
<string>{148,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,186},{148,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,65}</string>
<key>spriteSize</key>
<string>{152,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{152,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,71}</string>
<key>spriteSize</key>
<string>{138,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,508},{138,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,75}</string>
<key>spriteSize</key>
<string>{104,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,636},{104,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,77}</string>
<key>spriteSize</key>
<string>{90,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,734},{90,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,72}</string>
<key>spriteSize</key>
<string>{114,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{908,146},{114,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,68}</string>
<key>spriteSize</key>
<string>{142,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,278},{142,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,68}</string>
<key>spriteSize</key>
<string>{100,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,966},{100,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,68}</string>
<key>spriteSize</key>
<string>{100,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,978},{100,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{108,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,1068},{108,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,74}</string>
<key>spriteSize</key>
<string>{108,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,788},{108,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,77}</string>
<key>spriteSize</key>
<string>{94,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,438},{94,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,76}</string>
<key>spriteSize</key>
<string>{94,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,404},{94,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,71}</string>
<key>spriteSize</key>
<string>{98,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,640},{98,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,70}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,892},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,68}</string>
<key>spriteSize</key>
<string>{68,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,534},{68,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,69}</string>
<key>spriteSize</key>
<string>{72,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,642},{72,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,69}</string>
<key>spriteSize</key>
<string>{64,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,738},{64,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,71}</string>
<key>spriteSize</key>
<string>{62,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,640},{62,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,74}</string>
<key>spriteSize</key>
<string>{74,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,306},{74,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,74}</string>
<key>spriteSize</key>
<string>{78,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,562},{78,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,72}</string>
<key>spriteSize</key>
<string>{70,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,776},{70,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,69}</string>
<key>spriteSize</key>
<string>{70,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,716},{70,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,65}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,396},{110,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,64}</string>
<key>spriteSize</key>
<string>{112,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,324},{112,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,63}</string>
<key>spriteSize</key>
<string>{110,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,2},{110,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,64}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,294},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,67}</string>
<key>spriteSize</key>
<string>{88,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,70},{88,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,66}</string>
<key>spriteSize</key>
<string>{90,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,232},{90,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,64}</string>
<key>spriteSize</key>
<string>{90,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,740},{90,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,64}</string>
<key>spriteSize</key>
<string>{104,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,742},{104,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{144,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,266},{144,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,59}</string>
<key>spriteSize</key>
<string>{142,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,382},{142,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{150,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,2},{150,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{148,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,2},{148,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{120,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,144},{120,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,61}</string>
<key>spriteSize</key>
<string>{104,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,280},{104,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,59}</string>
<key>spriteSize</key>
<string>{128,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,604},{128,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{148,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,160},{148,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,61}</string>
<key>spriteSize</key>
<string>{136,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,650},{136,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,60}</string>
<key>spriteSize</key>
<string>{116,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,1008},{116,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,66}</string>
<key>spriteSize</key>
<string>{58,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{950,898},{58,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{66,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,824},{66,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,61}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,1022},{82,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,58}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1206},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,62}</string>
<key>spriteSize</key>
<string>{64,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,880},{64,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,69}</string>
<key>spriteSize</key>
<string>{62,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,586},{62,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,66}</string>
<key>spriteSize</key>
<string>{92,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,998},{92,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,64}</string>
<key>spriteSize</key>
<string>{68,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1136},{68,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,61}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,826},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,61}</string>
<key>spriteSize</key>
<string>{116,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{748,398},{116,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,1178},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{90,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,1092},{90,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,60}</string>
<key>spriteSize</key>
<string>{122,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,898},{122,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{92,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,832},{92,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,66}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,804},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,61}</string>
<key>spriteSize</key>
<string>{94,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1040},{94,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{138,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,500},{138,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{148,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,140},{148,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,52}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,946},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,56}</string>
<key>spriteSize</key>
<string>{76,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,1080},{76,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,64}</string>
<key>spriteSize</key>
<string>{128,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,848},{128,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,65}</string>
<key>spriteSize</key>
<string>{142,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{754,268},{142,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,60}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,386},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{138,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{890,422},{138,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,59}</string>
<key>spriteSize</key>
<string>{134,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,96},{134,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,55}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,2},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{116,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,848},{116,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,48}</string>
<key>spriteSize</key>
<string>{104,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,902},{104,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{84,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,516},{84,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,64}</string>
<key>spriteSize</key>
<string>{118,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,704},{118,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{134,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,602},{134,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,60}</string>
<key>spriteSize</key>
<string>{118,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,520},{118,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,62}</string>
<key>spriteSize</key>
<string>{66,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,70},{66,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,58}</string>
<key>spriteSize</key>
<string>{66,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,2},{66,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,51}</string>
<key>spriteSize</key>
<string>{84,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,500},{84,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,47}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,926},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,59}</string>
<key>spriteSize</key>
<string>{66,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,2},{66,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,61}</string>
<key>spriteSize</key>
<string>{62,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,122},{62,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7009.png</string>
</dict>
</dict>
</plist>