<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7009_baodian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{87,86}</string>
<key>spriteSourceSize</key>
<string>{95,100}</string>
<key>textureRect</key>
<string>{{419,425},{87,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baodian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{93,96}</string>
<key>spriteSourceSize</key>
<string>{95,100}</string>
<key>textureRect</key>
<string>{{417,513},{93,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baodian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,100}</string>
<key>spriteSourceSize</key>
<string>{95,100}</string>
<key>textureRect</key>
<string>{{409,611},{95,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{73,70}</string>
<key>spriteSourceSize</key>
<string>{95,100}</string>
<key>textureRect</key>
<string>{{429,353},{73,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-14}</string>
<key>spriteSize</key>
<string>{70,52}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{451,708},{70,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_baokai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,0}</string>
<key>spriteSize</key>
<string>{160,80}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{2,2},{160,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{148,90}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{2,84},{148,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-11}</string>
<key>spriteSize</key>
<string>{120,84}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{295,508},{120,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{116,84}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{124,567},{116,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{114,70}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{293,594},{114,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_baokai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{120,72}</string>
<key>spriteSourceSize</key>
<string>{184,110}</string>
<key>textureRect</key>
<string>{{124,493},{120,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_chibang_95.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,-18}</string>
<key>spriteSize</key>
<string>{129,91}</string>
<key>spriteSourceSize</key>
<string>{185,145}</string>
<key>textureRect</key>
<string>{{134,283},{129,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_dilie_70.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{108,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{242,598},{108,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{73,68}</string>
<key>spriteSourceSize</key>
<string>{73,74}</string>
<key>textureRect</key>
<string>{{376,708},{73,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_juji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,9}</string>
<key>spriteSize</key>
<string>{79,45}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{459,214},{79,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_juji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,11}</string>
<key>spriteSize</key>
<string>{99,45}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{461,113},{99,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_juji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,11}</string>
<key>spriteSize</key>
<string>{95,53}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{279,666},{95,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_juji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,11}</string>
<key>spriteSize</key>
<string>{95,53}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{118,653},{95,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_juji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,11}</string>
<key>spriteSize</key>
<string>{93,43}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{252,376},{93,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_juji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,14}</string>
<key>spriteSize</key>
<string>{67,45}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{246,529},{67,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_juji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{47,41}</string>
<key>spriteSourceSize</key>
<string>{177,113}</string>
<key>textureRect</key>
<string>{{461,70},{47,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_shifa_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,22}</string>
<key>spriteSize</key>
<string>{56,77}</string>
<key>spriteSourceSize</key>
<string>{178,183}</string>
<key>textureRect</key>
<string>{{429,295},{56,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_shifa_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-4}</string>
<key>spriteSize</key>
<string>{132,143}</string>
<key>spriteSourceSize</key>
<string>{178,183}</string>
<key>textureRect</key>
<string>{{152,149},{132,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_shifa_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-3}</string>
<key>spriteSize</key>
<string>{128,145}</string>
<key>spriteSourceSize</key>
<string>{178,183}</string>
<key>textureRect</key>
<string>{{314,2},{128,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_shifa_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{148,145}</string>
<key>spriteSourceSize</key>
<string>{178,183}</string>
<key>textureRect</key>
<string>{{164,2},{148,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_shifa_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{142,143}</string>
<key>spriteSourceSize</key>
<string>{178,183}</string>
<key>textureRect</key>
<string>{{314,132},{142,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_tuowei_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,15}</string>
<key>spriteSize</key>
<string>{66,47}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{461,2},{66,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_tuowei_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{124,115}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{2,367},{124,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{130,121}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{2,176},{130,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{130,119}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{297,276},{130,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{120,109}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{297,397},{120,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-8}</string>
<key>spriteSize</key>
<string>{122,115}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{128,376},{122,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-9}</string>
<key>spriteSize</key>
<string>{120,113}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{2,484},{120,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_tuowei_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-11}</string>
<key>spriteSize</key>
<string>{114,109}</string>
<key>spriteSourceSize</key>
<string>{164,167}</string>
<key>textureRect</key>
<string>{{2,599},{114,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_yuan_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{66,125}</string>
<key>spriteSourceSize</key>
<string>{108,131}</string>
<key>textureRect</key>
<string>{{2,299},{66,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_yumao_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,41}</string>
<key>spriteSourceSize</key>
<string>{58,47}</string>
<key>textureRect</key>
<string>{{252,471},{56,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_yumao_96.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,20}</string>
<key>spriteSourceSize</key>
<string>{36,20}</string>
<key>textureRect</key>
<string>{{265,283},{36,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7009_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7009_skill_4.png</string>
</dict>
</dict>
</plist>