<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7009_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,64}</string>
<key>spriteSize</key>
<string>{94,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{66,610},{94,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,70}</string>
<key>spriteSize</key>
<string>{114,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{114,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,6}</string>
<key>spriteSize</key>
<string>{140,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,610},{140,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{92,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,582},{92,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,58}</string>
<key>spriteSize</key>
<string>{106,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,664},{106,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,53}</string>
<key>spriteSize</key>
<string>{112,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,748},{112,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,69}</string>
<key>spriteSize</key>
<string>{72,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,608},{72,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,72}</string>
<key>spriteSize</key>
<string>{78,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,584},{78,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,73}</string>
<key>spriteSize</key>
<string>{78,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,280},{78,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,76}</string>
<key>spriteSize</key>
<string>{96,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,886},{96,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,75}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,446},{98,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,73}</string>
<key>spriteSize</key>
<string>{94,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,722},{94,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,70}</string>
<key>spriteSize</key>
<string>{94,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,144},{94,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,69}</string>
<key>spriteSize</key>
<string>{84,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,718},{84,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,68}</string>
<key>spriteSize</key>
<string>{82,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,2},{82,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,66}</string>
<key>spriteSize</key>
<string>{72,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,408},{72,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,61}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,858},{90,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,62}</string>
<key>spriteSize</key>
<string>{130,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,164},{130,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,58}</string>
<key>spriteSize</key>
<string>{86,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,130},{86,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,61}</string>
<key>spriteSize</key>
<string>{84,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,2},{84,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,63}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,278},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,69}</string>
<key>spriteSize</key>
<string>{106,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,752},{106,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,68}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,144},{90,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,67}</string>
<key>spriteSize</key>
<string>{86,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,750},{86,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,124}</string>
<key>spriteSize</key>
<string>{90,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,2},{90,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,112}</string>
<key>spriteSize</key>
<string>{84,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,446},{84,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,114}</string>
<key>spriteSize</key>
<string>{116,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,2},{116,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,111}</string>
<key>spriteSize</key>
<string>{84,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,536},{84,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,125}</string>
<key>spriteSize</key>
<string>{100,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,892},{100,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,126}</string>
<key>spriteSize</key>
<string>{82,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,308},{82,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,122}</string>
<key>spriteSize</key>
<string>{78,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,892},{78,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,114}</string>
<key>spriteSize</key>
<string>{90,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,322},{90,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,123}</string>
<key>spriteSize</key>
<string>{118,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,890},{118,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,116}</string>
<key>spriteSize</key>
<string>{92,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,266},{92,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,109}</string>
<key>spriteSize</key>
<string>{118,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,536},{118,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,105}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,136},{128,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,104}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,390},{108,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,120}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,252},{112,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,112}</string>
<key>spriteSize</key>
<string>{126,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,2},{126,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,102}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,124},{84,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,94}</string>
<key>spriteSize</key>
<string>{86,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,408},{86,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,77}</string>
<key>spriteSize</key>
<string>{82,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,468},{82,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,68}</string>
<key>spriteSize</key>
<string>{86,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,468},{86,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{84,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{94,308},{84,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009_skills_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{80,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,164},{80,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_7009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_7009.png</string>
</dict>
</dict>
</plist>