<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,40}</string>
<key>spriteSize</key>
<string>{72,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{72,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-55,33}</string>
<key>spriteSize</key>
<string>{76,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,594},{76,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-62,17}</string>
<key>spriteSize</key>
<string>{90,56}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,102},{90,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,376},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,46}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,2},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,40}</string>
<key>spriteSize</key>
<string>{70,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,542},{70,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{82,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,350},{82,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{84,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,172},{84,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{86,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,158},{86,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,82},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,280},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,258},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,46}</string>
<key>spriteSize</key>
<string>{86,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,116},{86,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{84,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,270},{84,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,48}</string>
<key>spriteSize</key>
<string>{74,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,204},{74,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{98,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,246},{98,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,2},{78,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{80,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,76},{80,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,42}</string>
<key>spriteSize</key>
<string>{88,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,356},{88,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,42}</string>
<key>spriteSize</key>
<string>{72,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,434},{72,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,43}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,436},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{76,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,2},{76,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,44}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,372},{78,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,42}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,608},{72,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{76,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,548},{76,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,43}</string>
<key>spriteSize</key>
<string>{86,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,530},{86,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,42}</string>
<key>spriteSize</key>
<string>{84,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,508},{84,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{48,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,66},{48,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{62,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,2},{62,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,40}</string>
<key>spriteSize</key>
<string>{80,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,194},{80,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,458},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,46}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,446},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,346},{88,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,512},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{96,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,452},{96,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{100,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,172},{100,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,276},{96,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,46}</string>
<key>spriteSize</key>
<string>{90,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,80},{90,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_4005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_4005.png</string>
</dict>
</dict>
</plist>