<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4005_fazheng_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{222,224}</string>
<key>spriteSourceSize</key>
<string>{242,238}</string>
<key>textureRect</key>
<string>{{2,2},{222,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005_fazheng_02_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{181,180}</string>
<key>spriteSourceSize</key>
<string>{183,180}</string>
<key>textureRect</key>
<string>{{2,228},{181,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_hulitou2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{137,128}</string>
<key>spriteSourceSize</key>
<string>{143,130}</string>
<key>textureRect</key>
<string>{{267,368},{137,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005_hulitou_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{138,128}</string>
<key>spriteSourceSize</key>
<string>{140,130}</string>
<key>textureRect</key>
<string>{{184,228},{138,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4005_shifa_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-58}</string>
<key>spriteSize</key>
<string>{59,37}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{226,168},{59,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-56}</string>
<key>spriteSize</key>
<string>{81,41}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{184,368},{81,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-48}</string>
<key>spriteSize</key>
<string>{95,57}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{85,411},{95,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4005_shifa_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-37}</string>
<key>spriteSize</key>
<string>{109,75}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{397,91},{109,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-26}</string>
<key>spriteSize</key>
<string>{115,91}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{144,411},{115,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-17}</string>
<key>spriteSize</key>
<string>{111,87}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{397,2},{111,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-5}</string>
<key>spriteSize</key>
<string>{99,81}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{2,411},{99,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4005_shifa_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{79,71}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{314,2},{79,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4005_shifa_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,19}</string>
<key>spriteSize</key>
<string>{61,37}</string>
<key>spriteSourceSize</key>
<string>{145,159}</string>
<key>textureRect</key>
<string>{{314,75},{61,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_4005_skills_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_4005_skills_4.png</string>
</dict>
</dict>
</plist>