<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZhuangBei_kuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-13}</string>
<key>spriteSize</key>
<string>{105,102}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{131,128},{105,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuangBei_kuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-17}</string>
<key>spriteSize</key>
<string>{95,96}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{372,226},{95,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_kuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{127,126}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{2,2},{127,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_kuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{125,126}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{2,130},{125,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_kuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{125,124}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{131,2},{125,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_kuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,7}</string>
<key>spriteSize</key>
<string>{113,112}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{377,2},{113,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_tiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,-38}</string>
<key>spriteSize</key>
<string>{43,42}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{2,258},{43,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_tiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-18}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{219,235},{81,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_tiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-5}</string>
<key>spriteSize</key>
<string>{111,108}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{377,116},{111,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_tiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{117,118}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{258,2},{117,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuangBei_tiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{111,112}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{258,122},{111,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuangBei_tiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,14}</string>
<key>spriteSize</key>
<string>{87,88}</string>
<key>spriteSourceSize</key>
<string>{139,142}</string>
<key>textureRect</key>
<string>{{129,235},{87,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhuangBei_pinzhi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhuangBei_pinzhi.png</string>
</dict>
</dict>
</plist>