<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5006_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,39}</string>
<key>spriteSize</key>
<string>{106,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,718},{106,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,40}</string>
<key>spriteSize</key>
<string>{104,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,834},{104,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,40}</string>
<key>spriteSize</key>
<string>{102,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,1016},{102,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,39}</string>
<key>spriteSize</key>
<string>{100,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1006},{100,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,38}</string>
<key>spriteSize</key>
<string>{100,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,990},{100,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,37}</string>
<key>spriteSize</key>
<string>{106,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,726},{106,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,37}</string>
<key>spriteSize</key>
<string>{108,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,540},{108,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,36}</string>
<key>spriteSize</key>
<string>{106,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,632},{106,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,37}</string>
<key>spriteSize</key>
<string>{110,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{586,524},{110,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,38}</string>
<key>spriteSize</key>
<string>{108,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,638},{108,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,35}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,720},{92,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,37}</string>
<key>spriteSize</key>
<string>{94,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,922},{94,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,37}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,916},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,36}</string>
<key>spriteSize</key>
<string>{98,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,890},{98,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,908},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,31}</string>
<key>spriteSize</key>
<string>{96,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,818},{96,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,30}</string>
<key>spriteSize</key>
<string>{96,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,818},{96,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,30}</string>
<key>spriteSize</key>
<string>{96,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,736},{96,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{224,722},{94,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,698},{94,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,39}</string>
<key>spriteSize</key>
<string>{108,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,708},{108,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{110,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,508},{110,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{114,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,402},{114,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,40}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,296},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,37}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,2},{116,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,106},{118,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{114,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,320},{114,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,492},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{108,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,592},{108,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,38}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,322},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,46}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,214},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,47}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,380},{116,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,46}</string>
<key>spriteSize</key>
<string>{118,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,190},{118,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,46}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,216},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,45}</string>
<key>spriteSize</key>
<string>{116,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{116,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,44}</string>
<key>spriteSize</key>
<string>{116,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,220},{116,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,43}</string>
<key>spriteSize</key>
<string>{116,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,388},{116,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,44}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,114},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,45}</string>
<key>spriteSize</key>
<string>{116,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,330},{116,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,46}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,110},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,50}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,794},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,50}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,720},{92,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,814},{88,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,50}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,432},{88,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,49}</string>
<key>spriteSize</key>
<string>{94,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,904},{94,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,48}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,1014},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,48}</string>
<key>spriteSize</key>
<string>{100,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{890,912},{100,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,48}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,1000},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,48}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,916},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,49}</string>
<key>spriteSize</key>
<string>{96,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{892,814},{96,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,36}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,104},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,49}</string>
<key>spriteSize</key>
<string>{62,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,102},{62,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,47}</string>
<key>spriteSize</key>
<string>{94,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,910},{94,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,31}</string>
<key>spriteSize</key>
<string>{110,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,540},{110,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,30}</string>
<key>spriteSize</key>
<string>{74,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,1080},{74,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,31}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,1014},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,34}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,514},{82,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,38}</string>
<key>spriteSize</key>
<string>{108,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,620},{108,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,42}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,426},{112,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,218},{110,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,50}</string>
<key>spriteSize</key>
<string>{104,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,612},{104,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,48}</string>
<key>spriteSize</key>
<string>{126,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,2},{126,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,38}</string>
<key>spriteSize</key>
<string>{132,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,2},{132,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,33}</string>
<key>spriteSize</key>
<string>{96,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,416},{96,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,33}</string>
<key>spriteSize</key>
<string>{98,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,316},{98,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,36}</string>
<key>spriteSize</key>
<string>{124,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,98},{124,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,39}</string>
<key>spriteSize</key>
<string>{122,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,188},{122,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,41}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,544},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,49}</string>
<key>spriteSize</key>
<string>{102,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,604},{102,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,50}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,266},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,48}</string>
<key>spriteSize</key>
<string>{98,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,528},{98,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,44}</string>
<key>spriteSize</key>
<string>{144,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,2},{144,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{152,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{152,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,37}</string>
<key>spriteSize</key>
<string>{148,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,84},{148,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{138,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,172},{138,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,38}</string>
<key>spriteSize</key>
<string>{90,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,628},{90,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{104,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,434},{104,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,50}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,430},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,49}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,616},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,49}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,646},{74,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,47}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,280},{116,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,39}</string>
<key>spriteSize</key>
<string>{150,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,2},{150,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,41}</string>
<key>spriteSize</key>
<string>{138,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,92},{138,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{94,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,932},{94,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{100,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,702},{100,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{118,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,2},{118,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,52}</string>
<key>spriteSize</key>
<string>{110,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,432},{110,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,208},{60,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,322},{88,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,816},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,1006},{72,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,47}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,2},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,818},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,49}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,322},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,51}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,804},{104,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5006.png</string>
</dict>
</dict>
</plist>