<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6007_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,7}</string>
<key>spriteSize</key>
<string>{142,134}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{358,186},{142,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{156,136}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{142,330},{156,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6007_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,4}</string>
<key>spriteSize</key>
<string>{162,138}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{2,330},{162,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6007_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{170,138}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{186,178},{170,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-9}</string>
<key>spriteSize</key>
<string>{182,124}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{2,116},{182,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{182,126}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{378,2},{182,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6007_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-6}</string>
<key>spriteSize</key>
<string>{182,130}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{194,2},{182,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-15}</string>
<key>spriteSize</key>
<string>{190,112}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{2,2},{190,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-26}</string>
<key>spriteSize</key>
<string>{164,86}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{2,242},{164,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6007_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{174,42}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{186,134},{174,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6007_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6007_skill_2.png</string>
</dict>
</dict>
</plist>