<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9003_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,131}</string>
<key>spriteSize</key>
<string>{238,284}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{540,1622},{238,284}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,93}</string>
<key>spriteSize</key>
<string>{288,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1496},{288,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,34}</string>
<key>spriteSize</key>
<string>{288,140}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{876,1094},{288,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,113}</string>
<key>spriteSize</key>
<string>{252,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{250,1640},{252,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,116}</string>
<key>spriteSize</key>
<string>{222,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{780,1622},{222,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,125}</string>
<key>spriteSize</key>
<string>{252,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1202},{252,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,117}</string>
<key>spriteSize</key>
<string>{298,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{604,824},{298,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,116}</string>
<key>spriteSize</key>
<string>{300,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{266,830},{300,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,114}</string>
<key>spriteSize</key>
<string>{304,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,896},{304,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,113}</string>
<key>spriteSize</key>
<string>{306,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{568,1094},{306,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,114}</string>
<key>spriteSize</key>
<string>{306,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,588},{306,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,115}</string>
<key>spriteSize</key>
<string>{304,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{298,564},{304,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,117}</string>
<key>spriteSize</key>
<string>{300,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{626,554},{300,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,132}</string>
<key>spriteSize</key>
<string>{280,280}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{266,1098},{280,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,133}</string>
<key>spriteSize</key>
<string>{258,282}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{256,1380},{258,282}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,136}</string>
<key>spriteSize</key>
<string>{264,288}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{548,1356},{264,288}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,130}</string>
<key>spriteSize</key>
<string>{336,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{334,2},{336,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,105}</string>
<key>spriteSize</key>
<string>{330,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{330,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,125}</string>
<key>spriteSize</key>
<string>{324,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{672,2},{324,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,133}</string>
<key>spriteSize</key>
<string>{304,282}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{672,270},{304,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9003_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,137}</string>
<key>spriteSize</key>
<string>{282,290}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{334,280},{282,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9003_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,126}</string>
<key>spriteSize</key>
<string>{294,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,310},{294,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9003.png</string>
</dict>
</dict>
</plist>