<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HLW2_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{167,118}</string>
<key>spriteSourceSize</key>
<string>{167,118}</string>
<key>textureRect</key>
<string>{{341,156},{167,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,74}</string>
<key>spriteSourceSize</key>
<string>{84,74}</string>
<key>textureRect</key>
<string>{{460,832},{84,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,63}</string>
<key>spriteSourceSize</key>
<string>{75,63}</string>
<key>textureRect</key>
<string>{{941,76},{75,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{166,151}</string>
<key>spriteSourceSize</key>
<string>{166,151}</string>
<key>textureRect</key>
<string>{{712,127},{166,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW2_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{169,87}</string>
<key>spriteSourceSize</key>
<string>{169,87}</string>
<key>textureRect</key>
<string>{{510,193},{169,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW2_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,58}</string>
<key>spriteSourceSize</key>
<string>{84,58}</string>
<key>textureRect</key>
<string>{{420,927},{84,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,54}</string>
<key>spriteSourceSize</key>
<string>{79,54}</string>
<key>textureRect</key>
<string>{{86,940},{79,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,95}</string>
<key>spriteSourceSize</key>
<string>{153,95}</string>
<key>textureRect</key>
<string>{{240,253},{153,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,85}</string>
<key>spriteSourceSize</key>
<string>{99,85}</string>
<key>textureRect</key>
<string>{{250,408},{99,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,50}</string>
<key>spriteSourceSize</key>
<string>{57,50}</string>
<key>textureRect</key>
<string>{{565,732},{57,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW2_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,44}</string>
<key>spriteSourceSize</key>
<string>{70,44}</string>
<key>textureRect</key>
<string>{{842,611},{70,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,166}</string>
<key>spriteSourceSize</key>
<string>{125,166}</string>
<key>textureRect</key>
<string>{{113,271},{125,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,85}</string>
<key>spriteSourceSize</key>
<string>{69,85}</string>
<key>textureRect</key>
<string>{{842,657},{69,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,103}</string>
<key>spriteSourceSize</key>
<string>{78,103}</string>
<key>textureRect</key>
<string>{{142,940},{78,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW3_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,147}</string>
<key>spriteSourceSize</key>
<string>{146,147}</string>
<key>textureRect</key>
<string>{{488,282},{146,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW3_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,88}</string>
<key>spriteSourceSize</key>
<string>{150,88}</string>
<key>textureRect</key>
<string>{{637,282},{150,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW3_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,44}</string>
<key>spriteSourceSize</key>
<string>{72,44}</string>
<key>textureRect</key>
<string>{{906,894},{72,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,54}</string>
<key>spriteSourceSize</key>
<string>{95,54}</string>
<key>textureRect</key>
<string>{{913,769},{95,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,67}</string>
<key>spriteSourceSize</key>
<string>{82,67}</string>
<key>textureRect</key>
<string>{{610,802},{82,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,99}</string>
<key>spriteSourceSize</key>
<string>{88,99}</string>
<key>textureRect</key>
<string>{{914,568},{88,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW3_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,73}</string>
<key>spriteSourceSize</key>
<string>{54,73}</string>
<key>textureRect</key>
<string>{{852,818},{54,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW3_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,103}</string>
<key>spriteSourceSize</key>
<string>{51,103}</string>
<key>textureRect</key>
<string>{{629,562},{51,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW4_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,104}</string>
<key>spriteSourceSize</key>
<string>{147,104}</string>
<key>textureRect</key>
<string>{{869,297},{147,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,87}</string>
<key>spriteSourceSize</key>
<string>{105,87}</string>
<key>textureRect</key>
<string>{{458,650},{105,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,87}</string>
<key>spriteSourceSize</key>
<string>{91,87}</string>
<key>textureRect</key>
<string>{{331,658},{91,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,120}</string>
<key>spriteSourceSize</key>
<string>{148,120}</string>
<key>textureRect</key>
<string>{{337,423},{148,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,65}</string>
<key>spriteSourceSize</key>
<string>{127,65}</string>
<key>textureRect</key>
<string>{{219,746},{127,65}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW4_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,68}</string>
<key>spriteSourceSize</key>
<string>{69,68}</string>
<key>textureRect</key>
<string>{{691,871},{69,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW4_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{65,123}</string>
<key>spriteSourceSize</key>
<string>{65,123}</string>
<key>textureRect</key>
<string>{{847,420},{65,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,77}</string>
<key>spriteSourceSize</key>
<string>{87,77}</string>
<key>textureRect</key>
<string>{{247,940},{87,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{69,69}</string>
<key>spriteSourceSize</key>
<string>{69,71}</string>
<key>textureRect</key>
<string>{{620,871},{69,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW4_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,72}</string>
<key>spriteSourceSize</key>
<string>{61,72}</string>
<key>textureRect</key>
<string>{{761,878},{61,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW4_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,81}</string>
<key>spriteSourceSize</key>
<string>{86,81}</string>
<key>textureRect</key>
<string>{{377,839},{86,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW5_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,111}</string>
<key>spriteSourceSize</key>
<string>{124,111}</string>
<key>textureRect</key>
<string>{{332,545},{124,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW5_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,72}</string>
<key>spriteSourceSize</key>
<string>{75,72}</string>
<key>textureRect</key>
<string>{{941,2},{75,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW5_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,55}</string>
<key>spriteSourceSize</key>
<string>{117,55}</string>
<key>textureRect</key>
<string>{{734,547},{117,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW5_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,95}</string>
<key>spriteSourceSize</key>
<string>{92,95}</string>
<key>textureRect</key>
<string>{{717,709},{92,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW5_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,65}</string>
<key>spriteSourceSize</key>
<string>{80,65}</string>
<key>textureRect</key>
<string>{{694,803},{80,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW5_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,59}</string>
<key>spriteSourceSize</key>
<string>{64,59}</string>
<key>textureRect</key>
<string>{{853,545},{64,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW5_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,49}</string>
<key>spriteSourceSize</key>
<string>{60,49}</string>
<key>textureRect</key>
<string>{{957,940},{60,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW5_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,34}</string>
<key>spriteSourceSize</key>
<string>{69,34}</string>
<key>textureRect</key>
<string>{{536,876},{69,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW5_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,45}</string>
<key>spriteSourceSize</key>
<string>{77,45}</string>
<key>textureRect</key>
<string>{{620,942},{77,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW5_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,69}</string>
<key>spriteSourceSize</key>
<string>{83,69}</string>
<key>textureRect</key>
<string>{{480,918},{83,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{154,134}</string>
<key>spriteSourceSize</key>
<string>{154,134}</string>
<key>textureRect</key>
<string>{{880,141},{154,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,95}</string>
<key>spriteSourceSize</key>
<string>{135,95}</string>
<key>textureRect</key>
<string>{{113,439},{135,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW6_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,102}</string>
<key>spriteSourceSize</key>
<string>{99,102}</string>
<key>textureRect</key>
<string>{{914,403},{99,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,133}</string>
<key>spriteSourceSize</key>
<string>{140,133}</string>
<key>textureRect</key>
<string>{{487,430},{140,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW6_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,83}</string>
<key>spriteSourceSize</key>
<string>{159,83}</string>
<key>textureRect</key>
<string>{{458,565},{159,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW6_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,71}</string>
<key>spriteSourceSize</key>
<string>{63,71}</string>
<key>textureRect</key>
<string>{{216,875},{63,71}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,110}</string>
<key>spriteSourceSize</key>
<string>{90,110}</string>
<key>textureRect</key>
<string>{{619,615},{90,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,67}</string>
<key>spriteSourceSize</key>
<string>{69,67}</string>
<key>textureRect</key>
<string>{{908,825},{69,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW6_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,67}</string>
<key>spriteSourceSize</key>
<string>{77,67}</string>
<key>textureRect</key>
<string>{{551,912},{77,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,58}</string>
<key>spriteSourceSize</key>
<string>{73,58}</string>
<key>textureRect</key>
<string>{{773,941},{73,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW6_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,55}</string>
<key>spriteSourceSize</key>
<string>{103,55}</string>
<key>textureRect</key>
<string>{{913,658},{103,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW7_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,120}</string>
<key>spriteSourceSize</key>
<string>{171,120}</string>
<key>textureRect</key>
<string>{{2,767},{171,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW7_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,87}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{286,747},{90,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW7_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{70,90}</string>
<key>textureRect</key>
<string>{{124,868},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW7_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{140,138}</string>
<key>spriteSourceSize</key>
<string>{150,138}</string>
<key>textureRect</key>
<string>{{727,280},{140,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW7_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,84}</string>
<key>spriteSourceSize</key>
<string>{174,84}</string>
<key>textureRect</key>
<string>{{536,107},{174,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW7_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,60}</string>
<key>spriteSourceSize</key>
<string>{66,60}</string>
<key>textureRect</key>
<string>{{833,941},{66,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW7_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,50}</string>
<key>spriteSourceSize</key>
<string>{80,50}</string>
<key>textureRect</key>
<string>{{565,650},{80,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW7_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,103}</string>
<key>spriteSourceSize</key>
<string>{126,103}</string>
<key>textureRect</key>
<string>{{629,434},{126,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW7_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{106,103}</string>
<key>spriteSourceSize</key>
<string>{108,103}</string>
<key>textureRect</key>
<string>{{734,604},{106,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW7_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,90}</string>
<key>spriteSourceSize</key>
<string>{80,90}</string>
<key>textureRect</key>
<string>{{378,747},{80,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW_guang2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-24}</string>
<key>spriteSize</key>
<string>{170,30}</string>
<key>spriteSourceSize</key>
<string>{198,88}</string>
<key>textureRect</key>
<string>{{105,542},{170,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,30}</string>
<key>spriteSourceSize</key>
<string>{124,56}</string>
<key>textureRect</key>
<string>{{424,658},{66,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW_guangtiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,2}</string>
<key>spriteSize</key>
<string>{109,269}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{2,271},{109,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW_guangtiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,3}</string>
<key>spriteSize</key>
<string>{113,267}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{2,2},{113,267}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW_guangtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{107,261}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{117,2},{107,261}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW_guangtiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-13}</string>
<key>spriteSize</key>
<string>{103,219}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{536,2},{103,219}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HLW_guangtiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-20}</string>
<key>spriteSize</key>
<string>{101,223}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{2,542},{101,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HLW_guangtiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-12}</string>
<key>spriteSize</key>
<string>{113,249}</string>
<key>spriteSourceSize</key>
<string>{129,273}</string>
<key>textureRect</key>
<string>{{226,2},{113,249}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,145}</string>
<key>spriteSourceSize</key>
<string>{149,145}</string>
<key>textureRect</key>
<string>{{337,276},{149,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,100}</string>
<key>spriteSourceSize</key>
<string>{62,100}</string>
<key>textureRect</key>
<string>{{914,504},{62,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wa1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{86,87}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{289,836},{86,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,123}</string>
<key>spriteSourceSize</key>
<string>{182,123}</string>
<key>textureRect</key>
<string>{{757,2},{182,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,63}</string>
<key>spriteSourceSize</key>
<string>{139,63}</string>
<key>textureRect</key>
<string>{{267,509},{139,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wa1_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,73}</string>
<key>spriteSourceSize</key>
<string>{82,73}</string>
<key>textureRect</key>
<string>{{336,927},{82,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,82}</string>
<key>spriteSourceSize</key>
<string>{61,82}</string>
<key>textureRect</key>
<string>{{268,650},{61,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,79}</string>
<key>spriteSourceSize</key>
<string>{82,79}</string>
<key>textureRect</key>
<string>{{2,940},{82,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,91}</string>
<key>spriteSourceSize</key>
<string>{69,91}</string>
<key>textureRect</key>
<string>{{460,739},{69,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wa1_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,72}</string>
<key>spriteSourceSize</key>
<string>{83,72}</string>
<key>textureRect</key>
<string>{{536,791},{83,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wa1_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,44}</string>
<key>spriteSourceSize</key>
<string>{69,44}</string>
<key>textureRect</key>
<string>{{835,893},{69,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,152}</string>
<key>spriteSourceSize</key>
<string>{193,152}</string>
<key>textureRect</key>
<string>{{341,2},{193,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,72}</string>
<key>spriteSourceSize</key>
<string>{97,72}</string>
<key>textureRect</key>
<string>{{814,744},{97,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,54}</string>
<key>spriteSourceSize</key>
<string>{76,54}</string>
<key>textureRect</key>
<string>{{667,942},{76,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xiezi_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,51}</string>
<key>spriteSourceSize</key>
<string>{60,51}</string>
<key>textureRect</key>
<string>{{895,940},{60,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,48}</string>
<key>spriteSourceSize</key>
<string>{74,48}</string>
<key>textureRect</key>
<string>{{723,942},{74,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xiezi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,128}</string>
<key>spriteSourceSize</key>
<string>{150,128}</string>
<key>textureRect</key>
<string>{{137,536},{150,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xiezi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,56}</string>
<key>spriteSourceSize</key>
<string>{129,56}</string>
<key>textureRect</key>
<string>{{137,688},{129,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,93}</string>
<key>spriteSourceSize</key>
<string>{98,93}</string>
<key>textureRect</key>
<string>{{617,707},{98,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,125}</string>
<key>spriteSourceSize</key>
<string>{111,125}</string>
<key>textureRect</key>
<string>{{734,420},{111,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,52}</string>
<key>spriteSourceSize</key>
<string>{99,52}</string>
<key>textureRect</key>
<string>{{913,715},{99,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xiezi_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,74}</string>
<key>spriteSourceSize</key>
<string>{58,74}</string>
<key>textureRect</key>
<string>{{776,818},{58,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xiezi_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,120}</string>
<key>spriteSourceSize</key>
<string>{93,120}</string>
<key>textureRect</key>
<string>{{124,746},{93,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HLW_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HLW_1.png</string>
</dict>
</dict>
</plist>