<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9023_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,97}</string>
<key>spriteSize</key>
<string>{232,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,438},{232,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,99}</string>
<key>spriteSize</key>
<string>{226,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,660},{226,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,101}</string>
<key>spriteSize</key>
<string>{230,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{720,2},{230,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,96}</string>
<key>spriteSize</key>
<string>{234,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,218},{234,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,94}</string>
<key>spriteSize</key>
<string>{244,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{244,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,97}</string>
<key>spriteSize</key>
<string>{236,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{248,2},{236,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,100}</string>
<key>spriteSize</key>
<string>{232,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{238,224},{232,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,100}</string>
<key>spriteSize</key>
<string>{232,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{486,2},{232,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,100}</string>
<key>spriteSize</key>
<string>{226,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{236,452},{226,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9023_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,99}</string>
<key>spriteSize</key>
<string>{230,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{472,230},{230,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9023.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9023.png</string>
</dict>
</dict>
</plist>