<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZDFB_biaotitiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{626,111}</string>
<key>spriteSourceSize</key>
<string>{626,111}</string>
<key>textureRect</key>
<string>{{2,2},{626,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_dikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{432,230}</string>
<key>spriteSourceSize</key>
<string>{432,230}</string>
<key>textureRect</key>
<string>{{560,273},{432,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{432,269}</string>
<key>spriteSourceSize</key>
<string>{432,269}</string>
<key>textureRect</key>
<string>{{560,2},{432,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_renwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{598,443}</string>
<key>spriteSourceSize</key>
<string>{598,443}</string>
<key>textureRect</key>
<string>{{115,2},{598,443}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_wz_mvp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{165,65}</string>
<key>spriteSourceSize</key>
<string>{165,65}</string>
<key>textureRect</key>
<string>{{808,563},{165,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_tzwc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,56}</string>
<key>spriteSourceSize</key>
<string>{194,56}</string>
<key>textureRect</key>
<string>{{808,505},{194,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_xinixdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{246,67}</string>
<key>spriteSourceSize</key>
<string>{246,67}</string>
<key>textureRect</key>
<string>{{560,505},{246,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZDFB_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZDFB_UI.png</string>
</dict>
</dict>
</plist>