<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QCUI_effect_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-22}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{375,2},{114,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QCUI_effect_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{154,211}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{2,2},{154,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QCUI_effect_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{146,203}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{126,266},{146,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QCUI_effect_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,9}</string>
<key>spriteSize</key>
<string>{140,215}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{158,2},{140,215}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QCUI_effect_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,13}</string>
<key>spriteSize</key>
<string>{122,207}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{371,144},{122,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QCUI_effect_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,15}</string>
<key>spriteSize</key>
<string>{120,211}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{158,144},{120,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QCUI_effect_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,15}</string>
<key>spriteSize</key>
<string>{122,201}</string>
<key>spriteSourceSize</key>
<string>{190,241}</string>
<key>textureRect</key>
<string>{{2,215},{122,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QCUI_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QCUI_effect.png</string>
</dict>
</dict>
</plist>