<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6004_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,23}</string>
<key>spriteSize</key>
<string>{140,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,354},{140,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,24}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,278},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,23}</string>
<key>spriteSize</key>
<string>{134,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,560},{134,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,24}</string>
<key>spriteSize</key>
<string>{134,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,518},{134,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,25}</string>
<key>spriteSize</key>
<string>{136,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,454},{136,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,26}</string>
<key>spriteSize</key>
<string>{138,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,496},{138,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,26}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,388},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,25}</string>
<key>spriteSize</key>
<string>{140,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,334},{140,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,25}</string>
<key>spriteSize</key>
<string>{118,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,624},{118,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,25}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1062},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,26}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,968},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{120,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,952},{120,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{120,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,856},{120,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{120,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,824},{120,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,27}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,886},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,26}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,966},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,36}</string>
<key>spriteSize</key>
<string>{118,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{826,694},{118,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,35}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,710},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,34}</string>
<key>spriteSize</key>
<string>{108,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1002},{108,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,34}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,936},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,34}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,874},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,34}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,860},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,35}</string>
<key>spriteSize</key>
<string>{110,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,744},{110,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,36}</string>
<key>spriteSize</key>
<string>{114,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,744},{114,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,39}</string>
<key>spriteSize</key>
<string>{126,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,646},{126,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,37}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,772},{122,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,36}</string>
<key>spriteSize</key>
<string>{120,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,760},{120,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,35}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{756,928},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,34}</string>
<key>spriteSize</key>
<string>{118,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,982},{118,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,36}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,732},{122,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,37}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,814},{124,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,38}</string>
<key>spriteSize</key>
<string>{126,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,150},{126,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,38}</string>
<key>spriteSize</key>
<string>{138,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,466},{138,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,602},{136,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{134,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,534},{134,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,35}</string>
<key>spriteSize</key>
<string>{134,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,622},{134,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{134,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,558},{134,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,36}</string>
<key>spriteSize</key>
<string>{136,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,444},{136,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{138,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,426},{138,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,38}</string>
<key>spriteSize</key>
<string>{138,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,418},{138,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,36}</string>
<key>spriteSize</key>
<string>{140,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,312},{140,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,75}</string>
<key>spriteSize</key>
<string>{138,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,214},{138,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,56}</string>
<key>spriteSize</key>
<string>{166,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,142},{166,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,32}</string>
<key>spriteSize</key>
<string>{102,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1226},{102,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,20}</string>
<key>spriteSize</key>
<string>{184,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,2},{184,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,26}</string>
<key>spriteSize</key>
<string>{148,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,182},{148,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,24}</string>
<key>spriteSize</key>
<string>{110,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,936},{110,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,26}</string>
<key>spriteSize</key>
<string>{92,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,1182},{92,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,37}</string>
<key>spriteSize</key>
<string>{124,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,624},{124,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,64}</string>
<key>spriteSize</key>
<string>{164,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,2},{164,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{160,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,158},{160,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,40}</string>
<key>spriteSize</key>
<string>{146,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,2},{146,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,35}</string>
<key>spriteSize</key>
<string>{210,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{210,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,31}</string>
<key>spriteSize</key>
<string>{124,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,666},{124,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{118,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,1044},{118,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,31}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,1082},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,37}</string>
<key>spriteSize</key>
<string>{104,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,846},{104,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{132,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,292},{132,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,48}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1112},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,39}</string>
<key>spriteSize</key>
<string>{184,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,110},{184,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,36}</string>
<key>spriteSize</key>
<string>{136,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,526},{136,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,36}</string>
<key>spriteSize</key>
<string>{114,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,1086},{114,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{112,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,1180},{112,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,34}</string>
<key>spriteSize</key>
<string>{106,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{740,1042},{106,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,33}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,622},{120,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,48}</string>
<key>spriteSize</key>
<string>{76,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,182},{76,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,59}</string>
<key>spriteSize</key>
<string>{142,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,294},{142,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,60}</string>
<key>spriteSize</key>
<string>{142,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{740,402},{142,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{98,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,1138},{98,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,41}</string>
<key>spriteSize</key>
<string>{154,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,144},{154,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,32}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,1094},{92,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,41}</string>
<key>spriteSize</key>
<string>{120,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{930,814},{120,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,38}</string>
<key>spriteSize</key>
<string>{134,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,512},{134,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,56}</string>
<key>spriteSize</key>
<string>{142,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{740,276},{142,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,70}</string>
<key>spriteSize</key>
<string>{174,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,2},{174,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,61}</string>
<key>spriteSize</key>
<string>{98,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,234},{98,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,44}</string>
<key>spriteSize</key>
<string>{166,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,2},{166,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,35}</string>
<key>spriteSize</key>
<string>{164,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,90},{164,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,29}</string>
<key>spriteSize</key>
<string>{108,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,1038},{108,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,43}</string>
<key>spriteSize</key>
<string>{96,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1270},{96,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE01_hero_6004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE01_hero_6004.png</string>
</dict>
</dict>
</plist>