<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7007_baolie2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{193,167}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{2,322},{193,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{163,161}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{400,324},{163,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,8}</string>
<key>spriteSize</key>
<string>{141,131}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{713,435},{141,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,21}</string>
<key>spriteSize</key>
<string>{185,103}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{617,163},{185,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,26}</string>
<key>spriteSize</key>
<string>{161,109}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{197,332},{161,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,26}</string>
<key>spriteSize</key>
<string>{127,103}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{908,336},{127,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_baolie2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,23}</string>
<key>spriteSize</key>
<string>{137,101}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{856,465},{137,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,10}</string>
<key>spriteSize</key>
<string>{153,77}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{2,491},{153,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{177,141}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{581,268},{177,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{191,159}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{617,2},{191,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{199,153}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{2,167},{199,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{213,163}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{2,2},{213,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{179,145}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{804,189},{179,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-7}</string>
<key>spriteSize</key>
<string>{179,151}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{400,171},{179,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{185,157}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{810,30},{185,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{195,161}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{203,169},{195,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{201,165}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{217,2},{201,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baolie_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{195,167}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{420,2},{195,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_dilie2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-15}</string>
<key>spriteSize</key>
<string>{155,51}</string>
<key>spriteSourceSize</key>
<string>{265,207}</string>
<key>textureRect</key>
<string>{{197,443},{155,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_dilie_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{188,26}</string>
<key>spriteSourceSize</key>
<string>{204,76}</string>
<key>textureRect</key>
<string>{{810,2},{188,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_wuqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{146,97}</string>
<key>spriteSourceSize</key>
<string>{148,107}</string>
<key>textureRect</key>
<string>{{565,411},{146,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_wuqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{146,97}</string>
<key>spriteSourceSize</key>
<string>{148,107}</string>
<key>textureRect</key>
<string>{{760,336},{146,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7007_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7007_skill_4.png</string>
</dict>
</dict>
</plist>