<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7007_baodian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{158,155}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{2,1288},{158,155}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_baodian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-10}</string>
<key>spriteSize</key>
<string>{194,185}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{220,1282},{194,185}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-10}</string>
<key>spriteSize</key>
<string>{216,207}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{2,1079},{216,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-9}</string>
<key>spriteSize</key>
<string>{214,189}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{220,1091},{214,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-9}</string>
<key>spriteSize</key>
<string>{222,197}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{2,880},{222,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-8}</string>
<key>spriteSize</key>
<string>{230,201}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{256,217},{230,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-10}</string>
<key>spriteSize</key>
<string>{232,213}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{256,2},{232,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baodian_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-11}</string>
<key>spriteSize</key>
<string>{222,221}</string>
<key>spriteSourceSize</key>
<string>{290,275}</string>
<key>textureRect</key>
<string>{{252,868},{222,221}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_xuanzhuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,-8}</string>
<key>spriteSize</key>
<string>{222,242}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{254,420},{222,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_xuanzhuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,-5}</string>
<key>spriteSize</key>
<string>{222,244}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{252,644},{222,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_xuanzhuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,0}</string>
<key>spriteSize</key>
<string>{226,248}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{2,440},{226,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_xuanzhuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,2}</string>
<key>spriteSize</key>
<string>{218,252}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{2,2},{218,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_xuanzhuang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,0}</string>
<key>spriteSize</key>
<string>{216,250}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{2,222},{216,250}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_xuanzhuang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,-1}</string>
<key>spriteSize</key>
<string>{210,248}</string>
<key>spriteSourceSize</key>
<string>{306,272}</string>
<key>textureRect</key>
<string>{{2,668},{210,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7007_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7007_skill_5.png</string>
</dict>
</dict>
</plist>