<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6004_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,19}</string>
<key>spriteSize</key>
<string>{110,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,816},{110,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,42}</string>
<key>spriteSize</key>
<string>{128,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,234},{128,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,34}</string>
<key>spriteSize</key>
<string>{118,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,734},{118,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,28}</string>
<key>spriteSize</key>
<string>{178,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{810,134},{178,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,-10}</string>
<key>spriteSize</key>
<string>{166,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,250},{166,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,37}</string>
<key>spriteSize</key>
<string>{98,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,550},{98,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,36}</string>
<key>spriteSize</key>
<string>{146,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,368},{146,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{136,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,438},{136,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,30}</string>
<key>spriteSize</key>
<string>{124,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,438},{124,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,29}</string>
<key>spriteSize</key>
<string>{122,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,636},{122,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,29}</string>
<key>spriteSize</key>
<string>{124,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,612},{124,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,30}</string>
<key>spriteSize</key>
<string>{124,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,474},{124,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{124,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,540},{124,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,31}</string>
<key>spriteSize</key>
<string>{124,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,438},{124,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,31}</string>
<key>spriteSize</key>
<string>{126,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,340},{126,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,31}</string>
<key>spriteSize</key>
<string>{124,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,528},{124,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,38}</string>
<key>spriteSize</key>
<string>{124,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,634},{124,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,68}</string>
<key>spriteSize</key>
<string>{156,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{156,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{162,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,272},{162,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,39}</string>
<key>spriteSize</key>
<string>{122,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,550},{122,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,36}</string>
<key>spriteSize</key>
<string>{210,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{210,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{122,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,714},{122,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,27}</string>
<key>spriteSize</key>
<string>{114,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,824},{114,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,33}</string>
<key>spriteSize</key>
<string>{96,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,928},{96,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,42}</string>
<key>spriteSize</key>
<string>{136,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,344},{136,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,51}</string>
<key>spriteSize</key>
<string>{84,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,938},{84,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,64}</string>
<key>spriteSize</key>
<string>{124,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,486},{124,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,45}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,550},{106,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,38}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,394},{136,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,36}</string>
<key>spriteSize</key>
<string>{174,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,160},{174,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,26}</string>
<key>spriteSize</key>
<string>{146,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,328},{146,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{188,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,262},{188,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,55}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,824},{110,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,85}</string>
<key>spriteSize</key>
<string>{140,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,444},{140,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,89}</string>
<key>spriteSize</key>
<string>{148,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,234},{148,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-80,187}</string>
<key>spriteSize</key>
<string>{168,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,160},{168,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-54,194}</string>
<key>spriteSize</key>
<string>{156,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,2},{156,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,108}</string>
<key>spriteSize</key>
<string>{122,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,148},{122,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{75,35}</string>
<key>spriteSize</key>
<string>{198,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,2},{198,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{78,50}</string>
<key>spriteSize</key>
<string>{206,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,2},{206,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{79,43}</string>
<key>spriteSize</key>
<string>{202,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,104},{202,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,43}</string>
<key>spriteSize</key>
<string>{178,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{810,2},{178,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,35}</string>
<key>spriteSize</key>
<string>{132,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,524},{132,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6004.png</string>
</dict>
</dict>
</plist>