<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9009_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,27}</string>
<key>spriteSize</key>
<string>{88,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,716},{88,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,27}</string>
<key>spriteSize</key>
<string>{90,124}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{550,556},{90,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,29}</string>
<key>spriteSize</key>
<string>{92,128}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,624},{92,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,29}</string>
<key>spriteSize</key>
<string>{94,132}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{864,454},{94,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,27}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{282,428},{98,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,25}</string>
<key>spriteSize</key>
<string>{102,130}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{418,524},{102,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,24}</string>
<key>spriteSize</key>
<string>{106,128}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{274,528},{106,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,23}</string>
<key>spriteSize</key>
<string>{106,130}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{564,448},{106,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,23}</string>
<key>spriteSize</key>
<string>{100,128}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,614},{100,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,26}</string>
<key>spriteSize</key>
<string>{92,124}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{696,534},{92,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,32}</string>
<key>spriteSize</key>
<string>{134,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,512},{134,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,35}</string>
<key>spriteSize</key>
<string>{140,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{494,186},{140,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,35}</string>
<key>spriteSize</key>
<string>{146,122}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{164,192},{146,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,33}</string>
<key>spriteSize</key>
<string>{150,128}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{848,88},{150,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,36}</string>
<key>spriteSize</key>
<string>{150,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{688,108},{150,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,34}</string>
<key>spriteSize</key>
<string>{150,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{840,218},{150,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,33}</string>
<key>spriteSize</key>
<string>{148,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{344,110},{148,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,31}</string>
<key>spriteSize</key>
<string>{144,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,296},{144,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{136,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{454,304},{136,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,33}</string>
<key>spriteSize</key>
<string>{134,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{428,416},{134,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,36}</string>
<key>spriteSize</key>
<string>{164,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{178,106},{164,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,37}</string>
<key>spriteSize</key>
<string>{174,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,100},{174,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,37}</string>
<key>spriteSize</key>
<string>{178,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{178,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,35}</string>
<key>spriteSize</key>
<string>{176,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{182,2},{176,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{168,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{360,2},{168,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,29}</string>
<key>spriteSize</key>
<string>{160,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,190},{160,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,28}</string>
<key>spriteSize</key>
<string>{156,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{690,2},{156,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,30}</string>
<key>spriteSize</key>
<string>{156,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{530,86},{156,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{154,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{848,2},{154,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,36}</string>
<key>spriteSize</key>
<string>{158,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{530,2},{158,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,22}</string>
<key>spriteSize</key>
<string>{136,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{290,330},{136,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,21}</string>
<key>spriteSize</key>
<string>{140,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,410},{140,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,19}</string>
<key>spriteSize</key>
<string>{140,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{148,316},{140,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,15}</string>
<key>spriteSize</key>
<string>{140,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{312,224},{140,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,13}</string>
<key>spriteSize</key>
<string>{138,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{636,228},{138,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,12}</string>
<key>spriteSize</key>
<string>{134,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{776,334},{134,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,15}</string>
<key>spriteSize</key>
<string>{134,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{592,340},{134,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,19}</string>
<key>spriteSize</key>
<string>{134,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,516},{134,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,22}</string>
<key>spriteSize</key>
<string>{134,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{728,444},{134,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,23}</string>
<key>spriteSize</key>
<string>{136,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{144,420},{136,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,20}</string>
<key>spriteSize</key>
<string>{100,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,824},{100,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,20}</string>
<key>spriteSize</key>
<string>{102,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{822,550},{102,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,22}</string>
<key>spriteSize</key>
<string>{106,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{392,738},{106,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,20}</string>
<key>spriteSize</key>
<string>{110,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{676,628},{110,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,18}</string>
<key>spriteSize</key>
<string>{112,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,824},{112,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,18}</string>
<key>spriteSize</key>
<string>{118,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{912,334},{118,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9009_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,21}</string>
<key>spriteSize</key>
<string>{122,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{404,628},{122,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,21}</string>
<key>spriteSize</key>
<string>{122,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{268,636},{122,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,19}</string>
<key>spriteSize</key>
<string>{114,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,718},{114,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9009_run_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,19}</string>
<key>spriteSize</key>
<string>{104,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{528,648},{104,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9009_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9009_run.png</string>
</dict>
</dict>
</plist>