<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HeCheng_ui_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,-30}</string>
<key>spriteSize</key>
<string>{165,114}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{384,2},{165,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HeCheng_ui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,-31}</string>
<key>spriteSize</key>
<string>{181,112}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{118,124},{181,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HeCheng_ui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-30}</string>
<key>spriteSize</key>
<string>{191,114}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{2,124},{191,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HeCheng_ui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-30}</string>
<key>spriteSize</key>
<string>{189,114}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{193,2},{189,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HeCheng_ui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-27}</string>
<key>spriteSize</key>
<string>{189,120}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{2,2},{189,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HeCheng_ui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-27}</string>
<key>spriteSize</key>
<string>{177,120}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{232,118},{177,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HeCheng_ui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,-25}</string>
<key>spriteSize</key>
<string>{159,122}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{280,312},{159,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HeCheng_ui_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,-10}</string>
<key>spriteSize</key>
<string>{141,146}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{354,169},{141,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HeCheng_ui_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,-4}</string>
<key>spriteSize</key>
<string>{131,146}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{147,307},{131,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HeCheng_ui_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,1}</string>
<key>spriteSize</key>
<string>{143,140}</string>
<key>spriteSourceSize</key>
<string>{235,174}</string>
<key>textureRect</key>
<string>{{2,317},{143,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HeCheng_ui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HeCheng_ui.png</string>
</dict>
</dict>
</plist>