<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7005_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{652,806},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,798},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,806},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,114},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,228},{82,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,342},{82,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,460},{82,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,2},{78,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,45}</string>
<key>spriteSize</key>
<string>{64,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,234},{64,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,45}</string>
<key>spriteSize</key>
<string>{64,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,352},{64,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,45}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,818},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,45}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,116},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,470},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{68,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,470},{68,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{68,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,590},{68,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,45}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,584},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,496},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,40}</string>
<key>spriteSize</key>
<string>{54,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,496},{54,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,40}</string>
<key>spriteSize</key>
<string>{54,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,616},{54,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{54,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,376},{54,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{58,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,376},{58,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,738},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,618},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,618},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,41}</string>
<key>spriteSize</key>
<string>{74,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,738},{74,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,858},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,486},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,41}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,858},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,41}</string>
<key>spriteSize</key>
<string>{84,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,2},{84,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,41}</string>
<key>spriteSize</key>
<string>{84,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,2},{84,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,41}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,2},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,738},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,44}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,734},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,44}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,854},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,44}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,854},{78,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,44}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,236},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,43}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,122},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,42}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,368},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,43}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,250},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,354},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,49}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,688},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,49}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,916},{80,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,49}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,916},{84,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,49}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{774,908},{78,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,48}</string>
<key>spriteSize</key>
<string>{90,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,932},{90,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{102,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,578},{102,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,696},{104,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,130},{100,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,45}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,962},{60,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,810},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{58,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,2},{58,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,704},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,45}</string>
<key>spriteSize</key>
<string>{88,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{542,2},{88,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,348},{74,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,44}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,698},{88,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,44}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,120},{98,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{62,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,116},{62,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{64,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,230},{64,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,848},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,41}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,858},{68,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,498},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,41}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,2},{86,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,41}</string>
<key>spriteSize</key>
<string>{100,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,238},{100,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,41}</string>
<key>spriteSize</key>
<string>{98,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,616},{98,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,41}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,618},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,40}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,240},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,41}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,498},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,43}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,2},{78,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,256},{118,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,42}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,378},{118,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{102,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,358},{102,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,44}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,118},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,43}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,120},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,43}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,474},{82,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,46}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,466},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,48}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,584},{86,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{102,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,736},{102,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{112,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{112,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,43}</string>
<key>spriteSize</key>
<string>{102,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,130},{102,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7005.png</string>
</dict>
</dict>
</plist>