<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7005_foying_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{68,69}</string>
<key>spriteSourceSize</key>
<string>{100,113}</string>
<key>textureRect</key>
<string>{{307,744},{68,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_guang2_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{233,129}</string>
<key>spriteSourceSize</key>
<string>{311,167}</string>
<key>textureRect</key>
<string>{{2,104},{233,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_guang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{100,318}</string>
<key>spriteSourceSize</key>
<string>{124,324}</string>
<key>textureRect</key>
<string>{{2,2},{100,318}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_jinguzhou_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{110,36}</string>
<key>spriteSourceSize</key>
<string>{128,68}</string>
<key>textureRect</key>
<string>{{264,857},{110,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_kuosan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,4}</string>
<key>spriteSize</key>
<string>{103,133}</string>
<key>spriteSourceSize</key>
<string>{191,265}</string>
<key>textureRect</key>
<string>{{2,870},{103,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_kuosan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{125,169}</string>
<key>spriteSourceSize</key>
<string>{191,265}</string>
<key>textureRect</key>
<string>{{2,743},{125,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_kuosan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{129,181}</string>
<key>spriteSourceSize</key>
<string>{191,265}</string>
<key>textureRect</key>
<string>{{311,246},{129,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_kuosan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{127,181}</string>
<key>spriteSourceSize</key>
<string>{191,265}</string>
<key>textureRect</key>
<string>{{2,235},{127,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_kuosan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-15}</string>
<key>spriteSize</key>
<string>{117,155}</string>
<key>spriteSourceSize</key>
<string>{191,265}</string>
<key>textureRect</key>
<string>{{107,870},{117,155}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_quan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{170,72}</string>
<key>spriteSourceSize</key>
<string>{178,86}</string>
<key>textureRect</key>
<string>{{237,104},{170,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{119,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{309,506},{119,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{123,184}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{322,2},{123,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{123,178}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{184,456},{123,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_shou_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-5}</string>
<key>spriteSize</key>
<string>{127,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{310,377},{127,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{127,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{2,364},{127,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{125,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{2,493},{125,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{115,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{309,627},{115,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{121,178}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{184,636},{121,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_shou_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{121,180}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{2,620},{121,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_shou_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-6}</string>
<key>spriteSize</key>
<string>{123,178}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{185,276},{123,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_shou_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{117,182}</string>
<key>spriteSourceSize</key>
<string>{133,194}</string>
<key>textureRect</key>
<string>{{311,127},{117,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{17,11}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{495,127},{17,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{25,29}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{185,989},{25,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_ziti_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{35,33}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{148,989},{35,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_ziti_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,4}</string>
<key>spriteSize</key>
<string>{39,33}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{107,989},{39,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_ziti_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,5}</string>
<key>spriteSize</key>
<string>{39,49}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{173,816},{39,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_ziti_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,5}</string>
<key>spriteSize</key>
<string>{39,49}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{185,235},{39,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,1}</string>
<key>spriteSize</key>
<string>{39,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{264,969},{39,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,1}</string>
<key>spriteSize</key>
<string>{39,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{275,816},{39,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,1}</string>
<key>spriteSize</key>
<string>{39,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{214,816},{39,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{55,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{438,744},{55,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{61,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{377,744},{61,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{61,59}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{365,815},{61,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_ziti_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{61,63}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{325,922},{61,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_ziti_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{61,63}</string>
<key>spriteSourceSize</key>
<string>{89,95}</string>
<key>textureRect</key>
<string>{{302,857},{61,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7005_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7005_skill_4.png</string>
</dict>
</dict>
</plist>