<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QiangHuaChengGong_baokai_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{212,206}</string>
<key>spriteSourceSize</key>
<string>{426,378}</string>
<key>textureRect</key>
<string>{{2,376},{212,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_baokai_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{218,218}</string>
<key>spriteSourceSize</key>
<string>{426,378}</string>
<key>textureRect</key>
<string>{{284,2},{218,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_guanyun.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{128,116}</string>
<key>spriteSourceSize</key>
<string>{162,156}</string>
<key>textureRect</key>
<string>{{206,584},{128,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QiangHuaChengGong_juqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,30}</string>
<key>spriteSize</key>
<string>{202,136}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{2,584},{202,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_juqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,19}</string>
<key>spriteSize</key>
<string>{260,174}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{2,200},{260,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_juqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,9}</string>
<key>spriteSize</key>
<string>{280,196}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{2,2},{280,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_juqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,-6}</string>
<key>spriteSize</key>
<string>{228,208}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{264,222},{228,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QiangHuaChengGong_juqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,-27}</string>
<key>spriteSize</key>
<string>{182,172}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{324,432},{182,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QiangHuaChengGong_juqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,-41}</string>
<key>spriteSize</key>
<string>{118,80}</string>
<key>spriteSourceSize</key>
<string>{392,312}</string>
<key>textureRect</key>
<string>{{324,616},{118,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QiangHuaChengGong_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QiangHuaChengGong_effect.png</string>
</dict>
</dict>
</plist>