<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,37}</string>
<key>spriteSize</key>
<string>{302,328}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{602,2},{302,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,35}</string>
<key>spriteSize</key>
<string>{302,324}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,332},{302,324}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,34}</string>
<key>spriteSize</key>
<string>{300,322}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,658},{300,322}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,35}</string>
<key>spriteSize</key>
<string>{302,324}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,666},{302,324}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,37}</string>
<key>spriteSize</key>
<string>{304,328}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,672},{304,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{300,332}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,2},{300,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,40}</string>
<key>spriteSize</key>
<string>{296,334}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{296,334}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{300,332}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,338},{300,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,37}</string>
<key>spriteSize</key>
<string>{302,328}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,336},{302,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8004.png</string>
</dict>
</dict>
</plist>