<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8004_A0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,71}</string>
<key>spriteSize</key>
<string>{156,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1488,800},{156,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,71}</string>
<key>spriteSize</key>
<string>{156,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,1394},{156,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,70}</string>
<key>spriteSize</key>
<string>{154,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,1442},{154,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,71}</string>
<key>spriteSize</key>
<string>{156,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,1284},{156,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,72}</string>
<key>spriteSize</key>
<string>{156,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1748,750},{156,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,73}</string>
<key>spriteSize</key>
<string>{154,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1392,622},{154,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,73}</string>
<key>spriteSize</key>
<string>{152,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,780},{152,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,73}</string>
<key>spriteSize</key>
<string>{152,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1132,654},{152,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,71}</string>
<key>spriteSize</key>
<string>{156,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1306},{156,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,78}</string>
<key>spriteSize</key>
<string>{142,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,810},{142,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,77}</string>
<key>spriteSize</key>
<string>{142,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1450,958},{142,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,77}</string>
<key>spriteSize</key>
<string>{142,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1434,1102},{142,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,78}</string>
<key>spriteSize</key>
<string>{142,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1840,922},{142,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,79}</string>
<key>spriteSize</key>
<string>{142,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1766,606},{142,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,80}</string>
<key>spriteSize</key>
<string>{142,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,694},{142,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,80}</string>
<key>spriteSize</key>
<string>{142,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,654},{142,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,80}</string>
<key>spriteSize</key>
<string>{142,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,520},{142,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,78}</string>
<key>spriteSize</key>
<string>{142,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1162},{142,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,84}</string>
<key>spriteSize</key>
<string>{128,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,1110},{128,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{126,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{890,1240},{126,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,83}</string>
<key>spriteSize</key>
<string>{126,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1072,1224},{126,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,84}</string>
<key>spriteSize</key>
<string>{130,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1082,1092},{130,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,85}</string>
<key>spriteSize</key>
<string>{134,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1310,778},{134,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,86}</string>
<key>spriteSize</key>
<string>{138,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{738,664},{138,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,86}</string>
<key>spriteSize</key>
<string>{140,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,844},{140,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,86}</string>
<key>spriteSize</key>
<string>{134,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,798},{134,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,85}</string>
<key>spriteSize</key>
<string>{130,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1096,808},{130,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,76}</string>
<key>spriteSize</key>
<string>{152,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,500},{152,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,75}</string>
<key>spriteSize</key>
<string>{148,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1792,296},{148,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,75}</string>
<key>spriteSize</key>
<string>{146,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1408,474},{146,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,75}</string>
<key>spriteSize</key>
<string>{152,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,690},{152,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,77}</string>
<key>spriteSize</key>
<string>{158,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1236,186},{158,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,77}</string>
<key>spriteSize</key>
<string>{158,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1426,144},{158,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,78}</string>
<key>spriteSize</key>
<string>{154,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,534},{154,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,77}</string>
<key>spriteSize</key>
<string>{154,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,364},{154,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,76}</string>
<key>spriteSize</key>
<string>{152,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1030,486},{152,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,66}</string>
<key>spriteSize</key>
<string>{150,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1664,908},{150,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,65}</string>
<key>spriteSize</key>
<string>{150,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1464},{150,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,64}</string>
<key>spriteSize</key>
<string>{150,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1616},{150,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,65}</string>
<key>spriteSize</key>
<string>{152,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,1552},{152,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,66}</string>
<key>spriteSize</key>
<string>{152,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1274,914},{152,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,68}</string>
<key>spriteSize</key>
<string>{148,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,1084},{148,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,68}</string>
<key>spriteSize</key>
<string>{146,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1602,350},{146,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,67}</string>
<key>spriteSize</key>
<string>{148,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,972},{148,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_A50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,66}</string>
<key>spriteSize</key>
<string>{150,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1082,940},{150,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,80}</string>
<key>spriteSize</key>
<string>{176,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1610,172},{176,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,73}</string>
<key>spriteSize</key>
<string>{158,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1588,498},{158,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,70}</string>
<key>spriteSize</key>
<string>{130,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1800,1202},{130,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,73}</string>
<key>spriteSize</key>
<string>{164,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,1084},{164,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,74}</string>
<key>spriteSize</key>
<string>{128,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,954},{128,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,71}</string>
<key>spriteSize</key>
<string>{140,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1570,658},{140,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,65}</string>
<key>spriteSize</key>
<string>{170,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,1288},{170,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,64}</string>
<key>spriteSize</key>
<string>{184,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,348},{184,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,66}</string>
<key>spriteSize</key>
<string>{170,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,1412},{170,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,71}</string>
<key>spriteSize</key>
<string>{160,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,1250},{160,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,72}</string>
<key>spriteSize</key>
<string>{164,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,1122},{164,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B10050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,74}</string>
<key>spriteSize</key>
<string>{158,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1782,446},{158,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,84}</string>
<key>spriteSize</key>
<string>{156,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,190},{156,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,82}</string>
<key>spriteSize</key>
<string>{156,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,498},{156,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,84}</string>
<key>spriteSize</key>
<string>{174,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,188},{174,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,85}</string>
<key>spriteSize</key>
<string>{210,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,182},{210,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,83}</string>
<key>spriteSize</key>
<string>{230,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,2},{230,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,79}</string>
<key>spriteSize</key>
<string>{178,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1048,150},{178,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,77}</string>
<key>spriteSize</key>
<string>{140,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1796,154},{140,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,79}</string>
<key>spriteSize</key>
<string>{140,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1426,2},{140,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,82}</string>
<key>spriteSize</key>
<string>{146,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1048,2},{146,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,83}</string>
<key>spriteSize</key>
<string>{158,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,374},{158,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B20050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,85}</string>
<key>spriteSize</key>
<string>{156,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,2},{156,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,85}</string>
<key>spriteSize</key>
<string>{148,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{542,934},{148,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,82}</string>
<key>spriteSize</key>
<string>{190,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,160},{190,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,82}</string>
<key>spriteSize</key>
<string>{146,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1626,1060},{146,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,83}</string>
<key>spriteSize</key>
<string>{164,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{720,956},{164,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,86}</string>
<key>spriteSize</key>
<string>{232,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{232,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,87}</string>
<key>spriteSize</key>
<string>{138,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{952,640},{138,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,85}</string>
<key>spriteSize</key>
<string>{134,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1258,1068},{134,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,84}</string>
<key>spriteSize</key>
<string>{174,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,934},{174,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,84}</string>
<key>spriteSize</key>
<string>{176,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,986},{176,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B30045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{136,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1258,1204},{136,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B30050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,86}</string>
<key>spriteSize</key>
<string>{132,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,838},{132,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B40001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,79}</string>
<key>spriteSize</key>
<string>{168,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1612,2},{168,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,76}</string>
<key>spriteSize</key>
<string>{160,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,1122},{160,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,75}</string>
<key>spriteSize</key>
<string>{180,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1420,304},{180,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,76}</string>
<key>spriteSize</key>
<string>{122,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1924,750},{122,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,81}</string>
<key>spriteSize</key>
<string>{160,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1226,346},{160,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,86}</string>
<key>spriteSize</key>
<string>{136,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,194},{136,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,83}</string>
<key>spriteSize</key>
<string>{192,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,2},{192,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,81}</string>
<key>spriteSize</key>
<string>{190,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,2},{190,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,79}</string>
<key>spriteSize</key>
<string>{186,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1238,2},{186,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,77}</string>
<key>spriteSize</key>
<string>{178,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,514},{178,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_B40050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,79}</string>
<key>spriteSize</key>
<string>{154,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1042,330},{154,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,69}</string>
<key>spriteSize</key>
<string>{150,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,804},{150,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,66}</string>
<key>spriteSize</key>
<string>{132,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1608,1208},{132,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,68}</string>
<key>spriteSize</key>
<string>{150,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1432,1246},{150,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,66}</string>
<key>spriteSize</key>
<string>{136,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1246,1342},{136,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,71}</string>
<key>spriteSize</key>
<string>{134,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1800,1066},{134,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,80}</string>
<key>spriteSize</key>
<string>{164,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,332},{164,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,76}</string>
<key>spriteSize</key>
<string>{166,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,332},{166,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,74}</string>
<key>spriteSize</key>
<string>{150,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1796,2},{150,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,71}</string>
<key>spriteSize</key>
<string>{144,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1212,508},{144,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,68}</string>
<key>spriteSize</key>
<string>{158,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,1234},{158,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_B50050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,70}</string>
<key>spriteSize</key>
<string>{152,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,656},{152,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8004.png</string>
</dict>
</dict>
</plist>