<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8004_dead01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,31}</string>
<key>spriteSize</key>
<string>{128,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,612},{128,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_dead02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,18}</string>
<key>spriteSize</key>
<string>{144,52}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,1298},{144,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_dead03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,63}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,2},{116,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_hit0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,89}</string>
<key>spriteSize</key>
<string>{138,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1358},{138,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_hit0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,73}</string>
<key>spriteSize</key>
<string>{138,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,904},{138,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_hit0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,70}</string>
<key>spriteSize</key>
<string>{144,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,1242},{144,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,86}</string>
<key>spriteSize</key>
<string>{152,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,726},{152,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,85}</string>
<key>spriteSize</key>
<string>{152,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1060},{152,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,84}</string>
<key>spriteSize</key>
<string>{152,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,1144},{152,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,86}</string>
<key>spriteSize</key>
<string>{154,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,938},{154,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,87}</string>
<key>spriteSize</key>
<string>{154,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,904},{154,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,88}</string>
<key>spriteSize</key>
<string>{154,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,696},{154,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,88}</string>
<key>spriteSize</key>
<string>{154,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,564},{154,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_idea0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,87}</string>
<key>spriteSize</key>
<string>{154,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,748},{154,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_idea0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,86}</string>
<key>spriteSize</key>
<string>{152,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,376},{152,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,-27}</string>
<key>spriteSize</key>
<string>{96,32}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,132},{96,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{53,-31}</string>
<key>spriteSize</key>
<string>{88,36}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,288},{88,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,-27}</string>
<key>spriteSize</key>
<string>{66,46}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,210},{66,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,-16}</string>
<key>spriteSize</key>
<string>{52,50}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,1368},{52,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,-2}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,1336},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,10}</string>
<key>spriteSize</key>
<string>{52,48}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{940,1374},{52,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,18}</string>
<key>spriteSize</key>
<string>{56,54}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,1318},{56,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,30}</string>
<key>spriteSize</key>
<string>{56,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,742},{56,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,41}</string>
<key>spriteSize</key>
<string>{48,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,326},{48,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,50}</string>
<key>spriteSize</key>
<string>{36,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,250},{36,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,53}</string>
<key>spriteSize</key>
<string>{36,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,166},{36,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,29}</string>
<key>spriteSize</key>
<string>{44,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,204},{44,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,-13}</string>
<key>spriteSize</key>
<string>{62,52}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,506},{62,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,-13}</string>
<key>spriteSize</key>
<string>{60,52}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,1318},{60,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,-15}</string>
<key>spriteSize</key>
<string>{60,48}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,1318},{60,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,-18}</string>
<key>spriteSize</key>
<string>{62,42}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,1326},{62,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,-14}</string>
<key>spriteSize</key>
<string>{62,50}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,560},{62,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0051.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,-4}</string>
<key>spriteSize</key>
<string>{54,68}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,450},{54,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0054.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{53,3}</string>
<key>spriteSize</key>
<string>{44,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,278},{44,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_chuchang0057.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,4}</string>
<key>spriteSize</key>
<string>{40,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,1284},{40,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_chuchang0060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,976},{42,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,932},{42,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,888},{42,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,1240},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,1196},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,1152},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,1108},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,844},{42,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,800},{42,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,5}</string>
<key>spriteSize</key>
<string>{42,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,362},{42,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_idle0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,1064},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_idle0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,4}</string>
<key>spriteSize</key>
<string>{42,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,1020},{42,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,88}</string>
<key>spriteSize</key>
<string>{148,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,994},{148,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,85}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,578},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,86}</string>
<key>spriteSize</key>
<string>{146,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,756},{146,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,88}</string>
<key>spriteSize</key>
<string>{204,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,210},{204,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{71,87}</string>
<key>spriteSize</key>
<string>{248,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{248,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,90}</string>
<key>spriteSize</key>
<string>{140,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,852},{140,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,87}</string>
<key>spriteSize</key>
<string>{134,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,1182},{134,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,87}</string>
<key>spriteSize</key>
<string>{150,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,880},{150,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_10050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,88}</string>
<key>spriteSize</key>
<string>{146,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,1094},{146,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,57}</string>
<key>spriteSize</key>
<string>{142,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1214},{142,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,56}</string>
<key>spriteSize</key>
<string>{136,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,1044},{136,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,55}</string>
<key>spriteSize</key>
<string>{192,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,548},{192,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,56}</string>
<key>spriteSize</key>
<string>{152,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,1032},{152,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,51}</string>
<key>spriteSize</key>
<string>{148,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,1186},{148,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,50}</string>
<key>spriteSize</key>
<string>{138,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,556},{138,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,49}</string>
<key>spriteSize</key>
<string>{226,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,2},{226,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,53}</string>
<key>spriteSize</key>
<string>{186,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,2},{186,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,58}</string>
<key>spriteSize</key>
<string>{178,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,190},{178,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,60}</string>
<key>spriteSize</key>
<string>{222,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,184},{222,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,63}</string>
<key>spriteSize</key>
<string>{176,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,370},{176,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20055.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,67}</string>
<key>spriteSize</key>
<string>{172,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,574},{172,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8006_skills_20060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,61}</string>
<key>spriteSize</key>
<string>{200,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,388},{200,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20065.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,57}</string>
<key>spriteSize</key>
<string>{186,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,756},{186,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20070.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,56}</string>
<key>spriteSize</key>
<string>{206,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,190},{206,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20075.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,59}</string>
<key>spriteSize</key>
<string>{196,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,370},{196,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20080.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,62}</string>
<key>spriteSize</key>
<string>{200,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,382},{200,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_skills_20085.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,61}</string>
<key>spriteSize</key>
<string>{208,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,2},{208,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8004.png</string>
</dict>
</dict>
</plist>