<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8004_juji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{80,74}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{427,570},{80,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{146,132}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{152,302},{146,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{150,146}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{306,150},{150,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{148,146}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{302,298},{148,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{150,146}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{306,2},{150,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{148,144}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{2,302},{148,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_juji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-3}</string>
<key>spriteSize</key>
<string>{134,132}</string>
<key>spriteSourceSize</key>
<string>{218,206}</string>
<key>textureRect</key>
<string>{{2,448},{134,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{94,95}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{2,926},{94,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{150,149}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{154,2},{150,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{150,149}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{2,2},{150,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{148,147}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{152,153},{148,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{148,147}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{2,153},{148,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{140,141}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{152,436},{140,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_shouji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,5}</string>
<key>spriteSize</key>
<string>{130,115}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{295,446},{130,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,5}</string>
<key>spriteSize</key>
<string>{130,111}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{295,563},{130,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_shouji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{128,93}</string>
<key>spriteSourceSize</key>
<string>{156,155}</string>
<key>textureRect</key>
<string>{{134,758},{128,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-9}</string>
<key>spriteSize</key>
<string>{100,68}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{110,853},{100,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{124,78}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{427,646},{124,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_xiantiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{130,88}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{2,672},{130,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{130,86}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{266,676},{130,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{130,88}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{134,668},{130,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{130,88}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{2,582},{130,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{130,88}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{138,578},{130,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{128,84}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{2,762},{128,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{122,82}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{427,446},{122,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004_xiantiao_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{106,76}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{2,848},{106,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8004_xiantiao_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{94,72}</string>
<key>spriteSourceSize</key>
<string>{234,172}</string>
<key>textureRect</key>
<string>{{98,926},{94,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8004_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8004_skill_3.png</string>
</dict>
</dict>
</plist>