<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ShengPin_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,2}</string>
<key>spriteSize</key>
<string>{154,157}</string>
<key>spriteSourceSize</key>
<string>{170,165}</string>
<key>textureRect</key>
<string>{{235,2},{154,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShengPin_xuanzhuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{103,111}</string>
<key>spriteSourceSize</key>
<string>{171,153}</string>
<key>textureRect</key>
<string>{{391,117},{103,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShengPin_xuanzhuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{113,111}</string>
<key>spriteSourceSize</key>
<string>{171,153}</string>
<key>textureRect</key>
<string>{{391,2},{113,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShengPin_xuanzhuang_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{231,242}</string>
<key>spriteSourceSize</key>
<string>{267,274}</string>
<key>textureRect</key>
<string>{{2,2},{231,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ShengPin_xuanzhuang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ShengPin_xuanzhuang.png</string>
</dict>
</dict>
</plist>