<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ShenQi_chengse_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{221,85}</string>
<key>spriteSourceSize</key>
<string>{221,87}</string>
<key>textureRect</key>
<string>{{180,87},{221,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenQi_hong_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{221,83}</string>
<key>spriteSourceSize</key>
<string>{221,87}</string>
<key>textureRect</key>
<string>{{217,2},{221,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenQi_jinse_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{221,85}</string>
<key>spriteSourceSize</key>
<string>{221,87}</string>
<key>textureRect</key>
<string>{{440,2},{221,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenQi_zise_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{213,69}</string>
<key>spriteSourceSize</key>
<string>{217,81}</string>
<key>textureRect</key>
<string>{{2,2},{213,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{176,85}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{180,174},{176,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{170,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{174,534},{170,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,429},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{526,358},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{174,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{352,449},{174,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{182,912},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{362,908},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinse_smoke_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,906},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{176,85}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,160},{176,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{170,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,520},{170,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{352,358},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,338},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{174,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{176,443},{174,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{542,815},{178,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>orange_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{182,819},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{362,815},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,813},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{176,85}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{403,89},{176,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{170,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{528,449},{170,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{526,267},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{352,267},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{174,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{176,352},{174,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{182,726},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{455,722},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{362,633},{178,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>purple_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,720},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{176,85}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,73},{176,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{170,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{581,89},{170,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,247},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{172,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{358,176},{172,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{174,89}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{176,261},{174,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{182,633},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{526,542},{178,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{2,627},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{178,91}</string>
<key>spriteSourceSize</key>
<string>{294,155}</string>
<key>textureRect</key>
<string>{{346,540},{178,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ShenQi_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ShenQi_effect.png</string>
</dict>
</dict>
</plist>