<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4003_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,46}</string>
<key>spriteSize</key>
<string>{88,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,1222},{88,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,46}</string>
<key>spriteSize</key>
<string>{88,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,1162},{88,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,1004},{88,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{86,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,1090},{86,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,47}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,1142},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1156},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,46}</string>
<key>spriteSize</key>
<string>{82,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,1052},{82,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,46}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,880},{86,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,45}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,1104},{88,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,46}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,1052},{88,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,1248},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{98,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{224,1224},{98,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{100,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,1194},{100,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{100,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,974},{100,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,47}</string>
<key>spriteSize</key>
<string>{98,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,870},{98,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,688},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,688},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,45}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,716},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,714},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,732},{94,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,48}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1238},{86,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,1136},{84,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,1076},{84,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,48}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,992},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,966},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,814},{86,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,698},{88,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,47}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,788},{86,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,47}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,714},{86,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,48}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,984},{86,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,848},{78,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1078},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{82,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,1020},{82,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,49}</string>
<key>spriteSize</key>
<string>{82,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,900},{82,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{80,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,788},{80,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,49}</string>
<key>spriteSize</key>
<string>{80,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,766},{80,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,49}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,802},{76,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,48}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,928},{74,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,48}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,970},{74,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,48}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,896},{76,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,902},{88,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,50}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,876},{88,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,50}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,844},{88,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,934},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{82,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,816},{82,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,50}</string>
<key>spriteSize</key>
<string>{82,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,968},{82,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{82,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1072},{82,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,1004},{84,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1160},{86,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,1136},{86,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,130}</string>
<key>spriteSize</key>
<string>{106,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,274},{106,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,139}</string>
<key>spriteSize</key>
<string>{110,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,788},{110,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{76,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,524},{76,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,72}</string>
<key>spriteSize</key>
<string>{76,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,496},{76,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,74}</string>
<key>spriteSize</key>
<string>{78,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,528},{78,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,74}</string>
<key>spriteSize</key>
<string>{78,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,686},{78,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,83}</string>
<key>spriteSize</key>
<string>{76,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,196},{76,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,100}</string>
<key>spriteSize</key>
<string>{80,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,114},{80,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,110}</string>
<key>spriteSize</key>
<string>{80,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,2},{80,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,129}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,620},{92,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,138}</string>
<key>spriteSize</key>
<string>{124,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,608},{124,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,67}</string>
<key>spriteSize</key>
<string>{96,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,348},{96,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,71}</string>
<key>spriteSize</key>
<string>{110,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,574},{110,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,73}</string>
<key>spriteSize</key>
<string>{120,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,404},{120,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,73}</string>
<key>spriteSize</key>
<string>{120,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,372},{120,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,81}</string>
<key>spriteSize</key>
<string>{114,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,120},{114,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,99}</string>
<key>spriteSize</key>
<string>{108,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,86},{108,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,111}</string>
<key>spriteSize</key>
<string>{96,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,84},{96,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,125}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,620},{76,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,136}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1326},{92,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,65}</string>
<key>spriteSize</key>
<string>{110,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,236},{110,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,70}</string>
<key>spriteSize</key>
<string>{114,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,572},{114,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,72}</string>
<key>spriteSize</key>
<string>{124,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,308},{124,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,72}</string>
<key>spriteSize</key>
<string>{130,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,272},{130,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,81}</string>
<key>spriteSize</key>
<string>{124,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,182},{124,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,96}</string>
<key>spriteSize</key>
<string>{116,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,2},{116,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,110}</string>
<key>spriteSize</key>
<string>{110,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,2},{110,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,121}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,626},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,132}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,1046},{88,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,65}</string>
<key>spriteSize</key>
<string>{92,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,434},{92,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,70}</string>
<key>spriteSize</key>
<string>{92,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,526},{92,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,72}</string>
<key>spriteSize</key>
<string>{96,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,274},{96,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,72}</string>
<key>spriteSize</key>
<string>{96,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,372},{96,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,80}</string>
<key>spriteSize</key>
<string>{94,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,276},{94,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,94}</string>
<key>spriteSize</key>
<string>{94,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,180},{94,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,109}</string>
<key>spriteSize</key>
<string>{94,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{94,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,120}</string>
<key>spriteSize</key>
<string>{112,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,382},{112,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,130}</string>
<key>spriteSize</key>
<string>{120,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,602},{120,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,65}</string>
<key>spriteSize</key>
<string>{78,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,470},{78,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,71}</string>
<key>spriteSize</key>
<string>{74,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,550},{74,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{76,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,494},{76,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{76,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,446},{76,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,81}</string>
<key>spriteSize</key>
<string>{74,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,196},{74,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,95}</string>
<key>spriteSize</key>
<string>{82,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,2},{82,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,109}</string>
<key>spriteSize</key>
<string>{80,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,98},{80,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_4003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_4003.png</string>
</dict>
</dict>
</plist>