<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4003_xishou_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,-13}</string>
<key>spriteSize</key>
<string>{98,84}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{416,648},{98,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_xishou_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{200,186}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{2,2},{200,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_xishou_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{194,168}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{204,2},{194,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_xishou_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{182,158}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{204,172},{182,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_xishou_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{164,154}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{2,190},{164,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003_xishou_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-7}</string>
<key>spriteSize</key>
<string>{140,142}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{163,630},{140,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_xishou_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-12}</string>
<key>spriteSize</key>
<string>{116,122}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{388,242},{116,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003_xishou_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{92,70}</string>
<key>spriteSourceSize</key>
<string>{246,218}</string>
<key>textureRect</key>
<string>{{111,772},{92,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{101,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{307,751},{101,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-2}</string>
<key>spriteSize</key>
<string>{105,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,743},{105,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{123,109}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{400,2},{123,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{113,109}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{400,127},{113,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{107,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,634},{107,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{101,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{307,648},{101,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{101,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{105,850},{101,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{101,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,850},{101,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{159,137}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{324,509},{159,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{159,137}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{2,495},{159,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{159,147}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{163,481},{159,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{159,147}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{329,360},{159,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{159,147}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{2,346},{159,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{159,147}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{168,332},{159,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6006_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6006_skill_1.png</string>
</dict>
</dict>
</plist>