<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6006_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{195,581},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,794},{191,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,581},{191,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{215,388},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,388},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{215,195},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,195},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{215,2},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{191,211}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,2},{191,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6006_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6006_skill_2.png</string>
</dict>
</dict>
</plist>