<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_zengjiawufang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{136,64}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{2,70},{136,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiawufang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{136,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{2,2},{136,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiawufang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,5}</string>
<key>spriteSize</key>
<string>{134,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{2,136},{134,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiawufang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{132,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{2,204},{132,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiawufang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{128,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{2,272},{128,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiawufang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,6}</string>
<key>spriteSize</key>
<string>{126,62}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{138,272},{126,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiawufang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,6}</string>
<key>spriteSize</key>
<string>{126,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{70,272},{126,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiawufang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,6}</string>
<key>spriteSize</key>
<string>{132,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{138,138},{132,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiawufang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{134,66}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{140,2},{134,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zengjiawufang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zengjiawufang.png</string>
</dict>
</dict>
</plist>