<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Guajijinbi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{2,314},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Guajijinbi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{30,32}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{2,352},{30,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>jinbi_skill_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{16,16}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{36,352},{16,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{38,32}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,280},{38,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,238},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{50,46}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,144},{50,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{52,46}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,50},{52,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{50,44}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,192},{50,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{52,44}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,98},{52,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinbi_skill_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{52,46}</string>
<key>spriteSourceSize</key>
<string>{180,168}</string>
<key>textureRect</key>
<string>{{2,2},{52,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Guajijinbi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Guajijinbi.png</string>
</dict>
</dict>
</plist>