<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,37}</string>
<key>spriteSize</key>
<string>{240,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{240,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,37}</string>
<key>spriteSize</key>
<string>{234,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,294},{234,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,37}</string>
<key>spriteSize</key>
<string>{230,286}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,294},{230,286}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,38}</string>
<key>spriteSize</key>
<string>{228,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,288},{228,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,42}</string>
<key>spriteSize</key>
<string>{232,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,240},{232,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,42}</string>
<key>spriteSize</key>
<string>{236,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,2},{236,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,44}</string>
<key>spriteSize</key>
<string>{240,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,2},{240,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,45}</string>
<key>spriteSize</key>
<string>{244,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,582},{244,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,43}</string>
<key>spriteSize</key>
<string>{244,284}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,2},{244,284}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,40}</string>
<key>spriteSize</key>
<string>{244,288}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,586},{244,288}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_4002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_4002.png</string>
</dict>
</dict>
</plist>