<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4002_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,41}</string>
<key>spriteSize</key>
<string>{90,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,118},{90,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,41}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,2},{88,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,230},{86,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{86,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,110},{86,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,43}</string>
<key>spriteSize</key>
<string>{88,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,212},{88,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{90,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,108},{90,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,44}</string>
<key>spriteSize</key>
<string>{90,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,2},{90,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,44}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,2},{92,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,2},{92,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,42}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,114},{92,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,35}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,764},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,35}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,2},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,36}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,394},{70,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,37}</string>
<key>spriteSize</key>
<string>{70,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,514},{70,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,38}</string>
<key>spriteSize</key>
<string>{70,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,2},{70,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,234},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{70,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,118},{70,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,38}</string>
<key>spriteSize</key>
<string>{70,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,634},{70,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,37}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,132},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,36}</string>
<key>spriteSize</key>
<string>{74,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,274},{74,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{84,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,122},{84,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,750},{86,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,348},{86,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,742},{88,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,864},{88,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,2},{88,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,42}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,580},{86,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,41}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,468},{86,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,40}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,870},{86,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,628},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,43}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,318},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,332},{104,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,112},{106,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,224},{106,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,342},{106,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,460},{106,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,450},{104,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,44}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,690},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,44}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,852},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,43}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,568},{104,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{86,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{774,898},{86,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{888,512},{84,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{802,658},{84,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,776},{84,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{86,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,898},{86,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{86,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,218},{86,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,556},{88,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,45}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{712,674},{88,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,46}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,796},{88,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,45}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,422},{88,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,886},{68,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,54}</string>
<key>spriteSize</key>
<string>{72,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,142},{72,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,50}</string>
<key>spriteSize</key>
<string>{72,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,640},{72,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,64}</string>
<key>spriteSize</key>
<string>{74,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,178},{74,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,76}</string>
<key>spriteSize</key>
<string>{82,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{82,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,76}</string>
<key>spriteSize</key>
<string>{84,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,180},{84,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,60}</string>
<key>spriteSize</key>
<string>{106,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,504},{106,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{70,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,238},{70,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{68,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,640},{68,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,514},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,61}</string>
<key>spriteSize</key>
<string>{88,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{76,682},{88,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,74}</string>
<key>spriteSize</key>
<string>{80,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,2},{80,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,75}</string>
<key>spriteSize</key>
<string>{76,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,356},{76,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{80,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,822},{80,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,46}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,354},{78,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,45}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,368},{76,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,44}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,2},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,60}</string>
<key>spriteSize</key>
<string>{76,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,324},{76,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,74}</string>
<key>spriteSize</key>
<string>{72,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,700},{72,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,75}</string>
<key>spriteSize</key>
<string>{66,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,532},{66,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,56}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,2},{60,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{66,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,632},{66,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,47}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,252},{88,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,47}</string>
<key>spriteSize</key>
<string>{92,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,512},{92,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,62}</string>
<key>spriteSize</key>
<string>{64,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{218,766},{64,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,75}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,866},{66,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,77}</string>
<key>spriteSize</key>
<string>{64,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,866},{64,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,62}</string>
<key>spriteSize</key>
<string>{98,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,2},{98,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,56}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,892},{66,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,53}</string>
<key>spriteSize</key>
<string>{68,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,394},{68,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,53}</string>
<key>spriteSize</key>
<string>{66,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,752},{66,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,63}</string>
<key>spriteSize</key>
<string>{72,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,950},{72,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,75}</string>
<key>spriteSize</key>
<string>{76,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{88,178},{76,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,77}</string>
<key>spriteSize</key>
<string>{80,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,532},{80,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,70}</string>
<key>spriteSize</key>
<string>{100,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,356},{100,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_4002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_4002.png</string>
</dict>
</dict>
</plist>