<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_4002_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-9}</string>
<key>spriteSize</key>
<string>{153,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{352,533},{153,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4002_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-9}</string>
<key>spriteSize</key>
<string>{155,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{195,533},{155,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4002_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-9}</string>
<key>spriteSize</key>
<string>{149,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,662},{149,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4002_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-8}</string>
<key>spriteSize</key>
<string>{151,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,535},{151,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4002_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-7}</string>
<key>spriteSize</key>
<string>{149,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{155,660},{149,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4002_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{179,197}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{203,175},{179,197}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4002_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{179,199}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,2},{179,199}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4002_skill_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-10}</string>
<key>spriteSize</key>
<string>{177,197}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,183},{177,197}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4002_skill_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{171,199}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{203,2},{171,199}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4002_skill_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{171,191}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,362},{171,191}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4002_skill_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-12}</string>
<key>spriteSize</key>
<string>{175,193}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{201,356},{175,193}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_4002_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_4002_skill_1.png</string>
</dict>
</dict>
</plist>