<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4002_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,30}</string>
<key>spriteSize</key>
<string>{88,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,518},{88,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,42}</string>
<key>spriteSize</key>
<string>{68,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,678},{68,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,46}</string>
<key>spriteSize</key>
<string>{120,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,162},{120,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,33}</string>
<key>spriteSize</key>
<string>{74,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,236},{74,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-5}</string>
<key>spriteSize</key>
<string>{104,60}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,530},{104,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,36}</string>
<key>spriteSize</key>
<string>{94,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,320},{94,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,36}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,628},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,35}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,580},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,31}</string>
<key>spriteSize</key>
<string>{66,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,244},{66,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,31}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,258},{66,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,31}</string>
<key>spriteSize</key>
<string>{66,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,294},{66,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,32}</string>
<key>spriteSize</key>
<string>{68,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,382},{68,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,33}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,516},{68,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,34}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,488},{68,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,34}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,460},{68,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,33}</string>
<key>spriteSize</key>
<string>{68,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,326},{68,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,32}</string>
<key>spriteSize</key>
<string>{68,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,312},{68,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,32}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,226},{66,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,39}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,592},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,43}</string>
<key>spriteSize</key>
<string>{90,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,586},{90,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,55}</string>
<key>spriteSize</key>
<string>{92,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,150},{92,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{98,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,416},{98,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,33}</string>
<key>spriteSize</key>
<string>{140,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,74},{140,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,34}</string>
<key>spriteSize</key>
<string>{90,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,608},{90,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,38}</string>
<key>spriteSize</key>
<string>{74,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,140},{74,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{64,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,226},{64,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,39}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,328},{72,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{70,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,424},{70,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{66,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,512},{66,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,41}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,426},{60,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,452},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,396},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{224,362},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,27}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,680},{62,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,54}</string>
<key>spriteSize</key>
<string>{84,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,140},{84,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,67}</string>
<key>spriteSize</key>
<string>{74,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{74,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,67}</string>
<key>spriteSize</key>
<string>{64,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,2},{64,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,67}</string>
<key>spriteSize</key>
<string>{70,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,2},{70,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,67}</string>
<key>spriteSize</key>
<string>{70,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,68},{70,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,78},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,42}</string>
<key>spriteSize</key>
<string>{68,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,558},{68,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_4002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_4002.png</string>
</dict>
</dict>
</plist>