<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,144}</string>
<key>spriteSize</key>
<string>{176,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,180},{176,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,144}</string>
<key>spriteSize</key>
<string>{176,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,2},{176,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,140}</string>
<key>spriteSize</key>
<string>{176,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{176,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,133}</string>
<key>spriteSize</key>
<string>{174,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,180},{174,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,126}</string>
<key>spriteSize</key>
<string>{172,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,358},{172,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,120}</string>
<key>spriteSize</key>
<string>{170,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,732},{170,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,120}</string>
<key>spriteSize</key>
<string>{170,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,532},{170,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,126}</string>
<key>spriteSize</key>
<string>{172,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,732},{172,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,134}</string>
<key>spriteSize</key>
<string>{174,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,532},{174,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,142}</string>
<key>spriteSize</key>
<string>{174,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,356},{174,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET7004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET7004.png</string>
</dict>
</dict>
</plist>