<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET7004_A0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,120}</string>
<key>spriteSize</key>
<string>{142,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1838,1098},{142,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,120}</string>
<key>spriteSize</key>
<string>{140,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1500,832},{140,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,116}</string>
<key>spriteSize</key>
<string>{140,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,1282},{140,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,110}</string>
<key>spriteSize</key>
<string>{138,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1278,964},{138,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,106}</string>
<key>spriteSize</key>
<string>{142,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1670,958},{142,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,101}</string>
<key>spriteSize</key>
<string>{146,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1248,1104},{146,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,99}</string>
<key>spriteSize</key>
<string>{144,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1770,1242},{144,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,104}</string>
<key>spriteSize</key>
<string>{142,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1186,1252},{142,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,111}</string>
<key>spriteSize</key>
<string>{140,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1410,1136},{140,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,118}</string>
<key>spriteSize</key>
<string>{140,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,1214},{140,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,120}</string>
<key>spriteSize</key>
<string>{194,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,954},{194,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,120}</string>
<key>spriteSize</key>
<string>{194,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,808},{194,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,116}</string>
<key>spriteSize</key>
<string>{198,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,880},{198,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,111}</string>
<key>spriteSize</key>
<string>{198,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,614},{198,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,106}</string>
<key>spriteSize</key>
<string>{196,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,784},{196,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,101}</string>
<key>spriteSize</key>
<string>{196,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1050},{196,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,99}</string>
<key>spriteSize</key>
<string>{194,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1632,350},{194,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,104}</string>
<key>spriteSize</key>
<string>{192,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1828,350},{192,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,111}</string>
<key>spriteSize</key>
<string>{188,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1138,772},{188,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,117}</string>
<key>spriteSize</key>
<string>{190,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1138,606},{190,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,121}</string>
<key>spriteSize</key>
<string>{220,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,336},{220,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,120}</string>
<key>spriteSize</key>
<string>{224,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,164},{224,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,115}</string>
<key>spriteSize</key>
<string>{222,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{970,164},{222,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,111}</string>
<key>spriteSize</key>
<string>{220,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,278},{220,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,106}</string>
<key>spriteSize</key>
<string>{216,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1140,436},{216,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,100}</string>
<key>spriteSize</key>
<string>{210,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,450},{210,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,98}</string>
<key>spriteSize</key>
<string>{210,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,674},{210,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,103}</string>
<key>spriteSize</key>
<string>{212,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,568},{212,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,111}</string>
<key>spriteSize</key>
<string>{216,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,404},{216,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,117}</string>
<key>spriteSize</key>
<string>{220,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,506},{220,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,120}</string>
<key>spriteSize</key>
<string>{184,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,976},{184,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,119}</string>
<key>spriteSize</key>
<string>{188,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1330,646},{188,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,115}</string>
<key>spriteSize</key>
<string>{188,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1550,506},{188,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,110}</string>
<key>spriteSize</key>
<string>{182,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,734},{182,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,105}</string>
<key>spriteSize</key>
<string>{172,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,440},{172,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,100}</string>
<key>spriteSize</key>
<string>{168,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,1050},{168,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,98}</string>
<key>spriteSize</key>
<string>{168,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1370},{168,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0037.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,102}</string>
<key>spriteSize</key>
<string>{168,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,1282},{168,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0038.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,110}</string>
<key>spriteSize</key>
<string>{172,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{964,568},{172,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,116}</string>
<key>spriteSize</key>
<string>{178,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,1140},{178,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,120}</string>
<key>spriteSize</key>
<string>{142,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1862,954},{142,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0041.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,119}</string>
<key>spriteSize</key>
<string>{142,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1106,934},{142,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,116}</string>
<key>spriteSize</key>
<string>{144,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1328,818},{144,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0043.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,110}</string>
<key>spriteSize</key>
<string>{150,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1692,806},{150,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0044.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,105}</string>
<key>spriteSize</key>
<string>{156,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,1442},{156,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,100}</string>
<key>spriteSize</key>
<string>{160,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1446,974},{160,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0046.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,98}</string>
<key>spriteSize</key>
<string>{158,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1026,1234},{158,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_A0047.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,102}</string>
<key>spriteSize</key>
<string>{156,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1610,1102},{156,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,110}</string>
<key>spriteSize</key>
<string>{154,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1082,1078},{154,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_A0049.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,117}</string>
<key>spriteSize</key>
<string>{146,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1862,806},{146,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,116}</string>
<key>spriteSize</key>
<string>{150,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1530},{150,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,117}</string>
<key>spriteSize</key>
<string>{162,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1740,642},{162,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,115}</string>
<key>spriteSize</key>
<string>{132,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1740,508},{132,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,99}</string>
<key>spriteSize</key>
<string>{170,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1520,678},{170,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,83}</string>
<key>spriteSize</key>
<string>{182,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,404},{182,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,93}</string>
<key>spriteSize</key>
<string>{186,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,906},{186,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,102}</string>
<key>spriteSize</key>
<string>{194,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1214},{194,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,114}</string>
<key>spriteSize</key>
<string>{132,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1914,508},{132,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,116}</string>
<key>spriteSize</key>
<string>{114,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,588},{114,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,115}</string>
<key>spriteSize</key>
<string>{160,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,1146},{160,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,99}</string>
<key>spriteSize</key>
<string>{354,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,122},{354,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,84}</string>
<key>spriteSize</key>
<string>{384,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{384,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,94}</string>
<key>spriteSize</key>
<string>{352,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,124},{352,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,103}</string>
<key>spriteSize</key>
<string>{314,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1140,2},{314,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,112}</string>
<key>spriteSize</key>
<string>{160,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,278},{160,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,113}</string>
<key>spriteSize</key>
<string>{158,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,1122},{158,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,112}</string>
<key>spriteSize</key>
<string>{238,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1718,174},{238,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,94}</string>
<key>spriteSize</key>
<string>{372,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,2},{372,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{69,88}</string>
<key>spriteSize</key>
<string>{376,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,2},{376,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{68,97}</string>
<key>spriteSize</key>
<string>{342,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,266},{342,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,104}</string>
<key>spriteSize</key>
<string>{292,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1456,2},{292,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,112}</string>
<key>spriteSize</key>
<string>{172,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{966,388},{172,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-55,110}</string>
<key>spriteSize</key>
<string>{182,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1358,462},{182,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,105}</string>
<key>spriteSize</key>
<string>{230,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1400,274},{230,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,89}</string>
<key>spriteSize</key>
<string>{270,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1750,2},{270,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,88}</string>
<key>spriteSize</key>
<string>{260,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1456,152},{260,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,99}</string>
<key>spriteSize</key>
<string>{258,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1140,158},{258,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,105}</string>
<key>spriteSize</key>
<string>{224,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1140,290},{224,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,113}</string>
<key>spriteSize</key>
<string>{160,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,978},{160,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,108}</string>
<key>spriteSize</key>
<string>{186,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,610},{186,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,99}</string>
<key>spriteSize</key>
<string>{150,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,728},{150,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,85}</string>
<key>spriteSize</key>
<string>{126,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,762},{126,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7004_B0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,87}</string>
<key>spriteSize</key>
<string>{166,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,1112},{166,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,101}</string>
<key>spriteSize</key>
<string>{170,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,940},{170,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7004_B0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,106}</string>
<key>spriteSize</key>
<string>{190,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,832},{190,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET7004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET7004.png</string>
</dict>
</dict>
</plist>