<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_0001_PVE_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,64},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,64},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,59}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,184},{58,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,59}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,126},{58,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,2},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{58,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,2},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,124},{58,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,64},{58,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{60,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,186},{60,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{60,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,186},{60,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,58}</string>
<key>spriteSize</key>
<string>{62,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,360},{62,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,58}</string>
<key>spriteSize</key>
<string>{64,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,316},{64,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,58}</string>
<key>spriteSize</key>
<string>{66,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,314},{66,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,58}</string>
<key>spriteSize</key>
<string>{68,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,248},{68,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,58}</string>
<key>spriteSize</key>
<string>{68,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,290},{68,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,58}</string>
<key>spriteSize</key>
<string>{68,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,244},{68,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,58}</string>
<key>spriteSize</key>
<string>{66,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,248},{66,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,58}</string>
<key>spriteSize</key>
<string>{62,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,318},{62,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,58}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,582},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,744},{66,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,784},{66,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,57}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,714},{68,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,218},{70,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,146},{70,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,74},{70,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,2},{70,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,57}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,772},{66,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,57}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,712},{66,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,584},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,582},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,554},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,514},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,444},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{70,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,442},{70,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,444},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,484},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,514},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,514},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,424},{58,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{60,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,382},{60,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,650},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,652},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,650},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{58,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,712},{58,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,622},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{58,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,684},{58,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,382},{58,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0001_PVE_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{60,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,382},{60,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_0001_PVE.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_0001_PVE.png</string>
</dict>
</dict>
</plist>