<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ShiFang_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{172,172}</string>
<key>spriteSourceSize</key>
<string>{356,362}</string>
<key>textureRect</key>
<string>{{2,2},{172,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_dizuo_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{63,30}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{470,381},{63,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_dizuo_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{103,46}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{2,424},{103,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_dizuo_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{103,46}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{288,321},{103,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_dizuo_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{103,46}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{288,216},{103,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_dizuo_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{97,42}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{107,438},{97,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_dizuo_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{85,32}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{470,294},{85,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_dizuo_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{87,32}</string>
<key>spriteSourceSize</key>
<string>{131,68}</string>
<key>textureRect</key>
<string>{{470,205},{87,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_guang_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{171,86}</string>
<key>spriteSourceSize</key>
<string>{175,88}</string>
<key>textureRect</key>
<string>{{176,2},{171,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_guangyun_12_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{408,380}</string>
<key>textureRect</key>
<string>{{2,472},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_luoxuanxian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-29}</string>
<key>spriteSize</key>
<string>{71,36}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{470,132},{71,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_luoxuanxian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-22}</string>
<key>spriteSize</key>
<string>{75,60}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{254,502},{75,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_luoxuanxian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{75,62}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{177,482},{75,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_luoxuanxian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{75,74}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{256,426},{75,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_luoxuanxian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{75,70}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{100,482},{75,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_luoxuanxian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,24}</string>
<key>spriteSize</key>
<string>{71,70}</string>
<key>spriteSourceSize</key>
<string>{131,190}</string>
<key>textureRect</key>
<string>{{177,546},{71,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_shangshen_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-31}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{336,388},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_shangshen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-28}</string>
<key>spriteSize</key>
<string>{132,124}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{154,216},{132,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_shangshen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-25}</string>
<key>spriteSize</key>
<string>{132,130}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{336,132},{132,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shanguang_shangshen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-8}</string>
<key>spriteSize</key>
<string>{128,160}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{349,2},{128,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_shangshen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-8}</string>
<key>spriteSize</key>
<string>{124,158}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{176,90},{124,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_shangshen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-3}</string>
<key>spriteSize</key>
<string>{128,150}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{2,176},{128,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_shangshen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,6}</string>
<key>spriteSize</key>
<string>{122,132}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{336,264},{122,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_shangshen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{116,130}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{2,306},{116,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shanguang_shangshen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{94,120}</string>
<key>spriteSourceSize</key>
<string>{276,302}</string>
<key>textureRect</key>
<string>{{134,342},{94,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ShiFang_Effect_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ShiFang_Effect_1.png</string>
</dict>
</dict>
</plist>