<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6009_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,51}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,702},{52,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{50,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,816},{50,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,338},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,452},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,564},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,452},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,2},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{48,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,226},{48,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,908},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,796},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,896},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,560},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,674},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,786},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,802},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,50}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,816},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,690},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,2},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{62,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,344},{62,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,50}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,114},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,50}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,450},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,564},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,50}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,676},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,228},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{56,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,590},{56,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{56,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,474},{56,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{54,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{58,706},{54,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{54,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,822},{54,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,2},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,116},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,232},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,47}</string>
<key>spriteSize</key>
<string>{56,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,2},{56,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{52,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{52,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{50,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{56,2},{50,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{48,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,240},{48,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{48,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,822},{48,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{48,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,230},{48,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{48,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,346},{48,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,44}</string>
<key>spriteSize</key>
<string>{48,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,464},{48,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,44}</string>
<key>spriteSize</key>
<string>{48,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{58,822},{48,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{50,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,784},{50,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,684},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,52}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,2},{62,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,53}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,474},{78,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,226},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{68,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,2},{68,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,50}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,588},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{50,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,340},{50,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,670},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{44,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,894},{44,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,336},{56,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,48}</string>
<key>spriteSize</key>
<string>{64,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,460},{64,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,350},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,49}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,470},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,702},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,48}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,588},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,50}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,114},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{58,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,572},{58,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,51}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,116},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,51}</string>
<key>spriteSize</key>
<string>{66,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,578},{66,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,938},{78,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,48}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,2},{70,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,118},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,48}</string>
<key>spriteSize</key>
<string>{62,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{52,240},{62,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,930},{78,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,780},{78,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,53}</string>
<key>spriteSize</key>
<string>{70,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,114},{70,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{66,356},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{54,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,706},{54,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{56,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,120},{56,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{64,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,122},{64,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,938},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,888},{74,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,236},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{62,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,358},{62,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6009.png</string>
</dict>
</dict>
</plist>