<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6009-dizha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-11}</string>
<key>spriteSize</key>
<string>{99,98}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{386,580},{99,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{193,136}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{199,274},{193,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-5}</string>
<key>spriteSize</key>
<string>{195,142}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{209,130},{195,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-4}</string>
<key>spriteSize</key>
<string>{195,138}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{2,270},{195,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-4}</string>
<key>spriteSize</key>
<string>{205,138}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{2,130},{205,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,3}</string>
<key>spriteSize</key>
<string>{213,126}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{227,2},{213,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009-dizha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,3}</string>
<key>spriteSize</key>
<string>{223,126}</string>
<key>spriteSourceSize</key>
<string>{267,230}</string>
<key>textureRect</key>
<string>{{2,2},{223,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,-80}</string>
<key>spriteSize</key>
<string>{18,20}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{150,484},{18,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,-78}</string>
<key>spriteSize</key>
<string>{22,26}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{150,460},{22,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,-75}</string>
<key>spriteSize</key>
<string>{32,36}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{406,130},{32,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,-74}</string>
<key>spriteSize</key>
<string>{48,40}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{150,410},{48,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,-68}</string>
<key>spriteSize</key>
<string>{76,50}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{442,104},{76,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-60}</string>
<key>spriteSize</key>
<string>{100,64}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{442,2},{100,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-56}</string>
<key>spriteSize</key>
<string>{120,74}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{264,580},{120,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-47}</string>
<key>spriteSize</key>
<string>{136,94}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{2,518},{136,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-39}</string>
<key>spriteSize</key>
<string>{138,110}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{192,412},{138,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-36}</string>
<key>spriteSize</key>
<string>{122,120}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{140,524},{122,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,-2}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{406,182},{104,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,6}</string>
<key>spriteSize</key>
<string>{108,122}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{2,614},{108,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,17}</string>
<key>spriteSize</key>
<string>{136,130}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{332,448},{136,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_tuowei_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{144,114}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{394,302},{144,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_tuowei_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{146,106}</string>
<key>spriteSourceSize</key>
<string>{206,194}</string>
<key>textureRect</key>
<string>{{2,410},{146,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6009_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6009_skill_5.png</string>
</dict>
</dict>
</plist>