<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6009_fazheng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{129,128}</string>
<key>spriteSourceSize</key>
<string>{137,134}</string>
<key>textureRect</key>
<string>{{187,132},{129,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,38}</string>
<key>spriteSize</key>
<string>{121,179}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{364,144},{121,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,12}</string>
<key>spriteSize</key>
<string>{151,235}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{187,267},{151,235}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,7}</string>
<key>spriteSize</key>
<string>{167,241}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{191,765},{167,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{177,253}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{2,514},{177,253}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{183,255}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{2,2},{183,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,1}</string>
<key>spriteSize</key>
<string>{183,253}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{2,259},{183,253}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{187,251}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{2,769},{187,251}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,3}</string>
<key>spriteSize</key>
<string>{181,249}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{181,514},{181,249}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_huoyan_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,17}</string>
<key>spriteSize</key>
<string>{147,215}</string>
<key>spriteSourceSize</key>
<string>{217,273}</string>
<key>textureRect</key>
<string>{{805,2},{147,215}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_she_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,-66}</string>
<key>spriteSize</key>
<string>{124,153}</string>
<key>spriteSourceSize</key>
<string>{346,347}</string>
<key>textureRect</key>
<string>{{805,151},{124,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_she_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,-61}</string>
<key>spriteSize</key>
<string>{128,163}</string>
<key>spriteSourceSize</key>
<string>{346,347}</string>
<key>textureRect</key>
<string>{{187,2},{128,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_she_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,-47}</string>
<key>spriteSize</key>
<string>{140,189}</string>
<key>spriteSourceSize</key>
<string>{346,347}</string>
<key>textureRect</key>
<string>{{364,2},{140,189}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_she_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,-21}</string>
<key>spriteSize</key>
<string>{152,237}</string>
<key>spriteSourceSize</key>
<string>{346,347}</string>
<key>textureRect</key>
<string>{{566,2},{152,237}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_she_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-20}</string>
<key>spriteSize</key>
<string>{204,239}</string>
<key>spriteSourceSize</key>
<string>{346,347}</string>
<key>textureRect</key>
<string>{{360,765},{204,239}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6009_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6009_skill_4.png</string>
</dict>
</dict>
</plist>