<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6009_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,45}</string>
<key>spriteSize</key>
<string>{64,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,340},{64,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,29}</string>
<key>spriteSize</key>
<string>{72,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,434},{72,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{106,42}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,286},{106,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{74,218},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,218},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,39}</string>
<key>spriteSize</key>
<string>{68,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,330},{68,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{52,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,228},{52,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,48}</string>
<key>spriteSize</key>
<string>{50,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,436},{50,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{48,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,446},{48,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,49}</string>
<key>spriteSize</key>
<string>{50,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{76,434},{50,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{50,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,340},{50,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{52,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,330},{52,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{64,326},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,48}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,334},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,47}</string>
<key>spriteSize</key>
<string>{48,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,334},{48,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{44,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,446},{44,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{46,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,228},{46,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{56,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,64},{56,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,46}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,2},{60,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,47}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,286},{52,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,122},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,2},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,66},{54,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,230},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,2},{58,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,48}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,120},{54,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,122},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,230},{54,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,122},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{66,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{74,110},{66,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{74,2},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,110},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{48,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,338},{48,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,326},{60,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,51}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,120},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,51}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,122},{54,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6009_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,51}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,62},{56,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,49}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,230},{54,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6009.png</string>
</dict>
</dict>
</plist>