<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_jiangdifafang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{71,74}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{386,424},{71,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,19}</string>
<key>spriteSize</key>
<string>{79,92}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{376,249},{79,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,19}</string>
<key>spriteSize</key>
<string>{81,92}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{386,330},{81,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,11}</string>
<key>spriteSize</key>
<string>{91,108}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{276,384},{91,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,11}</string>
<key>spriteSize</key>
<string>{91,108}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{166,388},{91,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,3}</string>
<key>spriteSize</key>
<string>{99,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{166,262},{99,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,3}</string>
<key>spriteSize</key>
<string>{99,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{164,136},{99,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,4}</string>
<key>spriteSize</key>
<string>{105,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{376,142},{105,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,4}</string>
<key>spriteSize</key>
<string>{105,124}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{267,258},{105,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,1}</string>
<key>spriteSize</key>
<string>{109,130}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{224,2},{109,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,4}</string>
<key>spriteSize</key>
<string>{109,122}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{265,134},{109,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-1}</string>
<key>spriteSize</key>
<string>{109,132}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{113,2},{109,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{107,130}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{335,2},{107,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{109,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,2},{109,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-5}</string>
<key>spriteSize</key>
<string>{105,136}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,282},{105,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{105,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,142},{105,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-8}</string>
<key>spriteSize</key>
<string>{67,140}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{2,420},{67,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiangdifafang_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-7}</string>
<key>spriteSize</key>
<string>{53,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{109,142},{53,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-9}</string>
<key>spriteSize</key>
<string>{55,138}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{444,2},{55,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdifafang_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-12}</string>
<key>spriteSize</key>
<string>{55,134}</string>
<key>spriteSourceSize</key>
<string>{157,202}</string>
<key>textureRect</key>
<string>{{109,282},{55,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_jiangdifafang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_jiangdifafang.png</string>
</dict>
</dict>
</plist>