<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QianDao_UI_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{142,141}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{2,147},{142,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{144,139}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{148,2},{144,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{138,139}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{146,282},{138,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QianDao_UI_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{142,139}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{294,2},{142,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{287,282},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{144,143}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{2,2},{144,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{294,143},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QianDao_UI_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{152,151}</string>
<key>textureRect</key>
<string>{{148,143},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QianDao_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QianDao_UI.png</string>
</dict>
</dict>
</plist>