<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9013_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,114}</string>
<key>spriteSize</key>
<string>{208,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{550,964},{208,260}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,62}</string>
<key>spriteSize</key>
<string>{266,342}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{356,2},{266,342}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-21}</string>
<key>spriteSize</key>
<string>{352,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{352,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,92}</string>
<key>spriteSize</key>
<string>{222,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1784},{222,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{53,106}</string>
<key>spriteSize</key>
<string>{334,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,198},{334,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,106}</string>
<key>spriteSize</key>
<string>{272,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{558,750},{272,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,89}</string>
<key>spriteSize</key>
<string>{218,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{696,1692},{218,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,88}</string>
<key>spriteSize</key>
<string>{206,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{222,1784},{206,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,84}</string>
<key>spriteSize</key>
<string>{208,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{812,1042},{208,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,77}</string>
<key>spriteSize</key>
<string>{220,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{474,1614},{220,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,79}</string>
<key>spriteSize</key>
<string>{224,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1562},{224,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,86}</string>
<key>spriteSize</key>
<string>{228,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{752,1470},{228,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,88}</string>
<key>spriteSize</key>
<string>{226,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,1414},{226,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,60}</string>
<key>spriteSize</key>
<string>{312,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{700,2},{312,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{76,86}</string>
<key>spriteSize</key>
<string>{278,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,668},{278,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{80,111}</string>
<key>spriteSize</key>
<string>{286,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{300,488},{286,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{70,128}</string>
<key>spriteSize</key>
<string>{328,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{700,230},{328,306}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,54}</string>
<key>spriteSize</key>
<string>{214,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{522,1174},{214,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,65}</string>
<key>spriteSize</key>
<string>{222,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{522,1390},{222,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,82}</string>
<key>spriteSize</key>
<string>{272,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,890},{272,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,62}</string>
<key>spriteSize</key>
<string>{136,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{832,802},{136,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,132}</string>
<key>spriteSize</key>
<string>{274,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{282,750},{274,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{108,143}</string>
<key>spriteSize</key>
<string>{298,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{338,270},{298,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,9}</string>
<key>spriteSize</key>
<string>{196,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,960},{196,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,58}</string>
<key>spriteSize</key>
<string>{234,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{764,1266},{234,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,125}</string>
<key>spriteSize</key>
<string>{188,278}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{588,560},{188,278}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,132}</string>
<key>spriteSize</key>
<string>{238,296}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,428},{238,296}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,17}</string>
<key>spriteSize</key>
<string>{254,254}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{266,1158},{254,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,28}</string>
<key>spriteSize</key>
<string>{260,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1106},{260,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,47}</string>
<key>spriteSize</key>
<string>{192,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1368},{192,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{150,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{868,560},{150,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9013.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9013.png</string>
</dict>
</dict>
</plist>