<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9013_dilie_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-3}</string>
<key>spriteSize</key>
<string>{133,105}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{858,389},{133,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_dilie_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-17}</string>
<key>spriteSize</key>
<string>{211,143}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{723,244},{211,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_dilie_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-10}</string>
<key>spriteSize</key>
<string>{231,179}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{490,183},{231,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_dilie_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,6}</string>
<key>spriteSize</key>
<string>{189,171}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{667,389},{189,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_dilie_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-2}</string>
<key>spriteSize</key>
<string>{195,155}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{470,364},{195,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_dilie_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-16}</string>
<key>spriteSize</key>
<string>{183,127}</string>
<key>spriteSourceSize</key>
<string>{287,207}</string>
<key>textureRect</key>
<string>{{858,496},{183,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_jianshe_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{109,73}</string>
<key>spriteSourceSize</key>
<string>{131,95}</string>
<key>textureRect</key>
<string>{{936,244},{109,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_xuli_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{229,127}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{239,346},{229,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-9}</string>
<key>spriteSize</key>
<string>{243,125}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{251,2},{243,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-9}</string>
<key>spriteSize</key>
<string>{237,109}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{2,207},{237,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{235,127}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{739,2},{235,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-9}</string>
<key>spriteSize</key>
<string>{235,155}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{2,318},{235,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-9}</string>
<key>spriteSize</key>
<string>{241,179}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{496,2},{241,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-9}</string>
<key>spriteSize</key>
<string>{247,203}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{2,2},{247,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-4}</string>
<key>spriteSize</key>
<string>{237,215}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{251,129},{237,215}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013_xuli_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{117,113}</string>
<key>spriteSourceSize</key>
<string>{267,253}</string>
<key>textureRect</key>
<string>{{2,681},{117,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9013_yuan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{233,111}</string>
<key>spriteSourceSize</key>
<string>{263,131}</string>
<key>textureRect</key>
<string>{{739,131},{233,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9013_skill3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9013_skill3.png</string>
</dict>
</dict>
</plist>