<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7012_sandian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{111,75}</string>
<key>spriteSourceSize</key>
<string>{111,83}</string>
<key>textureRect</key>
<string>{{354,818},{111,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_sandian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{111,69}</string>
<key>spriteSourceSize</key>
<string>{111,83}</string>
<key>textureRect</key>
<string>{{354,931},{111,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yun_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{214,119}</string>
<key>spriteSourceSize</key>
<string>{356,199}</string>
<key>textureRect</key>
<string>{{450,652},{214,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>fuzhou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{467,868},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuzhouGUANG.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{185,191}</string>
<key>spriteSourceSize</key>
<string>{187,191}</string>
<key>textureRect</key>
<string>{{2,818},{185,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuzhou_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{163,167}</string>
<key>spriteSourceSize</key>
<string>{193,183}</string>
<key>textureRect</key>
<string>{{189,818},{163,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nainshou_shandian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,27}</string>
<key>spriteSize</key>
<string>{158,246}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{2,486},{158,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nainshou_shandian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,11}</string>
<key>spriteSize</key>
<string>{230,278}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{2,2},{230,278}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nainshou_shandian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,12}</string>
<key>spriteSize</key>
<string>{250,274}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{2,234},{250,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nainshou_shandian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,19}</string>
<key>spriteSize</key>
<string>{242,262}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{278,248},{242,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nainshou_shandian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,12}</string>
<key>spriteSize</key>
<string>{244,276}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{282,2},{244,276}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nainshou_shandian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-33}</string>
<key>spriteSize</key>
<string>{234,158}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{250,492},{234,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nainshou_shandian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-30}</string>
<key>spriteSize</key>
<string>{212,164}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{236,652},{212,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nainshou_shandian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-27}</string>
<key>spriteSize</key>
<string>{232,170}</string>
<key>spriteSourceSize</key>
<string>{428,496}</string>
<key>textureRect</key>
<string>{{2,646},{232,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LiHua_Effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LiHua_Effect.png</string>
</dict>
</dict>
</plist>