<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>buff_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{62,32}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{866,86},{62,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{66,28}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1182,80},{66,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-3}</string>
<key>spriteSize</key>
<string>{64,30}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{986,84},{64,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-1}</string>
<key>spriteSize</key>
<string>{54,32}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{930,86},{54,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-1}</string>
<key>spriteSize</key>
<string>{60,30}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1052,84},{60,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,2}</string>
<key>spriteSize</key>
<string>{66,28}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1114,80},{66,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{64,32}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{800,86},{64,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{56,34}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{742,86},{56,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{62,76}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1190,2},{62,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{62,76}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1126,2},{62,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{62,76}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1062,2},{62,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{998,2},{62,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{870,2},{62,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{806,2},{62,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{742,2},{62,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{934,2},{62,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{536,2},{112,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{110,102}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{638,2},{110,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-7}</string>
<key>spriteSize</key>
<string>{118,102}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{2,2},{118,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-6}</string>
<key>spriteSize</key>
<string>{114,102}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{216,2},{114,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-1}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{106,2},{108,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{320,2},{106,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-1}</string>
<key>spriteSize</key>
<string>{112,106}</string>
<key>spriteSourceSize</key>
<string>{180,214}</string>
<key>textureRect</key>
<string>{{428,2},{112,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>buff.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>buff.png</string>
</dict>
</dict>
</plist>