<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_monster_1009_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,9}</string>
<key>spriteSize</key>
<string>{123,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,80},{123,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-2}</string>
<key>spriteSize</key>
<string>{121,127}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{268,54},{121,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1009_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-5}</string>
<key>spriteSize</key>
<string>{121,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{265,177},{121,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-2}</string>
<key>spriteSize</key>
<string>{99,127}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{136,78},{99,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1009_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,0}</string>
<key>spriteSize</key>
<string>{128,50}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{268,2},{128,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{130,74}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{136,2},{130,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-11}</string>
<key>spriteSize</key>
<string>{132,76}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{132,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-11}</string>
<key>spriteSize</key>
<string>{114,90}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{397,172},{114,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1009_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,-11}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{398,2},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1009_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,-6}</string>
<key>spriteSize</key>
<string>{98,72}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{397,98},{98,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{211,179},{52,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{88,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{388,288},{88,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{80,80}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,203},{80,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1009_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{82,66}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{127,179},{82,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_monster_1009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_monster_1009.png</string>
</dict>
</dict>
</plist>