<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>FSZB_guang_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{139,119}</string>
<key>spriteSourceSize</key>
<string>{153,127}</string>
<key>textureRect</key>
<string>{{192,602},{139,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_guang_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{148,120}</string>
<key>spriteSourceSize</key>
<string>{160,134}</string>
<key>textureRect</key>
<string>{{709,546},{148,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_guang_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{150,132}</string>
<key>spriteSourceSize</key>
<string>{176,148}</string>
<key>textureRect</key>
<string>{{575,554},{150,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_guang_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{150,137}</string>
<key>spriteSourceSize</key>
<string>{168,149}</string>
<key>textureRect</key>
<string>{{685,407},{150,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_guang_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{153,145}</string>
<key>spriteSourceSize</key>
<string>{181,175}</string>
<key>textureRect</key>
<string>{{538,285},{153,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_guang_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{176,151}</string>
<key>spriteSourceSize</key>
<string>{180,159}</string>
<key>textureRect</key>
<string>{{500,2},{176,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_guang_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{212,197}</string>
<key>spriteSourceSize</key>
<string>{216,197}</string>
<key>textureRect</key>
<string>{{2,203},{212,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_guang_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{212,199}</string>
<key>spriteSourceSize</key>
<string>{216,207}</string>
<key>textureRect</key>
<string>{{2,2},{212,199}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_guang_9_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{152,147}</string>
<key>spriteSourceSize</key>
<string>{182,167}</string>
<key>textureRect</key>
<string>{{685,258},{152,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_lizi_9_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-11}</string>
<key>spriteSize</key>
<string>{112,136}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{538,440},{112,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-22}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{846,152},{128,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-20}</string>
<key>spriteSize</key>
<string>{132,170}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{404,388},{132,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_lizi_9_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-31}</string>
<key>spriteSize</key>
<string>{136,142}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{313,600},{136,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_lizi_9_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-31}</string>
<key>spriteSize</key>
<string>{138,148}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{831,562},{138,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-26}</string>
<key>spriteSize</key>
<string>{138,152}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{839,282},{138,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-22}</string>
<key>spriteSize</key>
<string>{138,148}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{837,422},{138,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-21}</string>
<key>spriteSize</key>
<string>{140,148}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{876,2},{140,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_lizi_9_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-22}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{678,128},{128,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_lizi_9_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-19}</string>
<key>spriteSize</key>
<string>{122,168}</string>
<key>spriteSourceSize</key>
<string>{188,210}</string>
<key>textureRect</key>
<string>{{451,560},{122,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{128,170}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{500,155},{128,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_piaodai_9_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{138,184}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{356,202},{138,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{140,188}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{2,602},{140,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZB_piaodai_9_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{142,198}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{216,2},{142,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{140,198}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{2,402},{140,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{138,198}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{360,2},{138,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{138,198}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{216,202},{138,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{134,198}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{144,402},{134,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{122,196}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{280,402},{122,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZB_piaodai_9_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{124,196}</string>
<key>spriteSourceSize</key>
<string>{162,198}</string>
<key>textureRect</key>
<string>{{678,2},{124,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZB_dengji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZB_dengji.png</string>
</dict>
</dict>
</plist>