<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>DaDou_yanwu_00001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-13}</string>
<key>spriteSize</key>
<string>{165,79}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{266,232},{165,79}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DaDou_yanwu_00002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-10}</string>
<key>spriteSize</key>
<string>{167,85}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{171,421},{167,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{161,85}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{2,325},{161,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-12}</string>
<key>spriteSize</key>
<string>{155,79}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{347,364},{155,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-2}</string>
<key>spriteSize</key>
<string>{173,99}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{2,224},{173,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-2}</string>
<key>spriteSize</key>
<string>{171,101}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{2,121},{171,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-10}</string>
<key>spriteSize</key>
<string>{167,85}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{2,421},{167,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-14}</string>
<key>spriteSize</key>
<string>{187,87}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{177,232},{187,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DaDou_yanwu_00009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{179,99}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{352,183},{179,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DaDou_yanwu_00010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{179,111}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{354,2},{179,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DaDou_yanwu_00011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,3}</string>
<key>spriteSize</key>
<string>{173,111}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{177,119},{173,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,5}</string>
<key>spriteSize</key>
<string>{175,115}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{177,2},{175,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DaDou_yanwu_00013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,6}</string>
<key>spriteSize</key>
<string>{173,117}</string>
<key>spriteSourceSize</key>
<string>{197,131}</string>
<key>textureRect</key>
<string>{{2,2},{173,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>DaDou_yanwu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>DaDou_yanwu.png</string>
</dict>
</dict>
</plist>