<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>jindun_buff_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-9}</string>
<key>spriteSize</key>
<string>{225,230}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{234,2},{225,230}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>jindun_buff_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-9}</string>
<key>spriteSize</key>
<string>{245,230}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{249,689},{245,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jindun_buff_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{257,228}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{2,459},{257,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jindun_buff_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-9}</string>
<key>spriteSize</key>
<string>{237,228}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{261,459},{237,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jindun_buff_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-9}</string>
<key>spriteSize</key>
<string>{225,230}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{2,2},{225,230}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>jindun_buff_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-9}</string>
<key>spriteSize</key>
<string>{245,230}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{2,689},{245,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jindun_buff_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{257,228}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{2,229},{257,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jindun_buff_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-8}</string>
<key>spriteSize</key>
<string>{237,228}</string>
<key>spriteSourceSize</key>
<string>{257,248}</string>
<key>textureRect</key>
<string>{{261,229},{237,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>jindun.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>jindun.png</string>
</dict>
</dict>
</plist>