<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_1005_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,90}</string>
<key>spriteSize</key>
<string>{186,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{186,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,89}</string>
<key>spriteSize</key>
<string>{184,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,190},{184,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,88}</string>
<key>spriteSize</key>
<string>{184,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,564},{184,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,88}</string>
<key>spriteSize</key>
<string>{186,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,378},{186,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,88}</string>
<key>spriteSize</key>
<string>{186,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,376},{186,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,89}</string>
<key>spriteSize</key>
<string>{186,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,190},{186,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1005_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,89}</string>
<key>spriteSize</key>
<string>{186,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,2},{186,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_1005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_1005.png</string>
</dict>
</dict>
</plist>