<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1005_000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-12}</string>
<key>spriteSize</key>
<string>{109,87}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{233,496},{109,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-8}</string>
<key>spriteSize</key>
<string>{109,89}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{122,407},{109,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-7}</string>
<key>spriteSize</key>
<string>{109,87}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{233,407},{109,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-7}</string>
<key>spriteSize</key>
<string>{109,85}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,472},{109,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-6}</string>
<key>spriteSize</key>
<string>{193,171}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{200,2},{193,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{183,167}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,107},{183,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-5}</string>
<key>spriteSize</key>
<string>{141,163}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{187,264},{141,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-4}</string>
<key>spriteSize</key>
<string>{145,157}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{352,351},{145,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,63}</string>
<key>spriteSize</key>
<string>{113,72}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{395,2},{113,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,29}</string>
<key>spriteSize</key>
<string>{111,118}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{2,359},{111,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{111,182}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{395,76},{111,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-19}</string>
<key>spriteSize</key>
<string>{103,196}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{2,2},{103,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-4}</string>
<key>spriteSize</key>
<string>{89,154}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{355,260},{89,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-11}</string>
<key>spriteSize</key>
<string>{87,166}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{187,175},{87,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-35}</string>
<key>spriteSize</key>
<string>{81,120}</string>
<key>spriteSourceSize</key>
<string>{225,300}</string>
<key>textureRect</key>
<string>{{2,276},{81,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_monster_1005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_monster_1005.png</string>
</dict>
</dict>
</plist>