<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>1005_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{58,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,150},{58,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{60,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,66},{60,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,32}</string>
<key>spriteSize</key>
<string>{64,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,272},{64,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,17}</string>
<key>spriteSize</key>
<string>{84,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,198},{84,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,16}</string>
<key>spriteSize</key>
<string>{86,54}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,158},{86,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{100,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{100,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,29}</string>
<key>spriteSize</key>
<string>{92,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,2},{92,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{98,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,2},{98,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,140},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,128},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,88},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{68,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,358},{68,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{68,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,272},{68,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,80},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,78},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{60,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,210},{60,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,47}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,70},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,54}</string>
<key>spriteSize</key>
<string>{76,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,352},{76,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,32}</string>
<key>spriteSize</key>
<string>{66,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,444},{66,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,30}</string>
<key>spriteSize</key>
<string>{64,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,430},{64,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,29}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{72,358},{62,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,40}</string>
<key>spriteSize</key>
<string>{62,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,2},{62,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{66,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,2},{66,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,442},{68,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,40}</string>
<key>spriteSize</key>
<string>{60,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,148},{60,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{64,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,272},{64,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,32}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,350},{72,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{68,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,272},{68,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1005_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,38}</string>
<key>spriteSize</key>
<string>{60,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{72,272},{60,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_1005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_1005.png</string>
</dict>
</dict>
</plist>