<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>gold_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{1,1},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{1,172},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{185,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{379,172},{185,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{183,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{568,1},{183,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{190,1},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{566,172},{185,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{183,167}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{753,1},{183,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{179,165}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{753,170},{179,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{190,172},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>gold_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{187,169}</string>
<key>textureRect</key>
<string>{{379,1},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>gold_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>gold_5.png</string>
</dict>
</dict>
</plist>