<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>orange_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{2,704},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-5}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{199,521},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{189,169}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{199,179},{189,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{193,171}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{2,531},{193,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{195,173}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{2,356},{195,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{199,175}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{2,2},{199,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{195,175}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{2,179},{195,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{191,177}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{197,692},{191,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{185,175}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{203,2},{185,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>orange_smoke_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-3}</string>
<key>spriteSize</key>
<string>{187,169}</string>
<key>spriteSourceSize</key>
<string>{241,223}</string>
<key>textureRect</key>
<string>{{199,350},{187,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>orange_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>orange_3.png</string>
</dict>
</dict>
</plist>