<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>purple_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-5}</string>
<key>spriteSize</key>
<string>{189,175}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{201,531},{189,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-7}</string>
<key>spriteSize</key>
<string>{193,173}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{203,183},{193,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-8}</string>
<key>spriteSize</key>
<string>{197,171}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{201,358},{197,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-7}</string>
<key>spriteSize</key>
<string>{197,175}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{2,356},{197,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{199,173}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{2,181},{199,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{199,177}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{2,2},{199,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{195,179}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{203,2},{195,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{193,179}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{2,533},{193,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{187,181}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{197,708},{187,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>purple_smoke_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-5}</string>
<key>spriteSize</key>
<string>{187,177}</string>
<key>spriteSourceSize</key>
<string>{279,193}</string>
<key>textureRect</key>
<string>{{2,714},{187,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Purple_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Purple_2.png</string>
</dict>
</dict>
</plist>