<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>red_smoke_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-8}</string>
<key>spriteSize</key>
<string>{189,174}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{2,799},{189,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-10}</string>
<key>spriteSize</key>
<string>{193,172}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{193,763},{193,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-10}</string>
<key>spriteSize</key>
<string>{197,172}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{197,2},{197,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-9}</string>
<key>spriteSize</key>
<string>{197,176}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{2,600},{197,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-8}</string>
<key>spriteSize</key>
<string>{199,174}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{182,562},{199,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-5}</string>
<key>spriteSize</key>
<string>{199,178}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{2,202},{199,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{195,178}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{2,403},{195,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>red_smoke_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,2}</string>
<key>spriteSize</key>
<string>{193,198}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{2,2},{193,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{187,180}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{182,202},{187,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>red_smoke_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-8}</string>
<key>spriteSize</key>
<string>{187,176}</string>
<key>spriteSourceSize</key>
<string>{235,202}</string>
<key>textureRect</key>
<string>{{182,384},{187,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Red_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Red_4.png</string>
</dict>
</dict>
</plist>