<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_dutiaoui_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{80,79}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{248,85},{80,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{248,2},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{166,85},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{166,2},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{84,85},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{84,2},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{2,85},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dutiaoui_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{80,81}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{2,2},{80,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{58,71}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{188,168},{58,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{58,79}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{330,83},{58,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{62,75}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{66,168},{62,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{52,73}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{308,166},{52,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{56,75}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{130,168},{56,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{58,79}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{330,2},{58,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{62,75}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{2,168},{62,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVExiaoguo_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{58,77}</string>
<key>spriteSourceSize</key>
<string>{78,83}</string>
<key>textureRect</key>
<string>{{248,166},{58,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_dutiaoui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_dutiaoui.png</string>
</dict>
</dict>
</plist>