<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9011_skill_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-153}</string>
<key>spriteSize</key>
<string>{234,364}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{770,878},{234,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9011_skill_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-40}</string>
<key>spriteSize</key>
<string>{194,376}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{394,548},{194,376}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,160}</string>
<key>spriteSize</key>
<string>{278,416}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{434,2},{278,416}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,155}</string>
<key>spriteSize</key>
<string>{282,430}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{282,430}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,106}</string>
<key>spriteSize</key>
<string>{264,406}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{434,282},{264,406}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,58}</string>
<key>spriteSize</key>
<string>{246,404}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,286},{246,404}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-168}</string>
<key>spriteSize</key>
<string>{236,328}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{772,548},{236,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9011_skill_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-139}</string>
<key>spriteSize</key>
<string>{224,366}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,764},{224,366}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-160}</string>
<key>spriteSize</key>
<string>{254,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,990},{254,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-142}</string>
<key>spriteSize</key>
<string>{252,374}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{394,744},{252,374}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9011_skill_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-132}</string>
<key>spriteSize</key>
<string>{228,390}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,534},{228,390}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9011_skill.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9011_skill.png</string>
</dict>
</dict>
</plist>