<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8001_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{88,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,1236},{88,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{88,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{542,1204},{88,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{90,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{682,1198},{90,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{92,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,1180},{92,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,60}</string>
<key>spriteSize</key>
<string>{96,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,1174},{96,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,60}</string>
<key>spriteSize</key>
<string>{96,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,1138},{96,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,60}</string>
<key>spriteSize</key>
<string>{94,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,1244},{94,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,60}</string>
<key>spriteSize</key>
<string>{92,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1288},{92,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{682,1122},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,1104},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,1054},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,1046},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,1028},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,970},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,314},{74,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{72,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,1130},{72,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,49}</string>
<key>spriteSize</key>
<string>{92,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,842},{92,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{90,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,834},{90,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,48}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,1082},{90,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,48}</string>
<key>spriteSize</key>
<string>{92,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,1044},{92,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,48}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,956},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,48}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,870},{98,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,48}</string>
<key>spriteSize</key>
<string>{102,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1062},{102,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,49}</string>
<key>spriteSize</key>
<string>{96,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,736},{96,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,658},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,820},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1042},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{116,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,926},{116,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{120,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,834},{120,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,50}</string>
<key>spriteSize</key>
<string>{124,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,936},{124,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,50}</string>
<key>spriteSize</key>
<string>{124,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,916},{124,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,50}</string>
<key>spriteSize</key>
<string>{120,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,794},{120,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{94,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,724},{94,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{92,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,484},{92,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{94,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,562},{94,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{96,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,300},{96,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,51}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,588},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,54}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,598},{102,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,55}</string>
<key>spriteSize</key>
<string>{100,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{880,740},{100,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{98,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,780},{98,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,61}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1156},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,54}</string>
<key>spriteSize</key>
<string>{82,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1382},{82,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,62}</string>
<key>spriteSize</key>
<string>{94,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,774},{94,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,78}</string>
<key>spriteSize</key>
<string>{104,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,194},{104,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,77}</string>
<key>spriteSize</key>
<string>{86,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,124},{86,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,69}</string>
<key>spriteSize</key>
<string>{92,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,314},{92,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,55}</string>
<key>spriteSize</key>
<string>{98,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,1340},{98,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,48}</string>
<key>spriteSize</key>
<string>{86,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,1272},{86,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,47}</string>
<key>spriteSize</key>
<string>{108,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,536},{108,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{90,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,936},{90,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{86,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{642,448},{86,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,65}</string>
<key>spriteSize</key>
<string>{90,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,606},{90,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,71}</string>
<key>spriteSize</key>
<string>{112,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,356},{112,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,80}</string>
<key>spriteSize</key>
<string>{112,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,128},{112,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,71}</string>
<key>spriteSize</key>
<string>{106,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,300},{106,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,52}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,1274},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,48}</string>
<key>spriteSize</key>
<string>{202,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,98},{202,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,47}</string>
<key>spriteSize</key>
<string>{210,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{210,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{86,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,880},{86,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,59}</string>
<key>spriteSize</key>
<string>{134,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,698},{134,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{136,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,346},{136,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,56}</string>
<key>spriteSize</key>
<string>{112,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,242},{112,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,79}</string>
<key>spriteSize</key>
<string>{120,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,2},{120,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,65}</string>
<key>spriteSize</key>
<string>{152,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,408},{152,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{144,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,578},{144,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,45}</string>
<key>spriteSize</key>
<string>{204,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,2},{204,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,45}</string>
<key>spriteSize</key>
<string>{194,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,216},{194,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,47}</string>
<key>spriteSize</key>
<string>{88,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,646},{88,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,61}</string>
<key>spriteSize</key>
<string>{126,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,338},{126,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,54}</string>
<key>spriteSize</key>
<string>{122,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,222},{122,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,53}</string>
<key>spriteSize</key>
<string>{100,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,212},{100,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,72}</string>
<key>spriteSize</key>
<string>{94,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,2},{94,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,53}</string>
<key>spriteSize</key>
<string>{134,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,466},{134,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,54}</string>
<key>spriteSize</key>
<string>{116,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,470},{116,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,49}</string>
<key>spriteSize</key>
<string>{120,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,602},{120,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,55}</string>
<key>spriteSize</key>
<string>{120,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1166},{120,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,53}</string>
<key>spriteSize</key>
<string>{88,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,690},{88,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,62}</string>
<key>spriteSize</key>
<string>{82,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,2},{82,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,51}</string>
<key>spriteSize</key>
<string>{92,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,408},{92,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,68}</string>
<key>spriteSize</key>
<string>{106,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,86},{106,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,75}</string>
<key>spriteSize</key>
<string>{90,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,124},{90,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,51}</string>
<key>spriteSize</key>
<string>{98,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,450},{98,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,66}</string>
<key>spriteSize</key>
<string>{102,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,502},{102,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,62}</string>
<key>spriteSize</key>
<string>{86,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,706},{86,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,66}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,968},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8001.png</string>
</dict>
</dict>
</plist>