<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7012_guangquan_130.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{138,143}</string>
<key>spriteSourceSize</key>
<string>{140,143}</string>
<key>textureRect</key>
<string>{{478,463},{138,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_sandian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{73,60}</string>
<key>spriteSourceSize</key>
<string>{83,62}</string>
<key>textureRect</key>
<string>{{645,391},{73,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_sandian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{83,54}</string>
<key>spriteSourceSize</key>
<string>{83,62}</string>
<key>textureRect</key>
<string>{{814,473},{83,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_sandian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{83,52}</string>
<key>spriteSourceSize</key>
<string>{83,62}</string>
<key>textureRect</key>
<string>{{966,475},{83,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,49}</string>
<key>spriteSize</key>
<string>{57,123}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{899,376},{57,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,8}</string>
<key>spriteSize</key>
<string>{73,205}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{2,272},{73,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{123,221}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{508,2},{123,221}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-7}</string>
<key>spriteSize</key>
<string>{153,219}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{2,117},{153,219}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{153,219}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{274,115},{153,219}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-11}</string>
<key>spriteSize</key>
<string>{153,199}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{2,347},{153,199}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{131,185}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{495,127},{131,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shandian2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-10}</string>
<key>spriteSize</key>
<string>{99,133}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{923,165},{99,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_shandian2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-9}</string>
<key>spriteSize</key>
<string>{79,161}</string>
<key>spriteSourceSize</key>
<string>{159,233}</string>
<key>textureRect</key>
<string>{{495,260},{79,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shifa_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,-3}</string>
<key>spriteSize</key>
<string>{61,48}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{223,117},{61,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shifa_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{149,58}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{645,453},{149,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shifa_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{149,58}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{265,419},{149,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_shifa_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{149,58}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{494,403},{149,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_shifa_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{149,60}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{494,341},{149,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_shifa_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{149,60}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{203,364},{149,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shifa_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{149,60}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{271,357},{149,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_shifa_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{149,60}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{432,270},{149,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_shifa_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,2}</string>
<key>spriteSize</key>
<string>{107,40}</string>
<key>spriteSourceSize</key>
<string>{149,74}</string>
<key>textureRect</key>
<string>{{705,473},{107,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-84,5}</string>
<key>spriteSize</key>
<string>{170,75}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{727,307},{170,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,14}</string>
<key>spriteSize</key>
<string>{190,99}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{731,107},{190,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,17}</string>
<key>spriteSize</key>
<string>{176,97}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{730,208},{176,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{198,103}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{731,2},{198,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-1}</string>
<key>spriteSize</key>
<string>{232,111}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{274,2},{232,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_tuzi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,-8}</string>
<key>spriteSize</key>
<string>{270,113}</string>
<key>spriteSourceSize</key>
<string>{532,227}</string>
<key>textureRect</key>
<string>{{2,2},{270,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xiangsuge_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{3,3}</string>
<key>spriteSourceSize</key>
<string>{3,3}</string>
<key>textureRect</key>
<string>{{495,115},{3,3}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xuanzhuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{887,435},{132,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xuanzhuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-10}</string>
<key>spriteSize</key>
<string>{80,40}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{964,560},{80,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_xuanzhuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{108,46}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{223,254},{108,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_xuanzhuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{106,46}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{682,127},{106,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_xuanzhuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{108,74}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{908,300},{108,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xuanzhuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,1}</string>
<key>spriteSize</key>
<string>{120,58}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{416,466},{120,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_xuanzhuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,5}</string>
<key>spriteSize</key>
<string>{94,52}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{870,475},{94,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xuanzhuang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{120,54}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{265,479},{120,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_xuanzhuang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-1}</string>
<key>spriteSize</key>
<string>{66,54}</string>
<key>spriteSourceSize</key>
<string>{136,80}</string>
<key>textureRect</key>
<string>{{658,335},{66,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yanchen_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{92,43}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{870,529},{92,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yanchen_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{98,43}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{682,235},{98,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_yanchen_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-2}</string>
<key>spriteSize</key>
<string>{96,51}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{705,515},{96,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yanchen_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,-3}</string>
<key>spriteSize</key>
<string>{72,47}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{223,180},{72,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_yanchen_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,-3}</string>
<key>spriteSize</key>
<string>{72,47}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{223,180},{72,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_yanchen_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,2}</string>
<key>spriteSize</key>
<string>{60,43}</string>
<key>spriteSourceSize</key>
<string>{110,57}</string>
<key>textureRect</key>
<string>{{416,421},{60,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{161,89}</string>
<key>spriteSourceSize</key>
<string>{267,149}</string>
<key>textureRect</key>
<string>{{931,2},{161,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_yun_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{159,87}</string>
<key>spriteSourceSize</key>
<string>{267,149}</string>
<key>textureRect</key>
<string>{{726,384},{159,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_yun_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{159,85}</string>
<key>spriteSourceSize</key>
<string>{267,149}</string>
<key>textureRect</key>
<string>{{271,270},{159,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7012_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7012_skill_4.png</string>
</dict>
</dict>
</plist>