<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8001_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,47}</string>
<key>spriteSize</key>
<string>{98,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,580},{98,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{122,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,610},{122,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,47}</string>
<key>spriteSize</key>
<string>{86,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,220},{86,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,42}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{810,478},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,38}</string>
<key>spriteSize</key>
<string>{96,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,698},{96,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,41}</string>
<key>spriteSize</key>
<string>{130,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,448},{130,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{782,238},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,412},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,384},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,310},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,298},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,236},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,336},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{74,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,308},{74,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,60}</string>
<key>spriteSize</key>
<string>{86,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,222},{86,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,64}</string>
<key>spriteSize</key>
<string>{72,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,374},{72,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,65}</string>
<key>spriteSize</key>
<string>{88,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,208},{88,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,77}</string>
<key>spriteSize</key>
<string>{104,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,2},{104,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,83}</string>
<key>spriteSize</key>
<string>{98,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,122},{98,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,70}</string>
<key>spriteSize</key>
<string>{92,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,126},{92,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,55}</string>
<key>spriteSize</key>
<string>{100,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,830},{100,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,54}</string>
<key>spriteSize</key>
<string>{172,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,2},{172,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,52}</string>
<key>spriteSize</key>
<string>{180,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{180,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,60}</string>
<key>spriteSize</key>
<string>{102,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,132},{102,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,55}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,628},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,52}</string>
<key>spriteSize</key>
<string>{132,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,368},{132,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,42}</string>
<key>spriteSize</key>
<string>{120,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,536},{120,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,51}</string>
<key>spriteSize</key>
<string>{108,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,830},{108,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{100,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,478},{100,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,49}</string>
<key>spriteSize</key>
<string>{164,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,2},{164,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,66}</string>
<key>spriteSize</key>
<string>{80,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,312},{80,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,48}</string>
<key>spriteSize</key>
<string>{130,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,394},{130,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,45}</string>
<key>spriteSize</key>
<string>{146,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,110},{146,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,50}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,520},{128,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{128,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{920,238},{128,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,55}</string>
<key>spriteSize</key>
<string>{132,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,460},{132,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{120,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,500},{120,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,53}</string>
<key>spriteSize</key>
<string>{122,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,586},{122,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,67}</string>
<key>spriteSize</key>
<string>{128,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,108},{128,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,82}</string>
<key>spriteSize</key>
<string>{128,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,2},{128,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,76}</string>
<key>spriteSize</key>
<string>{118,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,424},{118,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,71}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,712},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,75}</string>
<key>spriteSize</key>
<string>{132,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,386},{132,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,58}</string>
<key>spriteSize</key>
<string>{132,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{132,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,50}</string>
<key>spriteSize</key>
<string>{132,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,314},{132,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,45}</string>
<key>spriteSize</key>
<string>{152,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,108},{152,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,36}</string>
<key>spriteSize</key>
<string>{140,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,2},{140,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001_skills_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,46}</string>
<key>spriteSize</key>
<string>{140,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,222},{140,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8001.png</string>
</dict>
</dict>
</plist>