<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9028_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{100,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,332},{100,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{102,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{360,150},{102,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{122,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{128,2},{122,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,28}</string>
<key>spriteSize</key>
<string>{124,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{124,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{110,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{370,2},{110,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,7}</string>
<key>spriteSize</key>
<string>{98,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{412,344},{98,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,11}</string>
<key>spriteSize</key>
<string>{92,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,582},{92,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,20}</string>
<key>spriteSize</key>
<string>{100,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{438,242},{100,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,34}</string>
<key>spriteSize</key>
<string>{90,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,592},{90,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,31}</string>
<key>spriteSize</key>
<string>{82,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{92,734},{82,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{202,346},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{86,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{210,258},{86,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,644},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,16}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,346},{90,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,15}</string>
<key>spriteSize</key>
<string>{92,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{288,534},{92,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,17}</string>
<key>spriteSize</key>
<string>{88,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,676},{88,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,32}</string>
<key>spriteSize</key>
<string>{94,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{300,470},{94,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,36}</string>
<key>spriteSize</key>
<string>{82,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{376,638},{82,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,31}</string>
<key>spriteSize</key>
<string>{64,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{300,404},{64,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,37}</string>
<key>spriteSize</key>
<string>{60,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{396,500},{60,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,38}</string>
<key>spriteSize</key>
<string>{52,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,438},{52,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,35}</string>
<key>spriteSize</key>
<string>{62,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{202,428},{62,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,20}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{370,74},{74,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,22}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{252,90},{76,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,25}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{230,168},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,36}</string>
<key>spriteSize</key>
<string>{86,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{288,618},{86,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,34}</string>
<key>spriteSize</key>
<string>{76,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{376,700},{76,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{82,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,262},{82,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{184,660},{80,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,40}</string>
<key>spriteSize</key>
<string>{98,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{312,320},{98,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,38}</string>
<key>spriteSize</key>
<string>{96,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,414},{96,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,29}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,580},{78,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,32}</string>
<key>spriteSize</key>
<string>{80,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,250},{80,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,34}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,242},{76,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,36}</string>
<key>spriteSize</key>
<string>{74,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{382,562},{74,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{70,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,754},{70,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,39}</string>
<key>spriteSize</key>
<string>{102,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,158},{102,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,42}</string>
<key>spriteSize</key>
<string>{104,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{124,94},{104,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,39}</string>
<key>spriteSize</key>
<string>{120,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,80},{120,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,38}</string>
<key>spriteSize</key>
<string>{116,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{252,2},{116,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{102,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,180},{102,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,33}</string>
<key>spriteSize</key>
<string>{92,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,492},{92,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{88,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{398,410},{88,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9028_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,33}</string>
<key>spriteSize</key>
<string>{92,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,492},{92,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9028_run_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,38}</string>
<key>spriteSize</key>
<string>{92,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,504},{92,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9028_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9028_run.png</string>
</dict>
</dict>
</plist>