<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_0000_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,84}</string>
<key>spriteSize</key>
<string>{138,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,142},{138,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,83}</string>
<key>spriteSize</key>
<string>{138,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,176},{138,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0000_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,81}</string>
<key>spriteSize</key>
<string>{138,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,282},{138,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,80}</string>
<key>spriteSize</key>
<string>{138,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,422},{138,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,80}</string>
<key>spriteSize</key>
<string>{138,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,356},{138,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0000_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,80}</string>
<key>spriteSize</key>
<string>{140,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,2},{140,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0000_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,81}</string>
<key>spriteSize</key>
<string>{138,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,282},{138,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,82}</string>
<key>spriteSize</key>
<string>{138,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,142},{138,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,82}</string>
<key>spriteSize</key>
<string>{138,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,2},{138,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0000_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,83}</string>
<key>spriteSize</key>
<string>{138,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{138,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_0000.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_0000.png</string>
</dict>
</dict>
</plist>