<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>TY_baofengxue_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-61,-5}</string>
<key>spriteSize</key>
<string>{213,356}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{2,2},{213,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-88,53}</string>
<key>spriteSize</key>
<string>{109,156}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{466,2},{109,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-67,17}</string>
<key>spriteSize</key>
<string>{115,158}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{229,876},{115,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,0}</string>
<key>spriteSize</key>
<string>{137,180}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{389,861},{137,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-36}</string>
<key>spriteSize</key>
<string>{247,252}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{217,2},{247,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,-103}</string>
<key>spriteSize</key>
<string>{241,156}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{2,360},{241,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,-118}</string>
<key>spriteSize</key>
<string>{245,126}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{134,624},{245,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,-116}</string>
<key>spriteSize</key>
<string>{247,130}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{2,603},{247,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-122}</string>
<key>spriteSize</key>
<string>{249,118}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{217,256},{249,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-121}</string>
<key>spriteSize</key>
<string>{249,120}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{160,502},{249,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-119}</string>
<key>spriteSize</key>
<string>{249,124}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{160,376},{249,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-118}</string>
<key>spriteSize</key>
<string>{245,122}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{134,752},{245,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_baofengxue_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-117}</string>
<key>spriteSize</key>
<string>{243,122}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{411,376},{243,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-117}</string>
<key>spriteSize</key>
<string>{235,118}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{381,624},{235,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_baofengxue_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-117}</string>
<key>spriteSize</key>
<string>{225,112}</string>
<key>spriteSourceSize</key>
<string>{563,614}</string>
<key>textureRect</key>
<string>{{2,876},{225,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Atlas.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Atlas.png</string>
</dict>
</dict>
</plist>