<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6008_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,53}</string>
<key>spriteSize</key>
<string>{96,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,356},{96,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,29}</string>
<key>spriteSize</key>
<string>{158,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,150},{158,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,2}</string>
<key>spriteSize</key>
<string>{212,42}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{212,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,46}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,626},{92,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,44}</string>
<key>spriteSize</key>
<string>{86,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,478},{86,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,40}</string>
<key>spriteSize</key>
<string>{82,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,384},{82,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,55}</string>
<key>spriteSize</key>
<string>{72,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,242},{72,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,54}</string>
<key>spriteSize</key>
<string>{70,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,282},{70,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,54}</string>
<key>spriteSize</key>
<string>{68,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{802,316},{68,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,54}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,336},{66,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,54}</string>
<key>spriteSize</key>
<string>{64,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,362},{64,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,54}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,386},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,54}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,428},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,54}</string>
<key>spriteSize</key>
<string>{70,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,404},{70,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,54}</string>
<key>spriteSize</key>
<string>{72,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,354},{72,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,54}</string>
<key>spriteSize</key>
<string>{72,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,552},{72,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,43}</string>
<key>spriteSize</key>
<string>{102,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{756,454},{102,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,47}</string>
<key>spriteSize</key>
<string>{84,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,820},{84,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,720},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,43}</string>
<key>spriteSize</key>
<string>{174,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,46},{174,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,46}</string>
<key>spriteSize</key>
<string>{152,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,232},{152,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,584},{84,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,54}</string>
<key>spriteSize</key>
<string>{94,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,458},{94,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,55}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,212},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,58}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,70},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,57}</string>
<key>spriteSize</key>
<string>{146,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,338},{146,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,428},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,476},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,55}</string>
<key>spriteSize</key>
<string>{110,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,554},{110,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,60}</string>
<key>spriteSize</key>
<string>{92,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,118},{92,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,58}</string>
<key>spriteSize</key>
<string>{90,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,460},{90,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,59}</string>
<key>spriteSize</key>
<string>{90,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,190},{90,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,42}</string>
<key>spriteSize</key>
<string>{112,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{930,242},{112,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,49}</string>
<key>spriteSize</key>
<string>{124,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,134},{124,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,666},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,67}</string>
<key>spriteSize</key>
<string>{116,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,506},{116,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,55}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,498},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,48}</string>
<key>spriteSize</key>
<string>{152,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,242},{152,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-91,34}</string>
<key>spriteSize</key>
<string>{150,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,232},{150,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-78,31}</string>
<key>spriteSize</key>
<string>{142,66}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,2},{142,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-101,70}</string>
<key>spriteSize</key>
<string>{130,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,2},{130,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-140,147}</string>
<key>spriteSize</key>
<string>{160,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,104},{160,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-85,174}</string>
<key>spriteSize</key>
<string>{106,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,254},{106,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,154}</string>
<key>spriteSize</key>
<string>{148,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,334},{148,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,91}</string>
<key>spriteSize</key>
<string>{158,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,112},{158,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,48}</string>
<key>spriteSize</key>
<string>{174,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,2},{174,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,44}</string>
<key>spriteSize</key>
<string>{164,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,2},{164,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6008_skills_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,43}</string>
<key>spriteSize</key>
<string>{168,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,2},{168,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6008.png</string>
</dict>
</dict>
</plist>