<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_zengjiamingzhong1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{175,102}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{289,397},{175,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{175,108}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{289,2},{175,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-15}</string>
<key>spriteSize</key>
<string>{175,90}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{108,399},{175,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{175,104}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{2,295},{175,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiamingzhong1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{175,106}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{112,291},{175,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{175,110}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{2,2},{175,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{179,108}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{2,114},{179,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiamingzhong1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{179,108}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{179,2},{179,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiamingzhong1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{179,106}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{112,183},{179,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{177,106}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{401,112},{177,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiamingzhong1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{177,106}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{293,112},{177,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiamingzhong1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{173,104}</string>
<key>spriteSourceSize</key>
<string>{183,124}</string>
<key>textureRect</key>
<string>{{289,291},{173,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zengjiamingzhong.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zengjiamingzhong.png</string>
</dict>
</dict>
</plist>