<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>zq_effect_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{354,223}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{2,2},{354,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,4}</string>
<key>spriteSize</key>
<string>{354,221}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{2,227},{354,221}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,6}</string>
<key>spriteSize</key>
<string>{354,219}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{2,450},{354,219}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,7}</string>
<key>spriteSize</key>
<string>{354,217}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{424,659},{354,217}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zq_effect_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,9}</string>
<key>spriteSize</key>
<string>{350,217}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{358,440},{350,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,9}</string>
<key>spriteSize</key>
<string>{350,217}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{358,221},{350,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,9}</string>
<key>spriteSize</key>
<string>{352,217}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{358,2},{352,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zq_effect_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,8}</string>
<key>spriteSize</key>
<string>{350,213}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{2,671},{350,213}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zq_effect_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,8}</string>
<key>spriteSize</key>
<string>{346,205}</string>
<key>spriteSourceSize</key>
<string>{474,281}</string>
<key>textureRect</key>
<string>{{217,671},{346,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZQ_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZQ_UI.png</string>
</dict>
</dict>
</plist>