<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>GWTP_yanjing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{67,66}</string>
<key>spriteSourceSize</key>
<string>{83,82}</string>
<key>textureRect</key>
<string>{{374,577},{67,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GW_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,5}</string>
<key>spriteSize</key>
<string>{150,141}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{2,577},{150,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,2}</string>
<key>spriteSize</key>
<string>{178,147}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{154,567},{178,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-14}</string>
<key>spriteSize</key>
<string>{192,177}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{2,211},{192,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-15}</string>
<key>spriteSize</key>
<string>{192,181}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{204,203},{192,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-8}</string>
<key>spriteSize</key>
<string>{192,165}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{196,386},{192,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-3}</string>
<key>spriteSize</key>
<string>{192,157}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{2,390},{192,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-6}</string>
<key>spriteSize</key>
<string>{194,163}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{204,38},{194,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-10}</string>
<key>spriteSize</key>
<string>{200,171}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{2,38},{200,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,3}</string>
<key>spriteSize</key>
<string>{112,145}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{390,430},{112,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_guang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{78,76}</string>
<key>spriteSourceSize</key>
<string>{102,88}</string>
<key>textureRect</key>
<string>{{334,646},{78,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_hei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,1}</string>
<key>spriteSize</key>
<string>{137,97}</string>
<key>spriteSourceSize</key>
<string>{171,119}</string>
<key>textureRect</key>
<string>{{398,291},{137,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GW_wenzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,1}</string>
<key>spriteSize</key>
<string>{408,34}</string>
<key>spriteSourceSize</key>
<string>{446,68}</string>
<key>textureRect</key>
<string>{{2,2},{408,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_xuanzhuan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,6}</string>
<key>spriteSize</key>
<string>{100,99}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{400,190},{100,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,-8}</string>
<key>spriteSize</key>
<string>{39,16}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{154,549},{39,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-6}</string>
<key>spriteSize</key>
<string>{53,24}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{57,549},{53,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,0}</string>
<key>spriteSize</key>
<string>{71,38}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{414,646},{71,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GW_yanwu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,2}</string>
<key>spriteSize</key>
<string>{95,50}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{412,2},{95,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{101,46}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{400,142},{101,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{103,44}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{400,96},{103,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{105,40}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{400,54},{105,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GW_yanwu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{91,38}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{334,553},{91,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GW_yanwu_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,3}</string>
<key>spriteSize</key>
<string>{79,34}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{454,577},{79,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GW_yanwu_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,2}</string>
<key>spriteSize</key>
<string>{53,24}</string>
<key>spriteSourceSize</key>
<string>{155,82}</string>
<key>textureRect</key>
<string>{{2,549},{53,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>GW_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>GW_UI.png</string>
</dict>
</dict>
</plist>