<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>buzhen_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,7}</string>
<key>spriteSize</key>
<string>{62,298}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{139,201},{62,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buzhen_0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-23}</string>
<key>spriteSize</key>
<string>{62,312}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{435,265},{62,312}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-34}</string>
<key>spriteSize</key>
<string>{84,300}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{139,1},{84,300}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buzhen_0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-41}</string>
<key>spriteSize</key>
<string>{84,284}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{349,265},{84,284}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-47}</string>
<key>spriteSize</key>
<string>{122,266}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{1,265},{122,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-57}</string>
<key>spriteSize</key>
<string>{108,264}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{239,265},{108,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-61}</string>
<key>spriteSize</key>
<string>{112,266}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{139,87},{112,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buzhen_0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-61}</string>
<key>spriteSize</key>
<string>{112,266}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{125,265},{112,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-63}</string>
<key>spriteSize</key>
<string>{136,262}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{1,1},{136,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-151}</string>
<key>spriteSize</key>
<string>{112,86}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{95,533},{112,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-149}</string>
<key>spriteSize</key>
<string>{104,90}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{407,87},{104,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buzhen_0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-147}</string>
<key>spriteSize</key>
<string>{122,92}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{1,533},{122,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buzhen_0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-148}</string>
<key>spriteSize</key>
<string>{100,90}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{209,533},{100,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buzhen_0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-149}</string>
<key>spriteSize</key>
<string>{102,88}</string>
<key>spriteSourceSize</key>
<string>{136,388}</string>
<key>textureRect</key>
<string>{{311,551},{102,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>buzhen.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>buzhen.png</string>
</dict>
</dict>
</plist>