<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Btn_pve_begin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{80,78}</string>
<key>textureRect</key>
<string>{{700,691},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Btn_pve_end.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,95}</string>
<key>spriteSourceSize</key>
<string>{97,95}</string>
<key>textureRect</key>
<string>{{428,582},{97,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Btn_pve_unbuild.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,80}</string>
<key>spriteSourceSize</key>
<string>{80,80}</string>
<key>textureRect</key>
<string>{{808,448},{80,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY_xue.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,37}</string>
<key>spriteSourceSize</key>
<string>{72,37}</string>
<key>textureRect</key>
<string>{{977,442},{72,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CIRCLE.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{165,163}</string>
<key>spriteSourceSize</key>
<string>{167,163}</string>
<key>textureRect</key>
<string>{{847,2},{165,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_GJFW.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{298,300}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{547,2},{298,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_SYOFF.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,66}</string>
<key>spriteSourceSize</key>
<string>{67,66}</string>
<key>textureRect</key>
<string>{{952,167},{67,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_SYON.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,66}</string>
<key>spriteSourceSize</key>
<string>{67,66}</string>
<key>textureRect</key>
<string>{{952,236},{67,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Tip_tanhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,47}</string>
<key>spriteSourceSize</key>
<string>{18,47}</string>
<key>textureRect</key>
<string>{{1000,585},{18,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blood_bar_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,5}</string>
<key>spriteSourceSize</key>
<string>{29,5}</string>
<key>textureRect</key>
<string>{{687,472},{29,5}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blood_bar_fg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,5}</string>
<key>spriteSourceSize</key>
<string>{29,5}</string>
<key>textureRect</key>
<string>{{977,516},{29,5}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>diqindi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{82,82}</string>
<key>spriteSourceSize</key>
<string>{82,86}</string>
<key>textureRect</key>
<string>{{529,658},{82,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dizuo_cheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{2,819},{67,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dizuo_hong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{71,819},{67,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dizuo_huang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{935,698},{67,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dizuo_lan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{837,773},{67,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dizuo_lv.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{881,764},{67,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dizuo_zi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{67,42}</string>
<key>spriteSourceSize</key>
<string>{67,46}</string>
<key>textureRect</key>
<string>{{956,617},{67,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>enemyInfo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,85}</string>
<key>spriteSourceSize</key>
<string>{85,85}</string>
<key>textureRect</key>
<string>{{531,490},{85,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>energyIcon.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,26}</string>
<key>spriteSourceSize</key>
<string>{44,26}</string>
<key>textureRect</key>
<string>{{227,815},{44,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hunpo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{33,29}</string>
<key>spriteSourceSize</key>
<string>{35,33}</string>
<key>textureRect</key>
<string>{{985,686},{33,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinzhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,74}</string>
<key>spriteSourceSize</key>
<string>{75,76}</string>
<key>textureRect</key>
<string>{{780,698},{73,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>max.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,46}</string>
<key>spriteSourceSize</key>
<string>{79,46}</string>
<key>textureRect</key>
<string>{{146,815},{79,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>oneKeyBuild.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,87}</string>
<key>spriteSourceSize</key>
<string>{85,87}</string>
<key>textureRect</key>
<string>{{263,776},{85,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pveProgress.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{138,16}</string>
<key>spriteSourceSize</key>
<string>{138,16}</string>
<key>textureRect</key>
<string>{{547,472},{138,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pveProgressBg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,18}</string>
<key>spriteSourceSize</key>
<string>{140,18}</string>
<key>textureRect</key>
<string>{{263,756},{140,18}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pveTextBg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,61}</string>
<key>spriteSourceSize</key>
<string>{146,61}</string>
<key>textureRect</key>
<string>{{2,756},{142,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_BOSS_xutiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,7}</string>
<key>spriteSourceSize</key>
<string>{43,7}</string>
<key>textureRect</key>
<string>{{532,853},{43,7}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_alert.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{170,166}</string>
<key>spriteSourceSize</key>
<string>{170,166}</string>
<key>textureRect</key>
<string>{{547,304},{170,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_boss_xuetiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,13}</string>
<key>spriteSourceSize</key>
<string>{49,13}</string>
<key>textureRect</key>
<string>{{1000,634},{49,13}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_btn_zhanbao2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{698,771},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_close.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{50,54}</string>
<key>spriteSourceSize</key>
<string>{80,80}</string>
<key>textureRect</key>
<string>{{968,529},{50,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_icon_skill_bingyu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,85}</string>
<key>spriteSourceSize</key>
<string>{85,85}</string>
<key>textureRect</key>
<string>{{618,490},{85,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_icon_skill_bingyu_hui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,85}</string>
<key>spriteSourceSize</key>
<string>{85,85}</string>
<key>textureRect</key>
<string>{{794,530},{85,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_icon_skill_guwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,85}</string>
<key>spriteSourceSize</key>
<string>{85,85}</string>
<key>textureRect</key>
<string>{{890,442},{85,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_icon_skill_guwu_hui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,85}</string>
<key>spriteSourceSize</key>
<string>{85,85}</string>
<key>textureRect</key>
<string>{{881,530},{85,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_mingziheidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,20}</string>
<key>spriteSourceSize</key>
<string>{76,20}</string>
<key>textureRect</key>
<string>{{840,420},{76,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_cry00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{58,68}</string>
<key>spriteSourceSize</key>
<string>{74,84}</string>
<key>textureRect</key>
<string>{{925,767},{58,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_cry01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{54,66}</string>
<key>spriteSourceSize</key>
<string>{74,84}</string>
<key>textureRect</key>
<string>{{952,305},{54,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_nvhai_dead00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{85,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{531,577},{85,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-15}</string>
<key>spriteSize</key>
<string>{79,83}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{532,742},{79,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-13}</string>
<key>spriteSize</key>
<string>{85,87}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{352,776},{85,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_nvhai_dead03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-12}</string>
<key>spriteSize</key>
<string>{95,89}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{441,764},{95,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_nvhai_dead04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-15}</string>
<key>spriteSize</key>
<string>{99,83}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{428,679},{99,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,-8}</string>
<key>spriteSize</key>
<string>{101,97}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{428,483},{101,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,-20}</string>
<key>spriteSize</key>
<string>{103,73}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{847,264},{103,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-28}</string>
<key>spriteSize</key>
<string>{115,57}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{146,756},{115,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-23}</string>
<key>spriteSize</key>
<string>{119,67}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{719,379},{119,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_dead09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-20}</string>
<key>spriteSize</key>
<string>{125,73}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{719,304},{125,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{81,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{937,361},{81,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{83,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{613,739},{83,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-17}</string>
<key>spriteSize</key>
<string>{85,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{618,577},{85,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{83,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{705,610},{83,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{85,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{613,658},{85,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{87,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{719,448},{87,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-17}</string>
<key>spriteSize</key>
<string>{89,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{846,339},{89,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-17}</string>
<key>spriteSize</key>
<string>{87,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{705,529},{87,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{83,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{790,617},{83,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_nvhai_stand09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-17}</string>
<key>spriteSize</key>
<string>{79,79}</string>
<key>spriteSourceSize</key>
<string>{165,113}</string>
<key>textureRect</key>
<string>{{875,617},{79,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_shensedikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,95}</string>
<key>spriteSourceSize</key>
<string>{103,95}</string>
<key>textureRect</key>
<string>{{847,167},{103,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_zhanbao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{543,479}</string>
<key>spriteSourceSize</key>
<string>{543,483}</string>
<key>textureRect</key>
<string>{{2,2},{543,479}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_zt.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{65,64}</string>
<key>spriteSourceSize</key>
<string>{67,66}</string>
<key>textureRect</key>
<string>{{770,773},{65,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>skillEnergyCost.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,24}</string>
<key>spriteSourceSize</key>
<string>{61,24}</string>
<key>textureRect</key>
<string>{{532,827},{61,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>towerAdd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,77}</string>
<key>spriteSourceSize</key>
<string>{64,77}</string>
<key>textureRect</key>
<string>{{856,698},{64,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhandoukaishibiaoshi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{424,271}</string>
<key>spriteSourceSize</key>
<string>{424,271}</string>
<key>textureRect</key>
<string>{{2,483},{424,271}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pve.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pve.png</string>
</dict>
</dict>
</plist>