<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9011_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,-8}</string>
<key>spriteSize</key>
<string>{272,340}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1614},{272,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,-50}</string>
<key>spriteSize</key>
<string>{360,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1252},{360,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9011_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,-61}</string>
<key>spriteSize</key>
<string>{364,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,886},{364,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9011_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,17}</string>
<key>spriteSize</key>
<string>{268,318}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{574,1542},{268,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,11}</string>
<key>spriteSize</key>
<string>{228,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{354,2},{228,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,11}</string>
<key>spriteSize</key>
<string>{252,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{844,1480},{252,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,12}</string>
<key>spriteSize</key>
<string>{226,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{812,2},{226,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,12}</string>
<key>spriteSize</key>
<string>{226,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{570,506},{226,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,12}</string>
<key>spriteSize</key>
<string>{226,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{584,2},{226,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,11}</string>
<key>spriteSize</key>
<string>{226,304}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1040,2},{226,304}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,10}</string>
<key>spriteSize</key>
<string>{230,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1030,480},{230,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,10}</string>
<key>spriteSize</key>
<string>{234,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{824,794},{234,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,11}</string>
<key>spriteSize</key>
<string>{230,304}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{798,488},{230,304}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,21}</string>
<key>spriteSize</key>
<string>{248,320}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{504,1220},{248,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,22}</string>
<key>spriteSize</key>
<string>{244,316}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{754,1162},{244,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,30}</string>
<key>spriteSize</key>
<string>{288,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{214,1252},{288,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{41,21}</string>
<key>spriteSize</key>
<string>{284,318}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{538,842},{284,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,25}</string>
<key>spriteSize</key>
<string>{296,326}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,1590},{296,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,28}</string>
<key>spriteSize</key>
<string>{290,332}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,886},{290,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,25}</string>
<key>spriteSize</key>
<string>{230,332}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{338,508},{230,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-1}</string>
<key>spriteSize</key>
<string>{222,280}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1000,1098},{222,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,29}</string>
<key>spriteSize</key>
<string>{376,334}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,508},{376,334}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9011_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,114}</string>
<key>spriteSize</key>
<string>{350,504}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{350,504}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,1}</string>
<key>spriteSize</key>
<string>{238,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1012,1788},{238,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9011_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,-70}</string>
<key>spriteSize</key>
<string>{260,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{354,310},{260,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-53}</string>
<key>spriteSize</key>
<string>{220,176}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{790,1862},{220,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-53}</string>
<key>spriteSize</key>
<string>{202,176}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{616,310},{202,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-54}</string>
<key>spriteSize</key>
<string>{198,174}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{820,310},{198,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-57}</string>
<key>spriteSize</key>
<string>{210,168}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1020,310},{210,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-52}</string>
<key>spriteSize</key>
<string>{214,178}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{574,1862},{214,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9011.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9011.png</string>
</dict>
</dict>
</plist>