<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9011_skill2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-35}</string>
<key>spriteSize</key>
<string>{180,180}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,476},{180,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-35}</string>
<key>spriteSize</key>
<string>{180,180}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{184,406},{180,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-35}</string>
<key>spriteSize</key>
<string>{180,180}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,294},{180,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-48}</string>
<key>spriteSize</key>
<string>{180,154}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{318,750},{180,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-47}</string>
<key>spriteSize</key>
<string>{180,156}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{160,816},{180,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-46}</string>
<key>spriteSize</key>
<string>{180,160}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{184,588},{180,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-48}</string>
<key>spriteSize</key>
<string>{180,156}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,816},{180,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-47}</string>
<key>spriteSize</key>
<string>{180,156}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,658},{180,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-5}</string>
<key>spriteSize</key>
<string>{134,136}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{366,412},{134,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-6}</string>
<key>spriteSize</key>
<string>{140,228}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{238,2},{140,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-9}</string>
<key>spriteSize</key>
<string>{146,234}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{146,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{142,216}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,150},{142,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-5}</string>
<key>spriteSize</key>
<string>{126,222}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{238,144},{126,222}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-13}</string>
<key>spriteSize</key>
<string>{132,202}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{220,272},{132,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{136,84}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{366,548},{136,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,9}</string>
<key>spriteSize</key>
<string>{138,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{424,272},{138,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,15}</string>
<key>spriteSize</key>
<string>{120,78}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{366,634},{120,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9011_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9011_skill2.png</string>
</dict>
</dict>
</plist>