<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9011_skill1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,-5}</string>
<key>spriteSize</key>
<string>{76,18}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{482,112},{76,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-2}</string>
<key>spriteSize</key>
<string>{96,44}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{436,112},{96,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,0}</string>
<key>spriteSize</key>
<string>{108,68}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{436,2},{108,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,1}</string>
<key>spriteSize</key>
<string>{92,94}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{320,178},{92,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,1}</string>
<key>spriteSize</key>
<string>{92,94}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{224,178},{92,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,1}</string>
<key>spriteSize</key>
<string>{92,96}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{126,92},{92,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9011_skill1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-1}</string>
<key>spriteSize</key>
<string>{94,92}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,170},{94,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-2}</string>
<key>spriteSize</key>
<string>{92,90}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{416,210},{92,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,1}</string>
<key>spriteSize</key>
<string>{86,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{98,186},{86,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-6}</string>
<key>spriteSize</key>
<string>{122,76}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,92},{122,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{156,88}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,2},{156,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{138,88}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{160,2},{138,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{134,86}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{300,90},{134,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9011_skill1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{134,86}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{300,2},{134,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9011_skill1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9011_skill1.png</string>
</dict>
</dict>
</plist>