<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9004_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,92}</string>
<key>spriteSize</key>
<string>{226,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{528,1230},{226,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,44}</string>
<key>spriteSize</key>
<string>{286,148}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{638,210},{286,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,25}</string>
<key>spriteSize</key>
<string>{278,114}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,790},{278,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,83}</string>
<key>spriteSize</key>
<string>{238,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1126},{238,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,80}</string>
<key>spriteSize</key>
<string>{220,204}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{814,1000},{220,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9004_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,79}</string>
<key>spriteSize</key>
<string>{244,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{814,1222},{244,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9004_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,92}</string>
<key>spriteSize</key>
<string>{274,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{282,852},{274,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,90}</string>
<key>spriteSize</key>
<string>{276,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{564,786},{276,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,88}</string>
<key>spriteSize</key>
<string>{278,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{284,642},{278,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,87}</string>
<key>spriteSize</key>
<string>{280,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,582},{280,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,88}</string>
<key>spriteSize</key>
<string>{282,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{638,360},{282,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,89}</string>
<key>spriteSize</key>
<string>{280,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{298,430},{280,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,91}</string>
<key>spriteSize</key>
<string>{278,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{580,570},{278,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,81}</string>
<key>spriteSize</key>
<string>{294,192}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,388},{294,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,103}</string>
<key>spriteSize</key>
<string>{298,230}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{338,198},{298,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,115}</string>
<key>spriteSize</key>
<string>{228,254}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{558,1000},{228,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9004_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,114}</string>
<key>spriteSize</key>
<string>{210,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{274,1070},{210,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9004_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,121}</string>
<key>spriteSize</key>
<string>{218,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,906},{218,270}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9004_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,78}</string>
<key>spriteSize</key>
<string>{352,188}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{352,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,81}</string>
<key>spriteSize</key>
<string>{346,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{356,2},{346,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,81}</string>
<key>spriteSize</key>
<string>{334,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,192},{334,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9004_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,89}</string>
<key>spriteSize</key>
<string>{308,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{704,2},{308,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9004.png</string>
</dict>
</dict>
</plist>