<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9004_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,120}</string>
<key>spriteSize</key>
<string>{266,264}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,606},{266,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9004_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,124}</string>
<key>spriteSize</key>
<string>{244,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,606},{244,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9004_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,119}</string>
<key>spriteSize</key>
<string>{338,278}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,588},{338,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9004_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,111}</string>
<key>spriteSize</key>
<string>{396,304}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,300},{396,304}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9004_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,107}</string>
<key>spriteSize</key>
<string>{400,310}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{400,310}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9004_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,109}</string>
<key>spriteSize</key>
<string>{398,296}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,2},{398,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9004_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,118}</string>
<key>spriteSize</key>
<string>{342,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,314},{342,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9004.png</string>
</dict>
</dict>
</plist>