<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9004_H_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{212,102}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{441,110},{212,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-10}</string>
<key>spriteSize</key>
<string>{212,104}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,141},{212,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-10}</string>
<key>spriteSize</key>
<string>{218,106}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{445,2},{218,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-12}</string>
<key>spriteSize</key>
<string>{218,106}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{225,2},{218,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{216,104}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{665,2},{216,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{210,100}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,247},{210,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{214,100}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{225,110},{214,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{210,102}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{216,212},{210,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-10}</string>
<key>spriteSize</key>
<string>{79,151}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{600,455},{79,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-10}</string>
<key>spriteSize</key>
<string>{79,149}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{358,553},{79,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-10}</string>
<key>spriteSize</key>
<string>{79,149}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{509,470},{79,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{81,149}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{358,470},{81,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{81,151}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,541},{81,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{81,151}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,458},{81,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{79,151}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{600,374},{79,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,20}</string>
<key>spriteSize</key>
<string>{145,113}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{876,426},{145,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,14}</string>
<key>spriteSize</key>
<string>{161,121}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{195,451},{161,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,12}</string>
<key>spriteSize</key>
<string>{183,127}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{415,341},{183,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,11}</string>
<key>spriteSize</key>
<string>{189,127}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{639,245},{189,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,7}</string>
<key>spriteSize</key>
<string>{199,133}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{214,316},{199,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,7}</string>
<key>spriteSize</key>
<string>{209,137}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{882,215},{209,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,8}</string>
<key>spriteSize</key>
<string>{211,137}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{883,2},{211,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,10}</string>
<key>spriteSize</key>
<string>{221,137}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,2},{221,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,13}</string>
<key>spriteSize</key>
<string>{215,135}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{665,108},{215,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,13}</string>
<key>spriteSize</key>
<string>{209,125}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{428,214},{209,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,0}</string>
<key>spriteSize</key>
<string>{191,107}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,349},{191,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,-12}</string>
<key>spriteSize</key>
<string>{121,83}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{753,489},{121,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{61,-13}</string>
<key>spriteSize</key>
<string>{95,77}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{509,621},{95,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9004_H_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-10}</string>
<key>spriteSize</key>
<string>{99,91}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{588,641},{99,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{115,103}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{590,536},{115,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,1}</string>
<key>spriteSize</key>
<string>{119,111}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{876,541},{119,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{121,113}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{753,374},{121,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,4}</string>
<key>spriteSize</key>
<string>{109,109}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{707,574},{109,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9004_H_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{830,245},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9004_H.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9004_H.png</string>
</dict>
</dict>
</plist>