<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CH_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-11}</string>
<key>spriteSize</key>
<string>{210,83}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{176,442},{210,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-10}</string>
<key>spriteSize</key>
<string>{210,85}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{89,442},{210,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-10}</string>
<key>spriteSize</key>
<string>{210,85}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{2,442},{210,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-9}</string>
<key>spriteSize</key>
<string>{208,89}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{198,875},{208,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-9}</string>
<key>spriteSize</key>
<string>{196,93}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{261,442},{196,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-10}</string>
<key>spriteSize</key>
<string>{194,91}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{2,875},{194,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-14}</string>
<key>spriteSize</key>
<string>{196,83}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{356,442},{196,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-12}</string>
<key>spriteSize</key>
<string>{196,85}</string>
<key>spriteSourceSize</key>
<string>{226,123}</string>
<key>textureRect</key>
<string>{{408,874},{196,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,2}</string>
<key>spriteSize</key>
<string>{233,105}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{237,109},{233,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,2}</string>
<key>spriteSize</key>
<string>{233,105}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{237,2},{233,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{231,105}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{235,216},{231,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{231,105}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{2,111},{231,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{233,107}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{2,2},{233,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{229,105}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{2,218},{229,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{217,107}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{111,656},{217,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{217,107}</string>
<key>spriteSourceSize</key>
<string>{245,125}</string>
<key>textureRect</key>
<string>{{2,656},{217,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,3}</string>
<key>spriteSize</key>
<string>{214,117}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{452,656},{214,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,4}</string>
<key>spriteSize</key>
<string>{216,119}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{468,220},{216,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,5}</string>
<key>spriteSize</key>
<string>{218,115}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{2,325},{218,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,7}</string>
<key>spriteSize</key>
<string>{216,113}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{337,656},{216,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,7}</string>
<key>spriteSize</key>
<string>{218,117}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{233,323},{218,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,7}</string>
<key>spriteSize</key>
<string>{216,117}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{453,438},{216,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{216,115}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{220,656},{216,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{216,119}</string>
<key>spriteSourceSize</key>
<string>{260,131}</string>
<key>textureRect</key>
<string>{{472,2},{216,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ChengHao_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ChengHao_UI.png</string>
</dict>
</dict>
</plist>