<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>dan-huidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{32,32}</string>
<key>textureRect</key>
<string>{{289,363},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dan_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{122,163}</string>
<key>spriteSourceSize</key>
<string>{126,167}</string>
<key>textureRect</key>
<string>{{347,333},{122,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dan_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{66,163}</string>
<key>spriteSourceSize</key>
<string>{74,167}</string>
<key>textureRect</key>
<string>{{124,363},{66,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dan_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{119,165}</string>
<key>spriteSourceSize</key>
<string>{135,171}</string>
<key>textureRect</key>
<string>{{166,431},{119,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dan_chuizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{140,162}</string>
<key>spriteSourceSize</key>
<string>{140,182}</string>
<key>textureRect</key>
<string>{{2,451},{140,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dan_guang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{254,255}</string>
<key>spriteSourceSize</key>
<string>{256,267}</string>
<key>textureRect</key>
<string>{{124,2},{254,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dan_guang__00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,146}</string>
<key>spriteSize</key>
<string>{66,99}</string>
<key>spriteSourceSize</key>
<string>{214,447}</string>
<key>textureRect</key>
<string>{{441,457},{66,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dan_guang__01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,113}</string>
<key>spriteSize</key>
<string>{102,221}</string>
<key>spriteSourceSize</key>
<string>{214,447}</string>
<key>textureRect</key>
<string>{{124,259},{102,221}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>dan_guang__02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,59}</string>
<key>spriteSize</key>
<string>{116,329}</string>
<key>spriteSourceSize</key>
<string>{214,447}</string>
<key>textureRect</key>
<string>{{380,2},{116,329}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dan_guang__03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{120,447}</string>
<key>spriteSourceSize</key>
<string>{214,447}</string>
<key>textureRect</key>
<string>{{2,2},{120,447}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dan_xingxing_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,105}</string>
<key>spriteSourceSize</key>
<string>{106,105}</string>
<key>textureRect</key>
<string>{{333,457},{106,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>JinDan_Effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>JinDan_Effect.png</string>
</dict>
</dict>
</plist>