<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>1008_guang2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{178,178}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{422,192},{178,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blastmark7_height.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{228,208},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-76}</string>
<key>spriteSize</key>
<string>{82,133}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{254,931},{82,133}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blz_animburst02_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-13}</string>
<key>spriteSize</key>
<string>{106,259}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{2,2},{106,259}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-9}</string>
<key>spriteSize</key>
<string>{102,249}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{2,263},{102,249}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{110,237}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{2,514},{110,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{112,199}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{180,730},{112,199}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{120,205}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{106,263},{120,205}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{120,171}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{464,2},{120,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blz_animburst02_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,13}</string>
<key>spriteSize</key>
<string>{114,157}</string>
<key>spriteSourceSize</key>
<string>{192,297}</string>
<key>textureRect</key>
<string>{{752,134},{114,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_guang2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{60,61}</string>
<key>spriteSourceSize</key>
<string>{76,77}</string>
<key>textureRect</key>
<string>{{2,959},{60,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leizhengzi_shandian2_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{170,164}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{586,2},{170,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian2_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,5}</string>
<key>spriteSize</key>
<string>{188,166}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{296,2},{188,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian2_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{194,166}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{294,730},{194,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian2_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{200,174}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{114,470},{200,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian2_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{204,176}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{2,753},{204,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian2_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{204,184}</string>
<key>spriteSourceSize</key>
<string>{244,204}</string>
<key>textureRect</key>
<string>{{110,2},{204,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leizhengzi_shandian_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,3}</string>
<key>spriteSize</key>
<string>{178,54}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{228,402},{178,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leizhengzi_shandian_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{188,60}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{64,959},{188,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leizhengzi_shandian_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{188,56}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{114,672},{188,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leizhengzi_shandian_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{184,56}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{389,926},{184,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wjf_0149.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{170,180}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{290,458},{170,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhuaji_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-11}</string>
<key>spriteSize</key>
<string>{130,158}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{752,2},{130,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_7005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_7005.png</string>
</dict>
</dict>
</plist>