<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,103}</string>
<key>spriteSize</key>
<string>{262,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,2},{262,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,105}</string>
<key>spriteSize</key>
<string>{252,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,272},{252,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,106}</string>
<key>spriteSize</key>
<string>{244,268}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,544},{244,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,107}</string>
<key>spriteSize</key>
<string>{242,270}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{242,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,106}</string>
<key>spriteSize</key>
<string>{248,268}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,2},{248,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,104}</string>
<key>spriteSize</key>
<string>{258,264}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,540},{258,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,102}</string>
<key>spriteSize</key>
<string>{264,260}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,266},{264,260}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,101}</string>
<key>spriteSize</key>
<string>{268,258}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,274},{268,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,101}</string>
<key>spriteSize</key>
<string>{266,260}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,544},{266,260}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,102}</string>
<key>spriteSize</key>
<string>{264,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,2},{264,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET7005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET7005.png</string>
</dict>
</dict>
</plist>