<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET7005_A0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,89}</string>
<key>spriteSize</key>
<string>{200,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{958,1096},{200,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,91}</string>
<key>spriteSize</key>
<string>{194,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,674},{194,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,92}</string>
<key>spriteSize</key>
<string>{186,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,924},{186,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,92}</string>
<key>spriteSize</key>
<string>{186,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,1186},{186,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,91}</string>
<key>spriteSize</key>
<string>{192,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{754,1400},{192,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,90}</string>
<key>spriteSize</key>
<string>{198,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,886},{198,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,88}</string>
<key>spriteSize</key>
<string>{204,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1334,1718},{204,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,88}</string>
<key>spriteSize</key>
<string>{206,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{932,1822},{206,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,88}</string>
<key>spriteSize</key>
<string>{204,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1276,1512},{204,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,89}</string>
<key>spriteSize</key>
<string>{202,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,1350},{202,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,90}</string>
<key>spriteSize</key>
<string>{198,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1160,1052},{198,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,91}</string>
<key>spriteSize</key>
<string>{198,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1026,2},{198,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,92}</string>
<key>spriteSize</key>
<string>{198,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1076,1558},{198,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,92}</string>
<key>spriteSize</key>
<string>{196,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1152,1304},{196,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,91}</string>
<key>spriteSize</key>
<string>{198,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,228},{198,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,90}</string>
<key>spriteSize</key>
<string>{198,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1154,640},{198,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,89}</string>
<key>spriteSize</key>
<string>{198,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1522,1250},{198,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,88}</string>
<key>spriteSize</key>
<string>{198,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1434,194},{198,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,88}</string>
<key>spriteSize</key>
<string>{198,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1482,1460},{198,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,89}</string>
<key>spriteSize</key>
<string>{198,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1360,1048},{198,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,90}</string>
<key>spriteSize</key>
<string>{226,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,474},{226,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,91}</string>
<key>spriteSize</key>
<string>{226,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,736},{226,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,92}</string>
<key>spriteSize</key>
<string>{224,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,2},{224,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,92}</string>
<key>spriteSize</key>
<string>{226,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,1260},{226,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,91}</string>
<key>spriteSize</key>
<string>{226,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,1000},{226,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,90}</string>
<key>spriteSize</key>
<string>{228,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,770},{228,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,89}</string>
<key>spriteSize</key>
<string>{228,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,2},{228,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,88}</string>
<key>spriteSize</key>
<string>{228,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1494},{228,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,89}</string>
<key>spriteSize</key>
<string>{228,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,244},{228,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,89}</string>
<key>spriteSize</key>
<string>{228,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,506},{228,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,89}</string>
<key>spriteSize</key>
<string>{192,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1830,390},{192,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,90}</string>
<key>spriteSize</key>
<string>{190,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1354,594},{190,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,91}</string>
<key>spriteSize</key>
<string>{190,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1434,2},{190,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,92}</string>
<key>spriteSize</key>
<string>{190,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1242,844},{190,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,91}</string>
<key>spriteSize</key>
<string>{192,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1722,2},{192,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,90}</string>
<key>spriteSize</key>
<string>{194,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1294,394},{194,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,89}</string>
<key>spriteSize</key>
<string>{194,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1634,196},{194,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0037.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,88}</string>
<key>spriteSize</key>
<string>{194,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1560,992},{194,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0038.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,88}</string>
<key>spriteSize</key>
<string>{194,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1546,594},{194,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,89}</string>
<key>spriteSize</key>
<string>{192,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1830,196},{192,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,88}</string>
<key>spriteSize</key>
<string>{176,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1490,394},{176,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0041.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,89}</string>
<key>spriteSize</key>
<string>{172,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1120,434},{172,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,89}</string>
<key>spriteSize</key>
<string>{168,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1226,2},{168,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0043.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,89}</string>
<key>spriteSize</key>
<string>{166,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1074,846},{166,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0044.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,90}</string>
<key>spriteSize</key>
<string>{170,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1350,1256},{170,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,90}</string>
<key>spriteSize</key>
<string>{176,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1434,794},{176,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0046.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,89}</string>
<key>spriteSize</key>
<string>{178,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1794,780},{178,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_A0047.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,89}</string>
<key>spriteSize</key>
<string>{180,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1612,790},{180,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,89}</string>
<key>spriteSize</key>
<string>{178,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1742,584},{178,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_A0049.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,89}</string>
<key>spriteSize</key>
<string>{176,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1794,960},{176,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,103}</string>
<key>spriteSize</key>
<string>{180,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,1138},{180,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,111}</string>
<key>spriteSize</key>
<string>{148,226}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,232},{148,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,118}</string>
<key>spriteSize</key>
<string>{200,240}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,264},{200,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,100}</string>
<key>spriteSize</key>
<string>{154,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1028},{154,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,101}</string>
<key>spriteSize</key>
<string>{154,230}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,1028},{154,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,90}</string>
<key>spriteSize</key>
<string>{170,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1122,208},{170,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,90}</string>
<key>spriteSize</key>
<string>{196,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,434},{196,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,101}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1138,1766},{194,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,110}</string>
<key>spriteSize</key>
<string>{156,224}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1724},{156,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,117}</string>
<key>spriteSize</key>
<string>{196,240}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,2},{196,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,104}</string>
<key>spriteSize</key>
<string>{224,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,2},{224,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,104}</string>
<key>spriteSize</key>
<string>{222,222}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,1724},{222,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,90}</string>
<key>spriteSize</key>
<string>{214,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,1450},{214,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,91}</string>
<key>spriteSize</key>
<string>{208,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,1612},{208,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,97}</string>
<key>spriteSize</key>
<string>{224,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,228},{224,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,107}</string>
<key>spriteSize</key>
<string>{192,230}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1262},{192,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,115}</string>
<key>spriteSize</key>
<string>{172,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,522},{172,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,102}</string>
<key>spriteSize</key>
<string>{208,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,1488},{208,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,102}</string>
<key>spriteSize</key>
<string>{186,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,1228},{186,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,90}</string>
<key>spriteSize</key>
<string>{204,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{956,640},{204,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,90}</string>
<key>spriteSize</key>
<string>{218,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,454},{218,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,92}</string>
<key>spriteSize</key>
<string>{194,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,1666},{194,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,98}</string>
<key>spriteSize</key>
<string>{184,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,780},{184,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,110}</string>
<key>spriteSize</key>
<string>{148,256}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,522},{148,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,101}</string>
<key>spriteSize</key>
<string>{144,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,1450},{144,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,102}</string>
<key>spriteSize</key>
<string>{168,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,702},{168,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,90}</string>
<key>spriteSize</key>
<string>{144,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,1888},{144,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,89}</string>
<key>spriteSize</key>
<string>{170,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1756,1138},{170,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,90}</string>
<key>spriteSize</key>
<string>{168,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,964},{168,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,94}</string>
<key>spriteSize</key>
<string>{156,256}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,264},{156,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,107}</string>
<key>spriteSize</key>
<string>{200,260}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{200,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,103}</string>
<key>spriteSize</key>
<string>{138,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,1670},{138,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,104}</string>
<key>spriteSize</key>
<string>{154,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,1710},{154,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7005_B0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,91}</string>
<key>spriteSize</key>
<string>{160,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{738,1882},{160,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7005_B0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,91}</string>
<key>spriteSize</key>
<string>{178,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1722,1310},{178,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET7005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET7005.png</string>
</dict>
</dict>
</plist>