<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET7005_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-345,117}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,2},{110,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-272,163}</string>
<key>spriteSize</key>
<string>{136,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,350},{136,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-113,135}</string>
<key>spriteSize</key>
<string>{154,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,984},{154,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,70}</string>
<key>spriteSize</key>
<string>{190,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{832,690},{190,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,47}</string>
<key>spriteSize</key>
<string>{214,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{670,244},{214,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,38}</string>
<key>spriteSize</key>
<string>{220,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,126},{220,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,37}</string>
<key>spriteSize</key>
<string>{228,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,2},{228,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,72}</string>
<key>spriteSize</key>
<string>{196,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,676},{196,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,36}</string>
<key>spriteSize</key>
<string>{230,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{230,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,83}</string>
<key>spriteSize</key>
<string>{168,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,1218},{168,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,39}</string>
<key>spriteSize</key>
<string>{220,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,2},{220,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,160}</string>
<key>spriteSize</key>
<string>{138,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,792},{138,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,69}</string>
<key>spriteSize</key>
<string>{170,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,1194},{170,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,43}</string>
<key>spriteSize</key>
<string>{206,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,546},{206,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,38}</string>
<key>spriteSize</key>
<string>{208,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,530},{208,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,21}</string>
<key>spriteSize</key>
<string>{210,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,138},{210,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,55}</string>
<key>spriteSize</key>
<string>{190,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1026},{190,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,94}</string>
<key>spriteSize</key>
<string>{138,222}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,2},{138,222}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,83}</string>
<key>spriteSize</key>
<string>{144,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,400},{144,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_108.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,88}</string>
<key>spriteSize</key>
<string>{122,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,420},{122,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_109.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,92}</string>
<key>spriteSize</key>
<string>{142,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,400},{142,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,52}</string>
<key>spriteSize</key>
<string>{212,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,276},{212,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,95}</string>
<key>spriteSize</key>
<string>{140,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,258},{140,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_111.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,89}</string>
<key>spriteSize</key>
<string>{130,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,544},{130,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_112.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,96}</string>
<key>spriteSize</key>
<string>{132,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,142},{132,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_113.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,97}</string>
<key>spriteSize</key>
<string>{132,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,118},{132,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_114.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,95}</string>
<key>spriteSize</key>
<string>{146,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,252},{146,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_115.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,83}</string>
<key>spriteSize</key>
<string>{156,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,932},{156,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_116.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,77}</string>
<key>spriteSize</key>
<string>{150,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,522},{150,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_117.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,70}</string>
<key>spriteSize</key>
<string>{144,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,1246},{144,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_118.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,89}</string>
<key>spriteSize</key>
<string>{164,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,818},{164,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_119.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,89}</string>
<key>spriteSize</key>
<string>{170,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,848},{170,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,71}</string>
<key>spriteSize</key>
<string>{184,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,1090},{184,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_120.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,89}</string>
<key>spriteSize</key>
<string>{168,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,704},{168,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_121.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,88}</string>
<key>spriteSize</key>
<string>{168,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,874},{168,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_122.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,82}</string>
<key>spriteSize</key>
<string>{176,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,1162},{176,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_123.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,75}</string>
<key>spriteSize</key>
<string>{184,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{792,1020},{184,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,95}</string>
<key>spriteSize</key>
<string>{128,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,662},{128,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,92}</string>
<key>spriteSize</key>
<string>{140,204}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,676},{140,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,83}</string>
<key>spriteSize</key>
<string>{172,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1308},{172,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7005_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,39}</string>
<key>spriteSize</key>
<string>{224,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,112},{224,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,47}</string>
<key>spriteSize</key>
<string>{210,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,380},{210,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,51}</string>
<key>spriteSize</key>
<string>{206,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,544},{206,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,64}</string>
<key>spriteSize</key>
<string>{194,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,862},{194,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,72}</string>
<key>spriteSize</key>
<string>{186,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1140},{186,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7005_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,75}</string>
<key>spriteSize</key>
<string>{186,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,1044},{186,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET7005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET7005.png</string>
</dict>
</dict>
</plist>