<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9026_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,34}</string>
<key>spriteSize</key>
<string>{92,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,230},{92,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,37}</string>
<key>spriteSize</key>
<string>{98,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{214,164},{98,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,39}</string>
<key>spriteSize</key>
<string>{104,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{326,70},{104,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{106,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{326,2},{106,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{106,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,2},{106,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,42}</string>
<key>spriteSize</key>
<string>{100,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,96},{100,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,39}</string>
<key>spriteSize</key>
<string>{96,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{314,224},{96,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,36}</string>
<key>spriteSize</key>
<string>{94,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,184},{94,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,36}</string>
<key>spriteSize</key>
<string>{86,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{380,340},{86,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,38}</string>
<key>spriteSize</key>
<string>{86,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{92,340},{86,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,38}</string>
<key>spriteSize</key>
<string>{86,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,296},{86,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,40}</string>
<key>spriteSize</key>
<string>{82,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{268,426},{82,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,42}</string>
<key>spriteSize</key>
<string>{78,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{434,2},{78,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{80,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{436,490},{80,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{78,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{432,82},{78,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,38}</string>
<key>spriteSize</key>
<string>{82,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{352,462},{82,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,32}</string>
<key>spriteSize</key>
<string>{60,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,552},{60,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,33}</string>
<key>spriteSize</key>
<string>{56,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{88,466},{56,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{56,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{268,368},{56,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{58,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{180,368},{58,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{56,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{92,408},{56,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{54,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{354,406},{54,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{52,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,498},{52,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{54,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{86,524},{54,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,28}</string>
<key>spriteSize</key>
<string>{60,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{172,498},{60,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,32}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{180,428},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,422},{74,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{82,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,338},{82,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,252},{86,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,32}</string>
<key>spriteSize</key>
<string>{82,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,254},{82,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,30}</string>
<key>spriteSize</key>
<string>{74,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{292,292},{74,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9026_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,29}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{440,406},{68,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,24}</string>
<key>spriteSize</key>
<string>{94,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{412,252},{94,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,29}</string>
<key>spriteSize</key>
<string>{98,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{322,136},{98,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,32}</string>
<key>spriteSize</key>
<string>{102,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,94},{102,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,34}</string>
<key>spriteSize</key>
<string>{106,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,2},{106,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{106,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{106,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{102,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,72},{102,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,29}</string>
<key>spriteSize</key>
<string>{98,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,164},{98,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9026_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,27}</string>
<key>spriteSize</key>
<string>{96,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{422,154},{96,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9026_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9026_run.png</string>
</dict>
</dict>
</plist>