<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9027_skill_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,94}</string>
<key>spriteSize</key>
<string>{278,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{754,738},{278,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_skill_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,87}</string>
<key>spriteSize</key>
<string>{300,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,250},{300,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,117}</string>
<key>spriteSize</key>
<string>{294,280}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,474},{294,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,88}</string>
<key>spriteSize</key>
<string>{252,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{530,746},{252,222}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_skill_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,81}</string>
<key>spriteSize</key>
<string>{234,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{770,298},{234,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,101}</string>
<key>spriteSize</key>
<string>{258,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,756},{258,250}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_skill_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,78}</string>
<key>spriteSize</key>
<string>{294,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{664,2},{294,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_skill_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,78}</string>
<key>spriteSize</key>
<string>{232,296}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{304,254},{232,296}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_skill_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,55}</string>
<key>spriteSize</key>
<string>{320,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{342,2},{320,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-54,58}</string>
<key>spriteSize</key>
<string>{338,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{338,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,86}</string>
<key>spriteSize</key>
<string>{274,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{254,756},{274,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,101}</string>
<key>spriteSize</key>
<string>{236,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{298,488},{236,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_skill_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,98}</string>
<key>spriteSize</key>
<string>{232,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{536,488},{232,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9027_skill.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9027_skill.png</string>
</dict>
</dict>
</plist>