<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9027_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,94}</string>
<key>spriteSize</key>
<string>{276,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,260},{276,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,96}</string>
<key>spriteSize</key>
<string>{248,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,752},{248,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,100}</string>
<key>spriteSize</key>
<string>{244,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,506},{244,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,110}</string>
<key>spriteSize</key>
<string>{254,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{280,272},{254,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,113}</string>
<key>spriteSize</key>
<string>{272,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{568,2},{272,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9027_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,108}</string>
<key>spriteSize</key>
<string>{278,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{288,2},{278,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9027_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,101}</string>
<key>spriteSize</key>
<string>{284,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{284,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9027.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9027.png</string>
</dict>
</dict>
</plist>