<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7010_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,38}</string>
<key>spriteSize</key>
<string>{370,306}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,312},{370,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,31}</string>
<key>spriteSize</key>
<string>{348,324}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,620},{348,324}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,42}</string>
<key>spriteSize</key>
<string>{344,304}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,616},{344,304}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,48}</string>
<key>spriteSize</key>
<string>{366,296}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,620},{366,296}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{390,302}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,2},{390,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{402,308}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{402,308}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,38}</string>
<key>spriteSize</key>
<string>{388,308}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,306},{388,308}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7010.png</string>
</dict>
</dict>
</plist>