<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7010_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,43}</string>
<key>spriteSize</key>
<string>{144,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1258},{144,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{136,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,1254},{136,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,47}</string>
<key>spriteSize</key>
<string>{132,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1388},{132,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{140,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,1222},{140,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,48}</string>
<key>spriteSize</key>
<string>{148,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,792},{148,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,47}</string>
<key>spriteSize</key>
<string>{156,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,490},{156,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{158,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,478},{158,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{154,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,608},{154,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,32}</string>
<key>spriteSize</key>
<string>{98,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,388},{98,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,34}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,1060},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,35}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,1234},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,35}</string>
<key>spriteSize</key>
<string>{104,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,538},{104,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,34}</string>
<key>spriteSize</key>
<string>{104,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,460},{104,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,32}</string>
<key>spriteSize</key>
<string>{104,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,312},{104,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,31}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,854},{102,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,31}</string>
<key>spriteSize</key>
<string>{100,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,996},{100,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,35}</string>
<key>spriteSize</key>
<string>{138,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,1082},{138,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,37}</string>
<key>spriteSize</key>
<string>{128,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,1162},{128,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,38}</string>
<key>spriteSize</key>
<string>{116,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,1168},{116,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,37}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{756,972},{108,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,35}</string>
<key>spriteSize</key>
<string>{110,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1146},{110,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,34}</string>
<key>spriteSize</key>
<string>{118,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,908},{118,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,33}</string>
<key>spriteSize</key>
<string>{130,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,682},{130,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,34}</string>
<key>spriteSize</key>
<string>{138,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,832},{138,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{172,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,244},{172,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,30}</string>
<key>spriteSize</key>
<string>{164,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{164,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,29}</string>
<key>spriteSize</key>
<string>{152,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,618},{152,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,31}</string>
<key>spriteSize</key>
<string>{144,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,918},{144,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,35}</string>
<key>spriteSize</key>
<string>{150,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,738},{150,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{156,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,388},{156,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{166,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,232},{166,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{172,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,252},{172,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,23}</string>
<key>spriteSize</key>
<string>{142,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,852},{142,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,23}</string>
<key>spriteSize</key>
<string>{144,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,706},{144,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,26}</string>
<key>spriteSize</key>
<string>{148,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,740},{148,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{144,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,1028},{144,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,33}</string>
<key>spriteSize</key>
<string>{144,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,1154},{144,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{146,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,1016},{146,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,27}</string>
<key>spriteSize</key>
<string>{148,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,764},{148,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,24}</string>
<key>spriteSize</key>
<string>{146,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,644},{146,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,35}</string>
<key>spriteSize</key>
<string>{148,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,874},{148,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,52}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,1410},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{162,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,400},{162,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,50}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1512},{124,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,49}</string>
<key>spriteSize</key>
<string>{186,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,116},{186,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,44}</string>
<key>spriteSize</key>
<string>{90,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,1406},{90,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,44}</string>
<key>spriteSize</key>
<string>{130,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1338},{130,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,44}</string>
<key>spriteSize</key>
<string>{126,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,1414},{126,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,19}</string>
<key>spriteSize</key>
<string>{70,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{946,2},{70,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,45}</string>
<key>spriteSize</key>
<string>{174,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,134},{174,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,55}</string>
<key>spriteSize</key>
<string>{138,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,888},{138,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,38}</string>
<key>spriteSize</key>
<string>{104,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,606},{104,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,49}</string>
<key>spriteSize</key>
<string>{162,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,368},{162,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,45}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,1452},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,49}</string>
<key>spriteSize</key>
<string>{114,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,1346},{114,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{202,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{202,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,23}</string>
<key>spriteSize</key>
<string>{126,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,516},{126,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,37}</string>
<key>spriteSize</key>
<string>{180,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,118},{180,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,56}</string>
<key>spriteSize</key>
<string>{116,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,134},{116,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{902,1004},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,36}</string>
<key>spriteSize</key>
<string>{78,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{944,176},{78,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,44}</string>
<key>spriteSize</key>
<string>{160,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,382},{160,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,53}</string>
<key>spriteSize</key>
<string>{132,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,1288},{132,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,56}</string>
<key>spriteSize</key>
<string>{190,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,2},{190,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,33}</string>
<key>spriteSize</key>
<string>{174,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,2},{174,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,50}</string>
<key>spriteSize</key>
<string>{116,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,250},{116,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,62}</string>
<key>spriteSize</key>
<string>{110,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,366},{110,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,38}</string>
<key>spriteSize</key>
<string>{156,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,522},{156,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,44}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,1286},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,41}</string>
<key>spriteSize</key>
<string>{176,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,2},{176,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,50}</string>
<key>spriteSize</key>
<string>{174,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,114},{174,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,38}</string>
<key>spriteSize</key>
<string>{92,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,472},{92,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,31}</string>
<key>spriteSize</key>
<string>{136,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{888,1116},{136,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,62}</string>
<key>spriteSize</key>
<string>{94,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,644},{94,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{154,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,566},{154,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,1292},{122,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,48}</string>
<key>spriteSize</key>
<string>{192,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,2},{192,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,41}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,734},{104,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,46}</string>
<key>spriteSize</key>
<string>{146,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1028},{146,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,32}</string>
<key>spriteSize</key>
<string>{134,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,1098},{134,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7010.png</string>
</dict>
</dict>
</plist>