<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7010_guangquan_99.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{269,139}</string>
<key>spriteSourceSize</key>
<string>{269,141}</string>
<key>textureRect</key>
<string>{{2,2},{269,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_guangyun_99.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{101,93}</string>
<key>textureRect</key>
<string>{{2,344},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan2_70.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{60,55}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{319,278},{60,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_71.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,20}</string>
<key>spriteSize</key>
<string>{76,81}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{369,358},{76,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_72.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,12}</string>
<key>spriteSize</key>
<string>{76,97}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{220,278},{76,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_73.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,0}</string>
<key>spriteSize</key>
<string>{74,113}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{2,186},{74,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_74.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-3}</string>
<key>spriteSize</key>
<string>{74,115}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{120,143},{74,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_75.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{84,111}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{265,192},{84,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_76.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-9}</string>
<key>spriteSize</key>
<string>{90,103}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{402,178},{90,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_77.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{411,86},{90,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan2_78.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-19}</string>
<key>spriteSize</key>
<string>{84,83}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{91,395},{84,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan2_79.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-23}</string>
<key>spriteSize</key>
<string>{78,75}</string>
<key>spriteSourceSize</key>
<string>{98,121}</string>
<key>textureRect</key>
<string>{{177,426},{78,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-28}</string>
<key>spriteSize</key>
<string>{55,26}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{237,143},{55,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-9}</string>
<key>spriteSize</key>
<string>{67,62}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{257,480},{67,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{71,68}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{2,510},{71,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{77,76}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{86,480},{77,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{77,80}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{369,436},{77,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{77,80}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{287,401},{77,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,2}</string>
<key>spriteSize</key>
<string>{75,82}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{2,433},{75,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{63,82}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{447,2},{63,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{41,56}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{220,219},{41,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_jian2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,3}</string>
<key>spriteSize</key>
<string>{70,127}</string>
<key>spriteSourceSize</key>
<string>{92,133}</string>
<key>textureRect</key>
<string>{{273,120},{70,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_jian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{71,172}</string>
<key>spriteSourceSize</key>
<string>{95,184}</string>
<key>textureRect</key>
<string>{{273,2},{71,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_xuanzhuan_70.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-8}</string>
<key>spriteSize</key>
<string>{116,41}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{2,143},{116,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_xuanzhuan_71.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{136,43}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{273,75},{136,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_xuanzhuan_72.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{136,43}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{273,75},{136,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_xuanzhuan_73.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-9}</string>
<key>spriteSize</key>
<string>{80,45}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{452,358},{80,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_xuanzhuan_74.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-9}</string>
<key>spriteSize</key>
<string>{80,45}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{452,358},{80,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_xuanzhuan_75.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-25}</string>
<key>spriteSize</key>
<string>{46,13}</string>
<key>spriteSourceSize</key>
<string>{136,63}</string>
<key>textureRect</key>
<string>{{378,192},{46,13}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YuJianShenjue_jianshe_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,-42}</string>
<key>spriteSize</key>
<string>{59,48}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{319,340},{59,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YuJianShenjue_jianshe_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-21}</string>
<key>spriteSize</key>
<string>{101,80}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{2,262},{101,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuJianShenjue_jianshe_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-13}</string>
<key>spriteSize</key>
<string>{109,86}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{378,270},{109,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuJianShenjue_jianshe_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-7}</string>
<key>spriteSize</key>
<string>{101,90}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{117,219},{101,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuJianShenjue_jianshe_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,4}</string>
<key>spriteSize</key>
<string>{93,82}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{105,311},{93,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuJianShenjue_jianshe_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,12}</string>
<key>spriteSize</key>
<string>{85,68}</string>
<key>spriteSourceSize</key>
<string>{179,152}</string>
<key>textureRect</key>
<string>{{200,356},{85,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7010_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7010_skill_4.png</string>
</dict>
</dict>
</plist>