<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7010_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{37,66}</string>
<key>spriteSourceSize</key>
<string>{163,174}</string>
<key>textureRect</key>
<string>{{2,2006},{37,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-138,-4}</string>
<key>spriteSize</key>
<string>{200,104}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,1804},{200,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-114,-6}</string>
<key>spriteSize</key>
<string>{248,128}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,1554},{248,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-90,-5}</string>
<key>spriteSize</key>
<string>{296,146}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,684},{296,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-70,-6}</string>
<key>spriteSize</key>
<string>{336,148}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,346},{336,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,-4}</string>
<key>spriteSize</key>
<string>{342,152}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,2},{342,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,-2}</string>
<key>spriteSize</key>
<string>{286,144}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,982},{286,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,-3}</string>
<key>spriteSize</key>
<string>{282,142}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{2,1270},{282,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_longtou_99.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-145,-6}</string>
<key>spriteSize</key>
<string>{116,90}</string>
<key>spriteSourceSize</key>
<string>{476,160}</string>
<key>textureRect</key>
<string>{{108,1916},{116,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{222,98}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{156,232},{222,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{228,98}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{156,2},{228,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{232,100}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{152,456},{232,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-5}</string>
<key>spriteSize</key>
<string>{242,104}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{132,1672},{242,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{242,104}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{146,1428},{242,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{244,104}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{150,938},{244,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{246,104}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{150,690},{246,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_yanwu_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{242,104}</string>
<key>spriteSourceSize</key>
<string>{272,122}</string>
<key>textureRect</key>
<string>{{148,1184},{242,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7010_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7010_skill_5.png</string>
</dict>
</dict>
</plist>