<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7010_daoguang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,-45}</string>
<key>spriteSize</key>
<string>{219,194}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{728,228},{219,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-12}</string>
<key>spriteSize</key>
<string>{243,240}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{2,2},{243,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,8}</string>
<key>spriteSize</key>
<string>{235,238}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{488,2},{235,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_daoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,12}</string>
<key>spriteSize</key>
<string>{239,230}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{247,2},{239,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,17}</string>
<key>spriteSize</key>
<string>{231,218}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{247,234},{231,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,17}</string>
<key>spriteSize</key>
<string>{227,212}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{2,244},{227,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,10}</string>
<key>spriteSize</key>
<string>{225,224}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{728,2},{225,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_daoguang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,4}</string>
<key>spriteSize</key>
<string>{215,218}</string>
<key>spriteSourceSize</key>
<string>{289,286}</string>
<key>textureRect</key>
<string>{{480,239},{215,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_guangci_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{160,38}</string>
<key>spriteSourceSize</key>
<string>{186,62}</string>
<key>textureRect</key>
<string>{{955,2},{160,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7010_shouji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{168,159}</string>
<key>spriteSourceSize</key>
<string>{178,159}</string>
<key>textureRect</key>
<string>{{231,454},{168,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_shouji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{160,147}</string>
<key>spriteSourceSize</key>
<string>{178,159}</string>
<key>textureRect</key>
<string>{{2,458},{160,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_shouji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{156,137}</string>
<key>spriteSourceSize</key>
<string>{178,159}</string>
<key>textureRect</key>
<string>{{2,607},{156,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_shouji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{130,113}</string>
<key>spriteSourceSize</key>
<string>{178,159}</string>
<key>textureRect</key>
<string>{{2,894},{130,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010_shouji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,11}</string>
<key>spriteSize</key>
<string>{146,101}</string>
<key>spriteSourceSize</key>
<string>{178,159}</string>
<key>textureRect</key>
<string>{{2,746},{146,101}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7010_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7010_skill_3.png</string>
</dict>
</dict>
</plist>