<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,30}</string>
<key>spriteSize</key>
<string>{272,334}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,682},{272,334}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,28}</string>
<key>spriteSize</key>
<string>{270,330}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,2},{270,330}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,29}</string>
<key>spriteSize</key>
<string>{268,326}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,604},{268,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,29}</string>
<key>spriteSize</key>
<string>{266,328}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,274},{266,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{266,332}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,2},{266,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{268,336}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,344},{268,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{272,340}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,344},{272,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,32}</string>
<key>spriteSize</key>
<string>{274,340}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{274,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,31}</string>
<key>spriteSize</key>
<string>{276,336}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,686},{276,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8002.png</string>
</dict>
</dict>
</plist>