<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8002_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{120,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,958},{120,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{118,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1166},{118,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,1216},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{116,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,1080},{116,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{116,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,1016},{116,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,55}</string>
<key>spriteSize</key>
<string>{116,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,942},{116,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,55}</string>
<key>spriteSize</key>
<string>{118,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,944},{118,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,55}</string>
<key>spriteSize</key>
<string>{120,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,908},{120,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,47}</string>
<key>spriteSize</key>
<string>{94,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,690},{94,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{92,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,718},{92,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,44}</string>
<key>spriteSize</key>
<string>{90,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,484},{90,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,44}</string>
<key>spriteSize</key>
<string>{90,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,400},{90,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,45}</string>
<key>spriteSize</key>
<string>{88,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{832,394},{88,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,46}</string>
<key>spriteSize</key>
<string>{90,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,386},{90,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,48}</string>
<key>spriteSize</key>
<string>{92,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,624},{92,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,48}</string>
<key>spriteSize</key>
<string>{94,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,650},{94,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,36}</string>
<key>spriteSize</key>
<string>{66,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,260},{66,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,35}</string>
<key>spriteSize</key>
<string>{64,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,310},{64,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,34}</string>
<key>spriteSize</key>
<string>{64,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,2},{64,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,33}</string>
<key>spriteSize</key>
<string>{64,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,100},{64,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,35}</string>
<key>spriteSize</key>
<string>{64,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,2},{64,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,37}</string>
<key>spriteSize</key>
<string>{66,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{66,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,38}</string>
<key>spriteSize</key>
<string>{66,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,146},{66,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,37}</string>
<key>spriteSize</key>
<string>{66,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,198},{66,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,31}</string>
<key>spriteSize</key>
<string>{96,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,100},{96,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,30}</string>
<key>spriteSize</key>
<string>{94,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,164},{94,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,28}</string>
<key>spriteSize</key>
<string>{94,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,214},{94,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,28}</string>
<key>spriteSize</key>
<string>{96,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,2},{96,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,30}</string>
<key>spriteSize</key>
<string>{96,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,2},{96,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,31}</string>
<key>spriteSize</key>
<string>{94,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,68},{94,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,32}</string>
<key>spriteSize</key>
<string>{94,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,68},{94,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,32}</string>
<key>spriteSize</key>
<string>{94,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,164},{94,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,36}</string>
<key>spriteSize</key>
<string>{128,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,620},{128,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{126,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,706},{126,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{124,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,524},{124,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{124,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,398},{124,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{124,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,376},{124,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{126,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,328},{126,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{128,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,492},{128,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{128,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{800,576},{128,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{120,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,1258},{120,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,52}</string>
<key>spriteSize</key>
<string>{92,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,1134},{92,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{104,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,870},{104,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{110,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,846},{110,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,51}</string>
<key>spriteSize</key>
<string>{116,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,622},{116,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{128,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,2},{128,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{142,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,786},{142,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{156,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,266},{156,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{82,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,1132},{82,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{72,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,834},{72,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,48}</string>
<key>spriteSize</key>
<string>{66,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{952,724},{66,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,51}</string>
<key>spriteSize</key>
<string>{68,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,576},{68,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,51}</string>
<key>spriteSize</key>
<string>{84,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,930},{84,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{104,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,740},{104,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,44}</string>
<key>spriteSize</key>
<string>{122,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,456},{122,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{120,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,502},{120,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,36}</string>
<key>spriteSize</key>
<string>{70,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,548},{70,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{90,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,850},{90,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1064},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,48}</string>
<key>spriteSize</key>
<string>{80,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,1176},{80,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,52}</string>
<key>spriteSize</key>
<string>{84,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,1030},{84,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,51}</string>
<key>spriteSize</key>
<string>{86,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1286},{86,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,41}</string>
<key>spriteSize</key>
<string>{68,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,478},{68,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,35}</string>
<key>spriteSize</key>
<string>{74,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,70},{74,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,35}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,746},{102,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,38}</string>
<key>spriteSize</key>
<string>{114,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,1016},{114,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,41}</string>
<key>spriteSize</key>
<string>{126,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,1116},{126,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,47}</string>
<key>spriteSize</key>
<string>{128,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,1010},{128,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,49}</string>
<key>spriteSize</key>
<string>{120,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,1198},{120,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,1334},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,42}</string>
<key>spriteSize</key>
<string>{114,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,1060},{114,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,32}</string>
<key>spriteSize</key>
<string>{120,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,166},{120,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,36}</string>
<key>spriteSize</key>
<string>{130,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,812},{130,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,31}</string>
<key>spriteSize</key>
<string>{96,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,288},{96,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,29}</string>
<key>spriteSize</key>
<string>{108,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,580},{108,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,31}</string>
<key>spriteSize</key>
<string>{116,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,132},{116,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,32}</string>
<key>spriteSize</key>
<string>{124,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,750},{124,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,34}</string>
<key>spriteSize</key>
<string>{138,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,876},{138,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,41}</string>
<key>spriteSize</key>
<string>{156,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,260},{156,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{162,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,250},{162,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8002.png</string>
</dict>
</dict>
</plist>