<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_8002_shifa_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,15}</string>
<key>spriteSize</key>
<string>{10,23}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{482,2},{10,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shifa_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,6}</string>
<key>spriteSize</key>
<string>{60,41}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{334,424},{60,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shifa_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-6}</string>
<key>spriteSize</key>
<string>{94,63}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{238,434},{94,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shifa_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{108,53}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{390,306},{108,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shifa_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{106,43}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{390,361},{106,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shifa_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-12}</string>
<key>spriteSize</key>
<string>{76,41}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{154,434},{76,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shifa_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-12}</string>
<key>spriteSize</key>
<string>{76,39}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{197,434},{76,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shifa_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-12}</string>
<key>spriteSize</key>
<string>{74,37}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{472,154},{74,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shifa_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-15}</string>
<key>spriteSize</key>
<string>{58,15}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{482,14},{58,15}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shouji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{158,148}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{154,154},{158,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{284,306},{104,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{154,304},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{314,154},{156,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{2,314},{158,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shouji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{2,154},{158,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shouji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{322,2},{158,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{162,2},{158,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_shouji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{200,188}</string>
<key>textureRect</key>
<string>{{2,2},{158,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8002_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8002_skill_2.png</string>
</dict>
</dict>
</plist>