<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8002_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{96,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,92},{96,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,50}</string>
<key>spriteSize</key>
<string>{102,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,204},{102,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-32}</string>
<key>spriteSize</key>
<string>{168,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,2},{168,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,39}</string>
<key>spriteSize</key>
<string>{94,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,892},{94,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,49}</string>
<key>spriteSize</key>
<string>{86,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,892},{86,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,48}</string>
<key>spriteSize</key>
<string>{84,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,804},{84,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,45}</string>
<key>spriteSize</key>
<string>{88,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,624},{88,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,44}</string>
<key>spriteSize</key>
<string>{86,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,476},{86,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,42}</string>
<key>spriteSize</key>
<string>{84,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,512},{84,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,42}</string>
<key>spriteSize</key>
<string>{84,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,376},{84,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,43}</string>
<key>spriteSize</key>
<string>{84,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,338},{84,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,45}</string>
<key>spriteSize</key>
<string>{86,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,308},{86,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,46}</string>
<key>spriteSize</key>
<string>{86,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,462},{86,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,47}</string>
<key>spriteSize</key>
<string>{88,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,680},{88,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,46}</string>
<key>spriteSize</key>
<string>{78,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,890},{78,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,44}</string>
<key>spriteSize</key>
<string>{70,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,846},{70,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{64,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,614},{64,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,49}</string>
<key>spriteSize</key>
<string>{60,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,752},{60,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,49}</string>
<key>spriteSize</key>
<string>{74,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,770},{74,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{94,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,794},{94,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{114,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,564},{114,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{110,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,598},{110,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{86,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,424},{86,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,51}</string>
<key>spriteSize</key>
<string>{82,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,710},{82,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,65}</string>
<key>spriteSize</key>
<string>{70,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,2},{70,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,77}</string>
<key>spriteSize</key>
<string>{64,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,74},{64,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,77}</string>
<key>spriteSize</key>
<string>{62,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,140},{62,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,78}</string>
<key>spriteSize</key>
<string>{70,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,148},{70,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,84}</string>
<key>spriteSize</key>
<string>{80,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,294},{80,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,79}</string>
<key>spriteSize</key>
<string>{74,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,190},{74,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,75}</string>
<key>spriteSize</key>
<string>{72,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,74},{72,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,75}</string>
<key>spriteSize</key>
<string>{70,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{70,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,83}</string>
<key>spriteSize</key>
<string>{70,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,266},{70,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,76}</string>
<key>spriteSize</key>
<string>{72,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,220},{72,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,82}</string>
<key>spriteSize</key>
<string>{78,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,396},{78,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,85}</string>
<key>spriteSize</key>
<string>{72,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,550},{72,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,90}</string>
<key>spriteSize</key>
<string>{88,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,714},{88,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,88}</string>
<key>spriteSize</key>
<string>{92,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,890},{92,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8002_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,73}</string>
<key>spriteSize</key>
<string>{62,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,476},{62,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8002.png</string>
</dict>
</dict>
</plist>