<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_8002_jizhong_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-77}</string>
<key>spriteSize</key>
<string>{140,118}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{370,2},{140,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{162,272}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{2,842},{162,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_jizhong_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,278}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{2,562},{182,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,278}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{186,2},{182,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,278}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{2,282},{182,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,278}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{2,2},{182,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{178,268}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{186,282},{178,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{168,270}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{186,552},{168,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{146,270}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{356,552},{146,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-18}</string>
<key>spriteSize</key>
<string>{144,238}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{366,282},{144,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8002_jizhong_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-22}</string>
<key>spriteSize</key>
<string>{130,220}</string>
<key>spriteSourceSize</key>
<string>{182,278}</string>
<key>textureRect</key>
<string>{{276,824},{130,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_8002_shuidi_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,46}</string>
<key>spriteSourceSize</key>
<string>{42,46}</string>
<key>textureRect</key>
<string>{{370,122},{42,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8002_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8002_skill_3.png</string>
</dict>
</dict>
</plist>