<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>nuqi_kuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{100,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{104,72},{100,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{100,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{2,111},{100,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{98,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{206,2},{98,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nuqi_kuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{100,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{104,37},{100,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{100,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{2,76},{100,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{100,33}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{104,2},{100,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{100,35}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{2,39},{100,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_kuang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{100,35}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{2,2},{100,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,1}</string>
<key>spriteSize</key>
<string>{14,17}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{240,102},{14,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,0}</string>
<key>spriteSize</key>
<string>{36,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{166,128},{36,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,0}</string>
<key>spriteSize</key>
<string>{60,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{104,128},{60,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{60,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{104,107},{60,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,0}</string>
<key>spriteSize</key>
<string>{36,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{166,107},{36,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,0}</string>
<key>spriteSize</key>
<string>{32,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{206,102},{32,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nuqi_tiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,0}</string>
<key>spriteSize</key>
<string>{28,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{204,123},{28,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nuqi_tiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,0}</string>
<key>spriteSize</key>
<string>{22,19}</string>
<key>spriteSourceSize</key>
<string>{106,37}</string>
<key>textureRect</key>
<string>{{225,123},{22,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>NuQi_Effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>NuQi_Effect.png</string>
</dict>
</dict>
</plist>