<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LW2_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{105,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{322,109},{105,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW2_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{105,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{306,322},{105,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{103,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{322,216},{103,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW2_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{103,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{201,412},{103,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW2_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{103,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{201,368},{103,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW2_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{103,44}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{201,322},{103,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW2_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{105,44}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{155,321},{105,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW2_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{105,44}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{109,321},{105,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW2_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{105,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{2,427},{105,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW2_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{105,42}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{321,2},{105,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW_UI_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{2,321},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{216,215},{105,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW_UI_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{215,109},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{215,2},{105,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW_UI_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{109,215},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{2,215},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{109,108},{105,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LW_UI_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{108,2},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{2,109},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LW_UI_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{151,140}</string>
<key>textureRect</key>
<string>{{2,2},{105,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LW_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LW_UI.png</string>
</dict>
</dict>
</plist>