<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Lan_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{123,126}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{130,242},{123,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lan_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{123,126}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{2,242},{123,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lan_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{125,120}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{129,120},{125,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lan_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{125,120}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{2,120},{125,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lan_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{125,120}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{380,2},{125,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lan_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{119,122}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{256,2},{119,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lan_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{125,116}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{129,2},{125,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lan_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{125,116}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{2,2},{125,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lan_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{127,122}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{379,129},{127,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lan_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{121,126}</string>
<key>spriteSourceSize</key>
<string>{133,132}</string>
<key>textureRect</key>
<string>{{256,123},{121,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>blue_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>blue_2.png</string>
</dict>
</dict>
</plist>