<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Jin_6_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{123,128}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{252,124},{123,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Jin_6_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,130}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{2,247},{129,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Jin_6_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,132}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{277,267},{141,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Jin_6_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{141,130}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{134,249},{141,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Jin_6_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{141,126}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{382,124},{141,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Jin_6_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{141,120}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{145,2},{141,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Jin_6_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{141,120}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{2,2},{141,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Jin_6_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{137,120}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{288,2},{137,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Jin_6_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,5}</string>
<key>spriteSize</key>
<string>{121,122}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{2,124},{121,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Jin_6_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{121,124}</string>
<key>spriteSourceSize</key>
<string>{141,132}</string>
<key>textureRect</key>
<string>{{126,124},{121,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>golden_6.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>golden_6.png</string>
</dict>
</dict>
</plist>