<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Lv_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{115,113}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{236,234},{115,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{115,113}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{353,232},{115,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{115,113}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{236,119},{115,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{115,115}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{236,2},{115,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{115,115}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{119,119},{115,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{115,115}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{119,2},{115,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{115,113}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{353,117},{115,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{115,113}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{353,2},{115,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{115,115}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{2,119},{115,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lv_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{115,115}</string>
<key>spriteSourceSize</key>
<string>{127,127}</string>
<key>textureRect</key>
<string>{{2,2},{115,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>green_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>green_1.png</string>
</dict>
</dict>
</plist>