<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Cheng_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{2,474},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{124,356},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{120,116}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{124,122},{120,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{122,118}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{2,2},{122,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{120,118}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{2,122},{120,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{120,118}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{126,2},{120,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{2,242},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{124,240},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{122,474},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Cheng_5_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{122,124}</string>
<key>textureRect</key>
<string>{{2,358},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>orange_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>orange_4.png</string>
</dict>
</dict>
</plist>