<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Hong_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{119,119}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{2,244},{119,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{119,119}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{123,2},{119,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{119,113}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{244,236},{119,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{119,115}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{244,119},{119,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{119,115}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{244,2},{119,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{119,115}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{123,123},{119,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{119,113}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{123,240},{119,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{119,113}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{2,365},{119,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{119,119}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{2,123},{119,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_5_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{119,119}</string>
<key>spriteSourceSize</key>
<string>{125,121}</string>
<key>textureRect</key>
<string>{{2,2},{119,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hong_dun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{125,64}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{365,129},{125,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{125,66}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{365,2},{125,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{125,68}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{193,355},{125,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{125,68}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{123,355},{125,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{119,64}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{365,256},{119,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{119,68}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{333,377},{119,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hong_dun_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{121,68}</string>
<key>spriteSourceSize</key>
<string>{125,76}</string>
<key>textureRect</key>
<string>{{263,351},{121,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>red_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>red_5.png</string>
</dict>
</dict>
</plist>