<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7001_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,95}</string>
<key>spriteSize</key>
<string>{332,234}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,2},{332,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,96}</string>
<key>spriteSize</key>
<string>{336,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,2},{336,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,97}</string>
<key>spriteSize</key>
<string>{336,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{336,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,97}</string>
<key>spriteSize</key>
<string>{328,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,238},{328,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,97}</string>
<key>spriteSize</key>
<string>{314,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,242},{314,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,96}</string>
<key>spriteSize</key>
<string>{300,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,482},{300,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,96}</string>
<key>spriteSize</key>
<string>{296,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,720},{296,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,95}</string>
<key>spriteSize</key>
<string>{300,234}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,720},{300,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,94}</string>
<key>spriteSize</key>
<string>{308,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,474},{308,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,94}</string>
<key>spriteSize</key>
<string>{322,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,240},{322,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7001.png</string>
</dict>
</dict>
</plist>