<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7001_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{174,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,118},{174,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{176,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,118},{176,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{176,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,118},{176,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{172,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,122},{172,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{166,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,366},{166,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,40}</string>
<key>spriteSize</key>
<string>{158,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,244},{158,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,40}</string>
<key>spriteSize</key>
<string>{158,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,606},{158,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,40}</string>
<key>spriteSize</key>
<string>{158,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,488},{158,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,40}</string>
<key>spriteSize</key>
<string>{164,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,482},{164,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{170,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,240},{170,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{140,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,858},{140,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{142,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,842},{142,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,44}</string>
<key>spriteSize</key>
<string>{146,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,730},{146,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{146,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,476},{146,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,45}</string>
<key>spriteSize</key>
<string>{146,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,418},{146,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{144,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,624},{144,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,44}</string>
<key>spriteSize</key>
<string>{144,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,650},{144,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{146,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,492},{146,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{148,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,368},{148,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{144,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,600},{144,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,768},{110,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,886},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,32}</string>
<key>spriteSize</key>
<string>{116,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,962},{116,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,34}</string>
<key>spriteSize</key>
<string>{120,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,1040},{120,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,34}</string>
<key>spriteSize</key>
<string>{118,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1082},{118,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,34}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1086},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,34}</string>
<key>spriteSize</key>
<string>{112,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,1126},{112,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,34}</string>
<key>spriteSize</key>
<string>{116,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,1114},{116,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,33}</string>
<key>spriteSize</key>
<string>{114,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,1064},{114,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,31}</string>
<key>spriteSize</key>
<string>{112,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,972},{112,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,31}</string>
<key>spriteSize</key>
<string>{124,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,1000},{124,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,33}</string>
<key>spriteSize</key>
<string>{126,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,936},{126,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,32}</string>
<key>spriteSize</key>
<string>{128,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,984},{128,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,32}</string>
<key>spriteSize</key>
<string>{128,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,910},{128,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,31}</string>
<key>spriteSize</key>
<string>{124,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,710},{124,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,29}</string>
<key>spriteSize</key>
<string>{120,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,528},{120,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,29}</string>
<key>spriteSize</key>
<string>{116,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,586},{116,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,28}</string>
<key>spriteSize</key>
<string>{122,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,734},{122,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,28}</string>
<key>spriteSize</key>
<string>{128,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,854},{128,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,29}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,836},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{180,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,2},{180,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{182,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,2},{182,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{182,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{182,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{180,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,2},{180,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,41}</string>
<key>spriteSize</key>
<string>{174,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,118},{174,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{170,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,240},{170,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,37}</string>
<key>spriteSize</key>
<string>{168,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,362},{168,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,37}</string>
<key>spriteSize</key>
<string>{168,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{518,240},{168,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{170,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,240},{170,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,42}</string>
<key>spriteSize</key>
<string>{178,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,2},{178,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,62}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,810},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{112,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,1232},{112,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,42}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,1162},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,44}</string>
<key>spriteSize</key>
<string>{140,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,956},{140,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,43}</string>
<key>spriteSize</key>
<string>{152,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,294},{152,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,41}</string>
<key>spriteSize</key>
<string>{128,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,1180},{128,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,42}</string>
<key>spriteSize</key>
<string>{122,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,1194},{122,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1316},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,44}</string>
<key>spriteSize</key>
<string>{134,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,1080},{134,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,42}</string>
<key>spriteSize</key>
<string>{100,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1552},{100,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,41}</string>
<key>spriteSize</key>
<string>{142,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,738},{142,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{104,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1346},{104,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{122,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,1310},{122,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,50}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1440},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,47}</string>
<key>spriteSize</key>
<string>{92,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{878,1370},{92,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,48}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,1268},{96,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,46}</string>
<key>spriteSize</key>
<string>{102,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,1368},{102,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,47}</string>
<key>spriteSize</key>
<string>{98,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,1268},{98,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,50}</string>
<key>spriteSize</key>
<string>{114,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,1300},{114,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,48}</string>
<key>spriteSize</key>
<string>{150,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,2},{150,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,52}</string>
<key>spriteSize</key>
<string>{146,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,612},{146,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,49}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1452},{112,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,49}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,1358},{88,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{114,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,1318},{114,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,48}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,1426},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,50}</string>
<key>spriteSize</key>
<string>{166,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{166,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{144,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,704},{144,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,64}</string>
<key>spriteSize</key>
<string>{138,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,154},{138,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,51}</string>
<key>spriteSize</key>
<string>{126,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,1200},{126,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,52}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,1240},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,48}</string>
<key>spriteSize</key>
<string>{106,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,650},{106,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,44}</string>
<key>spriteSize</key>
<string>{142,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,758},{142,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,45}</string>
<key>spriteSize</key>
<string>{148,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,368},{148,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,57}</string>
<key>spriteSize</key>
<string>{132,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1202},{132,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,70}</string>
<key>spriteSize</key>
<string>{132,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,490},{132,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7001.png</string>
</dict>
</dict>
</plist>