<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7001_huoyan_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,-41}</string>
<key>spriteSize</key>
<string>{111,52}</string>
<key>spriteSourceSize</key>
<string>{167,140}</string>
<key>textureRect</key>
<string>{{399,552},{111,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-25}</string>
<key>spriteSize</key>
<string>{127,84}</string>
<key>spriteSourceSize</key>
<string>{167,140}</string>
<key>textureRect</key>
<string>{{225,644},{127,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-8}</string>
<key>spriteSize</key>
<string>{159,122}</string>
<key>spriteSourceSize</key>
<string>{167,140}</string>
<key>textureRect</key>
<string>{{238,520},{159,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-2}</string>
<key>spriteSize</key>
<string>{155,130}</string>
<key>spriteSourceSize</key>
<string>{167,140}</string>
<key>textureRect</key>
<string>{{2,539},{155,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{41,1}</string>
<key>spriteSize</key>
<string>{85,132}</string>
<key>spriteSourceSize</key>
<string>{167,140}</string>
<key>textureRect</key>
<string>{{2,671},{85,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_jingguban2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{202,66}</string>
<key>spriteSourceSize</key>
<string>{208,74}</string>
<key>textureRect</key>
<string>{{238,452},{202,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_jingguban_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{273,60}</string>
<key>spriteSourceSize</key>
<string>{275,60}</string>
<key>textureRect</key>
<string>{{2,213},{273,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_zadi_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-12}</string>
<key>spriteSize</key>
<string>{302,185}</string>
<key>spriteSourceSize</key>
<string>{326,209}</string>
<key>textureRect</key>
<string>{{314,2},{302,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_zadi_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{310,209}</string>
<key>spriteSourceSize</key>
<string>{326,209}</string>
<key>textureRect</key>
<string>{{2,2},{310,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_zadi_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-32}</string>
<key>spriteSize</key>
<string>{252,145}</string>
<key>spriteSourceSize</key>
<string>{326,209}</string>
<key>textureRect</key>
<string>{{2,275},{252,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_zadi_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-28}</string>
<key>spriteSize</key>
<string>{242,143}</string>
<key>spriteSourceSize</key>
<string>{326,209}</string>
<key>textureRect</key>
<string>{{256,307},{242,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{222,824},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-8}</string>
<key>spriteSize</key>
<string>{114,100}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{340,784},{114,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{116,98}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{354,684},{116,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{116,92}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{222,730},{116,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{118,90}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{2,758},{118,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{112,84}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{136,723},{112,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-9}</string>
<key>spriteSize</key>
<string>{106,76}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{399,606},{106,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-11}</string>
<key>spriteSize</key>
<string>{78,26}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{472,770},{78,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{84,28}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{472,684},{84,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{86,32}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{136,689},{86,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{92,34}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{277,213},{92,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{94,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{102,928},{94,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{94,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{52,928},{94,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{94,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{2,928},{94,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{90,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{152,928},{90,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{82,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{456,850},{82,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{80,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{202,934},{80,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{78,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{252,934},{78,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8001_skill_2_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{72,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{159,539},{72,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{66,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{442,452},{66,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{159,639},{64,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{159,589},{64,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{96,48}</string>
<key>textureRect</key>
<string>{{442,502},{64,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{354,644},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8001_skill_2_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-15}</string>
<key>spriteSize</key>
<string>{234,115}</string>
<key>spriteSourceSize</key>
<string>{324,215}</string>
<key>textureRect</key>
<string>{{2,422},{234,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8001_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8001_skill_3.png</string>
</dict>
</dict>
</plist>