<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>chuansongmen_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1816,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1648,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1480,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1312,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1144,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{976,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{808,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{640,136},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{242,170},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chuansongmen_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1898,2},{106,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-49}</string>
<key>spriteSize</key>
<string>{236,132}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{722,2},{236,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-49}</string>
<key>spriteSize</key>
<string>{238,132}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{244,2},{238,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-56}</string>
<key>spriteSize</key>
<string>{232,130}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1664,2},{232,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-57}</string>
<key>spriteSize</key>
<string>{228,132}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{410,136},{228,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-57}</string>
<key>spriteSize</key>
<string>{230,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1432,2},{230,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-56}</string>
<key>spriteSize</key>
<string>{238,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,138},{238,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-57}</string>
<key>spriteSize</key>
<string>{240,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{240,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-57}</string>
<key>spriteSize</key>
<string>{234,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{1196,2},{234,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-58}</string>
<key>spriteSize</key>
<string>{236,132}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{484,2},{236,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chuansongmen_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-53}</string>
<key>spriteSize</key>
<string>{234,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{960,2},{234,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Atlas.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Atlas.png</string>
</dict>
</dict>
</plist>