<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CW_fuhuadan_02_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-29}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{912,573},{83,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_02_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,20}</string>
<key>spriteSize</key>
<string>{89,68}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{2,891},{89,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_02_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{88,19}</string>
<key>spriteSize</key>
<string>{57,80}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{914,101},{57,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_02_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,82}</string>
<key>spriteSize</key>
<string>{61,54}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{2,961},{61,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_02_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,73}</string>
<key>spriteSize</key>
<string>{77,64}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{914,183},{77,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_02_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,6}</string>
<key>spriteSize</key>
<string>{45,70}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{952,555},{45,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_02_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{293,268}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{2,621},{293,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_03_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-72,32}</string>
<key>spriteSize</key>
<string>{51,74}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{950,479},{51,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_03_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,101}</string>
<key>spriteSize</key>
<string>{75,66}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{922,341},{75,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_03_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,102}</string>
<key>spriteSize</key>
<string>{65,70}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{175,957},{65,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_03_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{77,39}</string>
<key>spriteSize</key>
<string>{47,60}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{952,627},{47,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_03_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{83,32}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{260,891},{83,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_03_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,46}</string>
<key>spriteSize</key>
<string>{97,58}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{914,2},{97,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_03_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{291,280}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{328,2},{291,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_04_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-80,19}</string>
<key>spriteSize</key>
<string>{45,66}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{58,964},{45,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_04_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,95}</string>
<key>spriteSize</key>
<string>{71,80}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{93,891},{71,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_04_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,103}</string>
<key>spriteSize</key>
<string>{83,64}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{175,891},{83,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_04_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{78,39}</string>
<key>spriteSize</key>
<string>{59,66}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{922,418},{59,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_04_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{89,36}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{912,482},{89,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_04_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{77,62}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{922,262},{77,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_fuhuadan_04_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{291,262}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{621,2},{291,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MC_guang2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{298,297}</string>
<key>spriteSourceSize</key>
<string>{316,313}</string>
<key>textureRect</key>
<string>{{2,322},{298,297}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MC_guang3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{324,318}</string>
<key>spriteSourceSize</key>
<string>{334,322}</string>
<key>textureRect</key>
<string>{{2,2},{324,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MC_guang4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{152,181}</string>
<key>spriteSourceSize</key>
<string>{170,209}</string>
<key>textureRect</key>
<string>{{671,696},{152,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MC_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,137}</string>
<key>spriteSourceSize</key>
<string>{172,137}</string>
<key>textureRect</key>
<string>{{854,696},{172,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MC_guangquan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{151,151}</string>
<key>spriteSourceSize</key>
<string>{179,171}</string>
<key>textureRect</key>
<string>{{822,870},{151,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MC_yinying_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,170}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{489,844},{175,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-37}</string>
<key>spriteSize</key>
<string>{172,154}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{666,850},{172,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>mc_daiji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-43}</string>
<key>spriteSize</key>
<string>{178,148}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{297,874},{178,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-32}</string>
<key>spriteSize</key>
<string>{180,172}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{489,670},{180,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-19}</string>
<key>spriteSize</key>
<string>{182,198}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{548,284},{182,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{184,212}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{520,484},{184,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>mc_daiji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{186,216}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{302,470},{186,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>mc_daiji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-10}</string>
<key>spriteSize</key>
<string>{184,218}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{328,284},{184,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>mc_daiji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-11}</string>
<key>spriteSize</key>
<string>{188,214}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{732,266},{188,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-12}</string>
<key>spriteSize</key>
<string>{190,214}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{297,658},{190,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>mc_daiji_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-13}</string>
<key>spriteSize</key>
<string>{176,212}</string>
<key>spriteSourceSize</key>
<string>{250,270}</string>
<key>textureRect</key>
<string>{{734,482},{176,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MC_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MC_effect.png</string>
</dict>
</dict>
</plist>