<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7001_baodian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-8}</string>
<key>spriteSize</key>
<string>{61,60}</string>
<key>spriteSourceSize</key>
<string>{197,202}</string>
<key>textureRect</key>
<string>{{554,152},{61,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_baodian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{105,134}</string>
<key>spriteSourceSize</key>
<string>{197,202}</string>
<key>textureRect</key>
<string>{{418,162},{105,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_baodian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,6}</string>
<key>spriteSize</key>
<string>{105,144}</string>
<key>spriteSourceSize</key>
<string>{197,202}</string>
<key>textureRect</key>
<string>{{272,162},{105,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,10}</string>
<key>spriteSize</key>
<string>{85,138}</string>
<key>spriteSourceSize</key>
<string>{197,202}</string>
<key>textureRect</key>
<string>{{223,440},{85,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_baodian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,43}</string>
<key>spriteSize</key>
<string>{27,60}</string>
<key>spriteSourceSize</key>
<string>{197,202}</string>
<key>textureRect</key>
<string>{{113,982},{27,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_daozhua2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,30}</string>
<key>spriteSize</key>
<string>{268,219}</string>
<key>spriteSourceSize</key>
<string>{276,281}</string>
<key>textureRect</key>
<string>{{2,273},{268,219}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_daozhua2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,6}</string>
<key>spriteSize</key>
<string>{268,269}</string>
<key>spriteSourceSize</key>
<string>{276,281}</string>
<key>textureRect</key>
<string>{{2,2},{268,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,2}</string>
<key>spriteSize</key>
<string>{204,263}</string>
<key>spriteSourceSize</key>
<string>{276,281}</string>
<key>textureRect</key>
<string>{{2,543},{204,263}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,-51}</string>
<key>spriteSize</key>
<string>{106,165}</string>
<key>spriteSourceSize</key>
<string>{276,281}</string>
<key>textureRect</key>
<string>{{223,273},{106,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-8}</string>
<key>spriteSize</key>
<string>{253,168}</string>
<key>spriteSourceSize</key>
<string>{277,194}</string>
<key>textureRect</key>
<string>{{208,543},{253,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_daozhua_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{243,172}</string>
<key>spriteSourceSize</key>
<string>{277,194}</string>
<key>textureRect</key>
<string>{{2,808},{243,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,-18}</string>
<key>spriteSize</key>
<string>{149,158}</string>
<key>spriteSourceSize</key>
<string>{277,194}</string>
<key>textureRect</key>
<string>{{272,2},{149,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,-25}</string>
<key>spriteSize</key>
<string>{135,144}</string>
<key>spriteSourceSize</key>
<string>{277,194}</string>
<key>textureRect</key>
<string>{{378,536},{135,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_daozhua_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,-63}</string>
<key>spriteSize</key>
<string>{131,68}</string>
<key>spriteSourceSize</key>
<string>{277,194}</string>
<key>textureRect</key>
<string>{{378,682},{131,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,-2}</string>
<key>spriteSize</key>
<string>{31,28}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{83,982},{31,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,1}</string>
<key>spriteSize</key>
<string>{85,102}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{468,424},{85,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,2}</string>
<key>spriteSize</key>
<string>{121,118}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{616,134},{121,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,2}</string>
<key>spriteSize</key>
<string>{119,130}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{564,2},{119,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-1}</string>
<key>spriteSize</key>
<string>{143,140}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{477,269},{143,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_huoyan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-7}</string>
<key>spriteSize</key>
<string>{171,136}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{247,798},{171,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_huoyan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-7}</string>
<key>spriteSize</key>
<string>{139,148}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{423,2},{139,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-8}</string>
<key>spriteSize</key>
<string>{153,144}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{331,269},{153,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{103,110}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{363,424},{103,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-8}</string>
<key>spriteSize</key>
<string>{79,38}</string>
<key>spriteSourceSize</key>
<string>{333,210}</string>
<key>textureRect</key>
<string>{{2,982},{79,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_7001_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_7001_1.png</string>
</dict>
</dict>
</plist>