<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,66}</string>
<key>spriteSize</key>
<string>{144,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,618},{144,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,67}</string>
<key>spriteSize</key>
<string>{144,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,326},{144,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,68}</string>
<key>spriteSize</key>
<string>{148,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,318},{148,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,70}</string>
<key>spriteSize</key>
<string>{154,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,162},{154,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,71}</string>
<key>spriteSize</key>
<string>{158,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,2},{158,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,71}</string>
<key>spriteSize</key>
<string>{160,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{160,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,69}</string>
<key>spriteSize</key>
<string>{160,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,164},{160,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,66}</string>
<key>spriteSize</key>
<string>{156,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,468},{156,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,65}</string>
<key>spriteSize</key>
<string>{150,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,764},{150,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,65}</string>
<key>spriteSize</key>
<string>{146,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,764},{146,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,66}</string>
<key>spriteSize</key>
<string>{144,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,472},{144,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET7001.png</string>
</dict>
</dict>
</plist>