<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET7001_A0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{852,1298},{106,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,49}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1902,998},{108,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,51}</string>
<key>spriteSize</key>
<string>{114,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,1258},{114,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{118,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,1178},{118,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{120,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1094,1170},{120,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,51}</string>
<key>spriteSize</key>
<string>{118,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,1244},{118,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{114,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1464,1226},{114,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,1406},{110,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1302,1308},{106,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{192,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,660},{192,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,54}</string>
<key>spriteSize</key>
<string>{190,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,742},{190,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,55}</string>
<key>spriteSize</key>
<string>{182,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,894},{182,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{168,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,1026},{168,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{160,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1480,1074},{160,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{170,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1558,802},{170,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{184,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,716},{184,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,52}</string>
<key>spriteSize</key>
<string>{194,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,602},{194,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{194,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,592},{194,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{248,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1072,2},{248,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,63}</string>
<key>spriteSize</key>
<string>{252,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,2},{252,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,64}</string>
<key>spriteSize</key>
<string>{246,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1322,2},{246,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,64}</string>
<key>spriteSize</key>
<string>{234,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,284},{234,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,64}</string>
<key>spriteSize</key>
<string>{222,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1818,2},{222,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,63}</string>
<key>spriteSize</key>
<string>{234,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,310},{234,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,62}</string>
<key>spriteSize</key>
<string>{246,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1570,2},{246,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,62}</string>
<key>spriteSize</key>
<string>{250,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,134},{250,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{248,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,2},{248,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,64}</string>
<key>spriteSize</key>
<string>{164,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1310,1002},{164,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,66}</string>
<key>spriteSize</key>
<string>{170,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,1214},{170,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,67}</string>
<key>spriteSize</key>
<string>{172,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,848},{172,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,67}</string>
<key>spriteSize</key>
<string>{174,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1612,632},{174,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,67}</string>
<key>spriteSize</key>
<string>{170,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,1082},{170,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,66}</string>
<key>spriteSize</key>
<string>{172,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,914},{172,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,65}</string>
<key>spriteSize</key>
<string>{172,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,1048},{172,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_A40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,62}</string>
<key>spriteSize</key>
<string>{164,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1050},{164,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,64}</string>
<key>spriteSize</key>
<string>{162,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1788,720},{162,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{102,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1814,456},{102,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{102,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1382,754},{102,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{106,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1434,530},{106,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{112,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,734},{112,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{116,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1206,618},{116,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{114,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1382,638},{114,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,64}</string>
<key>spriteSize</key>
<string>{108,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1206,736},{108,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,60}</string>
<key>spriteSize</key>
<string>{102,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,810},{102,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_A50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{102,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1498,426},{102,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1194,1292},{106,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B10004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{120,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{996,1400},{120,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,62}</string>
<key>spriteSize</key>
<string>{138,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1302,1168},{138,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,88}</string>
<key>spriteSize</key>
<string>{100,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,1252},{100,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{130,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1682,470},{130,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,1374},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,1364},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,40}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1820,1108},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,40}</string>
<key>spriteSize</key>
<string>{122,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1642,1164},{122,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{112,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1902,884},{112,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1050,1292},{106,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{182,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,900},{182,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{204,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,462},{204,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,64}</string>
<key>spriteSize</key>
<string>{208,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,438},{208,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,85}</string>
<key>spriteSize</key>
<string>{156,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1028,588},{156,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B20016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,49}</string>
<key>spriteSize</key>
<string>{178,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1814,560},{178,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,42}</string>
<key>spriteSize</key>
<string>{188,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1308,304},{188,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,42}</string>
<key>spriteSize</key>
<string>{186,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1068,442},{186,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{190,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,750},{190,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,45}</string>
<key>spriteSize</key>
<string>{184,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,582},{184,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,50}</string>
<key>spriteSize</key>
<string>{170,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1310,858},{170,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{180,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1814,306},{180,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{248,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,158},{248,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,52}</string>
<key>spriteSize</key>
<string>{278,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,2},{278,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,64}</string>
<key>spriteSize</key>
<string>{284,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{284,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,83}</string>
<key>spriteSize</key>
<string>{210,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,308},{210,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,63}</string>
<key>spriteSize</key>
<string>{234,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,154},{234,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,59}</string>
<key>spriteSize</key>
<string>{242,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1068,152},{242,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{238,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1068,298},{238,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,60}</string>
<key>spriteSize</key>
<string>{244,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,152},{244,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,60}</string>
<key>spriteSize</key>
<string>{240,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1312,156},{240,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{222,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1816,156},{222,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,62}</string>
<key>spriteSize</key>
<string>{244,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1570,152},{244,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,66}</string>
<key>spriteSize</key>
<string>{176,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1256,450},{176,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,54}</string>
<key>spriteSize</key>
<string>{194,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,572},{194,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,61}</string>
<key>spriteSize</key>
<string>{196,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,502},{196,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,84}</string>
<key>spriteSize</key>
<string>{164,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,406},{164,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B40016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,66}</string>
<key>spriteSize</key>
<string>{172,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{962,746},{172,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,63}</string>
<key>spriteSize</key>
<string>{172,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1136,846},{172,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,63}</string>
<key>spriteSize</key>
<string>{168,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1132,1008},{168,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,64}</string>
<key>spriteSize</key>
<string>{174,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,406},{174,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B40032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,65}</string>
<key>spriteSize</key>
<string>{170,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1216},{170,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B40036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,65}</string>
<key>spriteSize</key>
<string>{156,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1654,1006},{156,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,66}</string>
<key>spriteSize</key>
<string>{172,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,864},{172,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,66}</string>
<key>spriteSize</key>
<string>{102,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,1032},{102,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,53}</string>
<key>spriteSize</key>
<string>{112,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,1354},{112,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,61}</string>
<key>spriteSize</key>
<string>{130,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1682,304},{130,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7001_B50012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,81}</string>
<key>spriteSize</key>
<string>{104,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,300},{104,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,63}</string>
<key>spriteSize</key>
<string>{120,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1498,304},{120,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,64}</string>
<key>spriteSize</key>
<string>{120,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,1136},{120,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,64}</string>
<key>spriteSize</key>
<string>{120,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,1122},{120,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,65}</string>
<key>spriteSize</key>
<string>{120,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1482,952},{120,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,65}</string>
<key>spriteSize</key>
<string>{120,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1730,884},{120,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,66}</string>
<key>spriteSize</key>
<string>{108,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{958,916},{108,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7001_B50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,66}</string>
<key>spriteSize</key>
<string>{102,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,1018},{102,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET7001.png</string>
</dict>
</dict>
</plist>