<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-291,37}</string>
<key>spriteSize</key>
<string>{204,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,120},{204,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-93,65}</string>
<key>spriteSize</key>
<string>{216,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,2},{216,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{144,24}</string>
<key>spriteSize</key>
<string>{140,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,418},{140,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{153,24}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,810},{120,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{156,24}</string>
<key>spriteSize</key>
<string>{110,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,586},{110,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{157,25}</string>
<key>spriteSize</key>
<string>{108,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,476},{108,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{171,28}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,476},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{176,29}</string>
<key>spriteSize</key>
<string>{126,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,690},{126,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{174,30}</string>
<key>spriteSize</key>
<string>{120,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,810},{120,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{173,31}</string>
<key>spriteSize</key>
<string>{124,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,428},{124,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{174,31}</string>
<key>spriteSize</key>
<string>{136,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,526},{136,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{173,29}</string>
<key>spriteSize</key>
<string>{128,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,592},{128,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{173,26}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,530},{118,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{172,23}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,552},{116,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET0042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{169,25}</string>
<key>spriteSize</key>
<string>{110,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,418},{110,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-180,45}</string>
<key>spriteSize</key>
<string>{154,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,348},{154,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-186,32}</string>
<key>spriteSize</key>
<string>{178,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,308},{178,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-190,24}</string>
<key>spriteSize</key>
<string>{198,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,2},{198,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-97,113}</string>
<key>spriteSize</key>
<string>{198,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,222},{198,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{100,70}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,238},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{103,69}</string>
<key>spriteSize</key>
<string>{176,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,416},{176,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{95,72}</string>
<key>spriteSize</key>
<string>{154,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,272},{154,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,67}</string>
<key>spriteSize</key>
<string>{174,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,2},{174,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{90,70}</string>
<key>spriteSize</key>
<string>{164,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,524},{164,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{98,72}</string>
<key>spriteSize</key>
<string>{162,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,360},{162,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{93,71}</string>
<key>spriteSize</key>
<string>{168,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,178},{168,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20044.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{83,78}</string>
<key>spriteSize</key>
<string>{152,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,118},{152,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET20048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{111,70}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,130},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20052.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{138,34}</string>
<key>spriteSize</key>
<string>{222,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{222,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20056.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{132,38}</string>
<key>spriteSize</key>
<string>{216,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,108},{216,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET20060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{124,45}</string>
<key>spriteSize</key>
<string>{204,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,2},{204,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET7001.png</string>
</dict>
</dict>
</plist>