<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9019_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,86}</string>
<key>spriteSize</key>
<string>{250,318}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{510,1028},{250,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-65,49}</string>
<key>spriteSize</key>
<string>{298,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,724},{298,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,21}</string>
<key>spriteSize</key>
<string>{276,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{546,728},{276,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,65}</string>
<key>spriteSize</key>
<string>{276,364}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,346},{276,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,69}</string>
<key>spriteSize</key>
<string>{312,342}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{312,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,117}</string>
<key>spriteSize</key>
<string>{266,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,1686},{266,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,57}</string>
<key>spriteSize</key>
<string>{242,324}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{618,484},{242,324}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,67}</string>
<key>spriteSize</key>
<string>{242,348}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1422},{242,348}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,62}</string>
<key>spriteSize</key>
<string>{242,350}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1070},{242,350}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{242,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{280,480},{242,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,38}</string>
<key>spriteSize</key>
<string>{244,308}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{490,1356},{244,308}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,50}</string>
<key>spriteSize</key>
<string>{244,324}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{762,1028},{244,324}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{242,328}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,1356},{242,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,207}</string>
<key>spriteSize</key>
<string>{262,326}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{246,1028},{262,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,28}</string>
<key>spriteSize</key>
<string>{238,352}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{316,240},{238,352}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_ruchang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,12}</string>
<key>spriteSize</key>
<string>{236,370}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{316,2},{236,370}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_ruchang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{226,294}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{514,1666},{226,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,62}</string>
<key>spriteSize</key>
<string>{228,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{742,1662},{228,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{240,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{736,1354},{240,306}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,31}</string>
<key>spriteSize</key>
<string>{240,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1772},{240,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9019_ruchang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,48}</string>
<key>spriteSize</key>
<string>{238,330}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{688,2},{238,330}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_ruchang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,59}</string>
<key>spriteSize</key>
<string>{240,348}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{670,242},{240,348}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9019_ruchang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,11}</string>
<key>spriteSize</key>
<string>{242,356}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,712},{242,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9019.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9019.png</string>
</dict>
</dict>
</plist>