<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Unique weapon_guang2_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{120,122}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{803,835},{120,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{136,203}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{598,650},{136,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-4}</string>
<key>spriteSize</key>
<string>{136,199}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{718,439},{136,199}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{134,209}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{582,439},{134,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{134,209}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{446,470},{134,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-1}</string>
<key>spriteSize</key>
<string>{136,191}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{856,413},{136,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{136,189}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{872,606},{136,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{134,193}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{736,640},{134,193}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{134,203}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{598,855},{134,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Unique weapon_guang_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{134,207}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{462,681},{134,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{134,209}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{776,277},{134,209}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Unique weapon_guang_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{134,209}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{640,228},{134,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_guang_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{134,209}</string>
<key>spriteSourceSize</key>
<string>{242,299}</string>
<key>textureRect</key>
<string>{{504,228},{134,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_long_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-38}</string>
<key>spriteSize</key>
<string>{273,174}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{838,2},{273,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Unique weapon_long_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-17}</string>
<key>spriteSize</key>
<string>{261,248}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{2,226},{261,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_long_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{287,218}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{295,2},{287,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_long_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-17}</string>
<key>spriteSize</key>
<string>{237,242}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{265,226},{237,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Unique weapon_long_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-20}</string>
<key>spriteSize</key>
<string>{279,226}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{2,476},{279,226}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Unique weapon_long_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-21}</string>
<key>spriteSize</key>
<string>{291,222}</string>
<key>spriteSourceSize</key>
<string>{301,296}</string>
<key>textureRect</key>
<string>{{2,2},{291,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10063.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{204,252}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{256,732},{204,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10064.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{224,252}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{2,757},{224,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10065.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{224,252}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{584,2},{224,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10066.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,2}</string>
<key>spriteSize</key>
<string>{214,254}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{230,476},{214,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Darkgoldenrod Equip.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Darkgoldenrod Equip.png</string>
</dict>
</dict>
</plist>