<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>equip_10040_0000_0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{240,258}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{489,1},{240,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10040_0001_0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{242,258}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{267,257},{242,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10040_0002_0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,2}</string>
<key>spriteSize</key>
<string>{232,264}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{749,1},{232,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10040_0003_0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-7}</string>
<key>spriteSize</key>
<string>{234,264}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{1,273},{234,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10040_0004_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,4}</string>
<key>spriteSize</key>
<string>{236,270}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{1,1},{236,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10040_0005_0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{248,254}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{239,1},{248,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10040_0006_0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-3}</string>
<key>spriteSize</key>
<string>{228,254}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{1003,259},{228,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>equip_10040_0007_0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{238,256}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{1015,1},{238,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10040_0008_0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{236,258}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{765,235},{236,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10040_0009_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{236,260}</string>
<key>spriteSourceSize</key>
<string>{248,278}</string>
<key>textureRect</key>
<string>{{527,243},{236,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>equip_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>equip_4.png</string>
</dict>
</dict>
</plist>