<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_jianyi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-22}</string>
<key>spriteSize</key>
<string>{105,144}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{349,194},{105,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jianyi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{143,180}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{147,301},{143,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jianyi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{143,190}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{351,2},{143,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jianyi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{143,202}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{147,2},{143,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jianyi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,208}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{2,212},{143,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jianyi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,208}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{2,2},{143,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jianyi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{117,200}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{147,147},{117,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jianyi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,7}</string>
<key>spriteSize</key>
<string>{113,194}</string>
<key>spriteSourceSize</key>
<string>{143,208}</string>
<key>textureRect</key>
<string>{{292,301},{113,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_jianyi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_jianyi.png</string>
</dict>
</dict>
</plist>