<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9016_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,119}</string>
<key>spriteSize</key>
<string>{116,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,396},{116,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9016_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,130}</string>
<key>spriteSize</key>
<string>{120,378}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{120,378}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9016_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,125}</string>
<key>spriteSize</key>
<string>{130,372}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,124},{130,372}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9016_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,118}</string>
<key>spriteSize</key>
<string>{138,348}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,256},{138,348}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9016_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,112}</string>
<key>spriteSize</key>
<string>{136,310}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{352,300},{136,310}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9016_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,105}</string>
<key>spriteSize</key>
<string>{126,296}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{382,2},{126,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9016_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,110}</string>
<key>spriteSize</key>
<string>{118,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,514},{118,306}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9016.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9016.png</string>
</dict>
</dict>
</plist>