<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9016_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,82}</string>
<key>spriteSize</key>
<string>{242,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{810,1754},{242,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,61}</string>
<key>spriteSize</key>
<string>{278,182}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1180},{278,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,17}</string>
<key>spriteSize</key>
<string>{292,154}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1460},{292,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,88}</string>
<key>spriteSize</key>
<string>{282,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{186,1332},{282,214}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,85}</string>
<key>spriteSize</key>
<string>{250,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{370,1730},{250,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,74}</string>
<key>spriteSize</key>
<string>{270,186}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{622,1754},{270,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,104}</string>
<key>spriteSize</key>
<string>{264,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{478,520},{264,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,103}</string>
<key>spriteSize</key>
<string>{264,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{212,504},{264,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,101}</string>
<key>spriteSize</key>
<string>{260,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{428,1004},{260,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,101}</string>
<key>spriteSize</key>
<string>{256,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{682,1306},{256,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,102}</string>
<key>spriteSize</key>
<string>{256,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{402,1490},{256,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,103}</string>
<key>spriteSize</key>
<string>{256,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{424,1248},{256,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,104}</string>
<key>spriteSize</key>
<string>{260,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{696,818},{260,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,83}</string>
<key>spriteSize</key>
<string>{288,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{206,1042},{288,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,123}</string>
<key>spriteSize</key>
<string>{238,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{428,764},{238,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,130}</string>
<key>spriteSize</key>
<string>{210,280}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{158,1616},{210,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,123}</string>
<key>spriteSize</key>
<string>{204,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{660,1548},{204,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,110}</string>
<key>spriteSize</key>
<string>{254,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{690,1062},{254,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,76}</string>
<key>spriteSize</key>
<string>{298,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{308,278},{298,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,106}</string>
<key>spriteSize</key>
<string>{290,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{616,2},{290,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,114}</string>
<key>spriteSize</key>
<string>{286,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{616,270},{286,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,136}</string>
<key>spriteSize</key>
<string>{218,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{208,748},{218,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,128}</string>
<key>spriteSize</key>
<string>{202,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,902},{202,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,89}</string>
<key>spriteSize</key>
<string>{296,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{744,520},{296,214}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,79}</string>
<key>spriteSize</key>
<string>{308,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,280},{308,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,78}</string>
<key>spriteSize</key>
<string>{310,204}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,590},{310,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9016_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,115}</string>
<key>spriteSize</key>
<string>{306,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{308,2},{306,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9016_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,118}</string>
<key>spriteSize</key>
<string>{304,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{304,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9016.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9016.png</string>
</dict>
</dict>
</plist>