<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9001_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{71,68}</string>
<key>spriteSize</key>
<string>{398,252}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,508},{398,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9001_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{65,66}</string>
<key>spriteSize</key>
<string>{384,248}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,508},{384,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9001_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{62,65}</string>
<key>spriteSize</key>
<string>{388,248}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,258},{388,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9001_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,65}</string>
<key>spriteSize</key>
<string>{416,250}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{416,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9001_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,66}</string>
<key>spriteSize</key>
<string>{434,252}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{434,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9001_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{60,67}</string>
<key>spriteSize</key>
<string>{430,254}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,2},{430,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9001_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{67,68}</string>
<key>spriteSize</key>
<string>{412,254}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,508},{412,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9001.png</string>
</dict>
</dict>
</plist>