<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9001_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,79}</string>
<key>spriteSize</key>
<string>{252,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{818,1064},{252,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9001_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,55}</string>
<key>spriteSize</key>
<string>{294,150}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{304,860},{294,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-62,-14}</string>
<key>spriteSize</key>
<string>{322,130}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{322,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,90}</string>
<key>spriteSize</key>
<string>{272,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,990},{272,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,79}</string>
<key>spriteSize</key>
<string>{270,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,1012},{270,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,78}</string>
<key>spriteSize</key>
<string>{268,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{548,1064},{268,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,81}</string>
<key>spriteSize</key>
<string>{300,204}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{608,858},{300,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,83}</string>
<key>spriteSize</key>
<string>{300,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,780},{300,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,85}</string>
<key>spriteSize</key>
<string>{302,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{622,436},{302,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,86}</string>
<key>spriteSize</key>
<string>{302,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,564},{302,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,86}</string>
<key>spriteSize</key>
<string>{304,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{640,220},{304,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,84}</string>
<key>spriteSize</key>
<string>{304,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{316,432},{304,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,82}</string>
<key>spriteSize</key>
<string>{300,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{608,650},{300,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,88}</string>
<key>spriteSize</key>
<string>{300,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{306,644},{300,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,85}</string>
<key>spriteSize</key>
<string>{258,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,1210},{258,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,83}</string>
<key>spriteSize</key>
<string>{230,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1214},{230,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,88}</string>
<key>spriteSize</key>
<string>{316,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{646,2},{316,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,88}</string>
<key>spriteSize</key>
<string>{318,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,134},{318,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,87}</string>
<key>spriteSize</key>
<string>{316,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{322,218},{316,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,88}</string>
<key>spriteSize</key>
<string>{318,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{326,2},{318,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,87}</string>
<key>spriteSize</key>
<string>{312,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,350},{312,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9001.png</string>
</dict>
</dict>
</plist>