<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9001_H_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-74,-8}</string>
<key>spriteSize</key>
<string>{118,139}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,894},{118,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-65,-3}</string>
<key>spriteSize</key>
<string>{136,149}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{169,880},{136,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,-3}</string>
<key>spriteSize</key>
<string>{162,161}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{169,716},{162,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,-2}</string>
<key>spriteSize</key>
<string>{176,165}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,716},{176,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,-2}</string>
<key>spriteSize</key>
<string>{208,171}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{230,370},{208,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,-3}</string>
<key>spriteSize</key>
<string>{206,175}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,539},{206,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,-4}</string>
<key>spriteSize</key>
<string>{214,177}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{480,328},{214,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-3}</string>
<key>spriteSize</key>
<string>{226,179}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,358},{226,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-3}</string>
<key>spriteSize</key>
<string>{226,179}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{252,189},{226,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-2}</string>
<key>spriteSize</key>
<string>{220,181}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{746,316},{220,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{228,181}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{516,145},{228,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{236,185}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{762,2},{236,185}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{250,185}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{264,2},{250,185}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,4}</string>
<key>spriteSize</key>
<string>{260,177}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,2},{260,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,5}</string>
<key>spriteSize</key>
<string>{248,175}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{2,181},{248,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,0}</string>
<key>spriteSize</key>
<string>{244,141}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{516,2},{244,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-3}</string>
<key>spriteSize</key>
<string>{226,125}</string>
<key>spriteSourceSize</key>
<string>{270,185}</string>
<key>textureRect</key>
<string>{{746,189},{226,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9001_2H.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9001_2H.png</string>
</dict>
</dict>
</plist>