<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9001_H_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-81,-1}</string>
<key>spriteSize</key>
<string>{102,93}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{268,651},{102,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,-2}</string>
<key>spriteSize</key>
<string>{188,109}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{274,2},{188,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{264,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,575},{264,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{264,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{272,385},{264,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{264,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{389,379},{264,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{264,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{389,113},{264,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{268,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,347},{268,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{270,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{274,113},{270,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9001_H_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{270,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,2},{270,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{268,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,232},{268,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{268,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,117},{268,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{266,111}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{2,462},{266,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9001_H_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{254,113}</string>
<key>spriteSourceSize</key>
<string>{270,113}</string>
<key>textureRect</key>
<string>{{387,645},{254,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9001_H.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9001_H.png</string>
</dict>
</dict>
</plist>