<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YingXiong_dujie_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{94,93}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{417,2},{94,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiong_dujie_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{122,97}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{140,137},{122,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-8}</string>
<key>spriteSize</key>
<string>{136,111}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{2,117},{136,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{148,113}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{2,2},{148,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{148,113}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{2,2},{148,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-4}</string>
<key>spriteSize</key>
<string>{132,105}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{290,130},{132,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{82,83}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{424,98},{82,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_dujie_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-3}</string>
<key>spriteSize</key>
<string>{126,125}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{290,2},{126,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiong_dujie_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-4}</string>
<key>spriteSize</key>
<string>{136,133}</string>
<key>spriteSourceSize</key>
<string>{194,153}</string>
<key>textureRect</key>
<string>{{152,2},{136,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YingXiong_dujie.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YingXiong_dujie.png</string>
</dict>
</dict>
</plist>