<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9010_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{232,554},{72,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,38}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{350,490},{72,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,690},{74,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,37}</string>
<key>spriteSize</key>
<string>{82,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{220,714},{82,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,870},{88,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{92,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,844},{92,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{92,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,776},{92,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{228,628},{84,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,34}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{112,690},{84,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,36}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,604},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{338,670},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,40}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,938},{72,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{266,866},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,38}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{214,798},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,37}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,870},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,36}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,766},{76,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,41}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,232},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{126,112},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,43}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,118},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,44}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,442},{112,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,44}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{346,564},{104,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,43}</string>
<key>spriteSize</key>
<string>{100,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,588},{100,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,42}</string>
<key>spriteSize</key>
<string>{96,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{120,406},{96,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,41}</string>
<key>spriteSize</key>
<string>{104,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{238,336},{104,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{114,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{366,302},{114,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,46}</string>
<key>spriteSize</key>
<string>{118,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{246,226},{118,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,46}</string>
<key>spriteSize</key>
<string>{120,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{374,2},{120,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{122,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{250,2},{122,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,48}</string>
<key>spriteSize</key>
<string>{122,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{126,2},{122,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,49}</string>
<key>spriteSize</key>
<string>{122,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{122,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,48}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{374,108},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{250,110},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9010_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,41}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,528},{74,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{354,414},{74,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{366,226},{74,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,228},{82,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,44}</string>
<key>spriteSize</key>
<string>{88,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,346},{88,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{92,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{120,312},{92,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,44}</string>
<key>spriteSize</key>
<string>{90,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,436},{90,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9010_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{82,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{118,504},{82,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9010_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9010_run.png</string>
</dict>
</dict>
</plist>