<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_ng1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-18}</string>
<key>spriteSize</key>
<string>{73,54}</string>
<key>spriteSourceSize</key>
<string>{143,124}</string>
<key>textureRect</key>
<string>{{146,222},{73,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ng3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{142,140}</string>
<key>spriteSourceSize</key>
<string>{146,140}</string>
<key>textureRect</key>
<string>{{2,222},{142,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ng4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,3}</string>
<key>spriteSize</key>
<string>{104,112}</string>
<key>spriteSourceSize</key>
<string>{146,140}</string>
<key>textureRect</key>
<string>{{2,364},{104,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ng_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{103,112}</string>
<key>spriteSourceSize</key>
<string>{143,124}</string>
<key>textureRect</key>
<string>{{108,364},{103,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDKS_luxunxiangsuge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{146,278},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guang4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{218,218}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{2,2},{218,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HD_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HD_UI.png</string>
</dict>
</dict>
</plist>