<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5007_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,53}</string>
<key>spriteSize</key>
<string>{98,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,272},{98,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{114,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{720,2},{114,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,42}</string>
<key>spriteSize</key>
<string>{120,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,2},{120,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,51}</string>
<key>spriteSize</key>
<string>{110,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,114},{110,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{114,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,2},{114,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{110,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,100},{110,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{88,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,362},{88,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,540},{72,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,49}</string>
<key>spriteSize</key>
<string>{74,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,500},{74,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,43}</string>
<key>spriteSize</key>
<string>{80,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,226},{80,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,52}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,638},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,452},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,56}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,474},{76,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{64,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,186},{64,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{62,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,620},{62,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{62,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,506},{62,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,42}</string>
<key>spriteSize</key>
<string>{60,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,542},{60,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,552},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{72,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,478},{72,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,180},{74,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{950,2},{72,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,51}</string>
<key>spriteSize</key>
<string>{84,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,536},{84,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{102,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,256},{102,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,39}</string>
<key>spriteSize</key>
<string>{106,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,208},{106,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,48}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,354},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,54}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,352},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{84,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,308},{84,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,51}</string>
<key>spriteSize</key>
<string>{72,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,204},{72,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{100,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,264},{100,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{118,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,100},{118,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{126,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{126,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{116,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,102},{116,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,53}</string>
<key>spriteSize</key>
<string>{118,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,2},{118,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{114,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,2},{114,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{92,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,442},{92,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,61}</string>
<key>spriteSize</key>
<string>{104,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,252},{104,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,93}</string>
<key>spriteSize</key>
<string>{86,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,362},{86,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,98}</string>
<key>spriteSize</key>
<string>{90,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,576},{90,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,90}</string>
<key>spriteSize</key>
<string>{88,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,322},{88,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,45}</string>
<key>spriteSize</key>
<string>{82,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,394},{82,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,212},{50,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,62}</string>
<key>spriteSize</key>
<string>{48,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,278},{48,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,70}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,312},{82,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,59}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,526},{96,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,91}</string>
<key>spriteSize</key>
<string>{82,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,410},{82,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,97}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,614},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,89}</string>
<key>spriteSize</key>
<string>{92,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{920,506},{92,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,48}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,570},{84,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,55}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,294},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,63}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,328},{80,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,70}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,450},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,55}</string>
<key>spriteSize</key>
<string>{60,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,210},{60,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-57,85}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,116},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,92}</string>
<key>spriteSize</key>
<string>{82,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,570},{82,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,87}</string>
<key>spriteSize</key>
<string>{94,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,456},{94,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,56}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,656},{88,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,61}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,106},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,67}</string>
<key>spriteSize</key>
<string>{104,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,106},{104,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,68}</string>
<key>spriteSize</key>
<string>{66,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,196},{66,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,50}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,198},{94,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,78}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,100},{78,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,87}</string>
<key>spriteSize</key>
<string>{90,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,410},{90,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,85}</string>
<key>spriteSize</key>
<string>{88,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,622},{88,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,63}</string>
<key>spriteSize</key>
<string>{76,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,412},{76,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,67}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,552},{84,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,69}</string>
<key>spriteSize</key>
<string>{74,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,494},{74,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,66}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,106},{78,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,2},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,75}</string>
<key>spriteSize</key>
<string>{102,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,2},{102,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,84}</string>
<key>spriteSize</key>
<string>{104,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,264},{104,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,85}</string>
<key>spriteSize</key>
<string>{98,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,368},{98,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,590},{72,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{46,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,452},{46,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{46,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,210},{46,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{82,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,390},{82,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5007.png</string>
</dict>
</dict>
</plist>