<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6003_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{107,95}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{2,540},{107,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{167,145}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{173,161},{167,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{169,151}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{344,141},{169,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{169,157}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{173,2},{169,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{169,165}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{2,2},{169,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-5}</string>
<key>spriteSize</key>
<string>{153,137}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{344,2},{153,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{61,59}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{252,369},{61,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{59,59}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{440,312},{59,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{61,59}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{252,308},{61,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,117}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{127,433},{117,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-13}</string>
<key>spriteSize</key>
<string>{125,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,169},{125,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{127,308},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-13}</string>
<key>spriteSize</key>
<string>{123,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,417},{123,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{121,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{315,429},{121,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,292},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{123,115}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{315,312},{123,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6003_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6003_skill_1.png</string>
</dict>
</dict>
</plist>