<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5007_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,47}</string>
<key>spriteSize</key>
<string>{90,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,484},{90,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,13}</string>
<key>spriteSize</key>
<string>{62,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,532},{62,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{88,54}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,562},{88,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,50}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,320},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,37}</string>
<key>spriteSize</key>
<string>{104,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,2},{104,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,28}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,460},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,54}</string>
<key>spriteSize</key>
<string>{64,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,320},{64,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{68,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,414},{68,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,490},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,50}</string>
<key>spriteSize</key>
<string>{78,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,2},{78,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,56}</string>
<key>spriteSize</key>
<string>{72,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,246},{72,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{66,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,104},{66,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,57}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,180},{80,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-54,88}</string>
<key>spriteSize</key>
<string>{84,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,2},{84,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,94}</string>
<key>spriteSize</key>
<string>{86,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,506},{86,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,87}</string>
<key>spriteSize</key>
<string>{86,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,594},{86,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,49}</string>
<key>spriteSize</key>
<string>{88,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,416},{88,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,56}</string>
<key>spriteSize</key>
<string>{106,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,2},{106,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,64}</string>
<key>spriteSize</key>
<string>{94,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,66},{94,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,68}</string>
<key>spriteSize</key>
<string>{68,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,250},{68,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,50}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,172},{68,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,42}</string>
<key>spriteSize</key>
<string>{60,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,226},{60,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{90,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,242},{90,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{66,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,88},{66,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,50}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,156},{68,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{90,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,334},{90,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,38}</string>
<key>spriteSize</key>
<string>{86,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,282},{86,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,31}</string>
<key>spriteSize</key>
<string>{68,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,288},{68,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,32}</string>
<key>spriteSize</key>
<string>{54,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,358},{54,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{70,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,460},{70,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,552},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,59}</string>
<key>spriteSize</key>
<string>{76,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,98},{76,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,53}</string>
<key>spriteSize</key>
<string>{92,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,370},{92,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,48}</string>
<key>spriteSize</key>
<string>{102,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,154},{102,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,43}</string>
<key>spriteSize</key>
<string>{62,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,426},{62,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,48}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,386},{72,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,69}</string>
<key>spriteSize</key>
<string>{72,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,80},{72,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,71}</string>
<key>spriteSize</key>
<string>{86,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,162},{86,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_5007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_5007.png</string>
</dict>
</dict>
</plist>