<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6003_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,20}</string>
<key>spriteSourceSize</key>
<string>{26,20}</string>
<key>textureRect</key>
<string>{{524,231},{20,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,7}</string>
<key>spriteSize</key>
<string>{101,147}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{201,784},{101,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,7}</string>
<key>spriteSize</key>
<string>{101,149}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{245,456},{101,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,7}</string>
<key>spriteSize</key>
<string>{101,147}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{348,561},{101,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{103,145}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{411,784},{103,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,6}</string>
<key>spriteSize</key>
<string>{103,147}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{348,456},{103,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{105,145}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{304,784},{105,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,5}</string>
<key>spriteSize</key>
<string>{105,143}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{582,621},{105,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,4}</string>
<key>spriteSize</key>
<string>{103,141}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{516,833},{103,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,5}</string>
<key>spriteSize</key>
<string>{105,143}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{437,664},{105,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{103,143}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{582,728},{103,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,5}</string>
<key>spriteSize</key>
<string>{107,143}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{151,653},{107,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{107,139}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{296,664},{107,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,63}</string>
<key>spriteSize</key>
<string>{147,119}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,653},{147,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,18}</string>
<key>spriteSize</key>
<string>{199,207}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{819,199},{199,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,18}</string>
<key>spriteSize</key>
<string>{197,207}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,784},{197,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,23}</string>
<key>spriteSize</key>
<string>{189,215}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{761,593},{189,215}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,19}</string>
<key>spriteSize</key>
<string>{249,223}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{273,231},{249,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,18}</string>
<key>spriteSize</key>
<string>{277,225}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,2},{277,225}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,18}</string>
<key>spriteSize</key>
<string>{271,227}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{281,2},{271,227}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,17}</string>
<key>spriteSize</key>
<string>{269,223}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,229},{269,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_skill_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,33}</string>
<key>spriteSize</key>
<string>{225,235}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{524,394},{225,235}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,16}</string>
<key>spriteSize</key>
<string>{199,263}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{554,2},{199,263}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,6}</string>
<key>spriteSize</key>
<string>{197,241}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,454},{197,241}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,17}</string>
<key>spriteSize</key>
<string>{189,259}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{554,203},{189,259}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,5}</string>
<key>spriteSize</key>
<string>{183,235}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{761,408},{183,235}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_skill_2_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,20}</string>
<key>spriteSize</key>
<string>{195,203}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{819,2},{195,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6003_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6003_skill_2.png</string>
</dict>
</dict>
</plist>