<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7003_caihong_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,32}</string>
<key>spriteSize</key>
<string>{23,30}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{317,264},{23,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caihong_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,33}</string>
<key>spriteSize</key>
<string>{43,36}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{139,318},{43,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caihong_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,32}</string>
<key>spriteSize</key>
<string>{85,46}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{770,294},{85,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caihong_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{105,50}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{837,165},{105,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caihong_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,24}</string>
<key>spriteSize</key>
<string>{141,62}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{823,272},{141,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caihong_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,20}</string>
<key>spriteSize</key>
<string>{157,68}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{678,116},{157,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caihong_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,12}</string>
<key>spriteSize</key>
<string>{181,86}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{2,2},{181,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caoping_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,5}</string>
<key>spriteSize</key>
<string>{15,16}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{317,315},{15,16}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caoping_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,3}</string>
<key>spriteSize</key>
<string>{47,52}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{837,116},{47,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_caoping_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,-3}</string>
<key>spriteSize</key>
<string>{71,70}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{244,365},{71,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caoping_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-66,-4}</string>
<key>spriteSize</key>
<string>{99,88}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{244,453},{99,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caoping_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-68,-3}</string>
<key>spriteSize</key>
<string>{103,102}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{139,365},{103,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caoping_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-72,-3}</string>
<key>spriteSize</key>
<string>{111,100}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{492,426},{111,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_caoping_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-73,-2}</string>
<key>spriteSize</key>
<string>{113,102}</string>
<key>spriteSourceSize</key>
<string>{311,190}</string>
<key>textureRect</key>
<string>{{317,349},{113,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_guangyun2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{117,117}</string>
<key>textureRect</key>
<string>{{770,415},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_guangyun2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,107}</string>
<key>spriteSourceSize</key>
<string>{113,107}</string>
<key>textureRect</key>
<string>{{863,594},{113,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_guangyun3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,32}</string>
<key>spriteSize</key>
<string>{25,24}</string>
<key>spriteSourceSize</key>
<string>{541,306}</string>
<key>textureRect</key>
<string>{{317,289},{25,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_guangyun_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{33,32}</string>
<key>spriteSourceSize</key>
<string>{53,48}</string>
<key>textureRect</key>
<string>{{317,230},{33,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,2}</string>
<key>spriteSize</key>
<string>{121,72}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{885,520},{121,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-3}</string>
<key>spriteSize</key>
<string>{123,88}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{498,336},{123,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-13}</string>
<key>spriteSize</key>
<string>{157,110}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{519,116},{157,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-12}</string>
<key>spriteSize</key>
<string>{175,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{539,2},{175,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-12}</string>
<key>spriteSize</key>
<string>{175,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{362,2},{175,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-11}</string>
<key>spriteSize</key>
<string>{175,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{2,90},{175,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-11}</string>
<key>spriteSize</key>
<string>{175,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{185,2},{175,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-11}</string>
<key>spriteSize</key>
<string>{173,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{2,204},{173,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-11}</string>
<key>spriteSize</key>
<string>{173,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{179,116},{173,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{173,112}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{716,2},{173,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-8}</string>
<key>spriteSize</key>
<string>{163,110}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{354,116},{163,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-7}</string>
<key>spriteSize</key>
<string>{143,106}</string>
<key>spriteSourceSize</key>
<string>{377,296}</string>
<key>textureRect</key>
<string>{{678,186},{143,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-54}</string>
<key>spriteSize</key>
<string>{101,58}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{432,349},{101,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_piaodai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-47}</string>
<key>spriteSize</key>
<string>{101,72}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{2,438},{101,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-12}</string>
<key>spriteSize</key>
<string>{119,142}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{354,228},{119,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_piaodai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{131,158}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{891,2},{131,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{133,154}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{889,236},{133,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{133,138}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{177,230},{133,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003_piaodai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,11}</string>
<key>spriteSize</key>
<string>{133,128}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{635,294},{133,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,15}</string>
<key>spriteSize</key>
<string>{135,126}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{887,392},{135,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,21}</string>
<key>spriteSize</key>
<string>{135,118}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{2,318},{135,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,28}</string>
<key>spriteSize</key>
<string>{135,106}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{498,228},{135,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,29}</string>
<key>spriteSize</key>
<string>{119,106}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{623,424},{119,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_piaodai_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,32}</string>
<key>spriteSize</key>
<string>{117,104}</string>
<key>spriteSourceSize</key>
<string>{377,414}</string>
<key>textureRect</key>
<string>{{744,530},{117,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003_yun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{130,72}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{891,162},{130,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_7003_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_7003_1.png</string>
</dict>
</dict>
</plist>