<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET7003_A0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,74}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,530},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,526},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,70}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,524},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,726},{96,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,65}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,852},{96,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,65}</string>
<key>spriteSize</key>
<string>{96,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,846},{96,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,68}</string>
<key>spriteSize</key>
<string>{96,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,802},{96,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,71}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,798},{96,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,74}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,336},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,73}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,430},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,71}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,438},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,68}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,408},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,65}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,702},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,66}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,698},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,68}</string>
<key>spriteSize</key>
<string>{100,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,932},{100,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,71}</string>
<key>spriteSize</key>
<string>{100,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,596},{100,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,76}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,292},{110,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7003_A0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,74}</string>
<key>spriteSize</key>
<string>{106,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,536},{106,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,72}</string>
<key>spriteSize</key>
<string>{104,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,394},{104,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,68}</string>
<key>spriteSize</key>
<string>{102,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,320},{102,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,65}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,328},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,66}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,622},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,69}</string>
<key>spriteSize</key>
<string>{106,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,824},{106,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,72}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,726},{108,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,75}</string>
<key>spriteSize</key>
<string>{94,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,506},{94,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,72}</string>
<key>spriteSize</key>
<string>{94,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,312},{94,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,70}</string>
<key>spriteSize</key>
<string>{92,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,122},{92,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,66}</string>
<key>spriteSize</key>
<string>{92,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,204},{92,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,63}</string>
<key>spriteSize</key>
<string>{94,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,298},{94,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,65}</string>
<key>spriteSize</key>
<string>{94,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,216},{94,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,68}</string>
<key>spriteSize</key>
<string>{94,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,558},{94,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,71}</string>
<key>spriteSize</key>
<string>{94,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,500},{94,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,74}</string>
<key>spriteSize</key>
<string>{100,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,628},{100,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,226},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,70}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,222},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,66}</string>
<key>spriteSize</key>
<string>{100,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,2},{100,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,63}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,218},{100,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0037.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,64}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,324},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0038.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,67}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,654},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_A0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,71}</string>
<key>spriteSize</key>
<string>{100,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,624},{100,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,67}</string>
<key>spriteSize</key>
<string>{96,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1146},{96,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,73}</string>
<key>spriteSize</key>
<string>{96,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,1000},{96,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,79}</string>
<key>spriteSize</key>
<string>{98,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,122},{98,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,78}</string>
<key>spriteSize</key>
<string>{98,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,116},{98,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,80}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,426},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,72}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,644},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,424},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,67}</string>
<key>spriteSize</key>
<string>{104,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1132},{104,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,71}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,950},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,78}</string>
<key>spriteSize</key>
<string>{118,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,2},{118,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,77}</string>
<key>spriteSize</key>
<string>{118,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,2},{118,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,79}</string>
<key>spriteSize</key>
<string>{118,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,216},{118,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{96,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,1034},{96,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,71}</string>
<key>spriteSize</key>
<string>{98,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,946},{98,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,67}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,944},{120,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,69}</string>
<key>spriteSize</key>
<string>{122,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,434},{122,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,77}</string>
<key>spriteSize</key>
<string>{108,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{108,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,77}</string>
<key>spriteSize</key>
<string>{114,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,102},{114,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,79}</string>
<key>spriteSize</key>
<string>{112,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,146},{112,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7003_B0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,73}</string>
<key>spriteSize</key>
<string>{100,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,836},{100,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,71}</string>
<key>spriteSize</key>
<string>{104,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,840},{104,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,67}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,1038},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,67}</string>
<key>spriteSize</key>
<string>{102,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,896},{102,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,77}</string>
<key>spriteSize</key>
<string>{112,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,112},{112,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,78}</string>
<key>spriteSize</key>
<string>{112,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,2},{112,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,80}</string>
<key>spriteSize</key>
<string>{114,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,2},{114,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7003_B0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,73}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,730},{108,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,71}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,754},{96,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,67}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,900},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1046},{98,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,78}</string>
<key>spriteSize</key>
<string>{98,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,2},{98,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,80}</string>
<key>spriteSize</key>
<string>{98,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,104},{98,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,82}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,602},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,73}</string>
<key>spriteSize</key>
<string>{98,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,938},{98,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7003_B0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,71}</string>
<key>spriteSize</key>
<string>{100,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,744},{100,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET7003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET7003.png</string>
</dict>
</dict>
</plist>