<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET7003_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,55}</string>
<key>spriteSize</key>
<string>{82,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,100},{82,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,55}</string>
<key>spriteSize</key>
<string>{82,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,100},{82,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,44}</string>
<key>spriteSize</key>
<string>{100,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,424},{100,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,37}</string>
<key>spriteSize</key>
<string>{110,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,310},{110,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,40}</string>
<key>spriteSize</key>
<string>{112,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{88,316},{112,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,59}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,198},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,59}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,312},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,59}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,198},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,58}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,82},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,58}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,88},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,58}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,430},{80,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-179,286}</string>
<key>spriteSize</key>
<string>{68,28}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,2},{68,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-109,216}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,2},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,104}</string>
<key>spriteSize</key>
<string>{116,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,100},{116,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,53}</string>
<key>spriteSize</key>
<string>{122,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{122,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,69}</string>
<key>spriteSize</key>
<string>{118,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,2},{118,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,66}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,96},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,69}</string>
<key>spriteSize</key>
<string>{90,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,200},{90,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,65}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,316},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_108.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,56}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,2},{78,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,58}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,430},{80,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7003_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,58}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,192},{78,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,59}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,312},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,59}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,200},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,59}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{94,200},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7003_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,58}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,422},{78,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET7003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET7003.png</string>
</dict>
</dict>
</plist>