<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1001_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,140},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{44,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,184},{44,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1001_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{42,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{98,188},{42,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1001_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{48,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{156,2},{48,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{150,96},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{44,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,234},{44,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,5}</string>
<key>spriteSize</key>
<string>{46,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{146,186},{46,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,144},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{48,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,48},{48,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{48,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{54,46},{48,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,50},{48,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,138},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{48,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,94},{48,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,7}</string>
<key>spriteSize</key>
<string>{44,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{146,230},{44,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,7}</string>
<key>spriteSize</key>
<string>{44,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,186},{44,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{50,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{54,2},{50,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{46,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{146,142},{46,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{44,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,230},{44,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{46,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,190},{46,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,7}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,96},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,48},{48,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{50,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{50,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,7}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,2},{48,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,7}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{202,94},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{154,50},{46,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{42,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{192,230},{42,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1001_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{42,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,232},{42,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1001_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{48,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,2},{48,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{46,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,96},{46,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1001_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,6}</string>
<key>spriteSize</key>
<string>{44,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{98,142},{44,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1001.png</string>
</dict>
</dict>
</plist>