<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9015_skill_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,83}</string>
<key>spriteSize</key>
<string>{270,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{776,2},{270,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9015_skill_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,110}</string>
<key>spriteSize</key>
<string>{250,294}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{242,584},{250,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_skill_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,111}</string>
<key>spriteSize</key>
<string>{238,296}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,584},{238,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_skill_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,78}</string>
<key>spriteSize</key>
<string>{308,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{748,274},{308,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9015_skill_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,68}</string>
<key>spriteSize</key>
<string>{408,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{408,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_skill_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,63}</string>
<key>spriteSize</key>
<string>{362,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{412,2},{362,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_skill_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,77}</string>
<key>spriteSize</key>
<string>{312,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,236},{312,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_skill_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,93}</string>
<key>spriteSize</key>
<string>{334,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{412,226},{334,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9015_skill.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9015_skill.png</string>
</dict>
</dict>
</plist>