<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9015_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,93}</string>
<key>spriteSize</key>
<string>{306,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{306,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,94}</string>
<key>spriteSize</key>
<string>{304,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{310,2},{304,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,95}</string>
<key>spriteSize</key>
<string>{302,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,264},{302,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,93}</string>
<key>spriteSize</key>
<string>{302,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{616,2},{302,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,91}</string>
<key>spriteSize</key>
<string>{302,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{306,266},{302,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,89}</string>
<key>spriteSize</key>
<string>{298,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{610,522},{298,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9015_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,91}</string>
<key>spriteSize</key>
<string>{302,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{616,264},{302,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9015.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9015.png</string>
</dict>
</dict>
</plist>