<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9015_baokai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-11}</string>
<key>spriteSize</key>
<string>{348,231}</string>
<key>spriteSourceSize</key>
<string>{556,293}</string>
<key>textureRect</key>
<string>{{548,550},{348,231}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9015_baokai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{544,293}</string>
<key>spriteSourceSize</key>
<string>{556,293}</string>
<key>textureRect</key>
<string>{{2,2},{544,293}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9015_baokai_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-10}</string>
<key>spriteSize</key>
<string>{546,273}</string>
<key>spriteSourceSize</key>
<string>{556,293}</string>
<key>textureRect</key>
<string>{{548,2},{546,273}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9015_baokai_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,4}</string>
<key>spriteSize</key>
<string>{536,285}</string>
<key>spriteSourceSize</key>
<string>{556,293}</string>
<key>textureRect</key>
<string>{{2,297},{536,285}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9015_baokai_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-11}</string>
<key>spriteSize</key>
<string>{466,257}</string>
<key>spriteSourceSize</key>
<string>{556,293}</string>
<key>textureRect</key>
<string>{{289,297},{466,257}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9015_xuli_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-14}</string>
<key>spriteSize</key>
<string>{213,200}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{727,783},{213,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9015_xuli_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-12}</string>
<key>spriteSize</key>
<string>{219,200}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{289,765},{219,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9015_xuli_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{215,200}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{510,783},{215,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9015_xuli_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{213,186}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{823,2},{213,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9015_xuli_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{207,178}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{823,217},{207,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9015_xuli_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-11}</string>
<key>spriteSize</key>
<string>{181,142}</string>
<key>spriteSourceSize</key>
<string>{331,278}</string>
<key>textureRect</key>
<string>{{2,835},{181,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9015_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9015_skill2.png</string>
</dict>
</dict>
</plist>