<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_jiangdinuqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-8}</string>
<key>spriteSize</key>
<string>{105,165}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{177,424},{105,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-9}</string>
<key>spriteSize</key>
<string>{173,193}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{2,424},{173,193}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-8}</string>
<key>spriteSize</key>
<string>{173,195}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{173,2},{173,195}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{169,207}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{2,2},{169,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{163,211}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{2,211},{163,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{149,211}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{167,211},{149,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{139,211}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{318,215},{139,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{139,211}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{348,2},{139,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiangdinuqi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{129,211}</string>
<key>spriteSourceSize</key>
<string>{177,211}</string>
<key>textureRect</key>
<string>{{284,428},{129,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_jiangdinuqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_jiangdinuqi.png</string>
</dict>
</dict>
</plist>