<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9008_skill_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-22}</string>
<key>spriteSize</key>
<string>{276,270}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{542,2},{276,270}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9008_skill_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{274,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,320},{274,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_skill_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,66}</string>
<key>spriteSize</key>
<string>{262,358}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{262,358}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_skill_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{254,340}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,362},{254,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_skill_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{318,326}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,704},{318,326}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9008_skill_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-58}</string>
<key>spriteSize</key>
<string>{274,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,2},{274,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_skill_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-53}</string>
<key>spriteSize</key>
<string>{256,326}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,690},{256,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_skill_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-50}</string>
<key>spriteSize</key>
<string>{270,326}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,362},{270,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9008_skill.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9008_skill.png</string>
</dict>
</dict>
</plist>