<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YingXiong_shengji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-115}</string>
<key>spriteSize</key>
<string>{100,49}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{273,516},{100,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_shengji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-14}</string>
<key>spriteSize</key>
<string>{184,269}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{2,390},{184,269}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiong_shengji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-14}</string>
<key>spriteSize</key>
<string>{184,269}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{2,204},{184,269}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiong_shengji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-13}</string>
<key>spriteSize</key>
<string>{200,269}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{2,2},{200,269}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiong_shengji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-13}</string>
<key>spriteSize</key>
<string>{198,269}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{273,2},{198,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiong_shengji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-27}</string>
<key>spriteSize</key>
<string>{198,241}</string>
<key>spriteSourceSize</key>
<string>{380,507}</string>
<key>textureRect</key>
<string>{{273,273},{198,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YingXiong_shengji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YingXiong_shengji.png</string>
</dict>
</dict>
</plist>