<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LianHuangDaJi_baodian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{200,199}</string>
<key>spriteSourceSize</key>
<string>{258,329}</string>
<key>textureRect</key>
<string>{{341,803},{200,199}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LianHuangDaJi_baodian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{212,213}</string>
<key>spriteSourceSize</key>
<string>{258,329}</string>
<key>textureRect</key>
<string>{{292,588},{212,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LianHuangDaJi_baodian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{226,231}</string>
<key>spriteSourceSize</key>
<string>{258,329}</string>
<key>textureRect</key>
<string>{{308,360},{226,231}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LianHuangDaJi_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-4}</string>
<key>spriteSize</key>
<string>{158,215}</string>
<key>spriteSourceSize</key>
<string>{258,329}</string>
<key>textureRect</key>
<string>{{124,830},{158,215}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LianHuangDaJi_jianguang_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,107}</string>
<key>spriteSize</key>
<string>{166,120}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{2,854},{166,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LianHuangDaJi_jianguang_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-6}</string>
<key>spriteSize</key>
<string>{184,346}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{2,2},{184,346}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LianHuangDaJi_jianguang_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-18}</string>
<key>spriteSize</key>
<string>{168,356}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{350,2},{168,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LianHuangDaJi_jianguang_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-18}</string>
<key>spriteSize</key>
<string>{160,354}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{2,188},{160,354}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LianHuangDaJi_jianguang_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-25}</string>
<key>spriteSize</key>
<string>{142,320}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{164,188},{142,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LianHuangDaJi_jianguang_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-24}</string>
<key>spriteSize</key>
<string>{126,318}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{164,510},{126,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LianHuangDaJi_jianguang_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-19}</string>
<key>spriteSize</key>
<string>{120,308}</string>
<key>spriteSourceSize</key>
<string>{262,394}</string>
<key>textureRect</key>
<string>{{2,544},{120,308}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LianHuangDaJi_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LianHuangDaJi_effect.png</string>
</dict>
</dict>
</plist>