<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1005_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,21}</string>
<key>spriteSize</key>
<string>{56,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,130},{56,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,23}</string>
<key>spriteSize</key>
<string>{54,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{258,194},{54,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,23}</string>
<key>spriteSize</key>
<string>{56,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{262,66},{56,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,22}</string>
<key>spriteSize</key>
<string>{56,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{320,62},{56,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,20}</string>
<key>spriteSize</key>
<string>{54,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,418},{54,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,22}</string>
<key>spriteSize</key>
<string>{54,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{148,152},{54,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,22}</string>
<key>spriteSize</key>
<string>{58,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,2},{58,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,22}</string>
<key>spriteSize</key>
<string>{58,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{320,2},{58,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,22}</string>
<key>spriteSize</key>
<string>{44,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,160},{44,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,24}</string>
<key>spriteSize</key>
<string>{46,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,2},{46,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,24}</string>
<key>spriteSize</key>
<string>{48,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,160},{48,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,24}</string>
<key>spriteSize</key>
<string>{50,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{154,386},{50,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,24}</string>
<key>spriteSize</key>
<string>{52,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,392},{52,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,24}</string>
<key>spriteSize</key>
<string>{54,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{148,80},{54,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,25}</string>
<key>spriteSize</key>
<string>{52,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{150,2},{52,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,23}</string>
<key>spriteSize</key>
<string>{48,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,316},{48,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,24}</string>
<key>spriteSize</key>
<string>{48,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,170},{48,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,25}</string>
<key>spriteSize</key>
<string>{46,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,420},{46,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,26}</string>
<key>spriteSize</key>
<string>{48,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,86},{48,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,26}</string>
<key>spriteSize</key>
<string>{46,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,254},{46,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,23}</string>
<key>spriteSize</key>
<string>{46,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,254},{46,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,23}</string>
<key>spriteSize</key>
<string>{48,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,420},{48,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,24}</string>
<key>spriteSize</key>
<string>{48,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,338},{48,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,24}</string>
<key>spriteSize</key>
<string>{48,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{48,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{52,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{146,238},{52,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,25}</string>
<key>spriteSize</key>
<string>{50,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{150,312},{50,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,27}</string>
<key>spriteSize</key>
<string>{50,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,82},{50,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,27}</string>
<key>spriteSize</key>
<string>{46,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,336},{46,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,24}</string>
<key>spriteSize</key>
<string>{42,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,80},{42,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,22}</string>
<key>spriteSize</key>
<string>{44,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,466},{44,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1005_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,23}</string>
<key>spriteSize</key>
<string>{46,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{98,238},{46,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,27}</string>
<key>spriteSize</key>
<string>{48,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,2},{48,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,25}</string>
<key>spriteSize</key>
<string>{54,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,352},{54,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,24}</string>
<key>spriteSize</key>
<string>{54,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{264,2},{54,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,26}</string>
<key>spriteSize</key>
<string>{56,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{258,258},{56,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,27}</string>
<key>spriteSize</key>
<string>{56,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{200,220},{56,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,25}</string>
<key>spriteSize</key>
<string>{54,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{202,286},{54,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,24}</string>
<key>spriteSize</key>
<string>{56,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{314,188},{56,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{58,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{262,128},{58,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1005_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{56,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,66},{56,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1005.png</string>
</dict>
</dict>
</plist>