<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5004_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,840},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{46,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,2},{46,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,228},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,342},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,564},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,59}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,2},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,59}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,456},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,59}</string>
<key>spriteSize</key>
<string>{46,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,116},{46,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,604},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,724},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{44,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,122},{44,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{44,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,836},{44,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{44,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,806},{44,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,58}</string>
<key>spriteSize</key>
<string>{44,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,2},{44,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{44,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,564},{44,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{44,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,114},{44,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{44,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,586},{44,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{44,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,720},{44,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{42,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,2},{42,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{44,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,246},{44,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{36,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,856},{36,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{38,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,596},{38,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{38,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,116},{38,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{38,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,230},{38,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{38,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,346},{38,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{36,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,580},{36,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{36,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,236},{36,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,56}</string>
<key>spriteSize</key>
<string>{36,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{40,844},{36,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,56}</string>
<key>spriteSize</key>
<string>{36,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,736},{36,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,55}</string>
<key>spriteSize</key>
<string>{36,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,616},{36,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{34,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,726},{34,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{36,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,356},{36,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{36,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,700},{36,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{36,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,568},{36,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{36,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,828},{36,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{36,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,2},{36,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{36,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,712},{36,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{36,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{40,726},{36,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,55}</string>
<key>spriteSize</key>
<string>{36,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,496},{36,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{34,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{40,370},{34,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,844},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{46,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,232},{46,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{48,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,116},{48,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,572},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,55}</string>
<key>spriteSize</key>
<string>{48,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,230},{48,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,56}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,694},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,56}</string>
<key>spriteSize</key>
<string>{46,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,352},{46,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,56}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,2},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,120},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,240},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,814},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,58}</string>
<key>spriteSize</key>
<string>{52,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,332},{52,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,918},{68,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,62}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,336},{76,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,64}</string>
<key>spriteSize</key>
<string>{48,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,784},{48,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,67}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,790},{56,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,68}</string>
<key>spriteSize</key>
<string>{38,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,480},{38,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,57}</string>
<key>spriteSize</key>
<string>{64,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{40,490},{64,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,62}</string>
<key>spriteSize</key>
<string>{66,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,608},{66,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{52,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,364},{52,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,56}</string>
<key>spriteSize</key>
<string>{58,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,118},{58,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,56}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,2},{58,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{72,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,224},{72,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,61}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,900},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,64}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,796},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,67}</string>
<key>spriteSize</key>
<string>{48,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,114},{48,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,68}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,344},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,55}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{38,250},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,63}</string>
<key>spriteSize</key>
<string>{64,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,488},{64,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,976},{46,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5004_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,2},{52,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,340},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{48,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,226},{48,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{44,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,674},{44,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,62}</string>
<key>spriteSize</key>
<string>{70,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,680},{70,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,65}</string>
<key>spriteSize</key>
<string>{46,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,674},{46,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,67}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,460},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{58,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,62}</string>
<key>spriteSize</key>
<string>{44,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,2},{44,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,57}</string>
<key>spriteSize</key>
<string>{38,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,2},{38,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,55}</string>
<key>spriteSize</key>
<string>{48,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,472},{48,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,53}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,454},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,55}</string>
<key>spriteSize</key>
<string>{44,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,782},{44,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,57}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,112},{60,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,61}</string>
<key>spriteSize</key>
<string>{38,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,450},{38,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,64}</string>
<key>spriteSize</key>
<string>{62,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,960},{62,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5004_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,65}</string>
<key>spriteSize</key>
<string>{40,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,684},{40,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,51}</string>
<key>spriteSize</key>
<string>{34,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,250},{34,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,59}</string>
<key>spriteSize</key>
<string>{36,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,374},{36,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{38,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{40,608},{38,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,55}</string>
<key>spriteSize</key>
<string>{46,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,2},{46,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,54}</string>
<key>spriteSize</key>
<string>{54,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,890},{54,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,56}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,444},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,942},{76,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5004_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,60}</string>
<key>spriteSize</key>
<string>{44,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,892},{44,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,63}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,906},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,63}</string>
<key>spriteSize</key>
<string>{38,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,466},{38,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,52}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{66,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,58}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,126},{68,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{52,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{76,370},{52,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5004.png</string>
</dict>
</dict>
</plist>