<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7009_jian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-145,9}</string>
<key>spriteSize</key>
<string>{234,47}</string>
<key>spriteSourceSize</key>
<string>{524,125}</string>
<key>textureRect</key>
<string>{{2,2},{234,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7009_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,33}</string>
<key>spriteSize</key>
<string>{107,87}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{149,51},{107,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7009_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,19}</string>
<key>spriteSize</key>
<string>{105,117}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{238,149},{105,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7009_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,18}</string>
<key>spriteSize</key>
<string>{95,113}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{357,149},{95,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7009_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,13}</string>
<key>spriteSize</key>
<string>{99,103}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,351},{99,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7009_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{89,81}</string>
<key>spriteSourceSize</key>
<string>{375,215}</string>
<key>textureRect</key>
<string>{{427,2},{89,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7009_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{109,103}</string>
<key>spriteSourceSize</key>
<string>{375,215}</string>
<key>textureRect</key>
<string>{{357,246},{109,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7009_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,3}</string>
<key>spriteSize</key>
<string>{137,145}</string>
<key>spriteSourceSize</key>
<string>{375,215}</string>
<key>textureRect</key>
<string>{{2,51},{137,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7009_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{187,145}</string>
<key>spriteSourceSize</key>
<string>{375,215}</string>
<key>textureRect</key>
<string>{{238,2},{187,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7009_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7009_skill_2.png</string>
</dict>
</dict>
</plist>