<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YunYouSiHai_xian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{297,10}</string>
<key>spriteSourceSize</key>
<string>{347,60}</string>
<key>textureRect</key>
<string>{{43,221},{297,10}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunYouSiHai_yezi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{23,39}</string>
<key>spriteSourceSize</key>
<string>{71,119}</string>
<key>textureRect</key>
<string>{{2,221},{23,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YunYouSiHai_yun.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{431,217}</string>
<key>spriteSourceSize</key>
<string>{439,233}</string>
<key>textureRect</key>
<string>{{2,2},{431,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YunYouSiHai_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YunYouSiHai_effect.png</string>
</dict>
</dict>
</plist>