<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9008_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-40}</string>
<key>spriteSize</key>
<string>{280,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,556},{280,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-42}</string>
<key>spriteSize</key>
<string>{282,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,284},{282,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-43}</string>
<key>spriteSize</key>
<string>{284,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,280},{284,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-43}</string>
<key>spriteSize</key>
<string>{290,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,2},{290,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-42}</string>
<key>spriteSize</key>
<string>{294,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,2},{294,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-40}</string>
<key>spriteSize</key>
<string>{294,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{294,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9008_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-40}</string>
<key>spriteSize</key>
<string>{286,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,278},{286,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9008.png</string>
</dict>
</dict>
</plist>