<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9008_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,-2}</string>
<key>spriteSize</key>
<string>{282,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1686,1184},{282,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{66,-30}</string>
<key>spriteSize</key>
<string>{388,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,296},{388,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{125,-41}</string>
<key>spriteSize</key>
<string>{462,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{462,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,-16}</string>
<key>spriteSize</key>
<string>{314,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,814},{314,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,0}</string>
<key>spriteSize</key>
<string>{312,284}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{674,1034},{312,284}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-9}</string>
<key>spriteSize</key>
<string>{314,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1086,962},{314,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-5}</string>
<key>spriteSize</key>
<string>{284,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1626},{284,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-6}</string>
<key>spriteSize</key>
<string>{282,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{988,1232},{282,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-7}</string>
<key>spriteSize</key>
<string>{280,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{630,1320},{280,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-9}</string>
<key>spriteSize</key>
<string>{278,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1110,1506},{278,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-6}</string>
<key>spriteSize</key>
<string>{278,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{836,1592},{278,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-4}</string>
<key>spriteSize</key>
<string>{278,276}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{558,1592},{278,276}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-5}</string>
<key>spriteSize</key>
<string>{282,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1402,1184},{282,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-18}</string>
<key>spriteSize</key>
<string>{332,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{748,700},{332,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,-10}</string>
<key>spriteSize</key>
<string>{454,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{466,2},{454,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-66,5}</string>
<key>spriteSize</key>
<string>{336,348}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1232,624},{336,348}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,60}</string>
<key>spriteSize</key>
<string>{280,354}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{392,526},{280,354}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{118,0}</string>
<key>spriteSize</key>
<string>{382,286}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1360,336},{382,286}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,5}</string>
<key>spriteSize</key>
<string>{298,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1744,2},{298,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,15}</string>
<key>spriteSize</key>
<string>{260,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1110,1786},{260,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,15}</string>
<key>spriteSize</key>
<string>{258,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1374,1786},{258,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,34}</string>
<key>spriteSize</key>
<string>{290,310}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{318,1082},{290,310}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-71,42}</string>
<key>spriteSize</key>
<string>{290,326}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1744,542},{290,326}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-13}</string>
<key>spriteSize</key>
<string>{310,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1088},{310,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,-23}</string>
<key>spriteSize</key>
<string>{282,278}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{278,1626},{282,278}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-7}</string>
<key>spriteSize</key>
<string>{296,294}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1744,246},{296,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,46}</string>
<key>spriteSize</key>
<string>{260,394}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{466,264},{260,394}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,4}</string>
<key>spriteSize</key>
<string>{318,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{354,808},{318,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,44}</string>
<key>spriteSize</key>
<string>{368,330}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{862,368},{368,330}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,33}</string>
<key>spriteSize</key>
<string>{266,350}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,546},{266,350}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,147}</string>
<key>spriteSize</key>
<string>{332,382}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1360,2},{332,382}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,163}</string>
<key>spriteSize</key>
<string>{364,436}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{922,2},{364,436}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,-9}</string>
<key>spriteSize</key>
<string>{346,312}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1582,870},{346,312}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,2}</string>
<key>spriteSize</key>
<string>{262,306}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1362},{262,306}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9008.png</string>
</dict>
</dict>
</plist>