<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9008_jianshe_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-15}</string>
<key>spriteSize</key>
<string>{57,51}</string>
<key>spriteSourceSize</key>
<string>{109,109}</string>
<key>textureRect</key>
<string>{{456,164},{57,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_jianshe_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{89,87}</string>
<key>spriteSourceSize</key>
<string>{109,109}</string>
<key>textureRect</key>
<string>{{242,818},{89,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_jianshe_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,2}</string>
<key>spriteSize</key>
<string>{95,81}</string>
<key>spriteSourceSize</key>
<string>{109,109}</string>
<key>textureRect</key>
<string>{{89,906},{95,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_jianshe_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,6}</string>
<key>spriteSize</key>
<string>{95,79}</string>
<key>spriteSourceSize</key>
<string>{109,109}</string>
<key>textureRect</key>
<string>{{145,818},{95,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_jianshe_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,25}</string>
<key>spriteSize</key>
<string>{77,45}</string>
<key>spriteSourceSize</key>
<string>{109,109}</string>
<key>textureRect</key>
<string>{{456,223},{77,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,2}</string>
<key>spriteSize</key>
<string>{143,171}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{366,806},{143,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_xuli_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,6}</string>
<key>spriteSize</key>
<string>{149,179}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{185,667},{149,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,5}</string>
<key>spriteSize</key>
<string>{165,181}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{2,641},{165,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{175,185}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{193,490},{175,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{163,189}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{2,476},{163,189}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-5}</string>
<key>spriteSize</key>
<string>{141,129}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{380,490},{141,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_xuli_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{85,107}</string>
<key>spriteSourceSize</key>
<string>{183,191}</string>
<key>textureRect</key>
<string>{{2,906},{85,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{141,96}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{2,808},{141,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{171,122}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{380,633},{171,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008_zadi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{205,146}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{2,328},{205,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{221,162}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{231,326},{221,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{227,162}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{2,164},{227,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{231,160}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{2,2},{231,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-6}</string>
<key>spriteSize</key>
<string>{229,160}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{235,2},{229,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9008_zadi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{223,160}</string>
<key>spriteSourceSize</key>
<string>{237,186}</string>
<key>textureRect</key>
<string>{{231,164},{223,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9008_skill3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9008_skill3.png</string>
</dict>
</dict>
</plist>