<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9008_skill2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,13}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{378,186},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9008_skill2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-9}</string>
<key>spriteSize</key>
<string>{60,36}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{90,266},{60,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-11}</string>
<key>spriteSize</key>
<string>{110,60}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{168,380},{110,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9008_skill2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-8}</string>
<key>spriteSize</key>
<string>{134,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,266},{134,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9008_skill2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-9}</string>
<key>spriteSize</key>
<string>{142,94}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{364,306},{142,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-9}</string>
<key>spriteSize</key>
<string>{164,108}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,402},{164,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-8}</string>
<key>spriteSize</key>
<string>{172,114}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{190,264},{172,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-9}</string>
<key>spriteSize</key>
<string>{182,120}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{388,2},{182,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9008_skill2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-9}</string>
<key>spriteSize</key>
<string>{186,124}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{190,138},{186,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-9}</string>
<key>spriteSize</key>
<string>{194,128}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{194,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-9}</string>
<key>spriteSize</key>
<string>{186,132}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,132},{186,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9008_skill2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-8}</string>
<key>spriteSize</key>
<string>{188,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{198,2},{188,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9008_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9008_skill2.png</string>
</dict>
</dict>
</plist>