<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7001_skill_6_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,3}</string>
<key>spriteSize</key>
<string>{107,122}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{796,244},{107,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,2}</string>
<key>spriteSize</key>
<string>{101,134}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{486,236},{101,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,1}</string>
<key>spriteSize</key>
<string>{101,146}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{920,158},{101,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,1}</string>
<key>spriteSize</key>
<string>{95,154}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{924,2},{95,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{91,168}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{892,462},{91,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,1}</string>
<key>spriteSize</key>
<string>{79,164}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{464,415},{79,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,0}</string>
<key>spriteSize</key>
<string>{284,80}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{2,128},{284,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,3}</string>
<key>spriteSize</key>
<string>{312,124}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{2,2},{312,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,5}</string>
<key>spriteSize</key>
<string>{296,132}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{622,110},{296,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,5}</string>
<key>spriteSize</key>
<string>{304,120}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{316,2},{304,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,1}</string>
<key>spriteSize</key>
<string>{294,110}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{316,124},{294,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,2}</string>
<key>spriteSize</key>
<string>{300,106}</string>
<key>spriteSourceSize</key>
<string>{450,338}</string>
<key>textureRect</key>
<string>{{622,2},{300,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,2}</string>
<key>spriteSize</key>
<string>{134,158}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{176,210},{134,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,3}</string>
<key>spriteSize</key>
<string>{140,164}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{298,394},{140,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{140,168}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{618,398},{140,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-1}</string>
<key>spriteSize</key>
<string>{152,172}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{622,244},{152,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-1}</string>
<key>spriteSize</key>
<string>{156,172}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{312,236},{156,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-1}</string>
<key>spriteSize</key>
<string>{158,172}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,210},{158,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-40}</string>
<key>spriteSize</key>
<string>{156,94}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{796,353},{156,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-37}</string>
<key>spriteSize</key>
<string>{130,74}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{486,339},{130,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_60.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{101,103}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{920,306},{101,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_61.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{87,89}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{788,511},{87,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_62.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{81,81}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{172,370},{81,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_63.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{71,71}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{545,489},{71,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_64.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{57,57}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{618,540},{57,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_65.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{41,41}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{255,370},{41,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_6_90.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,1}</string>
<key>spriteSize</key>
<string>{81,168}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{2,370},{81,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_91.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,0}</string>
<key>spriteSize</key>
<string>{49,94}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{892,411},{49,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_6_92.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,4}</string>
<key>spriteSize</key>
<string>{71,72}</string>
<key>spriteSourceSize</key>
<string>{195,314}</string>
<key>textureRect</key>
<string>{{545,415},{71,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7001_skill_6.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7001_skill_6.png</string>
</dict>
</dict>
</plist>