<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7001_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-6}</string>
<key>spriteSize</key>
<string>{92,42}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{316,200},{92,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,16}</string>
<key>spriteSize</key>
<string>{114,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,196},{114,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,17}</string>
<key>spriteSize</key>
<string>{98,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{118,196},{98,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,15}</string>
<key>spriteSize</key>
<string>{96,88}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{218,200},{96,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,20}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{436,2},{68,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-12}</string>
<key>spriteSize</key>
<string>{148,50}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{436,84},{148,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-34}</string>
<key>spriteSize</key>
<string>{204,92}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,102},{204,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-38}</string>
<key>spriteSize</key>
<string>{214,96}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{220,2},{214,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-37}</string>
<key>spriteSize</key>
<string>{216,98}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{216,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-38}</string>
<key>spriteSize</key>
<string>{210,98}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{220,100},{210,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7001_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7001_skill_2.png</string>
</dict>
</dict>
</plist>