<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7001_skill_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-121,7}</string>
<key>spriteSize</key>
<string>{218,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{334,578},{218,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-106,7}</string>
<key>spriteSize</key>
<string>{226,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{168,646},{226,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,5}</string>
<key>spriteSize</key>
<string>{228,166}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{770,162},{228,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,6}</string>
<key>spriteSize</key>
<string>{256,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{740,330},{256,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,7}</string>
<key>spriteSize</key>
<string>{288,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,646},{288,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7001_skill_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,7}</string>
<key>spriteSize</key>
<string>{358,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{380,298},{358,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,6}</string>
<key>spriteSize</key>
<string>{384,162}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,2},{384,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,9}</string>
<key>spriteSize</key>
<string>{380,164}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{388,2},{380,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,11}</string>
<key>spriteSize</key>
<string>{376,152}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,166},{376,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,7}</string>
<key>spriteSize</key>
<string>{374,128}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{380,168},{374,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,-1}</string>
<key>spriteSize</key>
<string>{358,110}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,320},{358,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,0}</string>
<key>spriteSize</key>
<string>{356,110}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,432},{356,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,2}</string>
<key>spriteSize</key>
<string>{334,112}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{360,464},{334,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,3}</string>
<key>spriteSize</key>
<string>{324,114}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{696,496},{324,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{65,-4}</string>
<key>spriteSize</key>
<string>{302,100}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{2,544},{302,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{91,-12}</string>
<key>spriteSize</key>
<string>{250,84}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{770,2},{250,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7001_skill_4_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{92,-9}</string>
<key>spriteSize</key>
<string>{248,72}</string>
<key>spriteSourceSize</key>
<string>{600,282}</string>
<key>textureRect</key>
<string>{{770,88},{248,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7001_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7001_skill_4.png</string>
</dict>
</dict>
</plist>