<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>under_attack7001_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,3}</string>
<key>spriteSize</key>
<string>{276,282}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{2,2},{276,282}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack7001_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,3}</string>
<key>spriteSize</key>
<string>{272,276}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{2,280},{272,276}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack7001_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,2}</string>
<key>spriteSize</key>
<string>{262,268}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{2,554},{262,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack7001_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,2}</string>
<key>spriteSize</key>
<string>{212,220}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{286,2},{212,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack7001_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-14}</string>
<key>spriteSize</key>
<string>{128,178}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{286,216},{128,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack7001_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,12}</string>
<key>spriteSize</key>
<string>{114,132}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{280,346},{114,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>under_attack7001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>under_attack7001.png</string>
</dict>
</dict>
</plist>