<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>FeiSheng_baokai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-2}</string>
<key>spriteSize</key>
<string>{41,23}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{91,413},{41,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FeiSheng_baokai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{216,385},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{83,87}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{2,413},{83,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FeiSheng_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{246,177},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_baokai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{89,89}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{125,385},{89,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_baokai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,89}</string>
<key>spriteSourceSize</key>
<string>{109,99}</string>
<key>textureRect</key>
<string>{{220,292},{85,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{93,91}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{125,292},{93,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{121,121}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{2,177},{121,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{173,173}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{177,2},{173,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{173,173}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{2,2},{173,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{121,111}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{2,300},{121,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FeiSheng_guangxiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{119,113}</string>
<key>spriteSourceSize</key>
<string>{219,201}</string>
<key>textureRect</key>
<string>{{125,177},{119,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>FeiSheng_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>FeiSheng_effect.png</string>
</dict>
</dict>
</plist>