<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_0002_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,126}</string>
<key>spriteSize</key>
<string>{124,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,648},{124,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0002_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,126}</string>
<key>spriteSize</key>
<string>{126,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,394},{126,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0002_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,127}</string>
<key>spriteSize</key>
<string>{130,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,2},{130,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0002_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,127}</string>
<key>spriteSize</key>
<string>{128,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,134},{128,276}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0002_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,126}</string>
<key>spriteSize</key>
<string>{122,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,648},{122,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0002_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,126}</string>
<key>spriteSize</key>
<string>{124,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,522},{124,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0002_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,126}</string>
<key>spriteSize</key>
<string>{126,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,280},{126,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_0002_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,126}</string>
<key>spriteSize</key>
<string>{128,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,264},{128,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0002_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,127}</string>
<key>spriteSize</key>
<string>{130,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{130,276}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_0002_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,127}</string>
<key>spriteSize</key>
<string>{122,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,648},{122,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_0002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_0002.png</string>
</dict>
</dict>
</plist>