<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>1012_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,35}</string>
<key>spriteSize</key>
<string>{64,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,438},{64,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,71}</string>
<key>spriteSize</key>
<string>{66,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,2},{66,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,37}</string>
<key>spriteSize</key>
<string>{88,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,350},{88,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,25}</string>
<key>spriteSize</key>
<string>{86,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,364},{86,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,-1}</string>
<key>spriteSize</key>
<string>{116,44}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{116,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,414},{86,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,43}</string>
<key>spriteSize</key>
<string>{76,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,368},{76,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{76,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,70},{76,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,41}</string>
<key>spriteSize</key>
<string>{68,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,186},{68,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,41}</string>
<key>spriteSize</key>
<string>{70,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,84},{70,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{70,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,72},{70,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,42}</string>
<key>spriteSize</key>
<string>{68,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,2},{68,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,42}</string>
<key>spriteSize</key>
<string>{68,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,116},{68,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,41}</string>
<key>spriteSize</key>
<string>{68,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,148},{68,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{66,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,144},{66,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,41}</string>
<key>spriteSize</key>
<string>{42,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,156},{42,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,40}</string>
<key>spriteSize</key>
<string>{64,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{64,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,40}</string>
<key>spriteSize</key>
<string>{50,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,212},{50,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,40}</string>
<key>spriteSize</key>
<string>{86,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,218},{86,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,40}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,192},{58,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,40}</string>
<key>spriteSize</key>
<string>{54,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,306},{54,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,38}</string>
<key>spriteSize</key>
<string>{78,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,100},{78,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{42,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,252},{42,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,40}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,322},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{84,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,264},{84,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,40}</string>
<key>spriteSize</key>
<string>{78,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,2},{78,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1012_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,42}</string>
<key>spriteSize</key>
<string>{92,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,200},{92,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,43}</string>
<key>spriteSize</key>
<string>{66,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,48},{66,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,45}</string>
<key>spriteSize</key>
<string>{68,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,294},{68,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,42}</string>
<key>spriteSize</key>
<string>{80,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,2},{80,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,37}</string>
<key>spriteSize</key>
<string>{90,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,414},{90,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,38}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,296},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_1012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_1012.png</string>
</dict>
</dict>
</plist>