<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_monster_1012_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,4}</string>
<key>spriteSize</key>
<string>{160,104}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,196},{160,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{128,114}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,302},{128,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-13}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{392,2},{104,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-23}</string>
<key>spriteSize</key>
<string>{120,100}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{390,108},{120,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-22}</string>
<key>spriteSize</key>
<string>{112,94}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{118,302},{112,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-17}</string>
<key>spriteSize</key>
<string>{189,89}</string>
<key>spriteSourceSize</key>
<string>{263,225}</string>
<key>textureRect</key>
<string>{{2,105},{189,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-14}</string>
<key>spriteSize</key>
<string>{191,99}</string>
<key>spriteSourceSize</key>
<string>{263,225}</string>
<key>textureRect</key>
<string>{{197,103},{191,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-14}</string>
<key>spriteSize</key>
<string>{193,99}</string>
<key>spriteSourceSize</key>
<string>{263,225}</string>
<key>textureRect</key>
<string>{{197,2},{193,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-14}</string>
<key>spriteSize</key>
<string>{193,101}</string>
<key>spriteSourceSize</key>
<string>{263,225}</string>
<key>textureRect</key>
<string>{{2,2},{193,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{74,82}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{214,302},{74,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{164,416},{80,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{80,72}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{236,210},{80,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{76,66}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{2,432},{76,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{80,60}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{246,386},{80,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-7}</string>
<key>spriteSize</key>
<string>{90,70}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{164,210},{90,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_monster_1012_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-7}</string>
<key>spriteSize</key>
<string>{92,74}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{70,432},{92,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_monster_1012_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-10}</string>
<key>spriteSize</key>
<string>{64,60}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{310,204},{64,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_monster_1012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_monster_1012.png</string>
</dict>
</dict>
</plist>