<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>AJ_UI_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,2}</string>
<key>spriteSize</key>
<string>{188,164}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{2,2},{188,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>AJ_UI_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{188,188}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{190,724},{188,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>AJ_UI_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{186,188}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{192,536},{186,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>AJ_UI_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{186,188}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{2,534},{186,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>AJ_UI_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{180,188}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{2,168},{180,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>AJ_UI_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{168,188}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{192,2},{168,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>AJ_UI_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,1}</string>
<key>spriteSize</key>
<string>{186,186}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{2,722},{186,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>AJ_UI_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,2}</string>
<key>spriteSize</key>
<string>{186,184}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{192,350},{186,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>AJ_UI_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,3}</string>
<key>spriteSize</key>
<string>{188,182}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{2,350},{188,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>AJ_UI_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{192,176}</string>
<key>spriteSourceSize</key>
<string>{198,188}</string>
<key>textureRect</key>
<string>{{192,172},{192,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>AJ_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>AJ_UI.png</string>
</dict>
</dict>
</plist>