<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>JS_shengli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{513,485}</string>
<key>spriteSourceSize</key>
<string>{565,485}</string>
<key>textureRect</key>
<string>{{2,187},{513,485}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_shengli02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{565,183}</string>
<key>spriteSourceSize</key>
<string>{565,183}</string>
<key>textureRect</key>
<string>{{2,2},{565,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_shengli_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,148}</string>
<key>spriteSourceSize</key>
<string>{124,164}</string>
<key>textureRect</key>
<string>{{361,674},{124,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_shengli_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,164}</string>
<key>spriteSourceSize</key>
<string>{139,164}</string>
<key>textureRect</key>
<string>{{220,674},{139,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_xing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,88}</string>
<key>spriteSourceSize</key>
<string>{93,88}</string>
<key>textureRect</key>
<string>{{456,800},{93,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_xing02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,88}</string>
<key>spriteSourceSize</key>
<string>{93,88}</string>
<key>textureRect</key>
<string>{{361,800},{93,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guangyun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{216,216}</string>
<key>spriteSourceSize</key>
<string>{242,240}</string>
<key>textureRect</key>
<string>{{2,674},{216,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhanDouShenLi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhanDouShenLi.png</string>
</dict>
</dict>
</plist>