<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,37}</string>
<key>spriteSize</key>
<string>{64,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,362},{64,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,56}</string>
<key>spriteSize</key>
<string>{54,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,174},{54,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,3}</string>
<key>spriteSize</key>
<string>{138,42}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,110},{138,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,47}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{76,862},{78,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,37}</string>
<key>spriteSize</key>
<string>{84,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,390},{84,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,46}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,862},{78,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,712},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,58}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,620},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,608},{78,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,540},{78,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,57}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,742},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,56}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,688},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,632},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,712},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,528},{78,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,512},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,56}</string>
<key>spriteSize</key>
<string>{80,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,442},{80,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{86,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,320},{86,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{68,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{218,942},{68,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,792},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{72,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,832},{72,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,45}</string>
<key>spriteSize</key>
<string>{110,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,108},{110,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,43}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,252},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,46}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,2},{106,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,47}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{104,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,942},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,51}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,440},{86,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{84,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,354},{84,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,2},{98,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,862},{72,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,498},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{72,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,864},{72,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,40}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,936},{86,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,66}</string>
<key>spriteSize</key>
<string>{76,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,174},{76,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,69}</string>
<key>spriteSize</key>
<string>{74,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,110},{74,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,69}</string>
<key>spriteSize</key>
<string>{74,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,102},{74,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,66}</string>
<key>spriteSize</key>
<string>{74,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,214},{74,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,62}</string>
<key>spriteSize</key>
<string>{80,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,92},{80,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,57}</string>
<key>spriteSize</key>
<string>{84,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,260},{84,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,52}</string>
<key>spriteSize</key>
<string>{90,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,252},{90,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,48}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,524},{92,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,45}</string>
<key>spriteSize</key>
<string>{92,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,618},{92,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,47}</string>
<key>spriteSize</key>
<string>{80,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,942},{80,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,39}</string>
<key>spriteSize</key>
<string>{96,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,768},{96,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,43}</string>
<key>spriteSize</key>
<string>{100,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,438},{100,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5005_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,48}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,344},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,61}</string>
<key>spriteSize</key>
<string>{88,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,2},{88,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_5005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_5005.png</string>
</dict>
</dict>
</plist>