<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>WuSeShenGuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{151,91}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{292,192},{151,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{151,93}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{292,97},{151,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{151,93}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{292,2},{151,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{149,93}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{2,282},{149,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{149,91}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{285,285},{149,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{147,91}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{285,469},{147,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{147,89}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{2,561},{147,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{149,89}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{2,470},{149,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{149,89}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{285,378},{149,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>WuSeShenGuang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{149,91}</string>
<key>spriteSourceSize</key>
<string>{155,115}</string>
<key>textureRect</key>
<string>{{2,377},{149,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{2,776},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{153,282},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{126,654},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{122,124}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{153,530},{122,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7010_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{122,130}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{153,406},{122,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7010_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{279,562},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{2,652},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7010_skill_1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{288,278}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{288,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7010_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7010_skill_1.png</string>
</dict>
</dict>
</plist>