<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>NiuZhuanQianKun_lihua 4_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,4}</string>
<key>spriteSize</key>
<string>{171,171}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{374,665},{171,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>NiuZhuanQianKun_lihua 4_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{137,127}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{350,838},{137,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>NiuZhuanQianKun_lihua 4_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{163,149}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{2,826},{163,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>NiuZhuanQianKun_lihua 4_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{179,159}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{193,665},{179,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>NiuZhuanQianKun_lihua 4_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-14}</string>
<key>spriteSize</key>
<string>{189,159}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{2,665},{189,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>NiuZhuanQianKun_lihua 4_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-23}</string>
<key>spriteSize</key>
<string>{181,147}</string>
<key>spriteSourceSize</key>
<string>{393,395}</string>
<key>textureRect</key>
<string>{{167,826},{181,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>baofu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{606,219}</string>
<key>spriteSourceSize</key>
<string>{614,219}</string>
<key>textureRect</key>
<string>{{2,444},{606,219}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jixiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{606,219}</string>
<key>spriteSourceSize</key>
<string>{614,219}</string>
<key>textureRect</key>
<string>{{2,223},{606,219}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ruyi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{606,219}</string>
<key>spriteSourceSize</key>
<string>{614,219}</string>
<key>textureRect</key>
<string>{{2,2},{606,219}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{10,11}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{350,826},{10,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shuzi_6_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,2}</string>
<key>spriteSize</key>
<string>{16,15}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{499,838},{16,15}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{18,21}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{569,665},{18,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{18,25}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{479,838},{18,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{20,25}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{547,665},{20,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{20,23}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{547,692},{20,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{18,17}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{479,865},{18,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuzi_6_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-9}</string>
<key>spriteSize</key>
<string>{14,13}</string>
<key>spriteSourceSize</key>
<string>{40,39}</string>
<key>textureRect</key>
<string>{{547,717},{14,13}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>NiuZhuanQianKun_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>NiuZhuanQianKun_UI.png</string>
</dict>
</dict>
</plist>