<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ChuanSongMen_effect1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{334,122},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{251,122},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{334,2},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{251,2},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{168,122},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{168,2},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{85,122},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{85,2},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{2,122},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ChuanSongMen_effect1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,118}</string>
<key>spriteSourceSize</key>
<string>{101,154}</string>
<key>textureRect</key>
<string>{{2,2},{81,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ChuanSongMen_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ChuanSongMen_effect.png</string>
</dict>
</dict>
</plist>