<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LieMing_effect_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{130,116}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{376,2},{130,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{126,130}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{378,366},{126,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LieMing_effect_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{325,120},{120,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LieMing_effect_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{2,343},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{128,116}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{2,101},{128,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{126,122}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{369,242},{126,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{124,122}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{252,366},{124,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{2,219},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_effect_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{124,122}</string>
<key>spriteSourceSize</key>
<string>{130,148}</string>
<key>textureRect</key>
<string>{{126,361},{124,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_guodu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,2}</string>
<key>spriteSize</key>
<string>{191,117}</string>
<key>spriteSourceSize</key>
<string>{241,121}</string>
<key>textureRect</key>
<string>{{132,119},{191,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_guodu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{241,117}</string>
<key>spriteSourceSize</key>
<string>{241,121}</string>
<key>textureRect</key>
<string>{{126,242},{241,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_guodu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-3}</string>
<key>spriteSize</key>
<string>{199,115}</string>
<key>spriteSourceSize</key>
<string>{241,121}</string>
<key>textureRect</key>
<string>{{175,2},{199,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LieMing_guodu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,-4}</string>
<key>spriteSize</key>
<string>{171,97}</string>
<key>spriteSourceSize</key>
<string>{241,121}</string>
<key>textureRect</key>
<string>{{2,2},{171,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LieMing_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LieMing_effect.png</string>
</dict>
</dict>
</plist>