<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7007_baozha_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{214,165}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{682,169},{214,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{218,165}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{683,2},{218,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-3}</string>
<key>spriteSize</key>
<string>{224,165}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{236,2},{224,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{232,163}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{2,2},{232,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{218,155}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{462,130},{218,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{212,169}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{223,169},{212,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{206,169}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{2,295},{206,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_baozha_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{196,171}</string>
<key>spriteSourceSize</key>
<string>{340,251}</string>
<key>textureRect</key>
<string>{{437,287},{196,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_fazhen_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{94,93}</string>
<key>spriteSourceSize</key>
<string>{152,141}</string>
<key>textureRect</key>
<string>{{733,336},{94,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{2,466},{96,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_guangqiu_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,98}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{903,2},{114,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,98}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{210,436},{110,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{112,98}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{903,102},{112,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{96,94}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{635,336},{96,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{92,94}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{829,417},{92,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_guangqiu_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{102,466},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_guangqiu_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,98}</string>
<key>spriteSourceSize</key>
<string>{168,140}</string>
<key>textureRect</key>
<string>{{322,436},{102,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_kuosan_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-21}</string>
<key>spriteSize</key>
<string>{219,126}</string>
<key>spriteSourceSize</key>
<string>{341,244}</string>
<key>textureRect</key>
<string>{{462,2},{219,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_kuosan_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-21}</string>
<key>spriteSize</key>
<string>{219,126}</string>
<key>spriteSourceSize</key>
<string>{341,244}</string>
<key>textureRect</key>
<string>{{2,167},{219,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007_kuosan_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-22}</string>
<key>spriteSize</key>
<string>{213,124}</string>
<key>spriteSourceSize</key>
<string>{341,244}</string>
<key>textureRect</key>
<string>{{898,202},{213,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007_kuosan_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-10}</string>
<key>spriteSize</key>
<string>{175,94}</string>
<key>spriteSourceSize</key>
<string>{341,244}</string>
<key>textureRect</key>
<string>{{210,340},{175,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7007_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7007_skill_4.png</string>
</dict>
</dict>
</plist>