<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>firework_02_nt 2_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,20}</string>
<key>spriteSize</key>
<string>{107,110}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{459,524},{107,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>firework_02_nt 2_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,17}</string>
<key>spriteSize</key>
<string>{177,176}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{281,524},{177,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>firework_02_nt 2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,5}</string>
<key>spriteSize</key>
<string>{285,252}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{2,260},{285,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,4}</string>
<key>spriteSize</key>
<string>{277,250}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{2,514},{277,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{273,248}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{2,766},{273,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,14}</string>
<key>spriteSize</key>
<string>{253,242}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{572,500},{253,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,12}</string>
<key>spriteSize</key>
<string>{259,250}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{578,2},{259,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,8}</string>
<key>spriteSize</key>
<string>{257,244}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{277,766},{257,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{259,244}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{578,254},{259,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{271,252}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{536,744},{271,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>firework_02_nt 2_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{281,260}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{289,262},{281,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{285,258}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{291,2},{285,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_02_nt 2_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{287,256}</string>
<key>spriteSourceSize</key>
<string>{439,310}</string>
<key>textureRect</key>
<string>{{2,2},{287,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_guangxian2_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,7}</string>
<key>spriteSize</key>
<string>{40,172}</string>
<key>spriteSourceSize</key>
<string>{92,198}</string>
<key>textureRect</key>
<string>{{790,744},{40,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>firework_guangxian_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{36,168}</string>
<key>spriteSourceSize</key>
<string>{92,198}</string>
<key>textureRect</key>
<string>{{281,703},{36,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YH_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YH_UI.png</string>
</dict>
</dict>
</plist>