<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_zengjiamingzhong1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-15}</string>
<key>spriteSize</key>
<string>{67,100}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{336,2},{67,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-13}</string>
<key>spriteSize</key>
<string>{69,104}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{89,132},{69,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-8}</string>
<key>spriteSize</key>
<string>{71,108}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{249,124},{71,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-7}</string>
<key>spriteSize</key>
<string>{73,116}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{322,122},{73,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{77,118}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{257,2},{77,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{81,120}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{174,2},{81,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{83,128}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{89,2},{83,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{85,136}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{2,2},{85,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-18}</string>
<key>spriteSize</key>
<string>{85,94}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{2,140},{85,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiamingzhong1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-16}</string>
<key>spriteSize</key>
<string>{87,100}</string>
<key>spriteSourceSize</key>
<string>{95,138}</string>
<key>textureRect</key>
<string>{{160,132},{87,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zengjiagongji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zengjiagongji.png</string>
</dict>
</dict>
</plist>