<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8032_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,98}</string>
<key>spriteSize</key>
<string>{262,374}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,276},{262,374}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,94}</string>
<key>spriteSize</key>
<string>{264,350}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,542},{264,350}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,88}</string>
<key>spriteSize</key>
<string>{266,332}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,720},{266,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8032_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,92}</string>
<key>spriteSize</key>
<string>{260,334}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,808},{260,334}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,99}</string>
<key>spriteSize</key>
<string>{278,340}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,378},{278,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8032_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,104}</string>
<key>spriteSize</key>
<string>{264,346}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,806},{264,346}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,103}</string>
<key>spriteSize</key>
<string>{264,350}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,540},{264,350}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,104}</string>
<key>spriteSize</key>
<string>{264,362}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,276},{264,362}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,105}</string>
<key>spriteSize</key>
<string>{272,376}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,2},{272,376}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,102}</string>
<key>spriteSize</key>
<string>{272,378}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{272,378}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_idle_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,98}</string>
<key>spriteSize</key>
<string>{262,374}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,2},{262,374}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8032.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8032.png</string>
</dict>
</dict>
</plist>