<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8032_guangshu_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-1}</string>
<key>spriteSize</key>
<string>{289,80}</string>
<key>spriteSourceSize</key>
<string>{599,218}</string>
<key>textureRect</key>
<string>{{207,427},{289,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_guangshu_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,1}</string>
<key>spriteSize</key>
<string>{289,110}</string>
<key>spriteSourceSize</key>
<string>{599,218}</string>
<key>textureRect</key>
<string>{{2,849},{289,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8032_guangshu_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,1}</string>
<key>spriteSize</key>
<string>{289,98}</string>
<key>spriteSourceSize</key>
<string>{599,218}</string>
<key>textureRect</key>
<string>{{289,418},{289,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_guangshu_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,0}</string>
<key>spriteSize</key>
<string>{289,84}</string>
<key>spriteSourceSize</key>
<string>{599,218}</string>
<key>textureRect</key>
<string>{{420,2},{289,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_guangshu_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,1}</string>
<key>spriteSize</key>
<string>{289,72}</string>
<key>spriteSourceSize</key>
<string>{599,218}</string>
<key>textureRect</key>
<string>{{389,418},{289,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>fuzhou_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{206,203}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{210,213},{206,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuzhou_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{206,205}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{293,709},{206,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>fuzhou_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{206,211}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{2,2},{206,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuzhou_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{208,209}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{210,2},{208,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fuzhou_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{210,205}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{2,215},{210,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>fuzhou_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{210,203}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{2,427},{210,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>fuzhou_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{208,203}</string>
<key>spriteSourceSize</key>
<string>{232,235}</string>
<key>textureRect</key>
<string>{{2,639},{208,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8032_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8032_skills_2.png</string>
</dict>
</dict>
</plist>