<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7011_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{80,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1538},{80,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{80,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,1498},{80,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{82,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,1432},{82,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,1486},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,1464},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,1414},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{82,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{940,810},{82,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,1348},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,956},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{80,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,1498},{80,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{84,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{938,1436},{84,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{82,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,1516},{82,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{84,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,1436},{84,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{84,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1620},{84,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{86,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1580},{86,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,542},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,452},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,362},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{86,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,1570},{86,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{86,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,1548},{86,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,41}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,1322},{90,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,40}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,1256},{90,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,40}</string>
<key>spriteSize</key>
<string>{90,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,1234},{90,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,40}</string>
<key>spriteSize</key>
<string>{92,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1350},{92,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,41}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,1298},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,42}</string>
<key>spriteSize</key>
<string>{100,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,550},{100,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,42}</string>
<key>spriteSize</key>
<string>{102,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1382},{102,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,42}</string>
<key>spriteSize</key>
<string>{104,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,1358},{104,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,42}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1396},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,42}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,1284},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,31}</string>
<key>spriteSize</key>
<string>{86,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,1144},{86,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,31}</string>
<key>spriteSize</key>
<string>{84,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,1198},{84,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,31}</string>
<key>spriteSize</key>
<string>{84,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,1168},{84,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,29}</string>
<key>spriteSize</key>
<string>{86,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,1080},{86,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,28}</string>
<key>spriteSize</key>
<string>{86,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,968},{86,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,29}</string>
<key>spriteSize</key>
<string>{90,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{792,810},{90,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,30}</string>
<key>spriteSize</key>
<string>{92,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1156},{92,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,31}</string>
<key>spriteSize</key>
<string>{90,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,1046},{90,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,32}</string>
<key>spriteSize</key>
<string>{88,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,1166},{88,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,32}</string>
<key>spriteSize</key>
<string>{86,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{722,1078},{86,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{86,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,1056},{86,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{86,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,902},{86,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{86,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,910},{86,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,27}</string>
<key>spriteSize</key>
<string>{88,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,820},{88,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{88,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,872},{88,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{88,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,730},{88,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{88,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,800},{88,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,27}</string>
<key>spriteSize</key>
<string>{88,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,962},{88,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{86,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,880},{86,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{86,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,990},{86,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,67}</string>
<key>spriteSize</key>
<string>{78,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,980},{78,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,84}</string>
<key>spriteSize</key>
<string>{88,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,368},{88,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,89}</string>
<key>spriteSize</key>
<string>{98,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{98,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,92}</string>
<key>spriteSize</key>
<string>{104,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,614},{104,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-31}</string>
<key>spriteSize</key>
<string>{106,282}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,156},{106,282}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-32}</string>
<key>spriteSize</key>
<string>{102,280}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,264},{102,280}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,67}</string>
<key>spriteSize</key>
<string>{96,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,632},{96,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,59}</string>
<key>spriteSize</key>
<string>{94,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{864,1138},{94,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,55}</string>
<key>spriteSize</key>
<string>{92,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1444},{92,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,65}</string>
<key>spriteSize</key>
<string>{152,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,718},{152,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,70}</string>
<key>spriteSize</key>
<string>{152,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,358},{152,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,71}</string>
<key>spriteSize</key>
<string>{148,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,546},{148,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{75,1}</string>
<key>spriteSize</key>
<string>{292,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,2},{292,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{75,0}</string>
<key>spriteSize</key>
<string>{292,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,148},{292,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,62}</string>
<key>spriteSize</key>
<string>{138,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,218},{138,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,52}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,826},{116,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,34}</string>
<key>spriteSize</key>
<string>{102,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,1254},{102,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,29}</string>
<key>spriteSize</key>
<string>{168,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,532},{168,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,31}</string>
<key>spriteSize</key>
<string>{178,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,468},{178,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,32}</string>
<key>spriteSize</key>
<string>{186,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,670},{186,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{107,32}</string>
<key>spriteSize</key>
<string>{340,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,2},{340,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{107,30}</string>
<key>spriteSize</key>
<string>{340,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{340,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,45}</string>
<key>spriteSize</key>
<string>{158,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,720},{158,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,39}</string>
<key>spriteSize</key>
<string>{114,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,1182},{114,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,24}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1250},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,24}</string>
<key>spriteSize</key>
<string>{114,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,686},{114,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,19}</string>
<key>spriteSize</key>
<string>{130,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,1040},{130,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,18}</string>
<key>spriteSize</key>
<string>{142,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,1060},{142,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{64,49}</string>
<key>spriteSize</key>
<string>{226,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,362},{226,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,52}</string>
<key>spriteSize</key>
<string>{228,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,218},{228,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,37}</string>
<key>spriteSize</key>
<string>{108,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,608},{108,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,31}</string>
<key>spriteSize</key>
<string>{88,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,1232},{88,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,25}</string>
<key>spriteSize</key>
<string>{80,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,998},{80,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,23}</string>
<key>spriteSize</key>
<string>{88,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,890},{88,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,23}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{882,942},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,28}</string>
<key>spriteSize</key>
<string>{108,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,1326},{108,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,71}</string>
<key>spriteSize</key>
<string>{108,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,398},{108,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,75}</string>
<key>spriteSize</key>
<string>{104,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,508},{104,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,46}</string>
<key>spriteSize</key>
<string>{102,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,696},{102,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,29}</string>
<key>spriteSize</key>
<string>{102,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1052},{102,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7011.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7011.png</string>
</dict>
</dict>
</plist>