<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7011_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,62}</string>
<key>spriteSize</key>
<string>{108,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,546},{108,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,25}</string>
<key>spriteSize</key>
<string>{116,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,838},{116,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,-21}</string>
<key>spriteSize</key>
<string>{124,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,638},{124,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,52}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,376},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,57}</string>
<key>spriteSize</key>
<string>{88,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,748},{88,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,55}</string>
<key>spriteSize</key>
<string>{84,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,506},{84,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,56}</string>
<key>spriteSize</key>
<string>{82,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,476},{82,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,56}</string>
<key>spriteSize</key>
<string>{82,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,460},{82,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,56}</string>
<key>spriteSize</key>
<string>{82,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,498},{82,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,56}</string>
<key>spriteSize</key>
<string>{84,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,650},{84,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,57}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,560},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,57}</string>
<key>spriteSize</key>
<string>{90,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,656},{90,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,57}</string>
<key>spriteSize</key>
<string>{92,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,592},{92,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,58}</string>
<key>spriteSize</key>
<string>{92,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,544},{92,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,58}</string>
<key>spriteSize</key>
<string>{90,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,582},{90,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,57}</string>
<key>spriteSize</key>
<string>{86,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,388},{86,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,54}</string>
<key>spriteSize</key>
<string>{84,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,376},{84,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,54}</string>
<key>spriteSize</key>
<string>{150,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,408},{150,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,58}</string>
<key>spriteSize</key>
<string>{152,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,268},{152,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,54}</string>
<key>spriteSize</key>
<string>{306,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,2},{306,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,50}</string>
<key>spriteSize</key>
<string>{306,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,2},{306,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,71}</string>
<key>spriteSize</key>
<string>{142,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,136},{142,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,59}</string>
<key>spriteSize</key>
<string>{106,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,280},{106,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,59}</string>
<key>spriteSize</key>
<string>{106,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,280},{106,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,54}</string>
<key>spriteSize</key>
<string>{96,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,2},{96,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,706},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{90,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,280},{90,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,56}</string>
<key>spriteSize</key>
<string>{96,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,136},{96,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,93}</string>
<key>spriteSize</key>
<string>{78,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,504},{78,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,126}</string>
<key>spriteSize</key>
<string>{116,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,260},{116,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,103}</string>
<key>spriteSize</key>
<string>{148,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,130},{148,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,118}</string>
<key>spriteSize</key>
<string>{102,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,838},{102,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,153}</string>
<key>spriteSize</key>
<string>{86,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,328},{86,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,155}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,234},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,152}</string>
<key>spriteSize</key>
<string>{98,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,136},{98,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,150}</string>
<key>spriteSize</key>
<string>{132,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,416},{132,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,110}</string>
<key>spriteSize</key>
<string>{124,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,378},{124,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,106}</string>
<key>spriteSize</key>
<string>{118,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,462},{118,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,116}</string>
<key>spriteSize</key>
<string>{108,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,136},{108,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,134}</string>
<key>spriteSize</key>
<string>{86,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,372},{86,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,110}</string>
<key>spriteSize</key>
<string>{110,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,548},{110,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,83}</string>
<key>spriteSize</key>
<string>{120,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,660},{120,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,57}</string>
<key>spriteSize</key>
<string>{126,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,584},{126,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,69}</string>
<key>spriteSize</key>
<string>{106,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,246},{106,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,54}</string>
<key>spriteSize</key>
<string>{84,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,376},{84,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,54}</string>
<key>spriteSize</key>
<string>{150,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,354},{150,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011_skills_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,58}</string>
<key>spriteSize</key>
<string>{152,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,236},{152,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,60}</string>
<key>spriteSize</key>
<string>{156,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,130},{156,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,54}</string>
<key>spriteSize</key>
<string>{306,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,2},{306,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,50}</string>
<key>spriteSize</key>
<string>{306,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{306,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011_skills_2_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,71}</string>
<key>spriteSize</key>
<string>{142,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,136},{142,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_7011.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_7011.png</string>
</dict>
</dict>
</plist>