<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_5002_daoguang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{208,160}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{2,2},{208,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-4}</string>
<key>spriteSize</key>
<string>{184,162}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{194,602},{184,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-5}</string>
<key>spriteSize</key>
<string>{190,166}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{2,462},{190,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-6}</string>
<key>spriteSize</key>
<string>{194,164}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{200,306},{194,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-9}</string>
<key>spriteSize</key>
<string>{198,156}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{212,148},{198,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-8}</string>
<key>spriteSize</key>
<string>{196,154}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{2,164},{196,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-12}</string>
<key>spriteSize</key>
<string>{202,144}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{212,2},{202,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-12}</string>
<key>spriteSize</key>
<string>{192,140}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{2,320},{192,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_daoguang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-9}</string>
<key>spriteSize</key>
<string>{186,128}</string>
<key>spriteSourceSize</key>
<string>{276,202}</string>
<key>textureRect</key>
<string>{{194,472},{186,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-15}</string>
<key>spriteSize</key>
<string>{77,75}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{396,470},{77,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{77,75}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{396,393},{77,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-14}</string>
<key>spriteSize</key>
<string>{75,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{380,701},{75,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5002_skill_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-14}</string>
<key>spriteSize</key>
<string>{75,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{380,624},{75,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5002_skill_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-14}</string>
<key>spriteSize</key>
<string>{75,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{382,547},{75,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5002_skill_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-14}</string>
<key>spriteSize</key>
<string>{77,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{412,160},{77,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-14}</string>
<key>spriteSize</key>
<string>{77,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{416,81},{77,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-14}</string>
<key>spriteSize</key>
<string>{77,77}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{416,2},{77,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{77,75}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{396,316},{77,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5002_skill_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{77,75}</string>
<key>spriteSourceSize</key>
<string>{109,119}</string>
<key>textureRect</key>
<string>{{412,239},{77,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_5002_skills_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_5002_skills_4.png</string>
</dict>
</dict>
</plist>