<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5002_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,48}</string>
<key>spriteSize</key>
<string>{72,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,218},{72,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,2},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,326},{68,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,454},{68,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,48}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,110},{70,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{70,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,706},{70,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{72,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,596},{72,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,948},{74,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,454},{74,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,47}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,346},{74,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{76,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,562},{76,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{74,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,434},{74,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,46}</string>
<key>spriteSize</key>
<string>{72,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,218},{72,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{72,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,326},{72,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,45}</string>
<key>spriteSize</key>
<string>{72,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,346},{72,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,44}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,2},{74,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,44}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,838},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,44}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,728},{78,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,43}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,2},{78,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,44}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,120},{78,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,39}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,2},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,39}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,494},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,39}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,612},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,39}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,730},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,40}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,122},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,244},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,376},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,872},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,39}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,754},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,39}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,636},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,898},{60,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,2},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,124},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{62,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,256},{62,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,516},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,516},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,36}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,396},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,776},{62,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{64,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,532},{64,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,654},{62,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,894},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,362},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,2},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,120},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,240},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,494},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,38}</string>
<key>spriteSize</key>
<string>{76,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,612},{76,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,38}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{66,774},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,134},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,274},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,108},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,48}</string>
<key>spriteSize</key>
<string>{64,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,306},{64,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{58,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,202},{58,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{48,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,540},{48,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{62,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,110},{62,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{74,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,98},{74,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,37}</string>
<key>spriteSize</key>
<string>{80,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,628},{80,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,38}</string>
<key>spriteSize</key>
<string>{88,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,360},{88,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,40}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,562},{68,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{78,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,372},{78,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,47}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,108},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{62,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,104},{62,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,214},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,53}</string>
<key>spriteSize</key>
<string>{66,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,218},{66,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,51}</string>
<key>spriteSize</key>
<string>{62,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,212},{62,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,32}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,872},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,45}</string>
<key>spriteSize</key>
<string>{82,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,536},{82,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,46}</string>
<key>spriteSize</key>
<string>{76,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,944},{76,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,47}</string>
<key>spriteSize</key>
<string>{74,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,2},{74,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,43}</string>
<key>spriteSize</key>
<string>{66,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,208},{66,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,44}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,110},{76,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{66,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{880,2},{66,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,46}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,846},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,396},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,43}</string>
<key>spriteSize</key>
<string>{64,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,958},{64,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,32}</string>
<key>spriteSize</key>
<string>{80,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,178},{80,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,50}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,534},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,51}</string>
<key>spriteSize</key>
<string>{104,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,670},{104,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{102,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,324},{102,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{78,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{944,260},{78,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,43}</string>
<key>spriteSize</key>
<string>{66,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{740,2},{66,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,40}</string>
<key>spriteSize</key>
<string>{58,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,816},{58,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,37}</string>
<key>spriteSize</key>
<string>{64,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,406},{64,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,35}</string>
<key>spriteSize</key>
<string>{64,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{54,2},{64,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,33}</string>
<key>spriteSize</key>
<string>{70,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,2},{70,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,26}</string>
<key>spriteSize</key>
<string>{90,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,776},{90,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,432},{98,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,53}</string>
<key>spriteSize</key>
<string>{106,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,238},{106,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,53}</string>
<key>spriteSize</key>
<string>{104,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,2},{104,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,450},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,40}</string>
<key>spriteSize</key>
<string>{58,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,728},{58,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{66,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,480},{66,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{58,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,274},{58,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{50,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{50,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,25}</string>
<key>spriteSize</key>
<string>{66,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,142},{66,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,22}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{66,654},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,44}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{64,898},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,51}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{794,106},{88,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,51}</string>
<key>spriteSize</key>
<string>{70,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,2},{70,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,49}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,452},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5002.png</string>
</dict>
</dict>
</plist>