<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5002_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,39}</string>
<key>spriteSize</key>
<string>{78,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,472},{78,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,35}</string>
<key>spriteSize</key>
<string>{116,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,604},{116,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,10}</string>
<key>spriteSize</key>
<string>{100,56}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,574},{100,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,40}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,774},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,42}</string>
<key>spriteSize</key>
<string>{80,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,722},{80,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,40}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,378},{92,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,800},{76,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,46}</string>
<key>spriteSize</key>
<string>{74,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,904},{74,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,46}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,274},{72,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,952},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,45}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,952},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,274},{72,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,908},{76,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,44}</string>
<key>spriteSize</key>
<string>{78,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,804},{78,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,45}</string>
<key>spriteSize</key>
<string>{78,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,912},{78,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,696},{76,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,46}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,472},{74,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,48}</string>
<key>spriteSize</key>
<string>{66,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,676},{66,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,46}</string>
<key>spriteSize</key>
<string>{66,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,804},{66,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,48}</string>
<key>spriteSize</key>
<string>{64,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,472},{64,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{58,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,586},{58,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,33}</string>
<key>spriteSize</key>
<string>{66,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,120},{66,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,46}</string>
<key>spriteSize</key>
<string>{72,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,666},{72,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,47}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,378},{78,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,48}</string>
<key>spriteSize</key>
<string>{78,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,570},{78,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,952},{70,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,77}</string>
<key>spriteSize</key>
<string>{108,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,166},{108,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,74}</string>
<key>spriteSize</key>
<string>{110,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{110,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,72}</string>
<key>spriteSize</key>
<string>{120,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,2},{120,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,75}</string>
<key>spriteSize</key>
<string>{104,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,2},{104,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,71}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,646},{128,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,68}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,160},{108,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,69}</string>
<key>spriteSize</key>
<string>{146,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,804},{146,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,70}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,2},{96,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,71}</string>
<key>spriteSize</key>
<string>{120,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,326},{120,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,67}</string>
<key>spriteSize</key>
<string>{104,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,326},{104,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,52}</string>
<key>spriteSize</key>
<string>{94,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,146},{94,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,38}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,2},{116,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,40}</string>
<key>spriteSize</key>
<string>{130,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{232,472},{130,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,76}</string>
<key>spriteSize</key>
<string>{122,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,166},{122,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,70}</string>
<key>spriteSize</key>
<string>{140,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,804},{140,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,74}</string>
<key>spriteSize</key>
<string>{148,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,648},{148,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,76}</string>
<key>spriteSize</key>
<string>{122,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,330},{122,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,74}</string>
<key>spriteSize</key>
<string>{116,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,490},{116,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,76}</string>
<key>spriteSize</key>
<string>{110,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,490},{110,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_5002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_5002.png</string>
</dict>
</dict>
</plist>