<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ShiRenMo_buff_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-2}</string>
<key>spriteSize</key>
<string>{236,291}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{309,2},{236,291}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-7}</string>
<key>spriteSize</key>
<string>{230,305}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{2,2},{230,305}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{242,293}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{2,234},{242,293}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,3}</string>
<key>spriteSize</key>
<string>{238,309}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{297,240},{238,309}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-8}</string>
<key>spriteSize</key>
<string>{246,289}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{315,480},{246,289}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-5}</string>
<key>spriteSize</key>
<string>{246,293}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{606,484},{246,293}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{250,295}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{299,728},{250,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{250,295}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{2,724},{250,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{250,297}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{596,732},{250,297}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-4}</string>
<key>spriteSize</key>
<string>{236,295}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{602,2},{236,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{242,311}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{2,480},{242,311}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ShiRenMo_buff_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{242,295}</string>
<key>spriteSourceSize</key>
<string>{250,319}</string>
<key>textureRect</key>
<string>{{608,240},{242,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ShiRenMo_skill_S.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ShiRenMo_skill_S.png</string>
</dict>
</dict>
</plist>