<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZhaoHuan_ui2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,3}</string>
<key>spriteSize</key>
<string>{144,73}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{296,2},{144,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-1}</string>
<key>spriteSize</key>
<string>{142,79}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{2,2},{142,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{140,79}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{150,158},{140,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-3}</string>
<key>spriteSize</key>
<string>{140,75}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{288,77},{140,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{146,71}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{2,166},{146,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-5}</string>
<key>spriteSize</key>
<string>{140,71}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{432,77},{140,71}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_ui2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-1}</string>
<key>spriteSize</key>
<string>{140,79}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{146,77},{140,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,0}</string>
<key>spriteSize</key>
<string>{140,81}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{2,83},{140,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,3}</string>
<key>spriteSize</key>
<string>{138,75}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{292,154},{138,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{148,73}</string>
<key>spriteSourceSize</key>
<string>{162,81}</string>
<key>textureRect</key>
<string>{{146,2},{148,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhaoHuan_ui2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhaoHuan_ui2.png</string>
</dict>
</dict>
</plist>