<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>xianxuelingyu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{178,144}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{948,1630},{178,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-19}</string>
<key>spriteSize</key>
<string>{264,218}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,1786},{264,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-25}</string>
<key>spriteSize</key>
<string>{346,320}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{708,1310},{346,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-21}</string>
<key>spriteSize</key>
<string>{344,332}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{762,2},{344,332}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-21}</string>
<key>spriteSize</key>
<string>{344,338}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,1448},{344,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-21}</string>
<key>spriteSize</key>
<string>{342,336}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{346,1656},{342,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-19}</string>
<key>spriteSize</key>
<string>{342,332}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{762,346},{342,332}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-17}</string>
<key>spriteSize</key>
<string>{344,326}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{760,688},{344,326}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-28}</string>
<key>spriteSize</key>
<string>{350,292}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,1156},{350,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-20}</string>
<key>spriteSize</key>
<string>{352,278}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{710,1032},{352,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-19}</string>
<key>spriteSize</key>
<string>{378,280}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{382,562},{378,280}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-20}</string>
<key>spriteSize</key>
<string>{380,282}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{382,2},{380,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-23}</string>
<key>spriteSize</key>
<string>{380,278}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{382,284},{380,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-22}</string>
<key>spriteSize</key>
<string>{380,274}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,338},{380,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-22}</string>
<key>spriteSize</key>
<string>{354,274}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,612},{354,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-20}</string>
<key>spriteSize</key>
<string>{354,272}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{356,842},{354,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-19}</string>
<key>spriteSize</key>
<string>{354,270}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,886},{354,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-19}</string>
<key>spriteSize</key>
<string>{352,270}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{356,1114},{352,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-20}</string>
<key>spriteSize</key>
<string>{346,272}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{352,1384},{346,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianxuelingyu_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{306,266}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{682,1656},{306,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianxuelingyu_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-21}</string>
<key>spriteSize</key>
<string>{380,336}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,2},{380,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Atlas.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Atlas.png</string>
</dict>
</dict>
</plist>