<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Qiu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{110,60},{52,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{108,2},{52,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{50,58}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{2,2},{50,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{50,56}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{162,2},{50,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{56,60},{52,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{54,2},{52,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{50,54}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{164,60},{50,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Qiu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,54}</string>
<key>spriteSourceSize</key>
<string>{66,58}</string>
<key>textureRect</key>
<string>{{2,62},{52,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CAT_N182_QIU.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CAT_N182_QIU.png</string>
</dict>
</dict>
</plist>