<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CAT_N182_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-17}</string>
<key>spriteSize</key>
<string>{36,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{867,877},{36,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-18}</string>
<key>spriteSize</key>
<string>{40,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{254,628},{40,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-18}</string>
<key>spriteSize</key>
<string>{40,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{212,628},{40,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{40,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{170,628},{40,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-19}</string>
<key>spriteSize</key>
<string>{40,54}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{44,628},{40,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{40,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{128,628},{40,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{40,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{86,628},{40,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-19}</string>
<key>spriteSize</key>
<string>{40,54}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{2,628},{40,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{296,628},{38,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CAT_N182_hit_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-18}</string>
<key>spriteSize</key>
<string>{36,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{913,857},{36,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{132,128}</string>
<key>textureRect</key>
<string>{{913,684},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{174,-6}</string>
<key>spriteSize</key>
<string>{75,93}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{913,780},{75,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-kuji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{166,6}</string>
<key>spriteSize</key>
<string>{103,133}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{762,877},{103,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{119,32}</string>
<key>spriteSize</key>
<string>{181,191}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{730,684},{181,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{56,43}</string>
<key>spriteSize</key>
<string>{329,211}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{2,684},{329,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-kuji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,1}</string>
<key>spriteSize</key>
<string>{367,311}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{2,315},{367,311}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,-2}</string>
<key>spriteSize</key>
<string>{375,317}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{389,2},{375,317}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-1}</string>
<key>spriteSize</key>
<string>{385,311}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{2,2},{385,311}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,10}</string>
<key>spriteSize</key>
<string>{367,291}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{371,321},{367,291}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,5}</string>
<key>spriteSize</key>
<string>{357,289}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{371,614},{357,289}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-kuji_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-12}</string>
<key>spriteSize</key>
<string>{339,257}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{740,343},{339,257}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-kuji_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-15}</string>
<key>spriteSize</key>
<string>{339,249}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{766,2},{339,249}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-kuji_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,-35}</string>
<key>spriteSize</key>
<string>{229,153}</string>
<key>spriteSourceSize</key>
<string>{469,417}</string>
<key>textureRect</key>
<string>{{215,682},{229,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-qiu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{105,106}</string>
<key>spriteSourceSize</key>
<string>{187,174}</string>
<key>textureRect</key>
<string>{{655,905},{105,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-qiu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{109,110}</string>
<key>spriteSourceSize</key>
<string>{187,174}</string>
<key>textureRect</key>
<string>{{438,905},{109,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-qiu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{107,110}</string>
<key>spriteSourceSize</key>
<string>{187,174}</string>
<key>textureRect</key>
<string>{{215,913},{107,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>lingqi-qiu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{109,106}</string>
<key>spriteSourceSize</key>
<string>{187,174}</string>
<key>textureRect</key>
<string>{{327,913},{109,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lingqi-qiu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{109,104}</string>
<key>spriteSourceSize</key>
<string>{187,174}</string>
<key>textureRect</key>
<string>{{549,905},{109,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CAT_N182_hit.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CAT_N182_hit.png</string>
</dict>
</dict>
</plist>