<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>MaliGongZhu_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,62}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,462},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,62}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,460},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,62}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,230},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_hit_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,63}</string>
<key>spriteSize</key>
<string>{112,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,116},{112,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_hit_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,63}</string>
<key>spriteSize</key>
<string>{112,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,2},{112,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_hit_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,62}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,346},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,370},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,84}</string>
<key>spriteSize</key>
<string>{90,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{90,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,370},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,278},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,278},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,186},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,186},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,94},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,94},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,83}</string>
<key>spriteSize</key>
<string>{90,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,2},{90,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MaliGongZhu_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MaliGongZhu_1.png</string>
</dict>
</dict>
</plist>