<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>MaliGongZhu_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{94,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,392},{94,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,864},{92,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MaliGongZhu_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,770},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,682},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,668},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,676},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,588},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,574},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,582},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,494},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,480},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,400},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_idle_1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{92,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,386},{92,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,76}</string>
<key>spriteSize</key>
<string>{90,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,94},{90,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,79}</string>
<key>spriteSize</key>
<string>{94,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,192},{94,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,76}</string>
<key>spriteSize</key>
<string>{92,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,2},{92,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,81}</string>
<key>spriteSize</key>
<string>{94,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,96},{94,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,76}</string>
<key>spriteSize</key>
<string>{90,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,2},{90,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,80}</string>
<key>spriteSize</key>
<string>{94,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,186},{94,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,76}</string>
<key>spriteSize</key>
<string>{92,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{92,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,80}</string>
<key>spriteSize</key>
<string>{94,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,96},{94,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,71}</string>
<key>spriteSize</key>
<string>{100,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,298},{100,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,72}</string>
<key>spriteSize</key>
<string>{98,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,872},{98,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MaliGongZhu_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,71}</string>
<key>spriteSize</key>
<string>{104,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,192},{104,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,76}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,762},{108,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,71}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,282},{102,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,73}</string>
<key>spriteSize</key>
<string>{100,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,872},{100,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MaliGongZhu_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,71}</string>
<key>spriteSize</key>
<string>{102,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,288},{102,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MaliGongZhu_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,76}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,864},{108,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MaliGongZhu_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MaliGongZhu_2.png</string>
</dict>
</dict>
</plist>