<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>buff_jiaxue_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{130,166}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{304,454},{130,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{300,290}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,1202},{300,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{300,292}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,908},{300,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{300,300}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,606},{300,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{300,300}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,304},{300,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{300,300}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{300,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{286,298}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,1494},{286,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_jiaxue_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,34}</string>
<key>spriteSize</key>
<string>{150,232}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{302,1494},{150,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{146,228}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{304,2},{146,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_jiaxue_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,40}</string>
<key>spriteSize</key>
<string>{140,220}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{304,232},{140,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>buff_jiaxue.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>buff_jiaxue.png</string>
</dict>
</dict>
</plist>