<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9009_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,85}</string>
<key>spriteSize</key>
<string>{388,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{398,766},{388,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,87}</string>
<key>spriteSize</key>
<string>{394,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,660},{394,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-10}</string>
<key>spriteSize</key>
<string>{442,118}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{458,406},{442,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,107}</string>
<key>spriteSize</key>
<string>{326,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1336},{326,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,98}</string>
<key>spriteSize</key>
<string>{268,230}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{736,1636},{268,230}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9009_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,80}</string>
<key>spriteSize</key>
<string>{400,192}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{902,410},{400,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,103}</string>
<key>spriteSize</key>
<string>{388,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{854,604},{388,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,98}</string>
<key>spriteSize</key>
<string>{394,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{458,526},{394,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,90}</string>
<key>spriteSize</key>
<string>{376,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1244,700},{376,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,88}</string>
<key>spriteSize</key>
<string>{364,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{390,1000},{364,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,87}</string>
<key>spriteSize</key>
<string>{364,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1118},{364,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,88}</string>
<key>spriteSize</key>
<string>{376,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1622,700},{376,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,100}</string>
<key>spriteSize</key>
<string>{386,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,874},{386,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,94}</string>
<key>spriteSize</key>
<string>{366,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{788,854},{366,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,106}</string>
<key>spriteSize</key>
<string>{322,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{252,1586},{322,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9009_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,111}</string>
<key>spriteSize</key>
<string>{276,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{492,1636},{276,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9009_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,113}</string>
<key>spriteSize</key>
<string>{356,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{756,1118},{356,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,109}</string>
<key>spriteSize</key>
<string>{352,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{368,1220},{352,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,103}</string>
<key>spriteSize</key>
<string>{306,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1114,1196},{306,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,115}</string>
<key>spriteSize</key>
<string>{324,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1586},{324,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9009_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,103}</string>
<key>spriteSize</key>
<string>{370,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1622,920},{370,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,181}</string>
<key>spriteSize</key>
<string>{452,406}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1006,2},{452,406}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-90,183}</string>
<key>spriteSize</key>
<string>{490,402}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{514,2},{490,402}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,131}</string>
<key>spriteSize</key>
<string>{318,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1516,1174},{318,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,117}</string>
<key>spriteSize</key>
<string>{284,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{722,1364},{284,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,118}</string>
<key>spriteSize</key>
<string>{358,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1156,924},{358,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-75,133}</string>
<key>spriteSize</key>
<string>{454,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,356},{454,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,150}</string>
<key>spriteSize</key>
<string>{510,352}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{510,352}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,182}</string>
<key>spriteSize</key>
<string>{382,404}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1460,316},{382,404}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9009_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,136}</string>
<key>spriteSize</key>
<string>{422,312}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1460,2},{422,312}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9009.png</string>
</dict>
</dict>
</plist>