<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9009_skill1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{129,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,662},{129,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,-5}</string>
<key>spriteSize</key>
<string>{149,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,414},{149,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-12}</string>
<key>spriteSize</key>
<string>{143,113}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{147,603},{143,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-8}</string>
<key>spriteSize</key>
<string>{141,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{292,603},{141,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-20}</string>
<key>spriteSize</key>
<string>{143,87}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{422,410},{143,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9009_skill1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,-23}</string>
<key>spriteSize</key>
<string>{139,89}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{133,718},{139,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{110,915},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9009_skill1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{216,915},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{2,895},{106,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{110,809},{106,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{106,106}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{2,787},{106,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-24}</string>
<key>spriteSize</key>
<string>{111,95}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{322,825},{111,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-23}</string>
<key>spriteSize</key>
<string>{135,111}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{292,712},{135,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-23}</string>
<key>spriteSize</key>
<string>{143,123}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{2,537},{143,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{209,191}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{211,410},{209,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{207,205}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{2,207},{207,205}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{211,201}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{211,207},{211,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{211,203}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{215,2},{211,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9009_skill1_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{211,203}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{2,2},{211,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9009_skill1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9009_skill1.png</string>
</dict>
</dict>
</plist>