<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BG_baozha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{195,189}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{2,2},{195,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BG_baozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{189,181}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{199,2},{189,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BG_baozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{179,173}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{199,185},{179,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BG_baozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,3}</string>
<key>spriteSize</key>
<string>{167,169}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{2,193},{167,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BG_baozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,4}</string>
<key>spriteSize</key>
<string>{163,169}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{173,360},{163,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BG_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,2}</string>
<key>spriteSize</key>
<string>{163,165}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{2,362},{163,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BG_baozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{157,157}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{2,527},{157,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BG_baozha_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{149,149}</string>
<key>spriteSourceSize</key>
<string>{233,233}</string>
<key>textureRect</key>
<string>{{337,528},{149,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,-2}</string>
<key>spriteSize</key>
<string>{124,152}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{380,185},{124,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,9}</string>
<key>spriteSize</key>
<string>{162,166}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{344,360},{162,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,13}</string>
<key>spriteSize</key>
<string>{166,152}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{169,525},{166,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,17}</string>
<key>spriteSize</key>
<string>{162,140}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{161,679},{162,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,17}</string>
<key>spriteSize</key>
<string>{164,138}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{325,679},{164,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,10}</string>
<key>spriteSize</key>
<string>{150,130}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{2,686},{150,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_SHOUJI_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,31}</string>
<key>spriteSize</key>
<string>{134,82}</string>
<key>spriteSourceSize</key>
<string>{232,216}</string>
<key>textureRect</key>
<string>{{390,2},{134,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_SHOUJI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_SHOUJI.png</string>
</dict>
</dict>
</plist>