<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1006_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,22}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{164,294},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{38,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,102},{38,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,19}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,286},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,23}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{56,282},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,21}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,272},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,17}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{166,254},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{38,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{54,374},{38,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,23}</string>
<key>spriteSize</key>
<string>{38,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{108,364},{38,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,16}</string>
<key>spriteSize</key>
<string>{54,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,154},{54,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,13}</string>
<key>spriteSize</key>
<string>{50,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{58,142},{50,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,14}</string>
<key>spriteSize</key>
<string>{46,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{58,194},{46,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,22}</string>
<key>spriteSize</key>
<string>{52,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,202},{52,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,21}</string>
<key>spriteSize</key>
<string>{50,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,372},{50,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,17}</string>
<key>spriteSize</key>
<string>{50,40}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{162,334},{50,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,14}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{56,322},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,18}</string>
<key>spriteSize</key>
<string>{52,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,182},{52,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,18}</string>
<key>spriteSize</key>
<string>{66,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{70,2},{66,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,14}</string>
<key>spriteSize</key>
<string>{60,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,94},{60,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,12}</string>
<key>spriteSize</key>
<string>{60,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{134,52},{60,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,17}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,48},{64,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,19}</string>
<key>spriteSize</key>
<string>{66,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{66,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,14}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,2},{64,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,14}</string>
<key>spriteSize</key>
<string>{62,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,2},{62,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,19}</string>
<key>spriteSize</key>
<string>{64,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,48},{64,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,19}</string>
<key>spriteSize</key>
<string>{50,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,326},{50,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,21}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{210,396},{48,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,16}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,312},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,16}</string>
<key>spriteSize</key>
<string>{54,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,98},{54,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,18}</string>
<key>spriteSize</key>
<string>{56,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,66},{56,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,16}</string>
<key>spriteSize</key>
<string>{52,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{188,120},{52,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,17}</string>
<key>spriteSize</key>
<string>{46,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,404},{46,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,18}</string>
<key>spriteSize</key>
<string>{48,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{160,376},{48,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,246},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,21}</string>
<key>spriteSize</key>
<string>{36,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,294},{36,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,19}</string>
<key>spriteSize</key>
<string>{38,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{214,346},{38,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1006_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{38,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{170,174},{38,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,19}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{56,242},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,18}</string>
<key>spriteSize</key>
<string>{38,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,142},{38,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,16}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{112,232},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1006_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,16}</string>
<key>spriteSize</key>
<string>{38,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{168,214},{38,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1006.png</string>
</dict>
</dict>
</plist>