<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9007_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,29}</string>
<key>spriteSize</key>
<string>{470,402}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,2},{470,402}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-55,34}</string>
<key>spriteSize</key>
<string>{466,394}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1130},{466,394}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-78,45}</string>
<key>spriteSize</key>
<string>{504,378}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,812},{504,378}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-98,53}</string>
<key>spriteSize</key>
<string>{540,364}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{540,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-93,51}</string>
<key>spriteSize</key>
<string>{528,368}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{528,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-85,38}</string>
<key>spriteSize</key>
<string>{512,390}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,738},{512,390}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9007_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-69,28}</string>
<key>spriteSize</key>
<string>{488,404}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,406},{488,404}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9007.png</string>
</dict>
</dict>
</plist>