<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9007_H_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,-22}</string>
<key>spriteSize</key>
<string>{198,104}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{458,192},{198,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9007_H_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,19}</string>
<key>spriteSize</key>
<string>{250,180}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{838,166},{250,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9007_H_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,8}</string>
<key>spriteSize</key>
<string>{290,188}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{2,2},{290,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,5}</string>
<key>spriteSize</key>
<string>{280,188}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{294,2},{280,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{260,180}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{576,2},{260,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-2}</string>
<key>spriteSize</key>
<string>{238,166}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{576,184},{238,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,1}</string>
<key>spriteSize</key>
<string>{206,162}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{564,352},{206,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,7}</string>
<key>spriteSize</key>
<string>{170,162}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{2,658},{170,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,7}</string>
<key>spriteSize</key>
<string>{184,162}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{838,2},{184,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,7}</string>
<key>spriteSize</key>
<string>{202,162}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{222,508},{202,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,7}</string>
<key>spriteSize</key>
<string>{200,140}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{562,516},{200,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,6}</string>
<key>spriteSize</key>
<string>{134,130}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{426,508},{134,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,6}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{426,640},{130,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,3}</string>
<key>spriteSize</key>
<string>{96,92}</string>
<key>spriteSourceSize</key>
<string>{384,384}</string>
<key>textureRect</key>
<string>{{456,392},{96,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-42}</string>
<key>spriteSize</key>
<string>{226,158}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,192},{226,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-42}</string>
<key>spriteSize</key>
<string>{226,156}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{230,192},{226,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-42}</string>
<key>spriteSize</key>
<string>{224,156}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{230,350},{224,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-42}</string>
<key>spriteSize</key>
<string>{222,152}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,352},{222,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-42}</string>
<key>spriteSize</key>
<string>{218,150}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,506},{218,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9007_H_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-41}</string>
<key>spriteSize</key>
<string>{206,142}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{772,418},{206,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9007_H.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9007_H.png</string>
</dict>
</dict>
</plist>