<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6010_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-61,43}</string>
<key>spriteSize</key>
<string>{344,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,318},{344,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,43}</string>
<key>spriteSize</key>
<string>{348,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,2},{348,316}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-64,42}</string>
<key>spriteSize</key>
<string>{352,314}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{352,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-62,43}</string>
<key>spriteSize</key>
<string>{348,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,2},{348,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,43}</string>
<key>spriteSize</key>
<string>{340,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,320},{340,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,44}</string>
<key>spriteSize</key>
<string>{330,318}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,636},{330,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,44}</string>
<key>spriteSize</key>
<string>{324,318}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,638},{324,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,45}</string>
<key>spriteSize</key>
<string>{320,320}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,672},{320,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,45}</string>
<key>spriteSize</key>
<string>{322,320}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,956},{322,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-57,44}</string>
<key>spriteSize</key>
<string>{332,318}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,352},{332,318}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_6010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_6010.png</string>
</dict>
</dict>
</plist>