<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6010_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,55}</string>
<key>spriteSize</key>
<string>{134,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{586,866},{134,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,55}</string>
<key>spriteSize</key>
<string>{136,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{746,742},{136,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,55}</string>
<key>spriteSize</key>
<string>{138,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,827},{138,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,55}</string>
<key>spriteSize</key>
<string>{136,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1045},{136,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,55}</string>
<key>spriteSize</key>
<string>{134,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,864},{134,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,56}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{833,1108},{130,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,56}</string>
<key>spriteSize</key>
<string>{126,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1291},{126,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,56}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1417},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,56}</string>
<key>spriteSize</key>
<string>{126,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,1202},{126,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,56}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,1105},{130,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,1655},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,1585},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,1486},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,1592},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1765},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1688},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,57}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,1676},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,58}</string>
<key>spriteSize</key>
<string>{106,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,1547},{106,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,58}</string>
<key>spriteSize</key>
<string>{106,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,1358},{106,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{106,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1657},{106,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,56}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,1078},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,56}</string>
<key>spriteSize</key>
<string>{130,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,1078},{130,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,56}</string>
<key>spriteSize</key>
<string>{128,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,1200},{128,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,56}</string>
<key>spriteSize</key>
<string>{128,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,1187},{128,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,56}</string>
<key>spriteSize</key>
<string>{130,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1169},{130,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,1234},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{132,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{722,866},{132,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,57}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,1116},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,57}</string>
<key>spriteSize</key>
<string>{132,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,952},{132,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,56}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{701,990},{130,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,56}</string>
<key>spriteSize</key>
<string>{154,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,618},{154,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,56}</string>
<key>spriteSize</key>
<string>{158,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,464},{158,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,56}</string>
<key>spriteSize</key>
<string>{160,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,402},{160,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,56}</string>
<key>spriteSize</key>
<string>{160,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,216},{160,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,56}</string>
<key>spriteSize</key>
<string>{158,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,462},{158,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,56}</string>
<key>spriteSize</key>
<string>{154,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,568},{154,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,57}</string>
<key>spriteSize</key>
<string>{154,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,524},{154,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,57}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,648},{150,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,57}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,586},{150,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,56}</string>
<key>spriteSize</key>
<string>{152,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,618},{152,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,56}</string>
<key>spriteSize</key>
<string>{118,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,1482},{118,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,55}</string>
<key>spriteSize</key>
<string>{120,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,1364},{120,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,55}</string>
<key>spriteSize</key>
<string>{122,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,1240},{122,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{120,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,1349},{120,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,54}</string>
<key>spriteSize</key>
<string>{118,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,1427},{118,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,55}</string>
<key>spriteSize</key>
<string>{114,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,1322},{114,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,55}</string>
<key>spriteSize</key>
<string>{114,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1454},{114,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,56}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,1471},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,56}</string>
<key>spriteSize</key>
<string>{112,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,1358},{112,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,56}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,1438},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,54}</string>
<key>spriteSize</key>
<string>{100,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,1794},{100,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{120,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1570},{120,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,63}</string>
<key>spriteSize</key>
<string>{108,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{431,951},{108,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,57}</string>
<key>spriteSize</key>
<string>{198,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,216},{198,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{66,45}</string>
<key>spriteSize</key>
<string>{212,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,228},{212,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,41}</string>
<key>spriteSize</key>
<string>{228,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,116},{228,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,45}</string>
<key>spriteSize</key>
<string>{214,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,120},{214,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,58}</string>
<key>spriteSize</key>
<string>{148,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,586},{148,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,54}</string>
<key>spriteSize</key>
<string>{166,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,454},{166,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,56}</string>
<key>spriteSize</key>
<string>{100,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1871},{100,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,64}</string>
<key>spriteSize</key>
<string>{136,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,946},{136,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,57}</string>
<key>spriteSize</key>
<string>{136,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,742},{136,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,47}</string>
<key>spriteSize</key>
<string>{184,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{832,378},{184,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,40}</string>
<key>spriteSize</key>
<string>{142,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,830},{142,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{126,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,1231},{126,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,59}</string>
<key>spriteSize</key>
<string>{158,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{782,492},{158,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,53}</string>
<key>spriteSize</key>
<string>{164,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,348},{164,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,55}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,988},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-85,64}</string>
<key>spriteSize</key>
<string>{198,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,266},{198,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{80,58}</string>
<key>spriteSize</key>
<string>{250,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{250,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,1606},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,40}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,1871},{112,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,42}</string>
<key>spriteSize</key>
<string>{122,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,1472},{122,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,59}</string>
<key>spriteSize</key>
<string>{142,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,716},{142,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{118,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,1556},{118,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,54}</string>
<key>spriteSize</key>
<string>{170,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,340},{170,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-81,64}</string>
<key>spriteSize</key>
<string>{224,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,122},{224,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{71,59}</string>
<key>spriteSize</key>
<string>{234,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,2},{234,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,46}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1543},{124,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,42}</string>
<key>spriteSize</key>
<string>{218,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,110},{218,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,44}</string>
<key>spriteSize</key>
<string>{188,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{642,338},{188,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,59}</string>
<key>spriteSize</key>
<string>{116,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,1309},{116,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,49}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,1328},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,53}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,1061},{130,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,65}</string>
<key>spriteSize</key>
<string>{142,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,772},{142,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,59}</string>
<key>spriteSize</key>
<string>{146,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,710},{146,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,48}</string>
<key>spriteSize</key>
<string>{198,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,230},{198,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-61,39}</string>
<key>spriteSize</key>
<string>{250,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,2},{250,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,46}</string>
<key>spriteSize</key>
<string>{222,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,2},{222,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6010_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,60}</string>
<key>spriteSize</key>
<string>{138,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,740},{138,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6010_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,0}</string>
<key>spriteSize</key>
<string>{106,137}</string>
<key>spriteSourceSize</key>
<string>{182,173}</string>
<key>textureRect</key>
<string>{{292,844},{106,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_hero_6010_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{182,173}</string>
<key>textureRect</key>
<string>{{460,690},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6010_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{140,127}</string>
<key>spriteSourceSize</key>
<string>{182,173}</string>
<key>textureRect</key>
<string>{{2,916},{140,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6010_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{132,113}</string>
<key>spriteSourceSize</key>
<string>{182,173}</string>
<key>textureRect</key>
<string>{{567,990},{132,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6010_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-8}</string>
<key>spriteSize</key>
<string>{120,97}</string>
<key>spriteSourceSize</key>
<string>{182,173}</string>
<key>textureRect</key>
<string>{{628,1594},{120,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6010.png</string>
</dict>
</dict>
</plist>