<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7005_baopo_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-7}</string>
<key>spriteSize</key>
<string>{85,114}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{154,902},{85,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_baopo_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,0}</string>
<key>spriteSize</key>
<string>{155,234}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{2,2},{155,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_baopo_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-3}</string>
<key>spriteSize</key>
<string>{171,228}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{2,238},{171,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_baopo_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{177,206}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{388,646},{177,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_baopo_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,4}</string>
<key>spriteSize</key>
<string>{159,162}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{449,854},{159,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_baopo_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,2}</string>
<key>spriteSize</key>
<string>{117,150}</string>
<key>spriteSourceSize</key>
<string>{283,290}</string>
<key>textureRect</key>
<string>{{2,902},{117,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-52}</string>
<key>spriteSize</key>
<string>{206,107}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{610,2},{206,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_dimian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-40}</string>
<key>spriteSize</key>
<string>{206,131}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{241,886},{206,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7005_dimian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-18}</string>
<key>spriteSize</key>
<string>{208,175}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{163,468},{208,175}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-8}</string>
<key>spriteSize</key>
<string>{206,195}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{175,230},{206,195}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-3}</string>
<key>spriteSize</key>
<string>{206,205}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{181,678},{206,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{226,211}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{159,2},{226,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-16}</string>
<key>spriteSize</key>
<string>{206,179}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{340,438},{206,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-17}</string>
<key>spriteSize</key>
<string>{210,177}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{2,690},{210,177}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_dimian_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-26}</string>
<key>spriteSize</key>
<string>{220,159}</string>
<key>spriteSourceSize</key>
<string>{284,263}</string>
<key>textureRect</key>
<string>{{2,468},{220,159}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{71,44}</string>
<key>spriteSourceSize</key>
<string>{75,58}</string>
<key>textureRect</key>
<string>{{521,2},{71,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7005_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7005_skill_5.png</string>
</dict>
</dict>
</plist>