<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6002_baozha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{143,138}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{319,202},{143,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_baozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{209,192}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{317,566},{209,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_baozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-4}</string>
<key>spriteSize</key>
<string>{313,238}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{2,496},{313,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_baozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-1}</string>
<key>spriteSize</key>
<string>{315,244}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{2,250},{315,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_baozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,0}</string>
<key>spriteSize</key>
<string>{315,246}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{2,2},{315,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,13}</string>
<key>spriteSize</key>
<string>{187,198}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{319,2},{187,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_baozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,10}</string>
<key>spriteSize</key>
<string>{79,190}</string>
<key>spriteSourceSize</key>
<string>{335,246}</string>
<key>textureRect</key>
<string>{{99,736},{79,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-86,6}</string>
<key>spriteSize</key>
<string>{38,27}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{464,310},{38,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-71,6}</string>
<key>spriteSize</key>
<string>{72,51}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{209,817},{72,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,3}</string>
<key>spriteSize</key>
<string>{90,67}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{431,777},{90,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,5}</string>
<key>spriteSize</key>
<string>{108,85}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{99,817},{108,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,6}</string>
<key>spriteSize</key>
<string>{124,91}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{399,878},{124,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_huoyan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,1}</string>
<key>spriteSize</key>
<string>{138,99}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{291,777},{138,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-8}</string>
<key>spriteSize</key>
<string>{162,111}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{319,342},{162,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-2}</string>
<key>spriteSize</key>
<string>{166,95}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{2,736},{166,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,1}</string>
<key>spriteSize</key>
<string>{146,109}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{319,455},{146,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,9}</string>
<key>spriteSize</key>
<string>{156,97}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{2,904},{156,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,6}</string>
<key>spriteSize</key>
<string>{138,103}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{160,904},{138,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_huoyan_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,13}</string>
<key>spriteSize</key>
<string>{132,97}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{300,878},{132,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_huoyan_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{106,33}</string>
<key>spriteSourceSize</key>
<string>{236,145}</string>
<key>textureRect</key>
<string>{{464,202},{106,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_6002_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_6002_1.png</string>
</dict>
</dict>
</plist>