<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET_6002_idlea0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{142,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,162},{142,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,66}</string>
<key>spriteSize</key>
<string>{148,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,160},{148,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET_6002_idlea0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,78}</string>
<key>spriteSize</key>
<string>{150,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,330},{150,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,65}</string>
<key>spriteSize</key>
<string>{188,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{188,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{186,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,2},{186,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{118,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,2},{118,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,68}</string>
<key>spriteSize</key>
<string>{132,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,330},{132,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,72}</string>
<key>spriteSize</key>
<string>{132,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,330},{132,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_6002_idlea0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{142,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,164},{142,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET_6002_idlea.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET_6002_idlea.png</string>
</dict>
</dict>
</plist>