<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,182}</string>
<key>spriteSize</key>
<string>{124,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{124,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,164}</string>
<key>spriteSize</key>
<string>{94,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,240},{94,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-128,132}</string>
<key>spriteSize</key>
<string>{120,66}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,2},{120,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-167}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,182},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET_0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-164}</string>
<key>spriteSize</key>
<string>{102,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,78},{102,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-142}</string>
<key>spriteSize</key>
<string>{106,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,138},{106,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-140}</string>
<key>spriteSize</key>
<string>{84,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,270},{84,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-139}</string>
<key>spriteSize</key>
<string>{66,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,70},{66,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET_6002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET_6002.png</string>
</dict>
</dict>
</plist>