<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET_6002_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-335,84}</string>
<key>spriteSize</key>
<string>{90,66}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,82},{90,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET_6002_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-328,86}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{72,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-333,76}</string>
<key>spriteSize</key>
<string>{84,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{88,242},{84,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-333,78}</string>
<key>spriteSize</key>
<string>{84,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,170},{84,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-322,86}</string>
<key>spriteSize</key>
<string>{88,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,168},{88,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-318,83}</string>
<key>spriteSize</key>
<string>{116,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{116,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-326,84}</string>
<key>spriteSize</key>
<string>{102,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,2},{102,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_6002_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-171,-65}</string>
<key>spriteSize</key>
<string>{86,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,82},{86,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET_6002_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,-85}</string>
<key>spriteSize</key>
<string>{84,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,82},{84,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET_6002_10045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{178,-69}</string>
<key>spriteSize</key>
<string>{82,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,260},{82,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET_6002_10050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{295,-25}</string>
<key>spriteSize</key>
<string>{84,66}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,174},{84,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET_6002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET_6002.png</string>
</dict>
</dict>
</plist>