<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>xianwei_lizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,0}</string>
<key>spriteSize</key>
<string>{169,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{214,678},{169,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianwei_lizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,0}</string>
<key>spriteSize</key>
<string>{185,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{124,802},{185,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xianwei_lizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,0}</string>
<key>spriteSize</key>
<string>{213,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{246,228},{213,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianwei_lizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{235,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{2,470},{235,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianwei_lizi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{223,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{239,556},{223,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xianwei_lizi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,0}</string>
<key>spriteSize</key>
<string>{193,120}</string>
<key>spriteSourceSize</key>
<string>{235,120}</string>
<key>textureRect</key>
<string>{{2,802},{193,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xinxin_baolie_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{242,236}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{2,2},{242,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xinxin_baolie_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{236,228}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{2,240},{236,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xinxin_baolie_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-10}</string>
<key>spriteSize</key>
<string>{224,216}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{246,2},{224,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xinxin_baolie_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-4}</string>
<key>spriteSize</key>
<string>{208,210}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{2,592},{208,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xinxin_baolie_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{204,212}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{240,350},{204,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xinxin_baolie_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-5}</string>
<key>spriteSize</key>
<string>{204,206}</string>
<key>spriteSourceSize</key>
<string>{242,236}</string>
<key>textureRect</key>
<string>{{246,800},{204,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XianWei_jingsheng.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XianWei_jingsheng.png</string>
</dict>
</dict>
</plist>