<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6013_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-3}</string>
<key>spriteSize</key>
<string>{236,116}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{236,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-10}</string>
<key>spriteSize</key>
<string>{242,142}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,856},{242,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-11}</string>
<key>spriteSize</key>
<string>{238,136}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,580},{238,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-9}</string>
<key>spriteSize</key>
<string>{230,136}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,718},{230,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-10}</string>
<key>spriteSize</key>
<string>{194,136}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,384},{194,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6013_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,-8}</string>
<key>spriteSize</key>
<string>{200,126}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,120},{200,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{56,-12}</string>
<key>spriteSize</key>
<string>{140,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,248},{140,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6013_skill_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-35}</string>
<key>spriteSize</key>
<string>{267,109}</string>
<key>spriteSourceSize</key>
<string>{375,281}</string>
<key>textureRect</key>
<string>{{144,248},{267,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6013_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6013_skill_1.png</string>
</dict>
</dict>
</plist>