<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6013_Jump_0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,412},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_Jump_0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,60}</string>
<key>spriteSize</key>
<string>{102,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,320},{102,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_dead_0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,64}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,314},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_dead_0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-73,45}</string>
<key>spriteSize</key>
<string>{100,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,500},{100,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_dead_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-64,11}</string>
<key>spriteSize</key>
<string>{102,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,422},{102,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_hit_0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{104,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,396},{104,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_hit_0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,47}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,514},{96,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_hit_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{84,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,536},{84,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{108,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,436},{108,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{106,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,328},{106,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,320},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,314},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,47}</string>
<key>spriteSize</key>
<string>{110,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,224},{110,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,47}</string>
<key>spriteSize</key>
<string>{110,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{792,210},{110,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,194},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,212},{112,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{110,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,298},{110,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_idle_1_0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{108,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,424},{108,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{92,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,494},{92,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_1_0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,40}</string>
<key>spriteSize</key>
<string>{116,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,116},{116,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,37}</string>
<key>spriteSize</key>
<string>{136,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,2},{136,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,46}</string>
<key>spriteSize</key>
<string>{100,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,400},{100,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,44}</string>
<key>spriteSize</key>
<string>{138,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{138,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,43}</string>
<key>spriteSize</key>
<string>{130,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,110},{130,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,42}</string>
<key>spriteSize</key>
<string>{132,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,104},{132,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_1_0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,46}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,524},{90,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_1_0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,51}</string>
<key>spriteSize</key>
<string>{120,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,202},{120,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{128,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,118},{128,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{128,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,2},{128,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,47}</string>
<key>spriteSize</key>
<string>{126,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,96},{126,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,94}</string>
<key>spriteSize</key>
<string>{116,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,324},{116,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,96}</string>
<key>spriteSize</key>
<string>{118,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,308},{118,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,94}</string>
<key>spriteSize</key>
<string>{124,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,108},{124,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,87}</string>
<key>spriteSize</key>
<string>{132,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,2},{132,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,82}</string>
<key>spriteSize</key>
<string>{136,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,2},{136,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,76}</string>
<key>spriteSize</key>
<string>{112,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,2},{112,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_2_0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,24}</string>
<key>spriteSize</key>
<string>{120,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,216},{120,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,24}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,102},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_2_0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,26}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,2},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_2_0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,31}</string>
<key>spriteSize</key>
<string>{118,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,200},{118,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013_skills_2_0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,26}</string>
<key>spriteSize</key>
<string>{118,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,218},{118,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013_skills_2_0052.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{86,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,116},{86,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6013.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6013.png</string>
</dict>
</dict>
</plist>