<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_8006_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,118}</string>
<key>spriteSize</key>
<string>{234,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,252},{234,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,119}</string>
<key>spriteSize</key>
<string>{226,248}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,254},{226,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,120}</string>
<key>spriteSize</key>
<string>{218,250}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{218,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,119}</string>
<key>spriteSize</key>
<string>{216,248}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,2},{216,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,118}</string>
<key>spriteSize</key>
<string>{230,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,2},{230,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,117}</string>
<key>spriteSize</key>
<string>{238,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,500},{238,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,116}</string>
<key>spriteSize</key>
<string>{238,242}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,250},{238,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,117}</string>
<key>spriteSize</key>
<string>{242,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,752},{242,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_8006_0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,118}</string>
<key>spriteSize</key>
<string>{234,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,504},{234,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8006.png</string>
</dict>
</dict>
</plist>