<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8006-daoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{61,3}</string>
<key>spriteSize</key>
<string>{88,173}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{419,478},{88,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006-daoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-9}</string>
<key>spriteSize</key>
<string>{184,193}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{2,490},{184,193}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006-daoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{208,193}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{2,295},{208,193}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006-daoguang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-17}</string>
<key>spriteSize</key>
<string>{230,197}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{2,2},{230,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006-daoguang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-27}</string>
<key>spriteSize</key>
<string>{230,179}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{234,2},{230,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006-daoguang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-20}</string>
<key>spriteSize</key>
<string>{208,197}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{221,279},{208,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006-daoguang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-16}</string>
<key>spriteSize</key>
<string>{188,191}</string>
<key>spriteSourceSize</key>
<string>{600,525}</string>
<key>textureRect</key>
<string>{{197,574},{188,191}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{92,159}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{390,747},{92,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baodian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{156,163}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{2,852},{156,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baodian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{154,159}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{160,852},{154,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baodian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{92,183}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{2,676},{92,183}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{92,217}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{2,201},{92,217}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-3}</string>
<key>spriteSize</key>
<string>{94,223}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{234,183},{94,223}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{94,205}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{212,478},{94,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-4}</string>
<key>spriteSize</key>
<string>{86,181}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{187,764},{86,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baodian_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{84,85}</string>
<key>spriteSourceSize</key>
<string>{160,273}</string>
<key>textureRect</key>
<string>{{316,908},{84,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baodian_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-4}</string>
<key>spriteSize</key>
<string>{92,94}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{390,653},{92,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8006_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8006_1.png</string>
</dict>
</dict>
</plist>