<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8006-dao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{116,131}</string>
<key>spriteSourceSize</key>
<string>{134,173}</string>
<key>textureRect</key>
<string>{{378,2},{116,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baoqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{260,451},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baoqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{107,107}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{151,451},{107,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baoqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{121,121}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{369,384},{121,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baoqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{125,121}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{378,120},{125,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_baoqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,4}</string>
<key>spriteSize</key>
<string>{139,135}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{374,243},{139,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_baoqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{153,149}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{163,300},{153,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_xuanzhuang_00_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,159}</string>
<key>spriteSourceSize</key>
<string>{525,525}</string>
<key>textureRect</key>
<string>{{2,202},{159,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{70,12}</string>
<key>spriteSize</key>
<string>{41,52}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{318,300},{41,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8006_yanwu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{67,-1}</string>
<key>spriteSize</key>
<string>{49,82}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{318,343},{49,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-9}</string>
<key>spriteSize</key>
<string>{147,102}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{2,363},{147,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-10}</string>
<key>spriteSize</key>
<string>{183,100}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{189,198},{183,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-10}</string>
<key>spriteSize</key>
<string>{187,100}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{2,2},{187,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-12}</string>
<key>spriteSize</key>
<string>{185,96}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{2,104},{185,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{185,96}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{191,100},{185,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006_yanwu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{185,96}</string>
<key>spriteSourceSize</key>
<string>{537,380}</string>
<key>textureRect</key>
<string>{{191,2},{185,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8006_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8006_2.png</string>
</dict>
</dict>
</plist>