<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_hero_8006_A10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,65}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1610},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,69}</string>
<key>spriteSize</key>
<string>{140,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,974},{140,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,68}</string>
<key>spriteSize</key>
<string>{160,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,302},{160,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,53}</string>
<key>spriteSize</key>
<string>{110,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,1096},{110,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,46}</string>
<key>spriteSize</key>
<string>{156,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{832,452},{156,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,52}</string>
<key>spriteSize</key>
<string>{150,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,570},{150,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,60}</string>
<key>spriteSize</key>
<string>{132,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1754},{132,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,76}</string>
<key>spriteSize</key>
<string>{88,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,426},{88,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,65}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,1554},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,67}</string>
<key>spriteSize</key>
<string>{106,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,1446},{106,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,70}</string>
<key>spriteSize</key>
<string>{122,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,848},{122,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,69}</string>
<key>spriteSize</key>
<string>{134,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,1048},{134,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,53}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,1442},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,46}</string>
<key>spriteSize</key>
<string>{126,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1782},{126,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,52}</string>
<key>spriteSize</key>
<string>{150,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,720},{150,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{152,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,582},{152,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,75}</string>
<key>spriteSize</key>
<string>{126,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,506},{126,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,67}</string>
<key>spriteSize</key>
<string>{104,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,1504},{104,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,63}</string>
<key>spriteSize</key>
<string>{114,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,972},{114,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,64}</string>
<key>spriteSize</key>
<string>{120,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,152},{120,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,67}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,886},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,51}</string>
<key>spriteSize</key>
<string>{178,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{178,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,50}</string>
<key>spriteSize</key>
<string>{136,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,1672},{136,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,57}</string>
<key>spriteSize</key>
<string>{142,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,1088},{142,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,66}</string>
<key>spriteSize</key>
<string>{120,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,1320},{120,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,76}</string>
<key>spriteSize</key>
<string>{118,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,578},{118,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,63}</string>
<key>spriteSize</key>
<string>{114,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,1156},{114,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{138,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,1112},{138,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,56}</string>
<key>spriteSize</key>
<string>{154,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,116},{154,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,61}</string>
<key>spriteSize</key>
<string>{148,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,684},{148,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,50}</string>
<key>spriteSize</key>
<string>{156,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,560},{156,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,51}</string>
<key>spriteSize</key>
<string>{154,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{652,516},{154,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,58}</string>
<key>spriteSize</key>
<string>{162,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,320},{162,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,68}</string>
<key>spriteSize</key>
<string>{108,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,700},{108,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,75}</string>
<key>spriteSize</key>
<string>{106,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,452},{106,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{138,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{878,1208},{138,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{116,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,1672},{116,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,53}</string>
<key>spriteSize</key>
<string>{154,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,272},{154,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,56}</string>
<key>spriteSize</key>
<string>{162,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,2},{162,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,51}</string>
<key>spriteSize</key>
<string>{96,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1888},{96,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{150,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,760},{150,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,58}</string>
<key>spriteSize</key>
<string>{148,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,764},{148,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_A50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{136,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,444},{136,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,74}</string>
<key>spriteSize</key>
<string>{90,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,274},{90,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_A50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,60}</string>
<key>spriteSize</key>
<string>{116,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,1728},{116,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,67}</string>
<key>spriteSize</key>
<string>{132,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,1272},{132,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,67}</string>
<key>spriteSize</key>
<string>{128,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,1352},{128,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,67}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1394},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{122,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,1238},{122,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,66}</string>
<key>spriteSize</key>
<string>{130,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{720,1362},{130,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,65}</string>
<key>spriteSize</key>
<string>{136,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,1494},{136,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,65}</string>
<key>spriteSize</key>
<string>{134,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,1550},{134,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,66}</string>
<key>spriteSize</key>
<string>{138,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1520},{138,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,67}</string>
<key>spriteSize</key>
<string>{134,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,1184},{134,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,68}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,1406},{96,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{98,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,1346},{98,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,1252},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,810},{96,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,68}</string>
<key>spriteSize</key>
<string>{92,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,1482},{92,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{94,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,1576},{94,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{92,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,1482},{92,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{92,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1660},{92,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,68}</string>
<key>spriteSize</key>
<string>{96,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,954},{96,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,68}</string>
<key>spriteSize</key>
<string>{144,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,970},{144,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,67}</string>
<key>spriteSize</key>
<string>{138,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,1016},{138,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,67}</string>
<key>spriteSize</key>
<string>{134,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,834},{134,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,68}</string>
<key>spriteSize</key>
<string>{136,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1116},{136,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,68}</string>
<key>spriteSize</key>
<string>{138,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,1098},{138,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,67}</string>
<key>spriteSize</key>
<string>{132,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,1212},{132,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,67}</string>
<key>spriteSize</key>
<string>{132,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,1348},{132,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,67}</string>
<key>spriteSize</key>
<string>{140,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1254},{140,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,68}</string>
<key>spriteSize</key>
<string>{146,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,906},{146,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,64}</string>
<key>spriteSize</key>
<string>{168,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,2},{168,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,63}</string>
<key>spriteSize</key>
<string>{166,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,140},{166,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,63}</string>
<key>spriteSize</key>
<string>{162,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,150},{162,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,64}</string>
<key>spriteSize</key>
<string>{160,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,428},{160,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,62}</string>
<key>spriteSize</key>
<string>{156,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,166},{156,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{160,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,292},{160,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{170,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,2},{170,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,65}</string>
<key>spriteSize</key>
<string>{172,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,2},{172,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,64}</string>
<key>spriteSize</key>
<string>{170,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,146},{170,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_hero_8006_B50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,60}</string>
<key>spriteSize</key>
<string>{138,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,834},{138,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,60}</string>
<key>spriteSize</key>
<string>{134,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,698},{134,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,60}</string>
<key>spriteSize</key>
<string>{128,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,634},{128,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,60}</string>
<key>spriteSize</key>
<string>{124,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,634},{124,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,54}</string>
<key>spriteSize</key>
<string>{132,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,292},{132,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{136,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,2},{136,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,54}</string>
<key>spriteSize</key>
<string>{138,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,366},{138,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,60}</string>
<key>spriteSize</key>
<string>{144,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{778,810},{144,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_hero_8006_B50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,60}</string>
<key>spriteSize</key>
<string>{140,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,956},{140,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8006.png</string>
</dict>
</dict>
</plist>