<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,114}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{862,276},{116,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guangquan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,139}</string>
<key>spriteSourceSize</key>
<string>{139,139}</string>
<key>textureRect</key>
<string>{{841,627},{139,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piaodai_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{105,-175}</string>
<key>spriteSize</key>
<string>{143,119}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{862,131},{143,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,-168}</string>
<key>spriteSize</key>
<string>{233,141}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{856,392},{233,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-66,-83}</string>
<key>spriteSize</key>
<string>{149,313}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{2,297},{149,313}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piaodai_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,-94}</string>
<key>spriteSize</key>
<string>{259,249}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{580,578},{259,249}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piaodai_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,-40}</string>
<key>spriteSize</key>
<string>{297,357}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{281,638},{297,357}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piaodai_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,-4}</string>
<key>spriteSize</key>
<string>{293,457}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{2,2},{293,457}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,-40}</string>
<key>spriteSize</key>
<string>{291,399}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{461,2},{291,399}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,-54}</string>
<key>spriteSize</key>
<string>{281,393}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{461,295},{281,393}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-58}</string>
<key>spriteSize</key>
<string>{277,367}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{2,627},{277,367}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>piaodai_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-67,-67}</string>
<key>spriteSize</key>
<string>{187,351}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{580,829},{187,351}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>piaodai_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-62,-80}</string>
<key>spriteSize</key>
<string>{177,339}</string>
<key>spriteSourceSize</key>
<string>{407,501}</string>
<key>textureRect</key>
<string>{{281,297},{177,339}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xinxin_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{130,127}</string>
<key>spriteSourceSize</key>
<string>{134,127}</string>
<key>textureRect</key>
<string>{{862,2},{130,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZH_shouji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZH_shouji.png</string>
</dict>
</dict>
</plist>