<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZhaoHuan_lizi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-12}</string>
<key>spriteSize</key>
<string>{182,235}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{263,802},{182,235}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_lizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-34}</string>
<key>spriteSize</key>
<string>{212,259}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{2,802},{212,259}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_lizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-29}</string>
<key>spriteSize</key>
<string>{218,269}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{476,525},{218,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-29}</string>
<key>spriteSize</key>
<string>{218,269}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{252,262},{218,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-17}</string>
<key>spriteSize</key>
<string>{238,269}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{2,531},{238,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,-11}</string>
<key>spriteSize</key>
<string>{248,267}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{2,262},{248,267}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-12}</string>
<key>spriteSize</key>
<string>{242,273}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{337,2},{242,273}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_lizi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-12}</string>
<key>spriteSize</key>
<string>{230,275}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{472,248},{230,275}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-13}</string>
<key>spriteSize</key>
<string>{244,269}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{612,2},{244,269}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_lizi_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{232,267}</string>
<key>spriteSourceSize</key>
<string>{306,361}</string>
<key>textureRect</key>
<string>{{242,533},{232,267}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_lizi_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-8}</string>
<key>spriteSize</key>
<string>{333,258}</string>
<key>spriteSourceSize</key>
<string>{375,306}</string>
<key>textureRect</key>
<string>{{2,2},{333,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,2}</string>
<key>spriteSize</key>
<string>{154,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{704,320},{154,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,2}</string>
<key>spriteSize</key>
<string>{146,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{800,840},{146,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_ui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{652,840},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{696,692},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{696,616},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{696,540},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{148,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{696,768},{148,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{154,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{704,248},{154,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-2}</string>
<key>spriteSize</key>
<string>{146,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{652,916},{146,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{576,872},{146,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_ui_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{500,872},{146,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhaoHuan_ui_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{500,796},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{146,74}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{704,392},{146,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhaoHuan_ui_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,2}</string>
<key>spriteSize</key>
<string>{146,70}</string>
<key>spriteSourceSize</key>
<string>{158,74}</string>
<key>textureRect</key>
<string>{{704,468},{146,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhaoHuan_ui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhaoHuan_ui.png</string>
</dict>
</dict>
</plist>