<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HuoDong_2ui_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{112,89}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{117,214},{112,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-10}</string>
<key>spriteSize</key>
<string>{112,93}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{346,206},{112,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{110,97}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{354,107},{110,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{238,109},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{110,103}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{354,2},{110,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{114,105}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{238,2},{114,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-6}</string>
<key>spriteSize</key>
<string>{116,101}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{120,111},{116,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{116,107}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{120,2},{116,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_2ui_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{118,113}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{2,121},{118,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HuoDong_2ui_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,2}</string>
<key>spriteSize</key>
<string>{116,117}</string>
<key>spriteSourceSize</key>
<string>{124,123}</string>
<key>textureRect</key>
<string>{{2,2},{116,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HuoDong_ui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HuoDong_ui.png</string>
</dict>
</dict>
</plist>