<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_chengmodian_00000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{11,11}</string>
<key>spriteSourceSize</key>
<string>{13,11}</string>
<key>textureRect</key>
<string>{{452,142},{11,11}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_chengmokuang_00000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,26}</string>
<key>spriteSourceSize</key>
<string>{52,32}</string>
<key>textureRect</key>
<string>{{152,560},{46,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_du_00000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{72,82}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{526,766},{72,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_du_00001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{939,738},{80,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_du_00002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{88,84}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{933,560},{88,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_du_00003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{350,754},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_du_00004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{84,88}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{440,754},{84,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_du_00005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{82,86}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{939,650},{82,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_du_00006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{282,666},{80,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_du_00007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{78,86}</string>
<key>spriteSourceSize</key>
<string>{90,88}</string>
<key>textureRect</key>
<string>{{262,766},{78,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_fanjia_00010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{93,157}</string>
<key>spriteSourceSize</key>
<string>{97,157}</string>
<key>textureRect</key>
<string>{{579,109},{93,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiaxue_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-11}</string>
<key>spriteSize</key>
<string>{104,132}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{302,300},{104,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_jiaxue_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-22}</string>
<key>spriteSize</key>
<string>{148,156}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{302,2},{148,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,200}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{2,406},{148,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,200}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{152,2},{148,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,200}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{2,204},{148,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,200}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{2,2},{148,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{148,198}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{152,204},{148,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_jiaxue_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,9}</string>
<key>spriteSize</key>
<string>{120,182}</string>
<key>spriteSourceSize</key>
<string>{148,200}</string>
<key>textureRect</key>
<string>{{2,608},{120,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{147,75}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{388,406},{147,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyi_00011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{143,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{804,481},{143,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{141,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{203,560},{141,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyi_00013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{143,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{831,402},{143,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{143,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{831,323},{143,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{145,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{726,226},{145,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{145,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{579,204},{145,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{143,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{873,244},{143,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{141,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{878,165},{141,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyi_00019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{143,77}</string>
<key>spriteSourceSize</key>
<string>{163,89}</string>
<key>textureRect</key>
<string>{{124,608},{143,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyijineng_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{119,127}</string>
<key>spriteSourceSize</key>
<string>{119,129}</string>
<key>textureRect</key>
<string>{{669,658},{119,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyijineng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{119,127}</string>
<key>spriteSourceSize</key>
<string>{119,129}</string>
<key>textureRect</key>
<string>{{804,560},{119,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyijineng_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{119,127}</string>
<key>spriteSourceSize</key>
<string>{119,129}</string>
<key>textureRect</key>
<string>{{675,537},{119,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyijineng_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{119,127}</string>
<key>spriteSourceSize</key>
<string>{119,129}</string>
<key>textureRect</key>
<string>{{371,555},{119,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyijineng_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{119,127}</string>
<key>spriteSourceSize</key>
<string>{119,129}</string>
<key>textureRect</key>
<string>{{675,416},{119,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyikongzhi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-13}</string>
<key>spriteSize</key>
<string>{120,87}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{282,544},{120,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyikongzhi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-13}</string>
<key>spriteSize</key>
<string>{132,93}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{887,70},{132,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyikongzhi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-13}</string>
<key>spriteSize</key>
<string>{136,91}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{124,753},{136,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyikongzhi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-18}</string>
<key>spriteSize</key>
<string>{140,91}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{465,399},{140,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyikongzhi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-18}</string>
<key>spriteSize</key>
<string>{148,103}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{737,2},{148,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyikongzhi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-17}</string>
<key>spriteSize</key>
<string>{156,105}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{579,2},{156,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_mianyikongzhi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-16}</string>
<key>spriteSize</key>
<string>{154,109}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{152,404},{154,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_mianyikongzhi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-12}</string>
<key>spriteSize</key>
<string>{138,117}</string>
<key>spriteSourceSize</key>
<string>{180,165}</string>
<key>textureRect</key>
<string>{{738,107},{138,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_tishengshangkuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{139,66}</string>
<key>spriteSourceSize</key>
<string>{147,82}</string>
<key>textureRect</key>
<string>{{798,681},{139,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_tishengshangkuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{139,66}</string>
<key>spriteSourceSize</key>
<string>{147,82}</string>
<key>textureRect</key>
<string>{{492,541},{139,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_tishengshangkuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{135,66}</string>
<key>spriteSourceSize</key>
<string>{147,82}</string>
<key>textureRect</key>
<string>{{887,2},{135,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_tishengshangkuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{131,68}</string>
<key>spriteSourceSize</key>
<string>{147,82}</string>
<key>textureRect</key>
<string>{{798,749},{131,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_tishengshangkuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{129,68}</string>
<key>spriteSourceSize</key>
<string>{147,82}</string>
<key>textureRect</key>
<string>{{370,684},{129,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{115,112}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{465,142},{115,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_wudi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,8}</string>
<key>spriteSize</key>
<string>{115,132}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{558,394},{115,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{113,138}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{436,259},{113,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,4}</string>
<key>spriteSize</key>
<string>{109,138}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{691,305},{109,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_wudi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{125,138}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{452,2},{125,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,138}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{302,160},{125,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,3}</string>
<key>spriteSize</key>
<string>{123,136}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{263,406},{123,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{109,138}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{551,283},{109,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_wudi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-13}</string>
<key>spriteSize</key>
<string>{107,114}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{560,650},{107,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_wudi_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{113,120}</string>
<key>spriteSourceSize</key>
<string>{125,164}</string>
<key>textureRect</key>
<string>{{560,528},{113,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_xiajiangshangkuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{44,56}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{203,703},{44,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_xiajiangshangkuang_02_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-5}</string>
<key>spriteSize</key>
<string>{32,54}</string>
<key>spriteSourceSize</key>
<string>{166,98}</string>
<key>textureRect</key>
<string>{{976,323},{32,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zhuoshao_00000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{55,62}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{501,682},{55,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zhuoshao_00001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{55,64}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{610,766},{55,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zhuoshao_00002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{53,64}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{667,779},{53,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zhuoshao_00003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{49,72}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{2,792},{49,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zhuoshao_00004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{51,58}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{949,481},{51,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zhuoshao_00005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{53,58}</string>
<key>spriteSourceSize</key>
<string>{55,78}</string>
<key>textureRect</key>
<string>{{733,779},{53,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff.png</string>
</dict>
</dict>
</plist>