<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7004_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,120}</string>
<key>spriteSize</key>
<string>{192,296}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,2},{192,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,118}</string>
<key>spriteSize</key>
<string>{204,300}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{204,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,120}</string>
<key>spriteSize</key>
<string>{216,298}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,304},{216,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,122}</string>
<key>spriteSize</key>
<string>{220,292}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,604},{220,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,127}</string>
<key>spriteSize</key>
<string>{218,286}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,210},{218,286}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,127}</string>
<key>spriteSize</key>
<string>{212,286}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,430},{212,286}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,126}</string>
<key>spriteSize</key>
<string>{206,288}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,2},{206,288}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,126}</string>
<key>spriteSize</key>
<string>{196,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,2},{196,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,124}</string>
<key>spriteSize</key>
<string>{188,292}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,300},{188,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,122}</string>
<key>spriteSize</key>
<string>{184,294}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,604},{184,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7004.png</string>
</dict>
</dict>
</plist>