<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7004_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,124},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{82,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,380},{82,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{86,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,630},{86,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,43}</string>
<key>spriteSize</key>
<string>{88,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,874},{88,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{88,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,244},{88,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,2},{86,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,120},{84,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,2},{78,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,45}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,2},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,44}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,874},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{82,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,254},{82,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{82,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,506},{82,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{82,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,376},{82,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,44}</string>
<key>spriteSize</key>
<string>{80,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,250},{80,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,868},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,238},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,498},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{80,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,2},{80,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{80,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,380},{80,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{82,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,128},{82,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,474},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,834},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,592},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,47}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,584},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{764,2},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,118},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,47}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,234},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,2},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,45}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,834},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,44}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,716},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{80,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,236},{80,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,362},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,120},{86,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{90,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,708},{90,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{90,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{642,812},{90,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,48}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,2},{92,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{934,2},{88,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,47}</string>
<key>spriteSize</key>
<string>{88,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,822},{88,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,936},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,45}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,354},{82,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,458},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,462},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{764,580},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,47}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,698},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,352},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,470},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,574},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,48}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,692},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,810},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,114},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,752},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,42}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,598},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,372},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,716},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,618},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{86,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,2},{86,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,38}</string>
<key>spriteSize</key>
<string>{82,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,504},{82,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{84,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,748},{84,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,42}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,626},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,2},{82,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{80,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,128},{80,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,858},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,41}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,746},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{70,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,952},{70,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{96,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,238},{96,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,492},{68,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,626},{68,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{76,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,252},{76,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,39}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{88,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,612},{70,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,46}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,480},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{68,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,470},{68,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{70,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,752},{70,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,45}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,598},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,45}</string>
<key>spriteSize</key>
<string>{94,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,2},{94,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,40}</string>
<key>spriteSize</key>
<string>{70,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,126},{70,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,40}</string>
<key>spriteSize</key>
<string>{72,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,252},{72,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,42}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,738},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,44}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,492},{70,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,47}</string>
<key>spriteSize</key>
<string>{60,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{792,116},{60,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,45}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,356},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,342},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,50}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{518,952},{70,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,50}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,466},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,52}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,584},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,47}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,356},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,232},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,48}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,348},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,46}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,124},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,118},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,698},{72,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,53}</string>
<key>spriteSize</key>
<string>{64,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,550},{64,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{72,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,442},{72,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,54}</string>
<key>spriteSize</key>
<string>{72,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,334},{72,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,56}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,230},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{932,114},{78,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{892,226},{76,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,346},{76,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,49}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,866},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,47}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,120},{78,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7004.png</string>
</dict>
</dict>
</plist>