<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6002_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{99,98}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{278,624},{99,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{217,122}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{249,2},{217,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,1}</string>
<key>spriteSize</key>
<string>{245,134}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,2},{245,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,9}</string>
<key>spriteSize</key>
<string>{103,94}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{173,478},{103,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,9}</string>
<key>spriteSize</key>
<string>{103,92}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{173,574},{103,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,9}</string>
<key>spriteSize</key>
<string>{101,90}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,600},{101,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,8}</string>
<key>spriteSize</key>
<string>{97,88}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{379,624},{97,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,7}</string>
<key>spriteSize</key>
<string>{89,82}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{379,714},{89,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{57,66}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{430,223},{57,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-78,8}</string>
<key>spriteSize</key>
<string>{95,26}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{430,126},{95,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,9}</string>
<key>spriteSize</key>
<string>{133,40}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{468,2},{133,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,8}</string>
<key>spriteSize</key>
<string>{179,100}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{249,126},{179,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,7}</string>
<key>spriteSize</key>
<string>{177,108}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,138},{177,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,8}</string>
<key>spriteSize</key>
<string>{171,114}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{175,362},{171,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,9}</string>
<key>spriteSize</key>
<string>{169,120}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{348,453},{169,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,7}</string>
<key>spriteSize</key>
<string>{169,122}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,476},{169,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,7}</string>
<key>spriteSize</key>
<string>{169,132}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{356,282},{169,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_1_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,7}</string>
<key>spriteSize</key>
<string>{173,132}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{181,228},{173,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,7}</string>
<key>spriteSize</key>
<string>{171,114}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,360},{171,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_1_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,7}</string>
<key>spriteSize</key>
<string>{173,110}</string>
<key>spriteSourceSize</key>
<string>{375,300}</string>
<key>textureRect</key>
<string>{{2,248},{173,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6002_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6002_skill_1.png</string>
</dict>
</dict>
</plist>