<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6002_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-42}</string>
<key>spriteSize</key>
<string>{126,57}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{302,468},{126,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-24}</string>
<key>spriteSize</key>
<string>{126,113}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{2,401},{126,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{126,159}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{173,2},{126,159}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{126,155}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{173,130},{126,155}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{128,157}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{334,2},{128,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{126,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{2,165},{126,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{330,132},{124,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{122,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{157,258},{122,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{106,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{312,258},{106,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{2,293},{106,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{100,153}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{312,366},{100,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{100,143}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{157,382},{100,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-39}</string>
<key>spriteSize</key>
<string>{68,23}</string>
<key>spriteSourceSize</key>
<string>{338,413}</string>
<key>textureRect</key>
<string>{{485,132},{68,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{161,169}</string>
<key>spriteSourceSize</key>
<string>{195,195}</string>
<key>textureRect</key>
<string>{{2,2},{161,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,6}</string>
<key>spriteSize</key>
<string>{72,64}</string>
<key>spriteSourceSize</key>
<string>{130,140}</string>
<key>textureRect</key>
<string>{{188,573},{72,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_2_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{77,87}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{223,484},{77,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_2_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{81,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{2,599},{81,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{83,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{302,527},{83,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{81,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{95,569},{81,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{77,87}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{430,468},{77,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6002_skill_2_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{81,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{2,516},{81,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{83,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{130,484},{83,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{81,91}</string>
<key>spriteSourceSize</key>
<string>{203,203}</string>
<key>textureRect</key>
<string>{{395,557},{81,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6002_skill_2_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{467,258},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6002_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6002_skill_2.png</string>
</dict>
</dict>
</plist>