<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5008_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,30}</string>
<key>spriteSize</key>
<string>{162,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,530},{162,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,29}</string>
<key>spriteSize</key>
<string>{166,264}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,266},{166,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,28}</string>
<key>spriteSize</key>
<string>{168,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,266},{168,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,28}</string>
<key>spriteSize</key>
<string>{170,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{170,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,28}</string>
<key>spriteSize</key>
<string>{168,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,2},{168,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,28}</string>
<key>spriteSize</key>
<string>{166,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,2},{166,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,28}</string>
<key>spriteSize</key>
<string>{164,262}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,266},{164,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,29}</string>
<key>spriteSize</key>
<string>{164,264}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,800},{164,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5008_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,30}</string>
<key>spriteSize</key>
<string>{162,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,532},{162,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,30}</string>
<key>spriteSize</key>
<string>{164,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,532},{164,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_5008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_5008.png</string>
</dict>
</dict>
</plist>