<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5008_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,2},{58,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{60,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,390},{60,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{60,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,862},{60,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,44}</string>
<key>spriteSize</key>
<string>{60,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,768},{60,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,44}</string>
<key>spriteSize</key>
<string>{60,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,876},{60,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{60,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,674},{60,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{60,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,498},{60,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,98},{58,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{58,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,290},{58,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,194},{58,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,294},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,402},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,498},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{68,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,2},{68,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{68,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,98},{68,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{68,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,194},{68,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{68,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,580},{68,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,43}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,402},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,42}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,198},{72,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,43}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,306},{72,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{72,514},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,614},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,908},{88,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,810},{88,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,612},{88,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,712},{88,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,912},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,712},{88,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,814},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,914},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,40}</string>
<key>spriteSize</key>
<string>{70,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,466},{70,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,40}</string>
<key>spriteSize</key>
<string>{72,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,660},{72,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{74,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,186},{74,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{76,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,384},{76,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{78,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,98},{78,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{76,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,2},{76,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,39}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,688},{72,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,94},{70,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{68,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,476},{68,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,40}</string>
<key>spriteSize</key>
<string>{68,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,2},{68,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,374},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{442,470},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{62,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,378},{62,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{62,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,368},{62,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,568},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,2},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{62,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,956},{62,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5008_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,94},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,186},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{60,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,282},{60,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,45}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{218,2},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,42}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,714},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,42}</string>
<key>spriteSize</key>
<string>{70,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,414},{70,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,42}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,108},{68,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,46}</string>
<key>spriteSize</key>
<string>{64,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,906},{64,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,43}</string>
<key>spriteSize</key>
<string>{56,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,108},{56,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,45}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,2},{72,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,45}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,98},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{68,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,808},{68,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,614},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,44}</string>
<key>spriteSize</key>
<string>{58,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,914},{58,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{54,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{74,412},{54,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{54,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{74,314},{54,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{62,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,782},{62,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,486},{72,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,44}</string>
<key>spriteSize</key>
<string>{72,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,286},{72,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,190},{70,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,44}</string>
<key>spriteSize</key>
<string>{82,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,194},{82,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{78,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,102},{78,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,44}</string>
<key>spriteSize</key>
<string>{80,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,278},{80,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{78,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,710},{78,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,38}</string>
<key>spriteSize</key>
<string>{72,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,2},{72,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,41}</string>
<key>spriteSize</key>
<string>{64,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,814},{64,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,39}</string>
<key>spriteSize</key>
<string>{70,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,808},{70,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,37}</string>
<key>spriteSize</key>
<string>{78,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,210},{78,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,44}</string>
<key>spriteSize</key>
<string>{76,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,212},{76,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,36}</string>
<key>spriteSize</key>
<string>{72,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,94},{72,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,38}</string>
<key>spriteSize</key>
<string>{86,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,594},{86,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,34}</string>
<key>spriteSize</key>
<string>{70,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,562},{70,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,38}</string>
<key>spriteSize</key>
<string>{68,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,514},{68,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,38}</string>
<key>spriteSize</key>
<string>{70,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,314},{70,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,36}</string>
<key>spriteSize</key>
<string>{70,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{72,2},{70,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,41}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{68,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,34}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,290},{58,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5008_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,37}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{518,750},{74,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5008.png</string>
</dict>
</dict>
</plist>