<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_3002_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,5}</string>
<key>spriteSize</key>
<string>{167,131}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{385,306},{167,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,3}</string>
<key>spriteSize</key>
<string>{161,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{779,2},{161,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,6}</string>
<key>spriteSize</key>
<string>{151,121}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{733,276},{151,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,4}</string>
<key>spriteSize</key>
<string>{127,107}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{465,2},{127,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,14}</string>
<key>spriteSize</key>
<string>{51,103}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{465,131},{51,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{212,61}</string>
<key>spriteSourceSize</key>
<string>{300,113}</string>
<key>textureRect</key>
<string>{{289,773},{212,61}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,4}</string>
<key>spriteSize</key>
<string>{212,63}</string>
<key>spriteSourceSize</key>
<string>{300,113}</string>
<key>textureRect</key>
<string>{{224,773},{212,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{212,67}</string>
<key>spriteSourceSize</key>
<string>{300,113}</string>
<key>textureRect</key>
<string>{{155,773},{212,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{206,73}</string>
<key>spriteSourceSize</key>
<string>{300,113}</string>
<key>textureRect</key>
<string>{{352,771},{206,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-35}</string>
<key>spriteSize</key>
<string>{151,145}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{779,129},{151,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{155,197}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{580,2},{155,197}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,17}</string>
<key>spriteSize</key>
<string>{153,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{157,259},{153,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,18}</string>
<key>spriteSize</key>
<string>{153,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{157,2},{153,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,18}</string>
<key>spriteSize</key>
<string>{153,253}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{310,516},{153,253}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{153,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{2,516},{153,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{153,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{2,259},{153,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{153,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{2,2},{153,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{151,255}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{157,516},{151,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,11}</string>
<key>spriteSize</key>
<string>{151,237}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{2,773},{151,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-33}</string>
<key>spriteSize</key>
<string>{151,149}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{312,155},{151,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-32}</string>
<key>spriteSize</key>
<string>{151,151}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{312,2},{151,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-7}</string>
<key>spriteSize</key>
<string>{151,201}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{427,771},{151,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-40}</string>
<key>spriteSize</key>
<string>{151,135}</string>
<key>spriteSourceSize</key>
<string>{263,375}</string>
<key>textureRect</key>
<string>{{580,159},{151,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_2_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-20}</string>
<key>spriteSize</key>
<string>{177,71}</string>
<key>spriteSourceSize</key>
<string>{263,263}</string>
<key>textureRect</key>
<string>{{312,306},{177,71}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_3002_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_3002_skill_2.png</string>
</dict>
</dict>
</plist>