<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_3002_skill_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,-4}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{145,135},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-1}</string>
<key>spriteSize</key>
<string>{156,53}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{186,2},{156,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,-1}</string>
<key>spriteSize</key>
<string>{182,51}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{2,2},{182,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,-2}</string>
<key>spriteSize</key>
<string>{152,47}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{344,2},{152,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-3}</string>
<key>spriteSize</key>
<string>{78,37}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{145,55},{78,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_3002_skill_1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,-2}</string>
<key>spriteSize</key>
<string>{138,23}</string>
<key>spriteSourceSize</key>
<string>{300,75}</string>
<key>textureRect</key>
<string>{{2,190},{138,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,4}</string>
<key>spriteSize</key>
<string>{89,89}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,340},{89,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,215},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{139,131}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{184,57},{139,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,5}</string>
<key>spriteSize</key>
<string>{141,133}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,55},{141,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_3002_skill_1_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{147,137}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{344,51},{147,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_3002_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_3002_skill_1.png</string>
</dict>
</dict>
</plist>