<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8005_shouji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-3}</string>
<key>spriteSize</key>
<string>{96,90}</string>
<key>spriteSourceSize</key>
<string>{210,206}</string>
<key>textureRect</key>
<string>{{144,274},{96,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_shouji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{140,158}</string>
<key>spriteSourceSize</key>
<string>{210,206}</string>
<key>textureRect</key>
<string>{{2,274},{140,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_shouji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,1}</string>
<key>spriteSize</key>
<string>{156,188}</string>
<key>spriteSourceSize</key>
<string>{210,206}</string>
<key>textureRect</key>
<string>{{2,2},{156,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_shouji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,2}</string>
<key>spriteSize</key>
<string>{112,186}</string>
<key>spriteSourceSize</key>
<string>{210,206}</string>
<key>textureRect</key>
<string>{{2,160},{112,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8005_skills_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8005_skills_1.png</string>
</dict>
</dict>
</plist>