<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8005_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,125}</string>
<key>spriteSize</key>
<string>{276,284}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,270},{276,284}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,120}</string>
<key>spriteSize</key>
<string>{278,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,552},{278,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,121}</string>
<key>spriteSize</key>
<string>{282,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,548},{282,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,116}</string>
<key>spriteSize</key>
<string>{286,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,2},{286,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,117}</string>
<key>spriteSize</key>
<string>{290,268}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{290,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,116}</string>
<key>spriteSize</key>
<string>{286,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,2},{286,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,122}</string>
<key>spriteSize</key>
<string>{282,278}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,272},{282,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,124}</string>
<key>spriteSize</key>
<string>{278,282}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,270},{278,282}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8005.png</string>
</dict>
</dict>
</plist>