<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8005_Jump_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,382},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_Jump_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{86,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,680},{86,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,54}</string>
<key>spriteSize</key>
<string>{114,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,846},{114,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,51}</string>
<key>spriteSize</key>
<string>{104,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,800},{104,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,-20}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,2},{112,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,51}</string>
<key>spriteSize</key>
<string>{102,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,912},{102,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,49}</string>
<key>spriteSize</key>
<string>{90,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,910},{90,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,55}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,262},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{102,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,594},{102,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,42}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,568},{106,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,41}</string>
<key>spriteSize</key>
<string>{108,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,800},{108,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,41}</string>
<key>spriteSize</key>
<string>{110,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,688},{110,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,41}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,120},{112,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,42}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,380},{110,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,41}</string>
<key>spriteSize</key>
<string>{106,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,130},{106,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,41}</string>
<key>spriteSize</key>
<string>{96,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,568},{96,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,43}</string>
<key>spriteSize</key>
<string>{98,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,718},{98,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,45}</string>
<key>spriteSize</key>
<string>{100,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,444},{100,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,47}</string>
<key>spriteSize</key>
<string>{100,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,2},{100,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,53}</string>
<key>spriteSize</key>
<string>{128,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,2},{128,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,60}</string>
<key>spriteSize</key>
<string>{90,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,312},{90,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,60}</string>
<key>spriteSize</key>
<string>{80,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,160},{80,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,41}</string>
<key>spriteSize</key>
<string>{116,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,262},{116,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,45}</string>
<key>spriteSize</key>
<string>{128,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,132},{128,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{138,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,454},{138,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,54}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,722},{112,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,48}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,912},{92,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,46}</string>
<key>spriteSize</key>
<string>{150,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,160},{150,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,680},{84,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,31}</string>
<key>spriteSize</key>
<string>{104,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,498},{104,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,28}</string>
<key>spriteSize</key>
<string>{88,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,366},{88,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{78,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,2},{78,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,34}</string>
<key>spriteSize</key>
<string>{126,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,594},{126,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,40}</string>
<key>spriteSize</key>
<string>{126,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,2},{126,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,39}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,116},{88,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,41}</string>
<key>spriteSize</key>
<string>{116,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,248},{116,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,44}</string>
<key>spriteSize</key>
<string>{84,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,784},{84,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{82,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,234},{82,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,80}</string>
<key>spriteSize</key>
<string>{64,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,502},{64,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,90}</string>
<key>spriteSize</key>
<string>{74,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,604},{74,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,57}</string>
<key>spriteSize</key>
<string>{96,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,846},{96,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,35}</string>
<key>spriteSize</key>
<string>{116,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{116,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,45}</string>
<key>spriteSize</key>
<string>{104,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,312},{104,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8005.png</string>
</dict>
</dict>
</plist>