<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>chenghao_2_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{178,132}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{2,274},{178,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-13}</string>
<key>spriteSize</key>
<string>{186,136}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{2,2},{186,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-16}</string>
<key>spriteSize</key>
<string>{184,132}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{2,140},{184,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-14}</string>
<key>spriteSize</key>
<string>{184,132}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{190,136},{184,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-13}</string>
<key>spriteSize</key>
<string>{184,132}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{190,2},{184,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-13}</string>
<key>spriteSize</key>
<string>{182,138}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{188,270},{182,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{176,138}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{180,410},{176,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-15}</string>
<key>spriteSize</key>
<string>{172,138}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{358,454},{172,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chenghao_2_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-13}</string>
<key>spriteSize</key>
<string>{168,142}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{174,552},{168,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-13}</string>
<key>spriteSize</key>
<string>{170,142}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{2,552},{170,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-13}</string>
<key>spriteSize</key>
<string>{176,142}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{2,408},{176,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>chenghao_2_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-19}</string>
<key>spriteSize</key>
<string>{182,130}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{376,2},{182,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>chenghao_2_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-18}</string>
<key>spriteSize</key>
<string>{182,132}</string>
<key>spriteSourceSize</key>
<string>{202,168}</string>
<key>textureRect</key>
<string>{{372,270},{182,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CH_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CH_2.png</string>
</dict>
</dict>
</plist>