<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CH_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{62,157}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{843,188},{62,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{62,161}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{843,64},{62,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{62,165}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{762,453},{62,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{62,165}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{762,286},{62,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{60,163}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{843,2},{60,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{58,161}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{843,128},{58,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{60,157}</string>
<key>spriteSourceSize</key>
<string>{200,335}</string>
<key>textureRect</key>
<string>{{691,456},{60,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{79,231}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{560,235},{79,231}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{83,233}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{400,239},{83,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{87,237}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{311,245},{87,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{85,231}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{487,472},{85,231}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{73,233}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{485,237},{73,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{77,241}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{2,765},{77,241}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,245}</string>
<key>spriteSourceSize</key>
<string>{201,487}</string>
<key>textureRect</key>
<string>{{105,506},{75,245}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,11}</string>
<key>spriteSize</key>
<string>{79,233}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{443,2},{79,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{85,239}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{289,494},{85,239}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{89,245}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{83,2},{89,245}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{85,243}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{224,249},{85,243}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{75,245}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{174,2},{75,245}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{79,255}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{2,2},{79,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{77,255}</string>
<key>spriteSourceSize</key>
<string>{223,507}</string>
<key>textureRect</key>
<string>{{2,259},{77,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_6_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{86,169}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{838,252},{86,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,1}</string>
<key>spriteSize</key>
<string>{94,177}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{804,700},{94,177}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{80,179}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{826,618},{80,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{88,179}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{826,528},{88,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{84,181}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{826,442},{84,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{90,181}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{245,751},{90,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_6_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{100,181}</string>
<key>spriteSourceSize</key>
<string>{238,359}</string>
<key>textureRect</key>
<string>{{826,340},{100,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_7_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{111,216}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{691,620},{111,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-7}</string>
<key>spriteSize</key>
<string>{119,220}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{641,234},{119,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{103,230}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{621,2},{103,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-4}</string>
<key>spriteSize</key>
<string>{115,226}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{574,468},{115,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{109,234}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{376,484},{109,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-7}</string>
<key>spriteSize</key>
<string>{115,220}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{726,2},{115,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_7_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-5}</string>
<key>spriteSize</key>
<string>{119,224}</string>
<key>spriteSourceSize</key>
<string>{265,468}</string>
<key>textureRect</key>
<string>{{454,720},{119,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_8_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,1}</string>
<key>spriteSize</key>
<string>{20,25}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{428,782},{20,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,0}</string>
<key>spriteSize</key>
<string>{22,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{428,751},{22,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,0}</string>
<key>spriteSize</key>
<string>{30,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{866,796},{30,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_8_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,0}</string>
<key>spriteSize</key>
<string>{40,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{804,796},{40,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_8_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,0}</string>
<key>spriteSize</key>
<string>{54,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{953,796},{54,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,0}</string>
<key>spriteSize</key>
<string>{70,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{762,255},{70,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{76,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{376,720},{76,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,0}</string>
<key>spriteSize</key>
<string>{74,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{762,224},{74,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,0}</string>
<key>spriteSize</key>
<string>{54,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{897,796},{54,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_8_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,0}</string>
<key>spriteSize</key>
<string>{36,29}</string>
<key>spriteSourceSize</key>
<string>{124,49}</string>
<key>textureRect</key>
<string>{{835,796},{36,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CH_wenli_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,2}</string>
<key>spriteSize</key>
<string>{141,245}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{81,259},{141,245}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_wenli_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-4}</string>
<key>spriteSize</key>
<string>{95,235}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{346,2},{95,235}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_wenli_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-2}</string>
<key>spriteSize</key>
<string>{95,231}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{524,2},{95,231}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_wenli_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-2}</string>
<key>spriteSize</key>
<string>{93,241}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{251,2},{93,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_wenli_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,1}</string>
<key>spriteSize</key>
<string>{105,243}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{182,506},{105,243}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CH_wenli_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,4}</string>
<key>spriteSize</key>
<string>{101,247}</string>
<key>spriteSourceSize</key>
<string>{169,275}</string>
<key>textureRect</key>
<string>{{2,516},{101,247}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CH_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CH_UI.png</string>
</dict>
</dict>
</plist>