<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>leitingwanji_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{108,192}</string>
<key>spriteSourceSize</key>
<string>{158,224}</string>
<key>textureRect</key>
<string>{{500,446},{108,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{234,426},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{220,426},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{206,426},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{192,426},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{178,426},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{164,455},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_kuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{361,12}</string>
<key>spriteSourceSize</key>
<string>{403,22}</string>
<key>textureRect</key>
<string>{{150,455},{361,12}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,9}</string>
<key>spriteSize</key>
<string>{162,119}</string>
<key>spriteSourceSize</key>
<string>{272,225}</string>
<key>textureRect</key>
<string>{{248,630},{162,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{186,147}</string>
<key>spriteSourceSize</key>
<string>{272,225}</string>
<key>textureRect</key>
<string>{{353,172},{186,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{186,145}</string>
<key>spriteSourceSize</key>
<string>{272,225}</string>
<key>textureRect</key>
<string>{{353,360},{186,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-9}</string>
<key>spriteSize</key>
<string>{184,105}</string>
<key>spriteSourceSize</key>
<string>{272,225}</string>
<key>textureRect</key>
<string>{{178,794},{184,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-8}</string>
<key>spriteSize</key>
<string>{221,191}</string>
<key>spriteSourceSize</key>
<string>{305,249}</string>
<key>textureRect</key>
<string>{{507,2},{221,191}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-5}</string>
<key>spriteSize</key>
<string>{219,191}</string>
<key>spriteSourceSize</key>
<string>{305,249}</string>
<key>textureRect</key>
<string>{{502,225},{219,191}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,19}</string>
<key>spriteSize</key>
<string>{145,141}</string>
<key>spriteSourceSize</key>
<string>{305,249}</string>
<key>textureRect</key>
<string>{{285,794},{145,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-1}</string>
<key>spriteSize</key>
<string>{247,191}</string>
<key>spriteSourceSize</key>
<string>{305,249}</string>
<key>textureRect</key>
<string>{{2,2},{247,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-2}</string>
<key>spriteSize</key>
<string>{229,173}</string>
<key>spriteSourceSize</key>
<string>{305,249}</string>
<key>textureRect</key>
<string>{{178,195},{229,173}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-19}</string>
<key>spriteSize</key>
<string>{174,258}</string>
<key>spriteSourceSize</key>
<string>{316,380}</string>
<key>textureRect</key>
<string>{{2,195},{174,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-16}</string>
<key>spriteSize</key>
<string>{168,254}</string>
<key>spriteSourceSize</key>
<string>{316,380}</string>
<key>textureRect</key>
<string>{{251,2},{168,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-15}</string>
<key>spriteSize</key>
<string>{146,260}</string>
<key>spriteSourceSize</key>
<string>{316,380}</string>
<key>textureRect</key>
<string>{{2,455},{146,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,1}</string>
<key>spriteSize</key>
<string>{144,232}</string>
<key>spriteSourceSize</key>
<string>{316,380}</string>
<key>textureRect</key>
<string>{{2,717},{144,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,45}</string>
<key>spriteSize</key>
<string>{112,142}</string>
<key>spriteSourceSize</key>
<string>{316,380}</string>
<key>textureRect</key>
<string>{{558,758},{112,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{202,103}</string>
<key>spriteSourceSize</key>
<string>{336,171}</string>
<key>textureRect</key>
<string>{{369,548},{202,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{202,103}</string>
<key>spriteSourceSize</key>
<string>{336,171}</string>
<key>textureRect</key>
<string>{{248,426},{202,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>leitingwanji_shandian4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{202,99}</string>
<key>spriteSourceSize</key>
<string>{336,171}</string>
<key>textureRect</key>
<string>{{474,657},{202,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_shandian4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{202,99}</string>
<key>spriteSourceSize</key>
<string>{336,171}</string>
<key>textureRect</key>
<string>{{474,556},{202,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>leitingwanji_zhongxindian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{128,129}</string>
<key>spriteSourceSize</key>
<string>{158,165}</string>
<key>textureRect</key>
<string>{{428,758},{128,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LeiTingWanJi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LeiTingWanJi.png</string>
</dict>
</dict>
</plist>