<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZhangBei_lizi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{122,226},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,2}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{2,116},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{128,110},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{2,2},{124,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{122,106}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{128,2},{122,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{110,106}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{2,234},{110,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhangBei_lizi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{112,104}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{216,342},{112,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhangBei_lizi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{114,104}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{110,342},{114,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhangBei_lizi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{114,106}</string>
<key>spriteSourceSize</key>
<string>{128,122}</string>
<key>textureRect</key>
<string>{{2,342},{114,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhangBei_lizi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhangBei_lizi.png</string>
</dict>
</dict>
</plist>