<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,49}</string>
<key>spriteSize</key>
<string>{190,268}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,2},{190,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,54}</string>
<key>spriteSize</key>
<string>{192,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{384,384},{192,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,56}</string>
<key>spriteSize</key>
<string>{192,270}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,584},{192,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,53}</string>
<key>spriteSize</key>
<string>{192,284}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,298},{192,284}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,52}</string>
<key>spriteSize</key>
<string>{188,294}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{188,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,55}</string>
<key>spriteSize</key>
<string>{186,292}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,298},{186,292}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,54}</string>
<key>spriteSize</key>
<string>{186,288}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,592},{186,288}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{186,282}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,2},{186,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{186,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,2},{186,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,53}</string>
<key>spriteSize</key>
<string>{188,268}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,194},{188,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_5001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_5001.png</string>
</dict>
</dict>
</plist>