<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,50}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,478},{78,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{80,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,604},{80,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{78,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,908},{78,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,902},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{76,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,396},{76,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{76,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{50,526},{76,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{76,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,652},{76,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,52}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,2},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,52}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,362},{76,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,718},{78,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,236},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,53}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,118},{72,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,240},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{72,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,126},{72,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,51}</string>
<key>spriteSize</key>
<string>{70,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{50,652},{70,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{70,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,266},{70,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{70,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,776},{70,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,488},{70,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{72,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,2},{72,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,356},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{44,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,2},{44,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{44,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,350},{44,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,892},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{46,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,2},{46,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,50}</string>
<key>spriteSize</key>
<string>{46,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,654},{46,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{46,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,526},{46,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,52}</string>
<key>spriteSize</key>
<string>{46,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,126},{46,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{44,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,244},{44,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{44,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,608},{44,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{46,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,776},{46,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,470},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,116},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{52,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,608},{52,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{54,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,2},{54,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{56,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,396},{56,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{58,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,266},{58,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{56,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,522},{56,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{58,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,2},{58,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,368},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{56,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,2},{56,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,892},{78,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,53}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,228},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,51}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,248},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{80,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,782},{80,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,47}</string>
<key>spriteSize</key>
<string>{78,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,134},{78,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{78,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{78,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{78,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,778},{78,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,124},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,244},{78,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,350},{78,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,54}</string>
<key>spriteSize</key>
<string>{60,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,592},{60,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,73}</string>
<key>spriteSize</key>
<string>{68,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,112},{68,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{62,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,560},{62,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,51}</string>
<key>spriteSize</key>
<string>{76,66}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,426},{76,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,56}</string>
<key>spriteSize</key>
<string>{76,60}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,734},{76,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,47}</string>
<key>spriteSize</key>
<string>{78,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,338},{78,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{86,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,434},{86,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,48}</string>
<key>spriteSize</key>
<string>{66,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,892},{66,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,56}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,686},{66,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,50}</string>
<key>spriteSize</key>
<string>{74,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,368},{74,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,54}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,232},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,68}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,488},{76,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,60}</string>
<key>spriteSize</key>
<string>{56,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,786},{56,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,54}</string>
<key>spriteSize</key>
<string>{88,64}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,664},{88,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{84,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,754},{84,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,51}</string>
<key>spriteSize</key>
<string>{84,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,880},{84,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,52}</string>
<key>spriteSize</key>
<string>{66,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,650},{66,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,58}</string>
<key>spriteSize</key>
<string>{54,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,966},{54,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,62}</string>
<key>spriteSize</key>
<string>{58,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,832},{58,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,52}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,908},{76,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,55}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,114},{62,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,66}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,120},{60,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,60}</string>
<key>spriteSize</key>
<string>{68,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,338},{68,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{74,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,602},{74,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{70,64}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,332},{70,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,55}</string>
<key>spriteSize</key>
<string>{62,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,504},{62,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,55}</string>
<key>spriteSize</key>
<string>{48,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,726},{48,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,56}</string>
<key>spriteSize</key>
<string>{50,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,196},{50,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,54}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,462},{52,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{58,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,892},{58,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,2},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,65}</string>
<key>spriteSize</key>
<string>{44,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,726},{44,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,58}</string>
<key>spriteSize</key>
<string>{76,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,892},{76,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{46,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,284},{46,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{86,64}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,2},{86,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,57}</string>
<key>spriteSize</key>
<string>{48,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,842},{48,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{76,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,522},{76,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{64,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,108},{64,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{62,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,564},{62,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,55}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,2},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,57}</string>
<key>spriteSize</key>
<string>{54,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,584},{54,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,65}</string>
<key>spriteSize</key>
<string>{74,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,122},{74,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,57}</string>
<key>spriteSize</key>
<string>{64,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,706},{64,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,56}</string>
<key>spriteSize</key>
<string>{74,64}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,812},{74,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{76,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,332},{76,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{58,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{746,410},{58,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,58}</string>
<key>spriteSize</key>
<string>{82,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,808},{82,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,57}</string>
<key>spriteSize</key>
<string>{66,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,220},{66,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,57}</string>
<key>spriteSize</key>
<string>{66,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,462},{66,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,2},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5001.png</string>
</dict>
</dict>
</plist>