<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_5001_fazheng_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{296,109}</string>
<key>spriteSourceSize</key>
<string>{316,167}</string>
<key>textureRect</key>
<string>{{2,2},{296,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{70,89}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{212,901},{70,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{70,89}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{140,901},{70,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{68,91}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{70,901},{68,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,4}</string>
<key>spriteSize</key>
<string>{64,89}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{284,865},{64,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,2}</string>
<key>spriteSize</key>
<string>{64,89}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{222,774},{64,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,5}</string>
<key>spriteSize</key>
<string>{58,89}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{288,774},{58,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_toou_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,9}</string>
<key>spriteSize</key>
<string>{36,79}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{474,652},{36,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-42}</string>
<key>spriteSize</key>
<string>{94,66}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,901},{94,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_zhaoze_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-25}</string>
<key>spriteSize</key>
<string>{208,178}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{300,2},{208,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-8}</string>
<key>spriteSize</key>
<string>{206,218}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,693},{206,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_zhaoze_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{236,220}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{266,182},{236,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-14}</string>
<key>spriteSize</key>
<string>{246,232}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{266,404},{246,232}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_zhaoze_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-62}</string>
<key>spriteSize</key>
<string>{262,166}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,113},{262,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-54}</string>
<key>spriteSize</key>
<string>{262,154}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,281},{262,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-48}</string>
<key>spriteSize</key>
<string>{256,128}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,437},{256,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-49}</string>
<key>spriteSize</key>
<string>{246,124}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{2,567},{246,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_zhaoze_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-47}</string>
<key>spriteSize</key>
<string>{222,120}</string>
<key>spriteSourceSize</key>
<string>{296,290}</string>
<key>textureRect</key>
<string>{{250,652},{222,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5001_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5001_skill_4.png</string>
</dict>
</dict>
</plist>