<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_baokai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{68,73}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{305,207},{68,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baokai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{88,109}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{215,207},{88,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{128,145}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{59,374},{128,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,2}</string>
<key>spriteSize</key>
<string>{144,171}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{206,2},{144,171}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baokai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{158,189}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{2,2},{158,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baokai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{158,179}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{2,193},{158,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baokai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-11}</string>
<key>spriteSize</key>
<string>{128,111}</string>
<key>spriteSourceSize</key>
<string>{220,207}</string>
<key>textureRect</key>
<string>{{379,2},{128,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_piaodiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,0}</string>
<key>spriteSize</key>
<string>{48,37}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{162,66},{48,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_piaodiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,1}</string>
<key>spriteSize</key>
<string>{62,41}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{162,2},{62,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_piaodiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,2}</string>
<key>spriteSize</key>
<string>{82,43}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{215,318},{82,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_piaodiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,3}</string>
<key>spriteSize</key>
<string>{114,43}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{379,115},{114,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_piaodiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,3}</string>
<key>spriteSize</key>
<string>{138,45}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{364,160},{138,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_piaodiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{154,51}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{162,207},{154,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_piaodiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-5}</string>
<key>spriteSize</key>
<string>{156,57}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{206,148},{156,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_piaodiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-8}</string>
<key>spriteSize</key>
<string>{134,55}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{2,374},{134,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_piaodiao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,-8}</string>
<key>spriteSize</key>
<string>{112,55}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{206,363},{112,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_piaodiao_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,-13}</string>
<key>spriteSize</key>
<string>{80,45}</string>
<key>spriteSourceSize</key>
<string>{170,71}</string>
<key>textureRect</key>
<string>{{263,363},{80,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5001_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5001_skill_5.png</string>
</dict>
</dict>
</plist>