<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_daoguang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,5}</string>
<key>spriteSize</key>
<string>{163,187}</string>
<key>spriteSourceSize</key>
<string>{191,209}</string>
<key>textureRect</key>
<string>{{216,2},{163,187}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_daoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,3}</string>
<key>spriteSize</key>
<string>{125,191}</string>
<key>spriteSourceSize</key>
<string>{191,209}</string>
<key>textureRect</key>
<string>{{381,2},{125,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_daoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,-15}</string>
<key>spriteSize</key>
<string>{99,149}</string>
<key>spriteSourceSize</key>
<string>{191,209}</string>
<key>textureRect</key>
<string>{{2,390},{99,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_skill_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{212,204}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{2,2},{212,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_skill_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{178,180}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{2,208},{178,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_skill_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,3}</string>
<key>spriteSize</key>
<string>{160,122}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{182,208},{160,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_skill_3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,15}</string>
<key>spriteSize</key>
<string>{156,148}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{306,195},{156,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5001_skill_3_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,16}</string>
<key>spriteSize</key>
<string>{154,148}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{336,345},{154,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5001_skill_3_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,18}</string>
<key>spriteSize</key>
<string>{152,140}</string>
<key>spriteSourceSize</key>
<string>{218,204}</string>
<key>textureRect</key>
<string>{{182,370},{152,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5001_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5001_skill_2.png</string>
</dict>
</dict>
</plist>