<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YunShi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-29}</string>
<key>spriteSize</key>
<string>{79,211}</string>
<key>spriteSourceSize</key>
<string>{137,315}</string>
<key>textureRect</key>
<string>{{2,753},{79,211}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YunShi_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-26}</string>
<key>spriteSize</key>
<string>{79,217}</string>
<key>spriteSourceSize</key>
<string>{137,315}</string>
<key>textureRect</key>
<string>{{2,506},{79,217}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YunShi_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-23}</string>
<key>spriteSize</key>
<string>{81,223}</string>
<key>spriteSourceSize</key>
<string>{137,315}</string>
<key>textureRect</key>
<string>{{2,338},{81,223}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YunShi_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-24}</string>
<key>spriteSize</key>
<string>{83,221}</string>
<key>spriteSourceSize</key>
<string>{137,315}</string>
<key>textureRect</key>
<string>{{2,421},{83,221}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YunShi_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-20}</string>
<key>spriteSize</key>
<string>{209,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{213,834},{209,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-19}</string>
<key>spriteSize</key>
<string>{209,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{2,834},{209,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-17}</string>
<key>spriteSize</key>
<string>{213,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{2,587},{213,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-17}</string>
<key>spriteSize</key>
<string>{217,166}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{225,500},{217,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-16}</string>
<key>spriteSize</key>
<string>{229,168}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{2,2},{229,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-19}</string>
<key>spriteSize</key>
<string>{229,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{2,172},{229,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-19}</string>
<key>spriteSize</key>
<string>{211,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{217,668},{211,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-19}</string>
<key>spriteSize</key>
<string>{211,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{233,334},{211,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-19}</string>
<key>spriteSize</key>
<string>{211,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{233,168},{211,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YunShi_baozha_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-19}</string>
<key>spriteSize</key>
<string>{211,164}</string>
<key>spriteSourceSize</key>
<string>{293,288}</string>
<key>textureRect</key>
<string>{{233,2},{211,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YunShi_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YunShi_effect.png</string>
</dict>
</dict>
</plist>