<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4004_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{106,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,456},{106,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,234},{110,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,40}</string>
<key>spriteSize</key>
<string>{116,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,122},{116,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,120},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{116,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{740,344},{116,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,40}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,232},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,40}</string>
<key>spriteSize</key>
<string>{106,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,346},{106,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,40}</string>
<key>spriteSize</key>
<string>{102,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,542},{102,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,45}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,230},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,44}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,110},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,42}</string>
<key>spriteSize</key>
<string>{124,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,2},{124,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,42}</string>
<key>spriteSize</key>
<string>{128,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{128,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,42}</string>
<key>spriteSize</key>
<string>{126,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,2},{126,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{124,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,2},{124,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,45}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,228},{118,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,46}</string>
<key>spriteSize</key>
<string>{116,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,122},{116,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,44}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,346},{104,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,120},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,116},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,41}</string>
<key>spriteSize</key>
<string>{112,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{882,264},{112,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{112,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,232},{112,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,43}</string>
<key>spriteSize</key>
<string>{108,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,238},{108,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,488},{104,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,458},{104,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,43}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,896},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,43}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,934},{76,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,898},{80,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,41}</string>
<key>spriteSize</key>
<string>{82,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,772},{82,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{78,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,878},{78,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,948},{74,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,948},{72,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,41}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,896},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,38}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,666},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,38}</string>
<key>spriteSize</key>
<string>{108,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,564},{108,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,38}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,584},{112,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{114,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,676},{114,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,37}</string>
<key>spriteSize</key>
<string>{112,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,604},{112,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,37}</string>
<key>spriteSize</key>
<string>{108,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,718},{108,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,37}</string>
<key>spriteSize</key>
<string>{106,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,646},{106,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,37}</string>
<key>spriteSize</key>
<string>{102,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,698},{102,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,36}</string>
<key>spriteSize</key>
<string>{120,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,378},{120,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,35}</string>
<key>spriteSize</key>
<string>{106,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,452},{106,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{90,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{932,488},{90,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,48}</string>
<key>spriteSize</key>
<string>{86,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,454},{86,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,13}</string>
<key>spriteSize</key>
<string>{108,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,346},{108,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,27}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,856},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,16}</string>
<key>spriteSize</key>
<string>{98,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{778,694},{98,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,17}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,908},{92,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,33}</string>
<key>spriteSize</key>
<string>{86,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,824},{86,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,40}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,622},{88,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,2},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,47}</string>
<key>spriteSize</key>
<string>{84,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,454},{84,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,30}</string>
<key>spriteSize</key>
<string>{156,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,2},{156,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,30}</string>
<key>spriteSize</key>
<string>{94,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,804},{94,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,18}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{878,712},{90,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,27}</string>
<key>spriteSize</key>
<string>{124,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,238},{124,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,35}</string>
<key>spriteSize</key>
<string>{86,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,564},{86,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,35}</string>
<key>spriteSize</key>
<string>{122,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,120},{122,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,33}</string>
<key>spriteSize</key>
<string>{132,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,2},{132,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,41}</string>
<key>spriteSize</key>
<string>{126,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,2},{126,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,37}</string>
<key>spriteSize</key>
<string>{132,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,160},{132,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,31}</string>
<key>spriteSize</key>
<string>{102,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,856},{102,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,26}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,490},{112,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,35}</string>
<key>spriteSize</key>
<string>{104,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,560},{104,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{116,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,348},{116,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,25}</string>
<key>spriteSize</key>
<string>{116,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,458},{116,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,24}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,652},{98,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,38}</string>
<key>spriteSize</key>
<string>{124,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,364},{124,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{76,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{748,884},{76,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,34}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,802},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,37}</string>
<key>spriteSize</key>
<string>{102,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{794,594},{102,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,42}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,792},{94,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,37}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,346},{118,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,23}</string>
<key>spriteSize</key>
<string>{108,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,566},{108,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,24}</string>
<key>spriteSize</key>
<string>{100,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,754},{100,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,768},{84,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{92,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,752},{92,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,38}</string>
<key>spriteSize</key>
<string>{88,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,794},{88,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,40}</string>
<key>spriteSize</key>
<string>{96,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,670},{96,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{86,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,846},{86,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_4004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_4004.png</string>
</dict>
</dict>
</plist>