<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4004_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,32}</string>
<key>spriteSize</key>
<string>{112,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,324},{112,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,434},{76,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,32}</string>
<key>spriteSize</key>
<string>{122,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,110},{122,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,30}</string>
<key>spriteSize</key>
<string>{112,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,422},{112,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{120,58}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,114},{120,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{100,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,522},{100,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,42}</string>
<key>spriteSize</key>
<string>{112,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,432},{112,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,52}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,276},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,320},{112,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,47}</string>
<key>spriteSize</key>
<string>{116,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,206},{116,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,46}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,216},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,46}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,98},{122,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,46}</string>
<key>spriteSize</key>
<string>{124,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,94},{124,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,48}</string>
<key>spriteSize</key>
<string>{122,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,2},{122,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,50}</string>
<key>spriteSize</key>
<string>{118,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,114},{118,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,50}</string>
<key>spriteSize</key>
<string>{116,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,322},{116,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,39}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,224},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{100,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,432},{100,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,44}</string>
<key>spriteSize</key>
<string>{132,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,196},{132,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,48}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,174},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,39}</string>
<key>spriteSize</key>
<string>{148,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,100},{148,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,34}</string>
<key>spriteSize</key>
<string>{102,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{934,304},{102,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,27}</string>
<key>spriteSize</key>
<string>{102,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,514},{102,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,37}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,304},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,46}</string>
<key>spriteSize</key>
<string>{100,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,332},{100,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,596},{80,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,49}</string>
<key>spriteSize</key>
<string>{140,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,108},{140,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,48}</string>
<key>spriteSize</key>
<string>{96,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,372},{96,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,37}</string>
<key>spriteSize</key>
<string>{110,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,2},{110,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,34}</string>
<key>spriteSize</key>
<string>{90,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,2},{90,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,46}</string>
<key>spriteSize</key>
<string>{150,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,2},{150,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,49}</string>
<key>spriteSize</key>
<string>{86,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,412},{86,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,45}</string>
<key>spriteSize</key>
<string>{116,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,212},{116,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,46}</string>
<key>spriteSize</key>
<string>{144,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,2},{144,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{67,41}</string>
<key>spriteSize</key>
<string>{166,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{166,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,40}</string>
<key>spriteSize</key>
<string>{108,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,500},{108,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,39}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,512},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,38}</string>
<key>spriteSize</key>
<string>{98,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,608},{98,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,40}</string>
<key>spriteSize</key>
<string>{128,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,2},{128,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,43}</string>
<key>spriteSize</key>
<string>{116,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,204},{116,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{78,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{826,304},{78,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_4004.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_4004.png</string>
</dict>
</dict>
</plist>