<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6006_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,49}</string>
<key>spriteSize</key>
<string>{60,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,306},{60,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,37}</string>
<key>spriteSize</key>
<string>{86,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,658},{86,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{114,50}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,140},{114,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{88,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,532},{88,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,40}</string>
<key>spriteSize</key>
<string>{88,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,644},{88,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,41}</string>
<key>spriteSize</key>
<string>{88,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,568},{88,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,45}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,280},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,45}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,290},{68,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,45}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,272},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,44}</string>
<key>spriteSize</key>
<string>{76,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,402},{76,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,44}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,360},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,352},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{76,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,228},{76,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,42}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{202,526},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,45}</string>
<key>spriteSize</key>
<string>{86,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,614},{86,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,41}</string>
<key>spriteSize</key>
<string>{82,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,622},{82,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,734},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,43}</string>
<key>spriteSize</key>
<string>{84,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,622},{84,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,56}</string>
<key>spriteSize</key>
<string>{68,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,574},{68,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,62}</string>
<key>spriteSize</key>
<string>{102,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,192},{102,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,43}</string>
<key>spriteSize</key>
<string>{100,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,344},{100,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,42}</string>
<key>spriteSize</key>
<string>{78,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,702},{78,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{80,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,540},{80,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,33}</string>
<key>spriteSize</key>
<string>{94,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,496},{94,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,74}</string>
<key>spriteSize</key>
<string>{68,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,144},{68,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,104}</string>
<key>spriteSize</key>
<string>{70,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,2},{70,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,139}</string>
<key>spriteSize</key>
<string>{64,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,74},{64,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,154}</string>
<key>spriteSize</key>
<string>{76,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,2},{76,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,183}</string>
<key>spriteSize</key>
<string>{76,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{76,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,197}</string>
<key>spriteSize</key>
<string>{62,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,80},{62,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,127}</string>
<key>spriteSize</key>
<string>{86,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,140},{86,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,156}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,442},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,175}</string>
<key>spriteSize</key>
<string>{98,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,432},{98,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,169}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,434},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,61}</string>
<key>spriteSize</key>
<string>{100,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,80},{100,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,37}</string>
<key>spriteSize</key>
<string>{96,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,182},{96,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,34}</string>
<key>spriteSize</key>
<string>{94,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,306},{94,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6006_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,27}</string>
<key>spriteSize</key>
<string>{96,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,480},{96,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,28}</string>
<key>spriteSize</key>
<string>{94,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,406},{94,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{74,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,214},{74,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6006.png</string>
</dict>
</dict>
</plist>