<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6006_luoxuan_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-37}</string>
<key>spriteSize</key>
<string>{81,44}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{209,294},{81,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_luoxuan_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-34}</string>
<key>spriteSize</key>
<string>{85,60}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{214,850},{85,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_luoxuan_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-28}</string>
<key>spriteSize</key>
<string>{85,66}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{376,826},{85,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-21}</string>
<key>spriteSize</key>
<string>{85,72}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{374,253},{85,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-15}</string>
<key>spriteSize</key>
<string>{85,80}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{292,253},{85,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-8}</string>
<key>spriteSize</key>
<string>{85,84}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{88,927},{85,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{85,84}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{2,927},{85,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,14}</string>
<key>spriteSize</key>
<string>{83,80}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{444,826},{83,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,21}</string>
<key>spriteSize</key>
<string>{81,78}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{448,245},{81,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,26}</string>
<key>spriteSize</key>
<string>{75,72}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{528,223},{75,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_luoxuan_4_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,31}</string>
<key>spriteSize</key>
<string>{73,60}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{301,850},{73,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_luoxuan_4_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{67,46}</string>
<key>spriteSourceSize</key>
<string>{101,146}</string>
<key>textureRect</key>
<string>{{140,294},{67,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-23}</string>
<key>spriteSize</key>
<string>{211,104}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{174,917},{211,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{249,146}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{214,599},{249,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{249,154}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{221,2},{249,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{247,156}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{246,340},{247,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-9}</string>
<key>spriteSize</key>
<string>{235,154}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{362,589},{235,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-18}</string>
<key>spriteSize</key>
<string>{219,142}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{481,2},{219,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-22}</string>
<key>spriteSize</key>
<string>{205,134}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{526,772},{205,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-24}</string>
<key>spriteSize</key>
<string>{223,132}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{404,340},{223,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-22}</string>
<key>spriteSize</key>
<string>{205,140}</string>
<key>spriteSourceSize</key>
<string>{293,198}</string>
<key>textureRect</key>
<string>{{518,565},{205,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-104}</string>
<key>spriteSize</key>
<string>{106,145}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{387,913},{106,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6006_skill_4_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-17}</string>
<key>spriteSize</key>
<string>{136,341}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{2,2},{136,341}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-26}</string>
<key>spriteSize</key>
<string>{138,307}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{2,345},{138,307}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-34}</string>
<key>spriteSize</key>
<string>{108,271}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{2,654},{108,271}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-44}</string>
<key>spriteSize</key>
<string>{102,241}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{377,2},{102,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-36}</string>
<key>spriteSize</key>
<string>{102,255}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{142,342},{102,255}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-32}</string>
<key>spriteSize</key>
<string>{100,261}</string>
<key>spriteSourceSize</key>
<string>{300,375}</string>
<key>textureRect</key>
<string>{{112,654},{100,261}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6006_skill_4_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-14}</string>
<key>spriteSize</key>
<string>{290,79}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{140,2},{290,79}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6006_skills_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6006_skills_4.png</string>
</dict>
</dict>
</plist>