<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6014_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,120}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,764},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,119}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,510},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,119}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,510},{252,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,118}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,256},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,117}</string>
<key>spriteSize</key>
<string>{254,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,586},{254,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,117}</string>
<key>spriteSize</key>
<string>{254,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,294},{254,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,117}</string>
<key>spriteSize</key>
<string>{254,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{254,290}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,117}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,256},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,118}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,2},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,119}</string>
<key>spriteSize</key>
<string>{252,290}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,2},{252,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_6014.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_6014.png</string>
</dict>
</dict>
</plist>