<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6014_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,46}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1166},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,46}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,1004},{106,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,932},{106,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{782,924},{106,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{106,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1172},{106,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,1080},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,44}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1014},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,966},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,44}</string>
<key>spriteSize</key>
<string>{110,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,784},{110,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,44}</string>
<key>spriteSize</key>
<string>{110,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,712},{110,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,43}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,932},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,890},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,732},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,668},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,43}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,810},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,44}</string>
<key>spriteSize</key>
<string>{110,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,954},{110,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{76,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,80},{76,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{76,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,2},{76,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{78,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,230},{78,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,35}</string>
<key>spriteSize</key>
<string>{78,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,206},{78,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,34}</string>
<key>spriteSize</key>
<string>{80,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,152},{80,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{80,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,122},{80,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,34}</string>
<key>spriteSize</key>
<string>{80,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,2},{80,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{78,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,204},{78,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,286},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,284},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,282},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,262},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,214},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,226},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,194},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,158},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,32}</string>
<key>spriteSize</key>
<string>{110,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,820},{110,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,778},{110,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,734},{110,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,698},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,32}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,620},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,556},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,588},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{110,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,708},{110,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,1074},{104,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,824},{80,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,46}</string>
<key>spriteSize</key>
<string>{104,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,1188},{104,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{106,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,1122},{106,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,46}</string>
<key>spriteSize</key>
<string>{132,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,846},{132,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,46}</string>
<key>spriteSize</key>
<string>{136,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,578},{136,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,42}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1066},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,39}</string>
<key>spriteSize</key>
<string>{134,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,504},{134,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,46}</string>
<key>spriteSize</key>
<string>{142,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,354},{142,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,44}</string>
<key>spriteSize</key>
<string>{116,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,848},{116,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,42}</string>
<key>spriteSize</key>
<string>{90,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,302},{90,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,43}</string>
<key>spriteSize</key>
<string>{74,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1274},{74,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,40}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{920,394},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,51}</string>
<key>spriteSize</key>
<string>{150,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,98},{150,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,60}</string>
<key>spriteSize</key>
<string>{72,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,430},{72,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,48}</string>
<key>spriteSize</key>
<string>{74,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,1004},{74,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,53}</string>
<key>spriteSize</key>
<string>{154,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,102},{154,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,44}</string>
<key>spriteSize</key>
<string>{156,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,2},{156,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{78,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,294},{78,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,38}</string>
<key>spriteSize</key>
<string>{154,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,2},{154,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,38}</string>
<key>spriteSize</key>
<string>{124,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,924},{124,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,33}</string>
<key>spriteSize</key>
<string>{120,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,824},{120,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,63}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,478},{108,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,66}</string>
<key>spriteSize</key>
<string>{76,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,700},{76,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{130,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,602},{130,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,69}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,464},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,38}</string>
<key>spriteSize</key>
<string>{130,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{888,470},{130,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,30}</string>
<key>spriteSize</key>
<string>{66,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,126},{66,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,25}</string>
<key>spriteSize</key>
<string>{152,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{636,2},{152,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,30}</string>
<key>spriteSize</key>
<string>{158,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{158,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,30}</string>
<key>spriteSize</key>
<string>{158,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,2},{158,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{62,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,374},{62,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,58}</string>
<key>spriteSize</key>
<string>{138,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,462},{138,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,51}</string>
<key>spriteSize</key>
<string>{156,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,100},{156,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,71}</string>
<key>spriteSize</key>
<string>{98,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,330},{98,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,43}</string>
<key>spriteSize</key>
<string>{118,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1046},{118,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,35}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,500},{110,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,19}</string>
<key>spriteSize</key>
<string>{82,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,310},{82,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,18}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,438},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,17}</string>
<key>spriteSize</key>
<string>{120,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,612},{120,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,67}</string>
<key>spriteSize</key>
<string>{114,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,582},{114,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,52}</string>
<key>spriteSize</key>
<string>{144,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,350},{144,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,50}</string>
<key>spriteSize</key>
<string>{114,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,896},{114,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,61}</string>
<key>spriteSize</key>
<string>{124,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,352},{124,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,51}</string>
<key>spriteSize</key>
<string>{142,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,394},{142,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6014.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6014.png</string>
</dict>
</dict>
</plist>