<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6014_daoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,2}</string>
<key>spriteSize</key>
<string>{145,144}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{2,628},{145,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_dilie_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{136,68}</string>
<key>spriteSourceSize</key>
<string>{164,106}</string>
<key>textureRect</key>
<string>{{2,935},{136,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_longjuanfeng_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-14}</string>
<key>spriteSize</key>
<string>{216,258}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{268,2},{216,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_longjuanfeng_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-12}</string>
<key>spriteSize</key>
<string>{200,262}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{2,426},{200,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_longjuanfeng_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-12}</string>
<key>spriteSize</key>
<string>{204,262}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{2,220},{204,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_longjuanfeng_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-19}</string>
<key>spriteSize</key>
<string>{194,250}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{266,528},{194,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_longjuanfeng_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{216,264}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{2,2},{216,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_longjuanfeng_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-12}</string>
<key>spriteSize</key>
<string>{200,264}</string>
<key>spriteSourceSize</key>
<string>{220,288}</string>
<key>textureRect</key>
<string>{{266,262},{200,264}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_xuanwo_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-19}</string>
<key>spriteSize</key>
<string>{109,60}</string>
<key>spriteSourceSize</key>
<string>{187,122}</string>
<key>textureRect</key>
<string>{{424,780},{109,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_xuanwo_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-31}</string>
<key>spriteSize</key>
<string>{109,58}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{399,891},{109,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_xuanwo_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-19}</string>
<key>spriteSize</key>
<string>{127,92}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{305,886},{127,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_xuanwo_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-16}</string>
<key>spriteSize</key>
<string>{143,104}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{279,780},{143,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_xuanwo_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-19}</string>
<key>spriteSize</key>
<string>{159,110}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{2,774},{159,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_xuanwo_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-19}</string>
<key>spriteSize</key>
<string>{163,110}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{149,628},{163,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_xuanwo_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-22}</string>
<key>spriteSize</key>
<string>{163,106}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{114,793},{163,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_xuanwo_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-20}</string>
<key>spriteSize</key>
<string>{163,104}</string>
<key>spriteSourceSize</key>
<string>{163,158}</string>
<key>textureRect</key>
<string>{{140,901},{163,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6014_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6014_skill_4.png</string>
</dict>
</dict>
</plist>