<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6014_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,68}</string>
<key>spriteSize</key>
<string>{72,49}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{345,42},{72,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,2}</string>
<key>spriteSize</key>
<string>{186,199}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{2,2},{186,199}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,4}</string>
<key>spriteSize</key>
<string>{184,191}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{2,203},{184,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,4}</string>
<key>spriteSize</key>
<string>{116,183}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{188,203},{116,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,3}</string>
<key>spriteSize</key>
<string>{106,179}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{2,396},{106,179}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,0}</string>
<key>spriteSize</key>
<string>{80,167}</string>
<key>spriteSourceSize</key>
<string>{198,203}</string>
<key>textureRect</key>
<string>{{190,2},{80,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{345,307},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,5}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{345,214},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{91,97}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{419,42},{91,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{91,97}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{272,99},{91,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{91,101}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{183,396},{91,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{67,101}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{276,388},{67,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_baodian_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{71,95}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{365,141},{71,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6014_baodian_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{71,95}</string>
<key>spriteSourceSize</key>
<string>{125,125}</string>
<key>textureRect</key>
<string>{{272,2},{71,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014_zidan_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-7}</string>
<key>spriteSize</key>
<string>{162,38}</string>
<key>spriteSourceSize</key>
<string>{266,86}</string>
<key>textureRect</key>
<string>{{345,2},{162,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6014_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6014_skill_2.png</string>
</dict>
</dict>
</plist>