<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9021_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,62}</string>
<key>spriteSize</key>
<string>{224,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{224,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9021_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,59}</string>
<key>spriteSize</key>
<string>{230,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,452},{230,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9021_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,57}</string>
<key>spriteSize</key>
<string>{234,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,2},{234,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9021_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,55}</string>
<key>spriteSize</key>
<string>{232,258}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{274,266},{232,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9021_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,56}</string>
<key>spriteSize</key>
<string>{226,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{270,526},{226,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9021_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,59}</string>
<key>spriteSize</key>
<string>{220,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,684},{220,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9021_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,61}</string>
<key>spriteSize</key>
<string>{222,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,228},{222,270}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9021.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9021.png</string>
</dict>
</dict>
</plist>