<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9021_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,-45}</string>
<key>spriteSize</key>
<string>{234,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{788,2},{234,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,-77}</string>
<key>spriteSize</key>
<string>{308,180}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,646},{308,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-87}</string>
<key>spriteSize</key>
<string>{286,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{734,214},{286,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-34}</string>
<key>spriteSize</key>
<string>{192,182}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{660,1464},{192,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-34}</string>
<key>spriteSize</key>
<string>{180,180}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{438,1498},{180,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-26}</string>
<key>spriteSize</key>
<string>{210,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{210,1826},{210,196}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9021_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-25}</string>
<key>spriteSize</key>
<string>{214,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{222,1480},{214,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-26}</string>
<key>spriteSize</key>
<string>{218,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{680,1266},{218,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-27}</string>
<key>spriteSize</key>
<string>{220,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{458,1088},{220,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-27}</string>
<key>spriteSize</key>
<string>{220,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{698,1070},{220,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-27}</string>
<key>spriteSize</key>
<string>{220,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1222},{220,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-25}</string>
<key>spriteSize</key>
<string>{218,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1418},{218,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-25}</string>
<key>spriteSize</key>
<string>{218,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{224,1280},{218,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-26}</string>
<key>spriteSize</key>
<string>{224,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{232,1080},{224,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-20}</string>
<key>spriteSize</key>
<string>{212,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1618},{212,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-18}</string>
<key>spriteSize</key>
<string>{206,210}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1826},{206,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-19}</string>
<key>spriteSize</key>
<string>{226,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{470,878},{226,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,-22}</string>
<key>spriteSize</key>
<string>{254,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{734,418},{254,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,-25}</string>
<key>spriteSize</key>
<string>{254,196}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{716,622},{254,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,-23}</string>
<key>spriteSize</key>
<string>{230,200}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{238,878},{230,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-34}</string>
<key>spriteSize</key>
<string>{228,180}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1040},{228,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-1}</string>
<key>spriteSize</key>
<string>{210,234}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,828},{210,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9021_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,203}</string>
<key>spriteSize</key>
<string>{312,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{706,820},{312,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,222}</string>
<key>spriteSize</key>
<string>{416,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{416,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,81}</string>
<key>spriteSize</key>
<string>{348,204}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{366,420},{348,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,-47}</string>
<key>spriteSize</key>
<string>{366,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{420,2},{366,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-61,-38}</string>
<key>spriteSize</key>
<string>{338,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{366,626},{338,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,-49}</string>
<key>spriteSize</key>
<string>{362,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,416},{362,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,-43}</string>
<key>spriteSize</key>
<string>{364,216}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,198},{364,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,-29}</string>
<key>spriteSize</key>
<string>{364,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{368,206},{364,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-19}</string>
<key>spriteSize</key>
<string>{214,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{444,1284},{214,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9021.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9021.png</string>
</dict>
</dict>
</plist>