<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9021_bingci_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,-24}</string>
<key>spriteSize</key>
<string>{149,107}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,795},{149,107}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9021_bingci_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,-18}</string>
<key>spriteSize</key>
<string>{207,123}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{297,2},{207,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-20}</string>
<key>spriteSize</key>
<string>{217,133}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{283,410},{217,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-16}</string>
<key>spriteSize</key>
<string>{253,141}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,652},{253,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{267,159}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,491},{267,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{281,171}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{297,127},{281,171}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9021_bingci_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-6}</string>
<key>spriteSize</key>
<string>{291,161}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,171},{291,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-3}</string>
<key>spriteSize</key>
<string>{293,167}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,2},{293,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_bingci_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-9}</string>
<key>spriteSize</key>
<string>{279,155}</string>
<key>spriteSourceSize</key>
<string>{329,193}</string>
<key>textureRect</key>
<string>{{2,334},{279,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_guang_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{145,148}</string>
<key>spriteSourceSize</key>
<string>{161,152}</string>
<key>textureRect</key>
<string>{{111,795},{145,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9021_xuehua_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-2}</string>
<key>spriteSize</key>
<string>{142,151}</string>
<key>spriteSourceSize</key>
<string>{160,155}</string>
<key>textureRect</key>
<string>{{271,545},{142,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9021_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9021_skill2.png</string>
</dict>
</dict>
</plist>