<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9022_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-70,109}</string>
<key>spriteSize</key>
<string>{180,138}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{820,1114},{180,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-81,49}</string>
<key>spriteSize</key>
<string>{158,178}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{758,1254},{158,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-83,18}</string>
<key>spriteSize</key>
<string>{156,116}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{898,434},{156,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,53}</string>
<key>spriteSize</key>
<string>{206,120}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{900,226},{206,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,55}</string>
<key>spriteSize</key>
<string>{228,126}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{890,592},{228,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,56}</string>
<key>spriteSize</key>
<string>{244,142}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1048},{244,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,59}</string>
<key>spriteSize</key>
<string>{292,150}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{596,530},{292,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,59}</string>
<key>spriteSize</key>
<string>{294,150}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{602,378},{294,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,59}</string>
<key>spriteSize</key>
<string>{296,150}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{602,226},{296,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,58}</string>
<key>spriteSize</key>
<string>{294,148}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{300,414},{294,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,57}</string>
<key>spriteSize</key>
<string>{292,146}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{296,564},{292,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,58}</string>
<key>spriteSize</key>
<string>{288,148}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{296,712},{288,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,58}</string>
<key>spriteSize</key>
<string>{290,148}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{590,682},{290,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,64}</string>
<key>spriteSize</key>
<string>{270,158}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{280,862},{270,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,61}</string>
<key>spriteSize</key>
<string>{250,148}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{272,1022},{250,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,68}</string>
<key>spriteSize</key>
<string>{232,134}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{524,1124},{232,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,69}</string>
<key>spriteSize</key>
<string>{300,138}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,160},{300,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,67}</string>
<key>spriteSize</key>
<string>{268,142}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,904},{268,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,67}</string>
<key>spriteSize</key>
<string>{266,142}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{552,980},{266,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,65}</string>
<key>spriteSize</key>
<string>{276,138}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,764},{276,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,56}</string>
<key>spriteSize</key>
<string>{272,146}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{586,832},{272,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,56}</string>
<key>spriteSize</key>
<string>{290,140}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{882,822},{290,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,84}</string>
<key>spriteSize</key>
<string>{304,176}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{318,2},{304,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,98}</string>
<key>spriteSize</key>
<string>{296,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,300},{296,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,101}</string>
<key>spriteSize</key>
<string>{296,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{304,180},{296,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,97}</string>
<key>spriteSize</key>
<string>{298,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{624,2},{298,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,102}</string>
<key>spriteSize</key>
<string>{292,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,530},{292,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{314,156}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{314,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9022.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9022.png</string>
</dict>
</dict>
</plist>