<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9022_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,101}</string>
<key>spriteSize</key>
<string>{134,296}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,146},{134,296}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9022_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,95}</string>
<key>spriteSize</key>
<string>{132,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,438},{132,292}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9022_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,90}</string>
<key>spriteSize</key>
<string>{134,288}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,572},{134,288}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9022_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,89}</string>
<key>spriteSize</key>
<string>{144,288}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{298,304},{144,288}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9022_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,93}</string>
<key>spriteSize</key>
<string>{154,294}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,282},{154,294}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9022_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,100}</string>
<key>spriteSize</key>
<string>{154,300}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{306,2},{154,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9022_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,103}</string>
<key>spriteSize</key>
<string>{142,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{142,302}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9022.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9022.png</string>
</dict>
</dict>
</plist>