<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9022_baokai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{175,186}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{190,183},{175,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_baokai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{179,188}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{2,2},{179,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{179,186}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{192,2},{179,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{177,186}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{2,183},{177,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_daoguang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,-12}</string>
<key>spriteSize</key>
<string>{81,134}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{2,517},{81,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_daoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-7}</string>
<key>spriteSize</key>
<string>{171,168}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{190,360},{171,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_daoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-3}</string>
<key>spriteSize</key>
<string>{153,156}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{2,362},{153,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_daoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{131,130}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{380,2},{131,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_daoguang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-5}</string>
<key>spriteSize</key>
<string>{113,128}</string>
<key>spriteSourceSize</key>
<string>{195,190}</string>
<key>textureRect</key>
<string>{{380,135},{113,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{98,98}</string>
<key>textureRect</key>
<string>{{138,530},{86,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_shandian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,9}</string>
<key>spriteSize</key>
<string>{124,90}</string>
<key>spriteSourceSize</key>
<string>{290,206}</string>
<key>textureRect</key>
<string>{{378,250},{124,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9022_shandian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{142,110}</string>
<key>spriteSourceSize</key>
<string>{290,206}</string>
<key>textureRect</key>
<string>{{378,342},{142,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9022_shandian_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{142,80}</string>
<key>spriteSourceSize</key>
<string>{290,206}</string>
<key>textureRect</key>
<string>{{363,486},{142,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9022_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9022_skill2.png</string>
</dict>
</dict>
</plist>