<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>faizhanwl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{98,95}</string>
<key>spriteSourceSize</key>
<string>{104,101}</string>
<key>textureRect</key>
<string>{{923,241},{98,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guanban1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,82}</string>
<key>spriteSourceSize</key>
<string>{94,94}</string>
<key>textureRect</key>
<string>{{923,338},{84,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guanban2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{310,197},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jinyu_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-8}</string>
<key>spriteSize</key>
<string>{275,163}</string>
<key>spriteSourceSize</key>
<string>{347,231}</string>
<key>textureRect</key>
<string>{{646,241},{275,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-33}</string>
<key>spriteSize</key>
<string>{182,117}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{646,406},{182,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-20}</string>
<key>spriteSize</key>
<string>{298,213}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{2,412},{298,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{306,213}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{2,197},{306,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-7}</string>
<key>spriteSize</key>
<string>{300,235}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{344,225},{300,235}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-6}</string>
<key>spriteSize</key>
<string>{314,237}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{682,2},{314,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,6}</string>
<key>spriteSize</key>
<string>{330,221}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{350,2},{330,221}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuihua_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,22}</string>
<key>spriteSize</key>
<string>{346,193}</string>
<key>spriteSourceSize</key>
<string>{430,365}</string>
<key>textureRect</key>
<string>{{2,2},{346,193}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_7006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_7006.png</string>
</dict>
</dict>
</plist>