<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET7006_000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,32}</string>
<key>spriteSize</key>
<string>{154,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{658,616},{154,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,109}</string>
<key>spriteSize</key>
<string>{132,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{702,152},{132,222}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,167}</string>
<key>spriteSize</key>
<string>{122,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{228,408},{122,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,182}</string>
<key>spriteSize</key>
<string>{146,194}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{872,568},{146,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,186}</string>
<key>spriteSize</key>
<string>{176,156}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{218,670},{176,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,194}</string>
<key>spriteSize</key>
<string>{194,136}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{218,532},{194,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,199}</string>
<key>spriteSize</key>
<string>{206,118}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{450,530},{206,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,206}</string>
<key>spriteSize</key>
<string>{210,106}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{450,422},{210,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,210}</string>
<key>spriteSize</key>
<string>{188,90}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{414,650},{188,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,195}</string>
<key>spriteSize</key>
<string>{170,172}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,688},{170,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,190}</string>
<key>spriteSize</key>
<string>{170,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{702,286},{170,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,182}</string>
<key>spriteSize</key>
<string>{158,234}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,74},{158,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,166}</string>
<key>spriteSize</key>
<string>{128,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,396},{128,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{88,143}</string>
<key>spriteSize</key>
<string>{156,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{662,458},{156,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{85,121}</string>
<key>spriteSize</key>
<string>{160,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,526},{160,214}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{75,92}</string>
<key>spriteSize</key>
<string>{132,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{466,288},{132,220}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{71,54}</string>
<key>spriteSize</key>
<string>{82,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{242,2},{82,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{61,21}</string>
<key>spriteSize</key>
<string>{70,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{70,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,-3}</string>
<key>spriteSize</key>
<string>{110,234}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{480,2},{110,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{53,-26}</string>
<key>spriteSize</key>
<string>{138,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{238,86},{138,232}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,-47}</string>
<key>spriteSize</key>
<string>{148,230}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{716,2},{148,230}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,-70}</string>
<key>spriteSize</key>
<string>{160,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,234},{160,226}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,-92}</string>
<key>spriteSize</key>
<string>{172,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{472,114},{172,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{60,-115}</string>
<key>spriteSize</key>
<string>{180,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{238,226},{180,226}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-117,-35}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,464},{102,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-112,19}</string>
<key>spriteSize</key>
<string>{92,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,834},{92,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-129,72}</string>
<key>spriteSize</key>
<string>{90,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,742},{90,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-109,103}</string>
<key>spriteSize</key>
<string>{94,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,166},{94,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-92,122}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1062},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-82,139}</string>
<key>spriteSize</key>
<string>{150,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,312},{150,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-80,156}</string>
<key>spriteSize</key>
<string>{160,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,932},{160,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-76,157}</string>
<key>spriteSize</key>
<string>{162,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,928},{162,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_108.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-64,163}</string>
<key>spriteSize</key>
<string>{158,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,954},{158,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_109.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,164}</string>
<key>spriteSize</key>
<string>{162,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,2},{162,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,180}</string>
<key>spriteSize</key>
<string>{166,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,860},{166,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_111.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,190}</string>
<key>spriteSize</key>
<string>{166,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,828},{166,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_112.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,195}</string>
<key>spriteSize</key>
<string>{166,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,882},{166,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_113.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,200}</string>
<key>spriteSize</key>
<string>{164,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,966},{164,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_114.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,208}</string>
<key>spriteSize</key>
<string>{164,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,764},{164,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_115.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,209}</string>
<key>spriteSize</key>
<string>{166,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,852},{166,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_116.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,199}</string>
<key>spriteSize</key>
<string>{168,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,742},{168,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_PET7006_117.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,195}</string>
<key>spriteSize</key>
<string>{168,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,772},{168,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_118.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,167}</string>
<key>spriteSize</key>
<string>{158,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,1024},{158,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_119.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,110}</string>
<key>spriteSize</key>
<string>{140,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{508,1018},{140,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET7006_120.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,52}</string>
<key>spriteSize</key>
<string>{140,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,912},{140,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET7006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET7006.png</string>
</dict>
</dict>
</plist>