<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>KaiShiZhanDou_beijin2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{432,155}</string>
<key>spriteSourceSize</key>
<string>{720,303}</string>
<key>textureRect</key>
<string>{{2,2},{432,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_guang_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{311,245}</string>
<key>spriteSourceSize</key>
<string>{393,245}</string>
<key>textureRect</key>
<string>{{2,159},{311,245}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_saoguang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-175,-2}</string>
<key>spriteSize</key>
<string>{112,143}</string>
<key>spriteSourceSize</key>
<string>{616,209}</string>
<key>textureRect</key>
<string>{{144,561},{112,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KaiShiZhanDou_saoguang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-97,-1}</string>
<key>spriteSize</key>
<string>{140,139}</string>
<key>spriteSourceSize</key>
<string>{616,209}</string>
<key>textureRect</key>
<string>{{366,537},{140,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_saoguang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,3}</string>
<key>spriteSize</key>
<string>{140,129}</string>
<key>spriteSourceSize</key>
<string>{616,209}</string>
<key>textureRect</key>
<string>{{2,561},{140,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_saoguang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{85,-4}</string>
<key>spriteSize</key>
<string>{140,141}</string>
<key>spriteSourceSize</key>
<string>{616,209}</string>
<key>textureRect</key>
<string>{{366,394},{140,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_saoguang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{169,-2}</string>
<key>spriteSize</key>
<string>{126,153}</string>
<key>spriteSourceSize</key>
<string>{616,209}</string>
<key>textureRect</key>
<string>{{238,406},{126,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KaiShiZhanDou_zi3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,1}</string>
<key>spriteSize</key>
<string>{233,145}</string>
<key>spriteSourceSize</key>
<string>{319,209}</string>
<key>textureRect</key>
<string>{{315,159},{233,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KaiShiZhanDou_zi4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{234,153}</string>
<key>spriteSourceSize</key>
<string>{326,209}</string>
<key>textureRect</key>
<string>{{2,406},{234,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>KaiShiZhanDou_Effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>KaiShiZhanDou_Effect.png</string>
</dict>
</dict>
</plist>