<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YuanGuHuiLang_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,6}</string>
<key>spriteSize</key>
<string>{159,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{330,340},{159,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,6}</string>
<key>spriteSize</key>
<string>{161,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{330,2},{161,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,5}</string>
<key>spriteSize</key>
<string>{163,338}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{2,684},{163,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,5}</string>
<key>spriteSize</key>
<string>{163,338}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{2,344},{163,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,4}</string>
<key>spriteSize</key>
<string>{163,340}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{2,2},{163,340}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,6}</string>
<key>spriteSize</key>
<string>{161,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{167,340},{161,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,6}</string>
<key>spriteSize</key>
<string>{157,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{491,340},{157,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,6}</string>
<key>spriteSize</key>
<string>{155,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{328,678},{155,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,6}</string>
<key>spriteSize</key>
<string>{155,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{493,2},{155,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,7}</string>
<key>spriteSize</key>
<string>{157,334}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{485,678},{157,334}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,6}</string>
<key>spriteSize</key>
<string>{159,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{167,678},{159,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YuanGuHuiLang_huoyan_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,6}</string>
<key>spriteSize</key>
<string>{161,336}</string>
<key>spriteSourceSize</key>
<string>{191,348}</string>
<key>textureRect</key>
<string>{{167,2},{161,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YuanGuHuiLang_huoyan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YuanGuHuiLang_huoyan.png</string>
</dict>
</dict>
</plist>