<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9017_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,32}</string>
<key>spriteSize</key>
<string>{68,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{338,364},{68,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,31}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{86,368},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{172,358},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{70,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{86,438},{70,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,31}</string>
<key>spriteSize</key>
<string>{68,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,520},{68,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,26}</string>
<key>spriteSize</key>
<string>{68,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{80,510},{68,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,32}</string>
<key>spriteSize</key>
<string>{68,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{402,438},{68,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{72,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{252,434},{72,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{88,288},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,30}</string>
<key>spriteSize</key>
<string>{72,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,144},{72,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{70,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{186,216},{70,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,33}</string>
<key>spriteSize</key>
<string>{74,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,366},{74,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,31}</string>
<key>spriteSize</key>
<string>{72,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{328,434},{72,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9017_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,26}</string>
<key>spriteSize</key>
<string>{68,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{166,498},{68,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,29}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{170,428},{68,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,32}</string>
<key>spriteSize</key>
<string>{74,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{256,358},{74,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{72,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{382,76},{72,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,33}</string>
<key>spriteSize</key>
<string>{78,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,142},{78,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,33}</string>
<key>spriteSize</key>
<string>{76,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,70},{76,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,38}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{274,280},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{72,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{416,364},{72,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,442},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9017_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,34}</string>
<key>spriteSize</key>
<string>{78,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,286},{78,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,38}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{364,212},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{72,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{276,206},{72,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,38}</string>
<key>spriteSize</key>
<string>{66,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{186,148},{66,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,34}</string>
<key>spriteSize</key>
<string>{60,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{380,150},{60,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,38}</string>
<key>spriteSize</key>
<string>{72,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{404,2},{72,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,43}</string>
<key>spriteSize</key>
<string>{72,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,70},{72,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,38}</string>
<key>spriteSize</key>
<string>{72,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{360,290},{72,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,40}</string>
<key>spriteSize</key>
<string>{62,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,222},{62,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,43}</string>
<key>spriteSize</key>
<string>{66,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{290,138},{66,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,47}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{304,2},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,41}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{172,288},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{68,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,218},{68,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,42}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,2},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,2},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,43}</string>
<key>spriteSize</key>
<string>{66,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{290,70},{66,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,40}</string>
<key>spriteSize</key>
<string>{66,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,74},{66,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9017_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{70,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{70,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9017_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9017_run.png</string>
</dict>
</dict>
</plist>