<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4001_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,452},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,576},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,2},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,342},{56,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,112},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,222},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,438},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,780},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,2},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,2},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,112},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,222},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{54,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,770},{54,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,110},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,220},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,548},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,554},{54,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,330},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{52,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,440},{52,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{56,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,888},{56,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,108},{60,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,2},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{52,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,656},{52,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{50,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,546},{50,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,562},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,796},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{46,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,686},{46,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{52,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,336},{52,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,332},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,672},{54,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,51}</string>
<key>spriteSize</key>
<string>{50,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,662},{50,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,51}</string>
<key>spriteSize</key>
<string>{50,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,2},{50,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,826},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,712},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,2},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,118},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,592},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{52,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,704},{52,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{50,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,816},{50,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{50,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{58,826},{50,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,53}</string>
<key>spriteSize</key>
<string>{64,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,466},{64,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,49}</string>
<key>spriteSize</key>
<string>{64,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,214},{64,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{70,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,324},{70,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,47}</string>
<key>spriteSize</key>
<string>{58,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,108},{58,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,54}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,826},{74,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,53}</string>
<key>spriteSize</key>
<string>{50,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,112},{50,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,53}</string>
<key>spriteSize</key>
<string>{68,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,2},{68,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,51}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,446},{56,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,46}</string>
<key>spriteSize</key>
<string>{82,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,940},{82,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,232},{84,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{86,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,434},{86,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,48}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,928},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{56,482},{74,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,356},{92,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,51}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,226},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,44}</string>
<key>spriteSize</key>
<string>{86,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,218},{86,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,49}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,2},{88,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,43}</string>
<key>spriteSize</key>
<string>{94,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,328},{94,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,940},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{96,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,246},{96,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,49}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,596},{70,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,708},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,116},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{82,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,598},{82,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,44}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{518,2},{68,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,49}</string>
<key>spriteSize</key>
<string>{52,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,482},{52,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,51}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{58,712},{52,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,54}</string>
<key>spriteSize</key>
<string>{64,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{76,366},{64,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,242},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,48}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,110},{68,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,480},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{54,124},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{50,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,124},{50,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{72,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,366},{72,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_4001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_4001.png</string>
</dict>
</dict>
</plist>