<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4001_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,54}</string>
<key>spriteSize</key>
<string>{82,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,220},{82,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,45}</string>
<key>spriteSize</key>
<string>{78,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,138},{78,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,29}</string>
<key>spriteSize</key>
<string>{86,56}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,2},{86,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{74,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,138},{74,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,44}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,382},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,43}</string>
<key>spriteSize</key>
<string>{98,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,212},{98,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,316},{52,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,214},{52,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,320},{52,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{54,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,218},{54,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,47}</string>
<key>spriteSize</key>
<string>{52,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,2},{52,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,84},{52,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{50,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,2},{50,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{48,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,214},{48,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,47}</string>
<key>spriteSize</key>
<string>{56,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,448},{56,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,43}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,56},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,48}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,114},{92,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,43}</string>
<key>spriteSize</key>
<string>{96,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,336},{96,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,44}</string>
<key>spriteSize</key>
<string>{90,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,114},{90,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{84,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{70,226},{84,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,2},{88,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,50}</string>
<key>spriteSize</key>
<string>{80,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,324},{80,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,54}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{94,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{66,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,226},{66,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,47}</string>
<key>spriteSize</key>
<string>{72,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,308},{72,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{84,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,422},{84,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,43}</string>
<key>spriteSize</key>
<string>{70,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,440},{70,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,54}</string>
<key>spriteSize</key>
<string>{98,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,338},{98,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4001_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,2},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,47}</string>
<key>spriteSize</key>
<string>{72,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,138},{72,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,46}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,440},{68,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_4001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_4001.png</string>
</dict>
</dict>
</plist>