<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_zengjiabaoji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{42,88}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{190,94},{42,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{42,88}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{98,48},{42,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjiabaoji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{42,90}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{146,94},{42,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{46,88}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{50,96},{46,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{46,88}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{2,96},{46,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{46,90}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{98,94},{46,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{48,90}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{192,2},{48,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{46,92}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{50,2},{46,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{46,92}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{2,2},{46,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjiabaoji_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{44,92}</string>
<key>spriteSourceSize</key>
<string>{52,92}</string>
<key>textureRect</key>
<string>{{98,2},{44,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zengjiabaoji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zengjiabaoji.png</string>
</dict>
</dict>
</plist>