<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CY_guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,138}</string>
<key>spriteSourceSize</key>
<string>{156,156}</string>
<key>textureRect</key>
<string>{{314,2},{142,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CY_shandian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-8}</string>
<key>spriteSize</key>
<string>{104,310}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{2,2},{104,310}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CY_shandian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-15}</string>
<key>spriteSize</key>
<string>{108,298}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{304,142},{108,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CY_shandian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-9}</string>
<key>spriteSize</key>
<string>{100,300}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{2,108},{100,300}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CY_shandian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{90,300}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{2,210},{90,300}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CY_shandian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{96,278}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{414,142},{96,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CY_shandian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,0}</string>
<key>spriteSize</key>
<string>{88,280}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{2,302},{88,280}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CY_shandian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,4}</string>
<key>spriteSize</key>
<string>{98,274}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{236,442},{98,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CY_shandian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,7}</string>
<key>spriteSize</key>
<string>{62,236}</string>
<key>spriteSourceSize</key>
<string>{240,388}</string>
<key>textureRect</key>
<string>{{236,542},{62,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>denggling.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{236,606},{78,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guang3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{232,240}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{2,442},{232,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CY_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CY_UI.png</string>
</dict>
</dict>
</plist>