<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>bowen_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{100,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{73,142},{100,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{100,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{233,2},{100,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{201,66},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{169,104},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{228,370},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{233,104},{96,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{230,236},{96,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{198,236},{96,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{169,204},{96,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{130,466},{96,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{130,434},{96,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{130,402},{96,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{96,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{134,338},{96,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{125,370},{98,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bowen_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{166,238},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{134,238},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{102,244},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{70,244},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{137,138},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bowen_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{98,30}</string>
<key>spriteSourceSize</key>
<string>{104,42}</string>
<key>textureRect</key>
<string>{{105,138},{98,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>qipao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{63,66}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,433},{63,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>qipao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{69,68}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,142},{69,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,70}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{62,356},{61,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{77,68}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,72},{77,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{73,62}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{158,2},{73,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{71,64}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,212},{71,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>qipao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{77,68}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,2},{77,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{71,66}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{81,70},{71,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{75,66}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{81,2},{75,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qipao_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,285},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>qipao_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{75,58}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{2,356},{75,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>qipao_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{69,58}</string>
<key>spriteSourceSize</key>
<string>{79,70}</string>
<key>textureRect</key>
<string>{{70,428},{69,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhuLing_bolang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhuLing_bolang.png</string>
</dict>
</dict>
</plist>