<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9012_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{120,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{390,294},{120,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,33}</string>
<key>spriteSize</key>
<string>{124,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{128,326},{124,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{128,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,84},{128,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,30}</string>
<key>spriteSize</key>
<string>{130,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{134,2},{130,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,30}</string>
<key>spriteSize</key>
<string>{128,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,164},{128,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{128,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{262,164},{128,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{128,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,166},{128,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{124,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{256,324},{124,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,37}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,582},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,33}</string>
<key>spriteSize</key>
<string>{112,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{362,508},{112,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{116,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{394,114},{116,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,31}</string>
<key>spriteSize</key>
<string>{114,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{396,2},{114,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,31}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,642},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,34}</string>
<key>spriteSize</key>
<string>{106,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{246,474},{106,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,38}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,536},{104,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,38}</string>
<key>spriteSize</key>
<string>{104,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{120,540},{104,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,36}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{392,226},{66,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,35}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{376,440},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,32}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,468},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,29}</string>
<key>spriteSize</key>
<string>{68,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{254,404},{68,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,28}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{128,406},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,30}</string>
<key>spriteSize</key>
<string>{64,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{124,474},{64,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,35}</string>
<key>spriteSize</key>
<string>{62,124}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,404},{62,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,36}</string>
<key>spriteSize</key>
<string>{64,122}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{382,374},{64,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{102,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{112,838},{102,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{228,786},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{106,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{342,716},{106,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,30}</string>
<key>spriteSize</key>
<string>{110,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,742},{110,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,28}</string>
<key>spriteSize</key>
<string>{112,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,646},{112,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,30}</string>
<key>spriteSize</key>
<string>{110,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{350,618},{110,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,31}</string>
<key>spriteSize</key>
<string>{110,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{230,690},{110,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{108,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,754},{108,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{124,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,324},{124,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{126,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,244},{126,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{128,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{134,82},{128,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,41}</string>
<key>spriteSize</key>
<string>{130,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{130,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,39}</string>
<key>spriteSize</key>
<string>{126,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{262,242},{126,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,39}</string>
<key>spriteSize</key>
<string>{128,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{264,84},{128,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,41}</string>
<key>spriteSize</key>
<string>{128,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{266,2},{128,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{124,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,244},{124,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9012.png</string>
</dict>
</dict>
</plist>