<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_bzyc_baozhu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{109,134}</string>
<key>spriteSourceSize</key>
<string>{137,148}</string>
<key>textureRect</key>
<string>{{314,774},{109,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_bzyc_baozhu2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,-15}</string>
<key>spriteSize</key>
<string>{171,141}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{171,794},{171,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_bzyc_baozhu2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-2}</string>
<key>spriteSize</key>
<string>{197,167}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{2,794},{197,167}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_bzyc_baozhu2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,5}</string>
<key>spriteSize</key>
<string>{213,181}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{2,611},{213,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bzyc_baozhu2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,8}</string>
<key>spriteSize</key>
<string>{229,197}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{2,412},{229,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bzyc_baozhu2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,7}</string>
<key>spriteSize</key>
<string>{239,209}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{2,201},{239,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bzyc_baozhu2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-4}</string>
<key>spriteSize</key>
<string>{245,197}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{2,2},{245,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bzyc_baozhu2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,-6}</string>
<key>spriteSize</key>
<string>{215,203}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{233,422},{215,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bzyc_baozhu2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,-8}</string>
<key>spriteSize</key>
<string>{209,205}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{249,2},{209,205}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_bzyc_baozhu2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-10}</string>
<key>spriteSize</key>
<string>{211,207}</string>
<key>spriteSourceSize</key>
<string>{419,349}</string>
<key>textureRect</key>
<string>{{243,213},{211,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_guang3_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,1}</string>
<key>spriteSize</key>
<string>{27,16}</string>
<key>spriteSourceSize</key>
<string>{101,24}</string>
<key>textureRect</key>
<string>{{270,774},{27,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_guang3_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,1}</string>
<key>spriteSize</key>
<string>{51,16}</string>
<key>spriteSourceSize</key>
<string>{101,24}</string>
<key>textureRect</key>
<string>{{217,627},{51,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_guang3_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{51,16}</string>
<key>spriteSourceSize</key>
<string>{101,24}</string>
<key>textureRect</key>
<string>{{217,774},{51,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_guang3_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,1}</string>
<key>spriteSize</key>
<string>{41,16}</string>
<key>spriteSourceSize</key>
<string>{101,24}</string>
<key>textureRect</key>
<string>{{270,627},{41,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_guang3_4_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{123,36}</string>
<key>spriteSourceSize</key>
<string>{127,50}</string>
<key>textureRect</key>
<string>{{217,645},{123,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhufu_guang_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{141,145}</string>
<key>spriteSourceSize</key>
<string>{169,169}</string>
<key>textureRect</key>
<string>{{314,627},{141,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhufu_kuang_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{98,99}</string>
<key>spriteSourceSize</key>
<string>{134,129}</string>
<key>textureRect</key>
<string>{{314,885},{98,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>NSSF_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>NSSF_UI.png</string>
</dict>
</dict>
</plist>