<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>guaji_baoxing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{105,83}</string>
<key>spriteSourceSize</key>
<string>{111,87}</string>
<key>textureRect</key>
<string>{{106,881},{105,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_baoxing2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,53}</string>
<key>spriteSourceSize</key>
<string>{108,63}</string>
<key>textureRect</key>
<string>{{2,891},{100,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-18}</string>
<key>spriteSize</key>
<string>{216,103}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,681},{216,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-14}</string>
<key>spriteSize</key>
<string>{218,133}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,149},{218,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{220,145}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,2},{220,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-15}</string>
<key>spriteSize</key>
<string>{220,131}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,284},{220,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-15}</string>
<key>spriteSize</key>
<string>{216,131}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,417},{216,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-16}</string>
<key>spriteSize</key>
<string>{208,129}</string>
<key>spriteSourceSize</key>
<string>{264,161}</string>
<key>textureRect</key>
<string>{{2,550},{208,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guaji_guang_06_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{103,102}</string>
<key>spriteSourceSize</key>
<string>{115,120}</string>
<key>textureRect</key>
<string>{{2,786},{103,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guaji_guang_06_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{106,93}</string>
<key>spriteSourceSize</key>
<string>{120,95}</string>
<key>textureRect</key>
<string>{{106,786},{106,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>GuaJI_baoxiang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>GuaJI_baoxiang.png</string>
</dict>
</dict>
</plist>