<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_4006_baokai_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{104,38}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{292,414},{104,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-7}</string>
<key>spriteSize</key>
<string>{104,38}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{133,458},{104,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{106,40}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{134,166},{106,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{106,40}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{465,2},{106,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-7}</string>
<key>spriteSize</key>
<string>{106,38}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{64,309},{106,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{104,40}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{133,416},{104,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{104,40}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{250,399},{104,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{104,40}</string>
<key>spriteSourceSize</key>
<string>{110,56}</string>
<key>textureRect</key>
<string>{{250,293},{104,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-4}</string>
<key>spriteSize</key>
<string>{143,144}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{195,2},{143,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{191,162}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{2,2},{191,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-17}</string>
<key>spriteSize</key>
<string>{141,118}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{327,148},{141,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{141,130}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{2,166},{141,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-11}</string>
<key>spriteSize</key>
<string>{143,130}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{195,148},{143,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-16}</string>
<key>spriteSize</key>
<string>{121,120}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{327,291},{121,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-19}</string>
<key>spriteSize</key>
<string>{121,114}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{134,293},{121,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-19}</string>
<key>spriteSize</key>
<string>{123,114}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{340,2},{123,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_baokai_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-46}</string>
<key>spriteSize</key>
<string>{121,60}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{2,309},{121,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_baokai_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-46}</string>
<key>spriteSize</key>
<string>{121,60}</string>
<key>spriteSourceSize</key>
<string>{201,164}</string>
<key>textureRect</key>
<string>{{447,118},{121,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_zidan_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{93,27}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{398,414},{93,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_4006_zidan_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{93,29}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{64,417},{93,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_zidan_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{93,27}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{292,293},{93,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_zidan_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{93,27}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{104,404},{93,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_zidan_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{93,27}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{104,309},{93,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_4006_zidan_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{93,27}</string>
<key>spriteSourceSize</key>
<string>{97,35}</string>
<key>textureRect</key>
<string>{{340,118},{93,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_4006_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_4006_skills_2.png</string>
</dict>
</dict>
</plist>