<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7006_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,77}</string>
<key>spriteSize</key>
<string>{276,304}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,862},{276,304}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,77}</string>
<key>spriteSize</key>
<string>{274,306}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,856},{274,306}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,79}</string>
<key>spriteSize</key>
<string>{276,310}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,578},{276,310}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,81}</string>
<key>spriteSize</key>
<string>{282,314}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,294},{282,314}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,84}</string>
<key>spriteSize</key>
<string>{286,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,2},{286,316}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,85}</string>
<key>spriteSize</key>
<string>{290,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,2},{290,316}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,84}</string>
<key>spriteSize</key>
<string>{290,316}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{290,316}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,81}</string>
<key>spriteSize</key>
<string>{290,314}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,290},{290,314}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,78}</string>
<key>spriteSize</key>
<string>{286,310}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,294},{286,310}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,77}</string>
<key>spriteSize</key>
<string>{282,308}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,582},{282,308}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,76}</string>
<key>spriteSize</key>
<string>{278,304}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,582},{278,304}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7006.png</string>
</dict>
</dict>
</plist>