<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7006_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,54}</string>
<key>spriteSize</key>
<string>{98,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,1336},{98,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,54}</string>
<key>spriteSize</key>
<string>{98,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,1286},{98,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,54}</string>
<key>spriteSize</key>
<string>{98,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,1304},{98,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,55}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{892,1204},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{102,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,1292},{102,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1416},{104,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{796,1084},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1310},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,55}</string>
<key>spriteSize</key>
<string>{102,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,1100},{102,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,54}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,1190},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,50}</string>
<key>spriteSize</key>
<string>{112,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{388,1128},{112,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,50}</string>
<key>spriteSize</key>
<string>{108,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,1258},{108,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,50}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,1084},{104,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,51}</string>
<key>spriteSize</key>
<string>{98,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,1204},{98,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,53}</string>
<key>spriteSize</key>
<string>{94,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,1190},{94,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,53}</string>
<key>spriteSize</key>
<string>{92,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,1242},{92,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,54}</string>
<key>spriteSize</key>
<string>{94,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,1004},{94,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,53}</string>
<key>spriteSize</key>
<string>{100,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,982},{100,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,52}</string>
<key>spriteSize</key>
<string>{106,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1202},{106,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,51}</string>
<key>spriteSize</key>
<string>{112,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,1076},{112,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,46}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,1454},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,46}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,1368},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,46}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,1146},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,46}</string>
<key>spriteSize</key>
<string>{106,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,1020},{106,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,46}</string>
<key>spriteSize</key>
<string>{100,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,918},{100,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,47}</string>
<key>spriteSize</key>
<string>{96,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,772},{96,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,47}</string>
<key>spriteSize</key>
<string>{96,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,946},{96,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,48}</string>
<key>spriteSize</key>
<string>{100,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,1044},{100,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,49}</string>
<key>spriteSize</key>
<string>{106,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1346},{106,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,47}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1522},{110,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,37}</string>
<key>spriteSize</key>
<string>{138,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,622},{138,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,35}</string>
<key>spriteSize</key>
<string>{134,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,638},{134,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,35}</string>
<key>spriteSize</key>
<string>{130,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,536},{130,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,35}</string>
<key>spriteSize</key>
<string>{128,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{894,2},{128,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,35}</string>
<key>spriteSize</key>
<string>{130,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,502},{130,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,35}</string>
<key>spriteSize</key>
<string>{132,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,274},{132,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,36}</string>
<key>spriteSize</key>
<string>{136,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,378},{136,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,36}</string>
<key>spriteSize</key>
<string>{142,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,514},{142,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,37}</string>
<key>spriteSize</key>
<string>{144,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,364},{144,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,38}</string>
<key>spriteSize</key>
<string>{142,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,634},{142,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,35}</string>
<key>spriteSize</key>
<string>{100,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,980},{100,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,34}</string>
<key>spriteSize</key>
<string>{100,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,536},{100,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,33}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,556},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,33}</string>
<key>spriteSize</key>
<string>{104,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,450},{104,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{106,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{508,342},{106,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{106,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,266},{106,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,33}</string>
<key>spriteSize</key>
<string>{106,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,270},{106,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,766},{106,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{104,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,874},{104,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,892},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,41}</string>
<key>spriteSize</key>
<string>{92,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,910},{92,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,44}</string>
<key>spriteSize</key>
<string>{150,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,146},{150,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{144,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,388},{144,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{140,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{586,500},{140,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,42}</string>
<key>spriteSize</key>
<string>{104,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,1436},{104,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,41}</string>
<key>spriteSize</key>
<string>{124,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,968},{124,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{128,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,788},{128,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,52}</string>
<key>spriteSize</key>
<string>{168,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,2},{168,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1082},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{174,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,2},{174,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,44}</string>
<key>spriteSize</key>
<string>{116,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,1122},{116,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,35}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,840},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,40}</string>
<key>spriteSize</key>
<string>{146,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,140},{146,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,42}</string>
<key>spriteSize</key>
<string>{172,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,2},{172,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,52}</string>
<key>spriteSize</key>
<string>{164,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,104},{164,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,55}</string>
<key>spriteSize</key>
<string>{174,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,2},{174,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,50}</string>
<key>spriteSize</key>
<string>{122,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,998},{122,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,49}</string>
<key>spriteSize</key>
<string>{126,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,408},{126,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,45}</string>
<key>spriteSize</key>
<string>{142,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,516},{142,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{138,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,660},{138,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,41}</string>
<key>spriteSize</key>
<string>{154,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,226},{154,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,39}</string>
<key>spriteSize</key>
<string>{134,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,752},{134,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,54}</string>
<key>spriteSize</key>
<string>{152,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,266},{152,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,56}</string>
<key>spriteSize</key>
<string>{142,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,650},{142,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{92,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,656},{92,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,53}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,776},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,48}</string>
<key>spriteSize</key>
<string>{154,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,130},{154,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,45}</string>
<key>spriteSize</key>
<string>{154,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,134},{154,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{102,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,1386},{102,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,34}</string>
<key>spriteSize</key>
<string>{74,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,408},{74,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,47}</string>
<key>spriteSize</key>
<string>{110,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,870},{110,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,48}</string>
<key>spriteSize</key>
<string>{118,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{720,668},{118,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,34}</string>
<key>spriteSize</key>
<string>{88,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,750},{88,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,56}</string>
<key>spriteSize</key>
<string>{154,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{198,138},{154,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,51}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,786},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{120,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{562,846},{120,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,40}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1240},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,32}</string>
<key>spriteSize</key>
<string>{146,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{146,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,41}</string>
<key>spriteSize</key>
<string>{146,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,374},{146,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{194,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{194,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7006.png</string>
</dict>
</dict>
</plist>