<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>nezha_fenghuolun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-97,-29}</string>
<key>spriteSize</key>
<string>{84,76}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{222,458},{84,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,-27}</string>
<key>spriteSize</key>
<string>{218,80}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,454},{218,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,-25}</string>
<key>spriteSize</key>
<string>{218,84}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,368},{218,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-23}</string>
<key>spriteSize</key>
<string>{224,92}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{248,282},{224,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-21}</string>
<key>spriteSize</key>
<string>{244,96}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,2},{244,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-25}</string>
<key>spriteSize</key>
<string>{244,90}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{248,190},{244,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-24}</string>
<key>spriteSize</key>
<string>{244,90}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,100},{244,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-23}</string>
<key>spriteSize</key>
<string>{244,92}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{248,96},{244,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-23}</string>
<key>spriteSize</key>
<string>{244,92}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{248,2},{244,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-25}</string>
<key>spriteSize</key>
<string>{244,88}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,192},{244,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-27}</string>
<key>spriteSize</key>
<string>{244,84}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{2,282},{244,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-29}</string>
<key>spriteSize</key>
<string>{218,80}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{222,376},{218,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_fenghuolun_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-43}</string>
<key>spriteSize</key>
<string>{218,48}</string>
<key>spriteSourceSize</key>
<string>{470,320}</string>
<key>textureRect</key>
<string>{{442,376},{218,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7006_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7006_skill_3.png</string>
</dict>
</dict>
</plist>