<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>nezha_baozha_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-27}</string>
<key>spriteSize</key>
<string>{175,133}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{179,2},{175,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_baozha_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-19}</string>
<key>spriteSize</key>
<string>{175,149}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{2,2},{175,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_baozha_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-11}</string>
<key>spriteSize</key>
<string>{157,143}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{356,2},{157,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nezha_baozha_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{119,117}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{2,362},{119,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>nezha_baozha_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,5}</string>
<key>spriteSize</key>
<string>{121,121}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{2,239},{121,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_baozha_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,4}</string>
<key>spriteSize</key>
<string>{123,119}</string>
<key>spriteSourceSize</key>
<string>{353,339}</string>
<key>textureRect</key>
<string>{{133,223},{123,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_juqi_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{129,84}</string>
<key>spriteSourceSize</key>
<string>{283,206}</string>
<key>textureRect</key>
<string>{{2,153},{129,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_juqi_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{131,84}</string>
<key>spriteSourceSize</key>
<string>{283,206}</string>
<key>textureRect</key>
<string>{{179,137},{131,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_juqi_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{127,116}</string>
<key>spriteSourceSize</key>
<string>{283,206}</string>
<key>textureRect</key>
<string>{{312,161},{127,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nezha_juqi_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{119,116}</string>
<key>spriteSourceSize</key>
<string>{283,206}</string>
<key>textureRect</key>
<string>{{121,362},{119,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7006_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7006_skill_4.png</string>
</dict>
</dict>
</plist>