<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7006_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,42}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,620},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,57}</string>
<key>spriteSize</key>
<string>{100,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,922},{100,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,58}</string>
<key>spriteSize</key>
<string>{128,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,784},{128,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,45}</string>
<key>spriteSize</key>
<string>{136,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,348},{136,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,48}</string>
<key>spriteSize</key>
<string>{130,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,604},{130,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,65}</string>
<key>spriteSize</key>
<string>{160,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,458},{160,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,55}</string>
<key>spriteSize</key>
<string>{144,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,750},{144,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,64}</string>
<key>spriteSize</key>
<string>{216,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,386},{216,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,55}</string>
<key>spriteSize</key>
<string>{134,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,370},{134,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,55}</string>
<key>spriteSize</key>
<string>{130,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,140},{130,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,57}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,888},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,58}</string>
<key>spriteSize</key>
<string>{118,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,746},{118,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,59}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,866},{112,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,59}</string>
<key>spriteSize</key>
<string>{110,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,634},{110,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,60}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,738},{112,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,59}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{826,492},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,58}</string>
<key>spriteSize</key>
<string>{126,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,2},{126,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,57}</string>
<key>spriteSize</key>
<string>{132,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,506},{132,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_idle_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,56}</string>
<key>spriteSize</key>
<string>{134,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,874},{134,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,52}</string>
<key>spriteSize</key>
<string>{136,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,750},{136,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,52}</string>
<key>spriteSize</key>
<string>{174,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{174,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,50}</string>
<key>spriteSize</key>
<string>{132,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,778},{132,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,45}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,898},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,45}</string>
<key>spriteSize</key>
<string>{166,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,222},{166,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,46}</string>
<key>spriteSize</key>
<string>{188,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,124},{188,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,58}</string>
<key>spriteSize</key>
<string>{186,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,590},{186,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,61}</string>
<key>spriteSize</key>
<string>{186,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,464},{186,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,57}</string>
<key>spriteSize</key>
<string>{150,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,604},{150,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,53}</string>
<key>spriteSize</key>
<string>{134,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,756},{134,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,27}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,634},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,43}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,376},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,77}</string>
<key>spriteSize</key>
<string>{154,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,2},{154,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,62}</string>
<key>spriteSize</key>
<string>{96,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,272},{96,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,118}</string>
<key>spriteSize</key>
<string>{134,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,918},{134,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,137}</string>
<key>spriteSize</key>
<string>{132,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,370},{132,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,123}</string>
<key>spriteSize</key>
<string>{126,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,868},{126,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,121}</string>
<key>spriteSize</key>
<string>{172,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,124},{172,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,107}</string>
<key>spriteSize</key>
<string>{144,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,604},{144,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,43}</string>
<key>spriteSize</key>
<string>{154,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,2},{154,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,23}</string>
<key>spriteSize</key>
<string>{232,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,2},{232,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,31}</string>
<key>spriteSize</key>
<string>{228,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,234},{228,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{42,29}</string>
<key>spriteSize</key>
<string>{230,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,240},{230,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7006_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,29}</string>
<key>spriteSize</key>
<string>{236,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,2},{236,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,35}</string>
<key>spriteSize</key>
<string>{232,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,152},{232,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,50}</string>
<key>spriteSize</key>
<string>{212,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,376},{212,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,73}</string>
<key>spriteSize</key>
<string>{154,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{682,222},{154,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_7006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_7006.png</string>
</dict>
</dict>
</plist>