<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6003_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,710},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{102,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,606},{102,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,53}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,680},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{96,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,832},{96,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,878},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,840},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,812},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{98,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,740},{98,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,56}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{950,726},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{62,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,868},{62,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,680},{60,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,824},{62,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,764},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,56}</string>
<key>spriteSize</key>
<string>{70,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,308},{70,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,188},{72,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,56}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{950,606},{68,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,54}</string>
<key>spriteSize</key>
<string>{80,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,688},{80,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,55}</string>
<key>spriteSize</key>
<string>{78,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,744},{78,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,55}</string>
<key>spriteSize</key>
<string>{78,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,684},{78,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,55}</string>
<key>spriteSize</key>
<string>{80,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{402,606},{80,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,55}</string>
<key>spriteSize</key>
<string>{84,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,710},{84,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,55}</string>
<key>spriteSize</key>
<string>{88,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,654},{88,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,54}</string>
<key>spriteSize</key>
<string>{88,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,796},{88,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,54}</string>
<key>spriteSize</key>
<string>{82,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,656},{82,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,53}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,998},{108,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{110,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,886},{110,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{106,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,546},{106,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,50}</string>
<key>spriteSize</key>
<string>{106,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,572},{106,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{104,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,578},{104,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{104,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,932},{104,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,53}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,984},{108,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,930},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{908,400},{98,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{96,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,974},{96,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{98,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,936},{98,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,46}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,782},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,888},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{96,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,1036},{96,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,50}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,1044},{94,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,50}</string>
<key>spriteSize</key>
<string>{98,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,1038},{98,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,34}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,908},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,52}</string>
<key>spriteSize</key>
<string>{178,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{178,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,81}</string>
<key>spriteSize</key>
<string>{110,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,2},{110,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,73}</string>
<key>spriteSize</key>
<string>{108,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,324},{108,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-3}</string>
<key>spriteSize</key>
<string>{124,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,434},{124,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,16}</string>
<key>spriteSize</key>
<string>{130,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,482},{130,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,26}</string>
<key>spriteSize</key>
<string>{94,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,560},{94,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,37}</string>
<key>spriteSize</key>
<string>{148,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,428},{148,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,45}</string>
<key>spriteSize</key>
<string>{126,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,500},{126,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,78}</string>
<key>spriteSize</key>
<string>{166,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,134},{166,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,69}</string>
<key>spriteSize</key>
<string>{170,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,168},{170,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,10}</string>
<key>spriteSize</key>
<string>{238,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{238,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,22}</string>
<key>spriteSize</key>
<string>{188,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,2},{188,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,32}</string>
<key>spriteSize</key>
<string>{162,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,366},{162,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,40}</string>
<key>spriteSize</key>
<string>{184,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,98},{184,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,46}</string>
<key>spriteSize</key>
<string>{154,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,444},{154,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,77}</string>
<key>spriteSize</key>
<string>{176,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,2},{176,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,67}</string>
<key>spriteSize</key>
<string>{170,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,188},{170,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{74,30}</string>
<key>spriteSize</key>
<string>{212,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,2},{212,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{54,33}</string>
<key>spriteSize</key>
<string>{164,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,334},{164,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,41}</string>
<key>spriteSize</key>
<string>{156,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,414},{156,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,44}</string>
<key>spriteSize</key>
<string>{156,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{934,242},{156,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,50}</string>
<key>spriteSize</key>
<string>{168,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,302},{168,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,77}</string>
<key>spriteSize</key>
<string>{118,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,242},{118,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,61}</string>
<key>spriteSize</key>
<string>{94,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,510},{94,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{41,41}</string>
<key>spriteSize</key>
<string>{132,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,486},{132,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,39}</string>
<key>spriteSize</key>
<string>{112,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,904},{112,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,43}</string>
<key>spriteSize</key>
<string>{122,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,614},{122,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{78,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,1094},{78,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,56}</string>
<key>spriteSize</key>
<string>{172,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,114},{172,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,79}</string>
<key>spriteSize</key>
<string>{122,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,242},{122,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,61}</string>
<key>spriteSize</key>
<string>{122,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,362},{122,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{102,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,800},{102,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{118,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,770},{118,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,42}</string>
<key>spriteSize</key>
<string>{90,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1108},{90,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6003.png</string>
</dict>
</dict>
</plist>