<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7002_daji_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-2}</string>
<key>spriteSize</key>
<string>{161,178}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{285,1110},{161,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7002_daji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-2}</string>
<key>spriteSize</key>
<string>{187,180}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{193,752},{187,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_daji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-2}</string>
<key>spriteSize</key>
<string>{185,178}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{2,900},{185,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_daji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-2}</string>
<key>spriteSize</key>
<string>{189,186}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{2,712},{189,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_daji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-6}</string>
<key>spriteSize</key>
<string>{181,164}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{2,1110},{181,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_daji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-4}</string>
<key>spriteSize</key>
<string>{177,128}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{382,752},{177,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7002_daji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-5}</string>
<key>spriteSize</key>
<string>{177,126}</string>
<key>spriteSourceSize</key>
<string>{249,222}</string>
<key>textureRect</key>
<string>{{382,931},{177,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7002_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,-28}</string>
<key>spriteSize</key>
<string>{348,428}</string>
<key>spriteSourceSize</key>
<string>{500,500}</string>
<key>textureRect</key>
<string>{{2,2},{348,428}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7002_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-54}</string>
<key>spriteSize</key>
<string>{163,98}</string>
<key>spriteSourceSize</key>
<string>{287,264}</string>
<key>textureRect</key>
<string>{{185,1110},{163,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7002_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-50}</string>
<key>spriteSize</key>
<string>{205,132}</string>
<key>spriteSourceSize</key>
<string>{287,264}</string>
<key>textureRect</key>
<string>{{2,578},{205,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-27}</string>
<key>spriteSize</key>
<string>{225,188}</string>
<key>spriteSourceSize</key>
<string>{287,264}</string>
<key>textureRect</key>
<string>{{245,562},{225,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-17}</string>
<key>spriteSize</key>
<string>{239,208}</string>
<key>spriteSourceSize</key>
<string>{287,264}</string>
<key>textureRect</key>
<string>{{245,352},{239,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-9}</string>
<key>spriteSize</key>
<string>{241,224}</string>
<key>spriteSourceSize</key>
<string>{287,264}</string>
<key>textureRect</key>
<string>{{2,352},{241,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7002_skill_guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{161,172}</string>
<key>spriteSourceSize</key>
<string>{231,194}</string>
<key>textureRect</key>
<string>{{189,934},{161,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6003_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6003_skill_2.png</string>
</dict>
</dict>
</plist>