<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_6003_zadi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{123,239}</string>
<key>spriteSourceSize</key>
<string>{309,287}</string>
<key>textureRect</key>
<string>{{113,1356},{123,239}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_zadi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{125,243}</string>
<key>spriteSourceSize</key>
<string>{309,287}</string>
<key>textureRect</key>
<string>{{113,1111},{125,243}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_zadi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,21}</string>
<key>spriteSize</key>
<string>{129,201}</string>
<key>spriteSourceSize</key>
<string>{309,287}</string>
<key>textureRect</key>
<string>{{2,1751},{129,201}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,35}</string>
<key>spriteSize</key>
<string>{111,173}</string>
<key>spriteSourceSize</key>
<string>{309,287}</string>
<key>textureRect</key>
<string>{{79,1597},{111,173}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-30}</string>
<key>spriteSize</key>
<string>{129,55}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,1965},{129,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_zadi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-20}</string>
<key>spriteSize</key>
<string>{225,81}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,1882},{225,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_zadi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-9}</string>
<key>spriteSize</key>
<string>{289,109}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,1077},{289,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-4}</string>
<key>spriteSize</key>
<string>{337,123}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{133,385},{337,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{347,129}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,728},{347,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{357,133}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,2},{357,133}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{365,129}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,361},{365,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{381,119}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{137,2},{381,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{385,95}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{133,724},{385,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-27}</string>
<key>spriteSize</key>
<string>{381,75}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{2,1368},{381,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_6003_zadi_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-35}</string>
<key>spriteSize</key>
<string>{101,37}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{79,1710},{101,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_6003_zadi_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,-38}</string>
<key>spriteSize</key>
<string>{31,31}</string>
<key>spriteSourceSize</key>
<string>{417,207}</string>
<key>textureRect</key>
<string>{{79,1368},{31,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6003_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6003_skill_4.png</string>
</dict>
</dict>
</plist>