<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6001_LZII_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{86,-83}</string>
<key>spriteSize</key>
<string>{28,41}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{402,185},{28,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{61,-80}</string>
<key>spriteSize</key>
<string>{78,47}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{310,975},{78,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_LZII_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-83}</string>
<key>spriteSize</key>
<string>{158,69}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{310,815},{158,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-37}</string>
<key>spriteSize</key>
<string>{196,173}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{2,666},{196,173}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-32}</string>
<key>spriteSize</key>
<string>{192,185}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{2,472},{192,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-18}</string>
<key>spriteSize</key>
<string>{200,217}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{200,2},{200,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_LZII_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-11}</string>
<key>spriteSize</key>
<string>{196,233}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{2,2},{196,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_LZII_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-11}</string>
<key>spriteSize</key>
<string>{190,233}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{2,237},{190,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_LZII_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,8}</string>
<key>spriteSize</key>
<string>{132,195}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{2,864},{132,195}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,7}</string>
<key>spriteSize</key>
<string>{130,197}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{200,221},{130,197}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,74}</string>
<key>spriteSize</key>
<string>{112,59}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{449,684},{112,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_LZII_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,90}</string>
<key>spriteSize</key>
<string>{12,11}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{177,815},{12,11}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_LZII_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,90}</string>
<key>spriteSize</key>
<string>{6,7}</string>
<key>spriteSourceSize</key>
<string>{320,305}</string>
<key>textureRect</key>
<string>{{191,815},{6,7}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,-9}</string>
<key>spriteSize</key>
<string>{89,109}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{358,704},{89,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,-17}</string>
<key>spriteSize</key>
<string>{129,109}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{381,815},{129,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-18}</string>
<key>spriteSize</key>
<string>{171,109}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{199,815},{171,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_piaodai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-18}</string>
<key>spriteSize</key>
<string>{179,109}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{177,704},{179,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-23}</string>
<key>spriteSize</key>
<string>{181,99}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{402,2},{181,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_piaodai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-17}</string>
<key>spriteSize</key>
<string>{181,109}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{189,593},{181,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-13}</string>
<key>spriteSize</key>
<string>{181,117}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{194,353},{181,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{181,119}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{189,472},{181,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,-9}</string>
<key>spriteSize</key>
<string>{119,117}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{377,353},{119,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-46,-6}</string>
<key>spriteSize</key>
<string>{93,113}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{390,926},{93,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_piaodai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,-4}</string>
<key>spriteSize</key>
<string>{87,105}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{372,472},{87,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,-4}</string>
<key>spriteSize</key>
<string>{79,103}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{372,579},{79,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,-1}</string>
<key>spriteSize</key>
<string>{61,97}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{449,185},{61,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_piaodai_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,8}</string>
<key>spriteSize</key>
<string>{55,67}</string>
<key>spriteSourceSize</key>
<string>{239,227}</string>
<key>textureRect</key>
<string>{{399,284},{55,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>6001_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>6001_2.png</string>
</dict>
</dict>
</plist>