<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_CW5003_a10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{186,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,290},{186,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,76}</string>
<key>spriteSize</key>
<string>{158,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{880,464},{158,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,76}</string>
<key>spriteSize</key>
<string>{138,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,1454},{138,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,66}</string>
<key>spriteSize</key>
<string>{162,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,890},{162,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{196,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,246},{196,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,64}</string>
<key>spriteSize</key>
<string>{226,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,2},{226,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{230,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,2},{230,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{210,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,278},{210,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{186,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,290},{186,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,74}</string>
<key>spriteSize</key>
<string>{140,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1774},{140,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,83}</string>
<key>spriteSize</key>
<string>{126,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,1434},{126,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,83}</string>
<key>spriteSize</key>
<string>{116,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1518},{116,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,74}</string>
<key>spriteSize</key>
<string>{130,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,1910},{130,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,65}</string>
<key>spriteSize</key>
<string>{152,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,1494},{152,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,65}</string>
<key>spriteSize</key>
<string>{172,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,290},{172,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,67}</string>
<key>spriteSize</key>
<string>{170,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,820},{170,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,69}</string>
<key>spriteSize</key>
<string>{156,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1390},{156,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,74}</string>
<key>spriteSize</key>
<string>{140,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,1758},{140,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,70}</string>
<key>spriteSize</key>
<string>{158,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,1092},{158,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,77}</string>
<key>spriteSize</key>
<string>{156,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,780},{156,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,76}</string>
<key>spriteSize</key>
<string>{154,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,1054},{154,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,67}</string>
<key>spriteSize</key>
<string>{156,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1242},{156,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,60}</string>
<key>spriteSize</key>
<string>{156,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,1058},{156,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,57}</string>
<key>spriteSize</key>
<string>{156,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,1366},{156,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,60}</string>
<key>spriteSize</key>
<string>{154,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,1300},{154,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,62}</string>
<key>spriteSize</key>
<string>{156,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,1166},{156,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,70}</string>
<key>spriteSize</key>
<string>{158,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,1020},{158,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,57}</string>
<key>spriteSize</key>
<string>{142,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,1696},{142,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,63}</string>
<key>spriteSize</key>
<string>{130,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,1238},{130,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,61}</string>
<key>spriteSize</key>
<string>{122,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,1194},{122,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,52}</string>
<key>spriteSize</key>
<string>{134,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,1740},{134,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_a40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{152,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,1318},{152,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,47}</string>
<key>spriteSize</key>
<string>{172,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,692},{172,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{174,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,468},{174,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,53}</string>
<key>spriteSize</key>
<string>{158,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,1230},{158,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,57}</string>
<key>spriteSize</key>
<string>{142,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,1696},{142,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{202,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,406},{202,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,51}</string>
<key>spriteSize</key>
<string>{172,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,674},{172,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,51}</string>
<key>spriteSize</key>
<string>{150,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,1616},{150,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,46}</string>
<key>spriteSize</key>
<string>{174,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,548},{174,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{210,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,142},{210,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{236,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,2},{236,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{236,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{236,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,51}</string>
<key>spriteSize</key>
<string>{220,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,140},{220,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_a50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{202,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,282},{202,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,86}</string>
<key>spriteSize</key>
<string>{144,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,1084},{144,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,97}</string>
<key>spriteSize</key>
<string>{120,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,1894},{120,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,98}</string>
<key>spriteSize</key>
<string>{144,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,1594},{144,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,100}</string>
<key>spriteSize</key>
<string>{200,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,128},{200,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,34}</string>
<key>spriteSize</key>
<string>{178,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,418},{178,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,62}</string>
<key>spriteSize</key>
<string>{128,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1112},{128,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,79}</string>
<key>spriteSize</key>
<string>{94,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,290},{94,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,88}</string>
<key>spriteSize</key>
<string>{122,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,934},{122,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,97}</string>
<key>spriteSize</key>
<string>{162,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,978},{162,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,96}</string>
<key>spriteSize</key>
<string>{154,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,1370},{154,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,96}</string>
<key>spriteSize</key>
<string>{152,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,1496},{152,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,42}</string>
<key>spriteSize</key>
<string>{146,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,1618},{146,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,70}</string>
<key>spriteSize</key>
<string>{110,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,826},{110,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,84}</string>
<key>spriteSize</key>
<string>{114,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,576},{114,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,81}</string>
<key>spriteSize</key>
<string>{132,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,844},{132,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,79}</string>
<key>spriteSize</key>
<string>{154,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{880,624},{154,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,80}</string>
<key>spriteSize</key>
<string>{144,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,1472},{144,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,86}</string>
<key>spriteSize</key>
<string>{146,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,1562},{146,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,55}</string>
<key>spriteSize</key>
<string>{160,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,128},{160,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,78}</string>
<key>spriteSize</key>
<string>{158,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,774},{158,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,84}</string>
<key>spriteSize</key>
<string>{158,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,604},{158,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,62}</string>
<key>spriteSize</key>
<string>{132,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,540},{132,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,54}</string>
<key>spriteSize</key>
<string>{174,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,424},{174,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,57}</string>
<key>spriteSize</key>
<string>{162,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,938},{162,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,67}</string>
<key>spriteSize</key>
<string>{160,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,946},{160,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,65}</string>
<key>spriteSize</key>
<string>{150,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{792,1356},{150,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,80}</string>
<key>spriteSize</key>
<string>{136,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1636},{136,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,76}</string>
<key>spriteSize</key>
<string>{124,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,764},{124,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{146,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,604},{146,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,50}</string>
<key>spriteSize</key>
<string>{144,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,1210},{144,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5003_b50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,50}</string>
<key>spriteSize</key>
<string>{172,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,684},{172,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,56}</string>
<key>spriteSize</key>
<string>{222,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,128},{222,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,66}</string>
<key>spriteSize</key>
<string>{162,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,942},{162,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,76}</string>
<key>spriteSize</key>
<string>{126,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1910},{126,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5003_b50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,66}</string>
<key>spriteSize</key>
<string>{96,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,370},{96,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET_6001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET_6001.png</string>
</dict>
</dict>
</plist>