<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET_5003_idlea0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{274,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,188},{274,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,71}</string>
<key>spriteSize</key>
<string>{232,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,370},{232,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,72}</string>
<key>spriteSize</key>
<string>{204,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,378},{204,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET_5003_idlea0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{236,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,190},{236,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,51}</string>
<key>spriteSize</key>
<string>{286,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,186},{286,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{332,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,2},{332,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{338,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{338,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{308,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,2},{308,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET_5003_idlea0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{274,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,188},{274,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET_6001_idlea.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET_6001_idlea.png</string>
</dict>
</dict>
</plist>