<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET_5003_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-90,154}</string>
<key>spriteSize</key>
<string>{84,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,2},{84,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET_5003_10003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-96,166}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,130},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-129,194}</string>
<key>spriteSize</key>
<string>{80,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,222},{80,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-173,219}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,350},{94,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-114}</string>
<key>spriteSize</key>
<string>{94,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,350},{94,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-124}</string>
<key>spriteSize</key>
<string>{110,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,222},{110,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-126}</string>
<key>spriteSize</key>
<string>{130,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,2},{130,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-128}</string>
<key>spriteSize</key>
<string>{144,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,2},{144,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-114}</string>
<key>spriteSize</key>
<string>{164,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{164,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET_5003_10027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-118}</string>
<key>spriteSize</key>
<string>{138,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,118},{138,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET_6001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET_6001.png</string>
</dict>
</dict>
</plist>