<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_PET_5003_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,57}</string>
<key>spriteSize</key>
<string>{158,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,146},{158,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,61}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,134},{158,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,56}</string>
<key>spriteSize</key>
<string>{156,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,286},{156,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,52}</string>
<key>spriteSize</key>
<string>{154,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,422},{154,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,56}</string>
<key>spriteSize</key>
<string>{158,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,284},{158,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,59}</string>
<key>spriteSize</key>
<string>{164,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,2},{164,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,51}</string>
<key>spriteSize</key>
<string>{156,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,286},{156,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,52}</string>
<key>spriteSize</key>
<string>{170,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{170,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,98}</string>
<key>spriteSize</key>
<string>{158,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,142},{158,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_PET_5003_10045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,100}</string>
<key>spriteSize</key>
<string>{158,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,2},{158,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_PET_6001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_PET_6001.png</string>
</dict>
</dict>
</plist>