<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,113}</string>
<key>spriteSize</key>
<string>{224,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{548,1352},{224,256}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,88}</string>
<key>spriteSize</key>
<string>{306,230}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{666,200},{306,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,20}</string>
<key>spriteSize</key>
<string>{306,108}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{326,262},{306,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,102}</string>
<key>spriteSize</key>
<string>{244,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{274,1368},{244,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,97}</string>
<key>spriteSize</key>
<string>{206,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{806,1352},{206,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,101}</string>
<key>spriteSize</key>
<string>{228,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1484},{228,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9005_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,107}</string>
<key>spriteSize</key>
<string>{270,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,1116},{270,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,105}</string>
<key>spriteSize</key>
<string>{270,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1236},{270,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,103}</string>
<key>spriteSize</key>
<string>{272,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{556,1108},{272,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,105}</string>
<key>spriteSize</key>
<string>{272,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,988},{272,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,106}</string>
<key>spriteSize</key>
<string>{274,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{596,858},{274,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,107}</string>
<key>spriteSize</key>
<string>{274,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{596,606},{274,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,107}</string>
<key>spriteSize</key>
<string>{272,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{282,864},{272,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,100}</string>
<key>spriteSize</key>
<string>{304,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{326,372},{304,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,130}</string>
<key>spriteSize</key>
<string>{278,278}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,708},{278,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,149}</string>
<key>spriteSize</key>
<string>{196,316}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{666,2},{196,316}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-47,140}</string>
<key>spriteSize</key>
<string>{172,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{632,432},{172,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,142}</string>
<key>spriteSize</key>
<string>{202,302}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,504},{202,302}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,113}</string>
<key>spriteSize</key>
<string>{322,258}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{342,2},{322,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,107}</string>
<key>spriteSize</key>
<string>{338,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{338,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,110}</string>
<key>spriteSize</key>
<string>{322,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,250},{322,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9005_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,115}</string>
<key>spriteSize</key>
<string>{288,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{306,602},{288,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9005.png</string>
</dict>
</dict>
</plist>