<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9005_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,88}</string>
<key>spriteSize</key>
<string>{246,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,598},{246,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9005_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,87}</string>
<key>spriteSize</key>
<string>{290,242}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,306},{290,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9005_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,86}</string>
<key>spriteSize</key>
<string>{302,240}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{302,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9005_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,86}</string>
<key>spriteSize</key>
<string>{278,240}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,2},{278,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9005_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,87}</string>
<key>spriteSize</key>
<string>{234,242}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,774},{234,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9005_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,88}</string>
<key>spriteSize</key>
<string>{222,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,528},{222,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9005_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,88}</string>
<key>spriteSize</key>
<string>{232,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,282},{232,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9005.png</string>
</dict>
</dict>
</plist>