<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9005_H_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{142,122}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{877,2},{142,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-14}</string>
<key>spriteSize</key>
<string>{140,120}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{877,126},{140,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-22}</string>
<key>spriteSize</key>
<string>{160,124}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,688},{160,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9005_H_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-13}</string>
<key>spriteSize</key>
<string>{172,122}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{841,248},{172,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-12}</string>
<key>spriteSize</key>
<string>{150,124}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,850},{150,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9005_H_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-11}</string>
<key>spriteSize</key>
<string>{160,126}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{797,560},{160,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-29}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,588},{136,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-29}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,450},{136,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9005_H_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-29}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{502,312},{136,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9005_H_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-29}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{502,174},{136,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9005_H_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,15}</string>
<key>spriteSize</key>
<string>{201,182}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{594,438},{201,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,17}</string>
<key>spriteSize</key>
<string>{203,186}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{813,372},{203,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,19}</string>
<key>spriteSize</key>
<string>{267,190}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{608,2},{267,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,9}</string>
<key>spriteSize</key>
<string>{301,170}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{305,2},{301,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,9}</string>
<key>spriteSize</key>
<string>{301,170}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{2,2},{301,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,9}</string>
<key>spriteSize</key>
<string>{249,170}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{2,174},{249,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,9}</string>
<key>spriteSize</key>
<string>{247,170}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{253,174},{247,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-14}</string>
<key>spriteSize</key>
<string>{245,124}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{594,194},{245,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-18}</string>
<key>spriteSize</key>
<string>{217,116}</string>
<key>spriteSourceSize</key>
<string>{315,300}</string>
<key>textureRect</key>
<string>{{594,320},{217,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9005_H_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{959,560},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9005_H.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9005_H.png</string>
</dict>
</dict>
</plist>