<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7002_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,127}</string>
<key>spriteSize</key>
<string>{196,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,2},{196,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,127}</string>
<key>spriteSize</key>
<string>{196,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,2},{196,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,127}</string>
<key>spriteSize</key>
<string>{196,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,276},{196,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,127}</string>
<key>spriteSize</key>
<string>{196,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,556},{196,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,127}</string>
<key>spriteSize</key>
<string>{198,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,556},{198,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,127}</string>
<key>spriteSize</key>
<string>{200,272}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,2},{200,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,128}</string>
<key>spriteSize</key>
<string>{200,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{204,280},{200,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,129}</string>
<key>spriteSize</key>
<string>{200,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,280},{200,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,129}</string>
<key>spriteSize</key>
<string>{202,276}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{202,276}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,128}</string>
<key>spriteSize</key>
<string>{200,274}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,558},{200,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7002.png</string>
</dict>
</dict>
</plist>