<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7002_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,47}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,944},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,47}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,948},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,46}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,976},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,47}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{720,918},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,47}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,850},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,47}</string>
<key>spriteSize</key>
<string>{94,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,856},{94,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,48}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,660},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,48}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,880},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,48}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,866},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,47}</string>
<key>spriteSize</key>
<string>{94,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,848},{94,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{68,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,848},{68,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,1024},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,660},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,1132},{80,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,1096},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,1042},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,1154},{78,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,550},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,49}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,944},{74,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,952},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{152,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,218},{152,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,45}</string>
<key>spriteSize</key>
<string>{152,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,328},{152,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{156,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,214},{156,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{158,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,108},{158,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{158,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,2},{158,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{156,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,206},{156,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{154,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,318},{154,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{154,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,216},{154,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{152,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,218},{152,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,46}</string>
<key>spriteSize</key>
<string>{152,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,216},{152,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,43}</string>
<key>spriteSize</key>
<string>{164,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,100},{164,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,43}</string>
<key>spriteSize</key>
<string>{162,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,108},{162,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,43}</string>
<key>spriteSize</key>
<string>{160,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,2},{160,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,43}</string>
<key>spriteSize</key>
<string>{160,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,2},{160,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,43}</string>
<key>spriteSize</key>
<string>{158,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,110},{158,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,43}</string>
<key>spriteSize</key>
<string>{154,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,112},{154,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,43}</string>
<key>spriteSize</key>
<string>{154,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,324},{154,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,44}</string>
<key>spriteSize</key>
<string>{158,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,108},{158,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,44}</string>
<key>spriteSize</key>
<string>{164,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,2},{164,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,43}</string>
<key>spriteSize</key>
<string>{166,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{166,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,43}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,1234},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,43}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,1220},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,43}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,1214},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,39}</string>
<key>spriteSize</key>
<string>{96,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1056},{96,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,36}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,454},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,35}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,844},{98,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,36}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{374,748},{98,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,38}</string>
<key>spriteSize</key>
<string>{100,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{810,1038},{100,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,41}</string>
<key>spriteSize</key>
<string>{98,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,1120},{98,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,43}</string>
<key>spriteSize</key>
<string>{98,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,1054},{98,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,46}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,944},{86,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,36}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{224,1140},{78,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,40}</string>
<key>spriteSize</key>
<string>{114,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,766},{114,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,48}</string>
<key>spriteSize</key>
<string>{128,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,416},{128,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{98,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,780},{98,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,760},{88,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,47}</string>
<key>spriteSize</key>
<string>{96,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,850},{96,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,48}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,758},{88,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,48}</string>
<key>spriteSize</key>
<string>{92,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,756},{92,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,50}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,962},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,48}</string>
<key>spriteSize</key>
<string>{92,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,1208},{92,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,43}</string>
<key>spriteSize</key>
<string>{114,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,770},{114,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,1180},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,55}</string>
<key>spriteSize</key>
<string>{98,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,1032},{98,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,56}</string>
<key>spriteSize</key>
<string>{88,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,670},{88,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{120,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,674},{120,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,49}</string>
<key>spriteSize</key>
<string>{110,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{698,1012},{110,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,49}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1070},{92,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{146,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,430},{146,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1164},{106,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,37}</string>
<key>spriteSize</key>
<string>{120,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,650},{120,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,46}</string>
<key>spriteSize</key>
<string>{84,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,656},{84,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{110,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,328},{110,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,51}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,434},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{120,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,654},{120,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,45}</string>
<key>spriteSize</key>
<string>{124,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,440},{124,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,438},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,47}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,330},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,40}</string>
<key>spriteSize</key>
<string>{96,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,944},{96,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,650},{118,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,39}</string>
<key>spriteSize</key>
<string>{98,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,550},{98,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{106,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,548},{106,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,38}</string>
<key>spriteSize</key>
<string>{126,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,526},{126,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,51}</string>
<key>spriteSize</key>
<string>{124,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,548},{124,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,53}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{738,530},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,43}</string>
<key>spriteSize</key>
<string>{144,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,328},{144,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,47}</string>
<key>spriteSize</key>
<string>{90,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1270},{90,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,39}</string>
<key>spriteSize</key>
<string>{80,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,1126},{80,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,36}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{610,562},{118,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,33}</string>
<key>spriteSize</key>
<string>{126,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,554},{126,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{96,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,1042},{96,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,24}</string>
<key>spriteSize</key>
<string>{86,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,328},{86,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{96,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,2},{96,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,49}</string>
<key>spriteSize</key>
<string>{94,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,430},{94,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,39}</string>
<key>spriteSize</key>
<string>{100,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,742},{100,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7002.png</string>
</dict>
</dict>
</plist>