<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_8004_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-14}</string>
<key>spriteSize</key>
<string>{180,68}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{537,396},{180,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{182,68}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{473,212},{182,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-15}</string>
<key>spriteSize</key>
<string>{184,68}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{403,212},{184,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-14}</string>
<key>spriteSize</key>
<string>{184,70}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{336,938},{184,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-15}</string>
<key>spriteSize</key>
<string>{184,70}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{150,940},{184,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-14}</string>
<key>spriteSize</key>
<string>{184,68}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{397,446},{184,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{182,68}</string>
<key>spriteSourceSize</key>
<string>{338,188}</string>
<key>textureRect</key>
<string>{{467,398},{182,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-55}</string>
<key>spriteSize</key>
<string>{124,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{543,302},{124,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-55}</string>
<key>spriteSize</key>
<string>{124,86}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{543,302},{124,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-32}</string>
<key>spriteSize</key>
<string>{126,170}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{501,2},{126,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,2}</string>
<key>spriteSize</key>
<string>{130,238}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{140,2},{130,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,2}</string>
<key>spriteSize</key>
<string>{140,236}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,484},{140,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,4}</string>
<key>spriteSize</key>
<string>{144,232}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{144,484},{144,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-1}</string>
<key>spriteSize</key>
<string>{146,222}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{150,242},{146,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,2}</string>
<key>spriteSize</key>
<string>{146,238}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,244},{146,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,5}</string>
<key>spriteSize</key>
<string>{146,232}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,722},{146,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,1}</string>
<key>spriteSize</key>
<string>{136,240}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{136,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{120,222}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{272,2},{120,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{114,220}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{150,718},{114,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-37}</string>
<key>spriteSize</key>
<string>{218,103}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{298,226},{218,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-36}</string>
<key>spriteSize</key>
<string>{218,105}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{290,466},{218,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-36}</string>
<key>spriteSize</key>
<string>{218,105}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{266,718},{218,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-36}</string>
<key>spriteSize</key>
<string>{208,105}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{394,2},{208,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-36}</string>
<key>spriteSize</key>
<string>{198,105}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{373,686},{198,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-37}</string>
<key>spriteSize</key>
<string>{126,103}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{543,174},{126,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-37}</string>
<key>spriteSize</key>
<string>{122,103}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{629,2},{122,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-39}</string>
<key>spriteSize</key>
<string>{122,99}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{648,126},{122,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_2_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-39}</string>
<key>spriteSize</key>
<string>{122,99}</string>
<key>spriteSourceSize</key>
<string>{300,225}</string>
<key>textureRect</key>
<string>{{467,582},{122,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_2_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{2,956},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8004_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8004_skill_2.png</string>
</dict>
</dict>
</plist>