<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_8004_skill_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,9}</string>
<key>spriteSize</key>
<string>{49,53}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,383},{49,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,6}</string>
<key>spriteSize</key>
<string>{99,83}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{294,182},{99,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,5}</string>
<key>spriteSize</key>
<string>{99,83}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{409,105},{99,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-3}</string>
<key>spriteSize</key>
<string>{117,81}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{298,2},{117,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-3}</string>
<key>spriteSize</key>
<string>{111,95}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{296,85},{111,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-4}</string>
<key>spriteSize</key>
<string>{81,65}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{290,267},{81,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{81,81}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{395,190},{81,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-3}</string>
<key>spriteSize</key>
<string>{101,87}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{417,2},{101,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8004_skill_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,1}</string>
<key>spriteSize</key>
<string>{258,77}</string>
<key>spriteSourceSize</key>
<string>{540,135}</string>
<key>textureRect</key>
<string>{{2,304},{258,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{290,77}</string>
<key>spriteSourceSize</key>
<string>{540,135}</string>
<key>textureRect</key>
<string>{{2,154},{290,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,75}</string>
<key>spriteSourceSize</key>
<string>{540,135}</string>
<key>textureRect</key>
<string>{{2,77},{292,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{294,73}</string>
<key>spriteSourceSize</key>
<string>{540,135}</string>
<key>textureRect</key>
<string>{{2,2},{294,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8004_skill_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,3}</string>
<key>spriteSize</key>
<string>{286,69}</string>
<key>spriteSourceSize</key>
<string>{540,135}</string>
<key>textureRect</key>
<string>{{2,233},{286,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8004_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8004_skill_1.png</string>
</dict>
</dict>
</plist>