<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9010_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,151}</string>
<key>spriteSize</key>
<string>{194,190}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{522,1816},{194,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{83,54}</string>
<key>spriteSize</key>
<string>{226,152}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{794,1256},{226,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{112,11}</string>
<key>spriteSize</key>
<string>{332,164}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{332,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{50,117}</string>
<key>spriteSize</key>
<string>{246,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{774,1410},{246,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{59,117}</string>
<key>spriteSize</key>
<string>{200,202}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{522,1614},{200,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,93}</string>
<key>spriteSize</key>
<string>{192,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{270,1000},{192,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,95}</string>
<key>spriteSize</key>
<string>{202,258}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{820,474},{202,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,96}</string>
<key>spriteSize</key>
<string>{194,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{540,868},{194,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,98}</string>
<key>spriteSize</key>
<string>{190,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1134},{190,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,105}</string>
<key>spriteSize</key>
<string>{198,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{550,474},{198,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,108}</string>
<key>spriteSize</key>
<string>{204,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,452},{204,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,108}</string>
<key>spriteSize</key>
<string>{208,270}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,616},{208,270}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,102}</string>
<key>spriteSize</key>
<string>{204,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{806,992},{204,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,107}</string>
<key>spriteSize</key>
<string>{270,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{626,202},{270,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,128}</string>
<key>spriteSize</key>
<string>{202,274}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{286,248},{202,274}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,150}</string>
<key>spriteSize</key>
<string>{190,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{274,658},{190,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-85,151}</string>
<key>spriteSize</key>
<string>{288,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{336,2},{288,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-72,125}</string>
<key>spriteSize</key>
<string>{144,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{376,1786},{144,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-92,96}</string>
<key>spriteSize</key>
<string>{134,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,998},{134,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-71,104}</string>
<key>spriteSize</key>
<string>{146,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{268,1194},{146,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,104}</string>
<key>spriteSize</key>
<string>{200,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1326},{200,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,79}</string>
<key>spriteSize</key>
<string>{198,280}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{626,2},{198,280}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,74}</string>
<key>spriteSize</key>
<string>{170,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,826},{170,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,113}</string>
<key>spriteSize</key>
<string>{192,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{544,674},{192,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,119}</string>
<key>spriteSize</key>
<string>{240,254}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{266,1342},{240,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,90}</string>
<key>spriteSize</key>
<string>{200,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{256,1584},{200,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,110}</string>
<key>spriteSize</key>
<string>{230,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1528},{230,252}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,115}</string>
<key>spriteSize</key>
<string>{210,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{812,734},{210,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,112}</string>
<key>spriteSize</key>
<string>{158,258}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{534,1212},{158,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,73}</string>
<key>spriteSize</key>
<string>{184,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1760},{184,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{109,167}</string>
<key>spriteSize</key>
<string>{216,282}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,168},{216,282}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,159}</string>
<key>spriteSize</key>
<string>{148,266}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{272,850},{148,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,71}</string>
<key>spriteSize</key>
<string>{220,146}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{228,1786},{220,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,78}</string>
<key>spriteSize</key>
<string>{264,146}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{536,1064},{264,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,102}</string>
<key>spriteSize</key>
<string>{272,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,386},{272,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9010_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,85}</string>
<key>spriteSize</key>
<string>{240,250}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{522,1372},{240,250}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9010.png</string>
</dict>
</dict>
</plist>