<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XueGuai_shouji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{147,323}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{339,2},{147,323}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XueGuai_shouji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,0}</string>
<key>spriteSize</key>
<string>{155,335}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{2,2},{155,335}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XueGuai_shouji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-2}</string>
<key>spriteSize</key>
<string>{191,315}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{2,159},{191,315}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XueGuai_shouji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{213,281}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{221,783},{213,281}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XueGuai_shouji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-29}</string>
<key>spriteSize</key>
<string>{173,251}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{319,327},{173,251}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XueGuai_shouji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{217,221}</string>
<key>spriteSourceSize</key>
<string>{233,335}</string>
<key>textureRect</key>
<string>{{2,783},{217,221}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XueGuai_shouji_guang2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{306,308}</string>
<key>spriteSourceSize</key>
<string>{340,314}</string>
<key>textureRect</key>
<string>{{2,352},{306,308}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XueGuai_shouji_guang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{201,198}</string>
<key>spriteSourceSize</key>
<string>{203,202}</string>
<key>textureRect</key>
<string>{{312,580},{201,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9010_skill2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9010_skill2.png</string>
</dict>
</dict>
</plist>