<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9010_skill1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,34}</string>
<key>spriteSize</key>
<string>{129,39}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{466,131},{129,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-21}</string>
<key>spriteSize</key>
<string>{253,147}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,153},{253,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-23}</string>
<key>spriteSize</key>
<string>{279,149}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,2},{279,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-11}</string>
<key>spriteSize</key>
<string>{175,115}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,302},{175,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-25}</string>
<key>spriteSize</key>
<string>{221,127}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{283,2},{221,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{70,68}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{172,786},{70,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{329,777},{72,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{179,386},{72,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{440,368},{72,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{440,294},{72,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{242,783},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{70,68}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{172,714},{70,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{82,80}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{88,714},{82,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{80,80}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,727},{80,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{179,302},{76,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-10}</string>
<key>spriteSize</key>
<string>{78,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{2,647},{78,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-12}</string>
<key>spriteSize</key>
<string>{78,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{243,703},{78,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-12}</string>
<key>spriteSize</key>
<string>{80,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{157,632},{80,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-13}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{165,458},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-12}</string>
<key>spriteSize</key>
<string>{86,84}</string>
<key>spriteSourceSize</key>
<string>{188,188}</string>
<key>textureRect</key>
<string>{{157,546},{86,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{93,131}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{410,525},{93,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-24}</string>
<key>spriteSize</key>
<string>{81,99}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{410,442},{81,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9010_skill1_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-20}</string>
<key>spriteSize</key>
<string>{153,101}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,544},{153,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-19}</string>
<key>spriteSize</key>
<string>{155,137}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{253,439},{155,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{181,143}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{257,294},{181,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-3}</string>
<key>spriteSize</key>
<string>{181,161}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{283,131},{181,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-23}</string>
<key>spriteSize</key>
<string>{161,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,419},{161,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-27}</string>
<key>spriteSize</key>
<string>{127,123}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{245,578},{127,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9010_skill1_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,-28}</string>
<key>spriteSize</key>
<string>{117,127}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{374,658},{117,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9010_skill1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9010_skill1.png</string>
</dict>
</dict>
</plist>