<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9023_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,35}</string>
<key>spriteSize</key>
<string>{76,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{514,88},{76,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,32}</string>
<key>spriteSize</key>
<string>{102,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{126,78},{102,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,39}</string>
<key>spriteSize</key>
<string>{98,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{230,2},{98,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,33}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{356,162},{74,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,27}</string>
<key>spriteSize</key>
<string>{122,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{122,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,32}</string>
<key>spriteSize</key>
<string>{78,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{512,166},{78,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{952,170},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{78,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{576,86},{78,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,37}</string>
<key>spriteSize</key>
<string>{88,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,90},{88,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,38}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{92,160},{88,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,38}</string>
<key>spriteSize</key>
<string>{78,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{176,162},{78,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,35}</string>
<key>spriteSize</key>
<string>{96,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{526,2},{96,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,29}</string>
<key>spriteSize</key>
<string>{84,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{428,88},{84,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,34}</string>
<key>spriteSize</key>
<string>{74,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{954,94},{74,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,39}</string>
<key>spriteSize</key>
<string>{74,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{800,164},{74,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,39}</string>
<key>spriteSize</key>
<string>{76,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{642,84},{76,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,43}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{722,2},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,39}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{624,2},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,38}</string>
<key>spriteSize</key>
<string>{82,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{820,2},{82,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,30}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{432,162},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,37}</string>
<key>spriteSize</key>
<string>{74,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{878,94},{74,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,44}</string>
<key>spriteSize</key>
<string>{72,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{876,168},{72,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,43}</string>
<key>spriteSize</key>
<string>{88,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{266,162},{88,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,47}</string>
<key>spriteSize</key>
<string>{92,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{914,2},{92,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,45}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{330,2},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,39}</string>
<key>spriteSize</key>
<string>{96,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{428,2},{96,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,37}</string>
<key>spriteSize</key>
<string>{76,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{586,166},{76,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,42}</string>
<key>spriteSize</key>
<string>{70,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{728,162},{70,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{800,86},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{102,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{126,2},{102,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,46}</string>
<key>spriteSize</key>
<string>{88,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,160},{88,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,44}</string>
<key>spriteSize</key>
<string>{70,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{230,90},{70,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9023_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{114,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,80},{114,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,38}</string>
<key>spriteSize</key>
<string>{78,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{720,84},{78,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9023_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,44}</string>
<key>spriteSize</key>
<string>{64,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{662,164},{64,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9023_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9023_run.png</string>
</dict>
</dict>
</plist>