<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_1010_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,111}</string>
<key>spriteSize</key>
<string>{164,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,2},{164,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,110}</string>
<key>spriteSize</key>
<string>{164,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,338},{164,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,110}</string>
<key>spriteSize</key>
<string>{164,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,336},{164,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,109}</string>
<key>spriteSize</key>
<string>{166,234}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,502},{166,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,110}</string>
<key>spriteSize</key>
<string>{166,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,170},{166,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,110}</string>
<key>spriteSize</key>
<string>{166,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,168},{166,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_1010_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,111}</string>
<key>spriteSize</key>
<string>{166,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{166,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_1010.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_1010.png</string>
</dict>
</dict>
</plist>