<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1011_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,17}</string>
<key>spriteSize</key>
<string>{30,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,72},{30,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,17}</string>
<key>spriteSize</key>
<string>{32,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{182,34},{32,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,18}</string>
<key>spriteSize</key>
<string>{28,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{226,162},{28,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,18}</string>
<key>spriteSize</key>
<string>{30,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{162,158},{30,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,17}</string>
<key>spriteSize</key>
<string>{30,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,2},{30,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,19}</string>
<key>spriteSize</key>
<string>{32,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,208},{32,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,15}</string>
<key>spriteSize</key>
<string>{48,38}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{182,68},{48,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,16}</string>
<key>spriteSize</key>
<string>{48,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,164},{48,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,16}</string>
<key>spriteSize</key>
<string>{44,38}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{166,208},{44,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,16}</string>
<key>spriteSize</key>
<string>{46,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,160},{46,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,15}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{66,72},{48,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,17}</string>
<key>spriteSize</key>
<string>{48,32}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,124},{48,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,11}</string>
<key>spriteSize</key>
<string>{62,32}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{66,38},{62,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,9}</string>
<key>spriteSize</key>
<string>{64,30}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,2},{64,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,14}</string>
<key>spriteSize</key>
<string>{62,36}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,44},{62,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,12}</string>
<key>spriteSize</key>
<string>{62,34}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,82},{62,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,8}</string>
<key>spriteSize</key>
<string>{64,34}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{66,2},{64,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,11}</string>
<key>spriteSize</key>
<string>{62,40}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{62,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,7}</string>
<key>spriteSize</key>
<string>{46,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{48,208},{46,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,6}</string>
<key>spriteSize</key>
<string>{46,36}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,208},{46,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,11}</string>
<key>spriteSize</key>
<string>{48,44}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,118},{48,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,10}</string>
<key>spriteSize</key>
<string>{50,40}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{52,118},{50,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,6}</string>
<key>spriteSize</key>
<string>{48,36}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,34},{48,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,8}</string>
<key>spriteSize</key>
<string>{44,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,208},{44,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{32,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,160},{32,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,4}</string>
<key>spriteSize</key>
<string>{32,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{154,124},{32,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1011_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{28,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,108},{28,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,5}</string>
<key>spriteSize</key>
<string>{30,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,158},{30,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{30,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,162},{30,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1011_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{32,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{148,72},{32,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1011_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1011_run.png</string>
</dict>
</dict>
</plist>