<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>bing_bingci_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,131}</string>
<key>spriteSourceSize</key>
<string>{219,177}</string>
<key>textureRect</key>
<string>{{348,2},{149,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bing_bingci_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{177,117}</string>
<key>spriteSourceSize</key>
<string>{219,177}</string>
<key>textureRect</key>
<string>{{2,224},{177,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bing_bingci_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-17}</string>
<key>spriteSize</key>
<string>{195,123}</string>
<key>spriteSourceSize</key>
<string>{219,177}</string>
<key>textureRect</key>
<string>{{264,211},{195,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bing_bingci_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-19}</string>
<key>spriteSize</key>
<string>{207,125}</string>
<key>spriteSourceSize</key>
<string>{219,177}</string>
<key>textureRect</key>
<string>{{221,2},{207,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bing_bingci_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-4}</string>
<key>spriteSize</key>
<string>{85,81}</string>
<key>spriteSourceSize</key>
<string>{219,177}</string>
<key>textureRect</key>
<string>{{181,224},{85,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bing_dimian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{217,220}</string>
<key>spriteSourceSize</key>
<string>{241,228}</string>
<key>textureRect</key>
<string>{{2,2},{217,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BingCi_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BingCi_effect.png</string>
</dict>
</dict>
</plist>