<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9008_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{116,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{124,194},{116,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{116,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,210},{116,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,29}</string>
<key>spriteSize</key>
<string>{112,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,400},{112,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{114,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{372,210},{114,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{122,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{256,2},{122,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,31}</string>
<key>spriteSize</key>
<string>{116,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{380,2},{116,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,32}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{254,104},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,23}</string>
<key>spriteSize</key>
<string>{100,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,108},{100,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,25}</string>
<key>spriteSize</key>
<string>{96,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{230,502},{96,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,26}</string>
<key>spriteSize</key>
<string>{94,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,780},{94,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,27}</string>
<key>spriteSize</key>
<string>{94,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,878},{94,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,676},{88,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,21}</string>
<key>spriteSize</key>
<string>{92,124}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,2},{92,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,22}</string>
<key>spriteSize</key>
<string>{104,126}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{104,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,23}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{120,304},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,23}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{242,218},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,22}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{358,308},{88,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,23}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,314},{82,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,26}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{342,592},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,27}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{342,502},{88,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,25}</string>
<key>spriteSize</key>
<string>{88,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{372,120},{88,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,30}</string>
<key>spriteSize</key>
<string>{102,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,504},{102,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,29}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,500},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,29}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,608},{86,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,27}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,696},{88,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9008_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,31}</string>
<key>spriteSize</key>
<string>{100,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,786},{100,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,29}</string>
<key>spriteSize</key>
<string>{106,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,680},{106,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,28}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{222,702},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,30}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,400},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{350,398},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{110,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,586},{110,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{114,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,310},{114,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{122,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,96},{122,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,25}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,398},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9008_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,25}</string>
<key>spriteSize</key>
<string>{106,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{226,600},{106,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9008_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9008_run.png</string>
</dict>
</dict>
</plist>