<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>DiBao_effect_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-90}</string>
<key>spriteSize</key>
<string>{351,159}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{2,708},{351,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DiBao_effect_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{351,329}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{355,333},{351,329}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DiBao_effect_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{351,329}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{355,2},{351,329}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DiBao_effect_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{351,329}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{2,355},{351,329}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DiBao_effect_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{351,329}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{2,2},{351,329}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DiBao_effect_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-26}</string>
<key>spriteSize</key>
<string>{351,287}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{708,355},{351,287}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DiBao_effect_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-26}</string>
<key>spriteSize</key>
<string>{351,287}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{708,2},{351,287}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DiBao_effect_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-28}</string>
<key>spriteSize</key>
<string>{351,283}</string>
<key>spriteSourceSize</key>
<string>{381,375}</string>
<key>textureRect</key>
<string>{{355,664},{351,283}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>DiBao_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>DiBao_effect.png</string>
</dict>
</dict>
</plist>