<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QunXianRuKou_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,816},{162,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{160,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{169,657},{160,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{160,175}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{179,2},{160,175}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{160,171}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,164},{160,171}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{162,167}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{175,164},{162,167}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{162,159}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{333,819},{162,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{164,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{173,328},{164,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,652},{162,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{169,493},{162,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{162,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{336,494},{162,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{160,175}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,2},{160,175}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{160,169}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,326},{160,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{339,330},{162,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{162,159}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{169,819},{162,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{164,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{344,164},{164,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QunXianRuKou_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,488},{162,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QunXianRuKou_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QunXianRuKou_1.png</string>
</dict>
</dict>
</plist>