<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QunXianRuKou_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{418,513},{162,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{162,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{374,856},{162,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{162,175}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{418,2},{162,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{160,171}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{414,680},{160,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-4}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{418,346},{162,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-6}</string>
<key>spriteSize</key>
<string>{162,159}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,862},{162,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-7}</string>
<key>spriteSize</key>
<string>{164,163}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{208,856},{164,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-7}</string>
<key>spriteSize</key>
<string>{162,165}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{418,179},{162,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{204,211}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{208,643},{204,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{206,213}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,219},{206,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{208,215}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,2},{208,215}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{206,209}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{210,432},{206,209}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{204,215}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{212,2},{204,215}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{204,211}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,649},{204,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{204,213}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{2,434},{204,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QunXianRuKou_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{206,211}</string>
<key>spriteSourceSize</key>
<string>{218,225}</string>
<key>textureRect</key>
<string>{{210,219},{206,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QunXianRuKou_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QunXianRuKou_2.png</string>
</dict>
</dict>
</plist>