<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZB_chuangsongmen_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{231,154}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{257,688},{231,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{261,158}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{2,2},{261,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-4}</string>
<key>spriteSize</key>
<string>{257,164}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{2,330},{257,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-6}</string>
<key>spriteSize</key>
<string>{253,166}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{2,672},{253,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{249,178}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{257,508},{249,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{253,174}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{2,496},{253,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{259,166}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{2,162},{259,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{245,166}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{261,340},{245,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{237,162}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{263,176},{237,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_chuangsongmen_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{241,172}</string>
<key>spriteSourceSize</key>
<string>{363,238}</string>
<key>textureRect</key>
<string>{{265,2},{241,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZB_chuangsongmen.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZB_chuangsongmen.png</string>
</dict>
</dict>
</plist>