<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>kuang_guang1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,15}</string>
<key>spriteSize</key>
<string>{351,171}</string>
<key>spriteSourceSize</key>
<string>{401,215}</string>
<key>textureRect</key>
<string>{{2,2},{351,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{112,106}</string>
<key>spriteSourceSize</key>
<string>{162,162}</string>
<key>textureRect</key>
<string>{{355,2},{112,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,-15}</string>
<key>spriteSize</key>
<string>{209,168}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{249,521},{209,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-12}</string>
<key>spriteSize</key>
<string>{245,176}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{2,517},{245,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{249,168}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{2,175},{249,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-14}</string>
<key>spriteSize</key>
<string>{227,182}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{253,175},{227,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-24}</string>
<key>spriteSize</key>
<string>{247,170}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{2,345},{247,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kuang_lizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-17}</string>
<key>spriteSize</key>
<string>{239,160}</string>
<key>spriteSourceSize</key>
<string>{263,230}</string>
<key>textureRect</key>
<string>{{251,359},{239,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>kuang_guang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>kuang_guang.png</string>
</dict>
</dict>
</plist>