<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>changjing_hua.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{71,72}</string>
<key>spriteSourceSize</key>
<string>{87,86}</string>
<key>textureRect</key>
<string>{{2,362},{71,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>changjing_yun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,11}</string>
<key>spriteSize</key>
<string>{358,208}</string>
<key>spriteSourceSize</key>
<string>{500,500}</string>
<key>textureRect</key>
<string>{{2,2},{358,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>kuang_changjing.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>kuang_changjing.png</string>
</dict>
</dict>
</plist>