<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7008_fazhen_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{171,166}</string>
<key>spriteSourceSize</key>
<string>{263,240}</string>
<key>textureRect</key>
<string>{{2,2},{171,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guang_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{75,74}</string>
<key>spriteSourceSize</key>
<string>{133,126}</string>
<key>textureRect</key>
<string>{{227,938},{75,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_69.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-18}</string>
<key>spriteSize</key>
<string>{43,105}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{405,500},{43,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_70.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-14}</string>
<key>spriteSize</key>
<string>{43,131}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{315,257},{43,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_71.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-10}</string>
<key>spriteSize</key>
<string>{43,139}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{330,212},{43,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_72.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-10}</string>
<key>spriteSize</key>
<string>{41,139}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{174,223},{41,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_73.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{41,141}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{330,169},{41,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_74.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{41,123}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{299,359},{41,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_75.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{39,119}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{132,318},{39,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guangxian_76.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-9}</string>
<key>spriteSize</key>
<string>{31,111}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{399,545},{31,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_77.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-10}</string>
<key>spriteSize</key>
<string>{31,113}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{292,450},{31,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guangxian_78.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-15}</string>
<key>spriteSize</key>
<string>{27,107}</string>
<key>spriteSourceSize</key>
<string>{125,227}</string>
<key>textureRect</key>
<string>{{145,170},{27,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,14}</string>
<key>spriteSize</key>
<string>{94,39}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{2,705},{94,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,3}</string>
<key>spriteSize</key>
<string>{100,59}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{282,681},{100,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{130,65}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{174,266},{130,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{130,55}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{306,302},{130,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{128,57}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{2,306},{128,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-5}</string>
<key>spriteSize</key>
<string>{124,57}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{173,333},{124,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-5}</string>
<key>spriteSize</key>
<string>{114,57}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{2,508},{114,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-3}</string>
<key>spriteSize</key>
<string>{104,51}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{398,668},{104,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan1_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,-2}</string>
<key>spriteSize</key>
<string>{72,49}</string>
<key>spriteSourceSize</key>
<string>{218,117}</string>
<key>textureRect</key>
<string>{{90,913},{72,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,19}</string>
<key>spriteSize</key>
<string>{110,26}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{172,604},{110,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,1}</string>
<key>spriteSize</key>
<string>{80,62}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{92,831},{80,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_guanquan2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{168,58}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{175,54},{168,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-7}</string>
<key>spriteSize</key>
<string>{170,50}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{175,2},{170,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-11}</string>
<key>spriteSize</key>
<string>{168,42}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{175,114},{168,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-8}</string>
<key>spriteSize</key>
<string>{162,48}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{347,2},{162,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-8}</string>
<key>spriteSize</key>
<string>{154,48}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{345,119},{154,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-8}</string>
<key>spriteSize</key>
<string>{118,46}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{294,402},{118,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,-6}</string>
<key>spriteSize</key>
<string>{102,44}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{407,454},{102,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_guanquan2_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{58,-5}</string>
<key>spriteSize</key>
<string>{56,42}</string>
<key>spriteSourceSize</key>
<string>{266,140}</string>
<key>textureRect</key>
<string>{{129,439},{56,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-61}</string>
<key>spriteSize</key>
<string>{39,61}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{156,850},{39,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_juji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-47}</string>
<key>spriteSize</key>
<string>{55,85}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{2,966},{55,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-10}</string>
<key>spriteSize</key>
<string>{65,155}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{347,52},{65,155}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-13}</string>
<key>spriteSize</key>
<string>{63,141}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{2,241},{63,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{63,153}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{175,158},{63,153}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,16}</string>
<key>spriteSize</key>
<string>{69,141}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{2,170},{69,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{67,117}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{173,447},{67,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,30}</string>
<key>spriteSize</key>
<string>{53,119}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{173,392},{53,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,29}</string>
<key>spriteSize</key>
<string>{45,119}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{2,461},{45,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,24}</string>
<key>spriteSize</key>
<string>{43,111}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{173,516},{43,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,24}</string>
<key>spriteSize</key>
<string>{43,111}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{292,483},{43,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,23}</string>
<key>spriteSize</key>
<string>{41,111}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{173,561},{41,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,22}</string>
<key>spriteSize</key>
<string>{41,111}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{286,528},{41,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_juji_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,21}</string>
<key>spriteSize</key>
<string>{37,109}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{473,169},{37,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_juji_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,57}</string>
<key>spriteSize</key>
<string>{27,37}</string>
<key>spriteSourceSize</key>
<string>{171,271}</string>
<key>textureRect</key>
<string>{{145,279},{27,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,8}</string>
<key>spriteSize</key>
<string>{64,48}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{123,497},{64,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_jujia_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-7}</string>
<key>spriteSize</key>
<string>{86,78}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{424,374},{86,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-6}</string>
<key>spriteSize</key>
<string>{88,78}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{2,810},{88,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-5}</string>
<key>spriteSize</key>
<string>{88,76}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{384,721},{88,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-4}</string>
<key>spriteSize</key>
<string>{86,74}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{2,890},{86,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-3}</string>
<key>spriteSize</key>
<string>{86,72}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{271,802},{86,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_jujia_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{98,68}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{2,567},{98,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{96,66}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{2,637},{96,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{96,64}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{100,651},{96,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_jujia_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{92,62}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{2,746},{92,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{92,62}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{448,280},{92,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_jujia_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,5}</string>
<key>spriteSize</key>
<string>{90,60}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{166,732},{90,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,7}</string>
<key>spriteSize</key>
<string>{88,58}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{258,742},{88,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,9}</string>
<key>spriteSize</key>
<string>{88,54}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{162,794},{88,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_jujia_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,11}</string>
<key>spriteSize</key>
<string>{86,52}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{118,563},{86,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_jujia_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,12}</string>
<key>spriteSize</key>
<string>{82,52}</string>
<key>spriteSourceSize</key>
<string>{226,182}</string>
<key>textureRect</key>
<string>{{143,964},{82,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_sheguang_64.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-1}</string>
<key>spriteSize</key>
<string>{94,125}</string>
<key>spriteSourceSize</key>
<string>{248,227}</string>
<key>textureRect</key>
<string>{{2,365},{94,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{108,110}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{286,571},{108,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{108,110}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{286,571},{108,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,4}</string>
<key>spriteSize</key>
<string>{108,98}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{172,632},{108,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_xiantiao_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,8}</string>
<key>spriteSize</key>
<string>{104,88}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{398,578},{104,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008_xiantiao_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,8}</string>
<key>spriteSize</key>
<string>{86,72}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{197,850},{86,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,19}</string>
<key>spriteSize</key>
<string>{80,64}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{96,749},{80,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,26}</string>
<key>spriteSize</key>
<string>{54,52}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{89,966},{54,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,26}</string>
<key>spriteSize</key>
<string>{54,52}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{89,966},{54,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7008_xiantiao_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-45,35}</string>
<key>spriteSize</key>
<string>{32,36}</string>
<key>spriteSourceSize</key>
<string>{186,176}</string>
<key>textureRect</key>
<string>{{474,721},{32,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7008_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7008_skill_4.png</string>
</dict>
</dict>
</plist>