<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_xl_anniu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{230,77}</string>
<key>spriteSourceSize</key>
<string>{230,77}</string>
<key>textureRect</key>
<string>{{790,97},{230,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_anniu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{230,110}</string>
<key>spriteSourceSize</key>
<string>{230,110}</string>
<key>textureRect</key>
<string>{{556,77},{230,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,310}</string>
<key>spriteSourceSize</key>
<string>{504,310}</string>
<key>textureRect</key>
<string>{{90,511},{504,310}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_btdi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,55}</string>
<key>spriteSourceSize</key>
<string>{30,55}</string>
<key>textureRect</key>
<string>{{31,989},{30,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_btdi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,55}</string>
<key>spriteSourceSize</key>
<string>{30,55}</string>
<key>textureRect</key>
<string>{{957,227},{30,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_dezhu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,26}</string>
<key>spriteSourceSize</key>
<string>{104,26}</string>
<key>textureRect</key>
<string>{{995,178},{104,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_dikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,839}</string>
<key>spriteSourceSize</key>
<string>{60,839}</string>
<key>textureRect</key>
<string>{{3,3},{60,839}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_djdi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{883,227},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_djdi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{787,253},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_djkuang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,135}</string>
<key>spriteSourceSize</key>
<string>{50,135}</string>
<key>textureRect</key>
<string>{{556,191},{50,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_djkuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,135}</string>
<key>spriteSourceSize</key>
<string>{50,135}</string>
<key>textureRect</key>
<string>{{556,245},{50,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_fenjiexian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{2,66}</string>
<key>spriteSourceSize</key>
<string>{2,66}</string>
<key>textureRect</key>
<string>{{90,1019},{2,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_guanbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{88,102}</string>
<key>textureRect</key>
<string>{{695,191},{88,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_huawen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,22}</string>
<key>spriteSourceSize</key>
<string>{92,22}</string>
<key>textureRect</key>
<string>{{787,227},{92,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_huizhang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,90}</string>
<key>spriteSourceSize</key>
<string>{112,90}</string>
<key>textureRect</key>
<string>{{905,3},{112,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_jdtdi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,23}</string>
<key>spriteSourceSize</key>
<string>{40,23}</string>
<key>textureRect</key>
<string>{{912,345},{40,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_jdtdi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,40}</string>
<key>spriteSourceSize</key>
<string>{15,40}</string>
<key>textureRect</key>
<string>{{67,555},{15,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,47}</string>
<key>spriteSourceSize</key>
<string>{44,47}</string>
<key>textureRect</key>
<string>{{861,301},{44,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,26}</string>
<key>spriteSourceSize</key>
<string>{60,26}</string>
<key>textureRect</key>
<string>{{957,286},{60,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,26}</string>
<key>spriteSourceSize</key>
<string>{53,26}</string>
<key>textureRect</key>
<string>{{695,297},{53,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_jindutiao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,19}</string>
<key>spriteSourceSize</key>
<string>{40,19}</string>
<key>textureRect</key>
<string>{{67,511},{40,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_jindutiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{13,40}</string>
<key>spriteSourceSize</key>
<string>{13,40}</string>
<key>textureRect</key>
<string>{{67,599},{13,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_meishuzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,38}</string>
<key>spriteSourceSize</key>
<string>{139,38}</string>
<key>textureRect</key>
<string>{{3,846},{139,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_meishuzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,38}</string>
<key>spriteSourceSize</key>
<string>{139,38}</string>
<key>textureRect</key>
<string>{{45,846},{139,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{752,297},{52,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,31}</string>
<key>spriteSourceSize</key>
<string>{24,31}</string>
<key>textureRect</key>
<string>{{3,989},{24,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_tanchuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,485}</string>
<key>spriteSourceSize</key>
<string>{504,485}</string>
<key>textureRect</key>
<string>{{67,3},{504,485}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xl_tubiaodi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{912,301},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_tubiaodi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{956,316},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_wz_jinjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{345,70}</string>
<key>spriteSourceSize</key>
<string>{345,70}</string>
<key>textureRect</key>
<string>{{556,3},{345,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xl_xldi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{201,45}</string>
<key>spriteSourceSize</key>
<string>{201,45}</string>
<key>textureRect</key>
<string>{{790,178},{201,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_35_xl.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_35_xl.png</string>
</dict>
</dict>
</plist>