<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_biaoqian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,65}</string>
<key>spriteSourceSize</key>
<string>{80,65}</string>
<key>textureRect</key>
<string>{{219,143},{80,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_fwjh_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,592}</string>
<key>spriteSourceSize</key>
<string>{118,592}</string>
<key>textureRect</key>
<string>{{356,53},{118,592}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_fwjh_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,40}</string>
<key>spriteSourceSize</key>
<string>{57,40}</string>
<key>textureRect</key>
<string>{{312,9},{57,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_fwjh_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,130}</string>
<key>spriteSourceSize</key>
<string>{139,130}</string>
<key>textureRect</key>
<string>{{169,9},{139,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_fwjh_ht.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,162}</string>
<key>spriteSourceSize</key>
<string>{40,162}</string>
<key>textureRect</key>
<string>{{3,9},{40,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_fwjh_hx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{350,2}</string>
<key>spriteSourceSize</key>
<string>{350,2}</string>
<key>textureRect</key>
<string>{{3,3},{350,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_fwjh_jdt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,30}</string>
<key>spriteSourceSize</key>
<string>{42,30}</string>
<key>textureRect</key>
<string>{{478,85},{42,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_fwjh_jdt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,30}</string>
<key>spriteSourceSize</key>
<string>{42,30}</string>
<key>textureRect</key>
<string>{{478,131},{42,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_huoqu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,31}</string>
<key>spriteSourceSize</key>
<string>{28,31}</string>
<key>textureRect</key>
<string>{{478,53},{28,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_gg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{594,76}</string>
<key>spriteSourceSize</key>
<string>{594,76}</string>
<key>textureRect</key>
<string>{{219,320},{594,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_jiangchi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,46}</string>
<key>spriteSourceSize</key>
<string>{144,46}</string>
<key>textureRect</key>
<string>{{357,3},{144,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_liangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,113}</string>
<key>spriteSourceSize</key>
<string>{85,113}</string>
<key>textureRect</key>
<string>{{3,53},{85,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_yuanbao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,142},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuanbao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,143},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuanbao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,250},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuanbao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,212},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuanbao05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,251},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuanbao06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,358},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_zongjiangchi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,36}</string>
<key>spriteSourceSize</key>
<string>{111,36}</string>
<key>textureRect</key>
<string>{{312,70},{111,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_53_fwjh.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_53_fwjh.png</string>
</dict>
</dict>
</plist>