<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_daan_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,43}</string>
<key>spriteSourceSize</key>
<string>{36,43}</string>
<key>textureRect</key>
<string>{{95,52},{36,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_daan_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,43}</string>
<key>spriteSourceSize</key>
<string>{36,43}</string>
<key>textureRect</key>
<string>{{95,3},{36,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_daan_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,43}</string>
<key>spriteSourceSize</key>
<string>{36,43}</string>
<key>textureRect</key>
<string>{{135,3},{36,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_daan_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,26}</string>
<key>spriteSourceSize</key>
<string>{27,26}</string>
<key>textureRect</key>
<string>{{165,218},{27,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_daan_gou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,26}</string>
<key>spriteSourceSize</key>
<string>{27,26}</string>
<key>textureRect</key>
<string>{{195,52},{27,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wjhs_bg2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,84}</string>
<key>spriteSourceSize</key>
<string>{88,84}</string>
<key>textureRect</key>
<string>{{3,96},{88,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wjhs_bq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,47}</string>
<key>spriteSourceSize</key>
<string>{45,47}</string>
<key>textureRect</key>
<string>{{195,3},{45,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wjhs_dhk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,50}</string>
<key>spriteSourceSize</key>
<string>{60,50}</string>
<key>textureRect</key>
<string>{{3,188},{60,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wjhs_gouxuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,47}</string>
<key>spriteSourceSize</key>
<string>{46,47}</string>
<key>textureRect</key>
<string>{{117,167},{46,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wjhs_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,89}</string>
<key>spriteSourceSize</key>
<string>{88,89}</string>
<key>textureRect</key>
<string>{{3,3},{88,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wjhs_k.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,42}</string>
<key>spriteSourceSize</key>
<string>{42,42}</string>
<key>textureRect</key>
<string>{{142,50},{42,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wjhs_kuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,56}</string>
<key>spriteSourceSize</key>
<string>{57,56}</string>
<key>textureRect</key>
<string>{{57,188},{57,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wjhs_ltk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,56}</string>
<key>spriteSourceSize</key>
<string>{67,56}</string>
<key>textureRect</key>
<string>{{91,96},{67,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wjhs_sjbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,34}</string>
<key>spriteSourceSize</key>
<string>{44,34}</string>
<key>textureRect</key>
<string>{{117,218},{44,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_61_wjhs.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_61_wjhs.png</string>
</dict>
</dict>
</plist>