<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_zzlb_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{88,102}</string>
<key>textureRect</key>
<string>{{413,178},{88,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_cktq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,43}</string>
<key>spriteSourceSize</key>
<string>{120,43}</string>
<key>textureRect</key>
<string>{{289,176},{120,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_gx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,46}</string>
<key>spriteSourceSize</key>
<string>{46,46}</string>
<key>textureRect</key>
<string>{{456,3},{46,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,39}</string>
<key>spriteSourceSize</key>
<string>{39,39}</string>
<key>textureRect</key>
<string>{{212,219},{39,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_ljlq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,39}</string>
<key>spriteSourceSize</key>
<string>{135,39}</string>
<key>textureRect</key>
<string>{{150,176},{135,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_ljlq02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,39}</string>
<key>spriteSourceSize</key>
<string>{80,39}</string>
<key>textureRect</key>
<string>{{128,219},{80,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_mz01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,28}</string>
<key>spriteSourceSize</key>
<string>{147,28}</string>
<key>textureRect</key>
<string>{{3,3},{147,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_mz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,28}</string>
<key>spriteSourceSize</key>
<string>{147,28}</string>
<key>textureRect</key>
<string>{{154,3},{147,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_mz03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,28}</string>
<key>spriteSourceSize</key>
<string>{147,28}</string>
<key>textureRect</key>
<string>{{305,3},{147,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_mz04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,28}</string>
<key>spriteSourceSize</key>
<string>{147,28}</string>
<key>textureRect</key>
<string>{{3,35},{147,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_tb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,137}</string>
<key>spriteSourceSize</key>
<string>{143,137}</string>
<key>textureRect</key>
<string>{{154,35},{143,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_tb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,137}</string>
<key>spriteSourceSize</key>
<string>{143,137}</string>
<key>textureRect</key>
<string>{{3,67},{143,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_tb03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,137}</string>
<key>spriteSourceSize</key>
<string>{143,137}</string>
<key>textureRect</key>
<string>{{301,35},{143,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zzlb_wz_yhq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,59}</string>
<key>spriteSourceSize</key>
<string>{121,59}</string>
<key>textureRect</key>
<string>{{448,53},{121,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_zzlb_wz_yjh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,59}</string>
<key>spriteSourceSize</key>
<string>{121,59}</string>
<key>textureRect</key>
<string>{{3,208},{121,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_30_zzlb.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_30_zzlb.png</string>
</dict>
</dict>
</plist>