<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_baoxiang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{274,330}</string>
<key>spriteSourceSize</key>
<string>{274,330}</string>
<key>textureRect</key>
<string>{{733,3},{274,330}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_baoxiang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{274,330}</string>
<key>spriteSourceSize</key>
<string>{274,330}</string>
<key>textureRect</key>
<string>{{3,702},{274,330}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_baoxiang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{274,330}</string>
<key>spriteSourceSize</key>
<string>{274,330}</string>
<key>textureRect</key>
<string>{{122,337},{274,330}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_chuizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,162}</string>
<key>spriteSourceSize</key>
<string>{142,162}</string>
<key>textureRect</key>
<string>{{3,122},{142,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_mingzi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{361,115}</string>
<key>spriteSourceSize</key>
<string>{361,115}</string>
<key>textureRect</key>
<string>{{3,3},{361,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_mingzi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{361,115}</string>
<key>spriteSourceSize</key>
<string>{361,115}</string>
<key>textureRect</key>
<string>{{368,3},{361,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_mingzi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{361,115}</string>
<key>spriteSourceSize</key>
<string>{361,115}</string>
<key>textureRect</key>
<string>{{3,337},{361,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wxbk_di01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,38}</string>
<key>spriteSourceSize</key>
<string>{32,38}</string>
<key>textureRect</key>
<string>{{3,980},{32,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wxbk_di02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,32}</string>
<key>spriteSourceSize</key>
<string>{26,32}</string>
<key>textureRect</key>
<string>{{39,980},{26,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wxbk_tb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,97}</string>
<key>spriteSourceSize</key>
<string>{102,97}</string>
<key>textureRect</key>
<string>{{149,122},{102,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wxbk_tb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,97}</string>
<key>spriteSourceSize</key>
<string>{92,97}</string>
<key>textureRect</key>
<string>{{149,228},{92,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_02_wxbk.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_02_wxbk.png</string>
</dict>
</dict>
</plist>