<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_sjfls_dltx01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,258}</string>
<key>spriteSourceSize</key>
<string>{199,258}</string>
<key>textureRect</key>
<string>{{3,3},{199,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_dltx02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{181,258}</string>
<key>spriteSourceSize</key>
<string>{181,258}</string>
<key>textureRect</key>
<string>{{3,206},{181,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_dltx03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,258}</string>
<key>spriteSourceSize</key>
<string>{192,258}</string>
<key>textureRect</key>
<string>{{265,3},{192,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sjfls_heidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,28}</string>
<key>spriteSourceSize</key>
<string>{129,28}</string>
<key>textureRect</key>
<string>{{461,180},{129,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_hqys.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,97}</string>
<key>spriteSourceSize</key>
<string>{101,97}</string>
<key>textureRect</key>
<string>{{409,313},{101,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_wzd01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,36}</string>
<key>spriteSourceSize</key>
<string>{55,36}</string>
<key>textureRect</key>
<string>{{461,3},{55,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_wzd02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,36}</string>
<key>spriteSourceSize</key>
<string>{55,36}</string>
<key>textureRect</key>
<string>{{461,62},{55,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_wzd03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,36}</string>
<key>spriteSourceSize</key>
<string>{55,36}</string>
<key>textureRect</key>
<string>{{461,121},{55,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sjfls_zp01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{124,124}</string>
<key>textureRect</key>
<string>{{137,391},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sjfls_zp02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,126}</string>
<key>spriteSourceSize</key>
<string>{130,126}</string>
<key>textureRect</key>
<string>{{3,391},{130,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sjfls_zp03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,140}</string>
<key>spriteSourceSize</key>
<string>{137,140}</string>
<key>textureRect</key>
<string>{{265,265},{137,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_45_sjfls.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_45_sjfls.png</string>
</dict>
</dict>
</plist>