<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_schl_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,68}</string>
<key>spriteSourceSize</key>
<string>{145,68}</string>
<key>textureRect</key>
<string>{{65,531},{145,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_300.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,68}</string>
<key>spriteSourceSize</key>
<string>{160,68}</string>
<key>textureRect</key>
<string>{{65,386},{160,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,68}</string>
<key>spriteSourceSize</key>
<string>{93,68}</string>
<key>textureRect</key>
<string>{{3,247},{93,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_schl_tianshu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,34}</string>
<key>spriteSourceSize</key>
<string>{174,34}</string>
<key>textureRect</key>
<string>{{199,208},{174,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_schl_wz_ciri.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{221,69}</string>
<key>spriteSourceSize</key>
<string>{221,69}</string>
<key>textureRect</key>
<string>{{3,135},{221,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_wz_ciri_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{633,58}</string>
<key>spriteSourceSize</key>
<string>{633,58}</string>
<key>textureRect</key>
<string>{{3,386},{633,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_schl_wz_ylq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,69}</string>
<key>spriteSourceSize</key>
<string>{145,69}</string>
<key>textureRect</key>
<string>{{65,458},{145,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,62}</string>
<key>spriteSourceSize</key>
<string>{231,62}</string>
<key>textureRect</key>
<string>{{3,3},{231,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,62}</string>
<key>spriteSourceSize</key>
<string>{231,62}</string>
<key>textureRect</key>
<string>{{3,69},{231,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schl_xinxidi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,35}</string>
<key>spriteSourceSize</key>
<string>{192,35}</string>
<key>textureRect</key>
<string>{{3,208},{192,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_12_schl.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_12_schl.png</string>
</dict>
</dict>
</plist>