<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_huobi_slbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,27}</string>
<key>spriteSourceSize</key>
<string>{32,27}</string>
<key>textureRect</key>
<string>{{159,417},{32,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_huobi_slbg_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,32}</string>
<key>spriteSourceSize</key>
<string>{50,32}</string>
<key>textureRect</key>
<string>{{159,363},{50,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tnsc_cz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,97}</string>
<key>spriteSourceSize</key>
<string>{93,97}</string>
<key>textureRect</key>
<string>{{296,304},{93,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tnsc_czjp_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{297,297}</string>
<key>spriteSourceSize</key>
<string>{297,297}</string>
<key>textureRect</key>
<string>{{203,3},{297,297}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tnsc_hq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,97}</string>
<key>spriteSourceSize</key>
<string>{93,97}</string>
<key>textureRect</key>
<string>{{296,405},{93,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tnsc_lunbo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{196,356}</string>
<key>spriteSourceSize</key>
<string>{196,356}</string>
<key>textureRect</key>
<string>{{3,3},{196,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tnsc_wz01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,76}</string>
<key>spriteSourceSize</key>
<string>{152,76}</string>
<key>textureRect</key>
<string>{{3,363},{152,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tnsc_zhijing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,202}</string>
<key>spriteSourceSize</key>
<string>{89,202}</string>
<key>textureRect</key>
<string>{{203,304},{89,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_33_tnsc.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_33_tnsc.png</string>
</dict>
</dict>
</plist>