<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_jrkh_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{167,71}</string>
<key>spriteSourceSize</key>
<string>{167,71}</string>
<key>textureRect</key>
<string>{{307,3},{167,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_csjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{307,128},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_dhjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,91}</string>
<key>spriteSourceSize</key>
<string>{99,91}</string>
<key>textureRect</key>
<string>{{77,163},{99,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_jqhq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{411,132},{100,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrkh_meishuzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,46}</string>
<key>spriteSourceSize</key>
<string>{117,46}</string>
<key>textureRect</key>
<string>{{307,78},{117,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_wzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,40}</string>
<key>spriteSourceSize</key>
<string>{84,40}</string>
<key>textureRect</key>
<string>{{180,163},{84,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_wzdi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{478,3},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_wzdi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{478,37},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_wzdi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{50,50}</string>
<key>textureRect</key>
<string>{{428,78},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrkh_zjdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,226}</string>
<key>spriteSourceSize</key>
<string>{156,226}</string>
<key>textureRect</key>
<string>{{77,3},{156,226}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrkh_zpdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,494}</string>
<key>spriteSourceSize</key>
<string>{70,494}</string>
<key>textureRect</key>
<string>{{3,3},{70,494}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_31_jrkh.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_31_jrkh.png</string>
</dict>
</dict>
</plist>