<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_xfkh_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{736,39}</string>
<key>spriteSourceSize</key>
<string>{736,39}</string>
<key>textureRect</key>
<string>{{3,3},{736,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_hengtiao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,240}</string>
<key>spriteSourceSize</key>
<string>{63,240}</string>
<key>textureRect</key>
<string>{{3,904},{63,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,65}</string>
<key>spriteSourceSize</key>
<string>{63,65}</string>
<key>textureRect</key>
<string>{{183,539},{63,65}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_renwu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,55}</string>
<key>spriteSourceSize</key>
<string>{62,55}</string>
<key>textureRect</key>
<string>{{85,740},{62,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{85,799},{75,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{46,608},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{117,799},{75,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{133,608},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{149,827},{75,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_03_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{46,656},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{149,859},{75,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_04_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{46,698},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{193,740},{75,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_05_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{133,656},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{220,606},{75,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_06_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{133,698},{83,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,28}</string>
<key>spriteSourceSize</key>
<string>{75,28}</string>
<key>textureRect</key>
<string>{{225,685},{75,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_07_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,38}</string>
<key>spriteSourceSize</key>
<string>{83,38}</string>
<key>textureRect</key>
<string>{{151,740},{83,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,65}</string>
<key>spriteSourceSize</key>
<string>{133,65}</string>
<key>textureRect</key>
<string>{{46,539},{133,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_tianshu_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{157,78}</string>
<key>spriteSourceSize</key>
<string>{157,78}</string>
<key>textureRect</key>
<string>{{3,743},{157,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xfkh_tianshu_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,2}</string>
<key>spriteSourceSize</key>
<string>{132,2}</string>
<key>textureRect</key>
<string>{{46,650},{132,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_wz_zjdj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,47}</string>
<key>spriteSourceSize</key>
<string>{183,47}</string>
<key>textureRect</key>
<string>{{3,971},{183,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xfkh_zjdj_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,532}</string>
<key>spriteSourceSize</key>
<string>{197,532}</string>
<key>textureRect</key>
<string>{{46,3},{197,532}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_16_cfkh.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_16_cfkh.png</string>
</dict>
</dict>
</plist>