<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_ccjj_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,348}</string>
<key>spriteSourceSize</key>
<string>{504,348}</string>
<key>textureRect</key>
<string>{{3,3},{504,348}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_djgg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{464,169}</string>
<key>spriteSourceSize</key>
<string>{464,169}</string>
<key>textureRect</key>
<string>{{511,3},{464,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_djs_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,34}</string>
<key>spriteSourceSize</key>
<string>{36,34}</string>
<key>textureRect</key>
<string>{{405,355},{36,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_dlgg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{464,169}</string>
<key>spriteSourceSize</key>
<string>{464,169}</string>
<key>textureRect</key>
<string>{{511,176},{464,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_qmfl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{464,169}</string>
<key>spriteSourceSize</key>
<string>{464,169}</string>
<key>textureRect</key>
<string>{{511,349},{464,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_wz_qianwang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{225,53}</string>
<key>spriteSourceSize</key>
<string>{225,53}</string>
<key>textureRect</key>
<string>{{176,355},{225,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ccjj_wz_vip2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{168,42}</string>
<key>spriteSourceSize</key>
<string>{168,42}</string>
<key>textureRect</key>
<string>{{979,3},{168,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_ccjj_wz_vip4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{168,42}</string>
<key>spriteSourceSize</key>
<string>{168,42}</string>
<key>textureRect</key>
<string>{{979,175},{168,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_ccjj_wz_vip7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{168,42}</string>
<key>spriteSourceSize</key>
<string>{168,42}</string>
<key>textureRect</key>
<string>{{979,347},{168,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_ccjj_wz_ygrs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,41}</string>
<key>spriteSourceSize</key>
<string>{159,41}</string>
<key>textureRect</key>
<string>{{979,519},{159,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_ccjj_zlgg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{464,169}</string>
<key>spriteSourceSize</key>
<string>{464,169}</string>
<key>textureRect</key>
<string>{{3,522},{464,169}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_15_ccjj.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_15_ccjj.png</string>
</dict>
</dict>
</plist>