<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_yqyl_bt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{288,85}</string>
<key>spriteSourceSize</key>
<string>{288,85}</string>
<key>textureRect</key>
<string>{{931,3},{288,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yqyl_bt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{426,70}</string>
<key>spriteSourceSize</key>
<string>{426,70}</string>
<key>textureRect</key>
<string>{{444,180},{426,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yqyl_bt03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{355,84}</string>
<key>spriteSourceSize</key>
<string>{355,84}</string>
<key>textureRect</key>
<string>{{255,616},{355,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yqyl_rw01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,388}</string>
<key>spriteSourceSize</key>
<string>{248,388}</string>
<key>textureRect</key>
<string>{{3,616},{248,388}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yqyl_rw02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{260,393}</string>
<key>spriteSourceSize</key>
<string>{260,393}</string>
<key>textureRect</key>
<string>{{3,352},{260,393}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yqyl_rw03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{318,420}</string>
<key>spriteSourceSize</key>
<string>{318,420}</string>
<key>textureRect</key>
<string>{{444,254},{318,420}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yqyl_zi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,171}</string>
<key>spriteSourceSize</key>
<string>{437,171}</string>
<key>textureRect</key>
<string>{{3,177},{437,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yqyl_zi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,170}</string>
<key>spriteSourceSize</key>
<string>{463,170}</string>
<key>textureRect</key>
<string>{{3,3},{463,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yqyl_zi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{457,173}</string>
<key>spriteSourceSize</key>
<string>{457,173}</string>
<key>textureRect</key>
<string>{{470,3},{457,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_38_yqyl.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_38_yqyl.png</string>
</dict>
</dict>
</plist>