<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_gouxuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,39}</string>
<key>spriteSourceSize</key>
<string>{45,39}</string>
<key>textureRect</key>
<string>{{973,237},{45,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_gouxuan02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{44,927},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_cbz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,28}</string>
<key>spriteSourceSize</key>
<string>{83,28}</string>
<key>textureRect</key>
<string>{{173,399},{83,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_cjdg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,48}</string>
<key>spriteSourceSize</key>
<string>{175,48}</string>
<key>textureRect</key>
<string>{{973,3},{175,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_shouqin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,43}</string>
<key>spriteSourceSize</key>
<string>{126,43}</string>
<key>textureRect</key>
<string>{{973,280},{126,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_tgdh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,34}</string>
<key>spriteSourceSize</key>
<string>{116,34}</string>
<key>textureRect</key>
<string>{{710,303},{116,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_yuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,27}</string>
<key>spriteSourceSize</key>
<string>{30,27}</string>
<key>textureRect</key>
<string>{{924,376},{30,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{50,52}</string>
<key>textureRect</key>
<string>{{86,429},{50,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_anniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{50,52}</string>
<key>textureRect</key>
<string>{{260,399},{50,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_anniu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,52}</string>
<key>spriteSourceSize</key>
<string>{83,52}</string>
<key>textureRect</key>
<string>{{960,410},{83,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_anniu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,52}</string>
<key>spriteSourceSize</key>
<string>{83,52}</string>
<key>textureRect</key>
<string>{{896,471},{83,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_anniu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,52}</string>
<key>spriteSourceSize</key>
<string>{83,52}</string>
<key>textureRect</key>
<string>{{952,497},{83,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_anniu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,52}</string>
<key>spriteSourceSize</key>
<string>{83,52}</string>
<key>textureRect</key>
<string>{{707,428},{83,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_bangzhu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,35}</string>
<key>spriteSourceSize</key>
<string>{35,35}</string>
<key>textureRect</key>
<string>{{924,337},{35,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,149}</string>
<key>spriteSourceSize</key>
<string>{720,149}</string>
<key>textureRect</key>
<string>{{3,3},{720,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{60,60}</string>
<key>textureRect</key>
<string>{{896,407},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_cjdg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,30}</string>
<key>spriteSourceSize</key>
<string>{38,30}</string>
<key>textureRect</key>
<string>{{924,303},{38,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_dangao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,185}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{521,156},{185,185}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_hongxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,2}</string>
<key>spriteSourceSize</key>
<string>{124,2}</string>
<key>textureRect</key>
<string>{{3,399},{124,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_hqsj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,89}</string>
<key>spriteSourceSize</key>
<string>{83,89}</string>
<key>textureRect</key>
<string>{{710,341},{83,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_jfsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,89}</string>
<key>spriteSourceSize</key>
<string>{83,89}</string>
<key>textureRect</key>
<string>{{803,397},{83,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,47}</string>
<key>spriteSourceSize</key>
<string>{51,47}</string>
<key>textureRect</key>
<string>{{973,182},{51,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_libao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{239,514}</string>
<key>spriteSourceSize</key>
<string>{239,514}</string>
<key>textureRect</key>
<string>{{3,156},{239,514}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_shijing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{564,37}</string>
<key>spriteSourceSize</key>
<string>{564,37}</string>
<key>textureRect</key>
<string>{{3,410},{564,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_shijing_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{513,38}</string>
<key>spriteSourceSize</key>
<string>{513,38}</string>
<key>textureRect</key>
<string>{{44,410},{513,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_shuliang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,26}</string>
<key>spriteSourceSize</key>
<string>{28,26}</string>
<key>textureRect</key>
<string>{{131,399},{28,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_sxdg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{830,303},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_znq_wdjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,89}</string>
<key>spriteSourceSize</key>
<string>{83,89}</string>
<key>textureRect</key>
<string>{{521,345},{83,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_wqzj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,89}</string>
<key>spriteSourceSize</key>
<string>{83,89}</string>
<key>textureRect</key>
<string>{{614,345},{83,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_zhizhen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,166}</string>
<key>spriteSourceSize</key>
<string>{40,166}</string>
<key>textureRect</key>
<string>{{3,978},{40,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_znq_zhizhen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{242,296}</string>
<key>spriteSourceSize</key>
<string>{242,296}</string>
<key>textureRect</key>
<string>{{727,3},{242,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_64_znq.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_64_znq.png</string>
</dict>
</dict>
</plist>