<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_fenye_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,51}</string>
<key>spriteSourceSize</key>
<string>{97,51}</string>
<key>textureRect</key>
<string>{{455,395},{97,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_fenye_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,51}</string>
<key>spriteSourceSize</key>
<string>{97,51}</string>
<key>textureRect</key>
<string>{{228,399},{97,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_fenye_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,51}</string>
<key>spriteSourceSize</key>
<string>{97,51}</string>
<key>textureRect</key>
<string>{{118,404},{97,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{382,3},{86,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,119}</string>
<key>spriteSourceSize</key>
<string>{26,119}</string>
<key>textureRect</key>
<string>{{351,46},{26,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,119}</string>
<key>spriteSourceSize</key>
<string>{80,119}</string>
<key>textureRect</key>
<string>{{118,64},{80,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,119}</string>
<key>spriteSourceSize</key>
<string>{82,119}</string>
<key>textureRect</key>
<string>{{228,313},{82,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,119}</string>
<key>spriteSourceSize</key>
<string>{85,119}</string>
<key>textureRect</key>
<string>{{381,93},{85,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,119}</string>
<key>spriteSourceSize</key>
<string>{80,119}</string>
<key>textureRect</key>
<string>{{118,187},{80,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{228,46},{86,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,119}</string>
<key>spriteSourceSize</key>
<string>{83,119}</string>
<key>textureRect</key>
<string>{{228,226},{83,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,119}</string>
<key>spriteSourceSize</key>
<string>{85,119}</string>
<key>textureRect</key>
<string>{{381,182},{85,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{228,136},{86,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,73}</string>
<key>spriteSourceSize</key>
<string>{213,73}</string>
<key>textureRect</key>
<string>{{3,734},{213,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_djjg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,35}</string>
<key>spriteSourceSize</key>
<string>{118,35}</string>
<key>textureRect</key>
<string>{{80,911},{118,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_djyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,35}</string>
<key>spriteSourceSize</key>
<string>{118,35}</string>
<key>textureRect</key>
<string>{{351,347},{118,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_djyl_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,90}</string>
<key>spriteSourceSize</key>
<string>{83,90}</string>
<key>textureRect</key>
<string>{{114,310},{83,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,43}</string>
<key>spriteSourceSize</key>
<string>{39,43}</string>
<key>textureRect</key>
<string>{{165,492},{39,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_hengtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,33}</string>
<key>spriteSourceSize</key>
<string>{59,33}</string>
<key>textureRect</key>
<string>{{33,951},{59,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{351,386},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_nkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{118,492},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,3},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,31},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,59},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,25}</string>
<key>spriteSourceSize</key>
<string>{96,25}</string>
<key>textureRect</key>
<string>{{351,225},{96,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_shuzi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,64},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,87},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,115},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,143},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,171},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,92},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,120},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,148},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,39}</string>
<key>spriteSourceSize</key>
<string>{150,39}</string>
<key>textureRect</key>
<string>{{228,3},{150,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,176},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,199},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,227},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,255},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,283},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,204},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,232},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,260},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{202,288},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_shuzi_wzj9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,24}</string>
<key>spriteSourceSize</key>
<string>{18,24}</string>
<key>textureRect</key>
<string>{{92,311},{18,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_wz_baofu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,29}</string>
<key>spriteSourceSize</key>
<string>{44,29}</string>
<key>textureRect</key>
<string>{{473,347},{44,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wz_dqdz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,26}</string>
<key>spriteSourceSize</key>
<string>{104,26}</string>
<key>textureRect</key>
<string>{{118,34},{104,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_wz_hd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{727,85}</string>
<key>spriteSourceSize</key>
<string>{727,85}</string>
<key>textureRect</key>
<string>{{3,3},{727,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wz_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,26}</string>
<key>spriteSourceSize</key>
<string>{60,26}</string>
<key>textureRect</key>
<string>{{3,951},{60,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wz_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,26}</string>
<key>spriteSourceSize</key>
<string>{53,26}</string>
<key>textureRect</key>
<string>{{198,950},{53,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wz_jixiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,29}</string>
<key>spriteSourceSize</key>
<string>{44,29}</string>
<key>textureRect</key>
<string>{{118,459},{44,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{351,169},{52,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wz_ruyi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,29}</string>
<key>spriteSourceSize</key>
<string>{44,29}</string>
<key>textureRect</key>
<string>{{166,459},{44,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_wz_zdsz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,27}</string>
<key>spriteSourceSize</key>
<string>{106,27}</string>
<key>textureRect</key>
<string>{{118,3},{106,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_wzk_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{72,118}</string>
<key>textureRect</key>
<string>{{380,271},{72,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_wzk_bg2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,124}</string>
<key>spriteSourceSize</key>
<string>{58,124}</string>
<key>textureRect</key>
<string>{{70,951},{58,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_xian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{3,41}</string>
<key>spriteSourceSize</key>
<string>{3,41}</string>
<key>textureRect</key>
<string>{{3,1015},{3,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_xian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,3}</string>
<key>spriteSourceSize</key>
<string>{31,3}</string>
<key>textureRect</key>
<string>{{48,1014},{31,3}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_nzqk_zjjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,34}</string>
<key>spriteSourceSize</key>
<string>{173,34}</string>
<key>textureRect</key>
<string>{{80,734},{173,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_nzqk_zjjl_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,90}</string>
<key>spriteSourceSize</key>
<string>{83,90}</string>
<key>textureRect</key>
<string>{{228,454},{83,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_63_nzqk.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_63_nzqk.png</string>
</dict>
</dict>
</plist>