<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_JRSD_gsqi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,55}</string>
<key>spriteSourceSize</key>
<string>{176,55}</string>
<key>textureRect</key>
<string>{{1951,433},{176,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_jrdh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,97}</string>
<key>spriteSourceSize</key>
<string>{91,97}</string>
<key>textureRect</key>
<string>{{1951,3},{91,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_qiming01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{2010,433},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{2010,556},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{2010,679},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{1994,802},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{1951,831},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1951,954},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1989,1048},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1951,1076},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1989,1170},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qiming10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,34}</string>
<key>spriteSourceSize</key>
<string>{119,34}</string>
<key>textureRect</key>
<string>{{1989,925},{119,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_JRSD_qushi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,205},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_qushi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,243},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_qushi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,281},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_qushi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,319},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_shijian_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,34}</string>
<key>spriteSourceSize</key>
<string>{39,34}</string>
<key>textureRect</key>
<string>{{1951,793},{39,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_JRSD_zkdh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,97}</string>
<key>spriteSourceSize</key>
<string>{91,97}</string>
<key>textureRect</key>
<string>{{1951,104},{91,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrsd_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{3,3},{720,496}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrsd_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{727,3},{720,496}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrsd_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{1451,3},{720,496}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_bg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{3,802},{720,496}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_bg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{3,1526},{720,496}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrsd_bg06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{727,503},{720,496}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jrsd_bg07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{1451,727},{720,496}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_bg08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,496}</string>
<key>spriteSourceSize</key>
<string>{720,496}</string>
<key>textureRect</key>
<string>{{727,1003},{720,496}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_qx_qiming_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1951,1198},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_qx_qiming_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,34}</string>
<key>spriteSourceSize</key>
<string>{118,34}</string>
<key>textureRect</key>
<string>{{1989,1292},{118,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_qx_qishu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,55}</string>
<key>spriteSourceSize</key>
<string>{176,55}</string>
<key>textureRect</key>
<string>{{1951,613},{176,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_qx_qishu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,357},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_qx_qishu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{1951,395},{77,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_48_jrsd.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_48_jrsd.png</string>
</dict>
</dict>
</plist>