<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_618_hd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{289,34}</string>
<key>spriteSourceSize</key>
<string>{289,34}</string>
<key>textureRect</key>
<string>{{652,371},{289,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_618_jl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,26}</string>
<key>spriteSourceSize</key>
<string>{60,26}</string>
<key>textureRect</key>
<string>{{102,419},{60,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_618_khhd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,31}</string>
<key>spriteSourceSize</key>
<string>{61,31}</string>
<key>textureRect</key>
<string>{{3,419},{61,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_618_pm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{969,479},{52,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_618_qftg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{316,61}</string>
<key>spriteSourceSize</key>
<string>{316,61}</string>
<key>textureRect</key>
<string>{{652,306},{316,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_618_tghd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{316,70}</string>
<key>spriteSourceSize</key>
<string>{316,70}</string>
<key>textureRect</key>
<string>{{652,232},{316,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_618_wj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,26}</string>
<key>spriteSourceSize</key>
<string>{117,26}</string>
<key>textureRect</key>
<string>{{277,960},{117,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cj_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{168,70}</string>
<key>spriteSourceSize</key>
<string>{168,70}</string>
<key>textureRect</key>
<string>{{893,484},{168,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,3}</string>
<key>spriteSourceSize</key>
<string>{171,3}</string>
<key>textureRect</key>
<string>{{1008,139},{171,3}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,54}</string>
<key>spriteSourceSize</key>
<string>{59,54}</string>
<key>textureRect</key>
<string>{{967,509},{59,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_msbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,360}</string>
<key>spriteSourceSize</key>
<string>{132,360}</string>
<key>textureRect</key>
<string>{{655,3},{132,360}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_qftg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,47}</string>
<key>spriteSourceSize</key>
<string>{149,47}</string>
<key>textureRect</key>
<string>{{967,620},{149,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,47}</string>
<key>spriteSourceSize</key>
<string>{149,47}</string>
<key>textureRect</key>
<string>{{112,494},{149,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{34,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{75,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{116,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{157,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{198,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{239,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{280,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_xsms_zc08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{321,656},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cj_ygm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,46}</string>
<key>spriteSourceSize</key>
<string>{182,46}</string>
<key>textureRect</key>
<string>{{49,960},{182,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cj_ysq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,49}</string>
<key>spriteSourceSize</key>
<string>{132,49}</string>
<key>textureRect</key>
<string>{{972,343},{132,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_biaoqian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{235,42}</string>
<key>spriteSourceSize</key>
<string>{235,42}</string>
<key>textureRect</key>
<string>{{3,773},{235,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{60,60}</string>
<key>textureRect</key>
<string>{{38,419},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_s11_di02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,31}</string>
<key>spriteSourceSize</key>
<string>{31,31}</string>
<key>textureRect</key>
<string>{{3,381},{31,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_s11_fyanniu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,180}</string>
<key>spriteSourceSize</key>
<string>{183,180}</string>
<key>textureRect</key>
<string>{{49,773},{183,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_fyanniu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,180}</string>
<key>spriteSourceSize</key>
<string>{183,180}</string>
<key>textureRect</key>
<string>{{233,773},{183,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_jfdd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,27}</string>
<key>spriteSourceSize</key>
<string>{108,27}</string>
<key>textureRect</key>
<string>{{3,656},{108,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_jlff.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{294,27}</string>
<key>spriteSourceSize</key>
<string>{294,27}</string>
<key>textureRect</key>
<string>{{621,121},{294,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_s11_mkw.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,71}</string>
<key>spriteSourceSize</key>
<string>{72,71}</string>
<key>textureRect</key>
<string>{{893,409},{72,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_s11_xinxibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,158}</string>
<key>spriteSourceSize</key>
<string>{105,158}</string>
<key>textureRect</key>
<string>{{3,494},{105,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_s11_xinxitiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,44}</string>
<key>spriteSourceSize</key>
<string>{49,44}</string>
<key>textureRect</key>
<string>{{967,572},{49,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{397,656},{86,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sdj_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,119}</string>
<key>spriteSourceSize</key>
<string>{26,119}</string>
<key>textureRect</key>
<string>{{515,509},{26,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,119}</string>
<key>spriteSourceSize</key>
<string>{80,119}</string>
<key>textureRect</key>
<string>{{431,381},{80,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,119}</string>
<key>spriteSourceSize</key>
<string>{82,119}</string>
<key>textureRect</key>
<string>{{431,258},{82,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,119}</string>
<key>spriteSourceSize</key>
<string>{85,119}</string>
<key>textureRect</key>
<string>{{253,509},{85,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,119}</string>
<key>spriteSourceSize</key>
<string>{80,119}</string>
<key>textureRect</key>
<string>{{431,504},{80,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{520,419},{86,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sdj_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,119}</string>
<key>spriteSourceSize</key>
<string>{83,119}</string>
<key>textureRect</key>
<string>{{431,135},{83,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,119}</string>
<key>spriteSourceSize</key>
<string>{85,119}</string>
<key>textureRect</key>
<string>{{342,509},{85,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,119}</string>
<key>spriteSourceSize</key>
<string>{86,119}</string>
<key>textureRect</key>
<string>{{163,509},{86,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_an.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{237,81}</string>
<key>spriteSourceSize</key>
<string>{237,81}</string>
<key>textureRect</key>
<string>{{652,409},{237,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_biaotidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{330,47}</string>
<key>spriteSourceSize</key>
<string>{330,47}</string>
<key>textureRect</key>
<string>{{652,181},{330,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_dhkj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{648,114}</string>
<key>spriteSourceSize</key>
<string>{648,114}</string>
<key>textureRect</key>
<string>{{3,3},{648,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{614,10}</string>
<key>spriteSourceSize</key>
<string>{614,10}</string>
<key>textureRect</key>
<string>{{3,121},{614,10}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_wdc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,31}</string>
<key>spriteSourceSize</key>
<string>{107,31}</string>
<key>textureRect</key>
<string>{{972,232},{107,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sdj_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{352,38}</string>
<key>spriteSourceSize</key>
<string>{352,38}</string>
<key>textureRect</key>
<string>{{652,139},{352,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_xinxidi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,38}</string>
<key>spriteSourceSize</key>
<string>{38,38}</string>
<key>textureRect</key>
<string>{{235,960},{38,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sdj_ydc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,31}</string>
<key>spriteSourceSize</key>
<string>{107,31}</string>
<key>textureRect</key>
<string>{{362,656},{107,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_sdj_yuandian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,18}</string>
<key>spriteSourceSize</key>
<string>{18,18}</string>
<key>textureRect</key>
<string>{{986,181},{18,18}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_59_s11.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_59_s11.png</string>
</dict>
</dict>
</plist>