<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_anjian01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,89}</string>
<key>spriteSourceSize</key>
<string>{213,89}</string>
<key>textureRect</key>
<string>{{693,851},{213,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_anjian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,89}</string>
<key>spriteSourceSize</key>
<string>{213,89}</string>
<key>textureRect</key>
<string>{{3,864},{213,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_dikuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,250}</string>
<key>spriteSourceSize</key>
<string>{120,250}</string>
<key>textureRect</key>
<string>{{693,727},{120,250}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_dikuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{220,864},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_dikuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,474}</string>
<key>spriteSourceSize</key>
<string>{178,474}</string>
<key>textureRect</key>
<string>{{511,479},{178,474}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_dikuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,68}</string>
<key>spriteSourceSize</key>
<string>{68,68}</string>
<key>textureRect</key>
<string>{{910,943},{68,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djs_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,36}</string>
<key>spriteSourceSize</key>
<string>{182,36}</string>
<key>textureRect</key>
<string>{{693,944},{182,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_shuliang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,37}</string>
<key>spriteSourceSize</key>
<string>{36,37}</string>
<key>textureRect</key>
<string>{{264,864},{36,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_shuliang_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,50}</string>
<key>spriteSourceSize</key>
<string>{39,50}</string>
<key>textureRect</key>
<string>{{982,943},{39,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wuyan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,167}</string>
<key>spriteSourceSize</key>
<string>{720,167}</string>
<key>textureRect</key>
<string>{{727,3},{720,167}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xingyunbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,81}</string>
<key>spriteSourceSize</key>
<string>{88,81}</string>
<key>textureRect</key>
<string>{{910,851},{88,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xyzp_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,472}</string>
<key>spriteSourceSize</key>
<string>{720,472}</string>
<key>textureRect</key>
<string>{{3,3},{720,472}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xyzp_bg_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,381}</string>
<key>spriteSourceSize</key>
<string>{504,381}</string>
<key>textureRect</key>
<string>{{3,479},{504,381}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_05_xyzp.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_05_xyzp.png</string>
</dict>
</dict>
</plist>