<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_hongxian_schk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,3}</string>
<key>spriteSourceSize</key>
<string>{137,3}</string>
<key>textureRect</key>
<string>{{467,60},{137,3}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_tb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,323},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_tb6001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,323},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_tb6002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,323},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_tb7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,460},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jrsd_tb7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,460},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_schk_jianglibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,241}</string>
<key>spriteSourceSize</key>
<string>{58,241}</string>
<key>textureRect</key>
<string>{{405,3},{58,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schk_jy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{398,316}</string>
<key>spriteSourceSize</key>
<string>{398,316}</string>
<key>textureRect</key>
<string>{{3,3},{398,316}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_schk_wh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,53}</string>
<key>spriteSourceSize</key>
<string>{36,53}</string>
<key>textureRect</key>
<string>{{467,3},{36,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_56_schk.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_56_schk.png</string>
</dict>
</dict>
</plist>