<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_xszh_hqzhq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,91}</string>
<key>spriteSourceSize</key>
<string>{123,91}</string>
<key>textureRect</key>
<string>{{160,3},{123,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xszh_jdt.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,19}</string>
<key>spriteSourceSize</key>
<string>{40,19}</string>
<key>textureRect</key>
<string>{{112,46},{40,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_jdtdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,29}</string>
<key>spriteSourceSize</key>
<string>{50,29}</string>
<key>textureRect</key>
<string>{{147,130},{50,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{3,154},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_sldi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,39}</string>
<key>spriteSourceSize</key>
<string>{153,39}</string>
<key>textureRect</key>
<string>{{3,3},{153,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_szdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{94,94}</string>
<key>textureRect</key>
<string>{{3,249},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_wzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{201,130},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xszh_wzdi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{271,31}</string>
<key>spriteSourceSize</key>
<string>{271,31}</string>
<key>textureRect</key>
<string>{{112,69},{271,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xszh_xinxi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,104}</string>
<key>spriteSourceSize</key>
<string>{105,104}</string>
<key>textureRect</key>
<string>{{3,46},{105,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_46_xszm.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_46_xszm.png</string>
</dict>
</dict>
</plist>