<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_daojudi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,150}</string>
<key>spriteSourceSize</key>
<string>{132,150}</string>
<key>textureRect</key>
<string>{{360,3},{132,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_daojudi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,150}</string>
<key>spriteSourceSize</key>
<string>{132,150}</string>
<key>textureRect</key>
<string>{{183,266},{132,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,24}</string>
<key>spriteSourceSize</key>
<string>{36,24}</string>
<key>textureRect</key>
<string>{{405,458},{36,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jiangli_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,222}</string>
<key>spriteSourceSize</key>
<string>{176,222}</string>
<key>textureRect</key>
<string>{{3,241},{176,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jiangli_dj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{188,234}</string>
<key>spriteSourceSize</key>
<string>{188,234}</string>
<key>textureRect</key>
<string>{{3,3},{188,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,40}</string>
<key>spriteSourceSize</key>
<string>{30,40}</string>
<key>textureRect</key>
<string>{{275,477},{30,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,28}</string>
<key>spriteSourceSize</key>
<string>{41,28}</string>
<key>textureRect</key>
<string>{{274,445},{41,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,28}</string>
<key>spriteSourceSize</key>
<string>{41,28}</string>
<key>textureRect</key>
<string>{{360,458},{41,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jindutiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,23}</string>
<key>spriteSourceSize</key>
<string>{29,23}</string>
<key>textureRect</key>
<string>{{209,486},{29,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_jindutiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,23}</string>
<key>spriteSourceSize</key>
<string>{29,23}</string>
<key>textureRect</key>
<string>{{242,486},{29,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_shuzidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,201}</string>
<key>spriteSourceSize</key>
<string>{161,201}</string>
<key>textureRect</key>
<string>{{195,3},{161,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tb_hqsj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,93}</string>
<key>spriteSourceSize</key>
<string>{91,93}</string>
<key>textureRect</key>
<string>{{319,266},{91,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tb_jfsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,93}</string>
<key>spriteSourceSize</key>
<string>{91,93}</string>
<key>textureRect</key>
<string>{{414,266},{91,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tb_wdjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,93}</string>
<key>spriteSourceSize</key>
<string>{91,93}</string>
<key>textureRect</key>
<string>{{319,363},{91,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tb_wqzj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,93}</string>
<key>spriteSourceSize</key>
<string>{91,93}</string>
<key>textureRect</key>
<string>{{416,363},{91,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tongming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,34}</string>
<key>spriteSourceSize</key>
<string>{44,34}</string>
<key>textureRect</key>
<string>{{183,445},{44,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tongming_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{302,54}</string>
<key>spriteSourceSize</key>
<string>{302,54}</string>
<key>textureRect</key>
<string>{{195,208},{302,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_baifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,29}</string>
<key>spriteSourceSize</key>
<string>{26,29}</string>
<key>textureRect</key>
<string>{{176,483},{26,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,39}</string>
<key>spriteSourceSize</key>
<string>{37,39}</string>
<key>textureRect</key>
<string>{{231,445},{37,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wz_qi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,39}</string>
<key>spriteSourceSize</key>
<string>{37,39}</string>
<key>textureRect</key>
<string>{{319,458},{37,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_qucanyu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,21}</string>
<key>spriteSourceSize</key>
<string>{61,21}</string>
<key>textureRect</key>
<string>{{183,420},{61,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_qucanyu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,21}</string>
<key>spriteSourceSize</key>
<string>{59,21}</string>
<key>textureRect</key>
<string>{{248,420},{59,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_zuigaofli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{169,33}</string>
<key>spriteSourceSize</key>
<string>{169,33}</string>
<key>textureRect</key>
<string>{{3,467},{169,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_zjhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,45}</string>
<key>spriteSourceSize</key>
<string>{112,45}</string>
<key>textureRect</key>
<string>{{360,157},{112,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_36_cemb.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_36_cemb.png</string>
</dict>
</dict>
</plist>