<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_djlc_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,344}</string>
<key>spriteSourceSize</key>
<string>{504,344}</string>
<key>textureRect</key>
<string>{{511,3},{504,344}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ljcz_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{1019,351},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_ljcz_shijingbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,39}</string>
<key>spriteSourceSize</key>
<string>{38,39}</string>
<key>textureRect</key>
<string>{{3,1101},{38,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_qlyx_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,321}</string>
<key>spriteSourceSize</key>
<string>{504,321}</string>
<key>textureRect</key>
<string>{{3,458},{504,321}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_sjlc_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,344}</string>
<key>spriteSourceSize</key>
<string>{504,344}</string>
<key>textureRect</key>
<string>{{1019,3},{504,344}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_gehk_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{1527,351},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_jssse_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{1019,669},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_kl51_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{511,693},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_sdhl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,338}</string>
<key>spriteSourceSize</key>
<string>{504,338}</string>
<key>textureRect</key>
<string>{{511,351},{504,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_ydyhl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,451}</string>
<key>spriteSourceSize</key>
<string>{504,451}</string>
<key>textureRect</key>
<string>{{3,3},{504,451}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_yrj_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{3,783},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_yxhl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,344}</string>
<key>spriteSourceSize</key>
<string>{504,344}</string>
<key>textureRect</key>
<string>{{1527,3},{504,344}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_zmkh_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,314}</string>
<key>spriteSourceSize</key>
<string>{504,314}</string>
<key>textureRect</key>
<string>{{1527,669},{504,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_04_ljcz.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_04_ljcz.png</string>
</dict>
</dict>
</plist>