<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_bq_shuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,68}</string>
<key>spriteSourceSize</key>
<string>{77,68}</string>
<key>textureRect</key>
<string>{{611,452},{77,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_bq_yilingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,74}</string>
<key>spriteSourceSize</key>
<string>{73,74}</string>
<key>textureRect</key>
<string>{{692,452},{73,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jihuo_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,37}</string>
<key>spriteSourceSize</key>
<string>{144,37}</string>
<key>textureRect</key>
<string>{{3,982},{144,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_mrqd_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,604}</string>
<key>spriteSourceSize</key>
<string>{720,604}</string>
<key>textureRect</key>
<string>{{3,258},{720,604}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_mrqd_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{736,251}</string>
<key>spriteSourceSize</key>
<string>{736,251}</string>
<key>textureRect</key>
<string>{{3,3},{736,251}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_qiandao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{308,93}</string>
<key>spriteSourceSize</key>
<string>{308,93}</string>
<key>textureRect</key>
<string>{{611,258},{308,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_qiandao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{308,93}</string>
<key>spriteSourceSize</key>
<string>{308,93}</string>
<key>textureRect</key>
<string>{{923,201},{308,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_qiandao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{308,93}</string>
<key>spriteSourceSize</key>
<string>{308,93}</string>
<key>textureRect</key>
<string>{{611,355},{308,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_shijing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,28}</string>
<key>spriteSourceSize</key>
<string>{36,28}</string>
<key>textureRect</key>
<string>{{196,982},{36,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_shuoming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{228,982},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tianshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,29}</string>
<key>spriteSourceSize</key>
<string>{109,29}</string>
<key>textureRect</key>
<string>{{262,982},{109,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tongming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,36}</string>
<key>spriteSourceSize</key>
<string>{41,36}</string>
<key>textureRect</key>
<string>{{151,982},{41,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_gaoji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{225,95}</string>
<key>spriteSourceSize</key>
<string>{225,95}</string>
<key>textureRect</key>
<string>{{743,3},{225,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_wz_zhizun.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{225,95}</string>
<key>spriteSourceSize</key>
<string>{225,95}</string>
<key>textureRect</key>
<string>{{743,102},{225,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_14_mrqd.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_14_mrqd.png</string>
</dict>
</dict>
</plist>