<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_cz_chongzhi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{201,179}</string>
<key>spriteSourceSize</key>
<string>{201,179}</string>
<key>textureRect</key>
<string>{{268,516},{201,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{233,213}</string>
<key>spriteSourceSize</key>
<string>{233,213}</string>
<key>textureRect</key>
<string>{{288,110},{233,213}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cz_chongzhi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{233,213}</string>
<key>spriteSourceSize</key>
<string>{233,213}</string>
<key>textureRect</key>
<string>{{3,297},{233,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,86}</string>
<key>spriteSourceSize</key>
<string>{116,86}</string>
<key>textureRect</key>
<string>{{191,699},{116,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,103}</string>
<key>spriteSourceSize</key>
<string>{137,103}</string>
<key>textureRect</key>
<string>{{354,3},{137,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{184,116}</string>
<key>spriteSourceSize</key>
<string>{184,116}</string>
<key>textureRect</key>
<string>{{3,812},{184,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cz_chongzhi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{184,125}</string>
<key>spriteSourceSize</key>
<string>{184,125}</string>
<key>textureRect</key>
<string>{{3,683},{184,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{209,165}</string>
<key>spriteSourceSize</key>
<string>{209,165}</string>
<key>textureRect</key>
<string>{{282,347},{209,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{209,165}</string>
<key>spriteSourceSize</key>
<string>{209,165}</string>
<key>textureRect</key>
<string>{{3,514},{209,165}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhi10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{167,173}</string>
<key>spriteSourceSize</key>
<string>{167,173}</string>
<key>textureRect</key>
<string>{{123,812},{167,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_chongzhikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{241,281}</string>
<key>spriteSourceSize</key>
<string>{241,281}</string>
<key>textureRect</key>
<string>{{3,52},{241,281}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cz_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,28}</string>
<key>spriteSourceSize</key>
<string>{38,28}</string>
<key>textureRect</key>
<string>{{240,297},{38,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,28}</string>
<key>spriteSourceSize</key>
<string>{38,28}</string>
<key>textureRect</key>
<string>{{240,329},{38,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_lz_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{347,45}</string>
<key>spriteSourceSize</key>
<string>{347,45}</string>
<key>textureRect</key>
<string>{{3,3},{347,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_mengceng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,48}</string>
<key>spriteSourceSize</key>
<string>{48,48}</string>
<key>textureRect</key>
<string>{{216,514},{48,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_mxz_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,49}</string>
<key>spriteSourceSize</key>
<string>{54,49}</string>
<key>textureRect</key>
<string>{{288,52},{54,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cz_mxz_xx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,37}</string>
<key>spriteSourceSize</key>
<string>{34,37}</string>
<key>textureRect</key>
<string>{{240,361},{34,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cz_wz_shuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,75}</string>
<key>spriteSourceSize</key>
<string>{75,75}</string>
<key>textureRect</key>
<string>{{311,699},{75,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_cz_zs_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,25}</string>
<key>spriteSourceSize</key>
<string>{97,25}</string>
<key>textureRect</key>
<string>{{240,399},{97,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_13_cz.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_13_cz.png</string>
</dict>
</dict>
</plist>