<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_tfds_bfb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,34}</string>
<key>spriteSourceSize</key>
<string>{37,34}</string>
<key>textureRect</key>
<string>{{411,961},{37,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_bt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{374,108}</string>
<key>spriteSourceSize</key>
<string>{374,108}</string>
<key>textureRect</key>
<string>{{131,849},{374,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_bt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{237,36}</string>
<key>spriteSourceSize</key>
<string>{237,36}</string>
<key>textureRect</key>
<string>{{3,357},{237,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_cgzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,34}</string>
<key>spriteSourceSize</key>
<string>{67,34}</string>
<key>textureRect</key>
<string>{{442,54},{67,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_cgzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,34}</string>
<key>spriteSourceSize</key>
<string>{187,34}</string>
<key>textureRect</key>
<string>{{3,397},{187,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,59}</string>
<key>spriteSourceSize</key>
<string>{55,59}</string>
<key>textureRect</key>
<string>{{442,92},{55,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_kqts.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,38}</string>
<key>spriteSourceSize</key>
<string>{276,38}</string>
<key>textureRect</key>
<string>{{131,961},{276,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_lbzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{3,849},{153,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_lbzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{35,849},{153,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_lbzi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{67,849},{153,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_lbzi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{99,849},{153,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_lbzi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{3,435},{153,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_lbzi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{160,435},{153,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_lbzi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{3,467},{153,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_lbzi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,28}</string>
<key>spriteSourceSize</key>
<string>{153,28}</string>
<key>textureRect</key>
<string>{{3,499},{153,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_lpzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,38}</string>
<key>spriteSourceSize</key>
<string>{110,38}</string>
<key>textureRect</key>
<string>{{194,397},{110,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,72}</string>
<key>spriteSourceSize</key>
<string>{191,72}</string>
<key>textureRect</key>
<string>{{244,357},{191,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_shuzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,32}</string>
<key>spriteSourceSize</key>
<string>{36,32}</string>
<key>textureRect</key>
<string>{{449,961},{36,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_smzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{694,44}</string>
<key>spriteSourceSize</key>
<string>{694,44}</string>
<key>textureRect</key>
<string>{{442,151},{694,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_tfds_tz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{435,299}</string>
<key>spriteSourceSize</key>
<string>{435,299}</string>
<key>textureRect</key>
<string>{{3,54},{435,299}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_tfds_wzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,47}</string>
<key>spriteSourceSize</key>
<string>{504,47}</string>
<key>textureRect</key>
<string>{{3,3},{504,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_40_tfds.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_40_tfds.png</string>
</dict>
</dict>
</plist>