<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_hongxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,3}</string>
<key>spriteSourceSize</key>
<string>{137,3}</string>
<key>textureRect</key>
<string>{{454,44},{137,3}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jianying.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,385}</string>
<key>spriteSourceSize</key>
<string>{197,385}</string>
<key>textureRect</key>
<string>{{3,3},{197,385}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wenhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,51}</string>
<key>spriteSourceSize</key>
<string>{37,51}</string>
<key>textureRect</key>
<string>{{454,3},{37,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong4005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,204},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong6004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,204},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong6006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,248},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong6008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,341},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong6013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,341},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,385},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,478},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,478},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,522},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,615},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,615},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,659},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong7010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,796},{133,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yingxiong7011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{140,752},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yingxiong_wz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{280,796},{133,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_yxhk_jianglibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,241}</string>
<key>spriteSourceSize</key>
<string>{58,241}</string>
<key>textureRect</key>
<string>{{392,3},{58,241}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_50_yxhk.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_50_yxhk.png</string>
</dict>
</dict>
</plist>