<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_anniu_jubao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{165,166}</string>
<key>spriteSourceSize</key>
<string>{165,166}</string>
<key>textureRect</key>
<string>{{3,3},{165,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_cishubg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,55}</string>
<key>spriteSourceSize</key>
<string>{40,55}</string>
<key>textureRect</key>
<string>{{189,290},{40,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jubaobg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,54}</string>
<key>spriteSourceSize</key>
<string>{54,54}</string>
<key>textureRect</key>
<string>{{189,334},{54,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xiaohaobg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,55}</string>
<key>spriteSourceSize</key>
<string>{45,55}</string>
<key>textureRect</key>
<string>{{130,290},{45,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_jbbz_10bei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,77}</string>
<key>spriteSourceSize</key>
<string>{156,77}</string>
<key>textureRect</key>
<string>{{173,3},{156,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_jbbz_1bei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,77}</string>
<key>spriteSourceSize</key>
<string>{123,77}</string>
<key>textureRect</key>
<string>{{173,163},{123,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_jbbz_2bei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,77}</string>
<key>spriteSourceSize</key>
<string>{123,77}</string>
<key>textureRect</key>
<string>{{3,172},{123,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_jbbz_5bei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,77}</string>
<key>spriteSourceSize</key>
<string>{123,77}</string>
<key>textureRect</key>
<string>{{3,253},{123,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_06_jbp.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_06_jbp.png</string>
</dict>
</dict>
</plist>