<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_baowumingzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,185}</string>
<key>spriteSourceSize</key>
<string>{63,185}</string>
<key>textureRect</key>
<string>{{709,152},{63,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_wuqimingz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,185}</string>
<key>spriteSourceSize</key>
<string>{63,185}</string>
<key>textureRect</key>
<string>{{709,219},{63,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xslhl_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{702,1066}</string>
<key>spriteSourceSize</key>
<string>{702,1066}</string>
<key>textureRect</key>
<string>{{3,3},{702,1066}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xslhl_wz01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,41}</string>
<key>spriteSourceSize</key>
<string>{158,41}</string>
<key>textureRect</key>
<string>{{917,83},{158,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xslhl_wz03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,41}</string>
<key>spriteSourceSize</key>
<string>{158,41}</string>
<key>textureRect</key>
<string>{{962,83},{158,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xslhl_wz04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{76,76}</string>
<key>textureRect</key>
<string>{{919,3},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xslhl_wz05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,37}</string>
<key>spriteSourceSize</key>
<string>{197,37}</string>
<key>textureRect</key>
<string>{{709,70},{197,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xslhl_wz06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,37}</string>
<key>spriteSourceSize</key>
<string>{197,37}</string>
<key>textureRect</key>
<string>{{709,111},{197,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_xslhl_wz07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,41}</string>
<key>spriteSourceSize</key>
<string>{158,41}</string>
<key>textureRect</key>
<string>{{917,245},{158,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_xslhl_zkx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,3}</string>
<key>spriteSourceSize</key>
<string>{183,3}</string>
<key>textureRect</key>
<string>{{910,70},{183,3}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_yxmingzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,206}</string>
<key>spriteSourceSize</key>
<string>{63,206}</string>
<key>textureRect</key>
<string>{{709,3},{63,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_22_xslhl.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_22_xslhl.png</string>
</dict>
</dict>
</plist>