<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_bqbg1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{230,48}</string>
<key>spriteSourceSize</key>
<string>{230,48}</string>
<key>textureRect</key>
<string>{{349,473},{230,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_bqbg2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{230,48}</string>
<key>spriteSourceSize</key>
<string>{230,48}</string>
<key>textureRect</key>
<string>{{401,473},{230,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_jiagebg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,33}</string>
<key>spriteSourceSize</key>
<string>{34,33}</string>
<key>textureRect</key>
<string>{{453,705},{34,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_mrfl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,419}</string>
<key>spriteSourceSize</key>
<string>{504,419}</string>
<key>textureRect</key>
<string>{{3,3},{504,419}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_vip_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,28}</string>
<key>spriteSourceSize</key>
<string>{38,28}</string>
<key>textureRect</key>
<string>{{453,641},{38,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_vip_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,28}</string>
<key>spriteSourceSize</key>
<string>{38,28}</string>
<key>textureRect</key>
<string>{{453,673},{38,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_viptq_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{342,72}</string>
<key>spriteSourceSize</key>
<string>{342,72}</string>
<key>textureRect</key>
<string>{{3,426},{342,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_viptq_chakan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,43}</string>
<key>spriteSourceSize</key>
<string>{146,43}</string>
<key>textureRect</key>
<string>{{349,426},{146,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_viptq_zslb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{164,43}</string>
<key>spriteSourceSize</key>
<string>{164,43}</string>
<key>textureRect</key>
<string>{{453,473},{164,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_07_vip.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_07_vip.png</string>
</dict>
</dict>
</plist>