<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hd_ycs_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{166,3},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{3,44},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{81,44},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{159,60},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{3,117},{53,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_ycs_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{3,195},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{81,101},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{159,117},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{81,158},{53,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hd_ycs_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,74}</string>
<key>spriteSourceSize</key>
<string>{53,74}</string>
<key>textureRect</key>
<string>{{159,174},{53,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_ycs_wz01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,38}</string>
<key>spriteSourceSize</key>
<string>{67,38}</string>
<key>textureRect</key>
<string>{{81,215},{67,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hd_ycs_wz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,37}</string>
<key>spriteSourceSize</key>
<string>{159,37}</string>
<key>textureRect</key>
<string>{{3,3},{159,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_19_ycs.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_19_ycs.png</string>
</dict>
</dict>
</plist>