<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HD_djlb_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,771}</string>
<key>spriteSourceSize</key>
<string>{720,771}</string>
<key>textureRect</key>
<string>{{3,3},{720,771}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djlb_biaotizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,39}</string>
<key>spriteSourceSize</key>
<string>{147,39}</string>
<key>textureRect</key>
<string>{{95,778},{147,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_ht1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,176}</string>
<key>spriteSourceSize</key>
<string>{40,176}</string>
<key>textureRect</key>
<string>{{51,778},{40,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djlb_ht2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,186}</string>
<key>spriteSourceSize</key>
<string>{44,186}</string>
<key>textureRect</key>
<string>{{3,778},{44,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djlb_ht3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,437}</string>
<key>spriteSourceSize</key>
<string>{100,437}</string>
<key>textureRect</key>
<string>{{541,888},{100,437}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,61}</string>
<key>spriteSourceSize</key>
<string>{52,61}</string>
<key>textureRect</key>
<string>{{3,968},{52,61}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_texiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,124}</string>
<key>spriteSourceSize</key>
<string>{123,124}</string>
<key>textureRect</key>
<string>{{271,778},{123,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djlb_tqkzx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,32}</string>
<key>spriteSourceSize</key>
<string>{90,32}</string>
<key>textureRect</key>
<string>{{982,3},{90,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiao1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{106,104}</string>
<key>textureRect</key>
<string>{{217,911},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiao2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{106,104}</string>
<key>textureRect</key>
<string>{{325,906},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiao3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{106,104}</string>
<key>textureRect</key>
<string>{{398,778},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiao4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{106,104}</string>
<key>textureRect</key>
<string>{{433,888},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiao5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,104}</string>
<key>spriteSourceSize</key>
<string>{106,104}</string>
<key>textureRect</key>
<string>{{506,778},{106,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HD_djlb_tubiaodi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,129}</string>
<key>spriteSourceSize</key>
<string>{129,129}</string>
<key>textureRect</key>
<string>{{138,778},{129,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HD_djlb_wzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,40}</string>
<key>spriteSourceSize</key>
<string>{145,40}</string>
<key>textureRect</key>
<string>{{68,958},{145,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Acitivty_24_djlb.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Acitivty_24_djlb.png</string>
</dict>
</dict>
</plist>