<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BB_beibao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,111}</string>
<key>spriteSourceSize</key>
<string>{111,111}</string>
<key>textureRect</key>
<string>{{3,3},{111,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_beibao_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,24}</string>
<key>spriteSourceSize</key>
<string>{24,24}</string>
<key>textureRect</key>
<string>{{227,225},{24,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi01_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{3,250},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{183,225},{81,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_pinzhi02_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{88,267},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{3,294},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi03_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{173,310},{81,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_pinzhi03_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{88,311},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi04_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{3,338},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi04_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{88,355},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi05_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{3,382},{81,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_pinzhi05_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{3,426},{81,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_quanbu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{47,426},{81,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_quanbu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,40}</string>
<key>spriteSourceSize</key>
<string>{81,40}</string>
<key>textureRect</key>
<string>{{91,399},{81,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_zhiye01_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{117,135},{86,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_zhiye01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{207,135},{86,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BB_wz_zhiye02_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{3,162},{86,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_zhiye02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{93,179},{86,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_zhiye03_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{3,206},{86,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_wz_zhiye03_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,40}</string>
<key>spriteSourceSize</key>
<string>{86,40}</string>
<key>textureRect</key>
<string>{{93,223},{86,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_xuanzhe_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,39}</string>
<key>spriteSourceSize</key>
<string>{39,39}</string>
<key>textureRect</key>
<string>{{173,395},{39,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_xuanzhe_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,39}</string>
<key>spriteSourceSize</key>
<string>{39,39}</string>
<key>textureRect</key>
<string>{{135,438},{39,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_yingxiong_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,40}</string>
<key>spriteSourceSize</key>
<string>{110,40}</string>
<key>textureRect</key>
<string>{{118,3},{110,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_yingxiong_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,40}</string>
<key>spriteSourceSize</key>
<string>{110,40}</string>
<key>textureRect</key>
<string>{{118,47},{110,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_zhuangbei_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,40}</string>
<key>spriteSourceSize</key>
<string>{110,40}</string>
<key>textureRect</key>
<string>{{118,91},{110,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BB_zhuangbei_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,40}</string>
<key>spriteSourceSize</key>
<string>{110,40}</string>
<key>textureRect</key>
<string>{{3,118},{110,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BB_beibao.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BB_beibao.png</string>
</dict>
</dict>
</plist>