<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BW_anniu_dzgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{431,227},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_jlgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{3,240},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_jljn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,87}</string>
<key>spriteSourceSize</key>
<string>{90,87}</string>
<key>textureRect</key>
<string>{{281,506},{90,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_jnyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,87}</string>
<key>spriteSourceSize</key>
<string>{89,87}</string>
<key>textureRect</key>
<string>{{115,630},{89,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_mz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,92}</string>
<key>spriteSourceSize</key>
<string>{111,92}</string>
<key>textureRect</key>
<string>{{301,276},{111,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_qhgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{152,240},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_qhq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,87}</string>
<key>spriteSourceSize</key>
<string>{86,87}</string>
<key>textureRect</key>
<string>{{3,654},{86,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_anniu_spgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{416,311},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_tpgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{3,324},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_tpjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,87}</string>
<key>spriteSourceSize</key>
<string>{94,87}</string>
<key>textureRect</key>
<string>{{920,402},{94,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_yjhc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,91}</string>
<key>spriteSourceSize</key>
<string>{103,91}</string>
<key>textureRect</key>
<string>{{391,471},{103,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_anniu_zb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,92}</string>
<key>spriteSourceSize</key>
<string>{111,92}</string>
<key>textureRect</key>
<string>{{134,438},{111,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_baoxiangsuipian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,92}</string>
<key>spriteSourceSize</key>
<string>{111,92}</string>
<key>textureRect</key>
<string>{{3,446},{111,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_bwhe_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,137}</string>
<key>spriteSourceSize</key>
<string>{18,137}</string>
<key>textureRect</key>
<string>{{1003,140},{18,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_bwhe_mzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{347,41}</string>
<key>spriteSourceSize</key>
<string>{347,41}</string>
<key>textureRect</key>
<string>{{627,278},{347,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_daojishi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,22}</string>
<key>spriteSourceSize</key>
<string>{106,22}</string>
<key>textureRect</key>
<string>{{281,448},{106,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_dlbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{646,128}</string>
<key>spriteSourceSize</key>
<string>{646,128}</string>
<key>textureRect</key>
<string>{{3,3},{646,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_dlx01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,45}</string>
<key>spriteSourceSize</key>
<string>{57,45}</string>
<key>textureRect</key>
<string>{{208,667},{57,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_dlx02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,17}</string>
<key>spriteSourceSize</key>
<string>{42,17}</string>
<key>textureRect</key>
<string>{{980,204},{42,17}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_dlx03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,44}</string>
<key>spriteSourceSize</key>
<string>{60,44}</string>
<key>textureRect</key>
<string>{{977,338},{60,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_dlx04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,45}</string>
<key>spriteSourceSize</key>
<string>{55,45}</string>
<key>textureRect</key>
<string>{{149,791},{55,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_dlx05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,43}</string>
<key>spriteSourceSize</key>
<string>{59,43}</string>
<key>textureRect</key>
<string>{{580,227},{59,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,92}</string>
<key>spriteSourceSize</key>
<string>{111,92}</string>
<key>textureRect</key>
<string>{{118,534},{111,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,36}</string>
<key>spriteSourceSize</key>
<string>{34,36}</string>
<key>textureRect</key>
<string>{{498,471},{34,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,36}</string>
<key>spriteSourceSize</key>
<string>{34,36}</string>
<key>textureRect</key>
<string>{{233,548},{34,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_jinglian_zj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,108}</string>
<key>spriteSourceSize</key>
<string>{108,108}</string>
<key>textureRect</key>
<string>{{3,542},{108,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_mingzi_bg08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,37}</string>
<key>spriteSourceSize</key>
<string>{53,37}</string>
<key>textureRect</key>
<string>{{978,281},{53,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,73}</string>
<key>spriteSourceSize</key>
<string>{53,73}</string>
<key>textureRect</key>
<string>{{920,323},{53,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_shuliang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,37}</string>
<key>spriteSourceSize</key>
<string>{37,37}</string>
<key>textureRect</key>
<string>{{578,417},{37,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_tb_pinjie01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{35,914},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_tb_pinjie01_hui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{83,744},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_tb_pinjie02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{83,814},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_tb_pinjie02_hui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{101,884},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_tb_pinjie03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{101,954},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_tb_pinjie03_hui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{149,721},{66,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_bqcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,76}</string>
<key>spriteSourceSize</key>
<string>{81,76}</string>
<key>textureRect</key>
<string>{{3,744},{81,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_bqzl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,76}</string>
<key>spriteSourceSize</key>
<string>{81,76}</string>
<key>textureRect</key>
<string>{{3,829},{81,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_btbwjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{284,372},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btbwms.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{152,400},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btczsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,34}</string>
<key>spriteSourceSize</key>
<string>{128,34}</string>
<key>textureRect</key>
<string>{{152,324},{128,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btjcsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{3,408},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btjj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{233,586},{77,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_btjlsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,34}</string>
<key>spriteSourceSize</key>
<string>{128,34}</string>
<key>textureRect</key>
<string>{{152,362},{128,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btqhsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{415,395},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btspjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{283,410},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btspsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{414,433},{127,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_btxhcl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,32}</string>
<key>spriteSourceSize</key>
<string>{119,32}</string>
<key>textureRect</key>
<string>{{301,240},{119,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_bwjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,38}</string>
<key>spriteSourceSize</key>
<string>{192,38}</string>
<key>textureRect</key>
<string>{{431,185},{192,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_gl01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,28}</string>
<key>spriteSourceSize</key>
<string>{106,28}</string>
<key>textureRect</key>
<string>{{546,395},{106,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_gl02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,28}</string>
<key>spriteSourceSize</key>
<string>{106,28}</string>
<key>textureRect</key>
<string>{{249,438},{106,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_gl03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,28}</string>
<key>spriteSourceSize</key>
<string>{80,28}</string>
<key>textureRect</key>
<string>{{3,914},{80,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_spcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{424,101}</string>
<key>spriteSourceSize</key>
<string>{424,101}</string>
<key>textureRect</key>
<string>{{3,135},{424,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_tpcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{621,323},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_tpmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{349,70}</string>
<key>spriteSourceSize</key>
<string>{349,70}</string>
<key>textureRect</key>
<string>{{627,204},{349,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_tpsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,37}</string>
<key>spriteSourceSize</key>
<string>{123,37}</string>
<key>textureRect</key>
<string>{{580,290},{123,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_wz_wqd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,28}</string>
<key>spriteSourceSize</key>
<string>{93,28}</string>
<key>textureRect</key>
<string>{{281,474},{93,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_ycfb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{212,46}</string>
<key>spriteSourceSize</key>
<string>{212,46}</string>
<key>textureRect</key>
<string>{{431,135},{212,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_yjlzmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{352,64}</string>
<key>spriteSourceSize</key>
<string>{352,64}</string>
<key>textureRect</key>
<string>{{653,72},{352,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_yqhzmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{352,60}</string>
<key>spriteSourceSize</key>
<string>{352,60}</string>
<key>textureRect</key>
<string>{{647,140},{352,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_wz_yspzmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{352,65}</string>
<key>spriteSourceSize</key>
<string>{352,65}</string>
<key>textureRect</key>
<string>{{653,3},{352,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BW_baowu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BW_baowu.png</string>
</dict>
</dict>
</plist>