<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CB_cbbg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,342}</string>
<key>spriteSourceSize</key>
<string>{463,342}</string>
<key>textureRect</key>
<string>{{3,3},{463,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_cbbg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,342}</string>
<key>spriteSourceSize</key>
<string>{463,342}</string>
<key>textureRect</key>
<string>{{470,3},{463,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_cbbg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,342}</string>
<key>spriteSourceSize</key>
<string>{463,342}</string>
<key>textureRect</key>
<string>{{3,349},{463,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_cbbg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,342}</string>
<key>spriteSourceSize</key>
<string>{463,342}</string>
<key>textureRect</key>
<string>{{470,349},{463,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_cbbg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{463,342}</string>
<key>spriteSourceSize</key>
<string>{463,342}</string>
<key>textureRect</key>
<string>{{3,695},{463,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,59}</string>
<key>spriteSourceSize</key>
<string>{55,59}</string>
<key>textureRect</key>
<string>{{937,3},{55,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_icon_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{885,1076},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_icon_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{3,1168},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_icon_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{143,1168},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_icon_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{283,1168},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_icon_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,136}</string>
<key>spriteSourceSize</key>
<string>{133,136}</string>
<key>textureRect</key>
<string>{{423,1203},{133,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_phb_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,91}</string>
<key>spriteSourceSize</key>
<string>{90,91}</string>
<key>textureRect</key>
<string>{{911,695},{90,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_wz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,123}</string>
<key>spriteSourceSize</key>
<string>{437,123}</string>
<key>textureRect</key>
<string>{{470,695},{437,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_wz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,123}</string>
<key>spriteSourceSize</key>
<string>{437,123}</string>
<key>textureRect</key>
<string>{{470,822},{437,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_wz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,123}</string>
<key>spriteSourceSize</key>
<string>{437,123}</string>
<key>textureRect</key>
<string>{{470,949},{437,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_wz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,123}</string>
<key>spriteSourceSize</key>
<string>{437,123}</string>
<key>textureRect</key>
<string>{{3,1041},{437,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_wz_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,123}</string>
<key>spriteSourceSize</key>
<string>{437,123}</string>
<key>textureRect</key>
<string>{{444,1076},{437,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CB_wz_fhjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,47}</string>
<key>spriteSourceSize</key>
<string>{171,47}</string>
<key>textureRect</key>
<string>{{937,62},{171,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CB_wz_kqts.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,38}</string>
<key>spriteSourceSize</key>
<string>{276,38}</string>
<key>textureRect</key>
<string>{{937,237},{276,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CB_chongbang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CB_chongbang.png</string>
</dict>
</dict>
</plist>