<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CLFB_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,79}</string>
<key>spriteSourceSize</key>
<string>{141,79}</string>
<key>textureRect</key>
<string>{{3,92},{141,79}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_anniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,79}</string>
<key>spriteSourceSize</key>
<string>{141,79}</string>
<key>textureRect</key>
<string>{{457,129},{141,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_anniu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,63}</string>
<key>spriteSourceSize</key>
<string>{141,63}</string>
<key>textureRect</key>
<string>{{457,212},{141,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_cishu_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,38}</string>
<key>spriteSourceSize</key>
<string>{328,38}</string>
<key>textureRect</key>
<string>{{3,574},{328,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_cishu_di02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{391,38}</string>
<key>spriteSourceSize</key>
<string>{391,38}</string>
<key>textureRect</key>
<string>{{978,179},{391,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_duanzaoshi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{727,3},{247,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_guwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,100}</string>
<key>spriteSourceSize</key>
<string>{93,100}</string>
<key>textureRect</key>
<string>{{615,92},{93,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_guwu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,137}</string>
<key>spriteSourceSize</key>
<string>{109,137}</string>
<key>textureRect</key>
<string>{{41,906},{109,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_guwu_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,41}</string>
<key>spriteSourceSize</key>
<string>{128,41}</string>
<key>textureRect</key>
<string>{{978,3},{128,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_jinbi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{45,574},{247,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_jineng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{3,284},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{615,284},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{615,380},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{73,476},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{73,380},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{169,476},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{265,476},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jineng_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{92,92}</string>
<key>textureRect</key>
<string>{{361,476},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jinglianshi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{182,825},{247,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_jingyandan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{235,574},{247,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{615,189},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_shpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{246,32}</string>
<key>spriteSourceSize</key>
<string>{246,32}</string>
<key>textureRect</key>
<string>{{99,129},{246,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_tiaojian_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,85}</string>
<key>spriteSourceSize</key>
<string>{720,85}</string>
<key>textureRect</key>
<string>{{3,3},{720,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_tupodan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{425,574},{247,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_wenzidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{978,135},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_wz_jli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,33}</string>
<key>spriteSourceSize</key>
<string>{153,33}</string>
<key>textureRect</key>
<string>{{457,92},{153,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_yuanshenjh_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,186}</string>
<key>spriteSourceSize</key>
<string>{247,186}</string>
<key>textureRect</key>
<string>{{719,193},{247,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CLFB_zhanlidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{181,66}</string>
<key>spriteSourceSize</key>
<string>{181,66}</string>
<key>textureRect</key>
<string>{{3,383},{181,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CLFB_zlxz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,34}</string>
<key>spriteSourceSize</key>
<string>{110,34}</string>
<key>textureRect</key>
<string>{{3,906},{110,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CLFB_cailiaofuben.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CLFB_cailiaofuben.png</string>
</dict>
</dict>
</plist>