<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>CW_duihua_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,93}</string>
<key>spriteSourceSize</key>
<string>{109,93}</string>
<key>textureRect</key>
<string>{{553,1285},{109,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_duihua_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{279,223}</string>
<key>spriteSourceSize</key>
<string>{279,223}</string>
<key>textureRect</key>
<string>{{438,361},{279,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{293,282}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{723,114},{293,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{293,282}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{721,400},{293,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{293,282}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{418,603},{293,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_fuhuadan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{293,282}</string>
<key>spriteSourceSize</key>
<string>{293,282}</string>
<key>textureRect</key>
<string>{{715,686},{293,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,55}</string>
<key>spriteSourceSize</key>
<string>{55,55}</string>
<key>textureRect</key>
<string>{{363,504},{55,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jiantou_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{16,19}</string>
<key>spriteSourceSize</key>
<string>{16,19}</string>
<key>textureRect</key>
<string>{{153,1436},{16,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_jiantou_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{16,19}</string>
<key>spriteSourceSize</key>
<string>{16,19}</string>
<key>textureRect</key>
<string>{{153,1456},{16,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{13,21}</string>
<key>spriteSourceSize</key>
<string>{13,21}</string>
<key>textureRect</key>
<string>{{595,335},{13,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{13,21}</string>
<key>spriteSourceSize</key>
<string>{13,21}</string>
<key>textureRect</key>
<string>{{612,335},{13,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,24}</string>
<key>spriteSourceSize</key>
<string>{24,24}</string>
<key>textureRect</key>
<string>{{438,174},{24,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,24}</string>
<key>spriteSourceSize</key>
<string>{24,24}</string>
<key>textureRect</key>
<string>{{523,1394},{24,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{10,18}</string>
<key>spriteSourceSize</key>
<string>{10,18}</string>
<key>textureRect</key>
<string>{{423,467},{10,18}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{10,18}</string>
<key>spriteSourceSize</key>
<string>{10,18}</string>
<key>textureRect</key>
<string>{{423,489},{10,18}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{12,21}</string>
<key>spriteSourceSize</key>
<string>{12,21}</string>
<key>textureRect</key>
<string>{{422,511},{12,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_jindutiao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{12,21}</string>
<key>spriteSourceSize</key>
<string>{12,21}</string>
<key>textureRect</key>
<string>{{422,536},{12,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_leixian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,143}</string>
<key>spriteSourceSize</key>
<string>{45,143}</string>
<key>textureRect</key>
<string>{{406,1275},{45,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_leixian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,143}</string>
<key>spriteSourceSize</key>
<string>{45,143}</string>
<key>textureRect</key>
<string>{{406,1324},{45,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_shenchongtai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{431,289}</string>
<key>spriteSourceSize</key>
<string>{431,289}</string>
<key>textureRect</key>
<string>{{3,174},{431,289}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_shengjie_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{157,87}</string>
<key>spriteSourceSize</key>
<string>{157,87}</string>
<key>textureRect</key>
<string>{{632,39},{157,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_shengjie_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{157,87}</string>
<key>spriteSourceSize</key>
<string>{157,87}</string>
<key>textureRect</key>
<string>{{631,200},{157,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_tfjs01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{84,98}</string>
<key>textureRect</key>
<string>{{322,770},{84,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_tfjs02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,16}</string>
<key>spriteSourceSize</key>
<string>{36,16}</string>
<key>textureRect</key>
<string>{{418,563},{36,16}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_tftj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,33}</string>
<key>spriteSourceSize</key>
<string>{56,33}</string>
<key>textureRect</key>
<string>{{363,467},{56,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_tianshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,170}</string>
<key>spriteSourceSize</key>
<string>{50,170}</string>
<key>textureRect</key>
<string>{{651,1243},{50,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_tips.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{151,1551},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_tips_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,20}</string>
<key>spriteSourceSize</key>
<string>{37,20}</string>
<key>textureRect</key>
<string>{{322,657},{37,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_touming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{716,32}</string>
<key>spriteSourceSize</key>
<string>{716,32}</string>
<key>textureRect</key>
<string>{{3,3},{716,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_touming_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{316,46}</string>
<key>spriteSourceSize</key>
<string>{316,46}</string>
<key>textureRect</key>
<string>{{3,540},{316,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wjxq_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{625,73}</string>
<key>spriteSourceSize</key>
<string>{625,73}</string>
<key>textureRect</key>
<string>{{3,39},{625,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wjxq_hx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{599,2}</string>
<key>spriteSourceSize</key>
<string>{599,2}</string>
<key>textureRect</key>
<string>{{3,116},{599,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wjxq_hx02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{297,2}</string>
<key>spriteSourceSize</key>
<string>{297,2}</string>
<key>textureRect</key>
<string>{{723,3},{297,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_anniu_djyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,97}</string>
<key>spriteSourceSize</key>
<string>{97,97}</string>
<key>textureRect</key>
<string>{{221,932},{97,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_anniu_scyc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,97}</string>
<key>spriteSourceSize</key>
<string>{97,97}</string>
<key>textureRect</key>
<string>{{176,1450},{97,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_anniu_tj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,97}</string>
<key>spriteSourceSize</key>
<string>{97,97}</string>
<key>textureRect</key>
<string>{{3,1500},{97,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_anniu_tqk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,97}</string>
<key>spriteSourceSize</key>
<string>{97,97}</string>
<key>textureRect</key>
<string>{{277,1455},{97,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_beibao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{212,45}</string>
<key>spriteSourceSize</key>
<string>{212,45}</string>
<key>textureRect</key>
<string>{{3,1058},{212,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_czzr.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,124}</string>
<key>spriteSourceSize</key>
<string>{85,124}</string>
<key>textureRect</key>
<string>{{469,122},{85,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_dangqian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,76}</string>
<key>spriteSourceSize</key>
<string>{81,76}</string>
<key>textureRect</key>
<string>{{944,1174},{81,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_dengjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,48}</string>
<key>spriteSourceSize</key>
<string>{197,48}</string>
<key>textureRect</key>
<string>{{3,1233},{197,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_fuhuahuode.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{315,110}</string>
<key>spriteSourceSize</key>
<string>{315,110}</string>
<key>textureRect</key>
<string>{{3,590},{315,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_fuhuashi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,35}</string>
<key>spriteSourceSize</key>
<string>{94,35}</string>
<key>textureRect</key>
<string>{{615,1065},{94,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_genghuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,90}</string>
<key>spriteSourceSize</key>
<string>{85,90}</string>
<key>textureRect</key>
<string>{{322,681},{85,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_huodeshenchong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{723,9},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_jhhd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,32}</string>
<key>spriteSourceSize</key>
<string>{118,32}</string>
<key>textureRect</key>
<string>{{595,213},{118,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_jianjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,38}</string>
<key>spriteSourceSize</key>
<string>{159,38}</string>
<key>textureRect</key>
<string>{{406,1233},{159,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_jichushuxing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{214,38}</string>
<key>spriteSourceSize</key>
<string>{214,38}</string>
<key>textureRect</key>
<string>{{3,932},{214,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_jie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,37}</string>
<key>spriteSourceSize</key>
<string>{36,37}</string>
<key>textureRect</key>
<string>{{322,617},{36,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_jipinshenchong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{315,110}</string>
<key>spriteSourceSize</key>
<string>{315,110}</string>
<key>textureRect</key>
<string>{{3,704},{315,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_jjst.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,43}</string>
<key>spriteSourceSize</key>
<string>{185,43}</string>
<key>textureRect</key>
<string>{{3,1389},{185,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{356,69}</string>
<key>spriteSourceSize</key>
<string>{356,69}</string>
<key>textureRect</key>
<string>{{3,467},{356,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_mrjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,32}</string>
<key>spriteSourceSize</key>
<string>{118,32}</string>
<key>textureRect</key>
<string>{{615,1163},{118,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_pinzhi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,51}</string>
<key>spriteSourceSize</key>
<string>{114,51}</string>
<key>textureRect</key>
<string>{{363,563},{114,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_pinzhi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,51}</string>
<key>spriteSourceSize</key>
<string>{114,51}</string>
<key>textureRect</key>
<string>{{656,889},{114,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_pinzhi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,51}</string>
<key>spriteSourceSize</key>
<string>{114,51}</string>
<key>textureRect</key>
<string>{{656,1007},{114,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_pinzhi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,51}</string>
<key>spriteSourceSize</key>
<string>{114,51}</string>
<key>textureRect</key>
<string>{{953,972},{114,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_pinzhi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,51}</string>
<key>spriteSourceSize</key>
<string>{114,51}</string>
<key>textureRect</key>
<string>{{654,1125},{114,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_scjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{3,1107},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_scsj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{3,1149},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_scsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{3,1191},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_scsxsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{407,1065},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_scxh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{407,1107},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_scxl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{407,1149},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_shenchongjineng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,48}</string>
<key>spriteSourceSize</key>
<string>{197,48}</string>
<key>textureRect</key>
<string>{{3,1285},{197,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_shengzhensc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{238,39}</string>
<key>spriteSourceSize</key>
<string>{238,39}</string>
<key>textureRect</key>
<string>{{711,972},{238,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_shenxingchengg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{315,110}</string>
<key>spriteSourceSize</key>
<string>{315,110}</string>
<key>textureRect</key>
<string>{{3,818},{315,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_tujianzuhe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{214,38}</string>
<key>spriteSourceSize</key>
<string>{214,38}</string>
<key>textureRect</key>
<string>{{3,974},{214,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xilianxh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,38}</string>
<key>spriteSourceSize</key>
<string>{204,38}</string>
<key>textureRect</key>
<string>{{407,1191},{204,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xing_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{569,1233},{43,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_xing_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{551,1398},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xing_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{598,1398},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xing_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{106,1436},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xing_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{106,1481},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_xing_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,41}</string>
<key>spriteSourceSize</key>
<string>{43,41}</string>
<key>textureRect</key>
<string>{{104,1526},{43,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_yushentai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,113}</string>
<key>spriteSourceSize</key>
<string>{108,113}</string>
<key>textureRect</key>
<string>{{406,1394},{108,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_zhuzhan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,73}</string>
<key>spriteSourceSize</key>
<string>{36,73}</string>
<key>textureRect</key>
<string>{{323,540},{36,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zizhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,48}</string>
<key>spriteSourceSize</key>
<string>{197,48}</string>
<key>textureRect</key>
<string>{{3,1337},{197,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zizhishuxing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{214,38}</string>
<key>spriteSourceSize</key>
<string>{214,38}</string>
<key>textureRect</key>
<string>{{3,1016},{214,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zzgj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,23}</string>
<key>spriteSourceSize</key>
<string>{101,23}</string>
<key>textureRect</key>
<string>{{523,1422},{101,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_zzgj_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,21}</string>
<key>spriteSourceSize</key>
<string>{93,21}</string>
<key>textureRect</key>
<string>{{606,116},{93,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_zzmf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,23}</string>
<key>spriteSourceSize</key>
<string>{101,23}</string>
<key>textureRect</key>
<string>{{192,1396},{101,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zzmf_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,21}</string>
<key>spriteSourceSize</key>
<string>{93,21}</string>
<key>textureRect</key>
<string>{{322,936},{93,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_zzsm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,23}</string>
<key>spriteSourceSize</key>
<string>{101,23}</string>
<key>textureRect</key>
<string>{{297,1396},{101,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zzsm_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,21}</string>
<key>spriteSourceSize</key>
<string>{93,21}</string>
<key>textureRect</key>
<string>{{347,936},{93,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_wz_zzwf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,23}</string>
<key>spriteSourceSize</key>
<string>{101,23}</string>
<key>textureRect</key>
<string>{{192,1423},{101,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_wz_zzwf_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,21}</string>
<key>spriteSourceSize</key>
<string>{93,21}</string>
<key>textureRect</key>
<string>{{372,936},{93,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zc_dianji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{229,228}</string>
<key>spriteSourceSize</key>
<string>{229,228}</string>
<key>textureRect</key>
<string>{{711,1015},{229,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_dianji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,191}</string>
<key>spriteSourceSize</key>
<string>{190,191}</string>
<key>textureRect</key>
<string>{{211,1202},{190,191}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zc_dianji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,144}</string>
<key>spriteSourceSize</key>
<string>{153,144}</string>
<key>textureRect</key>
<string>{{438,213},{153,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_dianji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,243}</string>
<key>spriteSourceSize</key>
<string>{172,243}</string>
<key>textureRect</key>
<string>{{409,889},{172,243}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zc_dianji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{165,182}</string>
<key>spriteSourceSize</key>
<string>{165,182}</string>
<key>textureRect</key>
<string>{{221,1033},{165,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zc_mingzi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,28}</string>
<key>spriteSourceSize</key>
<string>{99,28}</string>
<key>textureRect</key>
<string>{{297,1423},{99,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_mingzi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,28}</string>
<key>spriteSourceSize</key>
<string>{99,28}</string>
<key>textureRect</key>
<string>{{3,1436},{99,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_mingzi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,28}</string>
<key>spriteSourceSize</key>
<string>{99,28}</string>
<key>textureRect</key>
<string>{{3,1468},{99,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_mingzi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,28}</string>
<key>spriteSourceSize</key>
<string>{83,28}</string>
<key>textureRect</key>
<string>{{322,872},{83,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zc_mingzi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,28}</string>
<key>spriteSourceSize</key>
<string>{83,28}</string>
<key>textureRect</key>
<string>{{322,904},{83,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>CW_zhenrong_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{17,142}</string>
<key>spriteSourceSize</key>
<string>{17,142}</string>
<key>textureRect</key>
<string>{{406,1373},{17,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zhufuanniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,77}</string>
<key>spriteSourceSize</key>
<string>{80,77}</string>
<key>textureRect</key>
<string>{{944,1090},{80,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>CW_zizhi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{462,48}</string>
<key>spriteSourceSize</key>
<string>{462,48}</string>
<key>textureRect</key>
<string>{{3,122},{462,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CW_chongwu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CW_chongwu.png</string>
</dict>
</dict>
</plist>