<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>DL_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,67}</string>
<key>spriteSourceSize</key>
<string>{190,67}</string>
<key>textureRect</key>
<string>{{722,717},{190,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_anniu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,59}</string>
<key>spriteSourceSize</key>
<string>{156,59}</string>
<key>textureRect</key>
<string>{{722,788},{156,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_anniu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,59}</string>
<key>spriteSourceSize</key>
<string>{156,59}</string>
<key>textureRect</key>
<string>{{722,851},{156,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_fwqbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,67}</string>
<key>spriteSourceSize</key>
<string>{60,67}</string>
<key>textureRect</key>
<string>{{659,602},{60,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_gonggao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,97}</string>
<key>spriteSourceSize</key>
<string>{104,97}</string>
<key>textureRect</key>
<string>{{916,717},{104,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_jiazaitiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,18}</string>
<key>spriteSourceSize</key>
<string>{38,18}</string>
<key>textureRect</key>
<string>{{882,788},{38,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_jiazaitiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,18}</string>
<key>spriteSourceSize</key>
<string>{38,18}</string>
<key>textureRect</key>
<string>{{882,830},{38,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_jiazaitiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,18}</string>
<key>spriteSourceSize</key>
<string>{38,18}</string>
<key>textureRect</key>
<string>{{882,872},{38,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_jinruyou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{287,99}</string>
<key>spriteSourceSize</key>
<string>{287,99}</string>
<key>textureRect</key>
<string>{{3,717},{287,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_slts.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,90}</string>
<key>spriteSourceSize</key>
<string>{72,90}</string>
<key>textureRect</key>
<string>{{823,914},{72,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_tongming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{105,678},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_ui_biaotou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{716,77}</string>
<key>spriteSourceSize</key>
<string>{716,77}</string>
<key>textureRect</key>
<string>{{3,361},{716,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_ui_biaotou_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{330,59}</string>
<key>spriteSourceSize</key>
<string>{330,59}</string>
<key>textureRect</key>
<string>{{659,673},{330,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_ui_nkuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,74}</string>
<key>spriteSourceSize</key>
<string>{74,74}</string>
<key>textureRect</key>
<string>{{106,890},{74,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_ui_tanchuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{710,290}</string>
<key>spriteSourceSize</key>
<string>{710,290}</string>
<key>textureRect</key>
<string>{{727,3},{710,290}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_ui_tanchuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{652,232}</string>
<key>spriteSourceSize</key>
<string>{652,232}</string>
<key>textureRect</key>
<string>{{3,442},{652,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_wzbt_gg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,44}</string>
<key>spriteSourceSize</key>
<string>{84,44}</string>
<key>textureRect</key>
<string>{{969,937},{84,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_xqbg_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,56}</string>
<key>spriteSourceSize</key>
<string>{85,56}</string>
<key>textureRect</key>
<string>{{106,712},{85,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_xqbg_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,56}</string>
<key>spriteSourceSize</key>
<string>{85,56}</string>
<key>textureRect</key>
<string>{{106,801},{85,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_xuanqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,66}</string>
<key>spriteSourceSize</key>
<string>{46,66}</string>
<key>textureRect</key>
<string>{{162,968},{46,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>DL_xuanqu_zt_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,36}</string>
<key>spriteSourceSize</key>
<string>{64,36}</string>
<key>textureRect</key>
<string>{{659,442},{64,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_xuanqu_zt_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,36}</string>
<key>spriteSourceSize</key>
<string>{64,36}</string>
<key>textureRect</key>
<string>{{659,482},{64,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_xuanqu_zt_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,36}</string>
<key>spriteSourceSize</key>
<string>{64,36}</string>
<key>textureRect</key>
<string>{{659,522},{64,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_xuanqu_zt_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,36}</string>
<key>spriteSourceSize</key>
<string>{64,36}</string>
<key>textureRect</key>
<string>{{659,562},{64,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>DL_zhanghao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,97}</string>
<key>spriteSourceSize</key>
<string>{104,97}</string>
<key>textureRect</key>
<string>{{722,914},{104,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_ui_caanniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,86}</string>
<key>spriteSourceSize</key>
<string>{66,86}</string>
<key>textureRect</key>
<string>{{899,914},{66,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY_ui_caanniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,109}</string>
<key>spriteSourceSize</key>
<string>{58,109}</string>
<key>textureRect</key>
<string>{{904,818},{58,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>gouxuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,52}</string>
<key>spriteSourceSize</key>
<string>{53,52}</string>
<key>textureRect</key>
<string>{{969,880},{53,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>gouxuan_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,52}</string>
<key>spriteSourceSize</key>
<string>{53,52}</string>
<key>textureRect</key>
<string>{{106,968},{53,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,35}</string>
<key>spriteSourceSize</key>
<string>{98,35}</string>
<key>textureRect</key>
<string>{{3,678},{98,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>xy_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,354}</string>
<key>spriteSourceSize</key>
<string>{720,354}</string>
<key>textureRect</key>
<string>{{3,3},{720,354}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>DL_denglu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>DL_denglu.png</string>
</dict>
</dict>
</plist>