<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>FSZL_gqmzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{169,32}</string>
<key>spriteSourceSize</key>
<string>{169,32}</string>
<key>textureRect</key>
<string>{{3,111},{169,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZL_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,28}</string>
<key>spriteSourceSize</key>
<string>{46,28}</string>
<key>textureRect</key>
<string>{{194,3},{46,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZL_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,28}</string>
<key>spriteSourceSize</key>
<string>{46,28}</string>
<key>textureRect</key>
<string>{{194,35},{46,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZL_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,104}</string>
<key>spriteSourceSize</key>
<string>{187,104}</string>
<key>textureRect</key>
<string>{{3,3},{187,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZL_tb_fsdp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,98}</string>
<key>spriteSourceSize</key>
<string>{105,98}</string>
<key>textureRect</key>
<string>{{116,196},{105,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>FSZL_wzbt_gldl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,42}</string>
<key>spriteSourceSize</key>
<string>{125,42}</string>
<key>textureRect</key>
<string>{{194,67},{125,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZL_xingbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,27}</string>
<key>spriteSourceSize</key>
<string>{96,27}</string>
<key>textureRect</key>
<string>{{225,196},{96,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>FSZL_yijianlingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,109}</string>
<key>spriteSourceSize</key>
<string>{104,109}</string>
<key>textureRect</key>
<string>{{3,147},{104,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>FSZL_feishengzhilu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>FSZL_feishengzhilu.png</string>
</dict>
</dict>
</plist>