<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>GNYL_beishu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,188},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_beishu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,322},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_gndi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{308,308}</string>
<key>spriteSourceSize</key>
<string>{308,308}</string>
<key>textureRect</key>
<string>{{328,3},{308,308}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_gnmzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,232}</string>
<key>spriteSourceSize</key>
<string>{53,232}</string>
<key>textureRect</key>
<string>{{3,93},{53,232}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_jianbiandi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,34}</string>
<key>spriteSourceSize</key>
<string>{190,34}</string>
<key>textureRect</key>
<string>{{3,150},{190,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_jianbiandi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,34}</string>
<key>spriteSourceSize</key>
<string>{190,34}</string>
<key>textureRect</key>
<string>{{197,150},{190,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_tubiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,456},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{640,3},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{774,3},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{640,137},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{774,137},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{640,271},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{774,271},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{321,315},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,590},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{455,315},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{625,405},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{759,405},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{313,449},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{173,536},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{447,449},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{307,583},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{173,670},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,724},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{441,583},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{613,539},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{747,539},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{881,619},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{606,673},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{740,673},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{874,753},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{307,717},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{441,717},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{168,804},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,858},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{575,807},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{709,807},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{843,887},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{302,851},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{436,851},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{137,938},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,992},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{570,941},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{704,941},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{838,1021},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{271,985},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{137,1072},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,1126},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{405,985},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{539,1075},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{673,1075},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{807,1155},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{271,1119},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{137,1206},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{3,1260},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{405,1119},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_tubiao52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{130,130}</string>
<key>textureRect</key>
<string>{{539,1209},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{191,344},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{137,405},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,67},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,103},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,139},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,175},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,211},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,247},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,283},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,319},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,355},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,27}</string>
<key>spriteSourceSize</key>
<string>{50,27}</string>
<key>textureRect</key>
<string>{{137,254},{50,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{908,391},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{235,221},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{173,440},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{137,501},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{589,315},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{589,411},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{893,427},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{989,427},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{893,463},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{893,499},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{989,523},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{893,535},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,27}</string>
<key>spriteSourceSize</key>
<string>{50,27}</string>
<key>textureRect</key>
<string>{{137,285},{50,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{92,32}</string>
<key>textureRect</key>
<string>{{137,597},{92,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,27}</string>
<key>spriteSourceSize</key>
<string>{50,27}</string>
<key>textureRect</key>
<string>{{137,316},{50,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{235,252},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{235,283},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{235,314},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{227,345},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{227,376},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{227,407},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{227,438},{82,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,27}</string>
<key>spriteSourceSize</key>
<string>{62,27}</string>
<key>textureRect</key>
<string>{{240,469},{62,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,28}</string>
<key>spriteSourceSize</key>
<string>{81,28}</string>
<key>textureRect</key>
<string>{{581,507},{81,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,28}</string>
<key>spriteSourceSize</key>
<string>{113,28}</string>
<key>textureRect</key>
<string>{{908,3},{113,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,28}</string>
<key>spriteSourceSize</key>
<string>{93,28}</string>
<key>textureRect</key>
<string>{{908,35},{93,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,24}</string>
<key>spriteSourceSize</key>
<string>{77,24}</string>
<key>textureRect</key>
<string>{{881,571},{77,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,23}</string>
<key>spriteSourceSize</key>
<string>{44,23}</string>
<key>textureRect</key>
<string>{{137,378},{44,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,24}</string>
<key>spriteSourceSize</key>
<string>{77,24}</string>
<key>textureRect</key>
<string>{{575,678},{77,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,27}</string>
<key>spriteSourceSize</key>
<string>{63,27}</string>
<key>textureRect</key>
<string>{{209,469},{63,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{137,761},{82,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,28}</string>
<key>spriteSourceSize</key>
<string>{64,28}</string>
<key>textureRect</key>
<string>{{137,693},{64,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,27}</string>
<key>spriteSourceSize</key>
<string>{82,27}</string>
<key>textureRect</key>
<string>{{575,592},{82,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,28}</string>
<key>spriteSourceSize</key>
<string>{82,28}</string>
<key>textureRect</key>
<string>{{239,93},{82,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,27}</string>
<key>spriteSourceSize</key>
<string>{50,27}</string>
<key>textureRect</key>
<string>{{137,347},{50,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,28}</string>
<key>spriteSourceSize</key>
<string>{82,28}</string>
<key>textureRect</key>
<string>{{239,125},{82,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,28}</string>
<key>spriteSourceSize</key>
<string>{82,28}</string>
<key>textureRect</key>
<string>{{235,157},{82,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wenzi51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,23}</string>
<key>spriteSourceSize</key>
<string>{62,23}</string>
<key>textureRect</key>
<string>{{271,469},{62,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GNYL_wenzi52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,28}</string>
<key>spriteSourceSize</key>
<string>{82,28}</string>
<key>textureRect</key>
<string>{{235,189},{82,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_wz_btxgnkq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{321,86}</string>
<key>spriteSourceSize</key>
<string>{321,86}</string>
<key>textureRect</key>
<string>{{3,3},{321,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GNYL_xuanzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,51}</string>
<key>spriteSourceSize</key>
<string>{62,51}</string>
<key>textureRect</key>
<string>{{137,188},{62,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>GNYL_gongnengyulan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>GNYL_gongnengyulan.png</string>
</dict>
</dict>
</plist>