<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>GY2_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,37}</string>
<key>spriteSourceSize</key>
<string>{112,37}</string>
<key>textureRect</key>
<string>{{907,1278},{112,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_anniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,37}</string>
<key>spriteSourceSize</key>
<string>{112,37}</string>
<key>textureRect</key>
<string>{{907,1319},{112,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_anniu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,45}</string>
<key>spriteSourceSize</key>
<string>{136,45}</string>
<key>textureRect</key>
<string>{{191,1872},{136,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_anniu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,45}</string>
<key>spriteSourceSize</key>
<string>{136,45}</string>
<key>textureRect</key>
<string>{{240,1872},{136,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_anniu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,59}</string>
<key>spriteSourceSize</key>
<string>{136,59}</string>
<key>textureRect</key>
<string>{{962,849},{136,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_anniu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,59}</string>
<key>spriteSourceSize</key>
<string>{136,59}</string>
<key>textureRect</key>
<string>{{128,1900},{136,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_anniu_bz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,91}</string>
<key>spriteSourceSize</key>
<string>{90,91}</string>
<key>textureRect</key>
<string>{{568,1718},{90,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_baoxiang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{155,122}</string>
<key>spriteSourceSize</key>
<string>{155,122}</string>
<key>textureRect</key>
<string>{{898,1493},{155,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_baoxiang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{155,122}</string>
<key>spriteSourceSize</key>
<string>{155,122}</string>
<key>textureRect</key>
<string>{{3,1363},{155,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_buzhen_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{21,163}</string>
<key>spriteSourceSize</key>
<string>{21,163}</string>
<key>textureRect</key>
<string>{{301,1622},{21,163}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_cishubg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,50}</string>
<key>spriteSourceSize</key>
<string>{38,50}</string>
<key>textureRect</key>
<string>{{210,1668},{38,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_fenxiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,38}</string>
<key>spriteSourceSize</key>
<string>{171,38}</string>
<key>textureRect</key>
<string>{{668,1608},{171,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_guanbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,48}</string>
<key>spriteSourceSize</key>
<string>{48,48}</string>
<key>textureRect</key>
<string>{{615,1992},{48,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_guanbi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,99}</string>
<key>spriteSourceSize</key>
<string>{73,99}</string>
<key>textureRect</key>
<string>{{450,1744},{73,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_gxhdbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{562,182}</string>
<key>spriteSourceSize</key>
<string>{562,182}</string>
<key>textureRect</key>
<string>{{3,1001},{562,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengtiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{316,46}</string>
<key>spriteSourceSize</key>
<string>{316,46}</string>
<key>textureRect</key>
<string>{{3,1707},{316,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{714,33}</string>
<key>spriteSourceSize</key>
<string>{714,33}</string>
<key>textureRect</key>
<string>{{3,92},{714,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengtiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{334,36}</string>
<key>spriteSourceSize</key>
<string>{334,36}</string>
<key>textureRect</key>
<string>{{529,1187},{334,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,40}</string>
<key>spriteSourceSize</key>
<string>{130,40}</string>
<key>textureRect</key>
<string>{{668,1474},{130,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,85}</string>
<key>spriteSourceSize</key>
<string>{720,85}</string>
<key>textureRect</key>
<string>{{3,3},{720,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengtiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{706,110}</string>
<key>spriteSourceSize</key>
<string>{706,110}</string>
<key>textureRect</key>
<string>{{3,680},{706,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengtiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,126}</string>
<key>spriteSourceSize</key>
<string>{30,126}</string>
<key>textureRect</key>
<string>{{166,1714},{30,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,49}</string>
<key>spriteSourceSize</key>
<string>{54,49}</string>
<key>textureRect</key>
<string>{{587,1880},{54,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,126}</string>
<key>spriteSourceSize</key>
<string>{30,126}</string>
<key>textureRect</key>
<string>{{166,1748},{30,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,170}</string>
<key>spriteSourceSize</key>
<string>{45,170}</string>
<key>textureRect</key>
<string>{{34,1522},{45,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,193}</string>
<key>spriteSourceSize</key>
<string>{100,193}</string>
<key>textureRect</key>
<string>{{712,1170},{100,193}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,83}</string>
<key>spriteSourceSize</key>
<string>{60,83}</string>
<key>textureRect</key>
<string>{{214,1571},{60,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,92}</string>
<key>spriteSourceSize</key>
<string>{48,92}</string>
<key>textureRect</key>
<string>{{568,1666},{48,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,173}</string>
<key>spriteSourceSize</key>
<string>{90,173}</string>
<key>textureRect</key>
<string>{{302,1434},{90,173}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,186}</string>
<key>spriteSourceSize</key>
<string>{90,186}</string>
<key>textureRect</key>
<string>{{712,1350},{90,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,182}</string>
<key>spriteSourceSize</key>
<string>{90,182}</string>
<key>textureRect</key>
<string>{{712,1444},{90,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,173}</string>
<key>spriteSourceSize</key>
<string>{90,173}</string>
<key>textureRect</key>
<string>{{302,1528},{90,173}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengtiao_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,133}</string>
<key>spriteSourceSize</key>
<string>{85,133}</string>
<key>textureRect</key>
<string>{{213,1434},{85,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengtiao_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,133}</string>
<key>spriteSourceSize</key>
<string>{85,133}</string>
<key>textureRect</key>
<string>{{479,1554},{85,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_hengxian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{668,2}</string>
<key>spriteSourceSize</key>
<string>{668,2}</string>
<key>textureRect</key>
<string>{{1016,60},{668,2}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengxian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{11,2}</string>
<key>spriteSourceSize</key>
<string>{11,2}</string>
<key>textureRect</key>
<string>{{721,92},{11,2}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_hengxian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,11}</string>
<key>spriteSourceSize</key>
<string>{120,11}</string>
<key>textureRect</key>
<string>{{1001,499},{120,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_jdt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,17}</string>
<key>spriteSourceSize</key>
<string>{29,17}</string>
<key>textureRect</key>
<string>{{3,2027},{29,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,17}</string>
<key>spriteSourceSize</key>
<string>{29,17}</string>
<key>textureRect</key>
<string>{{36,2027},{29,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,27}</string>
<key>spriteSourceSize</key>
<string>{42,27}</string>
<key>textureRect</key>
<string>{{979,818},{42,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,27}</string>
<key>spriteSourceSize</key>
<string>{42,27}</string>
<key>textureRect</key>
<string>{{3,1525},{42,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_jdt05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,28}</string>
<key>spriteSourceSize</key>
<string>{46,28}</string>
<key>textureRect</key>
<string>{{479,1490},{46,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,28}</string>
<key>spriteSourceSize</key>
<string>{46,28}</string>
<key>textureRect</key>
<string>{{479,1522},{46,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,27}</string>
<key>spriteSourceSize</key>
<string>{96,27}</string>
<key>textureRect</key>
<string>{{568,1635},{96,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_jdt08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,60}</string>
<key>spriteSourceSize</key>
<string>{50,60}</string>
<key>textureRect</key>
<string>{{390,1914},{50,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_jiantou_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,27}</string>
<key>spriteSourceSize</key>
<string>{43,27}</string>
<key>textureRect</key>
<string>{{513,2001},{43,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_jineng_xq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,67}</string>
<key>spriteSourceSize</key>
<string>{60,67}</string>
<key>textureRect</key>
<string>{{385,1969},{60,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_naozhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,37}</string>
<key>spriteSourceSize</key>
<string>{32,37}</string>
<key>textureRect</key>
<string>{{110,1571},{32,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{281,179}</string>
<key>spriteSourceSize</key>
<string>{281,179}</string>
<key>textureRect</key>
<string>{{720,316},{281,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_qx_fenjiexian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{3,53}</string>
<key>spriteSourceSize</key>
<string>{3,53}</string>
<key>textureRect</key>
<string>{{1016,3},{3,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_qx_fenye01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,55}</string>
<key>spriteSourceSize</key>
<string>{143,55}</string>
<key>textureRect</key>
<string>{{295,1785},{143,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_qx_fenye02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,55}</string>
<key>spriteSourceSize</key>
<string>{143,55}</string>
<key>textureRect</key>
<string>{{69,1900},{143,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_qx_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,96}</string>
<key>spriteSourceSize</key>
<string>{60,96}</string>
<key>textureRect</key>
<string>{{568,1571},{60,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_qx_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,56}</string>
<key>spriteSourceSize</key>
<string>{30,56}</string>
<key>textureRect</key>
<string>{{191,2012},{30,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_renwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,285}</string>
<key>spriteSourceSize</key>
<string>{213,285}</string>
<key>textureRect</key>
<string>{{727,3},{213,285}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_ronglian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{68,80}</string>
<key>textureRect</key>
<string>{{301,1972},{68,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_ui_kuang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,103}</string>
<key>spriteSourceSize</key>
<string>{173,103}</string>
<key>textureRect</key>
<string>{{712,1592},{173,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_ui_kuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,49}</string>
<key>spriteSourceSize</key>
<string>{55,49}</string>
<key>textureRect</key>
<string>{{552,1821},{55,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_ui_kuang03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{713,547}</string>
<key>spriteSourceSize</key>
<string>{713,547}</string>
<key>textureRect</key>
<string>{{3,129},{713,547}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_ui_kuang04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{50,50}</string>
<key>textureRect</key>
<string>{{600,1938},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_ui_xinxibg_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,161}</string>
<key>spriteSourceSize</key>
<string>{92,161}</string>
<key>textureRect</key>
<string>{{3,1608},{92,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_vipdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,23}</string>
<key>spriteSourceSize</key>
<string>{100,23}</string>
<key>textureRect</key>
<string>{{53,1812},{100,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_bai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{60,60}</string>
<key>textureRect</key>
<string>{{431,1844},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_bz_df.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,43}</string>
<key>spriteSourceSize</key>
<string>{231,43}</string>
<key>textureRect</key>
<string>{{713,868},{231,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_bz_wf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,43}</string>
<key>spriteSourceSize</key>
<string>{231,43}</string>
<key>textureRect</key>
<string>{{713,915},{231,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_dizuo01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{522,172}</string>
<key>spriteSourceSize</key>
<string>{522,172}</string>
<key>textureRect</key>
<string>{{3,1187},{522,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_dizuo02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{225,204}</string>
<key>spriteSourceSize</key>
<string>{225,204}</string>
<key>textureRect</key>
<string>{{713,962},{225,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_fccg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,91}</string>
<key>spriteSourceSize</key>
<string>{110,91}</string>
<key>textureRect</key>
<string>{{902,1398},{110,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_fuchou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,38}</string>
<key>spriteSourceSize</key>
<string>{104,38}</string>
<key>textureRect</key>
<string>{{168,1606},{104,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_gxhd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{285,92}</string>
<key>spriteSourceSize</key>
<string>{285,92}</string>
<key>textureRect</key>
<string>{{720,220},{285,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_gxtg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{277,100}</string>
<key>spriteSourceSize</key>
<string>{277,100}</string>
<key>textureRect</key>
<string>{{720,499},{277,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_hdjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,37}</string>
<key>spriteSourceSize</key>
<string>{125,37}</string>
<key>textureRect</key>
<string>{{166,1782},{125,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_hp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,65}</string>
<key>spriteSourceSize</key>
<string>{150,65}</string>
<key>textureRect</key>
<string>{{301,1647},{150,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_jineng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,25}</string>
<key>spriteSourceSize</key>
<string>{55,25}</string>
<key>textureRect</key>
<string>{{909,1170},{55,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jineng_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,25}</string>
<key>spriteSourceSize</key>
<string>{55,25}</string>
<key>textureRect</key>
<string>{{513,1942},{55,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jineng_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,25}</string>
<key>spriteSourceSize</key>
<string>{55,25}</string>
<key>textureRect</key>
<string>{{542,1942},{55,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jineng_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,25}</string>
<key>spriteSourceSize</key>
<string>{55,25}</string>
<key>textureRect</key>
<string>{{558,1880},{55,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jineng_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,25}</string>
<key>spriteSourceSize</key>
<string>{55,25}</string>
<key>textureRect</key>
<string>{{571,1939},{55,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jisha.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,46}</string>
<key>spriteSourceSize</key>
<string>{52,46}</string>
<key>textureRect</key>
<string>{{479,1434},{52,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_jishajiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,33}</string>
<key>spriteSourceSize</key>
<string>{71,33}</string>
<key>textureRect</key>
<string>{{3,1571},{71,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_kaiqi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{373,40}</string>
<key>spriteSourceSize</key>
<string>{373,40}</string>
<key>textureRect</key>
<string>{{668,1097},{373,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_kezhuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,31}</string>
<key>spriteSourceSize</key>
<string>{76,31}</string>
<key>textureRect</key>
<string>{{942,1068},{76,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_kzgx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,34}</string>
<key>spriteSourceSize</key>
<string>{124,34}</string>
<key>textureRect</key>
<string>{{289,1844},{124,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_leiji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,48}</string>
<key>spriteSourceSize</key>
<string>{56,48}</string>
<key>textureRect</key>
<string>{{454,1908},{56,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_lianjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{21,41}</string>
<key>spriteSourceSize</key>
<string>{21,41}</string>
<key>textureRect</key>
<string>{{668,1072},{21,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_ljqw.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{180,50}</string>
<key>spriteSourceSize</key>
<string>{180,50}</string>
<key>textureRect</key>
<string>{{712,1538},{180,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_qdh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,34}</string>
<key>spriteSourceSize</key>
<string>{117,34}</string>
<key>textureRect</key>
<string>{{902,1360},{117,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_qp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,65}</string>
<key>spriteSourceSize</key>
<string>{150,65}</string>
<key>textureRect</key>
<string>{{296,1716},{150,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_sheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{60,60}</string>
<key>textureRect</key>
<string>{{449,1968},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_shoutong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,48}</string>
<key>spriteSourceSize</key>
<string>{56,48}</string>
<key>textureRect</key>
<string>{{506,1882},{56,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_tuijzhanli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,41}</string>
<key>spriteSourceSize</key>
<string>{132,41}</string>
<key>textureRect</key>
<string>{{668,794},{132,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_vip.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,27}</string>
<key>spriteSourceSize</key>
<string>{46,27}</string>
<key>textureRect</key>
<string>{{251,2012},{46,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_vs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,80}</string>
<key>spriteSourceSize</key>
<string>{153,80}</string>
<key>textureRect</key>
<string>{{129,1363},{153,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_wan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,33}</string>
<key>spriteSourceSize</key>
<string>{28,33}</string>
<key>textureRect</key>
<string>{{78,1571},{28,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_wan02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,25}</string>
<key>spriteSourceSize</key>
<string>{26,25}</string>
<key>textureRect</key>
<string>{{529,1525},{26,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_weikaiqi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,33}</string>
<key>spriteSourceSize</key>
<string>{107,33}</string>
<key>textureRect</key>
<string>{{979,707},{107,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_weiwancheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,29}</string>
<key>spriteSourceSize</key>
<string>{87,29}</string>
<key>textureRect</key>
<string>{{210,1635},{87,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_xi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,41}</string>
<key>spriteSourceSize</key>
<string>{41,41}</string>
<key>textureRect</key>
<string>{{668,1027},{41,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_ydhw.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,45}</string>
<key>spriteSourceSize</key>
<string>{124,45}</string>
<key>textureRect</key>
<string>{{157,1823},{124,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_yihuode.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,59}</string>
<key>spriteSourceSize</key>
<string>{121,59}</string>
<key>textureRect</key>
<string>{{327,1844},{121,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_yilingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,73}</string>
<key>spriteSourceSize</key>
<string>{122,73}</string>
<key>textureRect</key>
<string>{{942,1103},{122,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_wz_yizhuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,45}</string>
<key>spriteSourceSize</key>
<string>{112,45}</string>
<key>textureRect</key>
<string>{{909,1229},{112,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_zen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,57}</string>
<key>spriteSourceSize</key>
<string>{53,57}</string>
<key>textureRect</key>
<string>{{495,1821},{53,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_zhanli_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,31}</string>
<key>spriteSourceSize</key>
<string>{59,31}</string>
<key>textureRect</key>
<string>{{151,1571},{59,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_zhanli_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{312,67}</string>
<key>spriteSourceSize</key>
<string>{312,67}</string>
<key>textureRect</key>
<string>{{213,1363},{312,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_wz_zjsj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{277,100}</string>
<key>spriteSourceSize</key>
<string>{277,100}</string>
<key>textureRect</key>
<string>{{720,603},{277,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_xinxikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{661,203}</string>
<key>spriteSourceSize</key>
<string>{661,203}</string>
<key>textureRect</key>
<string>{{3,794},{661,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_xl_kelingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,57}</string>
<key>spriteSourceSize</key>
<string>{82,57}</string>
<key>textureRect</key>
<string>{{69,1839},{82,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_xl_tanchuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,49}</string>
<key>spriteSourceSize</key>
<string>{109,49}</string>
<key>textureRect</key>
<string>{{455,1691},{109,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_xm_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,72}</string>
<key>spriteSourceSize</key>
<string>{191,72}</string>
<key>textureRect</key>
<string>{{712,1274},{191,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_ys_yijihuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,75}</string>
<key>spriteSourceSize</key>
<string>{79,75}</string>
<key>textureRect</key>
<string>{{942,989},{79,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_yx_dizuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,51}</string>
<key>spriteSourceSize</key>
<string>{128,51}</string>
<key>textureRect</key>
<string>{{889,1652},{128,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY2_zbmzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,262}</string>
<key>spriteSourceSize</key>
<string>{109,262}</string>
<key>textureRect</key>
<string>{{713,707},{109,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zbmzbg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,245}</string>
<key>spriteSourceSize</key>
<string>{44,245}</string>
<key>textureRect</key>
<string>{{713,820},{44,245}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_fgh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{264,1668},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_fgh2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{585,1998},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_fgl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{605,1812},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{635,1812},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_h2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{640,1853},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdqy_l.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,26}</string>
<key>spriteSourceSize</key>
<string>{37,26}</string>
<key>textureRect</key>
<string>{{640,1894},{37,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zdyz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,41}</string>
<key>spriteSourceSize</key>
<string>{93,41}</string>
<key>textureRect</key>
<string>{{668,930},{93,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY2_zr_bz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,37}</string>
<key>spriteSourceSize</key>
<string>{37,37}</string>
<key>textureRect</key>
<string>{{544,2001},{37,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GY_zhenrongbiaozhi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1001},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1096},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1191},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1286},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1381},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,95}</string>
<key>spriteSourceSize</key>
<string>{91,95}</string>
<key>textureRect</key>
<string>{{569,1476},{91,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_zhenrongbiaozhi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,37}</string>
<key>spriteSourceSize</key>
<string>{66,37}</string>
<key>textureRect</key>
<string>{{390,1844},{66,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Gy2_yijianlingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,109}</string>
<key>spriteSourceSize</key>
<string>{104,109}</string>
<key>textureRect</key>
<string>{{53,1704},{104,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>GY2_Common.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>GY2_Common.png</string>
</dict>
</dict>
</plist>