<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HZYL_anniiu_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,119}</string>
<key>spriteSourceSize</key>
<string>{63,119}</string>
<key>textureRect</key>
<string>{{129,428},{63,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_anniiu_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,119}</string>
<key>spriteSourceSize</key>
<string>{63,119}</string>
<key>textureRect</key>
<string>{{129,495},{63,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_anniiu_grpm01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{173,229},{36,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_anniiu_grpm02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{129,260},{36,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_anniiu_qdjl01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{169,269},{36,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_anniiu_qdjl02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{169,309},{36,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_anniiu_xmpm01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{129,344},{36,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_anniiu_xmpm02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,80}</string>
<key>spriteSourceSize</key>
<string>{36,80}</string>
<key>textureRect</key>
<string>{{169,349},{36,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_hengtiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{17,15}</string>
<key>spriteSourceSize</key>
<string>{17,15}</string>
<key>textureRect</key>
<string>{{200,176},{17,15}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_paiming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,21}</string>
<key>spriteSourceSize</key>
<string>{51,21}</string>
<key>textureRect</key>
<string>{{129,562},{51,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_shuxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{2,26}</string>
<key>spriteSourceSize</key>
<string>{2,26}</string>
<key>textureRect</key>
<string>{{200,195},{2,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_gerenpaiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,94}</string>
<key>spriteSourceSize</key>
<string>{100,94}</string>
<key>textureRect</key>
<string>{{25,260},{100,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,22}</string>
<key>spriteSourceSize</key>
<string>{49,22}</string>
<key>textureRect</key>
<string>{{89,540},{49,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_jifen00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{166,40}</string>
<key>spriteSourceSize</key>
<string>{166,40}</string>
<key>textureRect</key>
<string>{{3,216},{166,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_jifen01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,31}</string>
<key>spriteSourceSize</key>
<string>{58,31}</string>
<key>textureRect</key>
<string>{{221,43},{58,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_jifen02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,31}</string>
<key>spriteSourceSize</key>
<string>{58,31}</string>
<key>textureRect</key>
<string>{{221,105},{58,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_jifen03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,31}</string>
<key>spriteSourceSize</key>
<string>{58,31}</string>
<key>textureRect</key>
<string>{{221,167},{58,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,86}</string>
<key>spriteSourceSize</key>
<string>{85,86}</string>
<key>textureRect</key>
<string>{{25,396},{85,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_mingzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,22}</string>
<key>spriteSourceSize</key>
<string>{49,22}</string>
<key>textureRect</key>
<string>{{184,562},{49,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,22}</string>
<key>spriteSourceSize</key>
<string>{49,22}</string>
<key>textureRect</key>
<string>{{129,587},{49,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_pmjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,36}</string>
<key>spriteSourceSize</key>
<string>{247,36}</string>
<key>textureRect</key>
<string>{{3,3},{247,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_qianwang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,28}</string>
<key>spriteSourceSize</key>
<string>{122,28}</string>
<key>textureRect</key>
<string>{{3,993},{122,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_renshu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,22}</string>
<key>spriteSourceSize</key>
<string>{51,22}</string>
<key>textureRect</key>
<string>{{95,485},{51,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_tzjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,36}</string>
<key>spriteSourceSize</key>
<string>{193,36}</string>
<key>textureRect</key>
<string>{{3,176},{193,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_weikaiqi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{306,60}</string>
<key>spriteSourceSize</key>
<string>{306,60}</string>
<key>textureRect</key>
<string>{{25,511},{306,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_xianmeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,22}</string>
<key>spriteSourceSize</key>
<string>{49,22}</string>
<key>textureRect</key>
<string>{{89,593},{49,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HZYL_wz_xueliang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{97,34}</string>
<key>spriteSourceSize</key>
<string>{97,34}</string>
<key>textureRect</key>
<string>{{25,358},{97,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_xuetiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,30}</string>
<key>spriteSourceSize</key>
<string>{18,30}</string>
<key>textureRect</key>
<string>{{169,389},{18,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_xuetiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,30}</string>
<key>spriteSourceSize</key>
<string>{18,30}</string>
<key>textureRect</key>
<string>{{191,389},{18,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_xuetiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,30}</string>
<key>spriteSourceSize</key>
<string>{18,30}</string>
<key>textureRect</key>
<string>{{213,389},{18,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_xuetiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,30}</string>
<key>spriteSourceSize</key>
<string>{18,30}</string>
<key>textureRect</key>
<string>{{235,389},{18,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_yijisha.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{214,129}</string>
<key>spriteSourceSize</key>
<string>{214,129}</string>
<key>textureRect</key>
<string>{{3,43},{214,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_wz_zongjifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,22}</string>
<key>spriteSourceSize</key>
<string>{66,22}</string>
<key>textureRect</key>
<string>{{25,485},{66,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HZYL_xiaoxi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,18}</string>
<key>spriteSourceSize</key>
<string>{720,18}</string>
<key>textureRect</key>
<string>{{3,269},{720,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HZYL_hunzhanyanluo.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HZYL_hunzhanyanluo.png</string>
</dict>
</dict>
</plist>