<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>titleicon_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_201.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_202.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,3},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_203.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1872,3},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_204.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1960,3},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_205.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,270},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_206.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_207.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_208.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_209.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_210.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_211.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_212.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_213.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,1872},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_214.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{3,1960},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_215.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_216.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_217.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_218.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_219.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_220.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,91},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_221.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_222.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_223.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_224.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_225.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_226.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,179},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_227.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_228.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,267},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_229.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,267},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_230.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_231.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_232.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_233.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_234.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,267},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_235.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1872,270},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_236.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1960,270},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_237.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_238.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_239.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_240.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_241.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{91,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_242.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_243.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_244.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_245.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_246.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{179,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_247.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_248.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_249.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_250.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_251.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_252.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_253.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{267,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_254.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,1872},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_255.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{270,1960},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_256.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{355,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_257.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{355,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_258.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{355,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_259.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{355,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_260.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{355,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_261.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{443,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_262.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{443,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_263.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{443,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_264.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{443,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_265.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{443,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_266.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{531,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_267.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{534,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_268.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{534,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_269.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{531,804},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_301.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{531,1071},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_302.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{531,1338},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_303.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{531,1605},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_304.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,1872},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_305.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{537,1960},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_306.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_307.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_308.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_309.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,355},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_310.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_311.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_312.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_313.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,443},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_401.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{804,531},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_402.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{619,531},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_403.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{707,531},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>titleicon_404.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1071,531},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_405.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1338,531},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_406.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1605,531},{263,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>titleicon_407.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{263,84}</string>
<key>spriteSourceSize</key>
<string>{263,84}</string>
<key>textureRect</key>
<string>{{1872,537},{263,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_title.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_title.png</string>
</dict>
</dict>
</plist>