<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BW_10001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{265,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{527,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{265,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{527,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{265,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{527,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{265,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{527,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{265,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{527,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1263},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1525},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1787},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1263},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{517,1263},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1515},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1777},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,1515},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{769,1515},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,1767},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BW_999995.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{789,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BW_999997.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{897,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_baowu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_baowu.png</string>
</dict>
</dict>
</plist>