<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>icon_tj0001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,3},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,85},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,167},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,249},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,331},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,413},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0037.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0038.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0041.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,495},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0043.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0044.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,659},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,741},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0046.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,823},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0047.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{3,905},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0049.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{167,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{249,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0051.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{331,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0052.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{413,577},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0053.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,659},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0054.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,741},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0055.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,823},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_tj0056.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{78,78}</string>
<key>textureRect</key>
<string>{{85,905},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_tujing.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_tujing.png</string>
</dict>
</dict>
</plist>