<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>kj_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,3},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{133,3},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{263,3},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,133},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{133,133},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{263,133},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,263},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{133,263},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{263,263},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,393},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{133,393},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{263,393},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,523},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,653},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{3,783},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>kj_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,126}</string>
<key>spriteSourceSize</key>
<string>{126,126}</string>
<key>textureRect</key>
<string>{{133,523},{126,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_xm_skill.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_xm_skill.png</string>
</dict>
</dict>
</plist>