<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>20247.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20506.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20507.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20508.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20603.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20604.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>80029.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>80030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>80031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>80032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20506_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,3},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>20507_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,48},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>20508_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,93},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>20603_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,138},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>20604_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,183},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>shuijing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>shuijing_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,228},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>title_263.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_264.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_265.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_266.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_267.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_268.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_269.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_401.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_402.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>znq_dangaoquan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>znq_dangaoquan_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,273},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>znq_lihua.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>znq_lihua_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,318},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_item02.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_item02.png</string>
</dict>
</dict>
</plist>