<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>equip_10001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,867},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{651,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{759,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10017.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{867,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10018.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10019.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10021.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10022.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10023.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,867},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10026.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10027.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{651,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{759,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{867,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10037.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10038.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10039.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10041.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,867},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10042.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10043.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10044.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{651,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10046.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{759,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10047.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{867,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10048.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10049.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10051.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10052.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10053.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,867},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10054.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10055.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10056.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{651,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10057.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{759,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10058.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{867,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10059.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10061.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10062.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10063.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,867},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10064.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10065.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{651,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_10066.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{759,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_999996.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{867,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>equip_999998.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{543,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_zhuangbei.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_zhuangbei.png</string>
</dict>
</dict>
</plist>