<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>3001010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,3},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,3},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,3},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,3},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,3},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,103},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001070.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,103},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001080.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,103},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001090.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,103},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3001110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,103},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,203},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,203},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,203},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,203},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,203},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,303},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002070.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,303},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002080.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,303},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002090.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,303},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3002110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,303},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,403},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,403},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,403},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,403},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,403},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,503},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003070.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{103,503},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003080.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{203,503},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003090.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{303,503},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3003100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{403,503},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3004040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,603},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3004050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,703},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3004090.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{3,803},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_shenqi_jn.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_shenqi_jn.png</string>
</dict>
</dict>
</plist>