<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>icon_fw_anjin01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{124,124}</string>
<key>textureRect</key>
<string>{{3,542},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_anjin02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,115}</string>
<key>spriteSourceSize</key>
<string>{119,115}</string>
<key>textureRect</key>
<string>{{125,278},{119,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_fw_anjin03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,127}</string>
<key>spriteSourceSize</key>
<string>{99,127}</string>
<key>textureRect</key>
<string>{{3,411},{99,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_anjin04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,123}</string>
<key>spriteSourceSize</key>
<string>{116,123}</string>
<key>textureRect</key>
<string>{{106,411},{116,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_anjin05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,107}</string>
<key>spriteSourceSize</key>
<string>{101,107}</string>
<key>textureRect</key>
<string>{{131,145},{101,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_anjin06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,124}</string>
<key>spriteSourceSize</key>
<string>{129,124}</string>
<key>textureRect</key>
<string>{{3,145},{129,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_fw_anjin07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,129}</string>
<key>spriteSourceSize</key>
<string>{118,129}</string>
<key>textureRect</key>
<string>{{3,278},{118,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_anjin08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,138}</string>
<key>spriteSourceSize</key>
<string>{132,138}</string>
<key>textureRect</key>
<string>{{3,3},{132,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{139,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{236,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{247,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,670},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,778},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,886},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,670},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_cheng08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{131,538},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{226,401},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{244,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{344,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{355,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,778},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,886},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,646},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_hong08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{239,509},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{334,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{352,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{452,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{463,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,754},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,862},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,617},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_huang08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{347,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{442,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{460,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{560,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{571,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,725},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,833},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{679,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lan08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{787,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{895,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{668,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{776,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{884,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{568,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{676,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{784,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_lv08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{892,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{550,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{658,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{766,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{874,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,543},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{455,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,651},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fw_zi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{435,759},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_herorune.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_herorune.png</string>
</dict>
</dict>
</plist>