<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>icon_viptb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,3},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,265},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,527},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_viptb05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{517,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_viptb06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,255},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,517},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_viptb09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{769,255},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_viptb10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_viptb11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{769,517},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_viplibao.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_viplibao.png</string>
</dict>
</dict>
</plist>