<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>4001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,3},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,265},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,527},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,789},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1051},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1313},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{3,1575},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{517,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{779,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1041,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1303,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1565,3},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,255},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,517},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,779},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1041},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1303},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{255,1565},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{769,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1031,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1293,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1555,255},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,507},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,769},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,1031},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,1293},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{507,1555},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{759,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1021,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1283,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1545,507},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{759,759},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{759,1021},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{759,1283},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{759,1545},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1011,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1273,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1535,759},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1797,759},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1011,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1273,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1535,1011},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1797,1021},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1011,1283},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1011,1545},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1263,1263},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1525,1263},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1787,1283},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1263,1535},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1263,1797},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1515,1535},{248,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{248,258}</string>
<key>spriteSourceSize</key>
<string>{248,258}</string>
<key>textureRect</key>
<string>{{1525,1797},{248,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_shenqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_shenqi.png</string>
</dict>
</dict>
</plist>