<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>20244.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20245.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>20244_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,3},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>20245_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,48},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>duilian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>duilian_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,93},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hedeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,3},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hedeng_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,138},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>huadeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>huadeng_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,183},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_dxq_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_1_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{435,273},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_2_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{435,317},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,111},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_3_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{435,361},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_4_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{435,405},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_5_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{111,435},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_6_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{157,435},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,219},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxq_7_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,40}</string>
<key>spriteSourceSize</key>
<string>{42,40}</string>
<key>textureRect</key>
<string>{{203,435},{42,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qingjian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>qingjian_x.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,46}</string>
<key>spriteSourceSize</key>
<string>{41,46}</string>
<key>textureRect</key>
<string>{{435,228},{41,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>title_259.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{111,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_260.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{219,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_261.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{327,327},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>title_262.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{3,435},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_item_02.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_item_02.png</string>
</dict>
</dict>
</plist>