<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>icon_lzmwda_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,3},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{137,3},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{271,3},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,132},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{137,132},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{271,132},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,261},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{137,261},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{271,261},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,390},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{137,390},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{271,390},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lzmwda_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,519},{125,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_lzmwda_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,653},{125,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_lzmwda_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{3,787},{125,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_lzmwda_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,130}</string>
<key>spriteSourceSize</key>
<string>{125,130}</string>
<key>textureRect</key>
<string>{{132,519},{125,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_lingwen_da.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_lingwen_da.png</string>
</dict>
</dict>
</plist>