<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>120001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{3,3},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>120002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{120,3},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>120003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{237,3},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>120004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{354,3},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>220001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{3,120},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>220002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{120,120},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>220003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{237,120},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>220004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{354,120},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>320001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{3,237},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>320002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{120,237},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>320003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{237,237},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>320004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{354,237},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>420001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{3,354},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>420002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{120,354},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>420003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{237,354},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>420004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{354,354},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>520001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{3,471},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>520002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{120,471},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>520003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{237,471},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>520004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{354,471},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>icon_lingyaozhanqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>icon_lingyaozhanqi.png</string>
</dict>
</dict>
</plist>