<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>JJC_cishu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,37}</string>
<key>spriteSourceSize</key>
<string>{37,37}</string>
<key>textureRect</key>
<string>{{353,761},{37,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_di01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,34}</string>
<key>spriteSourceSize</key>
<string>{84,34}</string>
<key>textureRect</key>
<string>{{425,622},{84,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_taizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{235,124}</string>
<key>spriteSourceSize</key>
<string>{235,124}</string>
<key>textureRect</key>
<string>{{3,413},{235,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_taizi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{249,163}</string>
<key>spriteSourceSize</key>
<string>{249,163}</string>
<key>textureRect</key>
<string>{{256,272},{249,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_taizi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{249,174}</string>
<key>spriteSourceSize</key>
<string>{249,174}</string>
<key>textureRect</key>
<string>{{3,235},{249,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_taizi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{265,208}</string>
<key>spriteSourceSize</key>
<string>{265,208}</string>
<key>textureRect</key>
<string>{{279,3},{265,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,51}</string>
<key>spriteSourceSize</key>
<string>{53,51}</string>
<key>textureRect</key>
<string>{{353,706},{53,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wz_bubian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,40}</string>
<key>spriteSourceSize</key>
<string>{71,40}</string>
<key>textureRect</key>
<string>{{372,631},{71,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wz_difang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,43}</string>
<key>spriteSourceSize</key>
<string>{231,43}</string>
<key>textureRect</key>
<string>{{242,439},{231,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wz_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,32}</string>
<key>spriteSourceSize</key>
<string>{74,32}</string>
<key>textureRect</key>
<string>{{477,439},{74,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wz_jlgc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,44}</string>
<key>spriteSourceSize</key>
<string>{126,44}</string>
<key>textureRect</key>
<string>{{242,631},{126,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wz_lszg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{272,88}</string>
<key>spriteSourceSize</key>
<string>{272,88}</string>
<key>textureRect</key>
<string>{{3,3},{272,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,39}</string>
<key>spriteSourceSize</key>
<string>{83,39}</string>
<key>textureRect</key>
<string>{{425,533},{83,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wz_pmjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,31}</string>
<key>spriteSourceSize</key>
<string>{101,31}</string>
<key>textureRect</key>
<string>{{477,517},{101,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wz_vs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{179,94}</string>
<key>spriteSourceSize</key>
<string>{179,94}</string>
<key>textureRect</key>
<string>{{242,533},{179,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wz_wdpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,31}</string>
<key>spriteSourceSize</key>
<string>{100,31}</string>
<key>textureRect</key>
<string>{{179,703},{100,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wz_wofang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{231,43}</string>
<key>spriteSourceSize</key>
<string>{231,43}</string>
<key>textureRect</key>
<string>{{242,486},{231,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wzgn_buzhen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,106}</string>
<key>spriteSourceSize</key>
<string>{101,106}</string>
<key>textureRect</key>
<string>{{214,789},{101,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wzgn_jilu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,106}</string>
<key>spriteSourceSize</key>
<string>{101,106}</string>
<key>textureRect</key>
<string>{{395,862},{101,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJC_wzgn_jli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,106}</string>
<key>spriteSourceSize</key>
<string>{101,106}</string>
<key>textureRect</key>
<string>{{3,894},{101,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wzgn_paixing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,106}</string>
<key>spriteSourceSize</key>
<string>{101,106}</string>
<key>textureRect</key>
<string>{{108,807},{101,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_wzgn_shangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,106}</string>
<key>spriteSourceSize</key>
<string>{107,106}</string>
<key>textureRect</key>
<string>{{242,679},{107,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_xiadi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,66}</string>
<key>spriteSourceSize</key>
<string>{67,66}</string>
<key>textureRect</key>
<string>{{324,802},{67,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_xiadi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,163}</string>
<key>spriteSourceSize</key>
<string>{172,163}</string>
<key>textureRect</key>
<string>{{3,541},{172,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_xinxi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{264,66}</string>
<key>spriteSourceSize</key>
<string>{264,66}</string>
<key>textureRect</key>
<string>{{3,95},{264,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJC_xinxi_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{264,66}</string>
<key>spriteSourceSize</key>
<string>{264,66}</string>
<key>textureRect</key>
<string>{{3,165},{264,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_jinjiqu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,59}</string>
<key>spriteSourceSize</key>
<string>{158,59}</string>
<key>textureRect</key>
<string>{{179,541},{158,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_xzph.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,91}</string>
<key>spriteSourceSize</key>
<string>{104,91}</string>
<key>textureRect</key>
<string>{{410,754},{104,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zhanbao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{90,92}</string>
<key>textureRect</key>
<string>{{416,660},{90,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>JJC_jinjingchang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>JJC_jinjingchang.png</string>
</dict>
</dict>
</plist>