<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>JJL_Hero7009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{3,3},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{3,207},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{3,411},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{3,615},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{3,819},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{207,3},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{411,3},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{615,3},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{819,3},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_Hero8009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,200}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{207,207},{200,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_an_shuxingzonglang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,73}</string>
<key>spriteSourceSize</key>
<string>{86,73}</string>
<key>textureRect</key>
<string>{{207,919},{86,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_anniu_chakan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,31}</string>
<key>spriteSourceSize</key>
<string>{31,31}</string>
<key>textureRect</key>
<string>{{228,737},{31,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_hengtiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{345,762},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,5}</string>
<key>spriteSourceSize</key>
<string>{46,5}</string>
<key>textureRect</key>
<string>{{207,1009},{46,5}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_mengceng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,18}</string>
<key>spriteSourceSize</key>
<string>{18,18}</string>
<key>textureRect</key>
<string>{{299,864},{18,18}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_shuxin_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,45}</string>
<key>spriteSourceSize</key>
<string>{43,45}</string>
<key>textureRect</key>
<string>{{309,937},{43,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_touxiangkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,113}</string>
<key>spriteSourceSize</key>
<string>{137,113}</string>
<key>textureRect</key>
<string>{{228,596},{137,113}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_wz_sxzl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,42}</string>
<key>spriteSourceSize</key>
<string>{125,42}</string>
<key>textureRect</key>
<string>{{253,772},{125,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_wz_xjxg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,21}</string>
<key>spriteSourceSize</key>
<string>{86,21}</string>
<key>textureRect</key>
<string>{{263,737},{86,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_wz_xpdjjc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{181,42}</string>
<key>spriteSourceSize</key>
<string>{181,42}</string>
<key>textureRect</key>
<string>{{207,411},{181,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_wz_xpzl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,21}</string>
<key>spriteSourceSize</key>
<string>{86,21}</string>
<key>textureRect</key>
<string>{{284,901},{86,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_wz_ymj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{139,42}</string>
<key>spriteSourceSize</key>
<string>{139,42}</string>
<key>textureRect</key>
<string>{{207,776},{139,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_xiaobiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,17}</string>
<key>spriteSourceSize</key>
<string>{176,17}</string>
<key>textureRect</key>
<string>{{207,596},{176,17}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JJL_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,19}</string>
<key>spriteSourceSize</key>
<string>{82,19}</string>
<key>textureRect</key>
<string>{{284,991},{82,19}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_zhenying_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,47}</string>
<key>spriteSourceSize</key>
<string>{42,47}</string>
<key>textureRect</key>
<string>{{299,762},{42,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_zhenying_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,47}</string>
<key>spriteSourceSize</key>
<string>{42,47}</string>
<key>textureRect</key>
<string>{{299,813},{42,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JJL_zhenying_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,47}</string>
<key>spriteSourceSize</key>
<string>{42,47}</string>
<key>textureRect</key>
<string>{{309,886},{42,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>JJL_jinjianglu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>JJL_jinjianglu.png</string>
</dict>
</dict>
</plist>