<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>JS_jineng_2001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{149,833},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_jineng_2003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{257,575},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_shbg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,59}</string>
<key>spriteSourceSize</key>
<string>{92,59}</string>
<key>textureRect</key>
<string>{{778,727},{92,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_shbg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,59}</string>
<key>spriteSourceSize</key>
<string>{92,59}</string>
<key>textureRect</key>
<string>{{57,962},{92,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_shbg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,59}</string>
<key>spriteSourceSize</key>
<string>{33,59}</string>
<key>textureRect</key>
<string>{{188,788},{33,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_shengli02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{565,183}</string>
<key>spriteSourceSize</key>
<string>{565,183}</string>
<key>textureRect</key>
<string>{{3,3},{565,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_shibai02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{565,183}</string>
<key>spriteSourceSize</key>
<string>{565,183}</string>
<key>textureRect</key>
<string>{{3,190},{565,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_sht01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,24}</string>
<key>spriteSourceSize</key>
<string>{27,24}</string>
<key>textureRect</key>
<string>{{3,788},{27,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_sht02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,24}</string>
<key>spriteSourceSize</key>
<string>{27,24}</string>
<key>textureRect</key>
<string>{{31,788},{27,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_sht03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{18,26}</string>
<key>spriteSourceSize</key>
<string>{18,26}</string>
<key>textureRect</key>
<string>{{3,763},{18,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_shujutongji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,102}</string>
<key>spriteSourceSize</key>
<string>{101,102}</string>
<key>textureRect</key>
<string>{{103,683},{101,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_tishen01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{194,206}</string>
<key>textureRect</key>
<string>{{3,377},{194,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_tishen02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{194,206}</string>
<key>textureRect</key>
<string>{{213,377},{194,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_tishen03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{194,206}</string>
<key>textureRect</key>
<string>{{572,392},{194,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_tishen04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{194,206}</string>
<key>textureRect</key>
<string>{{568,590},{194,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_bcsh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,40}</string>
<key>spriteSourceSize</key>
<string>{141,40}</string>
<key>textureRect</key>
<string>{{423,522},{141,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_bubian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,37}</string>
<key>spriteSourceSize</key>
<string>{86,37}</string>
<key>textureRect</key>
<string>{{833,224},{86,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_hdjf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,38}</string>
<key>spriteSourceSize</key>
<string>{146,38}</string>
<key>textureRect</key>
<string>{{874,416},{146,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_hdjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,40}</string>
<key>spriteSourceSize</key>
<string>{140,40}</string>
<key>textureRect</key>
<string>{{874,458},{140,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_hyh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{297,40}</string>
<key>spriteSourceSize</key>
<string>{297,40}</string>
<key>textureRect</key>
<string>{{572,180},{297,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,33}</string>
<key>spriteSourceSize</key>
<string>{74,33}</string>
<key>textureRect</key>
<string>{{833,314},{74,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_jsxq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,40}</string>
<key>spriteSourceSize</key>
<string>{142,40}</string>
<key>textureRect</key>
<string>{{423,478},{142,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,33}</string>
<key>spriteSourceSize</key>
<string>{74,33}</string>
<key>textureRect</key>
<string>{{778,690},{74,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_pccf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,44}</string>
<key>spriteSourceSize</key>
<string>{144,44}</string>
<key>textureRect</key>
<string>{{423,430},{144,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_pingfeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,76}</string>
<key>spriteSourceSize</key>
<string>{137,76}</string>
<key>textureRect</key>
<string>{{874,502},{137,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_qdcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{298,40}</string>
<key>spriteSourceSize</key>
<string>{298,40}</string>
<key>textureRect</key>
<string>{{572,136},{298,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_shengli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{257,164}</string>
<key>spriteSourceSize</key>
<string>{257,164}</string>
<key>textureRect</key>
<string>{{572,224},{257,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_shibai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,147}</string>
<key>spriteSourceSize</key>
<string>{276,147}</string>
<key>textureRect</key>
<string>{{874,136},{276,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_shpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,49}</string>
<key>spriteSourceSize</key>
<string>{145,49}</string>
<key>textureRect</key>
<string>{{423,377},{145,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_tishen01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,41}</string>
<key>spriteSourceSize</key>
<string>{125,41}</string>
<key>textureRect</key>
<string>{{59,788},{125,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_tishen02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,42}</string>
<key>spriteSourceSize</key>
<string>{125,42}</string>
<key>textureRect</key>
<string>{{57,833},{125,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_tishen03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,42}</string>
<key>spriteSourceSize</key>
<string>{126,42}</string>
<key>textureRect</key>
<string>{{874,582},{126,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_tishen04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,42}</string>
<key>spriteSourceSize</key>
<string>{125,42}</string>
<key>textureRect</key>
<string>{{103,833},{125,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_wdpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{177,57}</string>
<key>spriteSourceSize</key>
<string>{177,57}</string>
<key>textureRect</key>
<string>{{841,772},{177,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_xmz_hdjf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,46}</string>
<key>spriteSourceSize</key>
<string>{149,46}</string>
<key>textureRect</key>
<string>{{869,628},{149,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_xmz_tzjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,46}</string>
<key>spriteSourceSize</key>
<string>{149,46}</string>
<key>textureRect</key>
<string>{{856,722},{149,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_xmz_xmjy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,46}</string>
<key>spriteSourceSize</key>
<string>{149,46}</string>
<key>textureRect</key>
<string>{{3,610},{149,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_xmz_zcsh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,46}</string>
<key>spriteSourceSize</key>
<string>{149,46}</string>
<key>textureRect</key>
<string>{{53,610},{149,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_wz_zcsh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,40}</string>
<key>spriteSourceSize</key>
<string>{153,40}</string>
<key>textureRect</key>
<string>{{865,678},{153,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_zcsh_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{441,129}</string>
<key>spriteSourceSize</key>
<string>{441,129}</string>
<key>textureRect</key>
<string>{{572,3},{441,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_zdjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,40}</string>
<key>spriteSourceSize</key>
<string>{141,40}</string>
<key>textureRect</key>
<string>{{423,566},{141,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_zy01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,48}</string>
<key>spriteSourceSize</key>
<string>{83,48}</string>
<key>textureRect</key>
<string>{{782,586},{83,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wz_zy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,48}</string>
<key>spriteSourceSize</key>
<string>{83,48}</string>
<key>textureRect</key>
<string>{{778,638},{83,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JS_wzbt_shtj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,50}</string>
<key>spriteSourceSize</key>
<string>{193,50}</string>
<key>textureRect</key>
<string>{{3,823},{193,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_xing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,88}</string>
<key>spriteSourceSize</key>
<string>{93,88}</string>
<key>textureRect</key>
<string>{{782,392},{93,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JS_xing02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,88}</string>
<key>spriteSourceSize</key>
<string>{93,88}</string>
<key>textureRect</key>
<string>{{782,489},{93,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>JS_jiesuan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>JS_jiesuan.png</string>
</dict>
</dict>
</plist>