<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>JZ_cjqz_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,84}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{263,368},{84,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_gaiming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,46}</string>
<key>spriteSourceSize</key>
<string>{35,46}</string>
<key>textureRect</key>
<string>{{81,964},{35,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jd_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,94}</string>
<key>spriteSourceSize</key>
<string>{151,94}</string>
<key>textureRect</key>
<string>{{3,809},{151,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_jd_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,94}</string>
<key>spriteSourceSize</key>
<string>{151,94}</string>
<key>textureRect</key>
<string>{{50,652},{151,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_jd_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,50}</string>
<key>spriteSourceSize</key>
<string>{15,50}</string>
<key>textureRect</key>
<string>{{43,964},{15,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jd_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,50}</string>
<key>spriteSourceSize</key>
<string>{15,50}</string>
<key>textureRect</key>
<string>{{62,964},{15,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jddk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,34}</string>
<key>spriteSourceSize</key>
<string>{37,34}</string>
<key>textureRect</key>
<string>{{154,945},{37,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_jn_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{368,231},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jn_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{422,363},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jn_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{500,231},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jn_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{422,495},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jnmzdk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,28}</string>
<key>spriteSourceSize</key>
<string>{104,28}</string>
<key>textureRect</key>
<string>{{231,368},{104,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_jnzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,30}</string>
<key>spriteSourceSize</key>
<string>{116,30}</string>
<key>textureRect</key>
<string>{{120,989},{116,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jx_jyt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,24}</string>
<key>spriteSourceSize</key>
<string>{29,24}</string>
<key>textureRect</key>
<string>{{192,929},{29,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jx_jyt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,24}</string>
<key>spriteSourceSize</key>
<string>{29,24}</string>
<key>textureRect</key>
<string>{{263,456},{29,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jyt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{192,957},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_jyt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{324,928},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_qizi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,224}</string>
<key>spriteSourceSize</key>
<string>{250,224}</string>
<key>textureRect</key>
<string>{{3,3},{250,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_qizi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,224}</string>
<key>spriteSourceSize</key>
<string>{250,224}</string>
<key>textureRect</key>
<string>{{257,3},{250,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_qizi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,224}</string>
<key>spriteSourceSize</key>
<string>{250,224}</string>
<key>textureRect</key>
<string>{{511,3},{250,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_qizi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,224}</string>
<key>spriteSourceSize</key>
<string>{250,224}</string>
<key>textureRect</key>
<string>{{765,3},{250,224}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_qizi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,224}</string>
<key>spriteSourceSize</key>
<string>{250,224}</string>
<key>textureRect</key>
<string>{{3,231},{250,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_qizi_k.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{148,485},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_srmz_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,50}</string>
<key>spriteSourceSize</key>
<string>{36,50}</string>
<key>textureRect</key>
<string>{{3,964},{36,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_tubiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{141,163}</string>
<key>spriteSourceSize</key>
<string>{141,163}</string>
<key>textureRect</key>
<string>{{3,485},{141,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wz_xggg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,43}</string>
<key>spriteSourceSize</key>
<string>{153,43}</string>
<key>textureRect</key>
<string>{{3,652},{153,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_wzgn_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{148,622},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{185,792},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{231,231},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{285,484},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{285,621},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{322,791},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzgn_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{459,791},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzjx_jxpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,80}</string>
<key>spriteSourceSize</key>
<string>{90,80}</string>
<key>textureRect</key>
<string>{{240,929},{90,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_wzjx_lsjx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{134,38}</string>
<key>spriteSourceSize</key>
<string>{134,38}</string>
<key>textureRect</key>
<string>{{101,807},{134,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_wzjx_ysjx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{134,38}</string>
<key>spriteSourceSize</key>
<string>{134,38}</string>
<key>textureRect</key>
<string>{{143,807},{134,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JZ_wzzw_cy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,29}</string>
<key>spriteSourceSize</key>
<string>{81,29}</string>
<key>textureRect</key>
<string>{{148,759},{81,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzzw_fzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,29}</string>
<key>spriteSourceSize</key>
<string>{81,29}</string>
<key>textureRect</key>
<string>{{233,759},{81,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzzw_jinying.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,29}</string>
<key>spriteSourceSize</key>
<string>{81,29}</string>
<key>textureRect</key>
<string>{{318,758},{81,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_wzzw_zuzhang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,29}</string>
<key>spriteSourceSize</key>
<string>{81,29}</string>
<key>textureRect</key>
<string>{{403,758},{81,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JZ_xiaohao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,40}</string>
<key>spriteSourceSize</key>
<string>{30,40}</string>
<key>textureRect</key>
<string>{{120,945},{30,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>JZ_jiazu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>JZ_jiazu.png</string>
</dict>
</dict>
</plist>