<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>KJ_chongzhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,83}</string>
<key>spriteSourceSize</key>
<string>{85,83}</string>
<key>textureRect</key>
<string>{{879,465},{85,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{205,207}</string>
<key>spriteSourceSize</key>
<string>{205,207}</string>
<key>textureRect</key>
<string>{{3,287},{205,207}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_di02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,45}</string>
<key>spriteSourceSize</key>
<string>{175,45}</string>
<key>textureRect</key>
<string>{{956,57},{175,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_jdt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,24}</string>
<key>spriteSourceSize</key>
<string>{41,24}</string>
<key>textureRect</key>
<string>{{608,84},{41,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_jdt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,20}</string>
<key>spriteSourceSize</key>
<string>{30,20}</string>
<key>textureRect</key>
<string>{{924,137},{30,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_jdt03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{2,20}</string>
<key>spriteSourceSize</key>
<string>{2,20}</string>
<key>textureRect</key>
<string>{{1018,3},{2,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_jdt04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,20}</string>
<key>spriteSourceSize</key>
<string>{30,20}</string>
<key>textureRect</key>
<string>{{924,171},{30,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_keji_xinxichuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,50}</string>
<key>spriteSourceSize</key>
<string>{58,50}</string>
<key>textureRect</key>
<string>{{956,3},{58,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_kjd01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{25,27}</string>
<key>spriteSourceSize</key>
<string>{25,27}</string>
<key>textureRect</key>
<string>{{924,108},{25,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_kjd02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,146}</string>
<key>spriteSourceSize</key>
<string>{111,146}</string>
<key>textureRect</key>
<string>{{884,315},{111,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_kjd03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,33}</string>
<key>spriteSourceSize</key>
<string>{44,33}</string>
<key>textureRect</key>
<string>{{608,47},{44,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_gsfw01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{234,79},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_gsfw02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{234,153},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_gsfw03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{234,227},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_gsfw04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{308,255},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_jdzsh01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{214,301},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_jdzsh02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{382,255},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_jdzsh03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{456,255},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_jdzsh04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{530,255},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_sdjc01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{288,329},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_sdjc02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{214,375},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_sdjc03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{362,329},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_sdjc04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{436,329},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_shjc01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{510,329},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_shjc02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{288,403},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_shjc03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{214,449},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_shjc04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{3,496},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_xgjc01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{77,496},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_xgjc02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{362,403},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_xgjc03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{436,403},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_tb_xgjc04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{510,403},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_jinjiechenggong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{657,3},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_keji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,35}</string>
<key>spriteSourceSize</key>
<string>{126,35}</string>
<key>textureRect</key>
<string>{{884,236},{126,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_keji02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,36}</string>
<key>spriteSourceSize</key>
<string>{113,36}</string>
<key>textureRect</key>
<string>{{608,112},{113,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_wz_keji03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,36}</string>
<key>spriteSourceSize</key>
<string>{113,36}</string>
<key>textureRect</key>
<string>{{608,229},{113,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_wz_keji04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,36}</string>
<key>spriteSourceSize</key>
<string>{113,36}</string>
<key>textureRect</key>
<string>{{884,108},{113,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_wz_keji05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,36}</string>
<key>spriteSourceSize</key>
<string>{113,36}</string>
<key>textureRect</key>
<string>{{884,275},{113,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_kjjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{650,40}</string>
<key>spriteSourceSize</key>
<string>{650,40}</string>
<key>textureRect</key>
<string>{{3,3},{650,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_kjtf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{370,28}</string>
<key>spriteSourceSize</key>
<string>{370,28}</string>
<key>textureRect</key>
<string>{{3,47},{370,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>KJ_wz_shenbin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,35}</string>
<key>spriteSourceSize</key>
<string>{73,35}</string>
<key>textureRect</key>
<string>{{968,465},{73,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_zy01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,227}</string>
<key>spriteSourceSize</key>
<string>{204,227}</string>
<key>textureRect</key>
<string>{{377,47},{204,227}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_zy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,227}</string>
<key>spriteSourceSize</key>
<string>{204,227}</string>
<key>textureRect</key>
<string>{{653,108},{204,227}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_zy03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,227}</string>
<key>spriteSourceSize</key>
<string>{204,227}</string>
<key>textureRect</key>
<string>{{648,316},{204,227}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>KJ_zy04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{204,227}</string>
<key>spriteSourceSize</key>
<string>{204,227}</string>
<key>textureRect</key>
<string>{{3,79},{204,227}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>KJ_keji.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>KJ_keji.png</string>
</dict>
</dict>
</plist>