<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LLBT_buzhen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,116}</string>
<key>spriteSourceSize</key>
<string>{113,116}</string>
<key>textureRect</key>
<string>{{132,3},{113,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_daizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,86}</string>
<key>spriteSourceSize</key>
<string>{92,86}</string>
<key>textureRect</key>
<string>{{3,255},{92,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LLBT_daizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,104}</string>
<key>spriteSourceSize</key>
<string>{86,104}</string>
<key>textureRect</key>
<string>{{119,252},{86,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_rpaihangbang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,116}</string>
<key>spriteSourceSize</key>
<string>{113,116}</string>
<key>textureRect</key>
<string>{{3,28},{113,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_zhezhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,106}</string>
<key>spriteSourceSize</key>
<string>{112,106}</string>
<key>textureRect</key>
<string>{{3,145},{112,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LLBT_zhuangbeishangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,116}</string>
<key>spriteSourceSize</key>
<string>{113,116}</string>
<key>textureRect</key>
<string>{{123,120},{113,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_zhuzi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{9,125}</string>
<key>spriteSourceSize</key>
<string>{9,125}</string>
<key>textureRect</key>
<string>{{3,3},{9,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_zhuzi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{8,125}</string>
<key>spriteSourceSize</key>
<string>{8,125}</string>
<key>textureRect</key>
<string>{{3,16},{8,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LLBT_zhuzi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,11}</string>
<key>spriteSourceSize</key>
<string>{112,11}</string>
<key>textureRect</key>
<string>{{119,237},{112,11}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LLBT_zhuzi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,11}</string>
<key>spriteSourceSize</key>
<string>{112,11}</string>
<key>textureRect</key>
<string>{{235,237},{112,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LLBT_linglongbaota.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LLBT_linglongbaota.png</string>
</dict>
</dict>
</plist>