<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LT_at_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,35}</string>
<key>spriteSourceSize</key>
<string>{31,35}</string>
<key>textureRect</key>
<string>{{173,189},{31,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_at_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,35}</string>
<key>spriteSourceSize</key>
<string>{31,35}</string>
<key>textureRect</key>
<string>{{208,189},{31,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_benfu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,25}</string>
<key>spriteSourceSize</key>
<string>{53,25}</string>
<key>textureRect</key>
<string>{{145,288},{53,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_biaoqing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{50,50}</string>
<key>textureRect</key>
<string>{{178,459},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_duihuak.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,53}</string>
<key>spriteSourceSize</key>
<string>{54,53}</string>
<key>textureRect</key>
<string>{{88,346},{54,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_duihuak_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,53}</string>
<key>spriteSourceSize</key>
<string>{54,53}</string>
<key>textureRect</key>
<string>{{102,404},{54,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_fy_bf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,95}</string>
<key>spriteSourceSize</key>
<string>{81,95}</string>
<key>textureRect</key>
<string>{{3,129},{81,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_fy_fanhui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,91}</string>
<key>spriteSourceSize</key>
<string>{94,91}</string>
<key>textureRect</key>
<string>{{111,3},{94,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_fy_qf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,95}</string>
<key>spriteSourceSize</key>
<string>{81,95}</string>
<key>textureRect</key>
<string>{{3,228},{81,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_fy_sl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,95}</string>
<key>spriteSourceSize</key>
<string>{81,95}</string>
<key>textureRect</key>
<string>{{3,327},{81,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_fy_xm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,95}</string>
<key>spriteSourceSize</key>
<string>{81,95}</string>
<key>textureRect</key>
<string>{{3,426},{81,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_fy_xz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,122}</string>
<key>spriteSourceSize</key>
<string>{104,122}</string>
<key>textureRect</key>
<string>{{3,3},{104,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_fy_zh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,95}</string>
<key>spriteSourceSize</key>
<string>{81,95}</string>
<key>textureRect</key>
<string>{{88,129},{81,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,19}</string>
<key>spriteSourceSize</key>
<string>{22,19}</string>
<key>textureRect</key>
<string>{{111,101},{22,19}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_quanfu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,25}</string>
<key>spriteSourceSize</key>
<string>{53,25}</string>
<key>textureRect</key>
<string>{{145,345},{53,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_shuliao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{47,28}</string>
<key>spriteSourceSize</key>
<string>{47,28}</string>
<key>textureRect</key>
<string>{{102,462},{47,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LT_shurubg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,56}</string>
<key>spriteSourceSize</key>
<string>{54,56}</string>
<key>textureRect</key>
<string>{{88,228},{54,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_siliao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,54}</string>
<key>spriteSourceSize</key>
<string>{53,54}</string>
<key>textureRect</key>
<string>{{88,288},{53,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LT_xianmeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,25}</string>
<key>spriteSourceSize</key>
<string>{53,25}</string>
<key>textureRect</key>
<string>{{159,402},{53,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>emoji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{134,462},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{146,228},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{173,101},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{173,145},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{206,3},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{206,47},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{174,272},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{190,228},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{174,316},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{217,91},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{217,135},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{250,3},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{250,47},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{188,360},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{188,404},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{218,272},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{234,228},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{218,316},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{243,179},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{261,91},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{261,135},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{294,3},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>emoji_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{294,47},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LT_liaotian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LT_liaotian.png</string>
</dict>
</dict>
</plist>