<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>LYZQ_boshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,30}</string>
<key>spriteSourceSize</key>
<string>{199,30}</string>
<key>textureRect</key>
<string>{{534,244},{199,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_cz_gh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{81,82}</string>
<key>textureRect</key>
<string>{{355,337},{81,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_cz_js.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{81,82}</string>
<key>textureRect</key>
<string>{{441,375},{81,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_cz_sd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{81,82}</string>
<key>textureRect</key>
<string>{{355,422},{81,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_cz_xszl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{81,82}</string>
<key>textureRect</key>
<string>{{251,434},{81,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_cz_yczl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,82}</string>
<key>spriteSourceSize</key>
<string>{81,82}</string>
<key>textureRect</key>
<string>{{3,435},{81,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_duanwei_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{531,303},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_duanwei_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{735,293},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_duanwei_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{879,321},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_duanwei_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{735,429},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_duanwei_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{879,457},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_duanwei_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,132}</string>
<key>spriteSourceSize</key>
<string>{140,132}</string>
<key>textureRect</key>
<string>{{3,299},{140,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_fuhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{23,24}</string>
<key>spriteSourceSize</key>
<string>{23,24}</string>
<key>textureRect</key>
<string>{{879,293},{23,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_jiangli_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{170,45}</string>
<key>spriteSourceSize</key>
<string>{170,45}</string>
<key>textureRect</key>
<string>{{737,244},{170,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,22}</string>
<key>spriteSourceSize</key>
<string>{30,22}</string>
<key>textureRect</key>
<string>{{89,494},{30,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_jiantou02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,22}</string>
<key>spriteSourceSize</key>
<string>{30,22}</string>
<key>textureRect</key>
<string>{{402,507},{30,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,9}</string>
<key>spriteSourceSize</key>
<string>{82,9}</string>
<key>textureRect</key>
<string>{{1003,3},{82,9}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,9}</string>
<key>spriteSourceSize</key>
<string>{82,9}</string>
<key>textureRect</key>
<string>{{1003,89},{82,9}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_jindutiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{1,8}</string>
<key>spriteSourceSize</key>
<string>{1,8}</string>
<key>textureRect</key>
<string>{{1016,3},{1,8}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_shanchu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{249,255}</string>
<key>spriteSourceSize</key>
<string>{249,255}</string>
<key>textureRect</key>
<string>{{3,46},{249,255}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_shenxing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,21}</string>
<key>spriteSourceSize</key>
<string>{161,21}</string>
<key>textureRect</key>
<string>{{531,278},{161,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_shijing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{535,39}</string>
<key>spriteSourceSize</key>
<string>{535,39}</string>
<key>textureRect</key>
<string>{{3,3},{535,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_shouyi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{195,47}</string>
<key>spriteSourceSize</key>
<string>{195,47}</string>
<key>textureRect</key>
<string>{{262,286},{195,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_touming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{65,62}</string>
<key>spriteSourceSize</key>
<string>{65,62}</string>
<key>textureRect</key>
<string>{{465,179},{65,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_touxiang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,46}</string>
<key>spriteSourceSize</key>
<string>{55,46}</string>
<key>textureRect</key>
<string>{{89,435},{55,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_touxiang_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,27}</string>
<key>spriteSourceSize</key>
<string>{37,27}</string>
<key>textureRect</key>
<string>{{911,244},{37,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,35}</string>
<key>spriteSourceSize</key>
<string>{125,35}</string>
<key>textureRect</key>
<string>{{696,278},{125,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_wz_duanwei01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{3,520},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{68,520},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{527,439},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{592,439},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{657,464},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{441,460},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{337,507},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,61}</string>
<key>spriteSourceSize</key>
<string>{61,61}</string>
<key>textureRect</key>
<string>{{248,519},{61,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,61}</string>
<key>spriteSourceSize</key>
<string>{62,61}</string>
<key>textureRect</key>
<string>{{465,245},{62,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,61}</string>
<key>spriteSourceSize</key>
<string>{62,61}</string>
<key>textureRect</key>
<string>{{461,310},{62,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,61}</string>
<key>spriteSourceSize</key>
<string>{62,61}</string>
<key>textureRect</key>
<string>{{139,493},{62,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{262,46},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{262,106},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{262,166},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{537,64},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{740,64},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{943,64},{199,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_wz_duanwei_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{537,124},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{740,124},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{262,226},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{534,184},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanwei_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,56}</string>
<key>spriteSourceSize</key>
<string>{199,56}</string>
<key>textureRect</key>
<string>{{737,184},{199,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_duanzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,56}</string>
<key>spriteSourceSize</key>
<string>{53,56}</string>
<key>textureRect</key>
<string>{{675,407},{53,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>LYZQ_wz_jiegu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{457,57}</string>
<key>spriteSourceSize</key>
<string>{457,57}</string>
<key>textureRect</key>
<string>{{542,3},{457,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_lingyaoge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,93}</string>
<key>spriteSourceSize</key>
<string>{100,93}</string>
<key>textureRect</key>
<string>{{147,299},{100,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_saijijiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,93}</string>
<key>spriteSourceSize</key>
<string>{100,93}</string>
<key>textureRect</key>
<string>{{251,337},{100,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_saijipaiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,93}</string>
<key>spriteSourceSize</key>
<string>{100,93}</string>
<key>textureRect</key>
<string>{{147,396},{100,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_yimanji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,32}</string>
<key>spriteSourceSize</key>
<string>{101,32}</string>
<key>textureRect</key>
<string>{{911,285},{101,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_wz_yongyou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,38}</string>
<key>spriteSourceSize</key>
<string>{39,38}</string>
<key>textureRect</key>
<string>{{205,493},{39,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>LYZQ_yx_dizuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,68}</string>
<key>spriteSourceSize</key>
<string>{129,68}</string>
<key>textureRect</key>
<string>{{465,46},{129,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LYZQ_lingyaozhanqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LYZQ_lingyaozhanqi.png</string>
</dict>
</dict>
</plist>