<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>MG_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,85}</string>
<key>spriteSourceSize</key>
<string>{78,85}</string>
<key>textureRect</key>
<string>{{931,230},{78,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_anniu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,86}</string>
<key>spriteSourceSize</key>
<string>{85,86}</string>
<key>textureRect</key>
<string>{{931,55},{85,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_anniu03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,85}</string>
<key>spriteSourceSize</key>
<string>{82,85}</string>
<key>textureRect</key>
<string>{{931,144},{82,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_dengji_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,29}</string>
<key>spriteSourceSize</key>
<string>{80,29}</string>
<key>textureRect</key>
<string>{{931,312},{80,29}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_dj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,48}</string>
<key>spriteSourceSize</key>
<string>{50,48}</string>
<key>textureRect</key>
<string>{{946,3},{50,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_fangkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,32}</string>
<key>spriteSourceSize</key>
<string>{34,32}</string>
<key>textureRect</key>
<string>{{983,1054},{34,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_gou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,37}</string>
<key>spriteSourceSize</key>
<string>{38,37}</string>
<key>textureRect</key>
<string>{{982,345},{38,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{47,30}</string>
<key>spriteSourceSize</key>
<string>{47,30}</string>
<key>textureRect</key>
<string>{{931,555},{47,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{47,30}</string>
<key>spriteSourceSize</key>
<string>{47,30}</string>
<key>textureRect</key>
<string>{{931,589},{47,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_juexing_x01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,20}</string>
<key>spriteSourceSize</key>
<string>{15,20}</string>
<key>textureRect</key>
<string>{{1000,3},{15,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_juexing_x02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,20}</string>
<key>spriteSourceSize</key>
<string>{15,20}</string>
<key>textureRect</key>
<string>{{1000,22},{15,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_lm01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{657,589}</string>
<key>spriteSourceSize</key>
<string>{657,589}</string>
<key>textureRect</key>
<string>{{3,51},{657,589}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_lm02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,145}</string>
<key>spriteSourceSize</key>
<string>{145,145}</string>
<key>textureRect</key>
<string>{{841,905},{145,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_lm03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,26}</string>
<key>spriteSourceSize</key>
<string>{32,26}</string>
<key>textureRect</key>
<string>{{990,999},{32,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_lm04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,138}</string>
<key>spriteSourceSize</key>
<string>{118,138}</string>
<key>textureRect</key>
<string>{{841,1054},{118,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_lm05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,138}</string>
<key>spriteSourceSize</key>
<string>{118,138}</string>
<key>textureRect</key>
<string>{{423,1118},{118,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_mgjc_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{657,34}</string>
<key>spriteSourceSize</key>
<string>{657,34}</string>
<key>textureRect</key>
<string>{{664,51},{657,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_mgtx_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,151}</string>
<key>spriteSourceSize</key>
<string>{173,151}</string>
<key>textureRect</key>
<string>{{754,52},{173,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,151}</string>
<key>spriteSourceSize</key>
<string>{173,151}</string>
<key>textureRect</key>
<string>{{754,207},{173,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,151}</string>
<key>spriteSourceSize</key>
<string>{173,151}</string>
<key>textureRect</key>
<string>{{754,362},{173,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,151}</string>
<key>spriteSourceSize</key>
<string>{173,151}</string>
<key>textureRect</key>
<string>{{754,517},{173,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,151}</string>
<key>spriteSourceSize</key>
<string>{173,151}</string>
<key>textureRect</key>
<string>{{841,750},{173,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,120}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{822,1176},{120,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mgtx_tx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,120}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{565,1209},{120,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_mingzi_bg_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{385,34}</string>
<key>spriteSourceSize</key>
<string>{385,34}</string>
<key>textureRect</key>
<string>{{635,712},{385,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_shuxing_yl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,94}</string>
<key>spriteSourceSize</key>
<string>{103,94}</string>
<key>textureRect</key>
<string>{{689,1289},{103,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,36}</string>
<key>spriteSourceSize</key>
<string>{32,36}</string>
<key>textureRect</key>
<string>{{957,670},{32,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,28}</string>
<key>spriteSourceSize</key>
<string>{43,28}</string>
<key>textureRect</key>
<string>{{931,623},{43,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,28}</string>
<key>spriteSourceSize</key>
<string>{43,28}</string>
<key>textureRect</key>
<string>{{993,658},{43,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,28}</string>
<key>spriteSourceSize</key>
<string>{43,28}</string>
<key>textureRect</key>
<string>{{990,905},{43,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,28}</string>
<key>spriteSourceSize</key>
<string>{43,28}</string>
<key>textureRect</key>
<string>{{990,952},{43,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_gj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,36}</string>
<key>spriteSourceSize</key>
<string>{132,36}</string>
<key>textureRect</key>
<string>{{982,386},{132,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_jc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,36}</string>
<key>spriteSourceSize</key>
<string>{132,36}</string>
<key>textureRect</key>
<string>{{982,522},{132,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{628,100}</string>
<key>spriteSourceSize</key>
<string>{628,100}</string>
<key>textureRect</key>
<string>{{3,644},{628,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wz_mgjc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,43}</string>
<key>spriteSourceSize</key>
<string>{127,43}</string>
<key>textureRect</key>
<string>{{775,1158},{127,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wz_xiaohao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,36}</string>
<key>spriteSourceSize</key>
<string>{199,36}</string>
<key>textureRect</key>
<string>{{754,672},{199,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wz_ycmg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{240,45}</string>
<key>spriteSourceSize</key>
<string>{240,45}</string>
<key>textureRect</key>
<string>{{702,3},{240,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{931,345},{206,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wzxz01_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,750},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz01_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,801},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz01_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,852},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz01_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,903},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz01_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,954},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{3,748},{624,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{631,1005},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{600,1056},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{600,1107},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{3,1118},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{213,1118},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz02_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,47}</string>
<key>spriteSourceSize</key>
<string>{206,47}</string>
<key>textureRect</key>
<string>{{565,1158},{206,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{702,55},{624,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MG_wzxz04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{3,800},{624,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{3,852},{624,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{3,904},{624,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_wzxz07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{624,48}</string>
<key>spriteSourceSize</key>
<string>{624,48}</string>
<key>textureRect</key>
<string>{{3,956},{624,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_xinxi02_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{695,44}</string>
<key>spriteSourceSize</key>
<string>{695,44}</string>
<key>textureRect</key>
<string>{{3,3},{695,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MG_xinxi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{593,106}</string>
<key>spriteSourceSize</key>
<string>{593,106}</string>
<key>textureRect</key>
<string>{{3,1008},{593,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MG_mingge.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MG_mingge.png</string>
</dict>
</dict>
</plist>