<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>MR_HD_wz_yilingqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,50}</string>
<key>spriteSourceSize</key>
<string>{159,50}</string>
<key>textureRect</key>
<string>{{3,572},{159,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MR_wz_guanbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{80,82}</string>
<key>textureRect</key>
<string>{{3,735},{80,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MR_wz_mrth.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,565}</string>
<key>spriteSourceSize</key>
<string>{504,565}</string>
<key>textureRect</key>
<string>{{3,3},{504,565}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MR_meiritehui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MR_meiritehui.png</string>
</dict>
</dict>
</plist>