<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PMH_an_pmrz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,100}</string>
<key>spriteSourceSize</key>
<string>{105,100}</string>
<key>textureRect</key>
<string>{{70,327},{105,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_an_wdjp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,106}</string>
<key>spriteSourceSize</key>
<string>{105,106}</string>
<key>textureRect</key>
<string>{{355,881},{105,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_an_zzjp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,106}</string>
<key>spriteSourceSize</key>
<string>{105,106}</string>
<key>textureRect</key>
<string>{{190,898},{105,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_daipai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,54}</string>
<key>spriteSourceSize</key>
<string>{130,54}</string>
<key>textureRect</key>
<string>{{445,682},{130,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_diwen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{300,320}</string>
<key>spriteSourceSize</key>
<string>{300,320}</string>
<key>textureRect</key>
<string>{{70,3},{300,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,10}</string>
<key>spriteSourceSize</key>
<string>{113,10}</string>
<key>textureRect</key>
<string>{{329,898},{113,10}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_hengtiao_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{17,39}</string>
<key>spriteSourceSize</key>
<string>{17,39}</string>
<key>textureRect</key>
<string>{{465,871},{17,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_hentiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{348,13}</string>
<key>spriteSourceSize</key>
<string>{348,13}</string>
<key>textureRect</key>
<string>{{3,881},{348,13}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_jingjiazhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,84}</string>
<key>spriteSourceSize</key>
<string>{96,84}</string>
<key>textureRect</key>
<string>{{70,431},{96,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_kuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{438,195}</string>
<key>spriteSourceSize</key>
<string>{438,195}</string>
<key>textureRect</key>
<string>{{3,682},{438,195}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_mengcheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,21}</string>
<key>spriteSourceSize</key>
<string>{31,21}</string>
<key>textureRect</key>
<string>{{465,914},{31,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_wz_jjcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{675,63}</string>
<key>spriteSourceSize</key>
<string>{675,63}</string>
<key>textureRect</key>
<string>{{3,3},{675,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_wz_jpcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{675,63}</string>
<key>spriteSourceSize</key>
<string>{675,63}</string>
<key>textureRect</key>
<string>{{445,3},{675,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_wz_jyjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,25}</string>
<key>spriteSourceSize</key>
<string>{101,25}</string>
<key>textureRect</key>
<string>{{300,898},{101,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_wz_pmp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,25}</string>
<key>spriteSourceSize</key>
<string>{75,25}</string>
<key>textureRect</key>
<string>{{343,990},{75,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_wz_sj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,24}</string>
<key>spriteSourceSize</key>
<string>{48,24}</string>
<key>textureRect</key>
<string>{{422,990},{48,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,52}</string>
<key>spriteSourceSize</key>
<string>{51,52}</string>
<key>textureRect</key>
<string>{{445,816},{51,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_yichushou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,121}</string>
<key>spriteSourceSize</key>
<string>{183,121}</string>
<key>textureRect</key>
<string>{{3,898},{183,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PMH_yijiajipai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,54}</string>
<key>spriteSourceSize</key>
<string>{130,54}</string>
<key>textureRect</key>
<string>{{179,327},{130,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PMH_yijngjia.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,83}</string>
<key>spriteSourceSize</key>
<string>{96,83}</string>
<key>textureRect</key>
<string>{{158,461},{96,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PMH_paimaihang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PMH_paimaihang.png</string>
</dict>
</dict>
</plist>