<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PT_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{32,32}</string>
<key>textureRect</key>
<string>{{84,439},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{32,32}</string>
<key>textureRect</key>
<string>{{84,475},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_tb_zbbk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{108,114}</string>
<key>textureRect</key>
<string>{{84,321},{108,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_ui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{108,114}</string>
<key>textureRect</key>
<string>{{196,321},{108,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_ui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{108,114}</string>
<key>textureRect</key>
<string>{{308,129},{108,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PT_ui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{241,113}</string>
<key>spriteSourceSize</key>
<string>{241,113}</string>
<key>textureRect</key>
<string>{{3,3},{241,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_ui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,45}</string>
<key>spriteSourceSize</key>
<string>{192,45}</string>
<key>textureRect</key>
<string>{{3,272},{192,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_ui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,41}</string>
<key>spriteSourceSize</key>
<string>{187,41}</string>
<key>textureRect</key>
<string>{{202,120},{187,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PT_ui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,195}</string>
<key>spriteSourceSize</key>
<string>{148,195}</string>
<key>textureRect</key>
<string>{{3,120},{148,195}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PT_ui_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{218,122}</string>
<key>spriteSourceSize</key>
<string>{218,122}</string>
<key>textureRect</key>
<string>{{248,3},{218,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PT_wz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,77}</string>
<key>spriteSourceSize</key>
<string>{161,77}</string>
<key>textureRect</key>
<string>{{3,321},{161,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PT_zuigao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{205,38}</string>
<key>spriteSourceSize</key>
<string>{205,38}</string>
<key>textureRect</key>
<string>{{470,3},{205,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PT_pata.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PT_pata.png</string>
</dict>
</dict>
</plist>