<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PTWF_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,22}</string>
<key>spriteSourceSize</key>
<string>{42,22}</string>
<key>textureRect</key>
<string>{{76,3},{42,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PTWF_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,35}</string>
<key>spriteSourceSize</key>
<string>{30,35}</string>
<key>textureRect</key>
<string>{{76,29},{30,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PTWF_wz_diaoluojiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,46}</string>
<key>spriteSourceSize</key>
<string>{178,46}</string>
<key>textureRect</key>
<string>{{3,75},{178,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PTWF_wz_gongxihuode.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,69}</string>
<key>spriteSourceSize</key>
<string>{68,69}</string>
<key>textureRect</key>
<string>{{3,3},{68,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PTWF_patawanfa.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PTWF_patawanfa.png</string>
</dict>
</dict>
</plist>