<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>GY_PVEtaizi_zhiye_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,52}</string>
<key>spriteSourceSize</key>
<string>{59,52}</string>
<key>textureRect</key>
<string>{{515,281},{59,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_PVEtaizi_zhiye_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,52}</string>
<key>spriteSourceSize</key>
<string>{59,52}</string>
<key>textureRect</key>
<string>{{210,299},{59,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_PVEtaizi_zhiye_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,52}</string>
<key>spriteSourceSize</key>
<string>{59,52}</string>
<key>textureRect</key>
<string>{{515,344},{59,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GY_PVEtaizi_zhiye_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,52}</string>
<key>spriteSourceSize</key>
<string>{59,52}</string>
<key>textureRect</key>
<string>{{513,407},{59,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE _jdt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,64}</string>
<key>spriteSourceSize</key>
<string>{58,64}</string>
<key>textureRect</key>
<string>{{825,317},{58,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE _jdt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,16}</string>
<key>spriteSourceSize</key>
<string>{20,16}</string>
<key>textureRect</key>
<string>{{186,340},{20,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE _jdt03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,46}</string>
<key>spriteSourceSize</key>
<string>{46,46}</string>
<key>textureRect</key>
<string>{{111,615},{46,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE _jdt04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,52}</string>
<key>spriteSourceSize</key>
<string>{52,52}</string>
<key>textureRect</key>
<string>{{825,385},{52,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE _jdt05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,38}</string>
<key>spriteSourceSize</key>
<string>{28,38}</string>
<key>textureRect</key>
<string>{{954,620},{28,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE _nengliang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,67}</string>
<key>spriteSourceSize</key>
<string>{74,67}</string>
<key>textureRect</key>
<string>{{488,479},{74,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE-_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{23,13}</string>
<key>spriteSourceSize</key>
<string>{23,13}</string>
<key>textureRect</key>
<string>{{488,347},{23,13}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_aixin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,45}</string>
<key>spriteSourceSize</key>
<string>{53,45}</string>
<key>textureRect</key>
<string>{{515,232},{53,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_aixindi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,31}</string>
<key>spriteSourceSize</key>
<string>{30,31}</string>
<key>textureRect</key>
<string>{{840,680},{30,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_an_chetui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,72}</string>
<key>spriteSourceSize</key>
<string>{64,72}</string>
<key>textureRect</key>
<string>{{797,487},{64,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_an_diqing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{672,543},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_an_ggtj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,90}</string>
<key>spriteSourceSize</key>
<string>{98,90}</string>
<key>textureRect</key>
<string>{{267,630},{98,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_an_kszd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{379,518},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_an_xiazhen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,99}</string>
<key>spriteSourceSize</key>
<string>{102,99}</string>
<key>textureRect</key>
<string>{{566,543},{102,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_an_yjbz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{3,615},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_attack_type_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{635,646},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_attack_type_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{635,678},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_boss_xt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,21}</string>
<key>spriteSourceSize</key>
<string>{38,21}</string>
<key>textureRect</key>
<string>{{488,364},{38,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_boss_xt02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,21}</string>
<key>spriteSourceSize</key>
<string>{38,21}</string>
<key>textureRect</key>
<string>{{488,406},{38,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_cw_5001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{766,555},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_5002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{880,556},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_6001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{766,629},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_6002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{672,637},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{880,630},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{746,703},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{561,646},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{483,691},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{557,720},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_7006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{667,711},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_daojishi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,36}</string>
<key>spriteSourceSize</key>
<string>{35,36}</string>
<key>textureRect</key>
<string>{{840,641},{35,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_cw_jineng_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{94,94}</string>
<key>textureRect</key>
<string>{{161,638},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_cw_jineng_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{94,94}</string>
<key>textureRect</key>
<string>{{3,721},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dizuo1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,42}</string>
<key>spriteSourceSize</key>
<string>{93,42}</string>
<key>textureRect</key>
<string>{{170,592},{93,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_dizuo2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,89}</string>
<key>spriteSourceSize</key>
<string>{133,89}</string>
<key>textureRect</key>
<string>{{888,3},{133,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_fanweiquan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,310}</string>
<key>spriteSourceSize</key>
<string>{310,310}</string>
<key>textureRect</key>
<string>{{574,3},{310,310}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_fanweiquan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{217,217}</string>
<key>spriteSourceSize</key>
<string>{217,217}</string>
<key>textureRect</key>
<string>{{267,297},{217,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{123,123}</string>
<key>textureRect</key>
<string>{{888,195},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{123,123}</string>
<key>textureRect</key>
<string>{{571,317},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{123,123}</string>
<key>textureRect</key>
<string>{{698,317},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{635,710},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{631,742},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{631,774},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{954,652},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_mzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{23,20}</string>
<key>spriteSourceSize</key>
<string>{23,20}</string>
<key>textureRect</key>
<string>{{488,323},{23,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jineng_mzbg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,23}</string>
<key>spriteSourceSize</key>
<string>{22,23}</string>
<key>textureRect</key>
<string>{{488,297},{22,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_jn_fuhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,75}</string>
<key>spriteSourceSize</key>
<string>{75,75}</string>
<key>textureRect</key>
<string>{{186,362},{75,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jn_hanhuadi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{567,106}</string>
<key>spriteSourceSize</key>
<string>{567,106}</string>
<key>textureRect</key>
<string>{{3,3},{567,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_jn_zhezhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,108}</string>
<key>spriteSourceSize</key>
<string>{108,108}</string>
<key>textureRect</key>
<string>{{267,518},{108,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_max.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,33}</string>
<key>spriteSourceSize</key>
<string>{71,33}</string>
<key>textureRect</key>
<string>{{487,550},{71,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_qizhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,129}</string>
<key>spriteSourceSize</key>
<string>{95,129}</string>
<key>textureRect</key>
<string>{{888,96},{95,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_qizhi2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,110}</string>
<key>spriteSourceSize</key>
<string>{95,110}</string>
<key>textureRect</key>
<string>{{569,444},{95,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_qizhi3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,110}</string>
<key>spriteSourceSize</key>
<string>{95,110}</string>
<key>textureRect</key>
<string>{{683,444},{95,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_shalou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,52}</string>
<key>spriteSourceSize</key>
<string>{42,52}</string>
<key>textureRect</key>
<string>{{825,441},{42,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_shangzhen_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,96}</string>
<key>spriteSourceSize</key>
<string>{120,96}</string>
<key>textureRect</key>
<string>{{887,357},{120,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_shangzhen_item_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,74}</string>
<key>spriteSourceSize</key>
<string>{74,74}</string>
<key>textureRect</key>
<string>{{177,514},{74,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_sydi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,31}</string>
<key>spriteSourceSize</key>
<string>{123,31}</string>
<key>textureRect</key>
<string>{{887,322},{123,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_tbbofang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,39}</string>
<key>spriteSourceSize</key>
<string>{36,39}</string>
<key>textureRect</key>
<string>{{840,555},{36,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_tbzanting.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,39}</string>
<key>spriteSourceSize</key>
<string>{36,39}</string>
<key>textureRect</key>
<string>{{840,598},{36,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_wenzidi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{179,60}</string>
<key>spriteSourceSize</key>
<string>{179,60}</string>
<key>textureRect</key>
<string>{{3,340},{179,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_wenzidi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,37}</string>
<key>spriteSourceSize</key>
<string>{163,37}</string>
<key>textureRect</key>
<string>{{3,574},{163,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_wenzidi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{203,37}</string>
<key>spriteSourceSize</key>
<string>{203,37}</string>
<key>textureRect</key>
<string>{{3,299},{203,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_wz_gong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,40}</string>
<key>spriteSourceSize</key>
<string>{38,40}</string>
<key>textureRect</key>
<string>{{111,665},{38,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_xuanzhongkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{60,60}</string>
<key>textureRect</key>
<string>{{954,556},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_yghl_guai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,35}</string>
<key>spriteSourceSize</key>
<string>{40,35}</string>
<key>textureRect</key>
<string>{{111,707},{40,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_yghl_wenzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,57}</string>
<key>spriteSourceSize</key>
<string>{54,57}</string>
<key>textureRect</key>
<string>{{515,171},{54,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_yghl_wenzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,55}</string>
<key>spriteSourceSize</key>
<string>{54,55}</string>
<key>textureRect</key>
<string>{{515,113},{54,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,8}</string>
<key>spriteSourceSize</key>
<string>{15,8}</string>
<key>textureRect</key>
<string>{{255,514},{15,8}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,16}</string>
<key>spriteSourceSize</key>
<string>{27,16}</string>
<key>textureRect</key>
<string>{{488,448},{27,16}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,10}</string>
<key>spriteSourceSize</key>
<string>{14,10}</string>
<key>textureRect</key>
<string>{{1011,357},{14,10}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_fg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,8}</string>
<key>spriteSourceSize</key>
<string>{15,8}</string>
<key>textureRect</key>
<string>{{1011,393},{15,8}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_fg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,16}</string>
<key>spriteSourceSize</key>
<string>{27,16}</string>
<key>textureRect</key>
<string>{{995,457},{27,16}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blood_bar_fg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,10}</string>
<key>spriteSourceSize</key>
<string>{14,10}</string>
<key>textureRect</key>
<string>{{1011,375},{14,10}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>heroSkillRange.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,70}</string>
<key>spriteSourceSize</key>
<string>{100,70}</string>
<key>textureRect</key>
<string>{{487,587},{100,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>iceRainRange.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,70}</string>
<key>spriteSourceSize</key>
<string>{100,70}</string>
<key>textureRect</key>
<string>{{379,624},{100,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_alert.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{170,166}</string>
<key>spriteSourceSize</key>
<string>{170,166}</string>
<key>textureRect</key>
<string>{{3,404},{170,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_qipaokuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,75}</string>
<key>spriteSourceSize</key>
<string>{69,75}</string>
<key>textureRect</key>
<string>{{177,441},{69,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>skill_bingyu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{260,182}</string>
<key>spriteSourceSize</key>
<string>{260,182}</string>
<key>textureRect</key>
<string>{{3,113},{260,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>skill_bingyu03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{244,180}</string>
<key>spriteSourceSize</key>
<string>{244,180}</string>
<key>textureRect</key>
<string>{{267,113},{244,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>skill_guwu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,95}</string>
<key>spriteSourceSize</key>
<string>{110,95}</string>
<key>textureRect</key>
<string>{{881,457},{110,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_zhandou.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_zhandou.png</string>
</dict>
</dict>
</plist>