<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>1002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{534,382},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,62}</string>
<key>spriteSourceSize</key>
<string>{93,62}</string>
<key>textureRect</key>
<string>{{293,106},{93,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,69}</string>
<key>spriteSourceSize</key>
<string>{128,69}</string>
<key>textureRect</key>
<string>{{879,226},{128,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{565,226},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>1012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{441,790},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{559,537},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{182,69}</string>
<key>spriteSourceSize</key>
<string>{182,69}</string>
<key>textureRect</key>
<string>{{170,419},{182,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{607,381},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,69}</string>
<key>spriteSourceSize</key>
<string>{152,69}</string>
<key>textureRect</key>
<string>{{492,226},{152,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{638,226},{151,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>4006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,69}</string>
<key>spriteSourceSize</key>
<string>{86,69}</string>
<key>textureRect</key>
<string>{{432,106},{86,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,69}</string>
<key>spriteSourceSize</key>
<string>{86,69}</string>
<key>textureRect</key>
<string>{{505,106},{86,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{724,106},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{724,179},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,69}</string>
<key>spriteSourceSize</key>
<string>{152,69}</string>
<key>textureRect</key>
<string>{{368,825},{152,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{711,252},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{866,299},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,69}</string>
<key>spriteSourceSize</key>
<string>{121,69}</string>
<key>textureRect</key>
<string>{{76,894},{121,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,69}</string>
<key>spriteSourceSize</key>
<string>{148,69}</string>
<key>textureRect</key>
<string>{{787,591},{148,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,68}</string>
<key>spriteSourceSize</key>
<string>{159,68}</string>
<key>textureRect</key>
<string>{{462,389},{159,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,69}</string>
<key>spriteSourceSize</key>
<string>{109,69}</string>
<key>textureRect</key>
<string>{{75,106},{109,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,69}</string>
<key>spriteSourceSize</key>
<string>{87,69}</string>
<key>textureRect</key>
<string>{{359,106},{87,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,69}</string>
<key>spriteSourceSize</key>
<string>{161,69}</string>
<key>textureRect</key>
<string>{{222,837},{161,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,69}</string>
<key>spriteSourceSize</key>
<string>{148,69}</string>
<key>textureRect</key>
<string>{{632,617},{148,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,69}</string>
<key>spriteSourceSize</key>
<string>{118,69}</string>
<key>textureRect</key>
<string>{{587,763},{118,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,68}</string>
<key>spriteSourceSize</key>
<string>{110,68}</string>
<key>textureRect</key>
<string>{{3,106},{110,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,69}</string>
<key>spriteSourceSize</key>
<string>{126,69}</string>
<key>textureRect</key>
<string>{{3,894},{126,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,69}</string>
<key>spriteSourceSize</key>
<string>{101,69}</string>
<key>textureRect</key>
<string>{{220,106},{101,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,69}</string>
<key>spriteSourceSize</key>
<string>{160,69}</string>
<key>textureRect</key>
<string>{{273,226},{160,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{189,69}</string>
<key>spriteSourceSize</key>
<string>{189,69}</string>
<key>textureRect</key>
<string>{{97,456},{189,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,69}</string>
<key>spriteSourceSize</key>
<string>{161,69}</string>
<key>textureRect</key>
<string>{{295,837},{161,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{711,325},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,69}</string>
<key>spriteSourceSize</key>
<string>{128,69}</string>
<key>textureRect</key>
<string>{{514,783},{128,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,69}</string>
<key>spriteSourceSize</key>
<string>{118,69}</string>
<key>textureRect</key>
<string>{{709,763},{118,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,69}</string>
<key>spriteSourceSize</key>
<string>{146,69}</string>
<key>textureRect</key>
<string>{{784,664},{146,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,69}</string>
<key>spriteSourceSize</key>
<string>{146,69}</string>
<key>textureRect</key>
<string>{{632,690},{146,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,69}</string>
<key>spriteSourceSize</key>
<string>{178,69}</string>
<key>textureRect</key>
<string>{{149,840},{178,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{217,90}</string>
<key>spriteSourceSize</key>
<string>{217,90}</string>
<key>textureRect</key>
<string>{{3,456},{217,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,99}</string>
<key>spriteSourceSize</key>
<string>{187,99}</string>
<key>textureRect</key>
<string>{{97,649},{187,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{866,372},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{316,390},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,88}</string>
<key>spriteSourceSize</key>
<string>{135,88}</string>
<key>textureRect</key>
<string>{{296,733},{135,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{230,99}</string>
<key>spriteSourceSize</key>
<string>{230,99}</string>
<key>textureRect</key>
<string>{{3,3},{230,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{226,99}</string>
<key>spriteSourceSize</key>
<string>{226,99}</string>
<key>textureRect</key>
<string>{{3,226},{226,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,69}</string>
<key>spriteSourceSize</key>
<string>{161,69}</string>
<key>textureRect</key>
<string>{{243,404},{161,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,69}</string>
<key>spriteSourceSize</key>
<string>{160,69}</string>
<key>textureRect</key>
<string>{{274,569},{160,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{219,90}</string>
<key>spriteSourceSize</key>
<string>{219,90}</string>
<key>textureRect</key>
<string>{{930,3},{219,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{227,99}</string>
<key>spriteSourceSize</key>
<string>{227,99}</string>
<key>textureRect</key>
<string>{{237,3},{227,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,90}</string>
<key>spriteSourceSize</key>
<string>{174,90}</string>
<key>textureRect</key>
<string>{{179,226},{174,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,90}</string>
<key>spriteSourceSize</key>
<string>{213,90}</string>
<key>textureRect</key>
<string>{{3,677},{213,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{227,99}</string>
<key>spriteSourceSize</key>
<string>{227,99}</string>
<key>textureRect</key>
<string>{{468,3},{227,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{346,226},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,70}</string>
<key>spriteSourceSize</key>
<string>{161,70}</string>
<key>textureRect</key>
<string>{{200,605},{161,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,62}</string>
<key>spriteSourceSize</key>
<string>{152,62}</string>
<key>textureRect</key>
<string>{{493,552},{152,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{347,553},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8031.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{389,389},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{419,226},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{159,69}</string>
<key>spriteSourceSize</key>
<string>{159,69}</string>
<key>textureRect</key>
<string>{{420,552},{159,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{227,99}</string>
<key>spriteSourceSize</key>
<string>{227,99}</string>
<key>textureRect</key>
<string>{{699,3},{227,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{680,398},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,68}</string>
<key>spriteSourceSize</key>
<string>{102,68}</string>
<key>textureRect</key>
<string>{{148,106},{102,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{835,445},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{189,69}</string>
<key>spriteSourceSize</key>
<string>{189,69}</string>
<key>textureRect</key>
<string>{{106,226},{189,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,69}</string>
<key>spriteSourceSize</key>
<string>{128,69}</string>
<key>textureRect</key>
<string>{{782,737},{128,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{680,471},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{835,518},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,63}</string>
<key>spriteSourceSize</key>
<string>{92,63}</string>
<key>textureRect</key>
<string>{{200,770},{92,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,69}</string>
<key>spriteSourceSize</key>
<string>{151,69}</string>
<key>textureRect</key>
<string>{{632,544},{151,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{435,715},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{578,106},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{441,945},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{508,708},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{651,106},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{939,591},{71,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{934,664},{71,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{514,915},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>zhen_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{914,737},{71,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhen_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{587,836},{71,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhen_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,69}</string>
<key>spriteSourceSize</key>
<string>{71,69}</string>
<key>textureRect</key>
<string>{{587,909},{71,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_skillName.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_skillName.png</string>
</dict>
</dict>
</plist>