<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_chongwu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,21}</string>
<key>spriteSourceSize</key>
<string>{20,21}</string>
<key>textureRect</key>
<string>{{489,34},{20,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,36}</string>
<key>spriteSourceSize</key>
<string>{28,36}</string>
<key>textureRect</key>
<string>{{439,61},{28,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_jnbb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,91}</string>
<key>spriteSourceSize</key>
<string>{101,91}</string>
<key>textureRect</key>
<string>{{3,619},{101,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_kezhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,133}</string>
<key>spriteSourceSize</key>
<string>{133,133}</string>
<key>textureRect</key>
<string>{{217,460},{133,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_mingzibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{238,25}</string>
<key>spriteSourceSize</key>
<string>{238,25}</string>
<key>textureRect</key>
<string>{{249,3},{238,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_vstubiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,57}</string>
<key>spriteSourceSize</key>
<string>{132,57}</string>
<key>textureRect</key>
<string>{{160,288},{132,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wanjia_xt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,17}</string>
<key>spriteSourceSize</key>
<string>{27,17}</string>
<key>textureRect</key>
<string>{{491,3},{27,17}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wanjia_xt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,17}</string>
<key>spriteSourceSize</key>
<string>{27,17}</string>
<key>textureRect</key>
<string>{{439,187},{27,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_bj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{154,528},{99,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_bj02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{354,539},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_bjdk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,53}</string>
<key>spriteSourceSize</key>
<string>{194,53}</string>
<key>textureRect</key>
<string>{{3,60},{194,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_bjdk02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,53}</string>
<key>spriteSourceSize</key>
<string>{193,53}</string>
<key>textureRect</key>
<string>{{242,61},{193,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_buqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,53}</string>
<key>spriteSourceSize</key>
<string>{96,53}</string>
<key>textureRect</key>
<string>{{208,768},{96,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_chenmo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,53}</string>
<key>spriteSourceSize</key>
<string>{96,53}</string>
<key>textureRect</key>
<string>{{105,802},{96,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,33}</string>
<key>spriteSourceSize</key>
<string>{29,33}</string>
<key>textureRect</key>
<string>{{439,154},{29,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_didang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,110}</string>
<key>spriteSourceSize</key>
<string>{153,110}</string>
<key>textureRect</key>
<string>{{239,232},{153,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_fanji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,110}</string>
<key>spriteSourceSize</key>
<string>{153,110}</string>
<key>textureRect</key>
<string>{{396,327},{153,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_fsfy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,53}</string>
<key>spriteSourceSize</key>
<string>{194,53}</string>
<key>textureRect</key>
<string>{{3,117},{194,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_fsfy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,53}</string>
<key>spriteSourceSize</key>
<string>{193,53}</string>
<key>textureRect</key>
<string>{{242,118},{193,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_gj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{354,596},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_gj02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{211,597},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_huihe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,33}</string>
<key>spriteSourceSize</key>
<string>{57,33}</string>
<key>textureRect</key>
<string>{{439,93},{57,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_jiangdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,48}</string>
<key>spriteSourceSize</key>
<string>{89,48}</string>
<key>textureRect</key>
<string>{{457,588},{89,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_jianmian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{108,631},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_jingliao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,53}</string>
<key>spriteSourceSize</key>
<string>{96,53}</string>
<key>textureRect</key>
<string>{{3,828},{96,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_kezhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,53}</string>
<key>spriteSourceSize</key>
<string>{98,53}</string>
<key>textureRect</key>
<string>{{106,745},{98,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_kezhi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,53}</string>
<key>spriteSourceSize</key>
<string>{98,53}</string>
<key>textureRect</key>
<string>{{3,771},{98,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_liuxue.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,110}</string>
<key>spriteSourceSize</key>
<string>{153,110}</string>
<key>textureRect</key>
<string>{{3,288},{153,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_mz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{314,653},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_mz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{211,654},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_nq01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,51}</string>
<key>spriteSourceSize</key>
<string>{100,51}</string>
<key>textureRect</key>
<string>{{354,484},{100,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_nq02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,51}</string>
<key>spriteSourceSize</key>
<string>{100,51}</string>
<key>textureRect</key>
<string>{{458,484},{100,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_qusan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,53}</string>
<key>spriteSourceSize</key>
<string>{100,53}</string>
<key>textureRect</key>
<string>{{160,424},{100,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_sb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{108,688},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_sb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{3,714},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_sd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{314,710},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_sd02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,53}</string>
<key>spriteSourceSize</key>
<string>{99,53}</string>
<key>textureRect</key>
<string>{{211,711},{99,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_shanbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,53}</string>
<key>spriteSourceSize</key>
<string>{98,53}</string>
<key>textureRect</key>
<string>{{417,733},{98,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_wz_shao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,110}</string>
<key>spriteSourceSize</key>
<string>{153,110}</string>
<key>textureRect</key>
<string>{{3,402},{153,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_shenchong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,50}</string>
<key>spriteSourceSize</key>
<string>{28,50}</string>
<key>textureRect</key>
<string>{{476,182},{28,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_shengmingsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{242,53}</string>
<key>spriteSourceSize</key>
<string>{242,53}</string>
<key>textureRect</key>
<string>{{3,3},{242,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_shuangkang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,53}</string>
<key>spriteSourceSize</key>
<string>{96,53}</string>
<key>textureRect</key>
<string>{{308,824},{96,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_shuangkang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,53}</string>
<key>spriteSourceSize</key>
<string>{96,53}</string>
<key>textureRect</key>
<string>{{205,825},{96,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_tisheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,48}</string>
<key>spriteSourceSize</key>
<string>{89,48}</string>
<key>textureRect</key>
<string>{{417,681},{89,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_wlfy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,53}</string>
<key>spriteSourceSize</key>
<string>{194,53}</string>
<key>textureRect</key>
<string>{{3,174},{194,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_wlfy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,53}</string>
<key>spriteSourceSize</key>
<string>{193,53}</string>
<key>textureRect</key>
<string>{{242,175},{193,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_zhongdu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,110}</string>
<key>spriteSourceSize</key>
<string>{153,110}</string>
<key>textureRect</key>
<string>{{221,346},{153,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_zlxg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,53}</string>
<key>spriteSourceSize</key>
<string>{192,53}</string>
<key>textureRect</key>
<string>{{3,231},{192,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_zm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{98,53}</string>
<key>spriteSourceSize</key>
<string>{98,53}</string>
<key>textureRect</key>
<string>{{314,767},{98,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_wz_zz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{147,99}</string>
<key>spriteSourceSize</key>
<string>{147,99}</string>
<key>textureRect</key>
<string>{{3,516},{147,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_xt_nuqi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,4}</string>
<key>spriteSourceSize</key>
<string>{19,4}</string>
<key>textureRect</key>
<string>{{231,179},{19,4}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xt_nuqi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,4}</string>
<key>spriteSourceSize</key>
<string>{19,4}</string>
<key>textureRect</key>
<string>{{231,202},{19,4}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xt_nuqi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,4}</string>
<key>spriteSourceSize</key>
<string>{19,4}</string>
<key>textureRect</key>
<string>{{231,225},{19,4}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xt_nuqi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,4}</string>
<key>spriteSourceSize</key>
<string>{19,4}</string>
<key>textureRect</key>
<string>{{494,260},{19,4}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xt_xuetiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,8}</string>
<key>spriteSourceSize</key>
<string>{20,8}</string>
<key>textureRect</key>
<string>{{489,59},{20,8}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_xt_xuetiao_df.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,8}</string>
<key>spriteSourceSize</key>
<string>{20,8}</string>
<key>textureRect</key>
<string>{{494,236},{20,8}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xuetiaobg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,21}</string>
<key>spriteSourceSize</key>
<string>{87,21}</string>
<key>textureRect</key>
<string>{{469,236},{87,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xuetiaobg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,30}</string>
<key>spriteSourceSize</key>
<string>{107,30}</string>
<key>textureRect</key>
<string>{{479,71},{107,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_xuetiaobg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{115,37}</string>
<key>spriteSourceSize</key>
<string>{115,37}</string>
<key>textureRect</key>
<string>{{201,60},{115,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_zhanlibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{236,25}</string>
<key>spriteSourceSize</key>
<string>{236,25}</string>
<key>textureRect</key>
<string>{{249,32},{236,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_zhiye_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,26}</string>
<key>spriteSourceSize</key>
<string>{26,26}</string>
<key>textureRect</key>
<string>{{439,208},{26,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_zhiye_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,26}</string>
<key>spriteSourceSize</key>
<string>{26,26}</string>
<key>textureRect</key>
<string>{{201,179},{26,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_zhiye_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,26}</string>
<key>spriteSourceSize</key>
<string>{26,26}</string>
<key>textureRect</key>
<string>{{201,209},{26,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_zhiye_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,26}</string>
<key>spriteSourceSize</key>
<string>{26,26}</string>
<key>textureRect</key>
<string>{{199,239},{26,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_zhandou.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_zhandou.png</string>
</dict>
</dict>
</plist>