<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QHB_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,54}</string>
<key>spriteSourceSize</key>
<string>{71,54}</string>
<key>textureRect</key>
<string>{{929,3},{71,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QHB_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,30}</string>
<key>spriteSourceSize</key>
<string>{38,30}</string>
<key>textureRect</key>
<string>{{929,103},{38,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QHB_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{701,36}</string>
<key>spriteSourceSize</key>
<string>{701,36}</string>
<key>textureRect</key>
<string>{{3,3},{701,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QHB_chakanjilu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,32}</string>
<key>spriteSourceSize</key>
<string>{110,32}</string>
<key>textureRect</key>
<string>{{989,61},{110,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,22}</string>
<key>spriteSourceSize</key>
<string>{93,22}</string>
<key>textureRect</key>
<string>{{929,137},{93,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_hongbao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{413,542}</string>
<key>spriteSourceSize</key>
<string>{413,542}</string>
<key>textureRect</key>
<string>{{3,43},{413,542}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_hongbao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,208}</string>
<key>spriteSourceSize</key>
<string>{156,208}</string>
<key>textureRect</key>
<string>{{763,180},{156,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QHB_hongbao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,210}</string>
<key>spriteSourceSize</key>
<string>{163,210}</string>
<key>textureRect</key>
<string>{{549,180},{163,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_hongbao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,217}</string>
<key>spriteSourceSize</key>
<string>{173,217}</string>
<key>textureRect</key>
<string>{{708,3},{173,217}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_jinbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{179,184}</string>
<key>spriteSourceSize</key>
<string>{179,184}</string>
<key>textureRect</key>
<string>{{549,347},{179,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QHB_jinbi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,172}</string>
<key>spriteSourceSize</key>
<string>{172,172}</string>
<key>textureRect</key>
<string>{{737,392},{172,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QHB_yuanbao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,38}</string>
<key>spriteSourceSize</key>
<string>{56,38}</string>
<key>textureRect</key>
<string>{{929,61},{56,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QHB_qianghongbao.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QHB_qianghongbao.png</string>
</dict>
</dict>
</plist>