<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QQ__close.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,45}</string>
<key>spriteSourceSize</key>
<string>{46,45}</string>
<key>textureRect</key>
<string>{{914,978},{46,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ__mf.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{195,55}</string>
<key>spriteSourceSize</key>
<string>{195,55}</string>
<key>textureRect</key>
<string>{{964,882},{195,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ__people.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{625,409}</string>
<key>spriteSourceSize</key>
<string>{625,409}</string>
<key>textureRect</key>
<string>{{3,3},{625,409}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ__player.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{32,32}</string>
<key>textureRect</key>
<string>{{309,1286},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ__yuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{301,189}</string>
<key>spriteSourceSize</key>
<string>{301,189}</string>
<key>textureRect</key>
<string>{{3,1317},{301,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_an_guanbi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,60}</string>
<key>spriteSourceSize</key>
<string>{62,60}</string>
<key>textureRect</key>
<string>{{836,1266},{62,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_an_hdxq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,25}</string>
<key>spriteSourceSize</key>
<string>{90,25}</string>
<key>textureRect</key>
<string>{{807,1176},{90,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_an_kaiqi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,158}</string>
<key>spriteSourceSize</key>
<string>{153,158}</string>
<key>textureRect</key>
<string>{{466,556},{153,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_an_wxan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,66}</string>
<key>spriteSourceSize</key>
<string>{160,66}</string>
<key>textureRect</key>
<string>{{466,416},{160,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_an_yxan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,66}</string>
<key>spriteSourceSize</key>
<string>{160,66}</string>
<key>textureRect</key>
<string>{{466,486},{160,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{205,74}</string>
<key>spriteSourceSize</key>
<string>{205,74}</string>
<key>textureRect</key>
<string>{{598,1152},{205,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,63}</string>
<key>spriteSourceSize</key>
<string>{174,63}</string>
<key>textureRect</key>
<string>{{842,1088},{174,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_anniu_dy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,42}</string>
<key>spriteSourceSize</key>
<string>{94,42}</string>
<key>textureRect</key>
<string>{{897,1380},{94,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu_fxyx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,44}</string>
<key>spriteSourceSize</key>
<string>{163,44}</string>
<key>textureRect</key>
<string>{{597,1285},{163,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu_gb_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,138}</string>
<key>spriteSourceSize</key>
<string>{72,138}</string>
<key>textureRect</key>
<string>{{456,1096},{72,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_anniu_gb_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,152}</string>
<key>spriteSourceSize</key>
<string>{77,152}</string>
<key>textureRect</key>
<string>{{466,747},{77,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_anniu_gb_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,132}</string>
<key>spriteSourceSize</key>
<string>{60,132}</string>
<key>textureRect</key>
<string>{{770,1270},{60,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu_ljtj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,44}</string>
<key>spriteSourceSize</key>
<string>{163,44}</string>
<key>textureRect</key>
<string>{{594,1333},{163,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu_tixian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{223,60}</string>
<key>spriteSourceSize</key>
<string>{223,60}</string>
<key>textureRect</key>
<string>{{615,1088},{223,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_anniu_tjcq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,44}</string>
<key>spriteSourceSize</key>
<string>{163,44}</string>
<key>textureRect</key>
<string>{{594,1381},{163,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_biaoshi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,59}</string>
<key>spriteSourceSize</key>
<string>{88,59}</string>
<key>textureRect</key>
<string>{{834,1330},{88,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_biaoshi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,59}</string>
<key>spriteSourceSize</key>
<string>{88,59}</string>
<key>textureRect</key>
<string>{{761,1406},{88,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_biaoshi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,59}</string>
<key>spriteSourceSize</key>
<string>{88,59}</string>
<key>textureRect</key>
<string>{{824,1422},{88,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_bt_cqhl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,106}</string>
<key>spriteSourceSize</key>
<string>{295,106}</string>
<key>textureRect</key>
<string>{{356,794},{295,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_bt_fxlb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{339,136}</string>
<key>spriteSourceSize</key>
<string>{339,136}</string>
<key>textureRect</key>
<string>{{3,826},{339,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_bt_hyfx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,106}</string>
<key>spriteSourceSize</key>
<string>{295,106}</string>
<key>textureRect</key>
<string>{{346,1093},{295,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_bt_scyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,106}</string>
<key>spriteSourceSize</key>
<string>{295,106}</string>
<key>textureRect</key>
<string>{{615,978},{295,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_bt_tyyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,106}</string>
<key>spriteSourceSize</key>
<string>{295,106}</string>
<key>textureRect</key>
<string>{{914,1081},{295,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_bt_wyjzxj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{339,136}</string>
<key>spriteSourceSize</key>
<string>{339,136}</string>
<key>textureRect</key>
<string>{{3,966},{339,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{88,102}</string>
<key>textureRect</key>
<string>{{342,1392},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_di_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,44}</string>
<key>spriteSourceSize</key>
<string>{44,44}</string>
<key>textureRect</key>
<string>{{914,1027},{44,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_di_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{308,1369},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_erweima.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,145}</string>
<key>spriteSourceSize</key>
<string>{145,145}</string>
<key>textureRect</key>
<string>{{466,947},{145,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_gg_dyyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{339,92}</string>
<key>spriteSourceSize</key>
<string>{339,92}</string>
<key>textureRect</key>
<string>{{621,882},{339,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_gg_hyfx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{319,102}</string>
<key>spriteSourceSize</key>
<string>{319,102}</string>
<key>textureRect</key>
<string>{{3,1106},{319,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_gg_tjcq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{302,101}</string>
<key>spriteSourceSize</key>
<string>{302,101}</string>
<key>textureRect</key>
<string>{{3,1212},{302,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_jinriyitixian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{169,51}</string>
<key>spriteSourceSize</key>
<string>{169,51}</string>
<key>textureRect</key>
<string>{{597,1230},{169,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_mengcheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,134}</string>
<key>spriteSourceSize</key>
<string>{119,134}</string>
<key>textureRect</key>
<string>{{456,1303},{119,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_qiandaodi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,137}</string>
<key>spriteSourceSize</key>
<string>{127,137}</string>
<key>textureRect</key>
<string>{{456,1172},{127,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,33}</string>
<key>spriteSourceSize</key>
<string>{70,33}</string>
<key>textureRect</key>
<string>{{309,1212},{70,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_renwu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{436,391}</string>
<key>spriteSourceSize</key>
<string>{436,391}</string>
<key>textureRect</key>
<string>{{630,442},{436,391}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_renwu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{459,374}</string>
<key>spriteSourceSize</key>
<string>{459,374}</string>
<key>textureRect</key>
<string>{{3,416},{459,374}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_renwu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{435,380}</string>
<key>spriteSourceSize</key>
<string>{435,380}</string>
<key>textureRect</key>
<string>{{632,3},{435,380}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_shuzi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{11,30}</string>
<key>spriteSourceSize</key>
<string>{11,30}</string>
<key>textureRect</key>
<string>{{326,1106},{11,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_shuzi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,31}</string>
<key>spriteSourceSize</key>
<string>{19,31}</string>
<key>textureRect</key>
<string>{{308,1346},{19,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_shuzi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,31}</string>
<key>spriteSourceSize</key>
<string>{20,31}</string>
<key>textureRect</key>
<string>{{308,1322},{20,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_shuzi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,30}</string>
<key>spriteSourceSize</key>
<string>{20,30}</string>
<key>textureRect</key>
<string>{{807,1152},{20,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QQ_wz_smewm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,46}</string>
<key>spriteSourceSize</key>
<string>{149,46}</string>
<key>textureRect</key>
<string>{{466,897},{149,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_wz_zsfl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,30}</string>
<key>spriteSourceSize</key>
<string>{152,30}</string>
<key>textureRect</key>
<string>{{466,828},{152,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_wz_zstd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{151,31}</string>
<key>spriteSourceSize</key>
<string>{151,31}</string>
<key>textureRect</key>
<string>{{466,862},{151,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_wz_zszx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{154,30}</string>
<key>spriteSourceSize</key>
<string>{154,30}</string>
<key>textureRect</key>
<string>{{466,713},{154,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QQ_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{349,28}</string>
<key>spriteSourceSize</key>
<string>{349,28}</string>
<key>textureRect</key>
<string>{{3,794},{349,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QQ_Moxie.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QQ_Moxie.png</string>
</dict>
</dict>
</plist>