<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>rechargeIcon_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{3,3},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{3,123},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{3,243},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{3,363},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{123,3},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{243,3},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{363,3},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{123,123},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{123,243},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rechargeIcon_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{116,116}</string>
<key>textureRect</key>
<string>{{123,363},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QQGameRechargeIcon.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QQGameRechargeIcon.png</string>
</dict>
</dict>
</plist>