<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>QXDJ_bt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{719,85}</string>
<key>spriteSourceSize</key>
<string>{719,85}</string>
<key>textureRect</key>
<string>{{3,3},{719,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_bt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{719,85}</string>
<key>spriteSourceSize</key>
<string>{719,85}</string>
<key>textureRect</key>
<string>{{3,92},{719,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_jiangjiqu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,59}</string>
<key>spriteSourceSize</key>
<string>{158,59}</string>
<key>textureRect</key>
<string>{{448,386},{158,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jiangjiqu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,25}</string>
<key>spriteSourceSize</key>
<string>{67,25}</string>
<key>textureRect</key>
<string>{{511,508},{67,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{511,380},{52,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jifen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,26}</string>
<key>spriteSourceSize</key>
<string>{54,26}</string>
<key>textureRect</key>
<string>{{511,322},{54,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jinjiqu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{158,59}</string>
<key>spriteSourceSize</key>
<string>{158,59}</string>
<key>textureRect</key>
<string>{{448,548},{158,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jinjiqu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,25}</string>
<key>spriteSourceSize</key>
<string>{68,25}</string>
<key>textureRect</key>
<string>{{511,436},{68,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_jlyr.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{307,1014},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_lingxiaobaodian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{307,1109},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_phdi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{311,125}</string>
<key>spriteSourceSize</key>
<string>{311,125}</string>
<key>textureRect</key>
<string>{{531,861},{311,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_phdi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{311,125}</string>
<key>spriteSourceSize</key>
<string>{311,125}</string>
<key>textureRect</key>
<string>{{496,990},{311,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_phdi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{311,125}</string>
<key>spriteSourceSize</key>
<string>{311,125}</string>
<key>textureRect</key>
<string>{{811,1005},{311,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_phtszi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{268,89}</string>
<key>spriteSourceSize</key>
<string>{268,89}</string>
<key>textureRect</key>
<string>{{726,95},{268,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_qxdjzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{269,88}</string>
<key>spriteSourceSize</key>
<string>{269,88}</string>
<key>textureRect</key>
<string>{{726,3},{269,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_shangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{411,1119},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{300,300}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{3,1014},{300,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_tishi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,119}</string>
<key>spriteSourceSize</key>
<string>{504,119}</string>
<key>textureRect</key>
<string>{{3,263},{504,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_tishi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{535,78}</string>
<key>spriteSourceSize</key>
<string>{535,78}</string>
<key>textureRect</key>
<string>{{3,181},{535,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_tzslzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,79}</string>
<key>spriteSourceSize</key>
<string>{152,79}</string>
<key>textureRect</key>
<string>{{448,710},{152,79}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_wanjia.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,26}</string>
<key>spriteSourceSize</key>
<string>{55,26}</string>
<key>textureRect</key>
<string>{{511,263},{55,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_wenzidi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,95}</string>
<key>spriteSourceSize</key>
<string>{30,95}</string>
<key>textureRect</key>
<string>{{985,566},{30,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_wenzidi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,109}</string>
<key>spriteSourceSize</key>
<string>{30,109}</string>
<key>textureRect</key>
<string>{{987,453},{30,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_wenzidi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{226,20}</string>
<key>spriteSourceSize</key>
<string>{226,20}</string>
<key>textureRect</key>
<string>{{999,3},{226,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_wenzidi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{216,30}</string>
<key>spriteSourceSize</key>
<string>{216,30}</string>
<key>textureRect</key>
<string>{{987,233},{216,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcbg_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,441}</string>
<key>spriteSourceSize</key>
<string>{310,441}</string>
<key>textureRect</key>
<string>{{3,386},{310,441}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcbg_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,441}</string>
<key>spriteSourceSize</key>
<string>{310,441}</string>
<key>textureRect</key>
<string>{{3,700},{310,441}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcbg_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,441}</string>
<key>spriteSourceSize</key>
<string>{310,441}</string>
<key>textureRect</key>
<string>{{540,547},{310,441}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcbg_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{355,441}</string>
<key>spriteSourceSize</key>
<string>{355,441}</string>
<key>textureRect</key>
<string>{{542,188},{355,441}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcmz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{162,44}</string>
<key>spriteSourceSize</key>
<string>{162,44}</string>
<key>textureRect</key>
<string>{{846,909},{162,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_zcmz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,44}</string>
<key>spriteSourceSize</key>
<string>{161,44}</string>
<key>textureRect</key>
<string>{{448,866},{161,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>QXDJ_zcmz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,44}</string>
<key>spriteSourceSize</key>
<string>{163,44}</string>
<key>textureRect</key>
<string>{{846,861},{163,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>QXDJ_zcmz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{162,44}</string>
<key>spriteSourceSize</key>
<string>{162,44}</string>
<key>textureRect</key>
<string>{{846,957},{162,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>QXDJ_qunxianduijue.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>QXDJ_qunxianduijue.png</string>
</dict>
</dict>
</plist>