<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>RL_anjian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,37}</string>
<key>spriteSourceSize</key>
<string>{26,37}</string>
<key>textureRect</key>
<string>{{882,249},{26,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_rukou_chongshen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{626,239}</string>
<key>spriteSourceSize</key>
<string>{626,239}</string>
<key>textureRect</key>
<string>{{3,57},{626,239}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_rukou_fenjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{626,239}</string>
<key>spriteSourceSize</key>
<string>{626,239}</string>
<key>textureRect</key>
<string>{{633,290},{626,239}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>RL_wz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{510,61}</string>
<key>spriteSourceSize</key>
<string>{510,61}</string>
<key>textureRect</key>
<string>{{113,300},{510,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{203,62}</string>
<key>spriteSourceSize</key>
<string>{203,62}</string>
<key>textureRect</key>
<string>{{113,920},{203,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{510,61}</string>
<key>spriteSourceSize</key>
<string>{510,61}</string>
<key>textureRect</key>
<string>{{113,365},{510,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_sq1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,37}</string>
<key>spriteSourceSize</key>
<string>{190,37}</string>
<key>textureRect</key>
<string>{{320,920},{190,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_sq2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,37}</string>
<key>spriteSourceSize</key>
<string>{190,37}</string>
<key>textureRect</key>
<string>{{320,961},{190,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_sq3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,37}</string>
<key>spriteSourceSize</key>
<string>{190,37}</string>
<key>textureRect</key>
<string>{{514,920},{190,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_yx1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{247,37}</string>
<key>spriteSourceSize</key>
<string>{247,37}</string>
<key>textureRect</key>
<string>{{633,208},{247,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_yx2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{245,37}</string>
<key>spriteSourceSize</key>
<string>{245,37}</string>
<key>textureRect</key>
<string>{{633,249},{245,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_yx3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{275,37}</string>
<key>spriteSourceSize</key>
<string>{275,37}</string>
<key>textureRect</key>
<string>{{633,167},{275,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_zb2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{282,37}</string>
<key>spriteSourceSize</key>
<string>{282,37}</string>
<key>textureRect</key>
<string>{{651,44},{282,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_zb3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{282,37}</string>
<key>spriteSourceSize</key>
<string>{282,37}</string>
<key>textureRect</key>
<string>{{633,85},{282,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_zb4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{282,37}</string>
<key>spriteSourceSize</key>
<string>{282,37}</string>
<key>textureRect</key>
<string>{{633,126},{282,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_wz_zb5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{284,37}</string>
<key>spriteSourceSize</key>
<string>{284,37}</string>
<key>textureRect</key>
<string>{{651,3},{284,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,79}</string>
<key>spriteSourceSize</key>
<string>{81,79}</string>
<key>textureRect</key>
<string>{{939,3},{81,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,28}</string>
<key>spriteSourceSize</key>
<string>{131,28}</string>
<key>textureRect</key>
<string>{{876,290},{131,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>RL_xinxidi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{644,50}</string>
<key>spriteSourceSize</key>
<string>{644,50}</string>
<key>textureRect</key>
<string>{{3,3},{644,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_xinxidi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,23}</string>
<key>spriteSourceSize</key>
<string>{36,23}</string>
<key>textureRect</key>
<string>{{884,208},{36,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>RL_yjrl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{919,86},{106,101}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>RL_yxsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{912,196},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>RL_zbsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{3,920},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>RL_ronglian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>RL_ronglian.png</string>
</dict>
</dict>
</plist>