<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>SJBS_an_baoxiang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{335,332}</string>
<key>spriteSourceSize</key>
<string>{335,332}</string>
<key>textureRect</key>
<string>{{497,365},{335,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_baoxiang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{335,332}</string>
<key>spriteSourceSize</key>
<string>{335,332}</string>
<key>textureRect</key>
<string>{{3,428},{335,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_djyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,84}</string>
<key>spriteSourceSize</key>
<string>{81,84}</string>
<key>textureRect</key>
<string>{{575,831},{81,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_an_guwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{471,831},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{663,854},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_jlyl02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,84}</string>
<key>spriteSourceSize</key>
<string>{81,84}</string>
<key>textureRect</key>
<string>{{575,916},{81,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_an_jsjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{471,926},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_rysd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{303,970},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_shjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{305,865},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_an_tlsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{193,875},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_bcshzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,33}</string>
<key>spriteSourceSize</key>
<string>{122,33}</string>
<key>textureRect</key>
<string>{{669,779},{122,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_daojishi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,32}</string>
<key>spriteSourceSize</key>
<string>{310,32}</string>
<key>textureRect</key>
<string>{{472,743},{310,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_djs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{494,44}</string>
<key>spriteSourceSize</key>
<string>{494,44}</string>
<key>textureRect</key>
<string>{{3,253},{494,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_fh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,38}</string>
<key>spriteSourceSize</key>
<string>{328,38}</string>
<key>textureRect</key>
<string>{{474,701},{328,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_guwu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,41}</string>
<key>spriteSourceSize</key>
<string>{67,41}</string>
<key>textureRect</key>
<string>{{979,157},{67,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_jieshaobg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,71}</string>
<key>spriteSourceSize</key>
<string>{101,71}</string>
<key>textureRect</key>
<string>{{512,153},{101,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_jsdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,23}</string>
<key>spriteSourceSize</key>
<string>{89,23}</string>
<key>textureRect</key>
<string>{{836,365},{89,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_mingzibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{347,34}</string>
<key>spriteSourceSize</key>
<string>{347,34}</string>
<key>textureRect</key>
<string>{{3,390},{347,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_paimingbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,62}</string>
<key>spriteSourceSize</key>
<string>{36,62}</string>
<key>textureRect</key>
<string>{{985,91},{36,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_pm_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,40}</string>
<key>spriteSourceSize</key>
<string>{36,40}</string>
<key>textureRect</key>
<string>{{795,813},{36,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_qipaokuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,86}</string>
<key>spriteSourceSize</key>
<string>{71,86}</string>
<key>textureRect</key>
<string>{{118,816},{71,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_shanghaibg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{719,98}</string>
<key>spriteSourceSize</key>
<string>{719,98}</string>
<key>textureRect</key>
<string>{{3,3},{719,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_tongming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{23,33}</string>
<key>spriteSourceSize</key>
<string>{23,33}</string>
<key>textureRect</key>
<string>{{836,458},{23,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_tongming_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,33}</string>
<key>spriteSourceSize</key>
<string>{48,33}</string>
<key>textureRect</key>
<string>{{108,1013},{48,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_tongming_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,20}</string>
<key>spriteSourceSize</key>
<string>{84,20}</string>
<key>textureRect</key>
<string>{{702,105},{84,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_touxiang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,101}</string>
<key>spriteSourceSize</key>
<string>{101,101}</string>
<key>textureRect</key>
<string>{{3,961},{101,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_biaoqian01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{320,156}</string>
<key>spriteSourceSize</key>
<string>{320,156}</string>
<key>textureRect</key>
<string>{{863,275},{320,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_wz_biaoqian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{320,156}</string>
<key>spriteSourceSize</key>
<string>{320,156}</string>
<key>textureRect</key>
<string>{{836,642},{320,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_wz_bossmz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,34}</string>
<key>spriteSourceSize</key>
<string>{111,34}</string>
<key>textureRect</key>
<string>{{200,802},{111,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,34}</string>
<key>spriteSourceSize</key>
<string>{70,34}</string>
<key>textureRect</key>
<string>{{113,945},{70,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,34}</string>
<key>spriteSourceSize</key>
<string>{91,34}</string>
<key>textureRect</key>
<string>{{663,949},{91,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,34}</string>
<key>spriteSourceSize</key>
<string>{111,34}</string>
<key>textureRect</key>
<string>{{315,827},{111,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,34}</string>
<key>spriteSourceSize</key>
<string>{91,34}</string>
<key>textureRect</key>
<string>{{663,987},{91,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,34}</string>
<key>spriteSourceSize</key>
<string>{111,34}</string>
<key>textureRect</key>
<string>{{3,816},{111,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{358,86}</string>
<key>spriteSourceSize</key>
<string>{358,86}</string>
<key>textureRect</key>
<string>{{501,275},{358,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{358,85}</string>
<key>spriteSourceSize</key>
<string>{358,85}</string>
<key>textureRect</key>
<string>{{3,301},{358,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,35}</string>
<key>spriteSourceSize</key>
<string>{71,35}</string>
<key>textureRect</key>
<string>{{115,906},{71,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,35}</string>
<key>spriteSourceSize</key>
<string>{87,35}</string>
<key>textureRect</key>
<string>{{432,789},{87,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_wz_bossmz_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,35}</string>
<key>spriteSourceSize</key>
<string>{69,35}</string>
<key>textureRect</key>
<string>{{758,963},{69,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,34}</string>
<key>spriteSourceSize</key>
<string>{112,34}</string>
<key>textureRect</key>
<string>{{669,816},{112,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,34}</string>
<key>spriteSourceSize</key>
<string>{112,34}</string>
<key>textureRect</key>
<string>{{200,764},{112,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bossmz_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,34}</string>
<key>spriteSourceSize</key>
<string>{112,34}</string>
<key>textureRect</key>
<string>{{316,789},{112,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_bsxl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,28}</string>
<key>spriteSourceSize</key>
<string>{111,28}</string>
<key>textureRect</key>
<string>{{3,854},{111,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_canzhanzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{128,106}</string>
<key>textureRect</key>
<string>{{365,301},{128,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_dianji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{166,39}</string>
<key>spriteSourceSize</key>
<string>{166,39}</string>
<key>textureRect</key>
<string>{{836,599},{166,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_diyiming01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,32}</string>
<key>spriteSourceSize</key>
<string>{81,32}</string>
<key>textureRect</key>
<string>{{617,153},{81,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_diyiming02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,32}</string>
<key>spriteSourceSize</key>
<string>{81,32}</string>
<key>textureRect</key>
<string>{{617,189},{81,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_diyiming03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,32}</string>
<key>spriteSourceSize</key>
<string>{81,32}</string>
<key>textureRect</key>
<string>{{467,1021},{81,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_diyiming04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,31}</string>
<key>spriteSourceSize</key>
<string>{108,31}</string>
<key>textureRect</key>
<string>{{193,840},{108,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_guanzhu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,34}</string>
<key>spriteSourceSize</key>
<string>{62,34}</string>
<key>textureRect</key>
<string>{{767,857},{62,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{415,880},{52,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_jisha.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,26}</string>
<key>spriteSourceSize</key>
<string>{53,26}</string>
<key>textureRect</key>
<string>{{108,983},{53,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_jizhanzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{128,106}</string>
<key>textureRect</key>
<string>{{354,411},{128,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_jlgz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,44}</string>
<key>spriteSourceSize</key>
<string>{126,44}</string>
<key>textureRect</key>
<string>{{342,741},{126,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_kelingjiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{128,106}</string>
<key>textureRect</key>
<string>{{342,521},{128,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_lijicanzhan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,48}</string>
<key>spriteSourceSize</key>
<string>{193,48}</string>
<key>textureRect</key>
<string>{{472,779},{193,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_lijicanzhan_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,48}</string>
<key>spriteSourceSize</key>
<string>{193,48}</string>
<key>textureRect</key>
<string>{{3,764},{193,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_lv.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,34}</string>
<key>spriteSourceSize</key>
<string>{45,34}</string>
<key>textureRect</key>
<string>{{929,190},{45,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_mingzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,26}</string>
<key>spriteSourceSize</key>
<string>{54,26}</string>
<key>textureRect</key>
<string>{{767,933},{54,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{415,910},{52,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_qiansanming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,26}</string>
<key>spriteSourceSize</key>
<string>{79,26}</string>
<key>textureRect</key>
<string>{{187,980},{79,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_shanghai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,26}</string>
<key>spriteSourceSize</key>
<string>{54,26}</string>
<key>textureRect</key>
<string>{{407,1029},{54,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_shanghaipaiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,26}</string>
<key>spriteSourceSize</key>
<string>{108,26}</string>
<key>textureRect</key>
<string>{{806,701},{108,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_wz_shangyilun.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,26}</string>
<key>spriteSourceSize</key>
<string>{82,26}</string>
<key>textureRect</key>
<string>{{575,1001},{82,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_shpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{199,34}</string>
<key>spriteSourceSize</key>
<string>{199,34}</string>
<key>textureRect</key>
<string>{{726,190},{199,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_shpm02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{255,33}</string>
<key>spriteSourceSize</key>
<string>{255,33}</string>
<key>textureRect</key>
<string>{{726,91},{255,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_shuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,33}</string>
<key>spriteSourceSize</key>
<string>{108,33}</string>
<key>textureRect</key>
<string>{{3,886},{108,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_xianmeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,26}</string>
<key>spriteSourceSize</key>
<string>{54,26}</string>
<key>textureRect</key>
<string>{{270,980},{54,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_wz_yijisha.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,106}</string>
<key>spriteSourceSize</key>
<string>{128,106}</string>
<key>textureRect</key>
<string>{{342,631},{128,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_wz_zdzd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,34}</string>
<key>spriteSourceSize</key>
<string>{106,34}</string>
<key>textureRect</key>
<string>{{3,923},{106,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{695,44}</string>
<key>spriteSourceSize</key>
<string>{695,44}</string>
<key>textureRect</key>
<string>{{3,105},{695,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{288,84}</string>
<key>spriteSourceSize</key>
<string>{288,84}</string>
<key>textureRect</key>
<string>{{726,3},{288,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,38}</string>
<key>spriteSourceSize</key>
<string>{328,38}</string>
<key>textureRect</key>
<string>{{474,701},{328,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{505,43}</string>
<key>spriteSourceSize</key>
<string>{505,43}</string>
<key>textureRect</key>
<string>{{512,228},{505,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{505,96}</string>
<key>spriteSourceSize</key>
<string>{505,96}</string>
<key>textureRect</key>
<string>{{3,153},{505,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xinxidi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{249,58}</string>
<key>spriteSourceSize</key>
<string>{249,58}</string>
<key>textureRect</key>
<string>{{726,128},{249,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,34}</string>
<key>spriteSourceSize</key>
<string>{56,34}</string>
<key>textureRect</key>
<string>{{407,991},{56,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{56,34}</string>
<key>spriteSourceSize</key>
<string>{56,34}</string>
<key>textureRect</key>
<string>{{767,895},{56,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xt_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,47}</string>
<key>spriteSourceSize</key>
<string>{50,47}</string>
<key>textureRect</key>
<string>{{415,940},{50,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_xt_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,47}</string>
<key>spriteSourceSize</key>
<string>{50,47}</string>
<key>textureRect</key>
<string>{{165,1010},{50,47}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>SJBS_shijieboss.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>SJBS_shijieboss.png</string>
</dict>
</dict>
</plist>