<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>SJBS_boss_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{727,334},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_01_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{3,491},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{283,491},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_02_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{563,574},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{3,731},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_03_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{283,731},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{563,814},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_04_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{3,971},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{283,971},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_05_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{563,1054},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{3,1211},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_06_h.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{276,236}</string>
<key>spriteSourceSize</key>
<string>{276,236}</string>
<key>textureRect</key>
<string>{{283,1211},{276,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{251,232}</string>
<key>spriteSourceSize</key>
<string>{251,232}</string>
<key>textureRect</key>
<string>{{563,1294},{251,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_boss_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{327,291}</string>
<key>spriteSourceSize</key>
<string>{327,291}</string>
<key>textureRect</key>
<string>{{727,3},{327,291}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SJBS_hengtiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,240}</string>
<key>spriteSourceSize</key>
<string>{720,240}</string>
<key>textureRect</key>
<string>{{3,3},{720,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SJBS_hengtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,240}</string>
<key>spriteSourceSize</key>
<string>{720,240}</string>
<key>textureRect</key>
<string>{{3,247},{720,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>SJBS_shijieboss_bg.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>SJBS_shijieboss_bg.png</string>
</dict>
</dict>
</plist>