<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>SLLD_tb_jiangli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,91}</string>
<key>spriteSourceSize</key>
<string>{90,91}</string>
<key>textureRect</key>
<string>{{3,77},{90,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_tb_paihangbang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,91}</string>
<key>spriteSourceSize</key>
<string>{90,91}</string>
<key>textureRect</key>
<string>{{289,3},{90,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_tm_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,28}</string>
<key>spriteSourceSize</key>
<string>{30,28}</string>
<key>textureRect</key>
<string>{{119,40},{30,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_wz_dczg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,33}</string>
<key>spriteSourceSize</key>
<string>{112,33}</string>
<key>textureRect</key>
<string>{{3,40},{112,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_wz_dczg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{165,33}</string>
<key>spriteSourceSize</key>
<string>{165,33}</string>
<key>textureRect</key>
<string>{{3,3},{165,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_wz_jrzj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,70}</string>
<key>spriteSourceSize</key>
<string>{70,70}</string>
<key>textureRect</key>
<string>{{98,77},{70,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{98,151},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{94,221},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi01_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{384,3},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{94,291},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{3,353},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi02_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{384,94},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{3,423},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi03_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{73,423},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi03_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{289,97},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{143,361},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi04_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{143,434},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi04_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{172,120},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{354,276},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi05_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{427,276},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi05_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{3,171},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{262,279},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi06_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{213,349},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi06_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{380,185},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{213,422},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi07_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{283,349},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi07_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{263,188},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{283,422},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi08_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{353,346},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi08_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{171,211},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{426,346},{69,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi09_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,66}</string>
<key>spriteSourceSize</key>
<string>{69,66}</string>
<key>textureRect</key>
<string>{{353,416},{69,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SLLD_zi09_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,87}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{3,262},{87,87}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SLLD_zi_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,113}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{172,3},{113,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>SLLD_shenbingliandan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>SLLD_shenbingliandan.png</string>
</dict>
</dict>
</plist>