<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>SQ_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,44}</string>
<key>spriteSourceSize</key>
<string>{116,44}</string>
<key>textureRect</key>
<string>{{222,638},{116,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_guoxuan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,34}</string>
<key>spriteSourceSize</key>
<string>{34,34}</string>
<key>textureRect</key>
<string>{{49,969},{34,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_guoxuan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{468,721},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{13,1}</string>
<key>spriteSourceSize</key>
<string>{13,1}</string>
<key>textureRect</key>
<string>{{508,3},{13,1}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{114,114}</string>
<key>textureRect</key>
<string>{{132,723},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_jieshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,34}</string>
<key>spriteSourceSize</key>
<string>{90,34}</string>
<key>textureRect</key>
<string>{{379,872},{90,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_jieshu_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,34}</string>
<key>spriteSourceSize</key>
<string>{90,34}</string>
<key>textureRect</key>
<string>{{392,686},{90,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_jihuo_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,57}</string>
<key>spriteSourceSize</key>
<string>{77,57}</string>
<key>textureRect</key>
<string>{{348,791},{77,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_jihuo_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{631,105}</string>
<key>spriteSourceSize</key>
<string>{631,105}</string>
<key>textureRect</key>
<string>{{226,3},{631,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_jineng_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,50}</string>
<key>spriteSourceSize</key>
<string>{51,50}</string>
<key>textureRect</key>
<string>{{421,942},{51,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_jineng_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{29,14}</string>
<key>spriteSourceSize</key>
<string>{29,14}</string>
<key>textureRect</key>
<string>{{90,933},{29,14}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_jineng_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{96,96}</string>
<key>textureRect</key>
<string>{{250,686},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_mingzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{447,60}</string>
<key>spriteSourceSize</key>
<string>{447,60}</string>
<key>textureRect</key>
<string>{{394,3},{447,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_qiling_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{626,115}</string>
<key>spriteSourceSize</key>
<string>{626,115}</string>
<key>textureRect</key>
<string>{{107,3},{626,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_qiling_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{612,55}</string>
<key>spriteSourceSize</key>
<string>{612,55}</string>
<key>textureRect</key>
<string>{{335,3},{612,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{86,86}</string>
<key>textureRect</key>
<string>{{132,633},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wenhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,59}</string>
<key>spriteSourceSize</key>
<string>{43,59}</string>
<key>textureRect</key>
<string>{{407,618},{43,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{74,35}</string>
<key>spriteSourceSize</key>
<string>{74,35}</string>
<key>textureRect</key>
<string>{{343,966},{74,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_ci.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,63}</string>
<key>spriteSourceSize</key>
<string>{61,63}</string>
<key>textureRect</key>
<string>{{342,619},{61,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_djsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{244,882},{131,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_dqsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{244,924},{131,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_jjsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{458,303},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_jjtx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{461,439},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_jjxh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{90,951},{131,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_lianzhizhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,35}</string>
<key>spriteSourceSize</key>
<string>{114,35}</string>
<key>textureRect</key>
<string>{{225,966},{114,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{654,100}</string>
<key>spriteSourceSize</key>
<string>{654,100}</string>
<key>textureRect</key>
<string>{{3,3},{654,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_pinzhi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,35}</string>
<key>spriteSourceSize</key>
<string>{71,35}</string>
<key>textureRect</key>
<string>{{409,792},{71,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_pinzhi_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,35}</string>
<key>spriteSourceSize</key>
<string>{71,35}</string>
<key>textureRect</key>
<string>{{417,867},{71,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_pinzhi_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,35}</string>
<key>spriteSourceSize</key>
<string>{71,35}</string>
<key>textureRect</key>
<string>{{448,792},{71,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_pinzhi_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,35}</string>
<key>spriteSourceSize</key>
<string>{71,35}</string>
<key>textureRect</key>
<string>{{456,867},{71,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_qilingji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,38}</string>
<key>spriteSourceSize</key>
<string>{101,38}</string>
<key>textureRect</key>
<string>{{350,686},{101,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_qilingjitb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,108}</string>
<key>spriteSourceSize</key>
<string>{106,108}</string>
<key>textureRect</key>
<string>{{132,841},{106,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_qilingxh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{90,661},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_szyx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,37}</string>
<key>spriteSourceSize</key>
<string>{150,37}</string>
<key>textureRect</key>
<string>{{49,661},{150,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_weijiesuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,34}</string>
<key>spriteSourceSize</key>
<string>{107,34}</string>
<key>textureRect</key>
<string>{{430,681},{107,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_wszyx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,37}</string>
<key>spriteSourceSize</key>
<string>{150,37}</string>
<key>textureRect</key>
<string>{{49,815},{150,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_yixuanyong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,34}</string>
<key>spriteSourceSize</key>
<string>{107,34}</string>
<key>textureRect</key>
<string>{{468,610},{107,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_yizhuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{296,46}</string>
<key>spriteSourceSize</key>
<string>{296,46}</string>
<key>textureRect</key>
<string>{{458,3},{296,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_zhlz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,63}</string>
<key>spriteSourceSize</key>
<string>{160,63}</string>
<key>textureRect</key>
<string>{{394,454},{160,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_wz_zhuanshuyulan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,92}</string>
<key>spriteSourceSize</key>
<string>{94,92}</string>
<key>textureRect</key>
<string>{{250,786},{94,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_wz_zjsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{90,797},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>SQ_xiaohao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,31}</string>
<key>spriteSourceSize</key>
<string>{48,31}</string>
<key>textureRect</key>
<string>{{461,575},{48,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>SQ_yulan_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{341,42}</string>
<key>spriteSourceSize</key>
<string>{341,42}</string>
<key>textureRect</key>
<string>{{3,661},{341,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>SQ_shenqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>SQ_shenqi.png</string>
</dict>
</dict>
</plist>