<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>TJGN_shuliang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{41,32}</string>
<key>spriteSourceSize</key>
<string>{41,32}</string>
<key>textureRect</key>
<string>{{103,663},{41,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{46,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{98,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{150,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{202,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{254,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,48}</string>
<key>spriteSourceSize</key>
<string>{591,48}</string>
<key>textureRect</key>
<string>{{306,3},{591,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_hengtiao_A.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{608,39}</string>
<key>spriteSourceSize</key>
<string>{608,39}</string>
<key>textureRect</key>
<string>{{3,3},{608,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_touxiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,72}</string>
<key>spriteSourceSize</key>
<string>{80,72}</string>
<key>textureRect</key>
<string>{{3,713},{80,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ui_xuetiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,25}</string>
<key>spriteSourceSize</key>
<string>{37,25}</string>
<key>textureRect</key>
<string>{{62,680},{37,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_ui_xuetiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,21}</string>
<key>spriteSourceSize</key>
<string>{35,21}</string>
<key>textureRect</key>
<string>{{3,992},{35,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_ui_xuetiao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{30,680},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_ui_xuetiao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{83,817},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_xuanzhe_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,39}</string>
<key>spriteSourceSize</key>
<string>{39,39}</string>
<key>textureRect</key>
<string>{{43,862},{39,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_xuanzhe_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,39}</string>
<key>spriteSourceSize</key>
<string>{39,39}</string>
<key>textureRect</key>
<string>{{83,774},{39,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TJGN_xz_huanling01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{30,615},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_huanling02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{70,598},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_quanbu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{3,797},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_quanbu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{3,862},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_tianshen01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{3,927},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_tianshen02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{43,797},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_xiemo01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{79,709},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_xz_xiemo02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,36}</string>
<key>spriteSourceSize</key>
<string>{61,36}</string>
<key>textureRect</key>
<string>{{110,598},{61,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TJGN_ys_smyb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,23}</string>
<key>spriteSourceSize</key>
<string>{94,23}</string>
<key>textureRect</key>
<string>{{3,615},{94,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>TJGN_tujiangongneng.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>TJGN_tujiangongneng.png</string>
</dict>
</dict>
</plist>