<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>TTT_biaotizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{334,38}</string>
<key>spriteSourceSize</key>
<string>{334,38}</string>
<key>textureRect</key>
<string>{{3,821},{334,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_biaotizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{420,38}</string>
<key>spriteSourceSize</key>
<string>{420,38}</string>
<key>textureRect</key>
<string>{{3,779},{420,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_biaotizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{272,38}</string>
<key>spriteSourceSize</key>
<string>{272,38}</string>
<key>textureRect</key>
<string>{{3,905},{272,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_biaotizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{309,38}</string>
<key>spriteSourceSize</key>
<string>{309,38}</string>
<key>textureRect</key>
<string>{{3,863},{309,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_biaotizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,36}</string>
<key>spriteSourceSize</key>
<string>{176,36}</string>
<key>textureRect</key>
<string>{{3,947},{176,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_cengshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,46}</string>
<key>spriteSourceSize</key>
<string>{60,46}</string>
<key>textureRect</key>
<string>{{376,821},{60,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_genghuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,90}</string>
<key>spriteSourceSize</key>
<string>{85,90}</string>
<key>textureRect</key>
<string>{{220,567},{85,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_genghuan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,62}</string>
<key>spriteSourceSize</key>
<string>{61,62}</string>
<key>textureRect</key>
<string>{{433,627},{61,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_gqdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{376,885},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_guanqiazi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,34}</string>
<key>spriteSourceSize</key>
<string>{66,34}</string>
<key>textureRect</key>
<string>{{325,938},{66,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_hentiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{433,693},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_hentiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{439,192},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_hentiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{439,236},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_ht_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{620,2}</string>
<key>spriteSourceSize</key>
<string>{620,2}</string>
<key>textureRect</key>
<string>{{433,3},{620,2}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_ht_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{448,2}</string>
<key>spriteSourceSize</key>
<string>{448,2}</string>
<key>textureRect</key>
<string>{{3,995},{448,2}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,57}</string>
<key>spriteSourceSize</key>
<string>{38,57}</string>
<key>textureRect</key>
<string>{{183,947},{38,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,24}</string>
<key>spriteSourceSize</key>
<string>{34,24}</string>
<key>textureRect</key>
<string>{{455,995},{34,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,24}</string>
<key>spriteSourceSize</key>
<string>{34,24}</string>
<key>textureRect</key>
<string>{{395,929},{34,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_jntcdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,104}</string>
<key>spriteSourceSize</key>
<string>{82,104}</string>
<key>textureRect</key>
<string>{{126,471},{82,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_landi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{439,280},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_mingzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{426,48}</string>
<key>spriteSourceSize</key>
<string>{426,48}</string>
<key>textureRect</key>
<string>{{3,727},{426,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_phb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{90,92}</string>
<key>textureRect</key>
<string>{{234,471},{90,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_piaodai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,119}</string>
<key>spriteSourceSize</key>
<string>{720,119}</string>
<key>textureRect</key>
<string>{{3,3},{720,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_tiaoguo_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,54}</string>
<key>spriteSourceSize</key>
<string>{185,54}</string>
<key>textureRect</key>
<string>{{439,3},{185,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_tiaoguo_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{212,54}</string>
<key>spriteSourceSize</key>
<string>{212,54}</string>
<key>textureRect</key>
<string>{{427,779},{212,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_touxiang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,152}</string>
<key>spriteSourceSize</key>
<string>{152,152}</string>
<key>textureRect</key>
<string>{{126,3},{152,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_touxiang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,152}</string>
<key>spriteSourceSize</key>
<string>{152,152}</string>
<key>textureRect</key>
<string>{{126,159},{152,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_touxiang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,152}</string>
<key>spriteSourceSize</key>
<string>{152,152}</string>
<key>textureRect</key>
<string>{{126,315},{152,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TTT_wz_guanqia.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{78,42}</string>
<key>spriteSourceSize</key>
<string>{78,42}</string>
<key>textureRect</key>
<string>{{279,905},{78,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_wz_zuigaojd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,31}</string>
<key>spriteSourceSize</key>
<string>{113,31}</string>
<key>textureRect</key>
<string>{{341,821},{113,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TTT_xzkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{126,557},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>TTT_tongtianta.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>TTT_tongtianta.png</string>
</dict>
</dict>
</plist>