<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XDMG_baoxiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,59}</string>
<key>spriteSourceSize</key>
<string>{58,59}</string>
<key>textureRect</key>
<string>{{1982,3},{58,59}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_bar_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,21}</string>
<key>spriteSourceSize</key>
<string>{87,21}</string>
<key>textureRect</key>
<string>{{1211,836},{87,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_bar_fg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{20,8}</string>
<key>spriteSourceSize</key>
<string>{20,8}</string>
<key>textureRect</key>
<string>{{725,126},{20,8}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_bar_fg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,4}</string>
<key>spriteSourceSize</key>
<string>{19,4}</string>
<key>textureRect</key>
<string>{{2041,65},{19,4}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_bofang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,89}</string>
<key>spriteSourceSize</key>
<string>{85,89}</string>
<key>textureRect</key>
<string>{{3,772},{85,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_boss_tx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{104,104}</string>
<key>textureRect</key>
<string>{{1015,1139},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_buff01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,101}</string>
<key>spriteSourceSize</key>
<string>{105,101}</string>
<key>textureRect</key>
<string>{{1015,1034},{105,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_buff02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,101}</string>
<key>spriteSourceSize</key>
<string>{105,101}</string>
<key>textureRect</key>
<string>{{1124,1035},{105,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_daojishi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{440,37}</string>
<key>spriteSourceSize</key>
<string>{440,37}</string>
<key>textureRect</key>
<string>{{3,342},{440,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_dfzr_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{623,44}</string>
<key>spriteSourceSize</key>
<string>{623,44}</string>
<key>textureRect</key>
<string>{{737,132},{623,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_dljl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{623,44}</string>
<key>spriteSourceSize</key>
<string>{623,44}</string>
<key>textureRect</key>
<string>{{725,180},{623,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_guang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{385,386}</string>
<key>spriteSourceSize</key>
<string>{385,386}</string>
<key>textureRect</key>
<string>{{3,383},{385,386}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_hengtiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{612,90}</string>
<key>spriteSourceSize</key>
<string>{612,90}</string>
<key>textureRect</key>
<string>{{725,228},{612,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_hengtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,240}</string>
<key>spriteSourceSize</key>
<string>{49,240}</string>
<key>textureRect</key>
<string>{{1982,158},{49,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_hengtiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{732,119}</string>
<key>spriteSourceSize</key>
<string>{732,119}</string>
<key>textureRect</key>
<string>{{3,3},{732,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{687,2}</string>
<key>spriteSourceSize</key>
<string>{687,2}</string>
<key>textureRect</key>
<string>{{2041,88},{687,2}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,18}</string>
<key>spriteSourceSize</key>
<string>{22,18}</string>
<key>textureRect</key>
<string>{{1341,228},{22,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_jn_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{718,212}</string>
<key>spriteSourceSize</key>
<string>{718,212}</string>
<key>textureRect</key>
<string>{{3,126},{718,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_taizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{235,124}</string>
<key>spriteSourceSize</key>
<string>{235,124}</string>
<key>textureRect</key>
<string>{{447,342},{235,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_taizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,208}</string>
<key>spriteSourceSize</key>
<string>{161,208}</string>
<key>textureRect</key>
<string>{{1244,541},{161,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_taizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{161,208}</string>
<key>spriteSourceSize</key>
<string>{161,208}</string>
<key>textureRect</key>
<string>{{1024,671},{161,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_benriboss.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{183,27}</string>
<key>spriteSourceSize</key>
<string>{183,27}</string>
<key>textureRect</key>
<string>{{1024,836},{183,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{686,342},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_biaoti02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{393,452},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_biaoti03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{393,580},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_biaoti04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{1407,900},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_biaoti05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{1407,1028},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_dfzr.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,46}</string>
<key>spriteSourceSize</key>
<string>{206,46}</string>
<key>textureRect</key>
<string>{{1980,402},{206,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_dljl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,46}</string>
<key>spriteSourceSize</key>
<string>{206,46}</string>
<key>textureRect</key>
<string>{{1980,612},{206,46}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_hzjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,31}</string>
<key>spriteSourceSize</key>
<string>{101,31}</string>
<key>textureRect</key>
<string>{{1341,1041},{101,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_jfqj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,25}</string>
<key>spriteSourceSize</key>
<string>{102,25}</string>
<key>textureRect</key>
<string>{{1376,1041},{102,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_jiangliyulan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,94}</string>
<key>spriteSourceSize</key>
<string>{101,94}</string>
<key>textureRect</key>
<string>{{1364,132},{101,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_jinengbeibao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,100}</string>
<key>spriteSourceSize</key>
<string>{103,100}</string>
<key>textureRect</key>
<string>{{1123,1140},{103,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,25}</string>
<key>spriteSourceSize</key>
<string>{102,25}</string>
<key>textureRect</key>
<string>{{1341,1146},{102,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_kzgx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,30}</string>
<key>spriteSourceSize</key>
<string>{111,30}</string>
<key>textureRect</key>
<string>{{1244,489},{111,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_shenli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,89}</string>
<key>spriteSourceSize</key>
<string>{90,89}</string>
<key>textureRect</key>
<string>{{1123,1244},{90,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_shijian01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{115,163}</string>
<key>spriteSourceSize</key>
<string>{115,163}</string>
<key>textureRect</key>
<string>{{1244,322},{115,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_shijian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,167}</string>
<key>spriteSourceSize</key>
<string>{137,167}</string>
<key>textureRect</key>
<string>{{1236,900},{137,167}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_shijian03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,167}</string>
<key>spriteSourceSize</key>
<string>{137,167}</string>
<key>textureRect</key>
<string>{{703,972},{137,167}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_shijian04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,167}</string>
<key>spriteSourceSize</key>
<string>{137,167}</string>
<key>textureRect</key>
<string>{{874,972},{137,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_shijian05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,195}</string>
<key>spriteSourceSize</key>
<string>{190,195}</string>
<key>textureRect</key>
<string>{{1236,706},{190,195}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_shijian06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{220,278}</string>
<key>spriteSourceSize</key>
<string>{220,278}</string>
<key>textureRect</key>
<string>{{432,470},{220,278}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_shijian07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{306,297}</string>
<key>spriteSourceSize</key>
<string>{306,297}</string>
<key>textureRect</key>
<string>{{714,671},{306,297}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_shijian08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{306,297}</string>
<key>spriteSourceSize</key>
<string>{306,297}</string>
<key>textureRect</key>
<string>{{393,708},{306,297}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_tongguan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,125}</string>
<key>spriteSourceSize</key>
<string>{720,125}</string>
<key>textureRect</key>
<string>{{739,3},{720,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_tongming_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{264,66}</string>
<key>spriteSourceSize</key>
<string>{264,66}</string>
<key>textureRect</key>
<string>{{1975,892},{264,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_tongming_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,66}</string>
<key>spriteSourceSize</key>
<string>{67,66}</string>
<key>textureRect</key>
<string>{{1975,822},{67,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_vs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,55}</string>
<key>spriteSourceSize</key>
<string>{89,55}</string>
<key>textureRect</key>
<string>{{1982,65},{89,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdbaoge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,94}</string>
<key>spriteSourceSize</key>
<string>{101,94}</string>
<key>textureRect</key>
<string>{{1363,237},{101,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{345,515}</string>
<key>spriteSourceSize</key>
<string>{345,515}</string>
<key>textureRect</key>
<string>{{1463,3},{345,515}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdcg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{345,515}</string>
<key>spriteSourceSize</key>
<string>{345,515}</string>
<key>textureRect</key>
<string>{{725,322},{345,515}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdhz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{345,515}</string>
<key>spriteSourceSize</key>
<string>{345,515}</string>
<key>textureRect</key>
<string>{{1461,352},{345,515}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdhz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{345,515}</string>
<key>spriteSourceSize</key>
<string>{345,515}</string>
<key>textureRect</key>
<string>{{1456,701},{345,515}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xdzhanbao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,94}</string>
<key>spriteSourceSize</key>
<string>{101,94}</string>
<key>textureRect</key>
<string>{{1363,342},{101,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_xiaozupaiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,100}</string>
<key>spriteSourceSize</key>
<string>{103,100}</string>
<key>textureRect</key>
<string>{{1230,1148},{103,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_wz_yiyongyou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{65,45}</string>
<key>spriteSourceSize</key>
<string>{65,45}</string>
<key>textureRect</key>
<string>{{393,383},{65,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_yizhenwang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,32}</string>
<key>spriteSourceSize</key>
<string>{104,32}</string>
<key>textureRect</key>
<string>{{1200,927},{104,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_wz_yxbb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,104}</string>
<key>spriteSourceSize</key>
<string>{103,104}</string>
<key>textureRect</key>
<string>{{1233,1041},{103,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XDMG_xiadi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,163}</string>
<key>spriteSourceSize</key>
<string>{172,163}</string>
<key>textureRect</key>
<string>{{1024,867},{172,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XDMG_xzkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{1363,447},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XDMG_xiandaomigong.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XDMG_xiandaomigong.png</string>
</dict>
</dict>
</plist>