<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XFMJ_an_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{241,59},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_an_phb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{379,489},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_csdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,30}</string>
<key>spriteSourceSize</key>
<string>{42,30}</string>
<key>textureRect</key>
<string>{{479,594},{42,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_gji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{379,689},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_gji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{379,786},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_gji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{3,446},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_guanshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{349,52}</string>
<key>spriteSourceSize</key>
<string>{349,52}</string>
<key>textureRect</key>
<string>{{3,3},{349,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,22}</string>
<key>spriteSourceSize</key>
<string>{42,22}</string>
<key>textureRect</key>
<string>{{197,490},{42,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,22}</string>
<key>spriteSourceSize</key>
<string>{42,22}</string>
<key>textureRect</key>
<string>{{144,490},{42,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_jdt_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,22}</string>
<key>spriteSourceSize</key>
<string>{42,22}</string>
<key>textureRect</key>
<string>{{197,536},{42,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_jdt_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,137}</string>
<key>spriteSourceSize</key>
<string>{137,137}</string>
<key>textureRect</key>
<string>{{351,77},{137,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_jdt_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,137}</string>
<key>spriteSourceSize</key>
<string>{137,137}</string>
<key>textureRect</key>
<string>{{351,218},{137,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_jdt_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,137}</string>
<key>spriteSourceSize</key>
<string>{137,137}</string>
<key>textureRect</key>
<string>{{3,305},{137,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_paiming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{116,127}</string>
<key>textureRect</key>
<string>{{231,164},{116,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_paiming_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,72}</string>
<key>spriteSourceSize</key>
<string>{70,72}</string>
<key>textureRect</key>
<string>{{144,305},{70,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_paiming_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,96}</string>
<key>spriteSourceSize</key>
<string>{91,96}</string>
<key>textureRect</key>
<string>{{379,594},{91,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_paiming_bg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,45}</string>
<key>spriteSourceSize</key>
<string>{33,45}</string>
<key>textureRect</key>
<string>{{476,708},{33,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_paiming_bg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,33}</string>
<key>spriteSourceSize</key>
<string>{32,33}</string>
<key>textureRect</key>
<string>{{476,801},{32,33}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_sm_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{100,528},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_sm_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{3,543},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_sm_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{100,625},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_taizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{224,199}</string>
<key>spriteSourceSize</key>
<string>{224,199}</string>
<key>textureRect</key>
<string>{{3,102},{224,199}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_btxfmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,35}</string>
<key>spriteSourceSize</key>
<string>{125,35}</string>
<key>textureRect</key>
<string>{{379,405},{125,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_ceng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,27}</string>
<key>spriteSourceSize</key>
<string>{28,27}</string>
<key>textureRect</key>
<string>{{476,837},{28,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_dangqian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,29}</string>
<key>spriteSourceSize</key>
<string>{64,29}</string>
<key>textureRect</key>
<string>{{479,640},{64,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,40}</string>
<key>spriteSourceSize</key>
<string>{37,40}</string>
<key>textureRect</key>
<string>{{100,446},{37,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_dljl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{126,42}</string>
<key>spriteSourceSize</key>
<string>{126,42}</string>
<key>textureRect</key>
<string>{{379,359},{126,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_guan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,40}</string>
<key>spriteSourceSize</key>
<string>{37,40}</string>
<key>textureRect</key>
<string>{{100,487},{37,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_jiandan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,36}</string>
<key>spriteSourceSize</key>
<string>{132,36}</string>
<key>textureRect</key>
<string>{{379,883},{132,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_jli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,38}</string>
<key>spriteSourceSize</key>
<string>{66,38}</string>
<key>textureRect</key>
<string>{{144,448},{66,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_kunnan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,36}</string>
<key>spriteSourceSize</key>
<string>{132,36}</string>
<key>textureRect</key>
<string>{{419,883},{132,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_putong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,36}</string>
<key>spriteSourceSize</key>
<string>{132,36}</string>
<key>textureRect</key>
<string>{{459,883},{132,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_tg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,100}</string>
<key>spriteSourceSize</key>
<string>{720,100}</string>
<key>textureRect</key>
<string>{{231,295},{720,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_wz_tiaoguo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,33}</string>
<key>spriteSourceSize</key>
<string>{140,33}</string>
<key>textureRect</key>
<string>{{356,40},{140,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_yongqizhi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,33}</string>
<key>spriteSourceSize</key>
<string>{153,33}</string>
<key>textureRect</key>
<string>{{356,3},{153,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_wz_yqz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,41}</string>
<key>spriteSourceSize</key>
<string>{122,41}</string>
<key>textureRect</key>
<string>{{379,444},{122,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{650,40}</string>
<key>spriteSourceSize</key>
<string>{650,40}</string>
<key>textureRect</key>
<string>{{335,359},{650,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XFMJ_xuanzhe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,65}</string>
<key>spriteSourceSize</key>
<string>{70,65}</string>
<key>textureRect</key>
<string>{{144,379},{70,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_xxdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,40}</string>
<key>spriteSourceSize</key>
<string>{33,40}</string>
<key>textureRect</key>
<string>{{476,757},{33,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XFMJ_zhanlidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{234,39}</string>
<key>spriteSourceSize</key>
<string>{234,39}</string>
<key>textureRect</key>
<string>{{3,59},{234,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XFMJ_xianfumijing.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XFMJ_xianfumijing.png</string>
</dict>
</dict>
</plist>