<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XJTX_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,35}</string>
<key>spriteSourceSize</key>
<string>{125,35}</string>
<key>textureRect</key>
<string>{{335,117},{125,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{219,231}</string>
<key>spriteSourceSize</key>
<string>{219,231}</string>
<key>textureRect</key>
<string>{{799,776},{219,231}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{282,205}</string>
<key>spriteSourceSize</key>
<string>{282,205}</string>
<key>textureRect</key>
<string>{{396,837},{282,205}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,233}</string>
<key>spriteSourceSize</key>
<string>{213,233}</string>
<key>textureRect</key>
<string>{{803,302},{213,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,240}</string>
<key>spriteSourceSize</key>
<string>{328,240}</string>
<key>textureRect</key>
<string>{{488,3},{328,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{258,243}</string>
<key>spriteSourceSize</key>
<string>{258,243}</string>
<key>textureRect</key>
<string>{{571,1486},{258,243}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{303,271}</string>
<key>spriteSourceSize</key>
<string>{303,271}</string>
<key>textureRect</key>
<string>{{3,568},{303,271}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dianji_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{313,275}</string>
<key>spriteSourceSize</key>
<string>{313,275}</string>
<key>textureRect</key>
<string>{{3,289},{313,275}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_dizuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{307,315}</string>
<key>spriteSourceSize</key>
<string>{307,315}</string>
<key>textureRect</key>
<string>{{484,247},{307,315}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,82}</string>
<key>spriteSourceSize</key>
<string>{82,82}</string>
<key>textureRect</key>
<string>{{310,767},{82,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_jianbian_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{481,38}</string>
<key>spriteSourceSize</key>
<string>{481,38}</string>
<key>textureRect</key>
<string>{{3,3},{481,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{115,33}</string>
<key>spriteSourceSize</key>
<string>{115,33}</string>
<key>textureRect</key>
<string>{{320,549},{115,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi01_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{115,33}</string>
<key>spriteSourceSize</key>
<string>{115,33}</string>
<key>textureRect</key>
<string>{{310,586},{115,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,32}</string>
<key>spriteSourceSize</key>
<string>{112,32}</string>
<key>textureRect</key>
<string>{{310,695},{112,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi02_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,32}</string>
<key>spriteSourceSize</key>
<string>{112,32}</string>
<key>textureRect</key>
<string>{{310,731},{112,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,33}</string>
<key>spriteSourceSize</key>
<string>{156,33}</string>
<key>textureRect</key>
<string>{{820,43},{156,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi03_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,33}</string>
<key>spriteSourceSize</key>
<string>{156,33}</string>
<key>textureRect</key>
<string>{{820,80},{156,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,32}</string>
<key>spriteSourceSize</key>
<string>{119,32}</string>
<key>textureRect</key>
<string>{{448,394},{119,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_mingzi04_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,32}</string>
<key>spriteSourceSize</key>
<string>{119,32}</string>
<key>textureRect</key>
<string>{{320,513},{119,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,32}</string>
<key>spriteSourceSize</key>
<string>{133,32}</string>
<key>textureRect</key>
<string>{{335,45},{133,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi05_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,32}</string>
<key>spriteSourceSize</key>
<string>{133,32}</string>
<key>textureRect</key>
<string>{{335,81},{133,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,32}</string>
<key>spriteSourceSize</key>
<string>{113,32}</string>
<key>textureRect</key>
<string>{{310,623},{113,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi06_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,32}</string>
<key>spriteSourceSize</key>
<string>{113,32}</string>
<key>textureRect</key>
<string>{{310,659},{113,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,32}</string>
<key>spriteSourceSize</key>
<string>{156,32}</string>
<key>textureRect</key>
<string>{{820,117},{156,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_mingzi07_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{156,32}</string>
<key>spriteSourceSize</key>
<string>{156,32}</string>
<key>textureRect</key>
<string>{{820,153},{156,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_shangzhen_yx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,37}</string>
<key>spriteSourceSize</key>
<string>{150,37}</string>
<key>textureRect</key>
<string>{{820,189},{150,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{310,1046},{280,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{3,1118},{280,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{594,1220},{280,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{287,1312},{280,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{3,1384},{280,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_tubiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{3,1650},{280,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_tubiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{280,262}</string>
<key>spriteSourceSize</key>
<string>{280,262}</string>
<key>textureRect</key>
<string>{{269,1650},{280,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_weikaiqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{219,231}</string>
<key>spriteSourceSize</key>
<string>{219,231}</string>
<key>textureRect</key>
<string>{{782,1733},{219,231}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_weikaiqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{282,205}</string>
<key>spriteSourceSize</key>
<string>{282,205}</string>
<key>textureRect</key>
<string>{{682,1011},{282,205}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_weikaiqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{213,233}</string>
<key>spriteSourceSize</key>
<string>{213,233}</string>
<key>textureRect</key>
<string>{{803,539},{213,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_weikaiqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,240}</string>
<key>spriteSourceSize</key>
<string>{328,240}</string>
<key>textureRect</key>
<string>{{3,45},{328,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_weikaiqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{258,243}</string>
<key>spriteSourceSize</key>
<string>{258,243}</string>
<key>textureRect</key>
<string>{{535,1733},{258,243}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_weikaiqi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{303,271}</string>
<key>spriteSourceSize</key>
<string>{303,271}</string>
<key>textureRect</key>
<string>{{3,843},{303,271}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_weikaiqi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{313,275}</string>
<key>spriteSourceSize</key>
<string>{313,275}</string>
<key>textureRect</key>
<string>{{482,558},{313,275}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_weishangzhen_yx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,37}</string>
<key>spriteSourceSize</key>
<string>{150,37}</string>
<key>textureRect</key>
<string>{{820,230},{150,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_wz_dianjigenhuan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{168,36}</string>
<key>spriteSourceSize</key>
<string>{168,36}</string>
<key>textureRect</key>
<string>{{820,3},{168,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_wz_djgh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,17}</string>
<key>spriteSourceSize</key>
<string>{67,17}</string>
<key>textureRect</key>
<string>{{464,117},{67,17}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_djtj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,17}</string>
<key>spriteSourceSize</key>
<string>{67,17}</string>
<key>textureRect</key>
<string>{{463,188},{67,17}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_houpai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,41}</string>
<key>spriteSourceSize</key>
<string>{79,41}</string>
<key>textureRect</key>
<string>{{980,136},{79,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_qianpai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,41}</string>
<key>spriteSourceSize</key>
<string>{79,41}</string>
<key>textureRect</key>
<string>{{974,219},{79,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_tanxianzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,35}</string>
<key>spriteSourceSize</key>
<string>{114,35}</string>
<key>textureRect</key>
<string>{{443,517},{114,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_tgjli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{129,29}</string>
<key>spriteSourceSize</key>
<string>{129,29}</string>
<key>textureRect</key>
<string>{{992,3},{129,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_wz_xjsj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,35}</string>
<key>spriteSourceSize</key>
<string>{96,35}</string>
<key>textureRect</key>
<string>{{427,635},{96,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XJTX_xjsj_ht.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,22}</string>
<key>spriteSourceSize</key>
<string>{31,22}</string>
<key>textureRect</key>
<string>{{803,271},{31,22}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_xjsj_tb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,115}</string>
<key>spriteSourceSize</key>
<string>{124,115}</string>
<key>textureRect</key>
<string>{{335,156},{124,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_xjsj_tb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,115}</string>
<key>spriteSourceSize</key>
<string>{124,115}</string>
<key>textureRect</key>
<string>{{335,275},{124,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XJTX_xjsj_tb03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,115}</string>
<key>spriteSourceSize</key>
<string>{124,115}</string>
<key>textureRect</key>
<string>{{320,394},{124,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XJTX_xianjingtanxian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XJTX_xianjingtanxian.png</string>
</dict>
</dict>
</plist>