<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Hero4001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,41},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero4002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{131,41},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero4003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{259,41},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero4004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,161},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero4005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{131,161},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero4006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{512,3},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{640,3},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{768,3},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{896,3},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{512,123},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{379,127},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{259,169},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero5007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,281},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero5008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{131,281},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{640,123},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{768,123},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{896,123},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{507,243},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{379,247},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{259,297},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero6007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,401},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{131,401},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{635,243},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{763,243},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{891,243},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero6012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,521},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero6013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,649},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero6014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,777},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero7001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{3,905},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero7002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{123,521},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero7003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{123,649},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero7004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{123,777},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Hero7005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{131,905},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Hero7006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{116,124}</string>
<key>textureRect</key>
<string>{{243,521},{116,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_an_bz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,101}</string>
<key>spriteSourceSize</key>
<string>{106,101}</string>
<key>textureRect</key>
<string>{{379,367},{106,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_an_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,107}</string>
<key>spriteSourceSize</key>
<string>{106,107}</string>
<key>textureRect</key>
<string>{{475,755},{106,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_an_xjjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,107}</string>
<key>spriteSourceSize</key>
<string>{106,107}</string>
<key>textureRect</key>
<string>{{491,866},{106,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_cishudi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,38}</string>
<key>spriteSourceSize</key>
<string>{35,38}</string>
<key>textureRect</key>
<string>{{292,425},{35,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_taizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{47,29}</string>
<key>spriteSourceSize</key>
<string>{47,29}</string>
<key>textureRect</key>
<string>{{259,425},{47,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XML_touxiangxz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,126}</string>
<key>spriteSourceSize</key>
<string>{120,126}</string>
<key>textureRect</key>
<string>{{382,3},{120,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XML_wz_bt01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{181,34}</string>
<key>spriteSourceSize</key>
<string>{181,34}</string>
<key>textureRect</key>
<string>{{197,3},{181,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_wz_btstjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,39}</string>
<key>spriteSourceSize</key>
<string>{123,39}</string>
<key>textureRect</key>
<string>{{259,476},{123,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XML_wz_dljl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,39}</string>
<key>spriteSourceSize</key>
<string>{123,39}</string>
<key>textureRect</key>
<string>{{243,649},{123,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XML_wz_yulan_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{190,34}</string>
<key>spriteSourceSize</key>
<string>{190,34}</string>
<key>textureRect</key>
<string>{{3,3},{190,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{243,776},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{286,649},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{363,519},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{259,894},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{359,767},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9013.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{402,637},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster9014.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{112,114}</string>
<key>textureRect</key>
<string>{{375,885},{112,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XML_xianmolu.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XML_xianmolu.png</string>
</dict>
</dict>
</plist>