<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XSSL_an_phb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,91}</string>
<key>spriteSourceSize</key>
<string>{90,91}</string>
<key>textureRect</key>
<string>{{409,200},{90,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_an_xssc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,100}</string>
<key>spriteSourceSize</key>
<string>{101,100}</string>
<key>textureRect</key>
<string>{{409,3},{101,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_an_yjlq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,88}</string>
<key>spriteSourceSize</key>
<string>{95,88}</string>
<key>textureRect</key>
<string>{{409,108},{95,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_fenye01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{64,891},{146,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_fenye02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{130,727},{146,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_fenye03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{259,877},{146,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_fenye04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{261,3},{146,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_fenye05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{261,153},{146,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_fenye06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{356,325},{146,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_fenye07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,127}</string>
<key>spriteSourceSize</key>
<string>{146,127}</string>
<key>textureRect</key>
<string>{{356,456},{146,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_jindutiao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,17}</string>
<key>spriteSourceSize</key>
<string>{24,17}</string>
<key>textureRect</key>
<string>{{167,303},{24,17}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_jindutiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,21}</string>
<key>spriteSourceSize</key>
<string>{28,21}</string>
<key>textureRect</key>
<string>{{39,907},{28,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_jishadi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,29}</string>
<key>spriteSourceSize</key>
<string>{176,29}</string>
<key>textureRect</key>
<string>{{13,727},{176,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_mengcheng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,25}</string>
<key>spriteSourceSize</key>
<string>{24,25}</string>
<key>textureRect</key>
<string>{{167,39},{24,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,53}</string>
<key>spriteSourceSize</key>
<string>{59,53}</string>
<key>textureRect</key>
<string>{{3,942},{59,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_tzcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,150}</string>
<key>spriteSourceSize</key>
<string>{720,150}</string>
<key>textureRect</key>
<string>{{13,3},{720,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_bcsh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,27}</string>
<key>spriteSourceSize</key>
<string>{108,27}</string>
<key>textureRect</key>
<string>{{392,294},{108,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_wz_buzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,35}</string>
<key>spriteSourceSize</key>
<string>{121,35}</string>
<key>textureRect</key>
<string>{{317,555},{121,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_fhzh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{124,35}</string>
<key>spriteSourceSize</key>
<string>{124,35}</string>
<key>textureRect</key>
<string>{{205,47},{124,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_gjjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{548,52}</string>
<key>spriteSourceSize</key>
<string>{548,52}</string>
<key>textureRect</key>
<string>{{261,325},{548,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_jhyk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,35}</string>
<key>spriteSourceSize</key>
<string>{120,35}</string>
<key>textureRect</key>
<string>{{356,625},{120,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_wz_myzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,34}</string>
<key>spriteSourceSize</key>
<string>{122,34}</string>
<key>textureRect</key>
<string>{{356,587},{122,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_wz_xssl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,35}</string>
<key>spriteSourceSize</key>
<string>{123,35}</string>
<key>textureRect</key>
<string>{{205,175},{123,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_ytg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,41}</string>
<key>spriteSourceSize</key>
<string>{143,41}</string>
<key>textureRect</key>
<string>{{214,877},{143,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_zgzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,35}</string>
<key>spriteSourceSize</key>
<string>{122,35}</string>
<key>textureRect</key>
<string>{{317,303},{122,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_zlzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{122,35}</string>
<key>spriteSourceSize</key>
<string>{122,35}</string>
<key>textureRect</key>
<string>{{317,429},{122,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_wz_zpzz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,35}</string>
<key>spriteSourceSize</key>
<string>{123,35}</string>
<key>textureRect</key>
<string>{{195,302},{123,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_xinxidi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{25,149}</string>
<key>spriteSourceSize</key>
<string>{25,149}</string>
<key>textureRect</key>
<string>{{101,727},{25,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{220,34}</string>
<key>spriteSourceSize</key>
<string>{220,34}</string>
<key>textureRect</key>
<string>{{167,68},{220,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_xinxidi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{6,935}</string>
<key>spriteSourceSize</key>
<string>{6,935}</string>
<key>textureRect</key>
<string>{{3,3},{6,935}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_xinxidi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{195,3},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_xuanzhong02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{160,51}</string>
<key>spriteSourceSize</key>
<string>{160,51}</string>
<key>textureRect</key>
<string>{{46,727},{160,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_xuetiao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,22}</string>
<key>spriteSourceSize</key>
<string>{30,22}</string>
<key>textureRect</key>
<string>{{13,907},{30,22}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_xuetiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,24}</string>
<key>spriteSourceSize</key>
<string>{32,24}</string>
<key>textureRect</key>
<string>{{167,3},{32,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_yuan01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{8,8}</string>
<key>spriteSourceSize</key>
<string>{8,8}</string>
<key>textureRect</key>
<string>{{3,1005},{8,8}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_yuan02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{8,8}</string>
<key>spriteSourceSize</key>
<string>{8,8}</string>
<key>textureRect</key>
<string>{{15,1005},{8,8}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XSSL_xieshenshilian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XSSL_xieshenshilian.png</string>
</dict>
</dict>
</plist>