<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XSSL_luxian01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{431,236}</string>
<key>spriteSourceSize</key>
<string>{431,236}</string>
<key>textureRect</key>
<string>{{243,523},{431,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_luxian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{399,254}</string>
<key>spriteSourceSize</key>
<string>{399,254}</string>
<key>textureRect</key>
<string>{{595,3},{399,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_luxian03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{537,211}</string>
<key>spriteSourceSize</key>
<string>{537,211}</string>
<key>textureRect</key>
<string>{{483,523},{537,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_luxian04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{586,248}</string>
<key>spriteSourceSize</key>
<string>{586,248}</string>
<key>textureRect</key>
<string>{{3,269},{586,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_luxian05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{588,262}</string>
<key>spriteSourceSize</key>
<string>{588,262}</string>
<key>textureRect</key>
<string>{{3,3},{588,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_luxian06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{396,258}</string>
<key>spriteSourceSize</key>
<string>{396,258}</string>
<key>textureRect</key>
<string>{{595,261},{396,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSSL_luxian07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{465,236}</string>
<key>spriteSourceSize</key>
<string>{465,236}</string>
<key>textureRect</key>
<string>{{3,523},{465,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_xuanzhong01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{95,78}</string>
<key>spriteSourceSize</key>
<string>{95,78}</string>
<key>textureRect</key>
<string>{{483,738},{95,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_zuotai01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,34}</string>
<key>spriteSourceSize</key>
<string>{44,34}</string>
<key>textureRect</key>
<string>{{243,958},{44,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSSL_zuotai02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{44,34}</string>
<key>spriteSourceSize</key>
<string>{44,34}</string>
<key>textureRect</key>
<string>{{281,958},{44,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XSSL_xieshenshilian02.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XSSL_xieshenshilian02.png</string>
</dict>
</dict>
</plist>