<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XSYD_dianjijx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,15}</string>
<key>spriteSourceSize</key>
<string>{26,15}</string>
<key>textureRect</key>
<string>{{678,1006},{26,15}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_dianjijx02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,26}</string>
<key>spriteSourceSize</key>
<string>{35,26}</string>
<key>textureRect</key>
<string>{{892,950},{35,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_jianbian_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{602,14}</string>
<key>spriteSourceSize</key>
<string>{602,14}</string>
<key>textureRect</key>
<string>{{72,1007},{602,14}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_quming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,584}</string>
<key>spriteSourceSize</key>
<string>{720,584}</string>
<key>textureRect</key>
<string>{{3,226},{720,584}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_ui_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{436,52}</string>
<key>spriteSourceSize</key>
<string>{436,52}</string>
<key>textureRect</key>
<string>{{452,950},{436,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_ui_hengxian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,21}</string>
<key>spriteSourceSize</key>
<string>{35,21}</string>
<key>textureRect</key>
<string>{{892,989},{35,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_ui_jineng_js.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{121,112}</string>
<key>spriteSourceSize</key>
<string>{121,112}</string>
<key>textureRect</key>
<string>{{731,3},{121,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_ui_shaizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,65}</string>
<key>spriteSourceSize</key>
<string>{66,65}</string>
<key>textureRect</key>
<string>{{3,950},{66,65}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_ui_xinxikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{724,219}</string>
<key>spriteSourceSize</key>
<string>{724,219}</string>
<key>textureRect</key>
<string>{{3,3},{724,219}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XSYD_ui_xinxikuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,341}</string>
<key>spriteSourceSize</key>
<string>{720,341}</string>
<key>textureRect</key>
<string>{{591,226},{720,341}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_wz_duibai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{334,77}</string>
<key>spriteSourceSize</key>
<string>{334,77}</string>
<key>textureRect</key>
<string>{{936,3},{334,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_wz_renwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{441,41}</string>
<key>spriteSourceSize</key>
<string>{441,41}</string>
<key>textureRect</key>
<string>{{936,341},{441,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XSYD_wz_wcjc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{376,53}</string>
<key>spriteSourceSize</key>
<string>{376,53}</string>
<key>textureRect</key>
<string>{{72,950},{376,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XSYD_xinshouyiindao.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XSYD_xinshouyiindao.png</string>
</dict>
</dict>
</plist>