<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XW02_ch_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,138}</string>
<key>spriteSourceSize</key>
<string>{104,138}</string>
<key>textureRect</key>
<string>{{3,1933},{104,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1858,3},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1858,145},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1858,287},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1155,120},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1155,262},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1155,404},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1856,429},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1856,571},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1856,713},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{440,135},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{440,277},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{440,419},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{440,561},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{440,703},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1141,546},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1141,688},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1111,830},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1104,972},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{687,1315},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{691,1493},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{829,1315},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{691,1671},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{743,1849},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{833,1493},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{971,1315},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{833,1671},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{885,1849},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1089,1114},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{975,1493},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{975,1671},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1027,1849},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1113,1292},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1231,1114},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1117,1470},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1255,1292},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1117,1648},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1169,1826},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1373,1017},{174,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_ch_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1405,855},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{174,138}</string>
<key>spriteSourceSize</key>
<string>{174,138}</string>
<key>textureRect</key>
<string>{{1583,747},{174,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{1421,3},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{3,30},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{718,47},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{1419,375},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{3,402},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{704,419},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_ch_bg07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{433,368}</string>
<key>spriteSourceSize</key>
<string>{433,368}</string>
<key>textureRect</key>
<string>{{704,419},{433,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_dangqian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,77}</string>
<key>spriteSourceSize</key>
<string>{89,77}</string>
<key>textureRect</key>
<string>{{618,240},{89,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{694,40}</string>
<key>spriteSourceSize</key>
<string>{694,40}</string>
<key>textureRect</key>
<string>{{723,3},{694,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_hengtiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,21}</string>
<key>spriteSourceSize</key>
<string>{24,21}</string>
<key>textureRect</key>
<string>{{1116,791},{24,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_hengtiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{716,23}</string>
<key>spriteSourceSize</key>
<string>{716,23}</string>
<key>textureRect</key>
<string>{{3,3},{716,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{1333,120},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{1333,419},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{618,402},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{618,701},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{1319,718},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{704,971},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{1003,979},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,774},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,845},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,860},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,931},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,946},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{601,1000},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1017},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1032},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1103},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1118},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1189},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1204},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1275},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1290},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{687,1057},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{687,1143},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{687,1229},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{601,1299},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1361},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1376},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1447},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1462},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{302,1533},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1548},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{3,1634},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{89,1634},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{145,1933},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{175,1634},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{261,1634},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{347,1619},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{433,1619},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{444,1918},{82,295}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_mz_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{519,1619},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_mz_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,295}</string>
<key>spriteSourceSize</key>
<string>{82,295}</string>
<key>textureRect</key>
<string>{{605,1598},{82,295}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,253}</string>
<key>spriteSourceSize</key>
<string>{69,253}</string>
<key>textureRect</key>
<string>{{1155,47},{69,253}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_wz_jscg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{704,866},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_wz_lishizuigao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,77}</string>
<key>spriteSourceSize</key>
<string>{89,77}</string>
<key>textureRect</key>
<string>{{618,321},{89,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{355,71}</string>
<key>spriteSourceSize</key>
<string>{355,71}</string>
<key>textureRect</key>
<string>{{704,791},{355,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_wz_weidabiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,37}</string>
<key>spriteSourceSize</key>
<string>{109,37}</string>
<key>textureRect</key>
<string>{{1063,863},{109,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_wz_xwbd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{274,101}</string>
<key>spriteSourceSize</key>
<string>{274,101}</string>
<key>textureRect</key>
<string>{{440,30},{274,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW02_wz_xwyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,91}</string>
<key>spriteSourceSize</key>
<string>{101,91}</string>
<key>textureRect</key>
<string>{{618,135},{101,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_wz_yidabiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,37}</string>
<key>spriteSourceSize</key>
<string>{109,37}</string>
<key>textureRect</key>
<string>{{1003,866},{109,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_xiangqing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{43,44}</string>
<key>spriteSourceSize</key>
<string>{43,44}</string>
<key>textureRect</key>
<string>{{1063,816},{43,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW02_zhenwei_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{49,21}</string>
<key>spriteSourceSize</key>
<string>{49,21}</string>
<key>textureRect</key>
<string>{{1063,791},{49,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XW02_xianwei02.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XW02_xianwei02.png</string>
</dict>
</dict>
</plist>