<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XW_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{570,287},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{728,287},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{3,343},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{161,343},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{319,343},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{556,394},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{714,394},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{548,501},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{706,501},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{864,515},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{3,622},{103,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{3,780},{103,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{207,450},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{207,557},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{161,664},{103,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,154}</string>
<key>spriteSourceSize</key>
<string>{103,154}</string>
<key>textureRect</key>
<string>{{110,860},{103,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_baoji_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{719,96}</string>
<key>spriteSourceSize</key>
<string>{719,96}</string>
<key>textureRect</key>
<string>{{3,3},{719,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_baoji_wz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{205,83}</string>
<key>spriteSourceSize</key>
<string>{205,83}</string>
<key>textureRect</key>
<string>{{706,132},{205,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,25}</string>
<key>spriteSourceSize</key>
<string>{28,25}</string>
<key>textureRect</key>
<string>{{161,570},{28,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,25}</string>
<key>spriteSourceSize</key>
<string>{28,25}</string>
<key>textureRect</key>
<string>{{161,599},{28,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_mrjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,110}</string>
<key>spriteSourceSize</key>
<string>{119,110}</string>
<key>textureRect</key>
<string>{{886,287},{119,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_tb_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,106}</string>
<key>spriteSourceSize</key>
<string>{108,106}</string>
<key>textureRect</key>
<string>{{915,132},{108,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_tb_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,106}</string>
<key>spriteSourceSize</key>
<string>{108,106}</string>
<key>textureRect</key>
<string>{{365,450},{108,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_tb_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,106}</string>
<key>spriteSourceSize</key>
<string>{108,106}</string>
<key>textureRect</key>
<string>{{365,560},{108,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_tb_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,106}</string>
<key>spriteSourceSize</key>
<string>{108,106}</string>
<key>textureRect</key>
<string>{{320,910},{108,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_ui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{563,133}</string>
<key>spriteSourceSize</key>
<string>{563,133}</string>
<key>textureRect</key>
<string>{{3,206},{563,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,51}</string>
<key>spriteSourceSize</key>
<string>{48,51}</string>
<key>textureRect</key>
<string>{{267,771},{48,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,57}</string>
<key>spriteSourceSize</key>
<string>{60,57}</string>
<key>textureRect</key>
<string>{{3,938},{60,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_ui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,49}</string>
<key>spriteSourceSize</key>
<string>{99,49}</string>
<key>textureRect</key>
<string>{{217,950},{99,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,25}</string>
<key>spriteSourceSize</key>
<string>{108,25}</string>
<key>textureRect</key>
<string>{{49,591},{108,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{448,39}</string>
<key>spriteSourceSize</key>
<string>{448,39}</string>
<key>textureRect</key>
<string>{{570,244},{448,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,42}</string>
<key>spriteSourceSize</key>
<string>{59,42}</string>
<key>textureRect</key>
<string>{{64,938},{59,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_ui_dkuang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,53}</string>
<key>spriteSourceSize</key>
<string>{75,53}</string>
<key>textureRect</key>
<string>{{477,378},{75,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_dkuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{310,20}</string>
<key>spriteSourceSize</key>
<string>{310,20}</string>
<key>textureRect</key>
<string>{{706,108},{310,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_ui_xxkang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,26}</string>
<key>spriteSourceSize</key>
<string>{42,26}</string>
<key>textureRect</key>
<string>{{3,591},{42,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_wz_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{152,67}</string>
<key>spriteSourceSize</key>
<string>{152,67}</string>
<key>textureRect</key>
<string>{{477,435},{152,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,32}</string>
<key>spriteSourceSize</key>
<string>{123,32}</string>
<key>textureRect</key>
<string>{{570,206},{123,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_wz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{110,26}</string>
<key>spriteSourceSize</key>
<string>{110,26}</string>
<key>textureRect</key>
<string>{{995,401},{110,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{3,450},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{54,450},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{105,450},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{156,450},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{110,620},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{110,740},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{217,830},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{268,826},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{319,670},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,47}</string>
<key>spriteSourceSize</key>
<string>{116,47}</string>
<key>textureRect</key>
<string>{{319,790},{116,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_wz_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{699,99}</string>
<key>spriteSourceSize</key>
<string>{699,99}</string>
<key>textureRect</key>
<string>{{3,103},{699,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_wz_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{726,3},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_wz_haogandu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,31}</string>
<key>spriteSourceSize</key>
<string>{86,31}</string>
<key>textureRect</key>
<string>{{477,343},{86,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_x1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,53}</string>
<key>spriteSourceSize</key>
<string>{55,53}</string>
<key>textureRect</key>
<string>{{477,591},{55,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XW_x2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,53}</string>
<key>spriteSourceSize</key>
<string>{55,53}</string>
<key>textureRect</key>
<string>{{161,771},{55,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_xin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,45}</string>
<key>spriteSourceSize</key>
<string>{53,45}</string>
<key>textureRect</key>
<string>{{218,771},{53,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XW_xwyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{119,110}</string>
<key>spriteSourceSize</key>
<string>{119,110}</string>
<key>textureRect</key>
<string>{{872,401},{119,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XW_xianwei.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XW_xianwei.png</string>
</dict>
</dict>
</plist>