<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XYX_ca.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,67}</string>
<key>spriteSourceSize</key>
<string>{68,67}</string>
<key>textureRect</key>
<string>{{927,3},{68,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XYX_dianji_wz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,39}</string>
<key>spriteSourceSize</key>
<string>{194,39}</string>
<key>textureRect</key>
<string>{{729,3},{194,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XYX_guanzhu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,722}</string>
<key>spriteSourceSize</key>
<string>{720,722}</string>
<key>textureRect</key>
<string>{{3,3},{720,722}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XYX_huiyuan_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,1044}</string>
<key>spriteSourceSize</key>
<string>{720,1044}</string>
<key>textureRect</key>
<string>{{3,727},{720,1044}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XYX_xiaoyouxi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XYX_xiaoyouxi.png</string>
</dict>
</dict>
</plist>