<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YBDX_dikuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,192}</string>
<key>spriteSourceSize</key>
<string>{720,192}</string>
<key>textureRect</key>
<string>{{240,3},{720,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_dikuang2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,58}</string>
<key>spriteSourceSize</key>
<string>{96,58}</string>
<key>textureRect</key>
<string>{{436,89},{96,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_dikuangxuxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,2}</string>
<key>spriteSourceSize</key>
<string>{37,2}</string>
<key>textureRect</key>
<string>{{498,89},{37,2}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_gouxuankuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,37}</string>
<key>spriteSourceSize</key>
<string>{37,37}</string>
<key>textureRect</key>
<string>{{436,220},{37,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_jiesuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,36}</string>
<key>spriteSourceSize</key>
<string>{31,36}</string>
<key>textureRect</key>
<string>{{436,302},{31,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_kunag.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,39}</string>
<key>spriteSourceSize</key>
<string>{73,39}</string>
<key>textureRect</key>
<string>{{436,3},{73,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_kunag2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,39}</string>
<key>spriteSourceSize</key>
<string>{73,39}</string>
<key>textureRect</key>
<string>{{436,46},{73,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_lankunag.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,42}</string>
<key>spriteSourceSize</key>
<string>{27,42}</string>
<key>textureRect</key>
<string>{{436,189},{27,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_mxbd_zy01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{3,832},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_mxbd_zy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{97,832},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_mxbd_zy03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{156,727},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_mxbd_zy04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{191,828},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_mxbd_zy05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{250,727},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_mxbd_zy06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{191,929},{90,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_rukou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,149}</string>
<key>spriteSourceSize</key>
<string>{135,149}</string>
<key>textureRect</key>
<string>{{3,693},{135,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_shangxiangou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{37,37}</string>
<key>spriteSourceSize</key>
<string>{37,37}</string>
<key>textureRect</key>
<string>{{436,261},{37,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YBDX_xiaogou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,32}</string>
<key>spriteSourceSize</key>
<string>{31,32}</string>
<key>textureRect</key>
<string>{{436,337},{31,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_xuxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{591,1}</string>
<key>spriteSourceSize</key>
<string>{591,1}</string>
<key>textureRect</key>
<string>{{504,89},{591,1}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YBDX_yh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{686,233}</string>
<key>spriteSourceSize</key>
<string>{686,233}</string>
<key>textureRect</key>
<string>{{3,3},{686,233}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YBDX_yibudengtian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YBDX_yibudengtian.png</string>
</dict>
</dict>
</plist>