<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YGHL_boshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,36}</string>
<key>spriteSourceSize</key>
<string>{317,36}</string>
<key>textureRect</key>
<string>{{216,132},{317,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_huobi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{19,18}</string>
<key>spriteSourceSize</key>
<string>{19,18}</string>
<key>textureRect</key>
<string>{{63,453},{19,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_paiming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{17,14}</string>
<key>spriteSourceSize</key>
<string>{17,14}</string>
<key>textureRect</key>
<string>{{63,476},{17,14}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_tb_jlyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,98}</string>
<key>spriteSourceSize</key>
<string>{105,98}</string>
<key>textureRect</key>
<string>{{85,178},{105,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YGHL_tb_ygsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,98}</string>
<key>spriteSourceSize</key>
<string>{105,98}</string>
<key>textureRect</key>
<string>{{3,73},{105,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YGHL_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,35}</string>
<key>spriteSourceSize</key>
<string>{125,35}</string>
<key>textureRect</key>
<string>{{218,3},{125,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_wz_boci.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,27}</string>
<key>spriteSourceSize</key>
<string>{54,27}</string>
<key>textureRect</key>
<string>{{160,3},{54,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YGHL_wz_mingzi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{3,453},{52,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_wz_paiming.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,26}</string>
<key>spriteSourceSize</key>
<string>{52,26}</string>
<key>textureRect</key>
<string>{{33,453},{52,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_wz_wdpm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,52}</string>
<key>spriteSourceSize</key>
<string>{140,52}</string>
<key>textureRect</key>
<string>{{160,34},{140,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YGHL_wz_weishangbang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{153,66}</string>
<key>spriteSourceSize</key>
<string>{153,66}</string>
<key>textureRect</key>
<string>{{3,3},{153,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YGHL_yuanguhuilang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YGHL_yuanguhuilang.png</string>
</dict>
</dict>
</plist>