<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YLSH_dao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{215,212}</string>
<key>spriteSourceSize</key>
<string>{215,212}</string>
<key>textureRect</key>
<string>{{723,285},{215,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_dao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,142}</string>
<key>spriteSourceSize</key>
<string>{172,142}</string>
<key>textureRect</key>
<string>{{184,950},{172,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_dao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,102}</string>
<key>spriteSourceSize</key>
<string>{106,102}</string>
<key>textureRect</key>
<string>{{549,379},{106,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_dengji_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,32}</string>
<key>spriteSourceSize</key>
<string>{99,32}</string>
<key>textureRect</key>
<string>{{360,1045},{99,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_duihuak.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,229}</string>
<key>spriteSourceSize</key>
<string>{720,229}</string>
<key>textureRect</key>
<string>{{3,3},{720,229}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_fenjiexian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,3}</string>
<key>spriteSourceSize</key>
<string>{142,3}</string>
<key>textureRect</key>
<string>{{955,64},{142,3}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,34}</string>
<key>spriteSourceSize</key>
<string>{53,34}</string>
<key>textureRect</key>
<string>{{655,444},{53,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,34}</string>
<key>spriteSourceSize</key>
<string>{53,34}</string>
<key>textureRect</key>
<string>{{360,950},{53,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_jdt_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,31}</string>
<key>spriteSourceSize</key>
<string>{52,31}</string>
<key>textureRect</key>
<string>{{142,1034},{52,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_jdt_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{52,31}</string>
<key>spriteSourceSize</key>
<string>{52,31}</string>
<key>textureRect</key>
<string>{{142,1090},{52,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_jiangli_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{58,51}</string>
<key>spriteSourceSize</key>
<string>{58,51}</string>
<key>textureRect</key>
<string>{{411,749},{58,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_jiangli_zp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,75}</string>
<key>spriteSourceSize</key>
<string>{106,75}</string>
<key>textureRect</key>
<string>{{461,956},{106,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_nvjuese.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{466,366}</string>
<key>spriteSourceSize</key>
<string>{466,366}</string>
<key>textureRect</key>
<string>{{3,379},{466,366}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_qipaodi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,193}</string>
<key>spriteSourceSize</key>
<string>{86,193}</string>
<key>textureRect</key>
<string>{{928,596},{86,193}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_tm_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{34,34}</string>
<key>spriteSourceSize</key>
<string>{34,34}</string>
<key>textureRect</key>
<string>{{360,1007},{34,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_baoji_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,74}</string>
<key>spriteSourceSize</key>
<string>{200,74}</string>
<key>textureRect</key>
<string>{{3,749},{200,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_baoji_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,74}</string>
<key>spriteSourceSize</key>
<string>{200,74}</string>
<key>textureRect</key>
<string>{{207,749},{200,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_baoji_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,74}</string>
<key>spriteSourceSize</key>
<string>{200,74}</string>
<key>textureRect</key>
<string>{{3,827},{200,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_cjjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{218,52}</string>
<key>spriteSourceSize</key>
<string>{218,52}</string>
<key>textureRect</key>
<string>{{969,3},{218,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_dacuo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,78}</string>
<key>spriteSourceSize</key>
<string>{149,78}</string>
<key>textureRect</key>
<string>{{942,290},{149,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_dadui.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{149,78}</string>
<key>spriteSourceSize</key>
<string>{149,78}</string>
<key>textureRect</key>
<string>{{942,443},{149,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_dcjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,34}</string>
<key>spriteSourceSize</key>
<string>{117,34}</string>
<key>textureRect</key>
<string>{{473,379},{117,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_ddjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,34}</string>
<key>spriteSourceSize</key>
<string>{117,34}</string>
<key>textureRect</key>
<string>{{511,379},{117,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_djyjlj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{238,57}</string>
<key>spriteSourceSize</key>
<string>{238,57}</string>
<key>textureRect</key>
<string>{{727,3},{238,57}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_djyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{177,48}</string>
<key>spriteSourceSize</key>
<string>{177,48}</string>
<key>textureRect</key>
<string>{{3,905},{177,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_fxwp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,61}</string>
<key>spriteSourceSize</key>
<string>{200,61}</string>
<key>textureRect</key>
<string>{{207,827},{200,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_kaishi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,41}</string>
<key>spriteSourceSize</key>
<string>{81,41}</string>
<key>textureRect</key>
<string>{{571,956},{81,41}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_vip.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{191,54}</string>
<key>spriteSourceSize</key>
<string>{191,54}</string>
<key>textureRect</key>
<string>{{207,892},{191,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_yjyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{133,55}</string>
<key>spriteSourceSize</key>
<string>{133,55}</string>
<key>textureRect</key>
<string>{{411,804},{133,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_yljd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,48}</string>
<key>spriteSourceSize</key>
<string>{135,48}</string>
<key>textureRect</key>
<string>{{177,1096},{135,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_wz_ywzp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,83}</string>
<key>spriteSourceSize</key>
<string>{328,83}</string>
<key>textureRect</key>
<string>{{928,793},{328,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_wz_zzyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{130,55}</string>
<key>spriteSourceSize</key>
<string>{130,55}</string>
<key>textureRect</key>
<string>{{402,941},{130,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_xz_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,61}</string>
<key>spriteSourceSize</key>
<string>{63,61}</string>
<key>textureRect</key>
<string>{{955,225},{63,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_xz_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,61}</string>
<key>spriteSourceSize</key>
<string>{63,61}</string>
<key>textureRect</key>
<string>{{655,379},{63,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_zhongjiang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{716,139}</string>
<key>spriteSourceSize</key>
<string>{716,139}</string>
<key>textureRect</key>
<string>{{3,236},{716,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_zp_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,157}</string>
<key>spriteSourceSize</key>
<string>{73,157}</string>
<key>textureRect</key>
<string>{{3,957},{73,157}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_zp_jiantou02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{217,224}</string>
<key>spriteSourceSize</key>
<string>{217,224}</string>
<key>textureRect</key>
<string>{{727,64},{217,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YLSH_zp_kaishi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{135,135}</string>
<key>spriteSourceSize</key>
<string>{135,135}</string>
<key>textureRect</key>
<string>{{3,1034},{135,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YLSH_zp_zhuanpan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{451,451}</string>
<key>spriteSourceSize</key>
<string>{451,451}</string>
<key>textureRect</key>
<string>{{473,501},{451,451}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YLSH_yunyousihai.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YLSH_yunyousihai.png</string>
</dict>
</dict>
</plist>