<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YS_dengji_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,30}</string>
<key>spriteSourceSize</key>
<string>{128,30}</string>
<key>textureRect</key>
<string>{{360,218},{128,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,50}</string>
<key>spriteSourceSize</key>
<string>{31,50}</string>
<key>textureRect</key>
<string>{{318,354},{31,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{140,695},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{140,811},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{271,572},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{256,688},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{256,804},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{112,112}</string>
<key>textureRect</key>
<string>{{394,180},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_dj_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,26}</string>
<key>spriteSourceSize</key>
<string>{39,26}</string>
<key>textureRect</key>
<string>{{3,994},{39,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_dj_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,26}</string>
<key>spriteSourceSize</key>
<string>{39,26}</string>
<key>textureRect</key>
<string>{{475,350},{39,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_kuang_dj_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,26}</string>
<key>spriteSourceSize</key>
<string>{39,26}</string>
<key>textureRect</key>
<string>{{387,637},{39,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_kuang_dj_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,26}</string>
<key>spriteSourceSize</key>
<string>{39,26}</string>
<key>textureRect</key>
<string>{{46,994},{39,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_kuang_dj_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,26}</string>
<key>spriteSourceSize</key>
<string>{39,26}</string>
<key>textureRect</key>
<string>{{475,393},{39,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_mingzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,114}</string>
<key>spriteSourceSize</key>
<string>{50,114}</string>
<key>textureRect</key>
<string>{{394,296},{50,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_mingzi_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{430,43}</string>
<key>spriteSourceSize</key>
<string>{430,43}</string>
<key>textureRect</key>
<string>{{271,3},{430,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_rfsdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,93}</string>
<key>spriteSourceSize</key>
<string>{93,93}</string>
<key>textureRect</key>
<string>{{372,820},{93,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_suo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,37}</string>
<key>spriteSourceSize</key>
<string>{31,37}</string>
<key>textureRect</key>
<string>{{211,657},{31,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_tfswzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,36}</string>
<key>spriteSourceSize</key>
<string>{84,36}</string>
<key>textureRect</key>
<string>{{387,549},{84,36}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wenzidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{173,52}</string>
<key>spriteSourceSize</key>
<string>{173,52}</string>
<key>textureRect</key>
<string>{{367,3},{173,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_benjisx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,24}</string>
<key>spriteSourceSize</key>
<string>{102,24}</string>
<key>textureRect</key>
<string>{{419,917},{102,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_benxshux.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,24}</string>
<key>spriteSourceSize</key>
<string>{102,24}</string>
<key>textureRect</key>
<string>{{447,917},{102,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_jcsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{423,3},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_jiahao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{55,55}</string>
<key>spriteSourceSize</key>
<string>{55,55}</string>
<key>textureRect</key>
<string>{{454,465},{55,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_jianjie.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,38}</string>
<key>spriteSourceSize</key>
<string>{80,38}</string>
<key>textureRect</key>
<string>{{423,138},{80,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,24}</string>
<key>spriteSourceSize</key>
<string>{36,24}</string>
<key>textureRect</key>
<string>{{318,408},{36,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,24}</string>
<key>spriteSourceSize</key>
<string>{36,24}</string>
<key>textureRect</key>
<string>{{417,637},{36,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{688,100}</string>
<key>spriteSourceSize</key>
<string>{688,100}</string>
<key>textureRect</key>
<string>{{3,3},{688,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_mj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{688,100}</string>
<key>spriteSourceSize</key>
<string>{688,100}</string>
<key>textureRect</key>
<string>{{107,3},{688,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_qbtfjn02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{650,56}</string>
<key>spriteSourceSize</key>
<string>{650,56}</string>
<key>textureRect</key>
<string>{{211,3},{650,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_rlian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,80}</string>
<key>spriteSourceSize</key>
<string>{67,80}</string>
<key>textureRect</key>
<string>{{341,465},{67,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_shengjsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,24}</string>
<key>spriteSourceSize</key>
<string>{128,24}</string>
<key>textureRect</key>
<string>{{313,437},{128,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_shengjsx02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,24}</string>
<key>spriteSourceSize</key>
<string>{128,24}</string>
<key>textureRect</key>
<string>{{372,688},{128,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_shentong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,38}</string>
<key>spriteSourceSize</key>
<string>{80,38}</string>
<key>textureRect</key>
<string>{{412,465},{80,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_sxcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{3,695},{295,101}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_tfdj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{224,28}</string>
<key>spriteSourceSize</key>
<string>{224,28}</string>
<key>textureRect</key>
<string>{{108,695},{224,28}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_tianfu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,38}</string>
<key>spriteSourceSize</key>
<string>{80,38}</string>
<key>textureRect</key>
<string>{{427,549},{80,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_tjzhe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{271,437},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_xjsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{465,3},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_ycys.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{211,45}</string>
<key>spriteSourceSize</key>
<string>{211,45}</string>
<key>textureRect</key>
<string>{{318,3},{211,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_wz_yulang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,94}</string>
<key>spriteSourceSize</key>
<string>{100,94}</string>
<key>textureRect</key>
<string>{{108,927},{100,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_yulang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,94}</string>
<key>spriteSourceSize</key>
<string>{100,94}</string>
<key>textureRect</key>
<string>{{212,927},{100,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_wz_zfsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{318,218},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YS_xzkuang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,99}</string>
<key>spriteSourceSize</key>
<string>{99,99}</string>
<key>textureRect</key>
<string>{{316,920},{99,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YS_xzkuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,111}</string>
<key>spriteSourceSize</key>
<string>{111,111}</string>
<key>textureRect</key>
<string>{{360,350},{111,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YS_yuanshen.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YS_yuanshen.png</string>
</dict>
</dict>
</plist>