<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YXLJ_hengtiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,219}</string>
<key>spriteSourceSize</key>
<string>{172,219}</string>
<key>textureRect</key>
<string>{{3,3},{172,219}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YXLJ_lianjie_fuhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,32}</string>
<key>spriteSourceSize</key>
<string>{71,32}</string>
<key>textureRect</key>
<string>{{3,946},{71,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YXLJ_tongming_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{717,42}</string>
<key>spriteSourceSize</key>
<string>{717,42}</string>
<key>textureRect</key>
<string>{{3,225},{717,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YXLJ_wz_biaoti.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,42}</string>
<key>spriteSourceSize</key>
<string>{150,42}</string>
<key>textureRect</key>
<string>{{3,179},{150,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YXLJ_wz_huanying.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,42}</string>
<key>spriteSourceSize</key>
<string>{82,42}</string>
<key>textureRect</key>
<string>{{157,179},{82,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YXLJ_wz_yishangzhen.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,32}</string>
<key>spriteSourceSize</key>
<string>{102,32}</string>
<key>textureRect</key>
<string>{{39,946},{102,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YXLJ_yingxionglianjie.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YXLJ_yingxionglianjie.png</string>
</dict>
</dict>
</plist>