<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZB_dk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,25}</string>
<key>spriteSourceSize</key>
<string>{89,25}</string>
<key>textureRect</key>
<string>{{944,498},{89,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{215,11}</string>
<key>spriteSourceSize</key>
<string>{215,11}</string>
<key>textureRect</key>
<string>{{481,231},{215,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_jindu_szbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,25}</string>
<key>spriteSourceSize</key>
<string>{123,25}</string>
<key>textureRect</key>
<string>{{508,586},{123,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_qiu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{548,91},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_qiu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{792,183},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_shuxing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{301,39}</string>
<key>spriteSourceSize</key>
<string>{301,39}</string>
<key>textureRect</key>
<string>{{700,3},{301,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_szjx_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,93}</string>
<key>spriteSourceSize</key>
<string>{105,93}</string>
<key>textureRect</key>
<string>{{302,603},{105,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_tpjn_tb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,93}</string>
<key>spriteSourceSize</key>
<string>{105,93}</string>
<key>textureRect</key>
<string>{{411,591},{105,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_ajtztp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,38}</string>
<key>spriteSourceSize</key>
<string>{193,38}</string>
<key>textureRect</key>
<string>{{700,46},{193,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_baoji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{201,74}</string>
<key>spriteSourceSize</key>
<string>{201,74}</string>
<key>textureRect</key>
<string>{{3,767},{201,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_baoji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{201,74}</string>
<key>spriteSourceSize</key>
<string>{201,74}</string>
<key>textureRect</key>
<string>{{3,845},{201,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_baoji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{201,74}</string>
<key>spriteSourceSize</key>
<string>{201,74}</string>
<key>textureRect</key>
<string>{{3,923},{201,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_baoji_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{288,55}</string>
<key>spriteSourceSize</key>
<string>{288,55}</string>
<key>textureRect</key>
<string>{{3,708},{288,55}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_btdzsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,34}</string>
<key>spriteSourceSize</key>
<string>{128,34}</string>
<key>textureRect</key>
<string>{{565,405},{128,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_btjj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,34}</string>
<key>spriteSourceSize</key>
<string>{77,34}</string>
<key>textureRect</key>
<string>{{949,417},{77,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_btqhsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{949,286},{127,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_btspsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{987,323},{127,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_btszjx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{580,256},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_bttzxg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,34}</string>
<key>spriteSourceSize</key>
<string>{127,34}</string>
<key>textureRect</key>
<string>{{987,454},{127,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_btzlsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,34}</string>
<key>spriteSourceSize</key>
<string>{128,34}</string>
<key>textureRect</key>
<string>{{987,191},{128,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_dzgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{298,742},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_jinengyul.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{792,88},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_jnyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{148,32}</string>
<key>spriteSourceSize</key>
<string>{148,32}</string>
<key>textureRect</key>
<string>{{493,742},{148,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_juexdj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,24}</string>
<key>spriteSourceSize</key>
<string>{100,24}</string>
<key>textureRect</key>
<string>{{698,446},{100,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_juexsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,24}</string>
<key>spriteSourceSize</key>
<string>{100,24}</string>
<key>textureRect</key>
<string>{{916,476},{100,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_jxyl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{157,42}</string>
<key>spriteSourceSize</key>
<string>{157,42}</string>
<key>textureRect</key>
<string>{{447,742},{157,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_ljjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,24}</string>
<key>spriteSourceSize</key>
<string>{93,24}</string>
<key>textureRect</key>
<string>{{537,591},{93,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_manji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{356,69}</string>
<key>spriteSourceSize</key>
<string>{356,69}</string>
<key>textureRect</key>
<string>{{408,231},{356,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_qhgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{298,826},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_sjjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{94,24}</string>
<key>spriteSourceSize</key>
<string>{94,24}</string>
<key>textureRect</key>
<string>{{543,186},{94,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_spcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{401,120}</string>
<key>spriteSourceSize</key>
<string>{401,120}</string>
<key>textureRect</key>
<string>{{3,231},{401,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_spgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{298,910},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_tishi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{693,40}</string>
<key>spriteSourceSize</key>
<string>{693,40}</string>
<key>textureRect</key>
<string>{{3,3},{693,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_tpcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,101}</string>
<key>spriteSourceSize</key>
<string>{295,101}</string>
<key>textureRect</key>
<string>{{3,603},{295,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_tpgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{643,88},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_tpsxcl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,38}</string>
<key>spriteSourceSize</key>
<string>{192,38}</string>
<key>textureRect</key>
<string>{{302,700},{192,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_tupsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{717,256},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_tzjn.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,38}</string>
<key>spriteSourceSize</key>
<string>{131,38}</string>
<key>textureRect</key>
<string>{{523,405},{131,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_yczb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{210,44}</string>
<key>spriteSourceSize</key>
<string>{210,44}</string>
<key>textureRect</key>
<string>{{208,767},{210,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zbdz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{194,38}</string>
<key>spriteSourceSize</key>
<string>{194,38}</string>
<key>textureRect</key>
<string>{{256,767},{194,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zgmj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{478,72}</string>
<key>spriteSourceSize</key>
<string>{478,72}</string>
<key>textureRect</key>
<string>{{3,155},{478,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhujinjin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,91}</string>
<key>spriteSourceSize</key>
<string>{100,91}</string>
<key>textureRect</key>
<string>{{896,96},{100,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{529,826},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{596,826},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{755,563},{63,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zhuling_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{660,658},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{755,630},{63,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zhuling_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{663,826},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{730,819},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{909,781},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{732,885},{63,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zhuling_jh01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{732,952},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{798,856},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{865,856},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{799,922},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{866,922},{63,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zhuling_jh06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{932,847},{63,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zhuling_jh07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{63,62}</string>
<key>spriteSourceSize</key>
<string>{63,62}</string>
<key>textureRect</key>
<string>{{933,914},{63,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zjcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{401,120}</string>
<key>spriteSourceSize</key>
<string>{401,120}</string>
<key>textureRect</key>
<string>{{3,355},{401,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zjgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{643,172},{145,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zjsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,38}</string>
<key>spriteSourceSize</key>
<string>{132,38}</string>
<key>textureRect</key>
<string>{{481,450},{132,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_wz_zlcg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{401,120}</string>
<key>spriteSourceSize</key>
<string>{401,120}</string>
<key>textureRect</key>
<string>{{3,479},{401,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_wz_zlgm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{145,80}</string>
<key>spriteSourceSize</key>
<string>{145,80}</string>
<key>textureRect</key>
<string>{{496,256},{145,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{54,49}</string>
<key>spriteSourceSize</key>
<string>{54,49}</string>
<key>textureRect</key>
<string>{{485,155},{54,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zbbqbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{46,117}</string>
<key>spriteSourceSize</key>
<string>{46,117}</string>
<key>textureRect</key>
<string>{{897,46},{46,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZB_zbdzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{622,40}</string>
<key>spriteSourceSize</key>
<string>{622,40}</string>
<key>textureRect</key>
<string>{{3,47},{622,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_jdt_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{541,28}</string>
<key>spriteSourceSize</key>
<string>{541,28}</string>
<key>textureRect</key>
<string>{{3,91},{541,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_jdt_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{541,28}</string>
<key>spriteSourceSize</key>
<string>{541,28}</string>
<key>textureRect</key>
<string>{{3,123},{541,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_jdt_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{629,47},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{887,191},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{447,903},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{622,256},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{622,351},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{759,278},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_toukui_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{854,286},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{603,446},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{759,373},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{854,381},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{726,468},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{821,476},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_wuqi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{565,541},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{565,636},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{529,731},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{542,892},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{624,731},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{660,563},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_xiezi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{821,571},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{821,666},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{916,591},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{916,686},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{637,892},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{719,724},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZB_zl_yifu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{91,91}</string>
<key>spriteSourceSize</key>
<string>{91,91}</string>
<key>textureRect</key>
<string>{{814,761},{91,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZB_zhuangbei.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZB_zhuangbei.png</string>
</dict>
</dict>
</plist>