<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZC_B_keji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,140}</string>
<key>spriteSourceSize</key>
<string>{36,140}</string>
<key>textureRect</key>
<string>{{204,467},{36,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZC_B_paihangbang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,140}</string>
<key>spriteSourceSize</key>
<string>{36,140}</string>
<key>textureRect</key>
<string>{{348,3},{36,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZC_B_rongyuge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,140}</string>
<key>spriteSourceSize</key>
<string>{36,140}</string>
<key>textureRect</key>
<string>{{348,43},{36,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZC_B_shenchongdao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,140}</string>
<key>spriteSourceSize</key>
<string>{36,140}</string>
<key>textureRect</key>
<string>{{348,83},{36,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZC_B_xianmeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,140}</string>
<key>spriteSourceSize</key>
<string>{36,140}</string>
<key>textureRect</key>
<string>{{348,123},{36,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZC_jz_fengshentai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,159}</string>
<key>spriteSourceSize</key>
<string>{82,159}</string>
<key>textureRect</key>
<string>{{118,318},{82,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZC_jz_keji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{196,130}</string>
<key>spriteSourceSize</key>
<string>{196,130}</string>
<key>textureRect</key>
<string>{{248,163},{196,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZC_jz_rongyuge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,174}</string>
<key>spriteSourceSize</key>
<string>{111,174}</string>
<key>textureRect</key>
<string>{{3,318},{111,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZC_jz_shenchongdao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,145}</string>
<key>spriteSourceSize</key>
<string>{137,145}</string>
<key>textureRect</key>
<string>{{204,318},{137,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZC_jz_xianmeng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{241,311}</string>
<key>spriteSourceSize</key>
<string>{241,311}</string>
<key>textureRect</key>
<string>{{3,3},{241,311}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZC_zhucheng.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZC_zhucheng.png</string>
</dict>
</dict>
</plist>