<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZD_GY_anniu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,72}</string>
<key>spriteSourceSize</key>
<string>{142,72}</string>
<key>textureRect</key>
<string>{{366,3},{142,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_anniu_right.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,72}</string>
<key>spriteSourceSize</key>
<string>{142,72}</string>
<key>textureRect</key>
<string>{{3,65},{142,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_baoji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{50,52}</string>
<key>textureRect</key>
<string>{{286,426},{50,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_baoji02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{50,52}</string>
<key>textureRect</key>
<string>{{304,365},{50,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{212,58}</string>
<key>spriteSourceSize</key>
<string>{212,58}</string>
<key>textureRect</key>
<string>{{3,3},{212,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_dun.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{50,52}</string>
<key>textureRect</key>
<string>{{340,421},{50,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_feng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{86,86}</string>
<key>textureRect</key>
<string>{{3,329},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiasu01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{149,65},{62,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiasu02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{149,108},{62,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiasu03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{134,359},{62,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiasu04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{93,405},{62,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_jiasu_gray_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{136,402},{62,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_jiasu_gray_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{154,468},{62,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiasu_gray_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{179,402},{62,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_jiasu_gray_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,39}</string>
<key>spriteSourceSize</key>
<string>{62,39}</string>
<key>textureRect</key>
<string>{{220,468},{62,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiazhu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,37}</string>
<key>spriteSourceSize</key>
<string>{57,37}</string>
<key>textureRect</key>
<string>{{93,471},{57,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiazhu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,37}</string>
<key>spriteSourceSize</key>
<string>{57,37}</string>
<key>textureRect</key>
<string>{{222,365},{57,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_jiazhu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,37}</string>
<key>spriteSourceSize</key>
<string>{57,37}</string>
<key>textureRect</key>
<string>{{222,426},{57,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_jiazhu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,37}</string>
<key>spriteSourceSize</key>
<string>{57,37}</string>
<key>textureRect</key>
<string>{{263,365},{57,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_su.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{86,86}</string>
<key>textureRect</key>
<string>{{3,419},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_tiaoguo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,37}</string>
<key>spriteSourceSize</key>
<string>{72,37}</string>
<key>textureRect</key>
<string>{{93,329},{72,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_touying.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,45}</string>
<key>spriteSourceSize</key>
<string>{132,45}</string>
<key>textureRect</key>
<string>{{215,66},{132,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_xinxidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,72}</string>
<key>spriteSourceSize</key>
<string>{100,72}</string>
<key>textureRect</key>
<string>{{134,151},{100,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_xinxidi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,72}</string>
<key>spriteSourceSize</key>
<string>{100,72}</string>
<key>textureRect</key>
<string>{{134,255},{100,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_xinxidi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,24}</string>
<key>spriteSourceSize</key>
<string>{28,24}</string>
<key>textureRect</key>
<string>{{482,79},{28,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZD_GY_zongshanghai.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{116,59}</string>
<key>spriteSourceSize</key>
<string>{116,59}</string>
<key>textureRect</key>
<string>{{3,266},{116,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_zongshanghai02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,59}</string>
<key>spriteSourceSize</key>
<string>{143,59}</string>
<key>textureRect</key>
<string>{{219,3},{143,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_GY_zongshanghai_wan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{42,42}</string>
<key>spriteSourceSize</key>
<string>{42,42}</string>
<key>textureRect</key>
<string>{{358,329},{42,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_pj_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,121}</string>
<key>spriteSourceSize</key>
<string>{127,121}</string>
<key>textureRect</key>
<string>{{3,141},{127,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_pj_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,121}</string>
<key>spriteSourceSize</key>
<string>{127,121}</string>
<key>textureRect</key>
<string>{{351,79},{127,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_pj_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,121}</string>
<key>spriteSourceSize</key>
<string>{127,121}</string>
<key>textureRect</key>
<string>{{215,115},{127,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_pj_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,121}</string>
<key>spriteSourceSize</key>
<string>{127,121}</string>
<key>textureRect</key>
<string>{{346,204},{127,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZD_pj_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,121}</string>
<key>spriteSourceSize</key>
<string>{127,121}</string>
<key>textureRect</key>
<string>{{210,240},{127,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZD_Common.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZD_Common.png</string>
</dict>
</dict>
</plist>