<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZDFB_anniudi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{32,32}</string>
<key>spriteSourceSize</key>
<string>{32,32}</string>
<key>textureRect</key>
<string>{{529,407},{32,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_benboguaiwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,38}</string>
<key>spriteSourceSize</key>
<string>{200,38}</string>
<key>textureRect</key>
<string>{{3,796},{200,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_bq_dy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,21}</string>
<key>spriteSourceSize</key>
<string>{100,21}</string>
<key>textureRect</key>
<string>{{3,1000},{100,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_bq_qy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,21}</string>
<key>spriteSourceSize</key>
<string>{100,21}</string>
<key>textureRect</key>
<string>{{107,1000},{100,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_bq_sx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{100,21}</string>
<key>spriteSourceSize</key>
<string>{100,21}</string>
<key>textureRect</key>
<string>{{211,1000},{100,21}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_diaoluo_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,52}</string>
<key>spriteSourceSize</key>
<string>{51,52}</string>
<key>textureRect</key>
<string>{{67,741},{51,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_diaoluo_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{51,52}</string>
<key>spriteSourceSize</key>
<string>{51,52}</string>
<key>textureRect</key>
<string>{{123,741},{51,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_diqing.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,83}</string>
<key>spriteSourceSize</key>
<string>{77,83}</string>
<key>textureRect</key>
<string>{{550,215},{77,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_dizuo01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,89}</string>
<key>spriteSourceSize</key>
<string>{132,89}</string>
<key>textureRect</key>
<string>{{302,796},{132,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_dizuo02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,89}</string>
<key>spriteSourceSize</key>
<string>{132,89}</string>
<key>textureRect</key>
<string>{{395,796},{132,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_duiwuliebiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,24}</string>
<key>spriteSourceSize</key>
<string>{101,24}</string>
<key>textureRect</key>
<string>{{540,302},{101,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_duizhang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,40}</string>
<key>spriteSourceSize</key>
<string>{22,40}</string>
<key>textureRect</key>
<string>{{635,107},{22,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_fuben_mz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,16}</string>
<key>spriteSourceSize</key>
<string>{82,16}</string>
<key>textureRect</key>
<string>{{369,1000},{82,16}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_fuhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{25,24}</string>
<key>spriteSourceSize</key>
<string>{25,24}</string>
<key>textureRect</key>
<string>{{568,336},{25,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_gongji_fs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{21,23}</string>
<key>spriteSourceSize</key>
<string>{21,23}</string>
<key>textureRect</key>
<string>{{315,1000},{21,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_gongji_wl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{21,23}</string>
<key>spriteSourceSize</key>
<string>{21,23}</string>
<key>textureRect</key>
<string>{{342,1000},{21,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_gou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{25,23}</string>
<key>spriteSourceSize</key>
<string>{25,23}</string>
<key>textureRect</key>
<string>{{568,364},{25,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_gqjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{79,20}</string>
<key>spriteSourceSize</key>
<string>{79,20}</string>
<key>textureRect</key>
<string>{{87,976},{79,20}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_haoyoufenx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{31,98}</string>
<key>spriteSourceSize</key>
<string>{31,98}</string>
<key>textureRect</key>
<string>{{529,443},{31,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_hengxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{187,11}</string>
<key>spriteSourceSize</key>
<string>{187,11}</string>
<key>textureRect</key>
<string>{{1010,3},{187,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_hentiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,115}</string>
<key>spriteSourceSize</key>
<string>{86,115}</string>
<key>textureRect</key>
<string>{{404,578},{86,115}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_jiangli_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,89}</string>
<key>spriteSourceSize</key>
<string>{89,89}</string>
<key>textureRect</key>
<string>{{568,914},{89,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{9,12}</string>
<key>spriteSourceSize</key>
<string>{9,12}</string>
<key>textureRect</key>
<string>{{928,510},{9,12}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,9}</string>
<key>spriteSourceSize</key>
<string>{15,9}</string>
<key>textureRect</key>
<string>{{1010,252},{15,9}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{15,9}</string>
<key>spriteSourceSize</key>
<string>{15,9}</string>
<key>textureRect</key>
<string>{{1010,271},{15,9}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_jineng_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{88,88}</string>
<key>textureRect</key>
<string>{{605,796},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_jineng_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{88,88}</string>
<key>textureRect</key>
<string>{{661,888},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_keji_dj01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,247}</string>
<key>spriteSourceSize</key>
<string>{185,247}</string>
<key>textureRect</key>
<string>{{677,363},{185,247}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_keji_dj02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{185,247}</string>
<key>spriteSourceSize</key>
<string>{185,247}</string>
<key>textureRect</key>
<string>{{677,552},{185,247}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_kejiaru.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,83}</string>
<key>spriteSourceSize</key>
<string>{83,83}</string>
<key>textureRect</key>
<string>{{528,575},{83,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_kejijiangzhu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{26,109}</string>
<key>spriteSourceSize</key>
<string>{26,109}</string>
<key>textureRect</key>
<string>{{455,995},{26,109}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_kuohao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{9,25}</string>
<key>spriteSourceSize</key>
<string>{9,25}</string>
<key>textureRect</key>
<string>{{1010,223},{9,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_kuohao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{10,25}</string>
<key>spriteSourceSize</key>
<string>{10,25}</string>
<key>textureRect</key>
<string>{{1010,194},{10,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_mingzi_mc.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,80}</string>
<key>spriteSourceSize</key>
<string>{80,80}</string>
<key>textureRect</key>
<string>{{404,178},{80,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_mvp.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{72,62}</string>
<key>spriteSourceSize</key>
<string>{72,62}</string>
<key>textureRect</key>
<string>{{3,662},{72,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_qingyuan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{928,399},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_qingyuan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,37}</string>
<key>spriteSourceSize</key>
<string>{107,37}</string>
<key>textureRect</key>
<string>{{488,347},{107,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_shangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{61,116}</string>
<key>spriteSourceSize</key>
<string>{61,116}</string>
<key>textureRect</key>
<string>{{118,662},{61,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_shangdian_sd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,58}</string>
<key>spriteSourceSize</key>
<string>{24,58}</string>
<key>textureRect</key>
<string>{{488,178},{24,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_shangdian_sq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,58}</string>
<key>spriteSourceSize</key>
<string>{24,58}</string>
<key>textureRect</key>
<string>{{488,206},{24,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_shbg01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,59}</string>
<key>spriteSourceSize</key>
<string>{92,59}</string>
<key>textureRect</key>
<string>{{238,662},{92,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_shbg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,59}</string>
<key>spriteSourceSize</key>
<string>{92,59}</string>
<key>textureRect</key>
<string>{{392,932},{92,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_shoutong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{38,32}</string>
<key>spriteSourceSize</key>
<string>{38,32}</string>
<key>textureRect</key>
<string>{{928,363},{38,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_sht01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,24}</string>
<key>spriteSourceSize</key>
<string>{27,24}</string>
<key>textureRect</key>
<string>{{597,398},{27,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_sht02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{27,24}</string>
<key>spriteSourceSize</key>
<string>{27,24}</string>
<key>textureRect</key>
<string>{{528,547},{27,24}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_shuangbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{68,45}</string>
<key>spriteSourceSize</key>
<string>{68,45}</string>
<key>textureRect</key>
<string>{{69,662},{68,45}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_shuiyin.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{327,282}</string>
<key>spriteSourceSize</key>
<string>{327,282}</string>
<key>textureRect</key>
<string>{{679,3},{327,282}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_styl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,85}</string>
<key>spriteSourceSize</key>
<string>{92,85}</string>
<key>textureRect</key>
<string>{{928,529},{92,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tiaozhan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,107}</string>
<key>spriteSourceSize</key>
<string>{104,107}</string>
<key>textureRect</key>
<string>{{568,662},{104,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tiaozhan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,114}</string>
<key>spriteSourceSize</key>
<string>{113,114}</string>
<key>textureRect</key>
<string>{{404,668},{113,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tiaozhan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{113,114}</string>
<key>spriteSourceSize</key>
<string>{113,114}</string>
<key>textureRect</key>
<string>{{488,796},{113,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_bo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,30}</string>
<key>spriteSourceSize</key>
<string>{28,30}</string>
<key>textureRect</key>
<string>{{565,407},{28,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,30}</string>
<key>spriteSourceSize</key>
<string>{28,30}</string>
<key>textureRect</key>
<string>{{597,302},{28,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_tubiao_djs.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{25,30}</string>
<key>spriteSourceSize</key>
<string>{25,30}</string>
<key>textureRect</key>
<string>{{568,302},{25,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_gw.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{488,458},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_hong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,48}</string>
<key>spriteSourceSize</key>
<string>{33,48}</string>
<key>textureRect</key>
<string>{{488,234},{33,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_tubiao_lan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,48}</string>
<key>spriteSourceSize</key>
<string>{33,48}</string>
<key>textureRect</key>
<string>{{488,271},{33,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_tubiao_ld.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{488,498},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_ld_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{597,334},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_rk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{528,507},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_yq.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{36,36}</string>
<key>spriteSourceSize</key>
<string>{36,36}</string>
<key>textureRect</key>
<string>{{488,538},{36,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tubiao_yq02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{28,28}</string>
<key>spriteSourceSize</key>
<string>{28,28}</string>
<key>textureRect</key>
<string>{{597,366},{28,28}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_tzjl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,85}</string>
<key>spriteSourceSize</key>
<string>{92,85}</string>
<key>textureRect</key>
<string>{{928,618},{92,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wenzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{290,27}</string>
<key>spriteSourceSize</key>
<string>{290,27}</string>
<key>textureRect</key>
<string>{{677,332},{290,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wenzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{379,27}</string>
<key>spriteSourceSize</key>
<string>{379,27}</string>
<key>textureRect</key>
<string>{{238,147},{379,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wenzi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{166,27}</string>
<key>spriteSourceSize</key>
<string>{166,27}</string>
<key>textureRect</key>
<string>{{123,796},{166,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_wenzidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,51}</string>
<key>spriteSourceSize</key>
<string>{60,51}</string>
<key>textureRect</key>
<string>{{3,741},{60,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wenzidi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{525,38}</string>
<key>spriteSourceSize</key>
<string>{525,38}</string>
<key>textureRect</key>
<string>{{635,133},{525,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_wz_dy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,48}</string>
<key>spriteSourceSize</key>
<string>{82,48}</string>
<key>textureRect</key>
<string>{{318,741},{82,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_jrzlsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,32}</string>
<key>spriteSourceSize</key>
<string>{176,32}</string>
<key>textureRect</key>
<string>{{87,796},{176,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_wz_shangdian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{343,38}</string>
<key>spriteSourceSize</key>
<string>{343,38}</string>
<key>textureRect</key>
<string>{{677,290},{343,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_soutong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{45,35}</string>
<key>spriteSourceSize</key>
<string>{45,35}</string>
<key>textureRect</key>
<string>{{488,308},{45,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_ydsx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{672,100}</string>
<key>spriteSourceSize</key>
<string>{672,100}</string>
<key>textureRect</key>
<string>{{3,3},{672,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_yishangxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{48,51}</string>
<key>spriteSourceSize</key>
<string>{48,51}</string>
<key>textureRect</key>
<string>{{179,741},{48,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wz_zy01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{83,48}</string>
<key>spriteSourceSize</key>
<string>{83,48}</string>
<key>textureRect</key>
<string>{{231,741},{83,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_wzbt_shtj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{193,50}</string>
<key>spriteSourceSize</key>
<string>{193,50}</string>
<key>textureRect</key>
<string>{{971,332},{193,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_xiaboguaiwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{200,38}</string>
<key>spriteSourceSize</key>
<string>{200,38}</string>
<key>textureRect</key>
<string>{{45,796},{200,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZDFB_xuanzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,154}</string>
<key>spriteSourceSize</key>
<string>{144,154}</string>
<key>textureRect</key>
<string>{{154,796},{144,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_xuanzhong01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{628,36}</string>
<key>spriteSourceSize</key>
<string>{628,36}</string>
<key>textureRect</key>
<string>{{3,107},{628,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_yifenxiang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,42}</string>
<key>spriteSourceSize</key>
<string>{107,42}</string>
<key>textureRect</key>
<string>{{170,954},{107,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_yimanji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{107,42}</string>
<key>spriteSourceSize</key>
<string>{107,42}</string>
<key>textureRect</key>
<string>{{281,954},{107,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_yizhunbei.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{81,33}</string>
<key>spriteSourceSize</key>
<string>{81,33}</string>
<key>textureRect</key>
<string>{{550,178},{81,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_zdsd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{92,85}</string>
<key>spriteSourceSize</key>
<string>{92,85}</string>
<key>textureRect</key>
<string>{{928,707},{92,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZDFB_zhandouzhong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,25}</string>
<key>spriteSourceSize</key>
<string>{103,25}</string>
<key>textureRect</key>
<string>{{528,478},{103,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZDFB_zuduifuben.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZDFB_zuduifuben.png</string>
</dict>
</dict>
</plist>