<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZH_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{172,62}</string>
<key>spriteSourceSize</key>
<string>{172,62}</string>
<key>textureRect</key>
<string>{{394,1384},{172,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_anniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,63}</string>
<key>spriteSourceSize</key>
<string>{171,63}</string>
<key>textureRect</key>
<string>{{398,1034},{171,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_anniu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{171,63}</string>
<key>spriteSourceSize</key>
<string>{171,63}</string>
<key>textureRect</key>
<string>{{398,1209},{171,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_daojishi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{239,35}</string>
<key>spriteSourceSize</key>
<string>{239,35}</string>
<key>textureRect</key>
<string>{{465,1034},{239,35}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_huabian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{142,15}</string>
<key>spriteSourceSize</key>
<string>{142,15}</string>
<key>textureRect</key>
<string>{{479,220},{142,15}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_jianbian_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{268,38}</string>
<key>spriteSourceSize</key>
<string>{268,38}</string>
<key>textureRect</key>
<string>{{356,904},{268,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_jindutiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,18}</string>
<key>spriteSourceSize</key>
<string>{35,18}</string>
<key>textureRect</key>
<string>{{479,142},{35,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_jindutiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,18}</string>
<key>spriteSourceSize</key>
<string>{35,18}</string>
<key>textureRect</key>
<string>{{479,181},{35,18}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_jineng.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,50}</string>
<key>spriteSourceSize</key>
<string>{197,50}</string>
<key>textureRect</key>
<string>{{451,1560},{197,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_jlyr_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,73}</string>
<key>spriteSourceSize</key>
<string>{73,73}</string>
<key>textureRect</key>
<string>{{402,79},{73,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_jlyr_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,73}</string>
<key>spriteSourceSize</key>
<string>{73,73}</string>
<key>textureRect</key>
<string>{{402,156},{73,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_jlyr_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{73,73}</string>
<key>spriteSourceSize</key>
<string>{73,73}</string>
<key>textureRect</key>
<string>{{402,233},{73,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_linshi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{328,347}</string>
<key>spriteSourceSize</key>
<string>{328,347}</string>
<key>textureRect</key>
<string>{{3,1584},{328,347}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_shuliangbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,40}</string>
<key>spriteSourceSize</key>
<string>{33,40}</string>
<key>textureRect</key>
<string>{{476,580},{33,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_tianfu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{197,50}</string>
<key>spriteSourceSize</key>
<string>{197,50}</string>
<key>textureRect</key>
<string>{{354,1727},{197,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_tiaojiandi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,33}</string>
<key>spriteSourceSize</key>
<string>{30,33}</string>
<key>textureRect</key>
<string>{{479,79},{30,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_tips.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,40}</string>
<key>spriteSourceSize</key>
<string>{40,40}</string>
<key>textureRect</key>
<string>{{356,860},{40,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_wz_jifendh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{501,72}</string>
<key>spriteSourceSize</key>
<string>{501,72}</string>
<key>textureRect</key>
<string>{{3,3},{501,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_wzbt_yxzh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{163,53}</string>
<key>spriteSourceSize</key>
<string>{163,53}</string>
<key>textureRect</key>
<string>{{394,1560},{163,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_wzbt_yxzh_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{177,38}</string>
<key>spriteSourceSize</key>
<string>{177,38}</string>
<key>textureRect</key>
<string>{{356,1176},{177,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_wzdi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{356,10}</string>
<key>spriteSourceSize</key>
<string>{356,10}</string>
<key>textureRect</key>
<string>{{498,220},{356,10}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_xymzbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{380,53}</string>
<key>spriteSourceSize</key>
<string>{380,53}</string>
<key>textureRect</key>
<string>{{3,803},{380,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZH_xymzbg_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{237,34}</string>
<key>spriteSourceSize</key>
<string>{237,34}</string>
<key>textureRect</key>
<string>{{356,1357},{237,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_xymzbg_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{22,24}</string>
<key>spriteSourceSize</key>
<string>{22,24}</string>
<key>textureRect</key>
<string>{{479,116},{22,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_zhaohuan02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,349}</string>
<key>spriteSourceSize</key>
<string>{720,349}</string>
<key>textureRect</key>
<string>{{3,860},{720,349}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_zhaohuan03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,395}</string>
<key>spriteSourceSize</key>
<string>{720,395}</string>
<key>textureRect</key>
<string>{{3,79},{720,395}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZH_zyjsbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{720,70}</string>
<key>spriteSourceSize</key>
<string>{720,70}</string>
<key>textureRect</key>
<string>{{402,310},{720,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZH_zhaohuan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZH_zhaohuan.png</string>
</dict>
</dict>
</plist>