<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZJ_beijing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,30}</string>
<key>spriteSourceSize</key>
<string>{57,30}</string>
<key>textureRect</key>
<string>{{551,292},{57,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_dfzr_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{623,44}</string>
<key>spriteSourceSize</key>
<string>{623,44}</string>
<key>textureRect</key>
<string>{{3,3},{623,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_dljl_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{623,44}</string>
<key>spriteSourceSize</key>
<string>{623,44}</string>
<key>textureRect</key>
<string>{{3,51},{623,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_dtwenzidi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{214,34}</string>
<key>spriteSourceSize</key>
<string>{214,34}</string>
<key>textureRect</key>
<string>{{3,257},{214,34}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_gj_dizuo01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,66}</string>
<key>spriteSourceSize</key>
<string>{143,66}</string>
<key>textureRect</key>
<string>{{132,99},{143,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_gj_dizuo02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{143,66}</string>
<key>spriteSourceSize</key>
<string>{143,66}</string>
<key>textureRect</key>
<string>{{202,99},{143,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_guanqia01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,67}</string>
<key>spriteSourceSize</key>
<string>{114,67}</string>
<key>textureRect</key>
<string>{{441,428},{114,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_guanqia02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,67}</string>
<key>spriteSourceSize</key>
<string>{114,67}</string>
<key>textureRect</key>
<string>{{313,545},{114,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_guanqia_xz02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,67}</string>
<key>spriteSourceSize</key>
<string>{114,67}</string>
<key>textureRect</key>
<string>{{110,690},{114,67}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_jiangli_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,88}</string>
<key>spriteSourceSize</key>
<string>{82,88}</string>
<key>textureRect</key>
<string>{{486,818},{82,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_jiangli_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{330,73}</string>
<key>spriteSourceSize</key>
<string>{330,73}</string>
<key>textureRect</key>
<string>{{272,99},{330,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxb_yjbd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,98}</string>
<key>spriteSourceSize</key>
<string>{101,98}</string>
<key>textureRect</key>
<string>{{523,361},{101,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxb_zxbd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{65,124}</string>
<key>spriteSourceSize</key>
<string>{65,124}</string>
<key>textureRect</key>
<string>{{313,428},{65,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{209,268}</string>
<key>spriteSourceSize</key>
<string>{209,268}</string>
<key>textureRect</key>
<string>{{41,257},{209,268}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{96,81}</string>
<key>spriteSourceSize</key>
<string>{96,81}</string>
<key>textureRect</key>
<string>{{499,546},{96,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,37}</string>
<key>spriteSourceSize</key>
<string>{40,37}</string>
<key>textureRect</key>
<string>{{981,3},{40,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_bg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,197}</string>
<key>spriteSourceSize</key>
<string>{102,197}</string>
<key>textureRect</key>
<string>{{3,917},{102,197}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_bg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{103,425}</string>
<key>spriteSourceSize</key>
<string>{103,425}</string>
<key>textureRect</key>
<string>{{3,488},{103,425}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_bg06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,244}</string>
<key>spriteSourceSize</key>
<string>{101,244}</string>
<key>textureRect</key>
<string>{{629,257},{101,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_duihua.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{70,112}</string>
<key>textureRect</key>
<string>{{555,176},{70,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_jianbian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{440,38}</string>
<key>spriteSourceSize</key>
<string>{440,38}</string>
<key>textureRect</key>
<string>{{981,44},{440,38}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_qizi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,148}</string>
<key>spriteSourceSize</key>
<string>{125,148}</string>
<key>textureRect</key>
<string>{{3,99},{125,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_renwu.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{250,347}</string>
<key>spriteSourceSize</key>
<string>{250,347}</string>
<key>textureRect</key>
<string>{{630,3},{250,347}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_zb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{877,295},{90,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_mxbd_zb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{110,488},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zb03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{110,589},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zb04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{204,917},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zb05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{217,690},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zb06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{220,791},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{311,690},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{298,892},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{314,791},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{392,892},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{405,616},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_mxbd_zy06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,97}</string>
<key>spriteSourceSize</key>
<string>{90,97}</string>
<key>textureRect</key>
<string>{{408,717},{90,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_shouyi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{279,75}</string>
<key>spriteSourceSize</key>
<string>{279,75}</string>
<key>textureRect</key>
<string>{{272,176},{279,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_shuliang_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,33}</string>
<key>spriteSourceSize</key>
<string>{24,33}</string>
<key>textureRect</key>
<string>{{495,355},{24,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_tmbg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{30,30}</string>
<key>spriteSourceSize</key>
<string>{30,30}</string>
<key>textureRect</key>
<string>{{585,292},{30,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_wenzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{23,26}</string>
<key>spriteSourceSize</key>
<string>{23,26}</string>
<key>textureRect</key>
<string>{{523,255},{23,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_wz_dfzr.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,46}</string>
<key>spriteSourceSize</key>
<string>{206,46}</string>
<key>textureRect</key>
<string>{{313,255},{206,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_wz_dljl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{206,46}</string>
<key>spriteSourceSize</key>
<string>{206,46}</string>
<key>textureRect</key>
<string>{{313,305},{206,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_wz_tgzd.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,32}</string>
<key>spriteSourceSize</key>
<string>{106,32}</string>
<key>textureRect</key>
<string>{{181,690},{106,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_wz_wmtg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,44}</string>
<key>spriteSourceSize</key>
<string>{118,44}</string>
<key>textureRect</key>
<string>{{313,497},{118,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_wz_xjzl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,105}</string>
<key>spriteSourceSize</key>
<string>{106,105}</string>
<key>textureRect</key>
<string>{{204,470},{106,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_wz_xspm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,105}</string>
<key>spriteSourceSize</key>
<string>{106,105}</string>
<key>textureRect</key>
<string>{{204,580},{106,105}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_wz_ybwl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{106,105}</string>
<key>spriteSourceSize</key>
<string>{106,105}</string>
<key>textureRect</key>
<string>{{110,808},{106,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_xian01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,21}</string>
<key>spriteSourceSize</key>
<string>{14,21}</string>
<key>textureRect</key>
<string>{{41,470},{14,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_xian02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,21}</string>
<key>spriteSourceSize</key>
<string>{14,21}</string>
<key>textureRect</key>
<string>{{66,470},{14,21}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_xian03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,14}</string>
<key>spriteSourceSize</key>
<string>{14,14}</string>
<key>textureRect</key>
<string>{{91,470},{14,14}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_xian04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{14,14}</string>
<key>spriteSourceSize</key>
<string>{14,14}</string>
<key>textureRect</key>
<string>{{109,470},{14,14}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_xingshu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,24}</string>
<key>spriteSourceSize</key>
<string>{75,24}</string>
<key>textureRect</key>
<string>{{523,282},{75,24}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZJ_xingxing_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{176,34}</string>
<key>spriteSourceSize</key>
<string>{176,34}</string>
<key>textureRect</key>
<string>{{313,390},{176,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_yiebnwanli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{99,34}</string>
<key>spriteSourceSize</key>
<string>{99,34}</string>
<key>textureRect</key>
<string>{{877,257},{99,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZJ_yiebnwanli_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{178,31}</string>
<key>spriteSourceSize</key>
<string>{178,31}</string>
<key>textureRect</key>
<string>{{313,355},{178,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZJ_zhangjie.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZJ_zhangjie.png</string>
</dict>
</dict>
</plist>