<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>TGJL_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{504,679}</string>
<key>spriteSourceSize</key>
<string>{504,679}</string>
<key>textureRect</key>
<string>{{3,3},{504,679}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TGJL_jindudi.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,34}</string>
<key>spriteSourceSize</key>
<string>{50,34}</string>
<key>textureRect</key>
<string>{{149,984},{50,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TGJL_jindutiao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{50,26}</string>
<key>spriteSourceSize</key>
<string>{50,26}</string>
<key>textureRect</key>
<string>{{203,984},{50,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TGJL_wenzi01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{243,122}</string>
<key>spriteSourceSize</key>
<string>{243,122}</string>
<key>textureRect</key>
<string>{{368,686},{243,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{293,69}</string>
<key>spriteSourceSize</key>
<string>{293,69}</string>
<key>textureRect</key>
<string>{{222,686},{293,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{318,69}</string>
<key>spriteSourceSize</key>
<string>{318,69}</string>
<key>textureRect</key>
<string>{{3,686},{318,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{318,69}</string>
<key>spriteSourceSize</key>
<string>{318,69}</string>
<key>textureRect</key>
<string>{{76,686},{318,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{294,69}</string>
<key>spriteSourceSize</key>
<string>{294,69}</string>
<key>textureRect</key>
<string>{{149,686},{294,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{292,69}</string>
<key>spriteSourceSize</key>
<string>{292,69}</string>
<key>textureRect</key>
<string>{{295,686},{292,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TGJL_wenzi07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{342,69}</string>
<key>spriteSourceSize</key>
<string>{342,69}</string>
<key>textureRect</key>
<string>{{368,933},{342,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TGJL_wenzi08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{243,122}</string>
<key>spriteSourceSize</key>
<string>{243,122}</string>
<key>textureRect</key>
<string>{{494,686},{243,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZJJL_zhangjiejiangli.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZJJL_zhangjiejiangli.png</string>
</dict>
</dict>
</plist>