<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZR_di.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{62,69}</string>
<key>spriteSourceSize</key>
<string>{62,69}</string>
<key>textureRect</key>
<string>{{921,3},{62,69}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_dikuang01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,240}</string>
<key>spriteSourceSize</key>
<string>{108,240}</string>
<key>textureRect</key>
<string>{{677,3},{108,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_dikuang02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{127,461}</string>
<key>spriteSourceSize</key>
<string>{127,461}</string>
<key>textureRect</key>
<string>{{3,10},{127,461}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_dikuang03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,44}</string>
<key>spriteSourceSize</key>
<string>{57,44}</string>
<key>textureRect</key>
<string>{{921,69},{57,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,26}</string>
<key>spriteSourceSize</key>
<string>{33,26}</string>
<key>textureRect</key>
<string>{{994,3},{33,26}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_jiaobiao01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{208,53}</string>
<key>spriteSourceSize</key>
<string>{208,53}</string>
<key>textureRect</key>
<string>{{590,10},{208,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_jiaobiao02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{208,53}</string>
<key>spriteSourceSize</key>
<string>{208,53}</string>
<key>textureRect</key>
<string>{{647,115},{208,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_jiaobiao03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{208,53}</string>
<key>spriteSourceSize</key>
<string>{208,53}</string>
<key>textureRect</key>
<string>{{647,172},{208,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_jiaobiao04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{208,53}</string>
<key>spriteSourceSize</key>
<string>{208,53}</string>
<key>textureRect</key>
<string>{{590,222},{208,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_jindutiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,20}</string>
<key>spriteSourceSize</key>
<string>{35,20}</string>
<key>textureRect</key>
<string>{{994,40},{35,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_jindutiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{35,20}</string>
<key>spriteSourceSize</key>
<string>{35,20}</string>
<key>textureRect</key>
<string>{{647,10},{35,20}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_qianwang.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{111,37}</string>
<key>spriteSourceSize</key>
<string>{111,37}</string>
<key>textureRect</key>
<string>{{981,214},{111,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_wz_dangqianzhanli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,31}</string>
<key>spriteSourceSize</key>
<string>{109,31}</string>
<key>textureRect</key>
<string>{{769,229},{109,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_wz_tuijianzli.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{109,31}</string>
<key>spriteSourceSize</key>
<string>{109,31}</string>
<key>textureRect</key>
<string>{{804,229},{109,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_wz_ycpy.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{131,37}</string>
<key>spriteSourceSize</key>
<string>{131,37}</string>
<key>textureRect</key>
<string>{{982,79},{131,37}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZR_xuxian.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{670,3}</string>
<key>spriteSourceSize</key>
<string>{670,3}</string>
<key>textureRect</key>
<string>{{3,3},{670,3}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{468,10},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{468,132},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{859,117},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{647,229},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{839,239},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{647,351},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{769,361},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{891,361},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{3,141},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{125,141},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{247,141},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{369,254},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{3,263},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{125,263},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{247,263},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{369,376},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{491,434},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{613,473},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{735,483},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{857,483},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{3,385},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{125,385},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{247,385},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{369,498},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yangcheng_tb25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,118}</string>
<key>spriteSourceSize</key>
<string>{118,118}</string>
<key>textureRect</key>
<string>{{491,556},{118,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZR_yinying.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{40,10}</string>
<key>spriteSourceSize</key>
<string>{40,10}</string>
<key>textureRect</key>
<string>{{647,49},{40,10}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZR_zhenrongtuijian.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZR_zhenrongtuijian.png</string>
</dict>
</dict>
</plist>