<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZXXJ_anniu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,81}</string>
<key>spriteSourceSize</key>
<string>{77,81}</string>
<key>textureRect</key>
<string>{{912,313},{77,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_anniu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{77,81}</string>
<key>spriteSourceSize</key>
<string>{77,81}</string>
<key>textureRect</key>
<string>{{727,369},{77,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_bx_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,134}</string>
<key>spriteSourceSize</key>
<string>{132,134}</string>
<key>textureRect</key>
<string>{{3,245},{132,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_bx_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,134}</string>
<key>spriteSourceSize</key>
<string>{132,134}</string>
<key>textureRect</key>
<string>{{201,233},{132,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_bx_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{132,134}</string>
<key>spriteSourceSize</key>
<string>{132,134}</string>
<key>textureRect</key>
<string>{{3,381},{132,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_bx_bj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{295,23}</string>
<key>spriteSourceSize</key>
<string>{295,23}</string>
<key>textureRect</key>
<string>{{998,224},{295,23}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_bx_qibao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{105,86}</string>
<key>spriteSourceSize</key>
<string>{105,86}</string>
<key>textureRect</key>
<string>{{512,276},{105,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_bx_wenhao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{69,70}</string>
<key>spriteSourceSize</key>
<string>{69,70}</string>
<key>textureRect</key>
<string>{{755,229},{69,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_chazhao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{85,166}</string>
<key>spriteSourceSize</key>
<string>{85,166}</string>
<key>textureRect</key>
<string>{{828,224},{85,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_chazhao_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,74}</string>
<key>spriteSourceSize</key>
<string>{75,74}</string>
<key>textureRect</key>
<string>{{109,529},{75,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_cishu_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{39,35}</string>
<key>spriteSourceSize</key>
<string>{39,35}</string>
<key>textureRect</key>
<string>{{141,490},{39,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_hengtiao_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{437,143}</string>
<key>spriteSourceSize</key>
<string>{437,143}</string>
<key>textureRect</key>
<string>{{521,3},{437,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jiantou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,83}</string>
<key>spriteSourceSize</key>
<string>{60,83}</string>
<key>textureRect</key>
<string>{{825,313},{60,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_jiantou02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{66,62}</string>
<key>textureRect</key>
<string>{{755,303},{66,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jihuo_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{57,42}</string>
<key>spriteSourceSize</key>
<string>{57,42}</string>
<key>textureRect</key>
<string>{{962,143},{57,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{189,31}</string>
<key>spriteSourceSize</key>
<string>{189,31}</string>
<key>textureRect</key>
<string>{{828,189},{189,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{198,25}</string>
<key>spriteSourceSize</key>
<string>{198,25}</string>
<key>textureRect</key>
<string>{{3,176},{198,25}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{388,91}</string>
<key>spriteSourceSize</key>
<string>{388,91}</string>
<key>textureRect</key>
<string>{{3,81},{388,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{101,27}</string>
<key>spriteSourceSize</key>
<string>{101,27}</string>
<key>textureRect</key>
<string>{{188,555},{101,27}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{150,23}</string>
<key>spriteSourceSize</key>
<string>{150,23}</string>
<key>textureRect</key>
<string>{{205,176},{150,23}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{123,27}</string>
<key>spriteSourceSize</key>
<string>{123,27}</string>
<key>textureRect</key>
<string>{{359,176},{123,27}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_mingzi_bg07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{307,75}</string>
<key>spriteSourceSize</key>
<string>{307,75}</string>
<key>textureRect</key>
<string>{{517,150},{307,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,37}</string>
<key>spriteSourceSize</key>
<string>{53,37}</string>
<key>textureRect</key>
<string>{{144,205},{53,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,26}</string>
<key>spriteSourceSize</key>
<string>{146,26}</string>
<key>textureRect</key>
<string>{{205,203},{146,26}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_mingzi_bg10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{24,25}</string>
<key>spriteSourceSize</key>
<string>{24,25}</string>
<key>textureRect</key>
<string>{{310,369},{24,25}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_qipao.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,79}</string>
<key>spriteSourceSize</key>
<string>{71,79}</string>
<key>textureRect</key>
<string>{{309,425},{71,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_qiu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,66}</string>
<key>spriteSourceSize</key>
<string>{59,66}</string>
<key>textureRect</key>
<string>{{962,3},{59,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_qiu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{59,66}</string>
<key>spriteSourceSize</key>
<string>{59,66}</string>
<key>textureRect</key>
<string>{{962,73},{59,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_qizi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,87}</string>
<key>spriteSourceSize</key>
<string>{76,87}</string>
<key>textureRect</key>
<string>{{294,508},{76,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_qizi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,87}</string>
<key>spriteSourceSize</key>
<string>{76,87}</string>
<key>textureRect</key>
<string>{{188,586},{76,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_qizi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,87}</string>
<key>spriteSourceSize</key>
<string>{76,87}</string>
<key>textureRect</key>
<string>{{3,615},{76,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_qizi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,87}</string>
<key>spriteSourceSize</key>
<string>{76,87}</string>
<key>textureRect</key>
<string>{{94,644},{76,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_qizi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,87}</string>
<key>spriteSourceSize</key>
<string>{76,87}</string>
<key>textureRect</key>
<string>{{3,695},{76,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_anniu_hzbk.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{386,316},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_anniu_jl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{621,307},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_anniu_kwcz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{492,366},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_anniu_phb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{386,414},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_anniu_tmcz.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{188,457},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_anniu_wdsm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{102,94}</string>
<key>textureRect</key>
<string>{{3,517},{102,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_dqsh.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{137,36}</string>
<key>spriteSourceSize</key>
<string>{137,36}</string>
<key>textureRect</key>
<string>{{3,205},{137,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_fscg.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,35}</string>
<key>spriteSourceSize</key>
<string>{117,35}</string>
<key>textureRect</key>
<string>{{634,229},{117,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_fssb.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,35}</string>
<key>spriteSourceSize</key>
<string>{117,35}</string>
<key>textureRect</key>
<string>{{634,268},{117,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_kcxl.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{117,37}</string>
<key>spriteSourceSize</key>
<string>{117,37}</string>
<key>textureRect</key>
<string>{{188,416},{117,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_kong.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,62}</string>
<key>spriteSourceSize</key>
<string>{76,62}</string>
<key>textureRect</key>
<string>{{892,394},{76,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_lianm.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,66}</string>
<key>spriteSourceSize</key>
<string>{33,66}</string>
<key>textureRect</key>
<string>{{109,607},{33,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_mingzi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{395,81},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{395,128},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{395,175},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{390,222},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{141,246},{118,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_mingzi_b1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{141,368},{118,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_mingzi_b2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{512,229},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_b3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{390,269},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_mingzi_b4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{339,303},{118,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_mingzi_b5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{118,43}</string>
<key>spriteSourceSize</key>
<string>{118,43}</string>
<key>textureRect</key>
<string>{{188,369},{118,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_tianjiangbx.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{514,74}</string>
<key>spriteSourceSize</key>
<string>{514,74}</string>
<key>textureRect</key>
<string>{{3,3},{514,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_yiman.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{76,65}</string>
<key>spriteSourceSize</key>
<string>{76,65}</string>
<key>textureRect</key>
<string>{{812,377},{76,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_wz_ziji.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{33,66}</string>
<key>spriteSourceSize</key>
<string>{33,66}</string>
<key>textureRect</key>
<string>{{812,446},{33,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_wz_zxxj.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{125,35}</string>
<key>spriteSourceSize</key>
<string>{125,35}</string>
<key>textureRect</key>
<string>{{828,150},{125,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZXXJ_zixiaoxianjing.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZXXJ_zixiaoxianjing.png</string>
</dict>
</dict>
</plist>