<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZXXJ_jianzhu_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{254,221}</string>
<key>spriteSourceSize</key>
<string>{254,221}</string>
<key>textureRect</key>
<string>{{645,475},{254,221}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{271,226}</string>
<key>spriteSourceSize</key>
<string>{271,226}</string>
<key>textureRect</key>
<string>{{645,245},{271,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{235,194}</string>
<key>spriteSourceSize</key>
<string>{235,194}</string>
<key>textureRect</key>
<string>{{324,487},{235,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{223,175}</string>
<key>spriteSourceSize</key>
<string>{223,175}</string>
<key>textureRect</key>
<string>{{3,526},{223,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{215,168}</string>
<key>spriteSourceSize</key>
<string>{215,168}</string>
<key>textureRect</key>
<string>{{3,705},{215,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZXXJ_jianzhu_b1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,277}</string>
<key>spriteSourceSize</key>
<string>{317,277}</string>
<key>textureRect</key>
<string>{{3,3},{317,277}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_b2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,238}</string>
<key>spriteSourceSize</key>
<string>{317,238}</string>
<key>textureRect</key>
<string>{{324,3},{317,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_b3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,238}</string>
<key>spriteSourceSize</key>
<string>{317,238}</string>
<key>textureRect</key>
<string>{{645,3},{317,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_b4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,238}</string>
<key>spriteSourceSize</key>
<string>{317,238}</string>
<key>textureRect</key>
<string>{{324,245},{317,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZXXJ_jianzhu_b5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{317,238}</string>
<key>spriteSourceSize</key>
<string>{317,238}</string>
<key>textureRect</key>
<string>{{3,284},{317,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZXXJ_zixiaoxianjing_jz.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZXXJ_zixiaoxianjing_jz.png</string>
</dict>
</dict>
</plist>