<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7013_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,87}</string>
<key>spriteSize</key>
<string>{210,416}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,218},{210,416}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,87}</string>
<key>spriteSize</key>
<string>{210,416}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,216},{210,416}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,88}</string>
<key>spriteSize</key>
<string>{212,418}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{212,418}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,87}</string>
<key>spriteSize</key>
<string>{214,416}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,2},{214,416}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,85}</string>
<key>spriteSize</key>
<string>{216,412}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,428},{216,412}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,84}</string>
<key>spriteSize</key>
<string>{218,410}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,644},{218,410}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,82}</string>
<key>spriteSize</key>
<string>{220,406}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,862},{220,406}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,82}</string>
<key>spriteSize</key>
<string>{218,406}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,864},{218,406}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,83}</string>
<key>spriteSize</key>
<string>{214,408}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,646},{214,408}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,85}</string>
<key>spriteSize</key>
<string>{212,412}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,430},{212,412}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_7013.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_7013.png</string>
</dict>
</dict>
</plist>