<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7013_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,58}</string>
<key>spriteSize</key>
<string>{104,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,1158},{104,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,58}</string>
<key>spriteSize</key>
<string>{112,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1054,1020},{112,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,58}</string>
<key>spriteSize</key>
<string>{112,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1198,198},{112,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{108,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1136,586},{108,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{104,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,1158},{104,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,58}</string>
<key>spriteSize</key>
<string>{102,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1078,804},{102,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,68}</string>
<key>spriteSize</key>
<string>{130,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,1086},{130,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{134,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,844},{134,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,67}</string>
<key>spriteSize</key>
<string>{134,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1130,1806},{134,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{132,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,1914},{132,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,67}</string>
<key>spriteSize</key>
<string>{130,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1004,628},{130,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,67}</string>
<key>spriteSize</key>
<string>{128,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1094,410},{128,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,72}</string>
<key>spriteSize</key>
<string>{182,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,1670},{182,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,71}</string>
<key>spriteSize</key>
<string>{180,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{774,1858},{180,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,73}</string>
<key>spriteSize</key>
<string>{180,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1040,1448},{180,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,73}</string>
<key>spriteSize</key>
<string>{180,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,1634},{180,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,73}</string>
<key>spriteSize</key>
<string>{182,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,1264},{182,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,74}</string>
<key>spriteSize</key>
<string>{182,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,1450},{182,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,85}</string>
<key>spriteSize</key>
<string>{176,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,676},{176,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,85}</string>
<key>spriteSize</key>
<string>{178,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,1264},{178,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,86}</string>
<key>spriteSize</key>
<string>{178,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,2},{178,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,86}</string>
<key>spriteSize</key>
<string>{178,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,666},{178,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,85}</string>
<key>spriteSize</key>
<string>{176,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{756,430},{176,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,85}</string>
<key>spriteSize</key>
<string>{174,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{746,216},{174,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,96}</string>
<key>spriteSize</key>
<string>{110,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,1052},{110,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,95}</string>
<key>spriteSize</key>
<string>{116,234}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,796},{116,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,94}</string>
<key>spriteSize</key>
<string>{114,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,1542},{114,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,94}</string>
<key>spriteSize</key>
<string>{110,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,1542},{110,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,94}</string>
<key>spriteSize</key>
<string>{106,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,1776},{106,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,95}</string>
<key>spriteSize</key>
<string>{102,234}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,536},{102,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,68}</string>
<key>spriteSize</key>
<string>{122,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{782,1642},{122,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,97}</string>
<key>spriteSize</key>
<string>{150,230}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,1032},{150,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,70}</string>
<key>spriteSize</key>
<string>{150,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,1086},{150,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,66}</string>
<key>spriteSize</key>
<string>{130,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,1914},{130,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,69}</string>
<key>spriteSize</key>
<string>{146,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1086,1630},{146,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,89}</string>
<key>spriteSize</key>
<string>{152,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,1788},{152,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,89}</string>
<key>spriteSize</key>
<string>{158,236}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,1304},{158,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,84}</string>
<key>spriteSize</key>
<string>{140,226}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,1264},{140,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,78}</string>
<key>spriteSize</key>
<string>{138,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,220},{138,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,64}</string>
<key>spriteSize</key>
<string>{138,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1224,374},{138,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,81}</string>
<key>spriteSize</key>
<string>{158,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{934,426},{158,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,72}</string>
<key>spriteSize</key>
<string>{194,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1160,2},{194,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,71}</string>
<key>spriteSize</key>
<string>{214,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,450},{214,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,70}</string>
<key>spriteSize</key>
<string>{174,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{956,1816},{174,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,97}</string>
<key>spriteSize</key>
<string>{130,226}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,1492},{130,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,93}</string>
<key>spriteSize</key>
<string>{140,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,454},{140,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,84}</string>
<key>spriteSize</key>
<string>{150,222}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,496},{150,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,81}</string>
<key>spriteSize</key>
<string>{128,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,892},{128,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,73}</string>
<key>spriteSize</key>
<string>{202,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,640},{202,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,73}</string>
<key>spriteSize</key>
<string>{160,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,1454},{160,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,70}</string>
<key>spriteSize</key>
<string>{264,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,270},{264,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,69}</string>
<key>spriteSize</key>
<string>{258,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,536},{258,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,89}</string>
<key>spriteSize</key>
<string>{226,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,2},{226,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7013_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,104}</string>
<key>spriteSize</key>
<string>{168,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1548},{168,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,92}</string>
<key>spriteSize</key>
<string>{190,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,942},{190,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,88}</string>
<key>spriteSize</key>
<string>{198,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,878},{198,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,89}</string>
<key>spriteSize</key>
<string>{172,220}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,720},{172,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,74}</string>
<key>spriteSize</key>
<string>{172,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,1264},{172,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,71}</string>
<key>spriteSize</key>
<string>{140,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1018,2},{140,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,63}</string>
<key>spriteSize</key>
<string>{178,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,1720},{178,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,61}</string>
<key>spriteSize</key>
<string>{162,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,1480},{162,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,100}</string>
<key>spriteSize</key>
<string>{152,250}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1052},{152,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,109}</string>
<key>spriteSize</key>
<string>{176,254}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,796},{176,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,90}</string>
<key>spriteSize</key>
<string>{178,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,2},{178,216}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,88}</string>
<key>spriteSize</key>
<string>{158,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,2},{158,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,97}</string>
<key>spriteSize</key>
<string>{140,230}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,264},{140,230}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,72}</string>
<key>spriteSize</key>
<string>{108,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,1264},{108,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,87}</string>
<key>spriteSize</key>
<string>{152,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1788},{152,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,75}</string>
<key>spriteSize</key>
<string>{144,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,216},{144,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,69}</string>
<key>spriteSize</key>
<string>{128,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1068,212},{128,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,108}</string>
<key>spriteSize</key>
<string>{142,260}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,2},{142,260}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,111}</string>
<key>spriteSize</key>
<string>{142,266}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{142,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,89}</string>
<key>spriteSize</key>
<string>{146,222}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,230},{146,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,87}</string>
<key>spriteSize</key>
<string>{130,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,230},{130,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7013_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,99}</string>
<key>spriteSize</key>
<string>{130,242}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1304},{130,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7013.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7013.png</string>
</dict>
</dict>
</plist>