<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hua_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-87}</string>
<key>spriteSize</key>
<string>{48,65}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{188,735},{48,65}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-49}</string>
<key>spriteSize</key>
<string>{148,175}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{364,494},{148,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-10}</string>
<key>spriteSize</key>
<string>{164,203}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{286,735},{164,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-14}</string>
<key>spriteSize</key>
<string>{146,207}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{2,811},{146,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-19}</string>
<key>spriteSize</key>
<string>{134,205}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{360,2},{134,205}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-22}</string>
<key>spriteSize</key>
<string>{134,207}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{150,811},{134,207}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-35}</string>
<key>spriteSize</key>
<string>{166,203}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{496,2},{166,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-21}</string>
<key>spriteSize</key>
<string>{170,235}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{184,267},{170,235}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-7}</string>
<key>spriteSize</key>
<string>{184,259}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{2,550},{184,259}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,1}</string>
<key>spriteSize</key>
<string>{178,275}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{2,2},{178,275}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{180,269}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{2,279},{180,269}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,4}</string>
<key>spriteSize</key>
<string>{176,263}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{182,2},{176,263}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,17}</string>
<key>spriteSize</key>
<string>{174,229}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{188,504},{174,229}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hua_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,8}</string>
<key>spriteSize</key>
<string>{170,225}</string>
<key>spriteSourceSize</key>
<string>{310,359}</string>
<key>textureRect</key>
<string>{{356,267},{170,225}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7013_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7013_skill_2.png</string>
</dict>
</dict>
</plist>