<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1003_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,25}</string>
<key>spriteSize</key>
<string>{82,38}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,130},{82,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,25}</string>
<key>spriteSize</key>
<string>{90,34}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,102},{90,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,21}</string>
<key>spriteSize</key>
<string>{30,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{220,234},{30,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{58,38}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{64,342},{58,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{92,32}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,46},{92,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,27}</string>
<key>spriteSize</key>
<string>{92,42}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,2},{92,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{58,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{194,284},{58,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,19}</string>
<key>spriteSize</key>
<string>{64,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{154,228},{64,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,25}</string>
<key>spriteSize</key>
<string>{40,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{42,386},{40,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,25}</string>
<key>spriteSize</key>
<string>{48,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,446},{48,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,25}</string>
<key>spriteSize</key>
<string>{66,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{154,178},{66,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,38}</string>
<key>spriteSize</key>
<string>{64,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{190,70},{64,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,38}</string>
<key>spriteSize</key>
<string>{46,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,284},{46,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,17}</string>
<key>spriteSize</key>
<string>{46,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{178,130},{46,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,29}</string>
<key>spriteSize</key>
<string>{46,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{192,338},{46,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,26}</string>
<key>spriteSize</key>
<string>{46,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,238},{46,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,23}</string>
<key>spriteSize</key>
<string>{46,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,286},{46,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{46,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{70,234},{46,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,34}</string>
<key>spriteSize</key>
<string>{62,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,282},{62,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,22}</string>
<key>spriteSize</key>
<string>{62,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{84,170},{62,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,31}</string>
<key>spriteSize</key>
<string>{38,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,386},{38,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,29}</string>
<key>spriteSize</key>
<string>{50,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,334},{50,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,28}</string>
<key>spriteSize</key>
<string>{66,50}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,186},{66,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,36}</string>
<key>spriteSize</key>
<string>{66,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{190,2},{66,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1003_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,28}</string>
<key>spriteSize</key>
<string>{80,46}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,138},{80,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{90,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,80},{90,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{30,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{222,178},{30,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{58,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,332},{58,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{92,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{92,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1003_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,28}</string>
<key>spriteSize</key>
<string>{90,48}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,52},{90,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1003_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1003_run.png</string>
</dict>
</dict>
</plist>