<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7002_baozha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,5}</string>
<key>spriteSize</key>
<string>{164,153}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{715,2},{164,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{208,191}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{2,233},{208,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{236,215}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{242,2},{236,215}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,4}</string>
<key>spriteSize</key>
<string>{238,229}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{2,2},{238,229}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,3}</string>
<key>spriteSize</key>
<string>{220,233}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{480,2},{220,233}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,3}</string>
<key>spriteSize</key>
<string>{202,187}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{2,426},{202,187}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-1}</string>
<key>spriteSize</key>
<string>{156,139}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{881,2},{156,139}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_baozha_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,2}</string>
<key>spriteSize</key>
<string>{150,135}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{876,233},{150,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_baozha_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-12}</string>
<key>spriteSize</key>
<string>{150,107}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{866,385},{150,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_baozha_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,-12}</string>
<key>spriteSize</key>
<string>{150,111}</string>
<key>spriteSourceSize</key>
<string>{338,341}</string>
<key>textureRect</key>
<string>{{714,307},{150,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_guang2_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{102,102}</string>
<key>spriteSourceSize</key>
<string>{168,154}</string>
<key>textureRect</key>
<string>{{460,455},{102,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_guang_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{222,230}</string>
<key>spriteSourceSize</key>
<string>{222,232}</string>
<key>textureRect</key>
<string>{{242,219},{222,230}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_piaodai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,6}</string>
<key>spriteSize</key>
<string>{99,51}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{355,518},{99,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,13}</string>
<key>spriteSize</key>
<string>{147,59}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{713,420},{147,59}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{163,71}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{715,157},{163,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{159,75}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{715,230},{159,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{159,77}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{474,224},{159,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,2}</string>
<key>spriteSize</key>
<string>{153,73}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{474,380},{153,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,4}</string>
<key>spriteSize</key>
<string>{139,71}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{880,160},{139,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,5}</string>
<key>spriteSize</key>
<string>{153,75}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{474,303},{153,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{133,77}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{635,258},{133,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_piaodai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,4}</string>
<key>spriteSize</key>
<string>{113,79}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{240,443},{113,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,12}</string>
<key>spriteSize</key>
<string>{103,73}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{355,443},{103,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,-7}</string>
<key>spriteSize</key>
<string>{41,61}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{564,455},{41,61}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_piaodai_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,-3}</string>
<key>spriteSize</key>
<string>{27,43}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{212,233},{27,43}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_piaodai_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,-23}</string>
<key>spriteSize</key>
<string>{5,7}</string>
<key>spriteSourceSize</key>
<string>{247,135}</string>
<key>textureRect</key>
<string>{{212,278},{5,7}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_zidan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{78,32}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{635,224},{78,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_zidan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{86,32}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{206,426},{86,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_zidan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{80,36}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{629,427},{80,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_zidan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{74,32}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{240,524},{74,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_zidan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{82,32}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{629,393},{82,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7002_zidan_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{76,32}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{206,514},{76,32}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7002_zidan_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{84,30}</string>
<key>spriteSourceSize</key>
<string>{98,40}</string>
<key>textureRect</key>
<string>{{627,465},{84,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_7002_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_7002_1.png</string>
</dict>
</dict>
</plist>