<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PET0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{172,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,670},{172,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,64}</string>
<key>spriteSize</key>
<string>{168,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,840},{168,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,63}</string>
<key>spriteSize</key>
<string>{170,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,840},{170,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PET0012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,63}</string>
<key>spriteSize</key>
<string>{174,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,502},{174,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,63}</string>
<key>spriteSize</key>
<string>{178,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,334},{178,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,62}</string>
<key>spriteSize</key>
<string>{184,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,168},{184,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{188,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{188,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,63}</string>
<key>spriteSize</key>
<string>{186,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{192,2},{186,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{182,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,170},{182,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{176,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,338},{176,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PET0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{172,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,506},{172,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET7002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET7002.png</string>
</dict>
</dict>
</plist>