<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_PET7002_A10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{124,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{928,576},{124,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A10004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,59}</string>
<key>spriteSize</key>
<string>{126,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{796,1164},{126,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A10008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,69}</string>
<key>spriteSize</key>
<string>{118,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,654},{118,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,71}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,504},{102,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,58}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1224,2},{120,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{128,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,842},{128,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{128,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,536},{128,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{130,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,1544},{130,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A10032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{128,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,904},{128,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A10036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,47}</string>
<key>spriteSize</key>
<string>{124,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,732},{124,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,1030},{150,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A20004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,55}</string>
<key>spriteSize</key>
<string>{150,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,878},{150,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A20008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,70}</string>
<key>spriteSize</key>
<string>{130,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,2},{130,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,72}</string>
<key>spriteSize</key>
<string>{124,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,878},{124,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,55}</string>
<key>spriteSize</key>
<string>{114,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,474},{114,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,54}</string>
<key>spriteSize</key>
<string>{126,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,1592},{126,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,57}</string>
<key>spriteSize</key>
<string>{120,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1438},{120,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,52}</string>
<key>spriteSize</key>
<string>{140,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,1076},{140,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A20032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,44}</string>
<key>spriteSize</key>
<string>{148,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,692},{148,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A20036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,1392},{150,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{178,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,566},{178,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,49}</string>
<key>spriteSize</key>
<string>{152,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,172},{152,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,65}</string>
<key>spriteSize</key>
<string>{108,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,1938},{108,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,67}</string>
<key>spriteSize</key>
<string>{112,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,1934},{112,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,51}</string>
<key>spriteSize</key>
<string>{120,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1234},{120,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,50}</string>
<key>spriteSize</key>
<string>{124,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,2},{124,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A30024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,52}</string>
<key>spriteSize</key>
<string>{122,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,566},{122,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A30028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{148,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,930},{148,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A30032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,38}</string>
<key>spriteSize</key>
<string>{170,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,746},{170,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A30036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{178,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,750},{178,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,40}</string>
<key>spriteSize</key>
<string>{150,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,2},{150,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,45}</string>
<key>spriteSize</key>
<string>{142,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,722},{142,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,56}</string>
<key>spriteSize</key>
<string>{120,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,2},{120,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,58}</string>
<key>spriteSize</key>
<string>{120,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,1592},{120,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,44}</string>
<key>spriteSize</key>
<string>{128,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,1266},{128,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,44}</string>
<key>spriteSize</key>
<string>{130,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,186},{130,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,46}</string>
<key>spriteSize</key>
<string>{132,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{132,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,39}</string>
<key>spriteSize</key>
<string>{142,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,382},{142,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,31}</string>
<key>spriteSize</key>
<string>{148,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,1430},{148,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A40036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,39}</string>
<key>spriteSize</key>
<string>{150,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,350},{150,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{140,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,918},{140,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,40}</string>
<key>spriteSize</key>
<string>{144,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1606},{144,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,48}</string>
<key>spriteSize</key>
<string>{128,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,186},{128,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{108,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1938},{108,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_A50016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,42}</string>
<key>spriteSize</key>
<string>{128,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1266},{128,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{138,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,370},{138,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{140,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,194},{140,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{144,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,2},{144,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,26}</string>
<key>spriteSize</key>
<string>{140,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1438},{140,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_A50036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{140,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,1754},{140,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,1162},{118,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{114,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1014,858},{114,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{116,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1012,1032},{116,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,1292},{118,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1110,282},{122,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,42}</string>
<key>spriteSize</key>
<string>{126,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{902,904},{126,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{128,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,1034},{128,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{126,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,1034},{126,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1004,426},{124,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{120,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,1292},{120,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,43}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{896,1414},{118,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,47}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,620},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{140,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,1902},{140,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,46}</string>
<key>spriteSize</key>
<string>{140,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{758,1760},{140,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,45}</string>
<key>spriteSize</key>
<string>{140,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{670,944},{140,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,42}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{668,800},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,39}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{778,1464},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,40}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,1616},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,42}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,1320},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,45}</string>
<key>spriteSize</key>
<string>{144,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,302},{144,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{142,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{756,448},{142,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,47}</string>
<key>spriteSize</key>
<string>{142,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,1472},{142,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,45}</string>
<key>spriteSize</key>
<string>{166,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1270},{166,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,44}</string>
<key>spriteSize</key>
<string>{164,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,1604},{164,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,42}</string>
<key>spriteSize</key>
<string>{162,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1102},{162,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,39}</string>
<key>spriteSize</key>
<string>{162,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,1770},{162,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,37}</string>
<key>spriteSize</key>
<string>{164,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,1772},{164,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,35}</string>
<key>spriteSize</key>
<string>{164,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1772},{164,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,35}</string>
<key>spriteSize</key>
<string>{168,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,180},{168,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,38}</string>
<key>spriteSize</key>
<string>{170,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,550},{170,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,40}</string>
<key>spriteSize</key>
<string>{170,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,364},{170,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,42}</string>
<key>spriteSize</key>
<string>{168,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,2},{168,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,45}</string>
<key>spriteSize</key>
<string>{166,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1102},{166,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,41}</string>
<key>spriteSize</key>
<string>{138,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,764},{138,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B40004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,41}</string>
<key>spriteSize</key>
<string>{138,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,1888},{138,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B40008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,39}</string>
<key>spriteSize</key>
<string>{136,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{972,288},{136,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,37}</string>
<key>spriteSize</key>
<string>{138,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,1608},{138,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,35}</string>
<key>spriteSize</key>
<string>{138,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{832,294},{138,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,33}</string>
<key>spriteSize</key>
<string>{138,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,1176},{138,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,33}</string>
<key>spriteSize</key>
<string>{138,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,1328},{138,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,35}</string>
<key>spriteSize</key>
<string>{140,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{946,2},{140,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,38}</string>
<key>spriteSize</key>
<string>{140,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,150},{140,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B40036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,40}</string>
<key>spriteSize</key>
<string>{140,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{966,146},{140,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,41}</string>
<key>spriteSize</key>
<string>{138,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,1748},{138,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_PET7002_B50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{132,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{794,592},{132,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,35}</string>
<key>spriteSize</key>
<string>{128,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1106,144},{128,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,33}</string>
<key>spriteSize</key>
<string>{130,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,436},{130,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,31}</string>
<key>spriteSize</key>
<string>{134,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1088,2},{134,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50016.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{136,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,1692},{136,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,28}</string>
<key>spriteSize</key>
<string>{140,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,1182},{140,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50024.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,28}</string>
<key>spriteSize</key>
<string>{140,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{682,154},{140,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50028.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,30}</string>
<key>spriteSize</key>
<string>{140,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{574,326},{140,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50032.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,32}</string>
<key>spriteSize</key>
<string>{138,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,1030},{138,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50036.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{134,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,1836},{134,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_PET7002_B50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{132,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,1914},{132,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_PET7002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_PET7002.png</string>
</dict>
</dict>
</plist>