<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6002_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,43}</string>
<key>spriteSize</key>
<string>{94,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,132},{94,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{94,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,254},{94,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,400},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,164},{94,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,44}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,350},{94,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,44}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,348},{94,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,304},{94,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,39}</string>
<key>spriteSize</key>
<string>{64,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,2},{64,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,2},{66,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,2},{66,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,2},{66,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,70},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,39}</string>
<key>spriteSize</key>
<string>{66,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,98},{66,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,39}</string>
<key>spriteSize</key>
<string>{66,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,2},{66,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,138},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,132},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,70},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,70},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,70},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,92},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,80},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,43}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{582,322},{92,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{90,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,444},{90,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,44}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,368},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,44}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,316},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,44}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,228},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,43}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,260},{94,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,43}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,264},{92,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{90,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,584},{90,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,492},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,46}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,452},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{90,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,450},{90,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,47}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,544},{92,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,48}</string>
<key>spriteSize</key>
<string>{92,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,656},{92,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,48}</string>
<key>spriteSize</key>
<string>{92,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,644},{92,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,554},{88,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{774,530},{68,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{76,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,638},{76,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,23}</string>
<key>spriteSize</key>
<string>{112,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,278},{112,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,30}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,358},{72,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,31}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,494},{80,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{76,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{112,536},{76,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{76,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,2},{76,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,44}</string>
<key>spriteSize</key>
<string>{116,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,142},{116,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,44}</string>
<key>spriteSize</key>
<string>{116,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,154},{116,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,43}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,614},{78,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,37}</string>
<key>spriteSize</key>
<string>{82,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,708},{82,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,36}</string>
<key>spriteSize</key>
<string>{84,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,676},{84,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,36}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,638},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,39}</string>
<key>spriteSize</key>
<string>{106,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,462},{106,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,37}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,194},{82,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,39}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{938,272},{84,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,38}</string>
<key>spriteSize</key>
<string>{112,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,200},{112,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,38}</string>
<key>spriteSize</key>
<string>{72,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,474},{72,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,39}</string>
<key>spriteSize</key>
<string>{88,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,548},{88,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{116,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,132},{116,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{128,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{128,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,38}</string>
<key>spriteSize</key>
<string>{112,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,248},{112,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,38}</string>
<key>spriteSize</key>
<string>{108,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,446},{108,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,36}</string>
<key>spriteSize</key>
<string>{62,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,410},{62,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{902,380},{68,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,39}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,632},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{120,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,68},{120,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,36}</string>
<key>spriteSize</key>
<string>{120,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,2},{120,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,37}</string>
<key>spriteSize</key>
<string>{108,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,166},{108,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{74,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,416},{74,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,40}</string>
<key>spriteSize</key>
<string>{94,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,356},{94,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,40}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,432},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,39}</string>
<key>spriteSize</key>
<string>{68,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,166},{68,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{220,576},{78,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,41}</string>
<key>spriteSize</key>
<string>{112,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,222},{112,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6002_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,41}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{754,600},{72,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,42}</string>
<key>spriteSize</key>
<string>{78,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{876,542},{78,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,43}</string>
<key>spriteSize</key>
<string>{78,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,694},{78,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6002_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,39}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,556},{74,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6002.png</string>
</dict>
</dict>
</plist>