<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>under_attack8003_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{115,119}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,317},{115,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{153,153}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,39},{153,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{139,139}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{212,57},{139,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-7}</string>
<key>spriteSize</key>
<string>{123,121}</string>
<key>spriteSourceSize</key>
<string>{375,375}</string>
<key>textureRect</key>
<string>{{2,194},{123,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,3}</string>
<key>spriteSize</key>
<string>{42,118}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{353,57},{42,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-76,-4}</string>
<key>spriteSize</key>
<string>{119,41}</string>
<key>spriteSourceSize</key>
<string>{375,113}</string>
<key>textureRect</key>
<string>{{353,177},{119,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack8003_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,-4}</string>
<key>spriteSize</key>
<string>{153,53}</string>
<key>spriteSourceSize</key>
<string>{375,113}</string>
<key>textureRect</key>
<string>{{157,39},{153,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack8003_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-4}</string>
<key>spriteSize</key>
<string>{179,55}</string>
<key>spriteSourceSize</key>
<string>{375,113}</string>
<key>textureRect</key>
<string>{{424,2},{179,55}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>under_attack8003_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,-5}</string>
<key>spriteSize</key>
<string>{201,53}</string>
<key>spriteSourceSize</key>
<string>{375,113}</string>
<key>textureRect</key>
<string>{{221,2},{201,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>under_attack8003_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-10}</string>
<key>spriteSize</key>
<string>{217,35}</string>
<key>spriteSourceSize</key>
<string>{375,113}</string>
<key>textureRect</key>
<string>{{2,2},{217,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>under_attack8003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>under_attack8003.png</string>
</dict>
</dict>
</plist>