<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BUFF_xuedi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{19,30}</string>
<key>spriteSourceSize</key>
<string>{25,36}</string>
<key>textureRect</key>
<string>{{127,131},{19,30}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_xuedibaozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{107,81}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{129,395},{107,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_xuedibaozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{137,105}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{129,288},{137,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_xuedibaozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{149,123}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{127,163},{149,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_xuedibaozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{153,125}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{2,292},{153,125}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_xuedibaozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{155,127}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{2,2},{155,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_xuedibaozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-3}</string>
<key>spriteSize</key>
<string>{159,123}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{2,131},{159,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_xuedibaozha_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{159,117}</string>
<key>spriteSourceSize</key>
<string>{175,163}</string>
<key>textureRect</key>
<string>{{159,2},{159,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_xue.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_xue.png</string>
</dict>
</dict>
</plist>