<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Lingwan_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{350,315},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{234,315},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{118,315},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{112,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{562,210},{112,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{2,314},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{792,210},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{676,210},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{446,210},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{330,210},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{114,103}</string>
<key>spriteSourceSize</key>
<string>{114,103}</string>
<key>textureRect</key>
<string>{{214,210},{114,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{2,106},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{842,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{737,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{632,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{527,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{422,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{317,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{212,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{107,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{102,103}</string>
<key>spriteSourceSize</key>
<string>{102,103}</string>
<key>textureRect</key>
<string>{{2,2},{102,103}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Lingwan_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{552,422},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{442,422},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{332,420},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{222,420},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{112,420},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{2,419},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{796,315},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{686,315},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{576,315},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_3_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{108,105}</string>
<key>spriteSourceSize</key>
<string>{108,105}</string>
<key>textureRect</key>
<string>{{466,315},{108,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{856,530},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{784,422},{118,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{734,530},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{612,530},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{490,529},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{368,529},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{246,527},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{124,527},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{2,527},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{120,106}</string>
<key>textureRect</key>
<string>{{662,422},{120,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{108,210},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{2,210},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{849,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{743,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{637,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{531,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{425,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{319,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{213,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Lingwan_5_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{104,102}</string>
<key>spriteSourceSize</key>
<string>{104,102}</string>
<key>textureRect</key>
<string>{{107,106},{104,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>LingWan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>LingWan.png</string>
</dict>
</dict>
</plist>