<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>MoWan_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{112,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{594,346},{112,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{114,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{735,2},{114,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{116,135}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{476,274},{116,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{118,131}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{727,466},{118,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{476,540},{116,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{120,125}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{594,580},{120,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{118,119}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{836,592},{118,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-4}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{478,669},{114,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{118,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{122,141},{118,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{116,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{360,2},{116,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{112,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{735,232},{112,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{114,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{596,2},{114,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{116,135}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{358,280},{116,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{118,131}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{594,460},{118,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{476,411},{116,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{120,125}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{356,671},{120,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{118,119}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{715,707},{118,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-4}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{118,679},{114,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{118,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,280},{118,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{116,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{242,141},{116,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{112,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{596,232},{112,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{114,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{360,141},{114,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{116,135}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{478,2},{116,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{118,131}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{866,356},{118,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{874,238},{116,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{120,125}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{234,681},{120,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{118,119}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{594,707},{118,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-4}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{238,550},{114,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{118,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{122,2},{118,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_3_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{116,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{122,280},{116,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{112,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{735,118},{112,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{114,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,697},{114,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{116,135}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{240,280},{116,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{118,131}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{733,346},{118,131}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{874,120},{116,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{120,125}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{354,544},{120,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{118,119}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{716,586},{118,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-4}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{238,419},{114,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{118,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,141},{118,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{116,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,419},{116,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{112,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{596,118},{112,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{114,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,558},{114,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{116,135}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{120,419},{116,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{118,131}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{476,141},{118,131}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{116,127}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{874,2},{116,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-6}</string>
<key>spriteSize</key>
<string>{120,125}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{354,417},{120,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-9}</string>
<key>spriteSize</key>
<string>{118,119}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{118,558},{118,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-4}</string>
<key>spriteSize</key>
<string>{114,129}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{860,476},{114,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>MoWan_5_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,0}</string>
<key>spriteSize</key>
<string>{118,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{2,2},{118,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>MoWan_5_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{116,137}</string>
<key>spriteSourceSize</key>
<string>{134,137}</string>
<key>textureRect</key>
<string>{{242,2},{116,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>MoWan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>MoWan.png</string>
</dict>
</dict>
</plist>