<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XY_MoWan1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{142,826},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{138,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,826},{138,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{874,695},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{868,834},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{722,834},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{294,133},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{144,129}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{586,2},{144,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{576,834},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{430,828},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,687},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{138,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{874,556},{138,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{732,556},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{284,826},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{728,695},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{148,133},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{144,129}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{440,2},{144,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{582,695},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{436,689},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{290,687},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{868,417},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{138,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{728,417},{138,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{586,417},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{144,687},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{586,556},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,133},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{144,129}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{294,2},{144,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{440,550},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{294,548},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan3_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{148,548},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{722,278},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{138,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{582,272},{138,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{440,272},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,548},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{440,411},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{878,2},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{144,129}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{148,2},{144,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{294,409},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{148,409},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,409},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{722,139},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{138,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{582,133},{138,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{140,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{440,133},{140,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{864,278},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{294,270},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{144,135}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{732,2},{144,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{144,129}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,2},{144,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{148,270},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{2,270},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XY_MoWan5_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{144,137}</string>
<key>spriteSourceSize</key>
<string>{144,137}</string>
<key>textureRect</key>
<string>{{864,139},{144,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XY_MoWan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XY_MoWan.png</string>
</dict>
</dict>
</plist>