<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Buff_zengjianuqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-54}</string>
<key>spriteSize</key>
<string>{106,85}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{372,350},{106,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-20}</string>
<key>spriteSize</key>
<string>{180,167}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{2,183},{180,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{180,179}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{2,2},{180,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{170,175}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{184,2},{170,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-19}</string>
<key>spriteSize</key>
<string>{164,169}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{184,179},{164,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-19}</string>
<key>spriteSize</key>
<string>{148,169}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{350,179},{148,169}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-16}</string>
<key>spriteSize</key>
<string>{138,175}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{356,2},{138,175}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Buff_zengjianuqi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{138,183}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{187,350},{138,183}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Buff_zengjianuqi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-12}</string>
<key>spriteSize</key>
<string>{126,183}</string>
<key>spriteSourceSize</key>
<string>{212,207}</string>
<key>textureRect</key>
<string>{{2,352},{126,183}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zengjianuqi.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zengjianuqi.png</string>
</dict>
</dict>
</plist>