<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8003_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,60}</string>
<key>spriteSize</key>
<string>{162,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{162,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{132,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,164},{132,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{92,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,132},{92,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{92,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,100},{92,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{122,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,166},{122,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,55}</string>
<key>spriteSize</key>
<string>{118,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,290},{118,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{96,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,2},{96,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{96,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,2},{96,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{128,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,2},{128,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,62}</string>
<key>spriteSize</key>
<string>{132,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,226},{132,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{154,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,258},{154,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{134,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,194},{134,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,56}</string>
<key>spriteSize</key>
<string>{110,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,2},{110,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,56}</string>
<key>spriteSize</key>
<string>{110,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,410},{110,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{126,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,298},{126,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,58}</string>
<key>spriteSize</key>
<string>{134,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,330},{134,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,60}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,522},{128,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,62}</string>
<key>spriteSize</key>
<string>{136,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,426},{136,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,64}</string>
<key>spriteSize</key>
<string>{130,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,1134},{130,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,63}</string>
<key>spriteSize</key>
<string>{130,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,928},{130,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,61}</string>
<key>spriteSize</key>
<string>{150,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,480},{150,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,60}</string>
<key>spriteSize</key>
<string>{142,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,906},{142,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,60}</string>
<key>spriteSize</key>
<string>{120,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,1050},{120,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,60}</string>
<key>spriteSize</key>
<string>{116,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,1050},{116,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,61}</string>
<key>spriteSize</key>
<string>{140,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,1030},{140,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,62}</string>
<key>spriteSize</key>
<string>{156,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,636},{156,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,64}</string>
<key>spriteSize</key>
<string>{142,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,1266},{142,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,67}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{228,1796},{120,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,65}</string>
<key>spriteSize</key>
<string>{98,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,1652},{98,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{98,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{350,1790},{98,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{128,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,1550},{128,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,59}</string>
<key>spriteSize</key>
<string>{122,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,1544},{122,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,59}</string>
<key>spriteSize</key>
<string>{100,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,1448},{100,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,61}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,1680},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,64}</string>
<key>spriteSize</key>
<string>{126,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,1818},{126,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,65}</string>
<key>spriteSize</key>
<string>{156,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,706},{156,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{160,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,652},{160,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,65}</string>
<key>spriteSize</key>
<string>{132,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1662},{132,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,63}</string>
<key>spriteSize</key>
<string>{92,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1952},{92,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{92,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,1442},{92,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{122,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,1520},{122,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,57}</string>
<key>spriteSize</key>
<string>{118,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1576},{118,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{96,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1818},{96,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,63}</string>
<key>spriteSize</key>
<string>{96,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1950},{96,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,65}</string>
<key>spriteSize</key>
<string>{128,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,1782},{128,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{158,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,466},{158,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{154,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,750},{154,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{154,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,840},{154,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,60}</string>
<key>spriteSize</key>
<string>{148,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,1060},{148,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,61}</string>
<key>spriteSize</key>
<string>{150,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,990},{150,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,62}</string>
<key>spriteSize</key>
<string>{140,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1434},{140,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,61}</string>
<key>spriteSize</key>
<string>{152,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,778},{152,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,63}</string>
<key>spriteSize</key>
<string>{152,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,360},{152,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,63}</string>
<key>spriteSize</key>
<string>{156,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,100},{156,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,66}</string>
<key>spriteSize</key>
<string>{160,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,2},{160,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,54}</string>
<key>spriteSize</key>
<string>{154,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,774},{154,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,58}</string>
<key>spriteSize</key>
<string>{156,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,638},{156,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,61}</string>
<key>spriteSize</key>
<string>{148,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1302},{148,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,63}</string>
<key>spriteSize</key>
<string>{126,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,1668},{126,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,61}</string>
<key>spriteSize</key>
<string>{118,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,1274},{118,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,60}</string>
<key>spriteSize</key>
<string>{122,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,1412},{122,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,61}</string>
<key>spriteSize</key>
<string>{142,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,1172},{142,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,64}</string>
<key>spriteSize</key>
<string>{146,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,626},{146,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{140,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,564},{140,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,72}</string>
<key>spriteSize</key>
<string>{130,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,414},{130,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,58}</string>
<key>spriteSize</key>
<string>{140,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,1322},{140,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,59}</string>
<key>spriteSize</key>
<string>{154,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{908,176},{154,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,60}</string>
<key>spriteSize</key>
<string>{154,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,786},{154,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,59}</string>
<key>spriteSize</key>
<string>{156,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,780},{156,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,58}</string>
<key>spriteSize</key>
<string>{162,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,514},{162,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,59}</string>
<key>spriteSize</key>
<string>{140,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,1314},{140,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,62}</string>
<key>spriteSize</key>
<string>{144,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,1410},{144,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,66}</string>
<key>spriteSize</key>
<string>{146,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,1172},{146,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{152,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,904},{152,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,72}</string>
<key>spriteSize</key>
<string>{142,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1034},{142,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{132,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{712,1644},{132,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,55}</string>
<key>spriteSize</key>
<string>{132,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,1668},{132,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{124,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1922},{124,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,57}</string>
<key>spriteSize</key>
<string>{130,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,1928},{130,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{140,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,1418},{140,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,61}</string>
<key>spriteSize</key>
<string>{136,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,1536},{136,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,62}</string>
<key>spriteSize</key>
<string>{132,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1696},{132,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,64}</string>
<key>spriteSize</key>
<string>{132,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,1536},{132,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,67}</string>
<key>spriteSize</key>
<string>{142,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,1274},{142,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,73}</string>
<key>spriteSize</key>
<string>{134,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,1528},{134,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{156,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,646},{156,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,54}</string>
<key>spriteSize</key>
<string>{158,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,546},{158,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{152,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,932},{152,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,55}</string>
<key>spriteSize</key>
<string>{146,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,1316},{146,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{148,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,1168},{148,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,62}</string>
<key>spriteSize</key>
<string>{138,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{746,1404},{138,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,62}</string>
<key>spriteSize</key>
<string>{146,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,1204},{146,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,64}</string>
<key>spriteSize</key>
<string>{146,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,332},{146,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,66}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1178},{150,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,70}</string>
<key>spriteSize</key>
<string>{154,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,902},{154,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8003.png</string>
</dict>
</dict>
</plist>