<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>rulai_fuwen_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{146,124}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{2,687},{146,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{148,124}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{312,585},{148,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{150,122}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{2,563},{150,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{156,120}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{210,321},{156,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{156,120}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{2,317},{156,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{154,122}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{2,439},{154,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-5}</string>
<key>spriteSize</key>
<string>{158,126}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{2,189},{158,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{156,128}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{210,191},{156,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{152,132}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{158,553},{152,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_fuwen_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{152,132}</string>
<key>spriteSourceSize</key>
<string>{220,176}</string>
<key>textureRect</key>
<string>{{314,451},{152,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_guangquan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,2}</string>
<key>spriteSize</key>
<string>{109,97}</string>
<key>spriteSourceSize</key>
<string>{113,113}</string>
<key>textureRect</key>
<string>{{403,96},{109,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_guangxian_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{233,92}</string>
<key>spriteSourceSize</key>
<string>{233,94}</string>
<key>textureRect</key>
<string>{{240,2},{233,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_jizhong_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{138,121}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{368,207},{138,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_jizhong_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,121}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{2,813},{136,121}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_jizhong_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{138,119}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{150,687},{138,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_jizhong_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{138,119}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{368,330},{138,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_jizhong_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,119}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{246,808},{136,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_jizhong_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{136,119}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{125,813},{136,119}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_jizhong_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{132,119}</string>
<key>spriteSourceSize</key>
<string>{172,149}</string>
<key>textureRect</key>
<string>{{367,842},{132,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_shitou1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-2}</string>
<key>spriteSize</key>
<string>{46,109}</string>
<key>spriteSourceSize</key>
<string>{86,113}</string>
<key>textureRect</key>
<string>{{162,189},{46,109}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_shitou1_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,129}</string>
<key>spriteSourceSize</key>
<string>{86,129}</string>
<key>textureRect</key>
<string>{{421,711},{86,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_shitou2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-11}</string>
<key>spriteSize</key>
<string>{46,91}</string>
<key>spriteSourceSize</key>
<string>{86,129}</string>
<key>textureRect</key>
<string>{{162,300},{46,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>rulai_shitou2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{86,129}</string>
<key>spriteSourceSize</key>
<string>{86,129}</string>
<key>textureRect</key>
<string>{{290,711},{86,129}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_shitou3_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{93,161}</string>
<key>spriteSourceSize</key>
<string>{119,169}</string>
<key>textureRect</key>
<string>{{240,96},{93,161}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_shitou4_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{185,236}</string>
<key>spriteSourceSize</key>
<string>{197,242}</string>
<key>textureRect</key>
<string>{{2,2},{185,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>rulai_shouzhang_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{108,154}</string>
<key>spriteSourceSize</key>
<string>{108,156}</string>
<key>textureRect</key>
<string>{{158,443},{108,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8003_skill_3.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8003_skill_3.png</string>
</dict>
</dict>
</plist>