<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8003_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,72}</string>
<key>spriteSize</key>
<string>{120,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,714},{120,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,37}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,910},{106,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,5}</string>
<key>spriteSize</key>
<string>{156,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,2},{156,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{136,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,724},{136,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-54,51}</string>
<key>spriteSize</key>
<string>{114,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,480},{114,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,52}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,130},{108,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{114,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,2},{114,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,84},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,54}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,2},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,54}</string>
<key>spriteSize</key>
<string>{104,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,262},{104,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{104,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{620,240},{104,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{112,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,228},{112,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{126,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,2},{126,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,55}</string>
<key>spriteSize</key>
<string>{124,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,268},{124,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,57}</string>
<key>spriteSize</key>
<string>{126,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,214},{126,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,52}</string>
<key>spriteSize</key>
<string>{138,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,394},{138,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,54}</string>
<key>spriteSize</key>
<string>{142,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{142,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,56}</string>
<key>spriteSize</key>
<string>{132,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,858},{132,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,57}</string>
<key>spriteSize</key>
<string>{116,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,910},{116,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,57}</string>
<key>spriteSize</key>
<string>{114,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,654},{114,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,58}</string>
<key>spriteSize</key>
<string>{114,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,838},{114,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,61}</string>
<key>spriteSize</key>
<string>{130,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,778},{130,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,63}</string>
<key>spriteSize</key>
<string>{132,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,724},{132,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,65}</string>
<key>spriteSize</key>
<string>{130,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,646},{130,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,68}</string>
<key>spriteSize</key>
<string>{124,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,520},{124,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,58}</string>
<key>spriteSize</key>
<string>{108,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,118},{108,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,64}</string>
<key>spriteSize</key>
<string>{116,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,606},{116,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,59}</string>
<key>spriteSize</key>
<string>{118,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,342},{118,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,52}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,862},{112,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{160,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,2},{160,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,60}</string>
<key>spriteSize</key>
<string>{126,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,456},{126,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,59}</string>
<key>spriteSize</key>
<string>{140,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,262},{140,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,57}</string>
<key>spriteSize</key>
<string>{120,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,484},{120,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,58}</string>
<key>spriteSize</key>
<string>{116,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{764,342},{116,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{162,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{162,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{128,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,132},{128,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,82}</string>
<key>spriteSize</key>
<string>{114,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,146},{114,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,81}</string>
<key>spriteSize</key>
<string>{104,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{226,858},{104,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{108,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,534},{108,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,75}</string>
<key>spriteSize</key>
<string>{108,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,584},{108,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8003_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,80}</string>
<key>spriteSize</key>
<string>{112,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,346},{112,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,76}</string>
<key>spriteSize</key>
<string>{130,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,402},{130,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,63}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,342},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8003_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,58}</string>
<key>spriteSize</key>
<string>{122,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,144},{122,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8003.png</string>
</dict>
</dict>
</plist>