<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9011_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,33}</string>
<key>spriteSize</key>
<string>{72,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,660},{72,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,28}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{438,358},{72,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{72,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{112,734},{72,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,93}</string>
<key>spriteSize</key>
<string>{62,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{342,688},{62,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,93}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,468},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,74}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,490},{82,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{58,132}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{144,256},{58,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,928},{72,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{72,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{224,718},{72,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,29}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,612},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,27}</string>
<key>spriteSize</key>
<string>{72,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{232,644},{72,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,44}</string>
<key>spriteSize</key>
<string>{72,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{438,244},{72,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,85}</string>
<key>spriteSize</key>
<string>{88,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{238,554},{88,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,95}</string>
<key>spriteSize</key>
<string>{124,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,352},{124,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,76}</string>
<key>spriteSize</key>
<string>{146,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{322,134},{146,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,36}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{398,472},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,24}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,756},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{70,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,684},{70,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{78,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,792},{78,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,17}</string>
<key>spriteSize</key>
<string>{88,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{416,928},{88,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,27}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{118,574},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,60}</string>
<key>spriteSize</key>
<string>{94,124}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{272,378},{94,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,73}</string>
<key>spriteSize</key>
<string>{140,138}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,212},{140,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,77}</string>
<key>spriteSize</key>
<string>{162,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{162,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,31}</string>
<key>spriteSize</key>
<string>{144,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{156,162},{144,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,17}</string>
<key>spriteSize</key>
<string>{80,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{430,752},{80,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,22}</string>
<key>spriteSize</key>
<string>{80,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{330,752},{80,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,23}</string>
<key>spriteSize</key>
<string>{70,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{318,910},{70,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,20}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{418,848},{78,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,28}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{250,474},{78,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,50}</string>
<key>spriteSize</key>
<string>{92,152}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,118},{92,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,58}</string>
<key>spriteSize</key>
<string>{130,154}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{326,2},{130,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,71}</string>
<key>spriteSize</key>
<string>{134,132}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{302,244},{134,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,45}</string>
<key>spriteSize</key>
<string>{108,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{352,586},{108,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,18}</string>
<key>spriteSize</key>
<string>{70,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,832},{70,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{66,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{74,832},{66,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,30}</string>
<key>spriteSize</key>
<string>{72,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,872},{72,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,24}</string>
<key>spriteSize</key>
<string>{74,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{142,906},{74,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{128,414},{74,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,53}</string>
<key>spriteSize</key>
<string>{66,158}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{166,2},{66,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,67}</string>
<key>spriteSize</key>
<string>{90,154}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{166,70},{90,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,72}</string>
<key>spriteSize</key>
<string>{96,126}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{144,316},{96,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,41}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,550},{60,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9011_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{74,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{142,808},{74,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9011_run_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,29}</string>
<key>spriteSize</key>
<string>{74,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{318,834},{74,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9011_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9011_run.png</string>
</dict>
</dict>
</plist>