<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6005_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,340},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,53}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,456},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,53}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,568},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,52}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,226},{54,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,456},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,2},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{56,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,114},{56,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,680},{56,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{60,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,2},{60,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{58,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,2},{58,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{58,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,116},{58,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,230},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{58,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,228},{58,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{58,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,2},{58,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{60,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,114},{60,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,344},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,586},{60,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,582},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,702},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,52}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,818},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{358,466},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,470},{60,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{62,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,698},{62,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{60,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,812},{60,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,54}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,586},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,54}</string>
<key>spriteSize</key>
<string>{56,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,120},{56,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,53}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,488},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,368},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{56,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,494},{56,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{58,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,856},{58,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,828},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,702},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,54}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,710},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,54}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,492},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{64,248},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{56,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,372},{56,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{56,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{64,2},{56,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{56,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{60,372},{56,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,592},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,474},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,2},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,51}</string>
<key>spriteSize</key>
<string>{56,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,344},{56,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{54,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{494,568},{54,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,52}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,234},{60,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{66,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,726},{66,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,53}</string>
<key>spriteSize</key>
<string>{66,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,608},{66,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{64,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,118},{64,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{58,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,230},{58,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,52}</string>
<key>spriteSize</key>
<string>{58,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,116},{58,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{62,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,932},{62,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,53}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,350},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,52}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,738},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,53}</string>
<key>spriteSize</key>
<string>{72,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,946},{72,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,54}</string>
<key>spriteSize</key>
<string>{66,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,818},{66,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{64,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,2},{64,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,54}</string>
<key>spriteSize</key>
<string>{58,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{298,470},{58,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{60,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,116},{60,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,55}</string>
<key>spriteSize</key>
<string>{68,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{186,238},{68,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,53}</string>
<key>spriteSize</key>
<string>{68,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{56,616},{68,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,55}</string>
<key>spriteSize</key>
<string>{62,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,238},{62,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{60,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,962},{60,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{58,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{62,126},{58,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{62,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,736},{62,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{62,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,354},{62,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,55}</string>
<key>spriteSize</key>
<string>{62,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,120},{62,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,56}</string>
<key>spriteSize</key>
<string>{64,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,844},{64,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,57}</string>
<key>spriteSize</key>
<string>{54,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,2},{54,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,56}</string>
<key>spriteSize</key>
<string>{58,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,356},{58,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,250},{60,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{58,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,49}</string>
<key>spriteSize</key>
<string>{52,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,616},{52,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,54}</string>
<key>spriteSize</key>
<string>{60,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{60,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,57}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{68,858},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,858},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{64,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,2},{64,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6005.png</string>
</dict>
</dict>
</plist>