<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6005_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,41}</string>
<key>spriteSize</key>
<string>{94,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{206,504},{94,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,19}</string>
<key>spriteSize</key>
<string>{118,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,2},{118,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,9}</string>
<key>spriteSize</key>
<string>{146,54}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{146,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,36}</string>
<key>spriteSize</key>
<string>{80,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,544},{80,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{66,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,436},{66,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,37}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,386},{86,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,134},{58,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{224,138},{56,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,194},{54,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{54,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,164},{54,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,49}</string>
<key>spriteSize</key>
<string>{56,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,370},{56,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{56,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,342},{56,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,50}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,310},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,220},{60,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,104},{58,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,50}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,60},{56,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,48}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{218,196},{60,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,2},{56,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,50}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,58},{74,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,50}</string>
<key>spriteSize</key>
<string>{68,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,2},{68,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,51}</string>
<key>spriteSize</key>
<string>{64,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,72},{64,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,118},{60,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,47}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{332,180},{60,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,46}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,282},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,46}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,302},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,46}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,258},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,46}</string>
<key>spriteSize</key>
<string>{58,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,376},{58,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,242},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{56,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,318},{56,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{56,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,422},{56,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{54,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,400},{54,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,48}</string>
<key>spriteSize</key>
<string>{58,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,362},{58,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{58,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,456},{58,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,45}</string>
<key>spriteSize</key>
<string>{58,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,428},{58,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,42}</string>
<key>spriteSize</key>
<string>{62,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,480},{62,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,61}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,250},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,59}</string>
<key>spriteSize</key>
<string>{68,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,180},{68,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,56}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,484},{82,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{86,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,582},{86,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,59}</string>
<key>spriteSize</key>
<string>{94,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,516},{94,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6005_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,59}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{92,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6005_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{80,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,282},{80,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6005.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6005.png</string>
</dict>
</dict>
</plist>