<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8009_huozhu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,35}</string>
<key>spriteSize</key>
<string>{184,180}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{2,734},{184,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_huozhu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{180,246}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{250,378},{180,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{186,246}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{2,378},{186,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{186,248}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{2,2},{186,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{186,246}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{250,190},{186,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{186,246}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{2,190},{186,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{186,246}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{252,2},{186,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,9}</string>
<key>spriteSize</key>
<string>{186,232}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{250,560},{186,232}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huozhu_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,10}</string>
<key>spriteSize</key>
<string>{166,212}</string>
<key>spriteSourceSize</key>
<string>{310,414}</string>
<key>textureRect</key>
<string>{{2,566},{166,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8009_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8009_skills_2.png</string>
</dict>
</dict>
</plist>