<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8009_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{152,152}</string>
<key>spriteSourceSize</key>
<string>{960,540}</string>
<key>textureRect</key>
<string>{{174,869},{152,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{162,170}</string>
<key>spriteSourceSize</key>
<string>{960,540}</string>
<key>textureRect</key>
<string>{{2,735},{162,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_baokai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{178,180}</string>
<key>spriteSourceSize</key>
<string>{960,540}</string>
<key>textureRect</key>
<string>{{2,555},{178,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_baokai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{184,184}</string>
<key>spriteSourceSize</key>
<string>{960,540}</string>
<key>textureRect</key>
<string>{{207,402},{184,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_guangyun_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{62,63}</string>
<key>spriteSourceSize</key>
<string>{78,85}</string>
<key>textureRect</key>
<string>{{2,899},{62,63}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_guangyun_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{62,63}</string>
<key>spriteSourceSize</key>
<string>{78,85}</string>
<key>textureRect</key>
<string>{{434,341},{62,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-35}</string>
<key>spriteSize</key>
<string>{58,108}</string>
<key>spriteSourceSize</key>
<string>{750,750}</string>
<key>textureRect</key>
<string>{{393,405},{58,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huoyan_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{80,170}</string>
<key>spriteSourceSize</key>
<string>{750,750}</string>
<key>textureRect</key>
<string>{{174,747},{80,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huoyan_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{80,162}</string>
<key>spriteSourceSize</key>
<string>{750,750}</string>
<key>textureRect</key>
<string>{{346,787},{80,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_huoyan_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{68,134}</string>
<key>spriteSourceSize</key>
<string>{750,750}</string>
<key>textureRect</key>
<string>{{434,205},{68,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_huoyan_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{48,106}</string>
<key>spriteSourceSize</key>
<string>{750,750}</string>
<key>textureRect</key>
<string>{{393,465},{48,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_shifa_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-77,33}</string>
<key>spriteSize</key>
<string>{93,127}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{393,515},{93,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,0}</string>
<key>spriteSize</key>
<string>{195,203}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{229,205},{195,203}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_shifa_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-10}</string>
<key>spriteSize</key>
<string>{231,201}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{241,2},{231,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-18}</string>
<key>spriteSize</key>
<string>{237,191}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{2,2},{237,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-26}</string>
<key>spriteSize</key>
<string>{225,179}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{2,195},{225,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-22}</string>
<key>spriteSize</key>
<string>{203,177}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{2,376},{203,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-32}</string>
<key>spriteSize</key>
<string>{173,157}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{184,588},{173,157}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_shifa_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,-28}</string>
<key>spriteSize</key>
<string>{151,141}</string>
<key>spriteSourceSize</key>
<string>{503,395}</string>
<key>textureRect</key>
<string>{{359,644},{151,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8009_skills_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8009_skills_1.png</string>
</dict>
</dict>
</plist>