<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8009_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,52}</string>
<key>spriteSize</key>
<string>{112,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,1394},{112,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,52}</string>
<key>spriteSize</key>
<string>{110,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,1462},{110,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,52}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1480},{108,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,52}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,1282},{110,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,51}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1268},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,50}</string>
<key>spriteSize</key>
<string>{110,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1240},{110,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,51}</string>
<key>spriteSize</key>
<string>{112,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,1168},{112,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,51}</string>
<key>spriteSize</key>
<string>{114,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,1122},{114,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{114,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{890,1142},{114,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,1348},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,1330},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,52}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,1320},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,44}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,586},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,45}</string>
<key>spriteSize</key>
<string>{86,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,442},{86,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,754},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,712},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{86,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{882,382},{86,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{84,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,568},{84,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,43}</string>
<key>spriteSize</key>
<string>{84,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,526},{84,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,44}</string>
<key>spriteSize</key>
<string>{86,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,458},{86,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,652},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,45}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,576},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,45}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,572},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,44}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{708,530},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,264},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,400},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,352},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,278},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,42}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,270},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,260},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,322},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,274},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{78,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,190},{78,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,42}</string>
<key>spriteSize</key>
<string>{78,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,180},{78,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,41}</string>
<key>spriteSize</key>
<string>{78,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,110},{78,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,41}</string>
<key>spriteSize</key>
<string>{76,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,200},{76,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,904},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{102,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,944},{102,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,44}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,736},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,674},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,654},{98,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,43}</string>
<key>spriteSize</key>
<string>{98,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,612},{98,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,42}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,842},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{102,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,800},{102,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,43}</string>
<key>spriteSize</key>
<string>{102,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,740},{102,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,844},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,44}</string>
<key>spriteSize</key>
<string>{106,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,1010},{106,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,44}</string>
<key>spriteSize</key>
<string>{104,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1048},{104,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{112,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,1006},{112,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{268,950},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{110,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,776},{110,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,40}</string>
<key>spriteSize</key>
<string>{110,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,664},{110,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,464},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,39}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,458},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,38}</string>
<key>spriteSize</key>
<string>{114,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{882,470},{114,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,38}</string>
<key>spriteSize</key>
<string>{114,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,660},{114,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{116,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,618},{116,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_57.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,40}</string>
<key>spriteSize</key>
<string>{116,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,776},{116,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_58.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,41}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,888},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_A_59.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,41}</string>
<key>spriteSize</key>
<string>{114,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,904},{114,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,51}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,1422},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{98,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,900},{98,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,53}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,1238},{80,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,78}</string>
<key>spriteSize</key>
<string>{80,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,154},{80,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,64}</string>
<key>spriteSize</key>
<string>{100,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,356},{100,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,49}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,1058},{62,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,52}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,1344},{76,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,53}</string>
<key>spriteSize</key>
<string>{90,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{932,264},{90,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{120,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,1020},{120,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,53}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1352},{108,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{98,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{670,838},{98,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,52}</string>
<key>spriteSize</key>
<string>{106,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,1436},{106,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,51}</string>
<key>spriteSize</key>
<string>{114,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1120},{114,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,71}</string>
<key>spriteSize</key>
<string>{78,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,2},{78,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,56}</string>
<key>spriteSize</key>
<string>{104,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,546},{104,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,53}</string>
<key>spriteSize</key>
<string>{112,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,1374},{112,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,53}</string>
<key>spriteSize</key>
<string>{124,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1154},{124,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,1258},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,52}</string>
<key>spriteSize</key>
<string>{120,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,938},{120,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{102,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,1064},{102,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,40}</string>
<key>spriteSize</key>
<string>{84,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,236},{84,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,47}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,1138},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,44}</string>
<key>spriteSize</key>
<string>{126,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,776},{126,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,62}</string>
<key>spriteSize</key>
<string>{72,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,2},{72,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,48}</string>
<key>spriteSize</key>
<string>{118,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,338},{118,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,49}</string>
<key>spriteSize</key>
<string>{148,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,158},{148,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,50}</string>
<key>spriteSize</key>
<string>{156,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,82},{156,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{120,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1118},{120,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,39}</string>
<key>spriteSize</key>
<string>{76,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,94},{76,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,38}</string>
<key>spriteSize</key>
<string>{74,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,104},{74,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,42}</string>
<key>spriteSize</key>
<string>{94,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,430},{94,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{92,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,1018},{92,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,51}</string>
<key>spriteSize</key>
<string>{106,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,2},{106,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,58}</string>
<key>spriteSize</key>
<string>{68,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{68,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{98,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,342},{98,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,44}</string>
<key>spriteSize</key>
<string>{116,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,1022},{116,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,48}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,1112},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,59}</string>
<key>spriteSize</key>
<string>{88,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,478},{88,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,34}</string>
<key>spriteSize</key>
<string>{90,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,172},{90,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{114,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,348},{114,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,50}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,1230},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{98,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1380},{98,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,56}</string>
<key>spriteSize</key>
<string>{80,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,76},{80,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,63}</string>
<key>spriteSize</key>
<string>{80,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,72},{80,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,46}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,2},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{62,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,776},{62,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,50}</string>
<key>spriteSize</key>
<string>{76,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,1252},{76,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,57}</string>
<key>spriteSize</key>
<string>{90,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,2},{90,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8009_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,41}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{800,894},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8009_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,44}</string>
<key>spriteSize</key>
<string>{110,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,1236},{110,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8009.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8009.png</string>
</dict>
</dict>
</plist>