<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6012_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,470},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,424},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,598},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,508},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,500},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,420},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,718},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,628},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,620},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,52}</string>
<key>spriteSize</key>
<string>{132,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,540},{132,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{74,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,812},{74,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,894},{76,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,888},{76,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,830},{76,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,792},{76,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,780},{76,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,56}</string>
<key>spriteSize</key>
<string>{76,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{946,646},{76,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{76,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,714},{76,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,57}</string>
<key>spriteSize</key>
<string>{74,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,754},{74,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{76,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,640},{76,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,58}</string>
<key>spriteSize</key>
<string>{62,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,838},{62,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,58}</string>
<key>spriteSize</key>
<string>{62,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,830},{62,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,58}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,718},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,58}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,708},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,58}</string>
<key>spriteSize</key>
<string>{60,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,646},{60,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,56}</string>
<key>spriteSize</key>
<string>{60,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,934},{60,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,57}</string>
<key>spriteSize</key>
<string>{62,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,870},{62,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{62,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,858},{62,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{64,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,968},{64,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,57}</string>
<key>spriteSize</key>
<string>{64,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,902},{64,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{652,922},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,862},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,52}</string>
<key>spriteSize</key>
<string>{122,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1154},{122,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,52}</string>
<key>spriteSize</key>
<string>{122,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1092},{122,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,52}</string>
<key>spriteSize</key>
<string>{122,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,1086},{122,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1034},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,972},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{122,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,1028},{122,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,966},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,53}</string>
<key>spriteSize</key>
<string>{124,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,908},{124,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,46}</string>
<key>spriteSize</key>
<string>{140,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,292},{140,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,316},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{140,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,284},{140,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{140,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,202},{140,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,490},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,400},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,46}</string>
<key>spriteSize</key>
<string>{138,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,392},{138,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,310},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{612,270},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,47}</string>
<key>spriteSize</key>
<string>{138,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,206},{138,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,44}</string>
<key>spriteSize</key>
<string>{132,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{706,544},{132,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,73}</string>
<key>spriteSize</key>
<string>{72,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,94},{72,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,43}</string>
<key>spriteSize</key>
<string>{140,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,394},{140,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,42}</string>
<key>spriteSize</key>
<string>{154,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,110},{154,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,33}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,590},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,38}</string>
<key>spriteSize</key>
<string>{108,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,1204},{108,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,41}</string>
<key>spriteSize</key>
<string>{126,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,770},{126,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,58}</string>
<key>spriteSize</key>
<string>{92,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,660},{92,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-60,43}</string>
<key>spriteSize</key>
<string>{166,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,2},{166,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,72}</string>
<key>spriteSize</key>
<string>{72,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,196},{72,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,48}</string>
<key>spriteSize</key>
<string>{80,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1210},{80,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{136,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,380},{136,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,29}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,740},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,42}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{932,774},{90,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,44}</string>
<key>spriteSize</key>
<string>{104,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,970},{104,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,59}</string>
<key>spriteSize</key>
<string>{80,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,748},{80,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,39}</string>
<key>spriteSize</key>
<string>{140,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,294},{140,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,61}</string>
<key>spriteSize</key>
<string>{114,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,168},{114,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,43}</string>
<key>spriteSize</key>
<string>{78,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{944,206},{78,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,36}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{944,312},{78,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,38}</string>
<key>spriteSize</key>
<string>{156,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,2},{156,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,40}</string>
<key>spriteSize</key>
<string>{112,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{644,1042},{112,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,42}</string>
<key>spriteSize</key>
<string>{104,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,868},{104,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{86,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,204},{86,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{70,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1272},{70,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,49}</string>
<key>spriteSize</key>
<string>{130,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{892,406},{130,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,32}</string>
<key>spriteSize</key>
<string>{150,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,98},{150,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,37}</string>
<key>spriteSize</key>
<string>{108,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,1148},{108,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,38}</string>
<key>spriteSize</key>
<string>{168,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{168,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,37}</string>
<key>spriteSize</key>
<string>{148,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,188},{148,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,40}</string>
<key>spriteSize</key>
<string>{150,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{172,96},{150,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,60}</string>
<key>spriteSize</key>
<string>{76,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,2},{76,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,38}</string>
<key>spriteSize</key>
<string>{152,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,94},{152,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,43}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{778,982},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,33}</string>
<key>spriteSize</key>
<string>{158,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,2},{158,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,33}</string>
<key>spriteSize</key>
<string>{154,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,80},{154,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,39}</string>
<key>spriteSize</key>
<string>{112,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,1118},{112,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,29}</string>
<key>spriteSize</key>
<string>{122,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,996},{122,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,40}</string>
<key>spriteSize</key>
<string>{132,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{852,536},{132,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,65}</string>
<key>spriteSize</key>
<string>{90,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,2},{90,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6012.png</string>
</dict>
</dict>
</plist>