<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_5003_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{170,198}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{2,300},{170,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{178,198}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{658,288},{178,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{180,192}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{202,468},{180,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{176,194}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{404,458},{176,194}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{176,198}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{204,290},{176,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{176,200}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{2,122},{176,200}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{176,202}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{454,112},{176,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-5}</string>
<key>spriteSize</key>
<string>{176,204}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{674,110},{176,204}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{170,202}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{228,118},{170,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{166,198}</string>
<key>spriteSourceSize</key>
<string>{300,360}</string>
<key>textureRect</key>
<string>{{404,290},{166,198}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{128,56}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{890,2},{128,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5003_skill_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-10}</string>
<key>spriteSize</key>
<string>{208,102}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{890,60},{208,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_5003_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-11}</string>
<key>spriteSize</key>
<string>{214,106}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{674,2},{214,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5003_skill_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-12}</string>
<key>spriteSize</key>
<string>{218,108}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{454,2},{218,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5003_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-15}</string>
<key>spriteSize</key>
<string>{224,114}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{228,2},{224,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5003_skill_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-15}</string>
<key>spriteSize</key>
<string>{224,118}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{2,2},{224,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_5003_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{194,82}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{880,270},{194,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5003_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5003_skill_2.png</string>
</dict>
</dict>
</plist>