<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6012_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,35}</string>
<key>spriteSize</key>
<string>{98,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,534},{98,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,33}</string>
<key>spriteSize</key>
<string>{144,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,2},{144,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{70,-1}</string>
<key>spriteSize</key>
<string>{152,48}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,2},{152,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,60}</string>
<key>spriteSize</key>
<string>{62,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,188},{62,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,54}</string>
<key>spriteSize</key>
<string>{68,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,246},{68,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,45}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,634},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{116,510},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,480},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,448},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,502},{54,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{54,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,562},{54,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,52}</string>
<key>spriteSize</key>
<string>{54,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,2},{54,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,426},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,394},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,340},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,52}</string>
<key>spriteSize</key>
<string>{52,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,508},{52,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,41}</string>
<key>spriteSize</key>
<string>{152,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{152,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,63}</string>
<key>spriteSize</key>
<string>{80,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,74},{80,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,40}</string>
<key>spriteSize</key>
<string>{68,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,720},{68,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,38}</string>
<key>spriteSize</key>
<string>{114,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,420},{114,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,34}</string>
<key>spriteSize</key>
<string>{82,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,558},{82,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,39}</string>
<key>spriteSize</key>
<string>{80,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,658},{80,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,40}</string>
<key>spriteSize</key>
<string>{88,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,660},{88,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,58}</string>
<key>spriteSize</key>
<string>{70,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,116},{70,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,26}</string>
<key>spriteSize</key>
<string>{88,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,146},{88,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,43}</string>
<key>spriteSize</key>
<string>{106,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,564},{106,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,43}</string>
<key>spriteSize</key>
<string>{118,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,324},{118,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,30}</string>
<key>spriteSize</key>
<string>{88,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,156},{88,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,30}</string>
<key>spriteSize</key>
<string>{104,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,404},{104,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,45}</string>
<key>spriteSize</key>
<string>{140,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,92},{140,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{58,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,558},{58,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,31}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,316},{108,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{52,44}</string>
<key>spriteSize</key>
<string>{142,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,52},{142,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,42}</string>
<key>spriteSize</key>
<string>{118,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,306},{118,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,56}</string>
<key>spriteSize</key>
<string>{68,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,236},{68,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,38}</string>
<key>spriteSize</key>
<string>{106,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,242},{106,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,39}</string>
<key>spriteSize</key>
<string>{80,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,642},{80,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6012_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,33}</string>
<key>spriteSize</key>
<string>{104,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,618},{104,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6012_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{70,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,252},{70,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6012.png</string>
</dict>
</dict>
</plist>