<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9002_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,102}</string>
<key>spriteSize</key>
<string>{220,224}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1576},{220,224}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9002_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,46}</string>
<key>spriteSize</key>
<string>{292,134}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,698},{292,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,-8}</string>
<key>spriteSize</key>
<string>{326,178}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{342,238},{326,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,107}</string>
<key>spriteSize</key>
<string>{224,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1350},{224,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9002_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,106}</string>
<key>spriteSize</key>
<string>{202,246}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{806,1098},{202,246}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,101}</string>
<key>spriteSize</key>
<string>{216,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{806,860},{216,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,112}</string>
<key>spriteSize</key>
<string>{262,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{268,1340},{262,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,110}</string>
<key>spriteSize</key>
<string>{264,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{538,1110},{264,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,108}</string>
<key>spriteSize</key>
<string>{266,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{270,1090},{266,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,108}</string>
<key>spriteSize</key>
<string>{266,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{538,860},{266,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,110}</string>
<key>spriteSize</key>
<string>{266,252}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{270,836},{266,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,112}</string>
<key>spriteSize</key>
<string>{266,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,834},{266,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,112}</string>
<key>spriteSize</key>
<string>{264,256}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1092},{264,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,103}</string>
<key>spriteSize</key>
<string>{296,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,456},{296,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,127}</string>
<key>spriteSize</key>
<string>{292,268}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{642,590},{292,268}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,142}</string>
<key>spriteSize</key>
<string>{234,298}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{342,418},{234,298}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9002_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,133}</string>
<key>spriteSize</key>
<string>{180,292}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{300,654},{180,292}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9002_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,107}</string>
<key>spriteSize</key>
<string>{318,336}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{702,2},{318,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,102}</string>
<key>spriteSize</key>
<string>{338,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,216},{338,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{48,89}</string>
<key>spriteSize</key>
<string>{350,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{350,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,100}</string>
<key>spriteSize</key>
<string>{346,234}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{354,2},{346,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9002_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,107}</string>
<key>spriteSize</key>
<string>{324,248}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{670,340},{324,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9002.png</string>
</dict>
</dict>
</plist>