<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9006_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,103}</string>
<key>spriteSize</key>
<string>{260,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1662},{260,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9006_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,56}</string>
<key>spriteSize</key>
<string>{312,190}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{452,676},{312,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-40,2}</string>
<key>spriteSize</key>
<string>{448,160}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,524},{448,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,90}</string>
<key>spriteSize</key>
<string>{236,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{472,1578},{236,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9006_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,89}</string>
<key>spriteSize</key>
<string>{234,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{472,1816},{234,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,87}</string>
<key>spriteSize</key>
<string>{270,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{276,1356},{270,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,101}</string>
<key>spriteSize</key>
<string>{278,244}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,686},{278,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,100}</string>
<key>spriteSize</key>
<string>{278,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{282,868},{278,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,99}</string>
<key>spriteSize</key>
<string>{276,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{562,916},{276,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,99}</string>
<key>spriteSize</key>
<string>{272,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{556,1158},{272,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,99}</string>
<key>spriteSize</key>
<string>{272,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1176},{272,240}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,100}</string>
<key>spriteSize</key>
<string>{274,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{280,1112},{274,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,100}</string>
<key>spriteSize</key>
<string>{276,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,932},{276,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,97}</string>
<key>spriteSize</key>
<string>{268,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,1418},{268,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,95}</string>
<key>spriteSize</key>
<string>{250,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{766,676},{250,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,95}</string>
<key>spriteSize</key>
<string>{240,238}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{232,1662},{240,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9006_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,97}</string>
<key>spriteSize</key>
<string>{314,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{590,446},{314,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{193,33}</string>
<key>spriteSize</key>
<string>{638,310}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{638,310}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{166,82}</string>
<key>spriteSize</key>
<string>{586,208}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,314},{586,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,80}</string>
<key>spriteSize</key>
<string>{366,204}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{642,2},{366,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9006_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,97}</string>
<key>spriteSize</key>
<string>{320,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{642,208},{320,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9006.png</string>
</dict>
</dict>
</plist>