<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9006_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,64}</string>
<key>spriteSize</key>
<string>{386,246}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,492},{386,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9006_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,64}</string>
<key>spriteSize</key>
<string>{418,248}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{432,2},{418,248}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9006_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,68}</string>
<key>spriteSize</key>
<string>{428,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{428,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9006_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,71}</string>
<key>spriteSize</key>
<string>{404,242}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,248},{404,242}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9006_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{49,72}</string>
<key>spriteSize</key>
<string>{368,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,252},{368,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9006_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,71}</string>
<key>spriteSize</key>
<string>{356,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,498},{356,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9006_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,68}</string>
<key>spriteSize</key>
<string>{370,244}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{250,492},{370,244}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9006.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9006.png</string>
</dict>
</dict>
</plist>