<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>yuelaozhanshi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-18}</string>
<key>spriteSize</key>
<string>{232,204}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{756,252},{232,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-18}</string>
<key>spriteSize</key>
<string>{232,206}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{754,458},{232,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{246,252}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{508,2},{246,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,5}</string>
<key>spriteSize</key>
<string>{254,252}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{2,256},{254,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,5}</string>
<key>spriteSize</key>
<string>{248,252}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{258,256},{248,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,5}</string>
<key>spriteSize</key>
<string>{254,252}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{2,2},{254,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{248,252}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{258,2},{248,252}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,3}</string>
<key>spriteSize</key>
<string>{248,246}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{756,2},{248,246}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>yuelaozhanshi_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{244,228}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{508,256},{244,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>yuelaozhanshi_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-18}</string>
<key>spriteSize</key>
<string>{240,204}</string>
<key>spriteSourceSize</key>
<string>{272,262}</string>
<key>textureRect</key>
<string>{{508,486},{240,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YL_UI.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YL_UI.png</string>
</dict>
</dict>
</plist>