<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5003_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,47}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,1038},{86,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,47}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,1234},{86,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1154},{86,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,46}</string>
<key>spriteSize</key>
<string>{86,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,1146},{86,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{84,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1242},{84,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{84,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,908},{84,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1328},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,1234},{86,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,48}</string>
<key>spriteSize</key>
<string>{86,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{686,1148},{86,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{118,1322},{86,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1030},{60,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,42}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,774},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,41}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,884},{58,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,41}</string>
<key>spriteSize</key>
<string>{58,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,760},{58,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,41}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{850,712},{60,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,41}</string>
<key>spriteSize</key>
<string>{60,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1022},{60,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,41}</string>
<key>spriteSize</key>
<string>{60,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1092},{60,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{62,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{284,444},{62,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,43}</string>
<key>spriteSize</key>
<string>{62,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,208},{62,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{60,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,1084},{60,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,47}</string>
<key>spriteSize</key>
<string>{124,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,772},{124,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,46}</string>
<key>spriteSize</key>
<string>{122,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,586},{122,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,46}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,596},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,46}</string>
<key>spriteSize</key>
<string>{120,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,914},{120,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,46}</string>
<key>spriteSize</key>
<string>{120,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{728,700},{120,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,46}</string>
<key>spriteSize</key>
<string>{122,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,692},{122,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,47}</string>
<key>spriteSize</key>
<string>{124,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,648},{124,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,47}</string>
<key>spriteSize</key>
<string>{126,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,660},{126,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,47}</string>
<key>spriteSize</key>
<string>{126,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,536},{126,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,47}</string>
<key>spriteSize</key>
<string>{126,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,490},{126,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,50}</string>
<key>spriteSize</key>
<string>{138,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,434},{138,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{140,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,310},{140,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{142,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,264},{142,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{142,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,196},{142,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{140,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{148,208},{140,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,49}</string>
<key>spriteSize</key>
<string>{140,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,322},{140,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,49}</string>
<key>spriteSize</key>
<string>{138,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{138,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,49}</string>
<key>spriteSize</key>
<string>{140,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,284},{140,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,49}</string>
<key>spriteSize</key>
<string>{140,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,378},{140,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,50}</string>
<key>spriteSize</key>
<string>{140,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{642,296},{140,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,966},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{78,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,942},{78,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,50}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,898},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,49}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,884},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{80,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,786},{80,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,804},{78,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,49}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,664},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,49}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,820},{76,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,49}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,944},{76,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,50}</string>
<key>spriteSize</key>
<string>{76,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,980},{76,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,51}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,1058},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,47}</string>
<key>spriteSize</key>
<string>{144,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,176},{144,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,69}</string>
<key>spriteSize</key>
<string>{76,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,98},{76,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,37}</string>
<key>spriteSize</key>
<string>{102,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,1354},{102,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,61}</string>
<key>spriteSize</key>
<string>{128,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,352},{128,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,56}</string>
<key>spriteSize</key>
<string>{108,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,928},{108,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,62}</string>
<key>spriteSize</key>
<string>{104,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,480},{104,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{108,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,1062},{108,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,32}</string>
<key>spriteSize</key>
<string>{56,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,934},{56,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,31}</string>
<key>spriteSize</key>
<string>{74,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{948,836},{74,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1414},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,27}</string>
<key>spriteSize</key>
<string>{102,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,1342},{102,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_012.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,43}</string>
<key>spriteSize</key>
<string>{114,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,1024},{114,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-33,50}</string>
<key>spriteSize</key>
<string>{132,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,424},{132,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,48}</string>
<key>spriteSize</key>
<string>{148,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,98},{148,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,70}</string>
<key>spriteSize</key>
<string>{80,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,270},{80,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,35}</string>
<key>spriteSize</key>
<string>{126,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,526},{126,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,52}</string>
<key>spriteSize</key>
<string>{154,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,168},{154,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-41,58}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,828},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,59}</string>
<key>spriteSize</key>
<string>{112,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,836},{112,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,54}</string>
<key>spriteSize</key>
<string>{108,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{234,1246},{108,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_108.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{65,39}</string>
<key>spriteSize</key>
<string>{162,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,96},{162,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_109.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,37}</string>
<key>spriteSize</key>
<string>{170,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,2},{170,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{56,38}</string>
<key>spriteSize</key>
<string>{178,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{178,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_111.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,36}</string>
<key>spriteSize</key>
<string>{170,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,2},{170,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_112.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{102,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{916,1152},{102,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_200.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,40}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,410},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_201.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,53}</string>
<key>spriteSize</key>
<string>{92,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,734},{92,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_202.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,70}</string>
<key>spriteSize</key>
<string>{82,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,2},{82,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_203.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{94,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,1410},{94,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_204.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,35}</string>
<key>spriteSize</key>
<string>{126,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,602},{126,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_205.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,48}</string>
<key>spriteSize</key>
<string>{114,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,1022},{114,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_206.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,41}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,620},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_207.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,47}</string>
<key>spriteSize</key>
<string>{94,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,1138},{94,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_208.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{63,47}</string>
<key>spriteSize</key>
<string>{172,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,2},{172,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_209.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{62,45}</string>
<key>spriteSize</key>
<string>{166,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,94},{166,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_210.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{60,46}</string>
<key>spriteSize</key>
<string>{168,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,2},{168,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_211.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{61,43}</string>
<key>spriteSize</key>
<string>{164,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,96},{164,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_212.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,43}</string>
<key>spriteSize</key>
<string>{98,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,1242},{98,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_300.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,34}</string>
<key>spriteSize</key>
<string>{90,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,396},{90,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_301.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{66,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,324},{66,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_302.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,70}</string>
<key>spriteSize</key>
<string>{76,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,186},{76,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_303.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,39}</string>
<key>spriteSize</key>
<string>{90,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{454,1150},{90,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_304.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,29}</string>
<key>spriteSize</key>
<string>{88,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1502},{88,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_305.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,35}</string>
<key>spriteSize</key>
<string>{112,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{692,1038},{112,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_306.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,31}</string>
<key>spriteSize</key>
<string>{108,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,476},{108,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_307.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,38}</string>
<key>spriteSize</key>
<string>{118,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,814},{118,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_308.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,49}</string>
<key>spriteSize</key>
<string>{104,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,1248},{104,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_309.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,46}</string>
<key>spriteSize</key>
<string>{104,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,1236},{104,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_310.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,47}</string>
<key>spriteSize</key>
<string>{104,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{796,1166},{104,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_311.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,47}</string>
<key>spriteSize</key>
<string>{100,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,1356},{100,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_312.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{32,48}</string>
<key>spriteSize</key>
<string>{112,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{822,950},{112,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_400.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,41}</string>
<key>spriteSize</key>
<string>{110,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,548},{110,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_401.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-43,51}</string>
<key>spriteSize</key>
<string>{130,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,600},{130,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_402.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,71}</string>
<key>spriteSize</key>
<string>{80,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{870,86},{80,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_403.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,39}</string>
<key>spriteSize</key>
<string>{92,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,1154},{92,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_404.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,34}</string>
<key>spriteSize</key>
<string>{150,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,194},{150,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_405.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,30}</string>
<key>spriteSize</key>
<string>{124,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,818},{124,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_406.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,36}</string>
<key>spriteSize</key>
<string>{122,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,352},{122,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_407.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,37}</string>
<key>spriteSize</key>
<string>{126,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,710},{126,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_408.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,47}</string>
<key>spriteSize</key>
<string>{48,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,98},{48,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_409.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,44}</string>
<key>spriteSize</key>
<string>{62,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,560},{62,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_410.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,45}</string>
<key>spriteSize</key>
<string>{80,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,1322},{80,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_B_411.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,45}</string>
<key>spriteSize</key>
<string>{96,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{240,1140},{96,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_B_412.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,50}</string>
<key>spriteSize</key>
<string>{102,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{456,1046},{102,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_5003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_5003.png</string>
</dict>
</dict>
</plist>