<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7004_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-87,4}</string>
<key>spriteSize</key>
<string>{218,36}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{2,326},{218,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,4}</string>
<key>spriteSize</key>
<string>{182,72}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{438,338},{182,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,6}</string>
<key>spriteSize</key>
<string>{178,120}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{376,522},{178,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,4}</string>
<key>spriteSize</key>
<string>{178,136}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{196,502},{178,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,1}</string>
<key>spriteSize</key>
<string>{192,150}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{2,364},{192,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,-2}</string>
<key>spriteSize</key>
<string>{214,162}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{222,338},{214,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,-7}</string>
<key>spriteSize</key>
<string>{230,174}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{262,162},{230,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,5}</string>
<key>spriteSize</key>
<string>{246,158}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{262,2},{246,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{64,10}</string>
<key>spriteSize</key>
<string>{256,156}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{2,168},{256,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{74,8}</string>
<key>spriteSize</key>
<string>{258,164}</string>
<key>spriteSourceSize</key>
<string>{450,300}</string>
<key>textureRect</key>
<string>{{2,2},{258,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5003_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5003_skill_2.png</string>
</dict>
</dict>
</plist>