<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7004_baokai_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-54}</string>
<key>spriteSize</key>
<string>{203,125}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{478,356},{203,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-36}</string>
<key>spriteSize</key>
<string>{255,161}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{2,117},{255,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-35}</string>
<key>spriteSize</key>
<string>{253,163}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{540,2},{253,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-41}</string>
<key>spriteSize</key>
<string>{219,151}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{795,159},{219,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-39}</string>
<key>spriteSize</key>
<string>{219,155}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{795,2},{219,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-39}</string>
<key>spriteSize</key>
<string>{217,155}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{259,250},{217,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_baokai_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-52}</string>
<key>spriteSize</key>
<string>{207,129}</string>
<key>spriteSourceSize</key>
<string>{287,233}</string>
<key>textureRect</key>
<string>{{721,312},{207,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-155,43}</string>
<key>spriteSize</key>
<string>{86,161}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{930,312},{86,161}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-138,31}</string>
<key>spriteSize</key>
<string>{126,183}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{887,475},{126,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-92,36}</string>
<key>spriteSize</key>
<string>{202,171}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{683,443},{202,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-53,9}</string>
<key>spriteSize</key>
<string>{230,107}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{259,141},{230,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{270,113}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{2,2},{270,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,-14}</string>
<key>spriteSize</key>
<string>{264,137}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{274,2},{264,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{84,-38}</string>
<key>spriteSize</key>
<string>{228,187}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{491,167},{228,187}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>long_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{104,-37}</string>
<key>spriteSize</key>
<string>{210,189}</string>
<key>spriteSourceSize</key>
<string>{456,263}</string>
<key>textureRect</key>
<string>{{2,280},{210,189}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5003_skill_5.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5003_skill_5.png</string>
</dict>
</dict>
</plist>