<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7004_baodian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-13}</string>
<key>spriteSize</key>
<string>{169,82}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{404,377},{169,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_baodian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-10}</string>
<key>spriteSize</key>
<string>{201,94}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{409,2},{201,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_baodian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-9}</string>
<key>spriteSize</key>
<string>{217,102}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{300,318},{217,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_baodian_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-8}</string>
<key>spriteSize</key>
<string>{231,108}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{2,626},{231,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_baodian_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{237,112}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{2,512},{237,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_baodian_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-23}</string>
<key>spriteSize</key>
<string>{207,68}</string>
<key>spriteSourceSize</key>
<string>{243,170}</string>
<key>textureRect</key>
<string>{{339,109},{207,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_long_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-196}</string>
<key>spriteSize</key>
<string>{85,83}</string>
<key>spriteSourceSize</key>
<string>{333,561}</string>
<key>textureRect</key>
<string>{{409,292},{85,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_long_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-195}</string>
<key>spriteSize</key>
<string>{87,85}</string>
<key>spriteSourceSize</key>
<string>{333,561}</string>
<key>textureRect</key>
<string>{{409,205},{87,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_long_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,-142}</string>
<key>spriteSize</key>
<string>{143,191}</string>
<key>spriteSourceSize</key>
<string>{333,561}</string>
<key>textureRect</key>
<string>{{241,537},{143,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_long_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-70}</string>
<key>spriteSize</key>
<string>{117,335}</string>
<key>spriteSourceSize</key>
<string>{333,561}</string>
<key>textureRect</key>
<string>{{2,109},{117,335}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_long_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,-29}</string>
<key>spriteSize</key>
<string>{105,405}</string>
<key>spriteSourceSize</key>
<string>{333,561}</string>
<key>textureRect</key>
<string>{{2,2},{105,405}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7004_skill_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-20}</string>
<key>spriteSize</key>
<string>{296,146}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{2,228},{296,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7004_skill_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-14}</string>
<key>spriteSize</key>
<string>{260,134}</string>
<key>spriteSourceSize</key>
<string>{540,960}</string>
<key>textureRect</key>
<string>{{2,376},{260,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_5003_skill_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_5003_skill_4.png</string>
</dict>
</dict>
</plist>