<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5003_Jump_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,23}</string>
<key>spriteSize</key>
<string>{80,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,806},{80,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_Jump_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{74,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,680},{74,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,29}</string>
<key>spriteSize</key>
<string>{84,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,298},{84,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,38}</string>
<key>spriteSize</key>
<string>{106,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,488},{106,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{66,-1}</string>
<key>spriteSize</key>
<string>{180,40}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{180,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,37}</string>
<key>spriteSize</key>
<string>{74,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,826},{74,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,42}</string>
<key>spriteSize</key>
<string>{72,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,588},{72,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,41}</string>
<key>spriteSize</key>
<string>{66,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,742},{66,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,45}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,640},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,44}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,508},{58,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,45}</string>
<key>spriteSize</key>
<string>{56,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,426},{56,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,44}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,568},{56,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,44}</string>
<key>spriteSize</key>
<string>{56,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,564},{56,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,45}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,580},{58,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,45}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,582},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{58,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,690},{58,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{58,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,682},{58,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,46}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,622},{58,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,49}</string>
<key>spriteSize</key>
<string>{124,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,176},{124,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,46}</string>
<key>spriteSize</key>
<string>{116,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,284},{116,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,66}</string>
<key>spriteSize</key>
<string>{74,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,136},{74,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,38}</string>
<key>spriteSize</key>
<string>{118,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,212},{118,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,50}</string>
<key>spriteSize</key>
<string>{140,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,92},{140,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,53}</string>
<key>spriteSize</key>
<string>{110,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,384},{110,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,55}</string>
<key>spriteSize</key>
<string>{106,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{238,400},{106,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,49}</string>
<key>spriteSize</key>
<string>{100,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,706},{100,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{60,40}</string>
<key>spriteSize</key>
<string>{150,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,44},{150,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,38}</string>
<key>spriteSize</key>
<string>{158,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,2},{158,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{53,39}</string>
<key>spriteSize</key>
<string>{162,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,2},{162,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,37}</string>
<key>spriteSize</key>
<string>{154,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,90},{154,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,41}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,774},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,51}</string>
<key>spriteSize</key>
<string>{62,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{108,642},{62,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,48}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,190},{80,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{104,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{242,298},{104,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,43}</string>
<key>spriteSize</key>
<string>{50,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,92},{50,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,41}</string>
<key>spriteSize</key>
<string>{50,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{460,386},{50,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{62,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,762},{62,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,43}</string>
<key>spriteSize</key>
<string>{60,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,700},{60,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,44}</string>
<key>spriteSize</key>
<string>{54,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{208,750},{54,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{48,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,480},{48,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,48}</string>
<key>spriteSize</key>
<string>{62,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,626},{62,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,84}</string>
<key>spriteSize</key>
<string>{84,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,264},{84,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,88}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,386},{84,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,77}</string>
<key>spriteSize</key>
<string>{96,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,484},{96,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,54}</string>
<key>spriteSize</key>
<string>{90,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,472},{90,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,21}</string>
<key>spriteSize</key>
<string>{84,68}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,804},{84,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,27}</string>
<key>spriteSize</key>
<string>{78,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,902},{78,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,23}</string>
<key>spriteSize</key>
<string>{78,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,886},{78,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,31}</string>
<key>spriteSize</key>
<string>{80,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,902},{80,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5003_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,31}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{122,350},{74,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5003_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,40}</string>
<key>spriteSize</key>
<string>{72,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,190},{72,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_5003.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_5003.png</string>
</dict>
</dict>
</plist>