<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1007_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,26}</string>
<key>spriteSize</key>
<string>{54,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,228},{54,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,30}</string>
<key>spriteSize</key>
<string>{58,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{64,234},{58,56}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,28}</string>
<key>spriteSize</key>
<string>{60,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,122},{60,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,27}</string>
<key>spriteSize</key>
<string>{58,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,186},{58,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,31}</string>
<key>spriteSize</key>
<string>{58,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{192,248},{58,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,28}</string>
<key>spriteSize</key>
<string>{56,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,170},{56,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,27}</string>
<key>spriteSize</key>
<string>{48,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{124,262},{48,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,30}</string>
<key>spriteSize</key>
<string>{48,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{66,184},{48,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,28}</string>
<key>spriteSize</key>
<string>{50,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,62},{50,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,25}</string>
<key>spriteSize</key>
<string>{52,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,284},{52,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,26}</string>
<key>spriteSize</key>
<string>{46,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,436},{46,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,28}</string>
<key>spriteSize</key>
<string>{44,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{50,436},{44,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,25}</string>
<key>spriteSize</key>
<string>{50,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{60,340},{50,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,28}</string>
<key>spriteSize</key>
<string>{50,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,124},{50,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,28}</string>
<key>spriteSize</key>
<string>{50,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,62},{50,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1007_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,23}</string>
<key>spriteSize</key>
<string>{50,52}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{178,362},{50,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,24}</string>
<key>spriteSize</key>
<string>{52,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,312},{52,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,26}</string>
<key>spriteSize</key>
<string>{52,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{184,308},{52,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,30}</string>
<key>spriteSize</key>
<string>{46,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,114},{46,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,31}</string>
<key>spriteSize</key>
<string>{48,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,162},{48,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,30}</string>
<key>spriteSize</key>
<string>{46,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,338},{46,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,26}</string>
<key>spriteSize</key>
<string>{48,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,386},{48,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,26}</string>
<key>spriteSize</key>
<string>{46,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{62,292},{46,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,27}</string>
<key>spriteSize</key>
<string>{48,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{130,212},{48,60}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,34}</string>
<key>spriteSize</key>
<string>{52,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,116},{52,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{56,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{56,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,32}</string>
<key>spriteSize</key>
<string>{58,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{74,2},{58,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,32}</string>
<key>spriteSize</key>
<string>{58,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{72,62},{58,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,31}</string>
<key>spriteSize</key>
<string>{58,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{144,2},{58,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1007_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{54,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,60},{54,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1007_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1007_run.png</string>
</dict>
</dict>
</plist>