<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8008_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,137}</string>
<key>spriteSize</key>
<string>{240,298}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,2},{240,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,138}</string>
<key>spriteSize</key>
<string>{242,300}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,604},{242,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,139}</string>
<key>spriteSize</key>
<string>{244,302}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{256,610},{244,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,139}</string>
<key>spriteSize</key>
<string>{252,302}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,610},{252,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,139}</string>
<key>spriteSize</key>
<string>{256,302}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,306},{256,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,139}</string>
<key>spriteSize</key>
<string>{256,302}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{256,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,138}</string>
<key>spriteSize</key>
<string>{256,300}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{502,2},{256,300}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,138}</string>
<key>spriteSize</key>
<string>{252,300}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,302},{252,300}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8008.png</string>
</dict>
</dict>
</plist>