<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8008_baoqi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-38}</string>
<key>spriteSize</key>
<string>{79,30}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{989,2},{79,30}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_baoqi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-37}</string>
<key>spriteSize</key>
<string>{93,42}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{957,226},{93,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_baoqi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-27}</string>
<key>spriteSize</key>
<string>{109,68}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{951,326},{109,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_baoqi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-24}</string>
<key>spriteSize</key>
<string>{113,74}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{822,418},{113,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baoqi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{115,90}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{834,326},{115,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baoqi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-12}</string>
<key>spriteSize</key>
<string>{121,98}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{834,226},{121,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baoqi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{127,108}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{856,116},{127,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baoqi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{131,112}</string>
<key>spriteSourceSize</key>
<string>{131,122}</string>
<key>textureRect</key>
<string>{{856,2},{131,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-10}</string>
<key>spriteSize</key>
<string>{203,88}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{617,412},{203,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{203,90}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{412,326},{203,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-11}</string>
<key>spriteSize</key>
<string>{203,90}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{629,320},{203,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-12}</string>
<key>spriteSize</key>
<string>{203,88}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{207,342},{203,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-12}</string>
<key>spriteSize</key>
<string>{201,92}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{2,440},{201,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-6}</string>
<key>spriteSize</key>
<string>{203,106}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{629,212},{203,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{201,112}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{412,418},{201,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{203,112}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{2,326},{203,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{203,112}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{207,228},{203,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-3}</string>
<key>spriteSize</key>
<string>{203,114}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{2,210},{203,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{203,112}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{424,212},{203,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-7}</string>
<key>spriteSize</key>
<string>{201,108}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{207,432},{201,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{207,110}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{215,116},{207,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{211,112}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{217,2},{211,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{211,110}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{2,98},{211,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{211,108}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{430,2},{211,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-8}</string>
<key>spriteSize</key>
<string>{211,106}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{643,2},{211,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-11}</string>
<key>spriteSize</key>
<string>{211,100}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{643,110},{211,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{211,98}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{430,112},{211,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuihua_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-14}</string>
<key>spriteSize</key>
<string>{213,94}</string>
<key>spriteSourceSize</key>
<string>{353,214}</string>
<key>textureRect</key>
<string>{{2,2},{213,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8008_skills_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8008_skills_1.png</string>
</dict>
</dict>
</plist>