<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8008_baokai_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{2,669},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{123,123}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{140,666},{123,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{127,123}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{300,621},{127,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-4}</string>
<key>spriteSize</key>
<string>{139,123}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{159,541},{139,123}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{155,121}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{2,454},{155,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,4}</string>
<key>spriteSize</key>
<string>{165,113}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{175,119},{165,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,14}</string>
<key>spriteSize</key>
<string>{171,137}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{2,2},{171,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,15}</string>
<key>spriteSize</key>
<string>{157,143}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{2,228},{157,143}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,11}</string>
<key>spriteSize</key>
<string>{157,135}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{161,234},{157,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_baokai_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,12}</string>
<key>spriteSize</key>
<string>{169,115}</string>
<key>spriteSourceSize</key>
<string>{185,185}</string>
<key>textureRect</key>
<string>{{175,2},{169,115}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-44,17}</string>
<key>spriteSize</key>
<string>{64,60}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{429,621},{64,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,3}</string>
<key>spriteSize</key>
<string>{62,88}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{429,683},{62,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{160,90}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{346,2},{160,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{160,88}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{346,94},{160,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{158,90}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{342,184},{158,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{156,90}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{320,276},{156,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-2}</string>
<key>spriteSize</key>
<string>{136,90}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{2,577},{136,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_juqitiao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-3}</string>
<key>spriteSize</key>
<string>{120,88}</string>
<key>spriteSourceSize</key>
<string>{180,94}</string>
<key>textureRect</key>
<string>{{265,746},{120,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-5}</string>
<key>spriteSize</key>
<string>{154,83}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{159,456},{154,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{156,83}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{161,371},{156,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{156,79}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{2,373},{156,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-5}</string>
<key>spriteSize</key>
<string>{154,83}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{319,453},{154,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{158,85}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{2,141},{158,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{156,83}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{320,368},{156,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_shuimian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-6}</string>
<key>spriteSize</key>
<string>{154,81}</string>
<key>spriteSourceSize</key>
<string>{246,161}</string>
<key>textureRect</key>
<string>{{315,538},{154,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8008_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8008_skills_2.png</string>
</dict>
</dict>
</plist>