<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8008_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,55}</string>
<key>spriteSize</key>
<string>{108,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,680},{108,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,55}</string>
<key>spriteSize</key>
<string>{110,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,668},{110,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,55}</string>
<key>spriteSize</key>
<string>{110,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,606},{110,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,55}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{800,454},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,562},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,550},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{530,488},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,654},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,554},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,490},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,478},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,416},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,512},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{70,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,482},{70,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{68,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{668,446},{68,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,52}</string>
<key>spriteSize</key>
<string>{68,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,584},{68,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{74,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,630},{74,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{74,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,414},{74,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,50}</string>
<key>spriteSize</key>
<string>{74,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,402},{74,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,51}</string>
<key>spriteSize</key>
<string>{78,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,432},{78,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,51}</string>
<key>spriteSize</key>
<string>{80,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,400},{80,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,51}</string>
<key>spriteSize</key>
<string>{80,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,332},{80,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,50}</string>
<key>spriteSize</key>
<string>{76,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,570},{76,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,49}</string>
<key>spriteSize</key>
<string>{76,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,770},{76,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,49}</string>
<key>spriteSize</key>
<string>{112,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,906},{112,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,826},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{394,780},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,51}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{526,718},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{118,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,706},{118,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,714},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1030},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,49}</string>
<key>spriteSize</key>
<string>{112,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{254,1020},{112,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,48}</string>
<key>spriteSize</key>
<string>{110,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1076},{110,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{110,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,918},{110,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{110,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,824},{110,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,50}</string>
<key>spriteSize</key>
<string>{114,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{390,900},{114,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,848},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,50}</string>
<key>spriteSize</key>
<string>{118,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,130},{118,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,49}</string>
<key>spriteSize</key>
<string>{118,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,1016},{118,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,48}</string>
<key>spriteSize</key>
<string>{116,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,950},{116,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,40}</string>
<key>spriteSize</key>
<string>{106,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,1150},{106,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,1250},{88,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,55}</string>
<key>spriteSize</key>
<string>{124,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,2},{124,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,54}</string>
<key>spriteSize</key>
<string>{136,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,184},{136,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,55}</string>
<key>spriteSize</key>
<string>{130,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,214},{130,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,26}</string>
<key>spriteSize</key>
<string>{102,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,1194},{102,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,18}</string>
<key>spriteSize</key>
<string>{98,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,1232},{98,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,16}</string>
<key>spriteSize</key>
<string>{98,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{836,1186},{98,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,17}</string>
<key>spriteSize</key>
<string>{98,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{736,1150},{98,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,18}</string>
<key>spriteSize</key>
<string>{100,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{362,1244},{100,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,25}</string>
<key>spriteSize</key>
<string>{112,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{930,454},{112,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{110,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{874,1074},{110,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,39}</string>
<key>spriteSize</key>
<string>{66,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,1126},{66,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{88,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,1242},{88,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,58}</string>
<key>spriteSize</key>
<string>{88,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,94},{88,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{88,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,256},{88,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,45}</string>
<key>spriteSize</key>
<string>{84,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,742},{84,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,32}</string>
<key>spriteSize</key>
<string>{132,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,228},{132,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,26}</string>
<key>spriteSize</key>
<string>{130,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,316},{130,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,23}</string>
<key>spriteSize</key>
<string>{130,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,346},{130,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,24}</string>
<key>spriteSize</key>
<string>{130,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,310},{130,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,25}</string>
<key>spriteSize</key>
<string>{132,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,210},{132,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,31}</string>
<key>spriteSize</key>
<string>{134,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,114},{134,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,44}</string>
<key>spriteSize</key>
<string>{64,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,648},{64,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,40}</string>
<key>spriteSize</key>
<string>{82,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{510,1042},{82,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,39}</string>
<key>spriteSize</key>
<string>{108,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,966},{108,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,56}</string>
<key>spriteSize</key>
<string>{90,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,2},{90,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,42}</string>
<key>spriteSize</key>
<string>{108,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{598,306},{108,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,39}</string>
<key>spriteSize</key>
<string>{98,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,938},{98,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{41,44}</string>
<key>spriteSize</key>
<string>{124,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,832},{124,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,43}</string>
<key>spriteSize</key>
<string>{130,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{862,356},{130,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,40}</string>
<key>spriteSize</key>
<string>{132,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{464,128},{132,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,40}</string>
<key>spriteSize</key>
<string>{130,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,342},{130,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,40}</string>
<key>spriteSize</key>
<string>{122,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,1134},{122,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,39}</string>
<key>spriteSize</key>
<string>{112,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{124,1232},{112,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,45}</string>
<key>spriteSize</key>
<string>{90,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,240},{90,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,1038},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{104,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{918,698},{104,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,56}</string>
<key>spriteSize</key>
<string>{124,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,2},{124,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,45}</string>
<key>spriteSize</key>
<string>{166,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{166,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,41}</string>
<key>spriteSize</key>
<string>{152,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,2},{152,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,51}</string>
<key>spriteSize</key>
<string>{114,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,790},{114,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,53}</string>
<key>spriteSize</key>
<string>{116,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1188},{116,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,52}</string>
<key>spriteSize</key>
<string>{116,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{642,1032},{116,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,51}</string>
<key>spriteSize</key>
<string>{114,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1306},{114,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,49}</string>
<key>spriteSize</key>
<string>{114,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,838},{114,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,48}</string>
<key>spriteSize</key>
<string>{110,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{762,2},{110,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,52}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,516},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,45}</string>
<key>spriteSize</key>
<string>{106,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{376,1136},{106,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,47}</string>
<key>spriteSize</key>
<string>{86,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,122},{86,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{124,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{324,114},{124,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,41}</string>
<key>spriteSize</key>
<string>{140,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,124},{140,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,38}</string>
<key>spriteSize</key>
<string>{134,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,2},{134,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,56}</string>
<key>spriteSize</key>
<string>{90,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{930,568},{90,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8008_B_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{86,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,954},{86,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{86,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1144},{86,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,57}</string>
<key>spriteSize</key>
<string>{86,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,944},{86,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_57.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,55}</string>
<key>spriteSize</key>
<string>{88,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,828},{88,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_58.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,54}</string>
<key>spriteSize</key>
<string>{104,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{864,250},{104,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8008_B_59.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,54}</string>
<key>spriteSize</key>
<string>{114,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,626},{114,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8008.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8008.png</string>
</dict>
</dict>
</plist>