<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_1012_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{44,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,308},{44,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,22}</string>
<key>spriteSize</key>
<string>{42,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{180,318},{42,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,19}</string>
<key>spriteSize</key>
<string>{50,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{134,188},{50,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,19}</string>
<key>spriteSize</key>
<string>{50,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{62,246},{50,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,18}</string>
<key>spriteSize</key>
<string>{56,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,204},{56,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1012_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,21}</string>
<key>spriteSize</key>
<string>{52,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,264},{52,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,24}</string>
<key>spriteSize</key>
<string>{38,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{138,122},{38,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,23}</string>
<key>spriteSize</key>
<string>{36,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{152,40},{36,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,23}</string>
<key>spriteSize</key>
<string>{40,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,30},{40,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,24}</string>
<key>spriteSize</key>
<string>{42,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{140,78},{42,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{42,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,118},{42,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,23}</string>
<key>spriteSize</key>
<string>{38,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,162},{38,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,27}</string>
<key>spriteSize</key>
<string>{28,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{74,46},{28,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,26}</string>
<key>spriteSize</key>
<string>{26,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{26,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,30}</string>
<key>spriteSize</key>
<string>{30,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{224,2},{30,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1012_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,29}</string>
<key>spriteSize</key>
<string>{36,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{152,2},{36,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,27}</string>
<key>spriteSize</key>
<string>{30,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{224,74},{30,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1012_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,26}</string>
<key>spriteSize</key>
<string>{24,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{134,162},{24,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,26}</string>
<key>spriteSize</key>
<string>{44,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,72},{44,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,27}</string>
<key>spriteSize</key>
<string>{42,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{80,2},{42,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,31}</string>
<key>spriteSize</key>
<string>{42,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{72,76},{42,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,29}</string>
<key>spriteSize</key>
<string>{40,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{70,120},{40,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,25}</string>
<key>spriteSize</key>
<string>{42,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{132,240},{42,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,23}</string>
<key>spriteSize</key>
<string>{44,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,162},{44,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,23}</string>
<key>spriteSize</key>
<string>{46,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,260},{46,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,23}</string>
<key>spriteSize</key>
<string>{42,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{68,202},{42,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,25}</string>
<key>spriteSize</key>
<string>{48,60}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,142},{48,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1012_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,23}</string>
<key>spriteSize</key>
<string>{50,58}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,208},{50,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_1012_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,22}</string>
<key>spriteSize</key>
<string>{56,54}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,284},{56,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_1012_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,22}</string>
<key>spriteSize</key>
<string>{52,56}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{62,298},{52,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_1012_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_1012_run.png</string>
</dict>
</dict>
</plist>