<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7012_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,61}</string>
<key>spriteSize</key>
<string>{118,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,2},{118,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,64}</string>
<key>spriteSize</key>
<string>{118,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1044,528},{118,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,66}</string>
<key>spriteSize</key>
<string>{120,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1136,860},{120,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,67}</string>
<key>spriteSize</key>
<string>{120,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1446,2},{120,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,66}</string>
<key>spriteSize</key>
<string>{118,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1210,688},{118,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,64}</string>
<key>spriteSize</key>
<string>{114,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1094,694},{114,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,61}</string>
<key>spriteSize</key>
<string>{114,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{978,714},{114,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,60}</string>
<key>spriteSize</key>
<string>{116,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1046,2},{116,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,53}</string>
<key>spriteSize</key>
<string>{104,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,624},{104,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,55}</string>
<key>spriteSize</key>
<string>{104,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,2},{104,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,58}</string>
<key>spriteSize</key>
<string>{108,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,1700},{108,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,59}</string>
<key>spriteSize</key>
<string>{112,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1110,1136},{112,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,60}</string>
<key>spriteSize</key>
<string>{114,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{856,1604},{114,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,58}</string>
<key>spriteSize</key>
<string>{118,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{766,590},{118,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,56}</string>
<key>spriteSize</key>
<string>{114,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,812},{114,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,54}</string>
<key>spriteSize</key>
<string>{108,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{462,864},{108,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,54}</string>
<key>spriteSize</key>
<string>{118,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,942},{118,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,57}</string>
<key>spriteSize</key>
<string>{112,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{310,1796},{112,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,59}</string>
<key>spriteSize</key>
<string>{112,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,1582},{112,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,61}</string>
<key>spriteSize</key>
<string>{114,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,1052},{114,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,63}</string>
<key>spriteSize</key>
<string>{118,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{778,1786},{118,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,62}</string>
<key>spriteSize</key>
<string>{128,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,810},{128,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,59}</string>
<key>spriteSize</key>
<string>{130,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,2},{130,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,56}</string>
<key>spriteSize</key>
<string>{128,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,1796},{128,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,60}</string>
<key>spriteSize</key>
<string>{164,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,676},{164,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,60}</string>
<key>spriteSize</key>
<string>{160,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,436},{160,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,63}</string>
<key>spriteSize</key>
<string>{160,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,994},{160,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,66}</string>
<key>spriteSize</key>
<string>{162,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,1884},{162,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,68}</string>
<key>spriteSize</key>
<string>{162,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1250,1492},{162,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,66}</string>
<key>spriteSize</key>
<string>{164,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1166,1316},{164,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,65}</string>
<key>spriteSize</key>
<string>{166,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{942,1176},{166,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,62}</string>
<key>spriteSize</key>
<string>{168,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,1182},{168,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,61}</string>
<key>spriteSize</key>
<string>{114,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,1514},{114,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,62}</string>
<key>spriteSize</key>
<string>{116,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,1328},{116,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,63}</string>
<key>spriteSize</key>
<string>{118,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{444,1582},{118,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,63}</string>
<key>spriteSize</key>
<string>{116,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,376},{116,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,63}</string>
<key>spriteSize</key>
<string>{114,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,188},{114,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,63}</string>
<key>spriteSize</key>
<string>{108,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,2},{108,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,61}</string>
<key>spriteSize</key>
<string>{110,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,190},{110,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,61}</string>
<key>spriteSize</key>
<string>{112,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,404},{112,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{26,69}</string>
<key>spriteSize</key>
<string>{186,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{544,216},{186,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_001.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,26}</string>
<key>spriteSize</key>
<string>{164,232}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,736},{164,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_002.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,57}</string>
<key>spriteSize</key>
<string>{178,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{976,956},{178,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_003.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,73}</string>
<key>spriteSize</key>
<string>{182,200}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,1396},{182,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_004.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,68}</string>
<key>spriteSize</key>
<string>{136,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1028,1356},{136,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,54}</string>
<key>spriteSize</key>
<string>{174,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1314,1668},{174,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_006.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,106}</string>
<key>spriteSize</key>
<string>{122,254}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{122,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_007.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{77,64}</string>
<key>spriteSize</key>
<string>{212,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,2},{212,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_008.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,54}</string>
<key>spriteSize</key>
<string>{158,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1212,170},{158,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_009.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,56}</string>
<key>spriteSize</key>
<string>{132,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1224,1176},{132,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{35,65}</string>
<key>spriteSize</key>
<string>{136,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1224,1020},{136,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_011.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,70}</string>
<key>spriteSize</key>
<string>{202,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1604},{202,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_100.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,66}</string>
<key>spriteSize</key>
<string>{172,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1386,1844},{172,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_101.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{31,48}</string>
<key>spriteSize</key>
<string>{216,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,970},{216,190}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_102.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,51}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1808},{196,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_103.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,66}</string>
<key>spriteSize</key>
<string>{112,218}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,2},{112,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_104.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,54}</string>
<key>spriteSize</key>
<string>{142,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{972,1544},{142,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_105.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,59}</string>
<key>spriteSize</key>
<string>{148,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1362,1002},{148,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_106.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,108}</string>
<key>spriteSize</key>
<string>{174,238}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,258},{174,238}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_107.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,79}</string>
<key>spriteSize</key>
<string>{172,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,998},{172,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_108.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,61}</string>
<key>spriteSize</key>
<string>{176,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1052,1724},{176,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_109.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,62}</string>
<key>spriteSize</key>
<string>{172,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,372},{172,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_110.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,68}</string>
<key>spriteSize</key>
<string>{166,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1164,2},{166,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_111.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,70}</string>
<key>spriteSize</key>
<string>{178,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{898,1786},{178,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_200.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,63}</string>
<key>spriteSize</key>
<string>{112,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1200,1714},{112,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_201.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,59}</string>
<key>spriteSize</key>
<string>{180,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,1422},{180,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_202.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,49}</string>
<key>spriteSize</key>
<string>{174,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,1772},{174,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_203.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,61}</string>
<key>spriteSize</key>
<string>{152,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{338,460},{152,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_204.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,55}</string>
<key>spriteSize</key>
<string>{112,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{652,624},{112,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_205.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,56}</string>
<key>spriteSize</key>
<string>{226,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,498},{226,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_206.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,101}</string>
<key>spriteSize</key>
<string>{210,214}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,726},{210,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_207.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,83}</string>
<key>spriteSize</key>
<string>{168,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{858,1364},{168,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_208.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,68}</string>
<key>spriteSize</key>
<string>{166,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1062,172},{166,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_209.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,69}</string>
<key>spriteSize</key>
<string>{166,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1036,360},{166,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_210.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,70}</string>
<key>spriteSize</key>
<string>{146,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1258,848},{146,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_211.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,71}</string>
<key>spriteSize</key>
<string>{116,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1322,500},{116,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_300.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,66}</string>
<key>spriteSize</key>
<string>{132,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1116,1536},{132,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_301.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,58}</string>
<key>spriteSize</key>
<string>{144,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,1604},{144,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_302.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,45}</string>
<key>spriteSize</key>
<string>{156,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,1388},{156,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_303.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,53}</string>
<key>spriteSize</key>
<string>{218,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{178,240},{218,192}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_304.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,66}</string>
<key>spriteSize</key>
<string>{136,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{924,186},{136,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_305.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,58}</string>
<key>spriteSize</key>
<string>{206,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1188},{206,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_306.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,81}</string>
<key>spriteSize</key>
<string>{170,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,222},{170,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_307.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-55,72}</string>
<key>spriteSize</key>
<string>{236,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,498},{236,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_308.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,70}</string>
<key>spriteSize</key>
<string>{166,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{886,546},{166,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_309.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,72}</string>
<key>spriteSize</key>
<string>{156,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1164,528},{156,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_310.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,73}</string>
<key>spriteSize</key>
<string>{136,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1364,162},{136,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_311.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,73}</string>
<key>spriteSize</key>
<string>{170,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1214,1892},{170,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_400.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,62}</string>
<key>spriteSize</key>
<string>{182,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{588,1238},{182,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_401.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,53}</string>
<key>spriteSize</key>
<string>{146,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,942},{146,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_402.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,43}</string>
<key>spriteSize</key>
<string>{170,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,1136},{170,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_403.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,47}</string>
<key>spriteSize</key>
<string>{196,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,1598},{196,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_404.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,75}</string>
<key>spriteSize</key>
<string>{138,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1052,1902},{138,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_405.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,67}</string>
<key>spriteSize</key>
<string>{158,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,774},{158,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_406.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,75}</string>
<key>spriteSize</key>
<string>{124,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1396},{124,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_407.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-92,69}</string>
<key>spriteSize</key>
<string>{236,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,2},{236,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_B_408.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-48,73}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1188,340},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_409.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,73}</string>
<key>spriteSize</key>
<string>{130,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1314,2},{130,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_410.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,74}</string>
<key>spriteSize</key>
<string>{138,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1344,330},{138,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_B_411.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,70}</string>
<key>spriteSize</key>
<string>{198,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{188,1188},{198,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_7012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_7012.png</string>
</dict>
</dict>
</plist>