<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7012_bianzi_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,29}</string>
<key>spriteSize</key>
<string>{92,72}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{432,214},{92,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,17}</string>
<key>spriteSize</key>
<string>{118,114}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,564},{118,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-81,19}</string>
<key>spriteSize</key>
<string>{104,92}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{402,580},{104,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-71,2}</string>
<key>spriteSize</key>
<string>{144,144}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{180,694},{144,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,-38}</string>
<key>spriteSize</key>
<string>{224,210}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{230,2},{224,210}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-43}</string>
<key>spriteSize</key>
<string>{226,200}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,2},{226,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-55}</string>
<key>spriteSize</key>
<string>{146,176}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,694},{146,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-35}</string>
<key>spriteSize</key>
<string>{168,170}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{136,842},{168,170}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-38,-11}</string>
<key>spriteSize</key>
<string>{196,134}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{210,370},{196,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-52,12}</string>
<key>spriteSize</key>
<string>{182,90}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{402,674},{182,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{47,-19}</string>
<key>spriteSize</key>
<string>{190,186}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{210,506},{190,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,-38}</string>
<key>spriteSize</key>
<string>{194,206}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,368},{194,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,-66}</string>
<key>spriteSize</key>
<string>{208,154}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{222,214},{208,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-62}</string>
<key>spriteSize</key>
<string>{218,162}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,204},{218,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,-38}</string>
<key>spriteSize</key>
<string>{156,132}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{2,858},{156,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7012_bianzi_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-68,-23}</string>
<key>spriteSize</key>
<string>{98,98}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{408,398},{98,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-76,0}</string>
<key>spriteSize</key>
<string>{94,80}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{408,498},{94,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7012_bianzi_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-72,20}</string>
<key>spriteSize</key>
<string>{88,64}</string>
<key>spriteSourceSize</key>
<string>{286,286}</string>
<key>textureRect</key>
<string>{{432,308},{88,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7012_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7012_skill_2.png</string>
</dict>
</dict>
</plist>