<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5002_baozha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,12}</string>
<key>spriteSize</key>
<string>{110,104}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{395,544},{110,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_baozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,11}</string>
<key>spriteSize</key>
<string>{136,120}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{2,592},{136,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_baozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-6}</string>
<key>spriteSize</key>
<string>{200,192}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{254,196},{200,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_baozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,7}</string>
<key>spriteSize</key>
<string>{200,176}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{2,206},{200,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_baozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,4}</string>
<key>spriteSize</key>
<string>{226,192}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{254,2},{226,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{250,202}</string>
<key>spriteSourceSize</key>
<string>{278,226}</string>
<key>textureRect</key>
<string>{{2,2},{250,202}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_dici_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-12}</string>
<key>spriteSize</key>
<string>{152,107}</string>
<key>spriteSourceSize</key>
<string>{152,131}</string>
<key>textureRect</key>
<string>{{2,483},{152,107}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_jianshe_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-8}</string>
<key>spriteSize</key>
<string>{71,106}</string>
<key>spriteSourceSize</key>
<string>{171,196}</string>
<key>textureRect</key>
<string>{{170,458},{71,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_jianshe_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{87,152}</string>
<key>spriteSourceSize</key>
<string>{171,196}</string>
<key>textureRect</key>
<string>{{417,390},{87,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5002_jianshe_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-7}</string>
<key>spriteSize</key>
<string>{87,150}</string>
<key>spriteSourceSize</key>
<string>{171,196}</string>
<key>textureRect</key>
<string>{{243,505},{87,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_jianshe_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,14}</string>
<key>spriteSize</key>
<string>{97,166}</string>
<key>spriteSourceSize</key>
<string>{171,196}</string>
<key>textureRect</key>
<string>{{2,384},{97,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_jianshe_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-1}</string>
<key>spriteSize</key>
<string>{113,162}</string>
<key>spriteSourceSize</key>
<string>{171,196}</string>
<key>textureRect</key>
<string>{{253,390},{113,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5002_xuanzhuan_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{72,81}</string>
<key>spriteSourceSize</key>
<string>{96,83}</string>
<key>textureRect</key>
<string>{{170,384},{72,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_5002_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_5002_1.png</string>
</dict>
</dict>
</plist>