<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>cw5002_a_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{688,484},{62,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,522},{62,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,474},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{66,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,468},{66,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{66,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{900,400},{66,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{66,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,454},{66,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,470},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{606,484},{62,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,470},{62,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,252},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{650,250},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,394},{80,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,326},{80,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{180,322},{80,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{912,320},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,242},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,316},{76,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{78,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{556,252},{78,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{292,86},{88,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,32}</string>
<key>spriteSize</key>
<string>{86,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,170},{86,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,32}</string>
<key>spriteSize</key>
<string>{86,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,158},{86,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{86,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,2},{86,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{86,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,312},{86,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{88,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{94,160},{88,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,31}</string>
<key>spriteSize</key>
<string>{88,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,156},{88,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,74},{88,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,70},{88,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_a_40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,162},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,84},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,238},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,330},{76,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,34}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,328},{76,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,33}</string>
<key>spriteSize</key>
<string>{76,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{724,406},{76,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,33}</string>
<key>spriteSize</key>
<string>{76,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,400},{76,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{818,322},{76,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,162},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,37}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,406},{62,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{64,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{440,394},{64,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{64,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{536,332},{64,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{64,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{86,408},{64,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,460},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{342,460},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,36}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{888,536},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,36}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{806,478},{64,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_a_50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,37}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,406},{62,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,15}</string>
<key>spriteSize</key>
<string>{62,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,536},{62,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,21}</string>
<key>spriteSize</key>
<string>{76,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,82},{76,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-17}</string>
<key>spriteSize</key>
<string>{66,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,2},{66,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-32}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{386,2},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-29}</string>
<key>spriteSize</key>
<string>{70,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,158},{70,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,76}</string>
<key>spriteSize</key>
<string>{64,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,404},{64,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,15}</string>
<key>spriteSize</key>
<string>{84,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,172},{84,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,11}</string>
<key>spriteSize</key>
<string>{82,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,324},{82,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,13}</string>
<key>spriteSize</key>
<string>{78,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,534},{78,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,12}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,250},{76,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,18}</string>
<key>spriteSize</key>
<string>{80,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,76},{80,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{51,-8}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{838,84},{80,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{92,-17}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,80},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{93,-15}</string>
<key>spriteSize</key>
<string>{82,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,242},{82,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,78}</string>
<key>spriteSize</key>
<string>{80,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,254},{80,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,15}</string>
<key>spriteSize</key>
<string>{96,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,2},{96,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,12}</string>
<key>spriteSize</key>
<string>{98,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{98,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,13}</string>
<key>spriteSize</key>
<string>{78,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,526},{78,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,12}</string>
<key>spriteSize</key>
<string>{88,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,2},{88,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,17}</string>
<key>spriteSize</key>
<string>{74,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,2},{74,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{62,8}</string>
<key>spriteSize</key>
<string>{78,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{770,544},{78,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{117,10}</string>
<key>spriteSize</key>
<string>{90,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{200,78},{90,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{123,9}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{742,174},{74,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,81}</string>
<key>spriteSize</key>
<string>{86,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,154},{86,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,13}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{926,2},{80,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,10}</string>
<key>spriteSize</key>
<string>{82,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,242},{82,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,9}</string>
<key>spriteSize</key>
<string>{82,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{920,240},{82,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,15}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{834,166},{74,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,16}</string>
<key>spriteSize</key>
<string>{80,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,230},{80,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,17}</string>
<key>spriteSize</key>
<string>{70,76}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,526},{70,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{74,31}</string>
<key>spriteSize</key>
<string>{72,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,540},{72,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{73,30}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{264,336},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,86}</string>
<key>spriteSize</key>
<string>{74,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{608,408},{74,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,12}</string>
<key>spriteSize</key>
<string>{82,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,2},{82,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,10}</string>
<key>spriteSize</key>
<string>{84,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{568,86},{84,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,10}</string>
<key>spriteSize</key>
<string>{82,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,238},{82,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,18}</string>
<key>spriteSize</key>
<string>{62,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,396},{62,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,15}</string>
<key>spriteSize</key>
<string>{76,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,2},{76,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,19}</string>
<key>spriteSize</key>
<string>{56,74}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,540},{56,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,37}</string>
<key>spriteSize</key>
<string>{54,68}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,598},{54,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{54,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{524,398},{54,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,88}</string>
<key>spriteSize</key>
<string>{62,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,476},{62,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>cw5002_b_50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,15}</string>
<key>spriteSize</key>
<string>{86,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{750,2},{86,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,13}</string>
<key>spriteSize</key>
<string>{84,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{748,90},{84,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>cw5002_b_50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,14}</string>
<key>spriteSize</key>
<string>{80,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,168},{80,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PET_5002.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PET_5002.png</string>
</dict>
</dict>
</plist>