<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVE_CW5002_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,107}</string>
<key>spriteSize</key>
<string>{92,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{92,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,96}</string>
<key>spriteSize</key>
<string>{90,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{90,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,89}</string>
<key>spriteSize</key>
<string>{88,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{94,2},{88,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,104}</string>
<key>spriteSize</key>
<string>{86,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,248},{86,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,147}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,124},{92,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,172}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{92,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,206}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,248},{92,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-105}</string>
<key>spriteSize</key>
<string>{96,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,2},{96,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5002_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-102}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,2},{86,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5002_10045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-100}</string>
<key>spriteSize</key>
<string>{84,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,90},{84,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5002_10050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-104}</string>
<key>spriteSize</key>
<string>{96,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,2},{96,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10055.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,-103}</string>
<key>spriteSize</key>
<string>{86,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{96,348},{86,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVE_CW5002_10060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-99}</string>
<key>spriteSize</key>
<string>{84,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,90},{84,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVE_CW5002_10065.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-399.5,299.5}</string>
<key>spriteSize</key>
<string>{1,1}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{90,348},{1,1}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_CW5002_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_CW5002_1.png</string>
</dict>
</dict>
</plist>