<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>PVP_CW5002_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,227}</string>
<key>spriteSize</key>
<string>{102,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{102,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_CW5002_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-236}</string>
<key>spriteSize</key>
<string>{98,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,190},{98,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_CW5002_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-227}</string>
<key>spriteSize</key>
<string>{104,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,2},{104,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_CW5002_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-226}</string>
<key>spriteSize</key>
<string>{96,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,202},{96,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_CW5002_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-224}</string>
<key>spriteSize</key>
<string>{84,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,380},{84,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>PVP_CW5002_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-226}</string>
<key>spriteSize</key>
<string>{88,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,290},{88,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_CW5002_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-227}</string>
<key>spriteSize</key>
<string>{86,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{100,282},{86,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_CW5002_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-224}</string>
<key>spriteSize</key>
<string>{96,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,92},{96,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>PVP_CW5002_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-227}</string>
<key>spriteSize</key>
<string>{98,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,106},{98,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_CW5002_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_CW5002_1.png</string>
</dict>
</dict>
</plist>