<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6007_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,57}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,1008},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,57}</string>
<key>spriteSize</key>
<string>{130,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,942},{130,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,58}</string>
<key>spriteSize</key>
<string>{128,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{714,932},{128,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,59}</string>
<key>spriteSize</key>
<string>{128,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1160},{128,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,59}</string>
<key>spriteSize</key>
<string>{128,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,1048},{128,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,58}</string>
<key>spriteSize</key>
<string>{128,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{868,828},{128,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,57}</string>
<key>spriteSize</key>
<string>{128,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{560,1046},{128,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,48}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,816},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,48}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1044},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,49}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,816},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,49}</string>
<key>spriteSize</key>
<string>{112,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,798},{112,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,49}</string>
<key>spriteSize</key>
<string>{112,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,702},{112,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,49}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,778},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,49}</string>
<key>spriteSize</key>
<string>{114,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,892},{114,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,34}</string>
<key>spriteSize</key>
<string>{82,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,338},{82,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,34}</string>
<key>spriteSize</key>
<string>{84,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,260},{84,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,35}</string>
<key>spriteSize</key>
<string>{86,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{700,172},{86,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,36}</string>
<key>spriteSize</key>
<string>{84,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{722,2},{84,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,36}</string>
<key>spriteSize</key>
<string>{82,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,130},{82,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,36}</string>
<key>spriteSize</key>
<string>{82,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{722,88},{82,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,35}</string>
<key>spriteSize</key>
<string>{82,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{854,270},{82,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,32}</string>
<key>spriteSize</key>
<string>{106,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,576},{106,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,32}</string>
<key>spriteSize</key>
<string>{104,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,356},{104,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,33}</string>
<key>spriteSize</key>
<string>{102,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,238},{102,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,34}</string>
<key>spriteSize</key>
<string>{102,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{354,234},{102,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,35}</string>
<key>spriteSize</key>
<string>{104,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{538,214},{104,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,34}</string>
<key>spriteSize</key>
<string>{104,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{668,346},{104,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,33}</string>
<key>spriteSize</key>
<string>{104,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,342},{104,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,43}</string>
<key>spriteSize</key>
<string>{140,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{448,700},{140,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,43}</string>
<key>spriteSize</key>
<string>{140,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{602,680},{140,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,44}</string>
<key>spriteSize</key>
<string>{138,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,684},{138,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,45}</string>
<key>spriteSize</key>
<string>{138,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,136},{138,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,46}</string>
<key>spriteSize</key>
<string>{138,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,2},{138,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,45}</string>
<key>spriteSize</key>
<string>{138,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,912},{138,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,43}</string>
<key>spriteSize</key>
<string>{138,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{884,700},{138,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,53}</string>
<key>spriteSize</key>
<string>{146,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,462},{146,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{144,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,560},{144,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,56}</string>
<key>spriteSize</key>
<string>{170,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,112},{170,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,51}</string>
<key>spriteSize</key>
<string>{148,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,442},{148,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,50}</string>
<key>spriteSize</key>
<string>{116,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1288},{116,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,51}</string>
<key>spriteSize</key>
<string>{160,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,234},{160,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,58}</string>
<key>spriteSize</key>
<string>{142,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,642},{142,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-51,54}</string>
<key>spriteSize</key>
<string>{144,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,578},{144,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-39,56}</string>
<key>spriteSize</key>
<string>{180,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,2},{180,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,59}</string>
<key>spriteSize</key>
<string>{128,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,1132},{128,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,50}</string>
<key>spriteSize</key>
<string>{116,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{844,954},{116,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,50}</string>
<key>spriteSize</key>
<string>{148,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,586},{148,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,49}</string>
<key>spriteSize</key>
<string>{148,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,684},{148,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,51}</string>
<key>spriteSize</key>
<string>{150,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,448},{150,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,42}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,1058},{104,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-49,46}</string>
<key>spriteSize</key>
<string>{134,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,928},{134,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,55}</string>
<key>spriteSize</key>
<string>{94,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{920,462},{94,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,50}</string>
<key>spriteSize</key>
<string>{148,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{622,452},{148,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,50}</string>
<key>spriteSize</key>
<string>{148,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,354},{148,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,45}</string>
<key>spriteSize</key>
<string>{152,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,422},{152,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{142,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,564},{142,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,31}</string>
<key>spriteSize</key>
<string>{108,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{914,584},{108,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,35}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1176},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,49}</string>
<key>spriteSize</key>
<string>{180,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{180,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,45}</string>
<key>spriteSize</key>
<string>{148,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{308,526},{148,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,44}</string>
<key>spriteSize</key>
<string>{150,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,462},{150,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,42}</string>
<key>spriteSize</key>
<string>{164,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,124},{164,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,42}</string>
<key>spriteSize</key>
<string>{138,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,826},{138,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,23}</string>
<key>spriteSize</key>
<string>{172,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{548,2},{172,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,34}</string>
<key>spriteSize</key>
<string>{168,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,118},{168,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,47}</string>
<key>spriteSize</key>
<string>{180,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,2},{180,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,42}</string>
<key>spriteSize</key>
<string>{154,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,320},{154,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,42}</string>
<key>spriteSize</key>
<string>{128,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,1066},{128,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,41}</string>
<key>spriteSize</key>
<string>{138,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{590,808},{138,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,43}</string>
<key>spriteSize</key>
<string>{136,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,930},{136,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE01_hero_6007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE01_hero_6007.png</string>
</dict>
</dict>
</plist>