<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pve_hero_6007_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-21}</string>
<key>spriteSize</key>
<string>{296,342}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{2,2},{296,342}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6007_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-22}</string>
<key>spriteSize</key>
<string>{298,334}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{300,2},{298,334}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6007_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-39}</string>
<key>spriteSize</key>
<string>{286,310}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{600,2},{286,310}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6007_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{102,124}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{218,346},{102,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_hero_6007_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-3}</string>
<key>spriteSize</key>
<string>{128,126}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{756,314},{128,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6007_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-2}</string>
<key>spriteSize</key>
<string>{132,140}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{622,314},{132,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pve_hero_6007_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-2}</string>
<key>spriteSize</key>
<string>{128,140}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{480,338},{128,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_hero_6007_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,1}</string>
<key>spriteSize</key>
<string>{130,134}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{344,338},{130,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_hero_6007_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-15}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{110,346},{120,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pve_hero_6007_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-19}</string>
<key>spriteSize</key>
<string>{122,106}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,346},{122,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pve_hero_6007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pve_hero_6007.png</string>
</dict>
</dict>
</plist>