<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6007_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,42}</string>
<key>spriteSize</key>
<string>{96,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,230},{96,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,44}</string>
<key>spriteSize</key>
<string>{132,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,364},{132,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,44}</string>
<key>spriteSize</key>
<string>{106,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,174},{106,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,50}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{300,936},{84,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,52}</string>
<key>spriteSize</key>
<string>{146,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,672},{146,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,52}</string>
<key>spriteSize</key>
<string>{136,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,298},{136,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_idle_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,47}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,476},{108,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,47}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{196,666},{108,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,48}</string>
<key>spriteSize</key>
<string>{108,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,332},{108,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,2},{106,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,48}</string>
<key>spriteSize</key>
<string>{106,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,154},{106,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,48}</string>
<key>spriteSize</key>
<string>{108,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{102,522},{108,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,47}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{106,820},{108,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,46}</string>
<key>spriteSize</key>
<string>{130,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,146},{130,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,47}</string>
<key>spriteSize</key>
<string>{118,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{520,2},{118,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,46}</string>
<key>spriteSize</key>
<string>{92,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{532,122},{92,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,44}</string>
<key>spriteSize</key>
<string>{108,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{458,254},{108,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,44}</string>
<key>spriteSize</key>
<string>{112,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,514},{112,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,47}</string>
<key>spriteSize</key>
<string>{170,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{82,2},{170,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,39}</string>
<key>spriteSize</key>
<string>{146,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,822},{146,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,41}</string>
<key>spriteSize</key>
<string>{148,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,522},{148,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,47}</string>
<key>spriteSize</key>
<string>{98,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,340},{98,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-50,52}</string>
<key>spriteSize</key>
<string>{150,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,2},{150,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,85}</string>
<key>spriteSize</key>
<string>{78,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{78,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,84}</string>
<key>spriteSize</key>
<string>{98,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,184},{98,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-34,55}</string>
<key>spriteSize</key>
<string>{122,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,616},{122,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,57}</string>
<key>spriteSize</key>
<string>{108,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,278},{108,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,57}</string>
<key>spriteSize</key>
<string>{96,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,436},{96,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,53}</string>
<key>spriteSize</key>
<string>{78,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,740},{78,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,50}</string>
<key>spriteSize</key>
<string>{104,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,614},{104,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,50}</string>
<key>spriteSize</key>
<string>{128,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{410,2},{128,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,46}</string>
<key>spriteSize</key>
<string>{128,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,806},{128,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,55}</string>
<key>spriteSize</key>
<string>{92,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,740},{92,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,50}</string>
<key>spriteSize</key>
<string>{82,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{400,936},{82,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,42}</string>
<key>spriteSize</key>
<string>{74,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,860},{74,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,77}</string>
<key>spriteSize</key>
<string>{86,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,936},{86,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,85}</string>
<key>spriteSize</key>
<string>{148,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,672},{148,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-42,106}</string>
<key>spriteSize</key>
<string>{120,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{424,132},{120,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6007_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,103}</string>
<key>spriteSize</key>
<string>{100,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,400},{100,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,105}</string>
<key>spriteSize</key>
<string>{90,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,472},{90,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,104}</string>
<key>spriteSize</key>
<string>{90,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{628,2},{90,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,103}</string>
<key>spriteSize</key>
<string>{92,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,364},{92,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,101}</string>
<key>spriteSize</key>
<string>{90,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,122},{90,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6007_skills_2_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,100}</string>
<key>spriteSize</key>
<string>{90,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,232},{90,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_6007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_6007.png</string>
</dict>
</dict>
</plist>