<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_7003_skill_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,1}</string>
<key>spriteSize</key>
<string>{201,29}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{479,84},{201,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,-3}</string>
<key>spriteSize</key>
<string>{255,41}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{171,248},{255,41}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-7}</string>
<key>spriteSize</key>
<string>{355,51}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{2,57},{355,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7003_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-6}</string>
<key>spriteSize</key>
<string>{365,53}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{2,2},{365,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7003_skill_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-5}</string>
<key>spriteSize</key>
<string>{343,57}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{2,158},{343,57}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-3}</string>
<key>spriteSize</key>
<string>{331,53}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{116,158},{331,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-1}</string>
<key>spriteSize</key>
<string>{335,53}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{61,158},{335,53}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{129,18}</string>
<key>spriteSize</key>
<string>{77,11}</string>
<key>spriteSourceSize</key>
<string>{375,353}</string>
<key>textureRect</key>
<string>{{489,2},{77,11}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-19}</string>
<key>spriteSize</key>
<string>{77,44}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{77,110},{77,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7003_skill_5_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-19}</string>
<key>spriteSize</key>
<string>{77,40}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{214,430},{77,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-20}</string>
<key>spriteSize</key>
<string>{77,42}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{156,110},{77,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7003_skill_5_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-18}</string>
<key>spriteSize</key>
<string>{73,46}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{2,110},{73,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_7003_skill_5_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-19}</string>
<key>spriteSize</key>
<string>{77,52}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{171,154},{77,52}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-16}</string>
<key>spriteSize</key>
<string>{71,48}</string>
<key>spriteSourceSize</key>
<string>{295,222}</string>
<key>textureRect</key>
<string>{{453,287},{71,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-11}</string>
<key>spriteSize</key>
<string>{72,118}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{359,84},{72,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-10}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{369,2},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-9}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{225,194},{86,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-9}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{328,326},{74,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-9}</string>
<key>spriteSize</key>
<string>{74,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{214,282},{74,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-9}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{339,248},{76,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-8}</string>
<key>spriteSize</key>
<string>{82,114}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{235,110},{82,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-8}</string>
<key>spriteSize</key>
<string>{88,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{351,158},{88,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{70,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{214,358},{70,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_7003_skill_5_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{68,112}</string>
<key>spriteSourceSize</key>
<string>{328,248}</string>
<key>textureRect</key>
<string>{{442,360},{68,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_7003_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_7003_skill_2.png</string>
</dict>
</dict>
</plist>