<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>YingXiongDiZuo_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-1}</string>
<key>spriteSize</key>
<string>{290,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,576},{290,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-1}</string>
<key>spriteSize</key>
<string>{288,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{99,484},{288,93}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,0}</string>
<key>spriteSize</key>
<string>{286,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{194,484},{286,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{294,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,196},{294,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,293},{292,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{292,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,770},{292,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-1}</string>
<key>spriteSize</key>
<string>{290,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,481},{290,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-1}</string>
<key>spriteSize</key>
<string>{288,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,865},{288,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,0}</string>
<key>spriteSize</key>
<string>{286,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{196,196},{286,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{294,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{298,99},{294,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,196},{292,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{292,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,675},{292,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_3_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-1}</string>
<key>spriteSize</key>
<string>{290,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,386},{290,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_3_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-1}</string>
<key>spriteSize</key>
<string>{288,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,861},{288,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_3_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,0}</string>
<key>spriteSize</key>
<string>{286,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{99,196},{286,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_3_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{294,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,99},{294,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_3_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,883},{292,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_3_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{292,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,580},{292,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-1}</string>
<key>spriteSize</key>
<string>{290,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,291},{290,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-1}</string>
<key>spriteSize</key>
<string>{288,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,766},{288,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,0}</string>
<key>spriteSize</key>
<string>{286,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{594,99},{286,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{294,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{298,2},{294,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,786},{292,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{292,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,485},{292,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_5_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-1}</string>
<key>spriteSize</key>
<string>{290,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,196},{290,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_5_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-1}</string>
<key>spriteSize</key>
<string>{288,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{590,671},{288,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_5_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,0}</string>
<key>spriteSize</key>
<string>{286,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{594,2},{286,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_5_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{294,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,2},{294,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_5_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,0}</string>
<key>spriteSize</key>
<string>{292,95}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{2,492},{292,95}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>YingXiongDiZuo_5_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{292,93}</string>
<key>spriteSourceSize</key>
<string>{378,117}</string>
<key>textureRect</key>
<string>{{296,390},{292,93}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>YingXiongDiZuo_yezi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{23,39}</string>
<key>spriteSourceSize</key>
<string>{71,119}</string>
<key>textureRect</key>
<string>{{296,960},{23,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>YingXiongDiZuo_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>YingXiongDiZuo_effect.png</string>
</dict>
</dict>
</plist>