<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ShenLu_huoyan_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-24}</string>
<key>spriteSize</key>
<string>{190,286}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{340,616},{190,286}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,-23}</string>
<key>spriteSize</key>
<string>{186,294}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{574,292},{186,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,-27}</string>
<key>spriteSize</key>
<string>{180,296}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{392,302},{180,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-13}</string>
<key>spriteSize</key>
<string>{162,302}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{838,2},{162,302}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,2}</string>
<key>spriteSize</key>
<string>{168,314}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{170,616},{168,314}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,12}</string>
<key>spriteSize</key>
<string>{166,320}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{2,616},{166,320}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,4}</string>
<key>spriteSize</key>
<string>{172,270}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{532,600},{172,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_huoyan_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,8}</string>
<key>spriteSize</key>
<string>{174,266}</string>
<key>spriteSourceSize</key>
<string>{276,350}</string>
<key>textureRect</key>
<string>{{706,588},{174,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_juji_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,0}</string>
<key>spriteSize</key>
<string>{392,288}</string>
<key>spriteSourceSize</key>
<string>{534,392}</string>
<key>textureRect</key>
<string>{{444,2},{392,288}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_juji_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{440,298}</string>
<key>spriteSourceSize</key>
<string>{534,392}</string>
<key>textureRect</key>
<string>{{2,2},{440,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_juji_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{440,298}</string>
<key>spriteSourceSize</key>
<string>{534,392}</string>
<key>textureRect</key>
<string>{{2,2},{440,298}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_juji_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,0}</string>
<key>spriteSize</key>
<string>{388,312}</string>
<key>spriteSourceSize</key>
<string>{534,392}</string>
<key>textureRect</key>
<string>{{2,302},{388,312}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ShenLu_juji_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,0}</string>
<key>spriteSize</key>
<string>{226,250}</string>
<key>spriteSourceSize</key>
<string>{534,392}</string>
<key>textureRect</key>
<string>{{762,306},{226,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ShenLu_huoyan.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ShenLu_huoyan.png</string>
</dict>
</dict>
</plist>