<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8007_idle_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,122}</string>
<key>spriteSize</key>
<string>{258,324}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,522},{258,324}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,122}</string>
<key>spriteSize</key>
<string>{256,328}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,518},{256,328}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,120}</string>
<key>spriteSize</key>
<string>{254,336}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{678,2},{254,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,119}</string>
<key>spriteSize</key>
<string>{254,336}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,2},{254,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,118}</string>
<key>spriteSize</key>
<string>{256,336}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{256,336}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,117}</string>
<key>spriteSize</key>
<string>{258,334}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,258},{258,334}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,116}</string>
<key>spriteSize</key>
<string>{260,332}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,260},{260,332}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,117}</string>
<key>spriteSize</key>
<string>{260,330}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{676,258},{260,330}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,121}</string>
<key>spriteSize</key>
<string>{262,322}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,520},{262,322}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,121}</string>
<key>spriteSize</key>
<string>{260,320}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,782},{260,320}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_idle_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,121}</string>
<key>spriteSize</key>
<string>{260,320}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,776},{260,320}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8007.png</string>
</dict>
</dict>
</plist>