<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8007_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,34}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,678},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,34}</string>
<key>spriteSize</key>
<string>{112,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,682},{112,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,34}</string>
<key>spriteSize</key>
<string>{110,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,320},{110,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,33}</string>
<key>spriteSize</key>
<string>{108,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,436},{108,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,32}</string>
<key>spriteSize</key>
<string>{110,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{426,402},{110,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{110,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{570,320},{110,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{110,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,102},{110,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,102},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,31}</string>
<key>spriteSize</key>
<string>{112,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,344},{112,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,32}</string>
<key>spriteSize</key>
<string>{112,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,662},{112,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,33}</string>
<key>spriteSize</key>
<string>{112,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,564},{112,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,33}</string>
<key>spriteSize</key>
<string>{112,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{418,630},{112,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{94,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,980},{94,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{94,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{408,938},{94,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{92,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,968},{92,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{92,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,886},{92,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{92,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,874},{92,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{94,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,744},{94,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{694,666},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,34}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,636},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,34}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,796},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{96,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,840},{96,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{96,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{550,770},{96,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,35}</string>
<key>spriteSize</key>
<string>{96,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{546,868},{96,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{98,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{370,1466},{98,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{98,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{768,1260},{98,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{98,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1402},{98,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{96,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{258,1286},{96,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{98,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,1262},{98,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{100,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{922,1050},{100,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8007_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,35}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,1268},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,35}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,1196},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,36}</string>
<key>spriteSize</key>
<string>{102,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,1384},{102,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,36}</string>
<key>spriteSize</key>
<string>{104,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1292},{104,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{102,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{382,1362},{102,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{100,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{126,1398},{100,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{100,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,218},{100,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{100,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,242},{100,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{722,2},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{96,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,2},{96,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,35}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,2},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,35}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,2},{98,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,35}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{290,2},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,35}</string>
<key>spriteSize</key>
<string>{100,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,2},{100,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,218},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{104,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{718,214},{104,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{860,216},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,36}</string>
<key>spriteSize</key>
<string>{102,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{576,216},{102,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{420,514},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{566,432},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{112,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{144,322},{112,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{288,104},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,128},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,39}</string>
<key>spriteSize</key>
<string>{112,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,104},{112,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{434,102},{114,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{866,100},{114,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{286,320},{114,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_57.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{710,320},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_58.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,566},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_A_59.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,39}</string>
<key>spriteSize</key>
<string>{114,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,546},{114,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,35}</string>
<key>spriteSize</key>
<string>{100,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{684,866},{100,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,38}</string>
<key>spriteSize</key>
<string>{106,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,966},{106,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,41}</string>
<key>spriteSize</key>
<string>{124,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{396,1136},{124,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8007_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,36}</string>
<key>spriteSize</key>
<string>{122,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{670,968},{122,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,41}</string>
<key>spriteSize</key>
<string>{108,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{830,734},{108,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,45}</string>
<key>spriteSize</key>
<string>{82,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{816,966},{82,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,19}</string>
<key>spriteSize</key>
<string>{92,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{534,1074},{92,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{92,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{276,792},{92,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,34}</string>
<key>spriteSize</key>
<string>{96,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,776},{96,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,35}</string>
<key>spriteSize</key>
<string>{100,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,436},{100,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,37}</string>
<key>spriteSize</key>
<string>{120,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,844},{120,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,32}</string>
<key>spriteSize</key>
<string>{124,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{558,548},{124,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,43}</string>
<key>spriteSize</key>
<string>{102,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,1156},{102,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,49}</string>
<key>spriteSize</key>
<string>{100,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,1488},{100,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{114,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1286},{114,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,36}</string>
<key>spriteSize</key>
<string>{100,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,1034},{100,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,40}</string>
<key>spriteSize</key>
<string>{100,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{504,1374},{100,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,38}</string>
<key>spriteSize</key>
<string>{104,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,1050},{104,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,38}</string>
<key>spriteSize</key>
<string>{116,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,1168},{116,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{100,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1184},{100,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,42}</string>
<key>spriteSize</key>
<string>{110,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,1174},{110,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,53}</string>
<key>spriteSize</key>
<string>{90,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{266,1076},{90,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,34}</string>
<key>spriteSize</key>
<string>{110,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,1180},{110,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,37}</string>
<key>spriteSize</key>
<string>{90,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,1302},{90,120}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{94,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,218},{94,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,34}</string>
<key>spriteSize</key>
<string>{100,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{690,764},{100,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,36}</string>
<key>spriteSize</key>
<string>{98,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{522,1168},{98,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,40}</string>
<key>spriteSize</key>
<string>{102,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,1092},{102,122}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,39}</string>
<key>spriteSize</key>
<string>{136,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,436},{136,126}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8007_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,50}</string>
<key>spriteSize</key>
<string>{94,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{554,674},{94,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,34}</string>
<key>spriteSize</key>
<string>{116,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,1062},{116,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,34}</string>
<key>spriteSize</key>
<string>{86,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{428,314},{86,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,40}</string>
<key>spriteSize</key>
<string>{102,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,432},{102,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{106,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,458},{106,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,34}</string>
<key>spriteSize</key>
<string>{124,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{124,142}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{126,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{704,538},{126,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,36}</string>
<key>spriteSize</key>
<string>{112,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1070},{112,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,37}</string>
<key>spriteSize</key>
<string>{82,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,894},{82,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,44}</string>
<key>spriteSize</key>
<string>{90,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,978},{90,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8007_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,37}</string>
<key>spriteSize</key>
<string>{98,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{842,536},{98,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8007.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8007.png</string>
</dict>
</dict>
</plist>