<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>HuoDong_zhaohuanui_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,0}</string>
<key>spriteSize</key>
<string>{153,364}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{322,2},{153,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_zhaohuanui_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,-7}</string>
<key>spriteSize</key>
<string>{155,350}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{312,368},{155,350}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>HuoDong_zhaohuanui_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-28}</string>
<key>spriteSize</key>
<string>{201,308}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{2,199},{201,308}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HuoDong_zhaohuanui_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-63}</string>
<key>spriteSize</key>
<string>{201,238}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{2,605},{201,238}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HuoDong_zhaohuanui_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-58}</string>
<key>spriteSize</key>
<string>{201,248}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{2,402},{201,248}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>HuoDong_zhaohuanui_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-23}</string>
<key>spriteSize</key>
<string>{195,318}</string>
<key>spriteSourceSize</key>
<string>{201,364}</string>
<key>textureRect</key>
<string>{{2,2},{195,318}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>HuoDong_zhaohuanui.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>HuoDong_zhaohuanui.png</string>
</dict>
</dict>
</plist>