<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9024_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,29}</string>
<key>spriteSize</key>
<string>{82,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,558},{82,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,29}</string>
<key>spriteSize</key>
<string>{84,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,642},{84,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,31}</string>
<key>spriteSize</key>
<string>{80,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{204,598},{80,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,31}</string>
<key>spriteSize</key>
<string>{84,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,464},{84,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,30}</string>
<key>spriteSize</key>
<string>{82,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{212,428},{82,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,29}</string>
<key>spriteSize</key>
<string>{84,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{208,512},{84,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,30}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{308,590},{82,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,29}</string>
<key>spriteSize</key>
<string>{84,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{108,392},{84,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,36}</string>
<key>spriteSize</key>
<string>{62,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{308,526},{62,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,31}</string>
<key>spriteSize</key>
<string>{70,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,392},{70,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,32}</string>
<key>spriteSize</key>
<string>{74,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{324,384},{74,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,38}</string>
<key>spriteSize</key>
<string>{78,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,478},{78,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,38}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{408,538},{82,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,32}</string>
<key>spriteSize</key>
<string>{76,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{328,306},{76,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,29}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{348,158},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,31}</string>
<key>spriteSize</key>
<string>{58,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{224,220},{58,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,44}</string>
<key>spriteSize</key>
<string>{74,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,550},{74,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{76,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{434,334},{76,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9024_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,38}</string>
<key>spriteSize</key>
<string>{74,104}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{218,352},{74,104}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,40}</string>
<key>spriteSize</key>
<string>{64,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,242},{64,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,38}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,230},{74,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,33}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{356,80},{76,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,34}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,88},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,41}</string>
<key>spriteSize</key>
<string>{64,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{314,460},{64,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,44}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{80,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,42}</string>
<key>spriteSize</key>
<string>{74,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,166},{74,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,46}</string>
<key>spriteSize</key>
<string>{68,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{442,230},{68,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9024_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,46}</string>
<key>spriteSize</key>
<string>{58,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{236,160},{58,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,45}</string>
<key>spriteSize</key>
<string>{62,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,328},{62,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,41}</string>
<key>spriteSize</key>
<string>{70,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{220,280},{70,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,45}</string>
<key>spriteSize</key>
<string>{74,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,626},{74,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,43}</string>
<key>spriteSize</key>
<string>{76,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{356,2},{76,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,44}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,2},{78,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{242,2},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{82,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,308},{82,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{80,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,84},{80,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,42}</string>
<key>spriteSize</key>
<string>{78,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,82},{78,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,40}</string>
<key>spriteSize</key>
<string>{82,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{112,244},{82,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9024_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,42}</string>
<key>spriteSize</key>
<string>{80,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{430,434},{80,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9024_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,44}</string>
<key>spriteSize</key>
<string>{80,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{114,162},{80,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9024_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9024_run.png</string>
</dict>
</dict>
</plist>