<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6011_dibao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-24}</string>
<key>spriteSize</key>
<string>{104,75}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{368,491},{104,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_dibao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-28}</string>
<key>spriteSize</key>
<string>{178,113}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{217,622},{178,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_dibao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-23}</string>
<key>spriteSize</key>
<string>{198,123}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{382,2},{198,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_dibao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-15}</string>
<key>spriteSize</key>
<string>{216,137}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{2,698},{216,137}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_dibao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{216,141}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{2,480},{216,141}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_dibao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-9}</string>
<key>spriteSize</key>
<string>{178,147}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{188,299},{178,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_dibao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-6}</string>
<key>spriteSize</key>
<string>{172,149}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{217,448},{172,149}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_dibao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,-4}</string>
<key>spriteSize</key>
<string>{174,145}</string>
<key>spriteSourceSize</key>
<string>{284,213}</string>
<key>textureRect</key>
<string>{{141,737},{174,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_huoyan_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{133,47}</string>
<key>spriteSourceSize</key>
<string>{139,83}</string>
<key>textureRect</key>
<string>{{397,597},{133,47}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-50}</string>
<key>spriteSize</key>
<string>{36,35}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{326,921},{36,35}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-27}</string>
<key>spriteSize</key>
<string>{112,111}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{317,737},{112,111}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{188,223}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{192,2},{188,223}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{188,237}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{2,2},{188,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{184,237}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{2,241},{184,237}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,2}</string>
<key>spriteSize</key>
<string>{118,165}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{159,884},{118,165}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,2}</string>
<key>spriteSize</key>
<string>{104,155}</string>
<key>spriteSourceSize</key>
<string>{188,237}</string>
<key>textureRect</key>
<string>{{2,916},{104,155}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{178,68}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{326,851},{178,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-2}</string>
<key>spriteSize</key>
<string>{194,70}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{192,227},{194,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6011_jian_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,-2}</string>
<key>spriteSize</key>
<string>{198,70}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{145,480},{198,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,-1}</string>
<key>spriteSize</key>
<string>{190,70}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{368,299},{190,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,2}</string>
<key>spriteSize</key>
<string>{190,64}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{440,202},{190,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6011_jian_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,2}</string>
<key>spriteSize</key>
<string>{188,58}</string>
<key>spriteSourceSize</key>
<string>{300,188}</string>
<key>textureRect</key>
<string>{{445,394},{188,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_6005_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_6005_skill_2.png</string>
</dict>
</dict>
</plist>