<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9015_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,29}</string>
<key>spriteSize</key>
<string>{94,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{292,340},{94,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,27}</string>
<key>spriteSize</key>
<string>{92,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,486},{92,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,19}</string>
<key>spriteSize</key>
<string>{96,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,170},{96,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,15}</string>
<key>spriteSize</key>
<string>{96,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,248},{96,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{96,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,246},{96,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,29}</string>
<key>spriteSize</key>
<string>{96,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,84},{96,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,23}</string>
<key>spriteSize</key>
<string>{100,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,2},{100,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,18}</string>
<key>spriteSize</key>
<string>{100,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{308,2},{100,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,15}</string>
<key>spriteSize</key>
<string>{100,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{410,74},{100,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,26}</string>
<key>spriteSize</key>
<string>{96,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,246},{96,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,31}</string>
<key>spriteSize</key>
<string>{74,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{392,322},{74,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{104,2},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,26}</string>
<key>spriteSize</key>
<string>{74,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{290,414},{74,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,26}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,718},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,28}</string>
<key>spriteSize</key>
<string>{82,62}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{272,566},{82,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,27}</string>
<key>spriteSize</key>
<string>{86,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{384,478},{86,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,22}</string>
<key>spriteSize</key>
<string>{96,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,168},{96,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,21}</string>
<key>spriteSize</key>
<string>{100,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{410,2},{100,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,24}</string>
<key>spriteSize</key>
<string>{92,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{192,482},{92,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,33}</string>
<key>spriteSize</key>
<string>{82,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{90,582},{82,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,36}</string>
<key>spriteSize</key>
<string>{82,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{308,76},{82,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,37}</string>
<key>spriteSize</key>
<string>{80,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{80,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,32}</string>
<key>spriteSize</key>
<string>{78,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{388,398},{78,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,31}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{286,490},{74,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,35}</string>
<key>spriteSize</key>
<string>{66,66}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{168,704},{66,66}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,35}</string>
<key>spriteSize</key>
<string>{72,64}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,692},{72,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,31}</string>
<key>spriteSize</key>
<string>{78,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{356,614},{78,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,29}</string>
<key>spriteSize</key>
<string>{78,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{436,690},{78,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,30}</string>
<key>spriteSize</key>
<string>{74,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{436,614},{74,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,35}</string>
<key>spriteSize</key>
<string>{74,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,568},{74,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,36}</string>
<key>spriteSize</key>
<string>{94,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{306,160},{94,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,34}</string>
<key>spriteSize</key>
<string>{96,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{408,138},{96,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,31}</string>
<key>spriteSize</key>
<string>{92,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,402},{92,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,33}</string>
<key>spriteSize</key>
<string>{82,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{188,548},{82,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,37}</string>
<key>spriteSize</key>
<string>{72,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,644},{72,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,36}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{372,544},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,34}</string>
<key>spriteSize</key>
<string>{78,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{174,624},{78,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,35}</string>
<key>spriteSize</key>
<string>{76,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{256,630},{76,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,34}</string>
<key>spriteSize</key>
<string>{72,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{86,658},{72,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,37}</string>
<key>spriteSize</key>
<string>{82,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{198,164},{82,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,390},{90,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9015_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,490},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{94,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{296,256},{94,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,31}</string>
<key>spriteSize</key>
<string>{94,74}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,314},{94,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,35}</string>
<key>spriteSize</key>
<string>{94,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,316},{94,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,34}</string>
<key>spriteSize</key>
<string>{92,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{98,400},{92,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,30}</string>
<key>spriteSize</key>
<string>{96,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{404,234},{96,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,33}</string>
<key>spriteSize</key>
<string>{96,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,84},{96,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,36}</string>
<key>spriteSize</key>
<string>{98,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,82},{98,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9015_run_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{94,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,312},{94,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9015_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9015_run.png</string>
</dict>
</dict>
</plist>