<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8032_guang2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{60,61}</string>
<key>spriteSourceSize</key>
<string>{76,77}</string>
<key>textureRect</key>
<string>{{446,2},{60,61}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8032_jianshe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{134,135}</string>
<key>spriteSourceSize</key>
<string>{146,147}</string>
<key>textureRect</key>
<string>{{2,742},{134,135}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033__yingui_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,21}</string>
<key>spriteSize</key>
<string>{155,177}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{2,432},{155,177}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033__yingui_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-6}</string>
<key>spriteSize</key>
<string>{153,151}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{2,589},{153,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033__yingui_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-9}</string>
<key>spriteSize</key>
<string>{187,189}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{221,420},{187,189}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033__yingui_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{205,197}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{221,221},{205,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033__yingui_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{223,215}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{2,2},{223,215}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033__yingui_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-4}</string>
<key>spriteSize</key>
<string>{217,217}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{227,2},{217,217}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033__yingui_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-4}</string>
<key>spriteSize</key>
<string>{211,217}</string>
<key>spriteSourceSize</key>
<string>{257,251}</string>
<key>textureRect</key>
<string>{{2,219},{211,217}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>xiangsuge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{9,9}</string>
<key>spriteSourceSize</key>
<string>{9,9}</string>
<key>textureRect</key>
<string>{{446,64},{9,9}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8033_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8033_skills_2.png</string>
</dict>
</dict>
</plist>