<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8033_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,76}</string>
<key>spriteSize</key>
<string>{178,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,188},{178,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,76}</string>
<key>spriteSize</key>
<string>{178,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,374},{178,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,76}</string>
<key>spriteSize</key>
<string>{178,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{516,564},{178,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,77}</string>
<key>spriteSize</key>
<string>{178,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,762},{178,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,77}</string>
<key>spriteSize</key>
<string>{176,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,1720},{176,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,77}</string>
<key>spriteSize</key>
<string>{176,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,1542},{176,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,77}</string>
<key>spriteSize</key>
<string>{176,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1720},{176,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,77}</string>
<key>spriteSize</key>
<string>{176,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1542},{176,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,76}</string>
<key>spriteSize</key>
<string>{174,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,1528},{174,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,76}</string>
<key>spriteSize</key>
<string>{176,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{184,1350},{176,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,75}</string>
<key>spriteSize</key>
<string>{166,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,536},{166,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,76}</string>
<key>spriteSize</key>
<string>{168,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,1876},{168,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,75}</string>
<key>spriteSize</key>
<string>{166,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{654,914},{166,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,76}</string>
<key>spriteSize</key>
<string>{166,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{614,1112},{166,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,77}</string>
<key>spriteSize</key>
<string>{166,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,368},{166,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,77}</string>
<key>spriteSize</key>
<string>{166,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,554},{166,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,76}</string>
<key>spriteSize</key>
<string>{164,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{788,1448},{164,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,76}</string>
<key>spriteSize</key>
<string>{164,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,1616},{164,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,76}</string>
<key>spriteSize</key>
<string>{166,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,2},{166,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,75}</string>
<key>spriteSize</key>
<string>{166,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,722},{166,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,65}</string>
<key>spriteSize</key>
<string>{140,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,1336},{140,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,65}</string>
<key>spriteSize</key>
<string>{136,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{476,1158},{136,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,64}</string>
<key>spriteSize</key>
<string>{134,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{340,1158},{134,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,64}</string>
<key>spriteSize</key>
<string>{132,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{802,2},{132,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,63}</string>
<key>spriteSize</key>
<string>{132,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{346,762},{132,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,61}</string>
<key>spriteSize</key>
<string>{132,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,188},{132,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,60}</string>
<key>spriteSize</key>
<string>{130,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,980},{130,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,61}</string>
<key>spriteSize</key>
<string>{134,184}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,378},{134,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,63}</string>
<key>spriteSize</key>
<string>{140,178}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{660,2},{140,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,64}</string>
<key>spriteSize</key>
<string>{142,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,1334},{142,172}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,50}</string>
<key>spriteSize</key>
<string>{162,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,2},{162,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,50}</string>
<key>spriteSize</key>
<string>{160,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1170},{160,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,51}</string>
<key>spriteSize</key>
<string>{160,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,790},{160,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{158,190}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,400},{158,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,50}</string>
<key>spriteSize</key>
<string>{158,194}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,400},{158,194}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,48}</string>
<key>spriteSize</key>
<string>{158,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,2},{158,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,46}</string>
<key>spriteSize</key>
<string>{158,198}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{158,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{160,196}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,202},{160,196}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,47}</string>
<key>spriteSize</key>
<string>{162,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,596},{162,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,48}</string>
<key>spriteSize</key>
<string>{164,188}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,200},{164,188}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,51}</string>
<key>spriteSize</key>
<string>{184,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,192},{184,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,52}</string>
<key>spriteSize</key>
<string>{184,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,576},{184,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,53}</string>
<key>spriteSize</key>
<string>{184,172}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,2},{184,172}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,53}</string>
<key>spriteSize</key>
<string>{184,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,390},{184,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,52}</string>
<key>spriteSize</key>
<string>{184,176}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,592},{184,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,51}</string>
<key>spriteSize</key>
<string>{184,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,790},{184,180}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,49}</string>
<key>spriteSize</key>
<string>{184,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,980},{184,182}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,49}</string>
<key>spriteSize</key>
<string>{180,182}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1358},{180,182}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,49}</string>
<key>spriteSize</key>
<string>{180,180}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,976},{180,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,49}</string>
<key>spriteSize</key>
<string>{182,174}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,1166},{182,174}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,75}</string>
<key>spriteSize</key>
<string>{170,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,1704},{170,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,74}</string>
<key>spriteSize</key>
<string>{138,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1232,1876},{138,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,75}</string>
<key>spriteSize</key>
<string>{140,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1278,1548},{140,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,77}</string>
<key>spriteSize</key>
<string>{154,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{936,704},{154,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,76}</string>
<key>spriteSize</key>
<string>{160,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{496,1704},{160,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,78}</string>
<key>spriteSize</key>
<string>{146,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1102,2},{146,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,78}</string>
<key>spriteSize</key>
<string>{150,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{970,170},{150,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,78}</string>
<key>spriteSize</key>
<string>{154,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{966,350},{154,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,77}</string>
<key>spriteSize</key>
<string>{152,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1068,1056},{152,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,78}</string>
<key>spriteSize</key>
<string>{164,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{906,1250},{164,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,78}</string>
<key>spriteSize</key>
<string>{134,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1070,1910},{134,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,79}</string>
<key>spriteSize</key>
<string>{126,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1070,1746},{126,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,77}</string>
<key>spriteSize</key>
<string>{122,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1070,1222},{122,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,77}</string>
<key>spriteSize</key>
<string>{146,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1092,684},{146,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,77}</string>
<key>spriteSize</key>
<string>{130,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{954,1416},{130,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,77}</string>
<key>spriteSize</key>
<string>{138,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,1782},{138,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,77}</string>
<key>spriteSize</key>
<string>{150,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1088,870},{150,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,77}</string>
<key>spriteSize</key>
<string>{166,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,182},{166,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,70}</string>
<key>spriteSize</key>
<string>{124,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,744},{124,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,74}</string>
<key>spriteSize</key>
<string>{116,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{952,1780},{116,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,75}</string>
<key>spriteSize</key>
<string>{108,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{820,890},{108,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,75}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{780,1082},{128,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,75}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{776,1280},{128,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-23,74}</string>
<key>spriteSize</key>
<string>{132,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,1614},{132,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-26,73}</string>
<key>spriteSize</key>
<string>{136,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1222,1036},{136,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,73}</string>
<key>spriteSize</key>
<string>{142,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1194,1222},{142,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-31,70}</string>
<key>spriteSize</key>
<string>{140,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,1280},{140,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,67}</string>
<key>spriteSize</key>
<string>{164,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{930,890},{164,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,69}</string>
<key>spriteSize</key>
<string>{158,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1118,1552},{158,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,72}</string>
<key>spriteSize</key>
<string>{156,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{910,1058},{156,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,74}</string>
<key>spriteSize</key>
<string>{152,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1012,518},{152,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,72}</string>
<key>spriteSize</key>
<string>{130,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{656,1448},{130,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,73}</string>
<key>spriteSize</key>
<string>{150,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1086,1388},{150,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,71}</string>
<key>spriteSize</key>
<string>{148,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1898},{148,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,68}</string>
<key>spriteSize</key>
<string>{158,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{958,1582},{158,162}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,62}</string>
<key>spriteSize</key>
<string>{158,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{506,1874},{158,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,65}</string>
<key>spriteSize</key>
<string>{176,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,1898},{176,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,65}</string>
<key>spriteSize</key>
<string>{140,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1372,1868},{140,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,65}</string>
<key>spriteSize</key>
<string>{140,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1198,1714},{140,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,70}</string>
<key>spriteSize</key>
<string>{156,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,1508},{156,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,70}</string>
<key>spriteSize</key>
<string>{152,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,942},{152,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,70}</string>
<key>spriteSize</key>
<string>{144,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{666,1782},{144,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,71}</string>
<key>spriteSize</key>
<string>{146,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1340,1710},{146,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,66}</string>
<key>spriteSize</key>
<string>{152,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1338,1200},{152,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,63}</string>
<key>spriteSize</key>
<string>{156,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{1238,1386},{156,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8033.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8033.png</string>
</dict>
</dict>
</plist>