<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8033_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,49}</string>
<key>spriteSize</key>
<string>{150,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,720},{150,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,65}</string>
<key>spriteSize</key>
<string>{186,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,2},{186,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,5}</string>
<key>spriteSize</key>
<string>{206,50}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{206,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,71}</string>
<key>spriteSize</key>
<string>{116,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{624,832},{116,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,60}</string>
<key>spriteSize</key>
<string>{126,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{594,950},{126,124}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,66}</string>
<key>spriteSize</key>
<string>{158,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,308},{158,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,70}</string>
<key>spriteSize</key>
<string>{156,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,456},{156,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,70}</string>
<key>spriteSize</key>
<string>{156,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{514,444},{156,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,71}</string>
<key>spriteSize</key>
<string>{156,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,448},{156,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,71}</string>
<key>spriteSize</key>
<string>{154,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,702},{154,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,72}</string>
<key>spriteSize</key>
<string>{154,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,596},{154,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,71}</string>
<key>spriteSize</key>
<string>{154,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,446},{154,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,70}</string>
<key>spriteSize</key>
<string>{154,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,300},{154,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,71}</string>
<key>spriteSize</key>
<string>{154,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,602},{154,154}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,71}</string>
<key>spriteSize</key>
<string>{156,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,310},{156,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,70}</string>
<key>spriteSize</key>
<string>{156,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{730,294},{156,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,72}</string>
<key>spriteSize</key>
<string>{136,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,582},{136,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,72}</string>
<key>spriteSize</key>
<string>{120,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,752},{120,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,73}</string>
<key>spriteSize</key>
<string>{116,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,602},{116,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,74}</string>
<key>spriteSize</key>
<string>{118,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,464},{118,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,74}</string>
<key>spriteSize</key>
<string>{134,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{888,294},{134,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,74}</string>
<key>spriteSize</key>
<string>{116,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,584},{116,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,73}</string>
<key>spriteSize</key>
<string>{128,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,452},{128,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,73}</string>
<key>spriteSize</key>
<string>{138,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,758},{138,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,72}</string>
<key>spriteSize</key>
<string>{154,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,608},{154,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,71}</string>
<key>spriteSize</key>
<string>{164,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{564,290},{164,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,71}</string>
<key>spriteSize</key>
<string>{164,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,146},{164,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,70}</string>
<key>spriteSize</key>
<string>{164,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{190,158},{164,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,75}</string>
<key>spriteSize</key>
<string>{140,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,166},{140,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,60}</string>
<key>spriteSize</key>
<string>{136,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,2},{136,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,53}</string>
<key>spriteSize</key>
<string>{110,186}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,54},{110,186}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,66}</string>
<key>spriteSize</key>
<string>{110,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{314,762},{110,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,67}</string>
<key>spriteSize</key>
<string>{112,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1028},{112,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,68}</string>
<key>spriteSize</key>
<string>{130,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,874},{130,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,69}</string>
<key>spriteSize</key>
<string>{122,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{786,720},{122,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,66}</string>
<key>spriteSize</key>
<string>{126,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{452,874},{126,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,69}</string>
<key>spriteSize</key>
<string>{128,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,898},{128,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,68}</string>
<key>spriteSize</key>
<string>{138,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{772,844},{138,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,68}</string>
<key>spriteSize</key>
<string>{126,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{150,1002},{126,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8033_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-28,68}</string>
<key>spriteSize</key>
<string>{146,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,856},{146,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-32,66}</string>
<key>spriteSize</key>
<string>{170,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,2},{170,140}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,67}</string>
<key>spriteSize</key>
<string>{180,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,2},{180,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,68}</string>
<key>spriteSize</key>
<string>{166,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,144},{166,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8033_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,72}</string>
<key>spriteSize</key>
<string>{166,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{752,140},{166,152}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8033.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8033.png</string>
</dict>
</dict>
</plist>