<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8034_LONG 2_0.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-18}</string>
<key>spriteSize</key>
<string>{239,177}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{765,2},{239,177}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-17}</string>
<key>spriteSize</key>
<string>{245,181}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{259,163},{245,181}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,33}</string>
<key>spriteSize</key>
<string>{229,179}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{2,352},{229,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{233,203}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{765,181},{233,203}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_3.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,-2}</string>
<key>spriteSize</key>
<string>{233,197}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{506,205},{233,197}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_4.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-3}</string>
<key>spriteSize</key>
<string>{217,191}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{2,533},{217,191}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_5.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{241,167}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{2,183},{241,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_6.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,-7}</string>
<key>spriteSize</key>
<string>{255,159}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{259,2},{255,159}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_7.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,3}</string>
<key>spriteSize</key>
<string>{255,179}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{2,2},{255,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_8.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,16}</string>
<key>spriteSize</key>
<string>{229,211}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{245,346},{229,211}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_LONG 2_9.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,22}</string>
<key>spriteSize</key>
<string>{247,201}</string>
<key>spriteSourceSize</key>
<string>{323,301}</string>
<key>textureRect</key>
<string>{{516,2},{247,201}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8034_skills_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8034_skills_2.png</string>
</dict>
</dict>
</plist>