<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8032_jianshe.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{134,135}</string>
<key>spriteSourceSize</key>
<string>{146,147}</string>
<key>textureRect</key>
<string>{{366,239},{134,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_beijing_2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{216,384}</string>
<key>spriteSourceSize</key>
<string>{216,384}</string>
<key>textureRect</key>
<string>{{2,2},{216,384}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_longtou.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{302,209}</string>
<key>spriteSourceSize</key>
<string>{302,213}</string>
<key>textureRect</key>
<string>{{155,220},{302,209}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_longtou2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{236,176}</string>
<key>spriteSourceSize</key>
<string>{238,176}</string>
<key>textureRect</key>
<string>{{155,524},{236,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_longyan.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{119,103}</string>
<key>spriteSourceSize</key>
<string>{125,103}</string>
<key>textureRect</key>
<string>{{388,2},{119,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_xiangsuge.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{9,9}</string>
<key>spriteSourceSize</key>
<string>{9,9}</string>
<key>textureRect</key>
<string>{{465,107},{9,9}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_zhilong2.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,-31}</string>
<key>spriteSize</key>
<string>{704,151}</string>
<key>spriteSourceSize</key>
<string>{750,561}</string>
<key>textureRect</key>
<string>{{2,239},{704,151}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>bzguang1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,75}</string>
<key>spriteSourceSize</key>
<string>{75,75}</string>
<key>textureRect</key>
<string>{{388,107},{75,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guanban1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{53,53}</string>
<key>spriteSourceSize</key>
<string>{59,59}</string>
<key>textureRect</key>
<string>{{388,184},{53,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guangquan_a1.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{146,146}</string>
<key>spriteSourceSize</key>
<string>{600,600}</string>
<key>textureRect</key>
<string>{{155,702},{146,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8034_skills_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8034_skills_1.png</string>
</dict>
</dict>
</plist>