<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8034_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,109}</string>
<key>spriteSize</key>
<string>{300,350}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1206},{300,350}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,111}</string>
<key>spriteSize</key>
<string>{306,352}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{360,906},{306,352}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,111}</string>
<key>spriteSize</key>
<string>{308,358}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{372,596},{308,358}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,109}</string>
<key>spriteSize</key>
<string>{306,368}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,308},{306,368}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,109}</string>
<key>spriteSize</key>
<string>{304,374}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{304,374}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,110}</string>
<key>spriteSize</key>
<string>{298,374}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,2},{298,374}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,113}</string>
<key>spriteSize</key>
<string>{292,370}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,302},{292,370}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,118}</string>
<key>spriteSize</key>
<string>{290,356}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{732,596},{290,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,116}</string>
<key>spriteSize</key>
<string>{292,356}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,616},{292,356}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,112}</string>
<key>spriteSize</key>
<string>{294,352}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,910},{294,352}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_8034.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_8034.png</string>
</dict>
</dict>
</plist>