<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8034_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,74}</string>
<key>spriteSize</key>
<string>{130,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{804,988},{130,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,75}</string>
<key>spriteSize</key>
<string>{132,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,812},{132,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,75}</string>
<key>spriteSize</key>
<string>{134,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{330,426},{134,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,75}</string>
<key>spriteSize</key>
<string>{134,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,130},{134,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{132,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,132},{132,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,74}</string>
<key>spriteSize</key>
<string>{130,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{170,142},{130,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,74}</string>
<key>spriteSize</key>
<string>{130,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{828,336},{130,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,76}</string>
<key>spriteSize</key>
<string>{128,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{480,1178},{128,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,75}</string>
<key>spriteSize</key>
<string>{128,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{474,1448},{128,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,75}</string>
<key>spriteSize</key>
<string>{128,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{640,1052},{128,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,75}</string>
<key>spriteSize</key>
<string>{126,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{328,562},{126,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,75}</string>
<key>spriteSize</key>
<string>{124,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{490,654},{124,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,76}</string>
<key>spriteSize</key>
<string>{124,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,598},{124,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,75}</string>
<key>spriteSize</key>
<string>{120,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,266},{120,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,75}</string>
<key>spriteSize</key>
<string>{120,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,504},{120,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,75}</string>
<key>spriteSize</key>
<string>{120,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,690},{120,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,76}</string>
<key>spriteSize</key>
<string>{122,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1152},{122,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,76}</string>
<key>spriteSize</key>
<string>{126,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,914},{126,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,75}</string>
<key>spriteSize</key>
<string>{126,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{648,788},{126,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,75}</string>
<key>spriteSize</key>
<string>{128,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,524},{128,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,73}</string>
<key>spriteSize</key>
<string>{136,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{794,1244},{136,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,73}</string>
<key>spriteSize</key>
<string>{132,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,1162},{132,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,73}</string>
<key>spriteSize</key>
<string>{128,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{824,468},{128,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,72}</string>
<key>spriteSize</key>
<string>{126,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{492,526},{126,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,72}</string>
<key>spriteSize</key>
<string>{126,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,410},{126,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,72}</string>
<key>spriteSize</key>
<string>{128,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{662,394},{128,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,72}</string>
<key>spriteSize</key>
<string>{132,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,780},{132,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,73}</string>
<key>spriteSize</key>
<string>{136,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,884},{136,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,73}</string>
<key>spriteSize</key>
<string>{138,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,1422},{138,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,73}</string>
<key>spriteSize</key>
<string>{138,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{318,1330},{138,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{134,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{630,1458},{134,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,68}</string>
<key>spriteSize</key>
<string>{130,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,1326},{130,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,67}</string>
<key>spriteSize</key>
<string>{124,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{160,1296},{124,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,68}</string>
<key>spriteSize</key>
<string>{122,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,1038},{122,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,68}</string>
<key>spriteSize</key>
<string>{124,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,758},{124,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,68}</string>
<key>spriteSize</key>
<string>{124,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,670},{124,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,68}</string>
<key>spriteSize</key>
<string>{128,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1022},{128,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,69}</string>
<key>spriteSize</key>
<string>{130,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1276},{130,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,69}</string>
<key>spriteSize</key>
<string>{134,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{790,1382},{134,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,68}</string>
<key>spriteSize</key>
<string>{134,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{156,1710},{134,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,68}</string>
<key>spriteSize</key>
<string>{132,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1806},{132,150}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{134,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1670},{134,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{134,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{482,1042},{134,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{136,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,388},{136,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{134,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,274},{134,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,69}</string>
<key>spriteSize</key>
<string>{132,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,370},{132,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,69}</string>
<key>spriteSize</key>
<string>{130,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,626},{130,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,69}</string>
<key>spriteSize</key>
<string>{132,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{652,654},{132,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,70}</string>
<key>spriteSize</key>
<string>{132,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,1070},{132,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_A_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,69}</string>
<key>spriteSize</key>
<string>{132,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{472,1578},{132,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,85}</string>
<key>spriteSize</key>
<string>{122,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{798,1120},{122,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,80}</string>
<key>spriteSize</key>
<string>{126,152}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{312,1598},{126,152}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,70}</string>
<key>spriteSize</key>
<string>{120,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{626,1594},{120,148}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,71}</string>
<key>spriteSize</key>
<string>{124,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{320,1204},{124,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,73}</string>
<key>spriteSize</key>
<string>{142,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,1182},{142,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,75}</string>
<key>spriteSize</key>
<string>{138,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,1308},{138,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,74}</string>
<key>spriteSize</key>
<string>{134,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{646,916},{134,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,79}</string>
<key>spriteSize</key>
<string>{114,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{846,220},{114,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,71}</string>
<key>spriteSize</key>
<string>{114,164}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,254},{114,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,72}</string>
<key>spriteSize</key>
<string>{148,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{784,1518},{148,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,72}</string>
<key>spriteSize</key>
<string>{152,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{158,1562},{152,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,75}</string>
<key>spriteSize</key>
<string>{134,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{808,852},{134,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,77}</string>
<key>spriteSize</key>
<string>{128,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,908},{128,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,75}</string>
<key>spriteSize</key>
<string>{110,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,796},{110,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,71}</string>
<key>spriteSize</key>
<string>{106,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,112},{106,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,65}</string>
<key>spriteSize</key>
<string>{112,170}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{112,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,77}</string>
<key>spriteSize</key>
<string>{140,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{430,1842},{140,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,73}</string>
<key>spriteSize</key>
<string>{164,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,128},{164,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,78}</string>
<key>spriteSize</key>
<string>{162,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,266},{162,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,74}</string>
<key>spriteSize</key>
<string>{128,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{344,2},{128,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,73}</string>
<key>spriteSize</key>
<string>{108,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{848,2},{108,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,63}</string>
<key>spriteSize</key>
<string>{138,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{174,2},{138,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,63}</string>
<key>spriteSize</key>
<string>{130,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{166,538},{130,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,74}</string>
<key>spriteSize</key>
<string>{122,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{322,946},{122,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,79}</string>
<key>spriteSize</key>
<string>{126,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{154,1846},{126,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,80}</string>
<key>spriteSize</key>
<string>{126,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{316,1470},{126,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,72}</string>
<key>spriteSize</key>
<string>{124,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{680,2},{124,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,71}</string>
<key>spriteSize</key>
<string>{114,162}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{664,278},{114,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,65}</string>
<key>spriteSize</key>
<string>{126,158}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{812,724},{126,158}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,57}</string>
<key>spriteSize</key>
<string>{126,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,2},{126,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,75}</string>
<key>spriteSize</key>
<string>{122,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1408},{122,156}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,81}</string>
<key>spriteSize</key>
<string>{128,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,1712},{128,144}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,79}</string>
<key>spriteSize</key>
<string>{146,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,1846},{146,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,71}</string>
<key>spriteSize</key>
<string>{136,154}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,1532},{136,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,71}</string>
<key>spriteSize</key>
<string>{136,166}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,116},{136,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_8034.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_8034.png</string>
</dict>
</dict>
</plist>