<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>8034_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-30,69}</string>
<key>spriteSize</key>
<string>{94,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{260,160},{94,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-56,79}</string>
<key>spriteSize</key>
<string>{126,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,760},{126,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,42}</string>
<key>spriteSize</key>
<string>{126,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,374},{126,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_dead_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{39,0}</string>
<key>spriteSize</key>
<string>{160,62}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{146,2},{160,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,64}</string>
<key>spriteSize</key>
<string>{136,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{734,270},{136,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-22,70}</string>
<key>spriteSize</key>
<string>{122,156}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,2},{122,156}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,74}</string>
<key>spriteSize</key>
<string>{132,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{450,828},{132,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,70}</string>
<key>spriteSize</key>
<string>{118,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{132,528},{118,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,70}</string>
<key>spriteSize</key>
<string>{118,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{128,700},{118,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,71}</string>
<key>spriteSize</key>
<string>{116,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{218,850},{116,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,72}</string>
<key>spriteSize</key>
<string>{114,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{248,678},{114,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,71}</string>
<key>spriteSize</key>
<string>{112,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{336,828},{112,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,72}</string>
<key>spriteSize</key>
<string>{112,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{252,528},{112,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,72}</string>
<key>spriteSize</key>
<string>{116,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{478,150},{116,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,71}</string>
<key>spriteSize</key>
<string>{118,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{392,304},{118,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,71}</string>
<key>spriteSize</key>
<string>{120,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{366,466},{120,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_idle_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,70}</string>
<key>spriteSize</key>
<string>{120,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{470,2},{120,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,75}</string>
<key>spriteSize</key>
<string>{106,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{110,854},{106,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,67}</string>
<key>spriteSize</key>
<string>{106,150}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,854},{106,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,69}</string>
<key>spriteSize</key>
<string>{138,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{826,136},{138,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,70}</string>
<key>spriteSize</key>
<string>{142,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,148},{142,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,72}</string>
<key>spriteSize</key>
<string>{126,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,452},{126,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,72}</string>
<key>spriteSize</key>
<string>{120,146}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{356,156},{120,146}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,71}</string>
<key>spriteSize</key>
<string>{102,148}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{364,678},{102,148}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,73}</string>
<key>spriteSize</key>
<string>{98,142}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{726,2},{98,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,70}</string>
<key>spriteSize</key>
<string>{100,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{616,444},{100,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,79}</string>
<key>spriteSize</key>
<string>{132,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{592,2},{132,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-24,75}</string>
<key>spriteSize</key>
<string>{120,144}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{512,298},{120,144}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-27,69}</string>
<key>spriteSize</key>
<string>{110,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{600,598},{110,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-25,63}</string>
<key>spriteSize</key>
<string>{94,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{634,292},{94,138}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,65}</string>
<key>spriteSize</key>
<string>{102,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{872,270},{102,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,66}</string>
<key>spriteSize</key>
<string>{122,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{584,900},{122,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-17,73}</string>
<key>spriteSize</key>
<string>{132,140}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{826,2},{132,140}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,92}</string>
<key>spriteSize</key>
<string>{136,168}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,196},{136,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,106}</string>
<key>spriteSize</key>
<string>{142,192}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{142,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8034_skills_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,76}</string>
<key>spriteSize</key>
<string>{144,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{468,614},{144,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,76}</string>
<key>spriteSize</key>
<string>{146,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{262,318},{146,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,68}</string>
<key>spriteSize</key>
<string>{152,124}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,700},{152,124}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,65}</string>
<key>spriteSize</key>
<string>{162,128}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,536},{162,128}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,65}</string>
<key>spriteSize</key>
<string>{168,126}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,366},{168,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{9,65}</string>
<key>spriteSize</key>
<string>{160,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,366},{160,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,65}</string>
<key>spriteSize</key>
<string>{152,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{334,2},{152,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>8034_skills_2_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,80}</string>
<key>spriteSize</key>
<string>{118,160}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,196},{118,160}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_hero_8034.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_hero_8034.png</string>
</dict>
</dict>
</plist>