<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XianWei_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,174}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{542,360},{188,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{542,182},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{732,180},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{542,2},{188,178}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,176}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{732,2},{188,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-6}</string>
<key>spriteSize</key>
<string>{190,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{2,2},{190,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,174}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{732,358},{188,174}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>XianWei_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{362,192},{188,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{362,2},{188,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-7}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{182,192},{188,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{182,2},{188,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_2_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{188,178}</string>
<key>spriteSourceSize</key>
<string>{202,204}</string>
<key>textureRect</key>
<string>{{2,194},{188,178}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XianWei_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XianWei_2.png</string>
</dict>
</dict>
</plist>