<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>XianWei_4_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,4}</string>
<key>spriteSize</key>
<string>{154,160}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{170,160},{154,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,3}</string>
<key>spriteSize</key>
<string>{152,160}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{668,160},{152,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,4}</string>
<key>spriteSize</key>
<string>{150,160}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{830,160},{150,160}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,1}</string>
<key>spriteSize</key>
<string>{146,170}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{332,162},{146,170}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,4}</string>
<key>spriteSize</key>
<string>{144,166}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{2,170},{144,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,2}</string>
<key>spriteSize</key>
<string>{156,168}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{164,2},{156,168}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{158,166}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{334,2},{158,166}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,2}</string>
<key>spriteSize</key>
<string>{156,164}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{834,2},{156,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,3}</string>
<key>spriteSize</key>
<string>{156,164}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{668,2},{156,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,3}</string>
<key>spriteSize</key>
<string>{156,164}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{502,2},{156,164}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,4}</string>
<key>spriteSize</key>
<string>{148,162}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{504,160},{148,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>XianWei_4_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{160,166}</string>
<key>spriteSourceSize</key>
<string>{230,224}</string>
<key>textureRect</key>
<string>{{2,2},{160,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>XianWei_4.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>XianWei_4.png</string>
</dict>
</dict>
</plist>