<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>7004_BUFF_chanrao_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{200,398},{198,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{198,1184},{196,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,1234},{196,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,1058},{196,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{198,988},{196,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,882},{196,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{198,792},{196,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,706},{196,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{198,596},{196,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-26}</string>
<key>spriteSize</key>
<string>{196,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,530},{196,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,354},{198,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{200,200},{198,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,178},{198,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7004_BUFF_chanrao_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{200,2},{198,176}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>7004_BUFF_chanrao_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-26}</string>
<key>spriteSize</key>
<string>{198,176}</string>
<key>spriteSourceSize</key>
<string>{300,300}</string>
<key>textureRect</key>
<string>{{2,2},{198,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>7004_BUFF_chanrao.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>7004_BUFF_chanrao.png</string>
</dict>
</dict>
</plist>