<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_baozha_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,5}</string>
<key>spriteSize</key>
<string>{38,48}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{964,113},{38,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-11,4}</string>
<key>spriteSize</key>
<string>{50,76}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{964,35},{50,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,3}</string>
<key>spriteSize</key>
<string>{62,102}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{953,286},{62,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{70,116}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{166,465},{70,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,0}</string>
<key>spriteSize</key>
<string>{74,132}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{862,484},{74,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-1}</string>
<key>spriteSize</key>
<string>{78,146}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{865,404},{78,146}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,-1}</string>
<key>spriteSize</key>
<string>{82,162}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{2,465},{82,162}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,0}</string>
<key>spriteSize</key>
<string>{88,168}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{508,496},{88,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{34,25}</string>
<key>spriteSize</key>
<string>{86,118}</string>
<key>spriteSourceSize</key>
<string>{210,210}</string>
<key>textureRect</key>
<string>{{865,284},{86,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_guang_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-1}</string>
<key>spriteSize</key>
<string>{45,45}</string>
<key>spriteSourceSize</key>
<string>{65,53}</string>
<key>textureRect</key>
<string>{{590,157},{45,45}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xin_19_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,76}</string>
<key>spriteSourceSize</key>
<string>{118,102}</string>
<key>textureRect</key>
<string>{{528,410},{84,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_xuanzhuang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{67,35}</string>
<key>spriteSize</key>
<string>{52,31}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{964,2},{52,31}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-36,17}</string>
<key>spriteSize</key>
<string>{256,125}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{607,284},{256,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-6}</string>
<key>spriteSize</key>
<string>{320,167}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{2,2},{320,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-16}</string>
<key>spriteSize</key>
<string>{318,153}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{324,2},{318,153}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-18}</string>
<key>spriteSize</key>
<string>{318,145}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{644,2},{318,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-25}</string>
<key>spriteSize</key>
<string>{308,133}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{644,149},{308,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-24}</string>
<key>spriteSize</key>
<string>{262,139}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{2,171},{262,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-25}</string>
<key>spriteSize</key>
<string>{264,141}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{324,157},{264,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,-25}</string>
<key>spriteSize</key>
<string>{260,147}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{266,300},{260,147}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-26}</string>
<key>spriteSize</key>
<string>{256,151}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{2,312},{256,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-63}</string>
<key>spriteSize</key>
<string>{254,85}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{606,411},{254,85}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-65}</string>
<key>spriteSize</key>
<string>{246,91}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{260,449},{246,91}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_xuanzhuang_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-32}</string>
<key>spriteSize</key>
<string>{204,15}</string>
<key>spriteSourceSize</key>
<string>{378,263}</string>
<key>textureRect</key>
<string>{{590,204},{204,15}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>huluo.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{131,64}</string>
<key>spriteSourceSize</key>
<string>{153,82}</string>
<key>textureRect</key>
<string>{{954,153},{131,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_5001_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_5001_1.png</string>
</dict>
</dict>
</plist>