<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_baozha2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-17}</string>
<key>spriteSize</key>
<string>{274,181}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{322,130},{274,181}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-21}</string>
<key>spriteSize</key>
<string>{284,209}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{300,406},{284,209}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_baozha2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-12}</string>
<key>spriteSize</key>
<string>{240,227}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{270,692},{240,227}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-11}</string>
<key>spriteSize</key>
<string>{252,229}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{2,744},{252,229}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-8}</string>
<key>spriteSize</key>
<string>{266,233}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{2,509},{266,233}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,41}</string>
<key>spriteSize</key>
<string>{296,171}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{2,336},{296,171}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,61}</string>
<key>spriteSize</key>
<string>{318,167}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{2,2},{318,167}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_baozha2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,63}</string>
<key>spriteSize</key>
<string>{318,163}</string>
<key>spriteSourceSize</key>
<string>{320,289}</string>
<key>textureRect</key>
<string>{{2,171},{318,163}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_guang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-13}</string>
<key>spriteSize</key>
<string>{126,187}</string>
<key>spriteSourceSize</key>
<string>{176,227}</string>
<key>textureRect</key>
<string>{{322,2},{126,187}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>chongwu_5001_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>chongwu_5001_2.png</string>
</dict>
</dict>
</plist>