<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_idlea0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{122,212}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{122,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,33}</string>
<key>spriteSize</key>
<string>{122,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{122,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,25}</string>
<key>spriteSize</key>
<string>{126,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,250},{126,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,17}</string>
<key>spriteSize</key>
<string>{130,208}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,126},{130,208}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,10}</string>
<key>spriteSize</key>
<string>{132,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{212,258},{132,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,11}</string>
<key>spriteSize</key>
<string>{134,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{210,392},{134,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,18}</string>
<key>spriteSize</key>
<string>{132,202}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,508},{132,202}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,28}</string>
<key>spriteSize</key>
<string>{128,206}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,378},{128,206}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_idlea0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,36}</string>
<key>spriteSize</key>
<string>{122,210}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{216,2},{122,210}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>CW5001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>CW5001.png</string>
</dict>
</dict>
</plist>