<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_cwskills_2_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,160}</string>
<key>spriteSize</key>
<string>{48,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{44,438},{48,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_2_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-28}</string>
<key>spriteSize</key>
<string>{100,422}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{120,2},{100,422}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_2_0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,-22}</string>
<key>spriteSize</key>
<string>{116,434}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{116,434}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_2_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,-38}</string>
<key>spriteSize</key>
<string>{112,402}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,2},{112,402}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_2_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,-113}</string>
<key>spriteSize</key>
<string>{84,216}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{134,426},{84,216}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_2_0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-176}</string>
<key>spriteSize</key>
<string>{40,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,48},{40,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_2_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-164}</string>
<key>spriteSize</key>
<string>{44,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{352,2},{44,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_2_0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-155}</string>
<key>spriteSize</key>
<string>{42,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{436,2},{42,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_2_0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,-164}</string>
<key>spriteSize</key>
<string>{40,70}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,438},{40,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_CW5001_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_CW5001_skill_1.png</string>
</dict>
</dict>
</plist>