<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>5001_cwskills_1_0000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-190,-66}</string>
<key>spriteSize</key>
<string>{62,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,74},{62,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{46,-41}</string>
<key>spriteSize</key>
<string>{60,72}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{194,208},{60,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_1_0010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{202,-61}</string>
<key>spriteSize</key>
<string>{64,80}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,428},{64,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_1_0015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{135,-89}</string>
<key>spriteSize</key>
<string>{76,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,148},{76,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{45,-40}</string>
<key>spriteSize</key>
<string>{66,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,352},{66,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{177,-19}</string>
<key>spriteSize</key>
<string>{66,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{182,282},{66,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5001_cwskills_1_0030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{84,10}</string>
<key>spriteSize</key>
<string>{82,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,226},{82,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{145,40}</string>
<key>spriteSize</key>
<string>{72,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{98,208},{72,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{126,83}</string>
<key>spriteSize</key>
<string>{58,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{176,368},{58,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0045.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{145,169}</string>
<key>spriteSize</key>
<string>{68,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{92,282},{68,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0050.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{90,105}</string>
<key>spriteSize</key>
<string>{62,88}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,310},{62,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0055.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{93,95}</string>
<key>spriteSize</key>
<string>{68,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{104,138},{68,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0060.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{99,116}</string>
<key>spriteSize</key>
<string>{72,100}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,74},{72,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0065.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{98,124}</string>
<key>spriteSize</key>
<string>{70,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{70,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>5001_cwskills_1_0070.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{97,124}</string>
<key>spriteSize</key>
<string>{70,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{114,2},{70,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVP_CW5001_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVP_CW5001_skill_1.png</string>
</dict>
</dict>
</plist>