<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>Zhandoushengli_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{93,91}</string>
<key>spriteSourceSize</key>
<string>{93,91}</string>
<key>textureRect</key>
<string>{{183,386},{93,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Zhandoushengli_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{279,76}</string>
<key>spriteSourceSize</key>
<string>{279,76}</string>
<key>textureRect</key>
<string>{{274,386},{279,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{189,141}</string>
<key>spriteSourceSize</key>
<string>{189,141}</string>
<key>textureRect</key>
<string>{{1529,2},{189,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{505,91}</string>
<key>spriteSourceSize</key>
<string>{505,91}</string>
<key>textureRect</key>
<string>{{2,2},{505,91}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Zhandoushengli_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{207,183}</string>
<key>spriteSourceSize</key>
<string>{207,183}</string>
<key>textureRect</key>
<string>{{1437,327},{207,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{90,121}</string>
<key>spriteSourceSize</key>
<string>{100,121}</string>
<key>textureRect</key>
<string>{{93,386},{90,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,7}</string>
<key>spriteSize</key>
<string>{378,384}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{93,2},{378,384}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-52}</string>
<key>spriteSize</key>
<string>{182,250}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{1171,2},{182,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{10,-37}</string>
<key>spriteSize</key>
<string>{194,286}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{471,2},{194,286}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,-80}</string>
<key>spriteSize</key>
<string>{222,240}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{553,288},{222,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Zhandoushengli_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,-66}</string>
<key>spriteSize</key>
<string>{252,218}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{1059,256},{252,218}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Zhandoushengli_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-54}</string>
<key>spriteSize</key>
<string>{256,278}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{665,2},{256,278}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-73}</string>
<key>spriteSize</key>
<string>{250,254}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{921,2},{250,254}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-46}</string>
<key>spriteSize</key>
<string>{228,266}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{793,280},{228,266}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>Zhandoushengli_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-74}</string>
<key>spriteSize</key>
<string>{176,232}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{1353,2},{176,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,-83}</string>
<key>spriteSize</key>
<string>{186,184}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{1529,143},{186,184}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Zhandoushengli_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,-75}</string>
<key>spriteSize</key>
<string>{160,250}</string>
<key>spriteSourceSize</key>
<string>{400,400}</string>
<key>textureRect</key>
<string>{{1277,252},{160,250}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Zhandoushengli.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Zhandoushengli.png</string>
</dict>
</dict>
</plist>