<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>6001_A_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{296,848},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{222,728},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,48}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{214,848},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{80,116}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,242},{80,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{162,608},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,46}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,728},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,46}</string>
<key>spriteSize</key>
<string>{80,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,126},{80,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{86,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,828},{86,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,232},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,51}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{380,2},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,116},{84,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{596,908},{84,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,50}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{326,118},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,50}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,818},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{78,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,244},{78,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,47}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,614},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,47}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,492},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,46}</string>
<key>spriteSize</key>
<string>{76,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{168,122},{76,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{74,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,736},{74,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,370},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,46}</string>
<key>spriteSize</key>
<string>{78,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{72,2},{78,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,484},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{164,364},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,46}</string>
<key>spriteSize</key>
<string>{62,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,364},{62,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,46}</string>
<key>spriteSize</key>
<string>{60,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{78,736},{60,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{66,858},{62,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{62,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,858},{62,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,45}</string>
<key>spriteSize</key>
<string>{64,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{236,2},{64,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,488},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,368},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{152,2},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,47}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{84,124},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,46}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,248},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{82,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{130,858},{82,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_A_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,46}</string>
<key>spriteSize</key>
<string>{80,118}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{80,608},{80,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,37}</string>
<key>spriteSize</key>
<string>{74,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{230,484},{74,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,37}</string>
<key>spriteSize</key>
<string>{82,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{632,2},{82,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,33}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{696,536},{80,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,31}</string>
<key>spriteSize</key>
<string>{72,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{840,194},{72,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,31}</string>
<key>spriteSize</key>
<string>{76,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{794,302},{76,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,33}</string>
<key>spriteSize</key>
<string>{80,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{658,652},{80,86}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,35}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{638,768},{86,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,36}</string>
<key>spriteSize</key>
<string>{90,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{702,326},{90,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,40}</string>
<key>spriteSize</key>
<string>{98,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{572,668},{98,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,51}</string>
<key>spriteSize</key>
<string>{82,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{618,332},{82,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,41}</string>
<key>spriteSize</key>
<string>{80,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{378,942},{80,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{748,210},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,37}</string>
<key>spriteSize</key>
<string>{84,82}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{760,420},{84,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,32}</string>
<key>spriteSize</key>
<string>{104,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{668,220},{104,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,32}</string>
<key>spriteSize</key>
<string>{108,78}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{500,450},{108,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,35}</string>
<key>spriteSize</key>
<string>{110,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{466,2},{110,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,38}</string>
<key>spriteSize</key>
<string>{108,90}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{486,932},{108,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-12,39}</string>
<key>spriteSize</key>
<string>{108,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{446,340},{108,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,40}</string>
<key>spriteSize</key>
<string>{96,84}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{674,438},{96,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-16,48}</string>
<key>spriteSize</key>
<string>{76,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{540,338},{76,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,41}</string>
<key>spriteSize</key>
<string>{76,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{368,346},{76,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,35}</string>
<key>spriteSize</key>
<string>{70,104}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{672,110},{70,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,39}</string>
<key>spriteSize</key>
<string>{90,96}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{604,554},{90,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,34}</string>
<key>spriteSize</key>
<string>{108,86}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{498,114},{108,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,37}</string>
<key>spriteSize</key>
<string>{104,92}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{580,448},{104,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,38}</string>
<key>spriteSize</key>
<string>{102,94}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{744,106},{102,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,40}</string>
<key>spriteSize</key>
<string>{94,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,98},{94,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,40}</string>
<key>spriteSize</key>
<string>{94,98}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{904,2},{94,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>6001_B_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,37}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{814,2},{88,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-19,42}</string>
<key>spriteSize</key>
<string>{76,120}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,248},{76,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,39}</string>
<key>spriteSize</key>
<string>{72,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{294,360},{72,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-18,33}</string>
<key>spriteSize</key>
<string>{74,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{412,228},{74,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,38}</string>
<key>spriteSize</key>
<string>{94,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{404,460},{94,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,37}</string>
<key>spriteSize</key>
<string>{96,102}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{716,2},{96,102}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,39}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{578,224},{88,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,41}</string>
<key>spriteSize</key>
<string>{88,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{488,228},{88,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,42}</string>
<key>spriteSize</key>
<string>{86,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{484,684},{86,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,42}</string>
<key>spriteSize</key>
<string>{88,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{438,572},{88,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,39}</string>
<key>spriteSize</key>
<string>{88,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{348,590},{88,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-13,43}</string>
<key>spriteSize</key>
<string>{68,122}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{68,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,37}</string>
<key>spriteSize</key>
<string>{76,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{302,2},{76,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,34}</string>
<key>spriteSize</key>
<string>{84,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{586,112},{84,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,40}</string>
<key>spriteSize</key>
<string>{78,114}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{246,122},{78,114}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,43}</string>
<key>spriteSize</key>
<string>{74,106}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{528,560},{74,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,44}</string>
<key>spriteSize</key>
<string>{78,108}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,2},{78,108}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,45}</string>
<key>spriteSize</key>
<string>{84,110}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{552,796},{84,110}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,46}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{304,714},{92,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,46}</string>
<key>spriteSize</key>
<string>{96,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{306,476},{96,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,43}</string>
<key>spriteSize</key>
<string>{102,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{244,600},{102,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6001_B_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,49}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{398,704},{84,112}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>PVE_hero_6001.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>PVE_hero_6001.png</string>
</dict>
</dict>
</plist>