<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_8002_skill_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-5}</string>
<key>spriteSize</key>
<string>{272,64}</string>
<key>spriteSourceSize</key>
<string>{450,150}</string>
<key>textureRect</key>
<string>{{2,72},{272,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-2}</string>
<key>spriteSize</key>
<string>{276,68}</string>
<key>spriteSourceSize</key>
<string>{450,150}</string>
<key>textureRect</key>
<string>{{2,2},{276,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-9}</string>
<key>spriteSize</key>
<string>{66,64}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{182,138},{66,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{102,98}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{370,190},{102,98}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-5}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{250,190},{118,116}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-14,4}</string>
<key>spriteSize</key>
<string>{140,136}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{158,308},{140,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,11}</string>
<key>spriteSize</key>
<string>{166,154}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{2,308},{166,154}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,13}</string>
<key>spriteSize</key>
<string>{178,168}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{2,138},{178,168}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,15}</string>
<key>spriteSize</key>
<string>{196,186}</string>
<key>spriteSourceSize</key>
<string>{450,450}</string>
<key>textureRect</key>
<string>{{280,2},{196,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8002_skill_1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8002_skill_1.png</string>
</dict>
</dict>
</plist>