<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>pvp_hero_8002_skill_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-58,20}</string>
<key>spriteSize</key>
<string>{70,61}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{104,123},{70,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-35,10}</string>
<key>spriteSize</key>
<string>{120,87}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{2,347},{120,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-15,1}</string>
<key>spriteSize</key>
<string>{158,105}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{350,2},{158,105}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-5}</string>
<key>spriteSize</key>
<string>{172,117}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{176,2},{172,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-8}</string>
<key>spriteSize</key>
<string>{172,119}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{2,2},{172,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,-8}</string>
<key>spriteSize</key>
<string>{162,121}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{176,121},{162,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,-7}</string>
<key>spriteSize</key>
<string>{140,121}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{350,109},{140,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,-8}</string>
<key>spriteSize</key>
<string>{132,113}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{340,232},{132,113}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,-8}</string>
<key>spriteSize</key>
<string>{100,101}</string>
<key>spriteSourceSize</key>
<string>{300,207}</string>
<key>textureRect</key>
<string>{{2,244},{100,101}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>pvp_hero_8002_skill_2_50.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-5}</string>
<key>spriteSize</key>
<string>{53,78}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{176,244},{53,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_51.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{57,80}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{2,123},{57,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_52.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{55,80}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{2,182},{55,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_53.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,2}</string>
<key>spriteSize</key>
<string>{49,78}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{256,244},{49,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_54.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{51,70}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{104,186},{51,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_55.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{49,70}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{104,239},{49,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_56.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,2}</string>
<key>spriteSize</key>
<string>{47,64}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{256,295},{47,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_57.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{45,62}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{236,344},{45,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_58.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{45,64}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{170,299},{45,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_59.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{49,62}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{104,343},{49,62}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>pvp_hero_8002_skill_2_60.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-7}</string>
<key>spriteSize</key>
<string>{51,64}</string>
<key>spriteSourceSize</key>
<string>{225,150}</string>
<key>textureRect</key>
<string>{{104,290},{51,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>pvp_hero_8002_skill_2.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>pvp_hero_8002_skill_2.png</string>
</dict>
</dict>
</plist>