<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>monster_9029_run_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,55}</string>
<key>spriteSize</key>
<string>{92,68}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{290,622},{92,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,54}</string>
<key>spriteSize</key>
<string>{94,70}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{404,548},{94,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,51}</string>
<key>spriteSize</key>
<string>{90,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,738},{90,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,50}</string>
<key>spriteSize</key>
<string>{92,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,660},{92,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,49}</string>
<key>spriteSize</key>
<string>{96,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,524},{96,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,53}</string>
<key>spriteSize</key>
<string>{98,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,386},{98,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,55}</string>
<key>spriteSize</key>
<string>{92,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{196,568},{92,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,56}</string>
<key>spriteSize</key>
<string>{90,78}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{96,706},{90,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,57}</string>
<key>spriteSize</key>
<string>{92,76}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{98,628},{92,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{94,72}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{436,452},{94,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,58}</string>
<key>spriteSize</key>
<string>{66,80}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{180,804},{66,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,56}</string>
<key>spriteSize</key>
<string>{70,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{374,758},{70,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,54}</string>
<key>spriteSize</key>
<string>{72,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{94,786},{72,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,52}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{436,366},{74,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,52}</string>
<key>spriteSize</key>
<string>{76,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{284,692},{76,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,55}</string>
<key>spriteSize</key>
<string>{80,90}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{192,648},{80,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,56}</string>
<key>spriteSize</key>
<string>{76,88}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{384,680},{76,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,57}</string>
<key>spriteSize</key>
<string>{72,86}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{188,730},{72,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_18.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,58}</string>
<key>spriteSize</key>
<string>{70,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,812},{70,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_19.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,59}</string>
<key>spriteSize</key>
<string>{68,82}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{276,770},{68,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_20.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{8,62}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{100,568},{58,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_21.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,61}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{394,620},{58,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_22.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,60}</string>
<key>spriteSize</key>
<string>{58,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{298,562},{58,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_23.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,58}</string>
<key>spriteSize</key>
<string>{54,94}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,604},{54,94}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_24.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,55}</string>
<key>spriteSize</key>
<string>{52,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,470},{52,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_25.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{52,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{458,264},{52,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>monster_9029_run_26.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{50,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{206,464},{50,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_27.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,58}</string>
<key>spriteSize</key>
<string>{50,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{314,454},{50,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_28.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,60}</string>
<key>spriteSize</key>
<string>{50,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{200,516},{50,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_29.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,63}</string>
<key>spriteSize</key>
<string>{54,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{306,506},{54,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_30.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,67}</string>
<key>spriteSize</key>
<string>{94,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{350,264},{94,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_31.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,66}</string>
<key>spriteSize</key>
<string>{94,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{110,288},{94,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_32.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,66}</string>
<key>spriteSize</key>
<string>{92,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{106,384},{92,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_33.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-10,64}</string>
<key>spriteSize</key>
<string>{88,96}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{102,478},{88,96}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_34.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,58}</string>
<key>spriteSize</key>
<string>{88,102}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,296},{88,102}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_35.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,57}</string>
<key>spriteSize</key>
<string>{88,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{226,278},{88,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_36.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,55}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{238,100},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_37.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,56}</string>
<key>spriteSize</key>
<string>{80,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{352,182},{80,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_38.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,59}</string>
<key>spriteSize</key>
<string>{84,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{360,96},{84,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_39.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,63}</string>
<key>spriteSize</key>
<string>{90,110}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{238,186},{90,110}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_40.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,66}</string>
<key>spriteSize</key>
<string>{92,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{360,2},{92,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_41.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,66}</string>
<key>spriteSize</key>
<string>{94,108}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{116,192},{94,108}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_42.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,65}</string>
<key>spriteSize</key>
<string>{92,100}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{334,360},{92,100}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_43.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,62}</string>
<key>spriteSize</key>
<string>{94,98}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{214,368},{94,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_44.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,57}</string>
<key>spriteSize</key>
<string>{96,106}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,198},{96,106}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_45.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,55}</string>
<key>spriteSize</key>
<string>{98,112}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,98},{98,112}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_46.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,52}</string>
<key>spriteSize</key>
<string>{94,114}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,96},{94,114}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_47.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,54}</string>
<key>spriteSize</key>
<string>{92,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{122,2},{92,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_48.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,56}</string>
<key>spriteSize</key>
<string>{94,118}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{2,2},{94,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>monster_9029_run_49.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,62}</string>
<key>spriteSize</key>
<string>{96,116}</string>
<key>spriteSourceSize</key>
<string>{480,360}</string>
<key>textureRect</key>
<string>{{242,2},{96,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>monster_9029_run.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>monster_9029_run.png</string>
</dict>
</dict>
</plist>