<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BUFF_BaoJI_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{66,74}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1332,170},{66,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_BaoJI_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{84,92}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{952,2},{84,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_BaoJI_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{402,138},{104,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_BaoJI_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,0}</string>
<key>spriteSize</key>
<string>{130,150}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{2,2},{130,150}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_BaoJI_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{104,118}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{402,138},{104,118}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_BaoJI_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,1}</string>
<key>spriteSize</key>
<string>{84,92}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{952,2},{84,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_FanShang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{66,58}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1720,140},{66,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_FanShang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-12}</string>
<key>spriteSize</key>
<string>{66,56}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1754,70},{66,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_FanShang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-22}</string>
<key>spriteSize</key>
<string>{82,94}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{868,2},{82,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_FanShang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-13}</string>
<key>spriteSize</key>
<string>{82,94}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{74,154},{82,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_FanShang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-13}</string>
<key>spriteSize</key>
<string>{82,92}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{974,96},{82,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_FanShang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{82,74}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1274,2},{82,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_JiangDiGongJi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{766,108},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiGongJi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{734,2},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiGongJi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{706,108},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiGongJi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,11}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{674,2},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiGongJi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{646,108},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiGongJi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{58,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{614,2},{58,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_JiangDiNuQi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-4}</string>
<key>spriteSize</key>
<string>{36,44}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1526,214},{36,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{64,58}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1804,2},{64,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{70,64}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1418,82},{70,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{76,68}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1190,176},{76,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,4}</string>
<key>spriteSize</key>
<string>{82,72}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1286,86},{82,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{76,68}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1190,176},{76,68}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_MianShang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,1}</string>
<key>spriteSize</key>
<string>{70,64}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1418,82},{70,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ShanBi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{70,66}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1400,158},{70,66}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ShanBi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{70,62}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{974,190},{70,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ShanBi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{68,58}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1678,2},{68,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ShanBi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-7}</string>
<key>spriteSize</key>
<string>{66,62}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1046,190},{66,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ShanBi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{66,64}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1738,2},{66,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ShanBi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1620,72},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1594,142},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1610,2},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1552,72},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1526,144},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1542,2},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-2}</string>
<key>spriteSize</key>
<string>{66,68}</string>
<key>spriteSourceSize</key>
<string>{200,200}</string>
<key>textureRect</key>
<string>{{1484,74},{66,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_SuoLian_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{534,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_SuoLian_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{454,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_SuoLian_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{374,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_SuoLian_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{294,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_SuoLian_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-8,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{214,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_SuoLian_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,-1}</string>
<key>spriteSize</key>
<string>{134,78}</string>
<key>spriteSourceSize</key>
<string>{260,200}</string>
<key>textureRect</key>
<string>{{134,2},{134,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_XiXue_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{64,74}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1114,188},{64,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_XiXue_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{70,80}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1260,172},{70,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XiXue_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{74,82}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1210,88},{74,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XiXue_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,3}</string>
<key>spriteSize</key>
<string>{78,84}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1130,90},{78,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XiXue_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,1}</string>
<key>spriteSize</key>
<string>{74,84}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1198,2},{74,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XiXue_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{70,78}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1350,2},{70,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XuanYun_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{56,42}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1982,46},{56,42}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_XuanYun_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{58,34}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1572,214},{58,34}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XuanYun_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{58,32}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1692,212},{58,32}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XuanYun_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{60,36}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{780,214},{60,36}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XuanYun_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{58,40}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1632,212},{58,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_XuanYun_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{56,38}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{722,214},{56,38}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengFang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{50,58}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1870,194},{50,58}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengFang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{54,56}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1864,2},{54,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengFang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{54,52}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1922,154},{54,52}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengFang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{56,50}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1864,58},{56,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengFang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-7}</string>
<key>spriteSize</key>
<string>{50,50}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1978,160},{50,50}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengFang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-4}</string>
<key>spriteSize</key>
<string>{60,60}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1832,132},{60,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-7}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{584,138},{60,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{342,138},{58,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,4}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{220,138},{60,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,9}</string>
<key>spriteSize</key>
<string>{60,104}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{522,138},{60,104}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,4}</string>
<key>spriteSize</key>
<string>{60,106}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{158,138},{60,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaGongJi _05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-1}</string>
<key>spriteSize</key>
<string>{58,106}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{282,138},{58,106}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,2}</string>
<key>spriteSize</key>
<string>{38,74}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{646,214},{38,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaNuQi_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-8}</string>
<key>spriteSize</key>
<string>{48,54}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1980,104},{48,54}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{86,84}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1112,2},{86,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaNuQi_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{54,46}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{842,206},{54,46}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,6}</string>
<key>spriteSize</key>
<string>{50,44}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1752,208},{50,44}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-74.5,74.5}</string>
<key>spriteSize</key>
<string>{1,1}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{74,250},{1,1}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{44,42}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1982,2},{44,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZengJiaNuQi_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{66,64}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1688,72},{66,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{100,72}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{794,2},{100,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{100,70}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{826,104},{100,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{94,74}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{898,98},{94,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{92,72}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1038,2},{92,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{90,70}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{1058,96},{90,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZengJiaSuDu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,0}</string>
<key>spriteSize</key>
<string>{98,70}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{2,154},{98,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZuZhou_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{56,68}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1662,142},{56,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZuZhou_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{56,70}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1484,2},{56,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZuZhou_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{58,74}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{898,194},{58,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BUFF_ZuZhou_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{56,74}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1360,82},{56,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZuZhou_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{56,70}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1468,154},{56,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BUFF_ZuZhou_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,-2}</string>
<key>spriteSize</key>
<string>{60,70}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1422,2},{60,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JiaXue_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{48,58}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1922,52},{48,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JiaXue_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{48,64}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1804,204},{48,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JiaXue_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-10}</string>
<key>spriteSize</key>
<string>{50,56}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1922,102},{50,56}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>JiaXue_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-7}</string>
<key>spriteSize</key>
<string>{50,64}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1780,138},{50,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JiaXue_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-5}</string>
<key>spriteSize</key>
<string>{50,62}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1812,68},{50,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>JiaXue_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{48,58}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{1922,2},{48,58}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BUFF_PVP.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BUFF_PVP.png</string>
</dict>
</dict>
</plist>