<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>buff_jingzhi_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{55,53}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{2,2},{55,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_yanjing_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{49,31}</string>
<key>spriteSourceSize</key>
<string>{87,87}</string>
<key>textureRect</key>
<string>{{116,2},{49,31}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_zhimangyanwu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{53,51}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{57,57},{53,51}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_zhimangyanwu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{53,53}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{2,57},{53,53}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_zhimangyanwu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{53,51}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{2,165},{53,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_zhimangyanwu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{57,112},{51,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_zhimangyanwu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{49,49}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{108,165},{49,49}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_zhimangyanwu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{51,49}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{57,165},{51,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_zhimangyanwu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,2}</string>
<key>spriteSize</key>
<string>{53,51}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{2,112},{53,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>buff_zhimangyanwu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,1}</string>
<key>spriteSize</key>
<string>{53,49}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{110,110},{53,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_zhimangyanwu_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,0}</string>
<key>spriteSize</key>
<string>{53,49}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{110,55},{53,49}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>buff_zhimangyanwu_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{55,51}</string>
<key>spriteSourceSize</key>
<string>{97,87}</string>
<key>textureRect</key>
<string>{{59,2},{55,51}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Buff_zhimang.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Buff_zhimang.png</string>
</dict>
</dict>
</plist>