<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>BOSS_9012_00_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,113}</string>
<key>spriteSize</key>
<string>{338,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{476,240},{338,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_00_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,109}</string>
<key>spriteSize</key>
<string>{350,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,734},{350,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_00_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-9,104}</string>
<key>spriteSize</key>
<string>{370,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{376,2},{370,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_00_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,97}</string>
<key>spriteSize</key>
<string>{372,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{372,236}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS_9012_00_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,101}</string>
<key>spriteSize</key>
<string>{366,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{748,2},{366,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_00_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,111}</string>
<key>spriteSize</key>
<string>{362,236}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,370},{362,236}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>BOSS_9012_00_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,113}</string>
<key>spriteSize</key>
<string>{350,234}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{240,370},{350,234}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_9012_00.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_9012_00.png</string>
</dict>
</dict>
</plist>