<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>9012_dead_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,137}</string>
<key>spriteSize</key>
<string>{264,212}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,726},{264,212}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_dead_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,102}</string>
<key>spriteSize</key>
<string>{264,348}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{754,2},{264,348}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_dead_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,6}</string>
<key>spriteSize</key>
<string>{346,232}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{380,196},{346,232}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_hit_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{78,105}</string>
<key>spriteSize</key>
<string>{270,192}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{334,430},{270,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_hit_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{72,124}</string>
<key>spriteSize</key>
<string>{372,192}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{380,2},{372,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_hit_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,109}</string>
<key>spriteSize</key>
<string>{280,206}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1394,222},{280,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{19,89}</string>
<key>spriteSize</key>
<string>{256,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,940},{256,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{15,88}</string>
<key>spriteSize</key>
<string>{254,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1138,678},{254,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{18,84}</string>
<key>spriteSize</key>
<string>{262,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{874,630},{262,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{23,77}</string>
<key>spriteSize</key>
<string>{268,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,504},{268,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{27,79}</string>
<key>spriteSize</key>
<string>{272,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1002,408},{272,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{29,86}</string>
<key>spriteSize</key>
<string>{272,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{728,268},{272,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_idle_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{22,88}</string>
<key>spriteSize</key>
<string>{266,220}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{606,490},{266,220}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,60}</string>
<key>spriteSize</key>
<string>{330,226}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,276},{330,226}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{71,98}</string>
<key>spriteSize</key>
<string>{288,198}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1724,2},{288,198}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{83,132}</string>
<key>spriteSize</key>
<string>{304,218}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1418,2},{304,218}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{55,145}</string>
<key>spriteSize</key>
<string>{376,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{2,2},{376,272}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,54}</string>
<key>spriteSize</key>
<string>{226,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1796,866},{226,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,65}</string>
<key>spriteSize</key>
<string>{222,228}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{260,1062},{222,228}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{28,100}</string>
<key>spriteSize</key>
<string>{312,180}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1104,2},{312,180}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{37,72}</string>
<key>spriteSize</key>
<string>{194,258}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{268,866},{194,258}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{66,139}</string>
<key>spriteSize</key>
<string>{288,222}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1104,184},{288,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_2_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{114,144}</string>
<key>spriteSize</key>
<string>{286,214}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1724,202},{286,214}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_2_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{16,9}</string>
<key>spriteSize</key>
<string>{230,272}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1676,418},{230,272}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-21,58}</string>
<key>spriteSize</key>
<string>{234,200}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{528,902},{234,200}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9012_skills_2_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{14,133}</string>
<key>spriteSize</key>
<string>{188,260}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{538,712},{188,260}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{57,149}</string>
<key>spriteSize</key>
<string>{240,264}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{272,624},{240,264}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-54,17}</string>
<key>spriteSize</key>
<string>{250,254}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1540,650},{250,254}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-63,28}</string>
<key>spriteSize</key>
<string>{246,262}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1276,430},{246,262}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-29,47}</string>
<key>spriteSize</key>
<string>{214,242}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{1796,650},{214,242}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>9012_skills_2_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,53}</string>
<key>spriteSize</key>
<string>{182,240}</string>
<key>spriteSourceSize</key>
<string>{1024,768}</string>
<key>textureRect</key>
<string>{{800,854},{182,240}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>BOSS_hero_9012.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>BOSS_hero_9012.png</string>
</dict>
</dict>
</plist>