<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>hero_9014_skill1_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-13}</string>
<key>spriteSize</key>
<string>{129,83}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{322,423},{129,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-10}</string>
<key>spriteSize</key>
<string>{195,125}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,141},{195,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{17,2}</string>
<key>spriteSize</key>
<string>{169,133}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{2,268},{169,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{21,3}</string>
<key>spriteSize</key>
<string>{171,133}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{199,256},{171,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{24,6}</string>
<key>spriteSize</key>
<string>{165,135}</string>
<key>spriteSourceSize</key>
<string>{225,225}</string>
<key>textureRect</key>
<string>{{372,256},{165,135}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,49}</string>
<key>spriteSize</key>
<string>{97,117}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{127,653},{97,117}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,49}</string>
<key>spriteSize</key>
<string>{119,117}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{276,603},{119,117}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,52}</string>
<key>spriteSize</key>
<string>{133,147}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{173,391},{133,147}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,54}</string>
<key>spriteSize</key>
<string>{135,145}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{2,403},{135,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{137,247}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{2,2},{137,247}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{11,-8}</string>
<key>spriteSize</key>
<string>{123,215}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{251,2},{123,215}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,-11}</string>
<key>spriteSize</key>
<string>{127,209}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{251,127},{127,209}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,-53}</string>
<key>spriteSize</key>
<string>{125,125}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{149,526},{125,125}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hero_9014_skill1_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-54}</string>
<key>spriteSize</key>
<string>{119,123}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{2,540},{119,123}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-59}</string>
<key>spriteSize</key>
<string>{93,127}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{322,508},{93,127}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>hero_9014_skill1_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{12,-56}</string>
<key>spriteSize</key>
<string>{111,119}</string>
<key>spriteSourceSize</key>
<string>{691,479}</string>
<key>textureRect</key>
<string>{{397,603},{111,119}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>hero_9014_skill1.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>hero_9014_skill1.png</string>
</dict>
</dict>
</plist>