<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>blak_10000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,10}</string>
<key>spriteSize</key>
<string>{56,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,60},{56,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,11}</string>
<key>spriteSize</key>
<string>{56,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,372},{56,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,11}</string>
<key>spriteSize</key>
<string>{56,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,638},{56,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,12}</string>
<key>spriteSize</key>
<string>{58,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{406,548},{58,130}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blak_10020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,14}</string>
<key>spriteSize</key>
<string>{58,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,478},{58,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,13}</string>
<key>spriteSize</key>
<string>{56,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,368},{56,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,12}</string>
<key>spriteSize</key>
<string>{56,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{280,164},{56,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,11}</string>
<key>spriteSize</key>
<string>{58,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,2},{58,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_10040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,10}</string>
<key>spriteSize</key>
<string>{56,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,2},{56,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,9}</string>
<key>spriteSize</key>
<string>{46,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,110},{46,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,9}</string>
<key>spriteSize</key>
<string>{44,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,326},{44,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,9}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,636},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,10}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,634},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,12}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{270,590},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,12}</string>
<key>spriteSize</key>
<string>{46,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,276},{46,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,11}</string>
<key>spriteSize</key>
<string>{48,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,318},{48,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,10}</string>
<key>spriteSize</key>
<string>{48,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,62},{48,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_20040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,9}</string>
<key>spriteSize</key>
<string>{46,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,62},{46,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{44,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,158},{44,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{46,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{138,430},{46,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,588},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,9}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,586},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,10}</string>
<key>spriteSize</key>
<string>{46,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,538},{46,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,10}</string>
<key>spriteSize</key>
<string>{44,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,430},{44,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-2,9}</string>
<key>spriteSize</key>
<string>{44,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,324},{44,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,9}</string>
<key>spriteSize</key>
<string>{44,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,112},{44,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_30040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{44,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{282,118},{44,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{52,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,272},{52,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,6}</string>
<key>spriteSize</key>
<string>{52,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{272,536},{52,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{52,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,534},{52,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{52,130}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{136,682},{52,130}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,10}</string>
<key>spriteSize</key>
<string>{52,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,480},{52,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-1,10}</string>
<key>spriteSize</key>
<string>{52,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,426},{52,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,9}</string>
<key>spriteSize</key>
<string>{52,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,222},{52,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{52,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,264},{52,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_40040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,7}</string>
<key>spriteSize</key>
<string>{52,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{140,218},{52,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50000.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{58,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,204},{58,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50005.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{58,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{278,370},{58,134}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50010.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,6}</string>
<key>spriteSize</key>
<string>{58,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{274,476},{58,132}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50015.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,7}</string>
<key>spriteSize</key>
<string>{58,132}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{414,414},{58,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blak_50020.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,9}</string>
<key>spriteSize</key>
<string>{58,134}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{416,278},{58,134}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blak_50025.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,9}</string>
<key>spriteSize</key>
<string>{58,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{142,158},{58,136}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50030.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,7}</string>
<key>spriteSize</key>
<string>{58,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,140},{58,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blak_50035.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,7}</string>
<key>spriteSize</key>
<string>{58,138}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{2,2},{58,138}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>blak_50040.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,5}</string>
<key>spriteSize</key>
<string>{58,136}</string>
<key>spriteSourceSize</key>
<string>{800,600}</string>
<key>textureRect</key>
<string>{{422,2},{58,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>black.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>black.png</string>
</dict>
</dict>
</plist>