<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>GongXi_guang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{192,195}</string>
<key>spriteSourceSize</key>
<string>{200,209}</string>
<key>textureRect</key>
<string>{{2,2},{192,195}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-1}</string>
<key>spriteSize</key>
<string>{147,139}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{316,318},{147,139}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-1}</string>
<key>spriteSize</key>
<string>{151,143}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{355,2},{151,143}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GongXi_wenli_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-2}</string>
<key>spriteSize</key>
<string>{153,145}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{196,153},{153,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{157,149}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{196,2},{157,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-1}</string>
<key>spriteSize</key>
<string>{159,149}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{2,199},{159,149}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-5,-2}</string>
<key>spriteSize</key>
<string>{161,145}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{351,155},{161,145}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>GongXi_wenli_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-5}</string>
<key>spriteSize</key>
<string>{157,133}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{2,350},{157,133}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>GongXi_wenli_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-7,-6}</string>
<key>spriteSize</key>
<string>{151,121}</string>
<key>spriteSourceSize</key>
<string>{261,273}</string>
<key>textureRect</key>
<string>{{163,300},{151,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>zhuling_lzii_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{60,63}</string>
<key>spriteSourceSize</key>
<string>{60,63}</string>
<key>textureRect</key>
<string>{{161,423},{60,63}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>GongXiHuoDe_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>GongXiHuoDe_effect.png</string>
</dict>
</dict>
</plist>