<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>ZhuLingChengGong_guang1_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{278,270}</string>
<key>spriteSourceSize</key>
<string>{280,278}</string>
<key>textureRect</key>
<string>{{2,2},{278,270}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_guang2_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,-4}</string>
<key>spriteSize</key>
<string>{230,232}</string>
<key>spriteSourceSize</key>
<string>{280,278}</string>
<key>textureRect</key>
<string>{{2,274},{230,232}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuLingChengGong_guang3_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{256,256}</string>
<key>spriteSourceSize</key>
<string>{280,278}</string>
<key>textureRect</key>
<string>{{282,2},{256,256}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-59,43}</string>
<key>spriteSize</key>
<string>{78,78}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{416,352},{78,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-37,14}</string>
<key>spriteSize</key>
<string>{92,92}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{236,370},{92,92}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-20,-8}</string>
<key>spriteSize</key>
<string>{62,62}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{538,420},{62,62}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-6,-27}</string>
<key>spriteSize</key>
<string>{94,94}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{236,274},{94,94}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-41}</string>
<key>spriteSize</key>
<string>{82,82}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{332,352},{82,82}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{13,-52}</string>
<key>spriteSize</key>
<string>{90,88}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{518,260},{90,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{20,-61}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{540,80},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{25,-69}</string>
<key>spriteSize</key>
<string>{90,88}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{426,260},{90,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_10.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{30,-75}</string>
<key>spriteSize</key>
<string>{68,68}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{496,350},{68,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_11.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{33,-79}</string>
<key>spriteSize</key>
<string>{92,90}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{332,260},{92,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_12.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{36,-82}</string>
<key>spriteSize</key>
<string>{68,70}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{330,436},{68,70}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuLingChengGong_xingxing_13.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{38,-86}</string>
<key>spriteSize</key>
<string>{52,50}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{566,350},{52,50}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuLingChengGong_xingxing_14.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{40,-88}</string>
<key>spriteSize</key>
<string>{66,64}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{472,432},{66,64}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ZhuLingChengGong_xingxing_15.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{41,-90}</string>
<key>spriteSize</key>
<string>{74,74}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{540,158},{74,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_16.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{43,-91}</string>
<key>spriteSize</key>
<string>{68,68}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{402,436},{68,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>ZhuLingChengGong_xingxing_17.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{44,-93}</string>
<key>spriteSize</key>
<string>{76,76}</string>
<key>spriteSourceSize</key>
<string>{236,272}</string>
<key>textureRect</key>
<string>{{540,2},{76,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>ZhuLingChengGong_effect.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>ZhuLingChengGong_effect.png</string>
</dict>
</dict>
</plist>