<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>frames</key>
<dict><key>TY_guwu_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{-4,-13}</string>
<key>spriteSize</key>
<string>{62,73}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{128,733},{62,73}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_guwu_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{82,101}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{272,782},{82,101}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_guwu_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{3,-2}</string>
<key>spriteSize</key>
<string>{84,103}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{128,628},{84,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_guwu_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{86,103}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{402,694},{86,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_guwu_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-2}</string>
<key>spriteSize</key>
<string>{84,99}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{375,799},{84,99}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_guwu_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-3}</string>
<key>spriteSize</key>
<string>{82,95}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{272,885},{82,95}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>TY_guwu_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-5}</string>
<key>spriteSize</key>
<string>{82,89}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{402,610},{82,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>TY_guwu_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-11}</string>
<key>spriteSize</key>
<string>{80,77}</string>
<key>spriteSourceSize</key>
<string>{116,125}</string>
<key>textureRect</key>
<string>{{356,885},{80,77}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guwu_guang_00.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,10}</string>
<key>spriteSize</key>
<string>{122,164}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{148,799},{122,164}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_01.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{7,10}</string>
<key>spriteSize</key>
<string>{124,166}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{2,628},{124,166}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_02.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{144,176}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{2,799},{144,176}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_03.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{170,184}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{216,610},{170,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guwu_guang_04.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,6}</string>
<key>spriteSize</key>
<string>{218,226}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{2,212},{218,226}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guwu_guang_05.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{6,-9}</string>
<key>spriteSize</key>
<string>{236,204}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{250,210},{236,204}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_06.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-11}</string>
<key>spriteSize</key>
<string>{244,206}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{250,2},{244,206}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_07.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-12}</string>
<key>spriteSize</key>
<string>{246,208}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{2,2},{246,208}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>guwu_guang_08.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{4,-7}</string>
<key>spriteSize</key>
<string>{194,212}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{2,432},{194,212}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>guwu_guang_09.png</key>
<dict>
<key>aliases</key>
<array/>
<key>spriteOffset</key>
<string>{5,-1}</string>
<key>spriteSize</key>
<string>{192,222}</string>
<key>spriteSourceSize</key>
<string>{286,272}</string>
<key>textureRect</key>
<string>{{230,416},{192,222}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>realTextureFileName</key>
<string>Atlas.png</string>
<key>size</key>
<string>{716,119}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
<key>textureFileName</key>
<string>Atlas.png</string>
</dict>
</dict>
</plist>